---
title: イベント・トレーニング | MonacaでHTML5モバイルアプリ開発
class: events
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<section id="news" class="subpage">
  <div class="container">
    <h1>イベント・トレーニング情報</h1>

    <ul class="events-tabs attension">
      <li class="current"><a href="/events/index.html">イベント・セミナー</a></li>
      <li><a href="/events/training.html">トレーニング</a></li>
    </ul>

    <table class="events-entries"> </table>

    <div align="right" style="margin-bottom: 50px;">
      <button class="events-more">
        <div class="button_text">続きを見る</div>
        <img class="button_img" src="/img/event/ico_tri_downward.png" />
      </button>
    </div>

  </div>
</section>
