---
title: Cloud-Powered HTML5 Hybrid Mobile App Development Tools | Monaca
class: events
description: Monaca makes hybrid app development with PhoneGap/Apache Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
---

<section id="news" class="subpage">
  <div class="container news-updates">
    <h1>Events</h1>

    <ul class="events-tabs attension">
      <li class="current"><a href="/events/index.html">Events / Seminars</a></li>
      <li>
        <a href="/events/training.html">
          <span class="hidden-xs">Training</span>
          <span class="visible-xs">Status</span>
        </a>
      </li>
    </ul>

    <div class="events-entries"></div>
  </div>
</section>
