---
title: イベント・トレーニング | MonacaでHTML5モバイルアプリ開発
class: events
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<section id="news" class="subpage">
  <div class="container">
    <h1>イベント・トレーニング<br/>情報</h1>

    <ul class="events-tabs attension">
      <li class="current" ><a href="/events/index.html">イベント・セミナー</a></li>
      <li  ><a href="/events/train.html"><span class="hidden-xs">トレーニング（有料）</span><span class="visible-xs">障害·不具合</span></a></li>
    </ul>

    <h2 align="left" style="margin-top: 10px; font-size: 24px;">開催前イベント</h2>

    <div class="events-entries">


    </div>

    <div  align="right" style="margin-bottom: 50px;"><button class="events-more">もっとイベントを観る</button></div>

    <h2 align="left" style="margin-top: 10px; font-size: 24px;">終了したイベント</h2>

    <div class="events-entries-old">

    </div>

    <div  align="right" style="margin-bottom: 50px;"><button class="events-more-old">もっとイベントを観る</button></div>

  </div>
</section>


