---
title: イベント・トレーニング | MonacaでHTML5モバイルアプリ開発
class: events
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<section id="news" class="subpage">
  <div class="container">
    <h1>イベント・トレーニング情報</h1>
    <ul class="events-tabs attension">
      <li>
        <a href="/events/index.html">イベント・セミナー</a>
      </li>
      <li class="current">
        <a href="/events/training.html">トレーニング</a>
      </li>
    </ul>

    <div>
      <table class="events-entries"> </table>
    </div>

    <div align="right" style="margin-bottom: 50px;">
      <button class="events-more">
        <div class="button_text">続きを見る</div>
        <img class="button_img" src="/img/event/ico_tri_downward.png" />
      </button>
    </div>
  </div>

  <div class="training-outline">
    <h3>出張研修のご案内</h3>
    <div class="text"><p>HTML5モバイルアプリ開発講座は、企業研修などまとまった人数でご受講頂ける場合、出張研修も承っております。詳しくは<a target="_blank" href="https://form.k3r.jp/asial/training">こちらのページ&nbsp;<i class="glyphicon glyphicon-new-window"></i></a>をごらんください。</p></div>
  </div>
</section>
