---
title: スマートフォンアプリ開発の相談・見積依頼 - Monaca
class: dev-support
description: お客様のご要望に合わせたスマートフォンアプリ開発をご提案します。アプリ開発の相談、お見積依頼、開発会社紹介などお気軽にご相談ください。
stylesheets:
    - /css/init.css
    - /css/header_ja.css
    - /css/footer_ja.css
    - /css/pages/register.css
    - /css/pages/dev-support.css
keywords: スマートフォンアプリ開発、ハイブリッドアプリ開発、アプリ開発、見積依頼
show_ja_globalnav: true
---

<div class="keyvisual-mob-serv">
    <div class="wrap">
        <div class="wrap_keyvisual">
            <div class="wrap_keyvisual_bg"></div>
            <h1><span style="display: inline-block;">自社アプリ開発を可能にする</span><br><span style="display: inline-block;">国内No.1クラウド基盤</span></h1>
            <button id="scroll_to_form">お問い合わせ</button>
        </div>
        <div class="characteristics">
            <div class="title">特徴</div>
            <div class="content">
                <div>iOS / Android / Windows <br style="display: block">ネイティブアプリに対応</div>

                <div>Web技術 (JavaScript) で<br>学習ハードルが低い</div>
                <div>プロトタイプ開発から<br>運用までトータルサポート</div>
                <div>数多くの成功アプリと<br>豊富な導入事例</div>
                <div>アプリ開発のトータル<br>サポートと支援サービス</div>
            </div>
        </div>
    </div>
</div>

<div class="showcase">
    <div class="showcase_content">
        <h3 class="mobile_showcase_title">多くのアプリが<br>
            Monacaで作られています</h3>

        <div class="wrap">
            <div class="showcase_item">
                <div class="first">Monaca開発<br>ユーザー数 </div>
                <div class="second"><span class="num">25</span> <span class="text">万人</span></div>
                <div class="showcase_img tablets seikyoren">
                    <img class="tablet" src="/img/dev-support/Group_184x2.png">
                    <a>全国生活協同組合連合会 様 <img class="arrow" src="/img/dev-support/icn_arrow_blue.png"></a>
                </div>
            </div>
            <div class="showcase_item">
                <div class="first">作られた</br>アプリの数</div>
                <div class="second"><span class="num">12</span> <span class="text">万アプリ</span></div>
                <div class="showcase_img tablets naganobank" id="second_tablet">
                    <img class="tablet" src="/img/dev-support/Group_185x2.png">
                    <a>長野銀行 様 <img class="arrow" src="/img/dev-support/icn_arrow_blue.png"></a>
                </div>
            </div>
            <div class="showcase_item">
                <div class="showcase_img phones smbc" id="phone1">
                    <img class="phone" src="/img/dev-support/Group_187x2.png">
                    <a>三井住友 <br>フィナンシャルグループ 様 <img class="arrow" src="/img/dev-support/icn_arrow_blue.png"></a>
                </div>
            </div>
            <div class="showcase_item">
                <a id="last_link" class="showcase_link">全ての導入事例を見る <img class="arrow"
                        src="/img/dev-support/icn_arrow_r_2x.png"></a>
                <div class="showcase_img phones monex" id="phone2">
                    <img class="phone" src="/img/dev-support/Group_186x2.png">
                    <a>マネックス証券 様 <img class="arrow" src="/img/dev-support/icn_arrow_blue.png"></a>
                </div>
            </div>
        </div>

        <div class="mobile_showcase_headers">
            <div class="header" id="header1">
                <div class="first">Monaca開発<br>ユーザー数 </div>
                <div class="second"><span class="num">25</span><span class="text">万人</span></div>
            </div>
            <div class="header">
                <div class="first">作られた</br>アプリの数</div>
                <div class="second"><span class="num">12</span><span class="text">万アプリ</span></div>
            </div>
        </div>

        <div class="horizontal_wrap">
            <div class="horizontal_item seikyoren">
                <img class="tablet" src="/img/dev-support/Group_184x2.png">
                <a>全国生活協同組合連合会 様</a>
            </div>
            <div class="horizontal_item naganobank">
                <img class="tablet" src="/img/dev-support/Group_185x2.png">
                <a>長野銀行 様</a>
            </div>
            <div class="horizontal_item smbc">
                <img class="phone" id="phone1" src="/img/dev-support/Group_187x2.png">
                <a id="phone1_link">三井住友 <br>フィナンシャルグループ 様</a>
            </div>
            <div class="horizontal_item monex" id="last_item">
                <img class="phone" id="phone2" src="/img/dev-support/Group_186x2.png">
                <a id="phone2_link">マネックス証券 様</a>
            </div>
        </div>

        <button class="showcase_mobile_button">導入事例を見る</button>

        <div class="divider_line"></div>

    </div>
</div>

<div class="reasons">
    <div class="reasons_content">
        <h2><span style="display: inline-block;">Monacaが選ばれる</span><span style="display: inline-block;">3つの理由</span></h2>
        <div class="card_wrap">
            <div class="card">
                <div class="num">01</div>
                <h3>高品質なアプリを<br>
                    Low Code開発で実現</h3>
                <p class="desc">MonacaはWebアプリ（SPA、PWA）とネイティブアプリの開発に対応しています。</br>
                    Webの世界で広く普及しているJavaScriptを利用するこで、SwiftやJavaと比較して遜色ない、高品質なアプリを開発できます。</p>
            </div>
            <div class="card">
                <div class="num">02</div>
                <h3>アプリ開発に必要な<br> 機能をすべて網羅</h3>
                <p class="desc">Monacaには、統合開発環境（IDE）やデバッグ用ツール、ビルドサービスなど、開発に必要な機能がすべて含まれています。
                    プロトタイプ開発や、アジャイル開発のためのDevOps環境など、広いユースケースに対応します。</p>
            </div>
            <div class="card">
                <div class="num">03</div>
                <h3>手厚いサポート</h3>
                <p class="desc">モバイルアプリ開発では、UI設計、モック制作、ネイティブロジック作成、OSバージョンアップへの対応など、多くの作業が必要になります。
                    Monacaでは、技術面やプロジェクト管理上の課題についてもご支援いたします。</p>

            </div>
        </div>
    </div>

</div>

<div class="phases">
    <div class="phases_wrap">
        <h2>Monacaご利用イメージ</h2>
        <div class="content">
            <div class="stage">
                <div class="banner">
                    <div class="title desktop_title">
                        <p>Phase</p>
                        <p class="phase_num">0</p>
                        <p class="caption">デザイン&amp;<br>トレーニング</p>
                    </div>
                    <img class="desktop_banner" src="/img/dev-support/union_1.png">
                    <img class="mobile_banner" src="/img/dev-support/union1_mobile.png">
                </div>
                <div class="side_info">
                    <div class="mobile_title" id="phase_0">
                        <p>Phase 0 <br>デザイン&トレーニング</p>
                    </div>
                    <div class="phase_0_info">
                        <h3>トライアルワークショップ</h3>
                        <p>Monacaを使った開発効率をご体感頂くため、ワークショップの開催を提案いたします。</p>
                        <p>（費用：5万円〜15万円）</p>
                        <p>実際のアプリ開発をご体験頂くとともに、2週間の利用ライセンスもご提供いたします。</p>
                    </div>
                    <div class="phase_0_info">
                        <h3>トレーニング</h3>
                        <p>開発ではJavaScript言語を中心としたWeb技術の知識が必要になります。</p>
                        <p>アプリ開発がはじめてという方のために、各種トレーニングメニューを提供しています。</p>
                        <p>より包括的なご支援として、オンサイトのコーチングを通じたコンサルティング業務も提供いたします</p>
                    </div>
                </div>
            </div>
            <div class="stage">
                <div class="banner">
                    <div class="title desktop_title">
                        <p>Phase</p>
                        <p class="phase_num">1</p>
                        <p class="caption">DevOps & <br>コーチング</p>
                    </div>
                    <img class="desktop_banner" src="/img/dev-support/union_2.png">
                    <img class="mobile_banner" src="/img/dev-support/union2_mobile.png">
                </div>
                <div class="side_info">
                    <div>
                        <div class="mobile_title">
                            <p>Phase 1<br>DevOps & コーチング</p>
                        </div>
                        <h3>開発</h3>
                        <p>不具合の調査やエラーの切り分けなど、開発時に遭遇する課題に対するご支援を行います。</p>
                        <p>また、UI構築や、ネイティブ言語の記述が必要な機能開発などのモジュール単位の部分的な請負も行います。</p>
                        <p>テストの自動化や品質保証といったクオリティマネジメントについてもご支援いたします。</p>
                    </div>
                </div>
            </div>
            <div class="stage">
                <div class="banner">
                    <div class="title desktop_title">
                        <p>Phase</p>
                        <p class="phase_num">2</p>
                        <p class="caption">Capability </br>拡大</p>
                    </div>
                    <img class="desktop_banner" src="/img/dev-support/union_2.png">
                    <img class="mobile_banner" src="/img/dev-support/union3_mobile.png">
                </div>
                <div class="side_info">
                    <div>
                        <div class="mobile_title">
                            <p>Phase 2<br>Capability 拡大</p>
                        </div>
                        <h3>アフターリリース</h3>
                        <p>iOSやAndroid OSの定期バージョンアップに伴う影響範囲の調査や修正など、アプリ運営に必要なメンテナンス業務の請負をいたします。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="training">
    <div class="training_wrap">
        <div class="wrap_left">
            <h2>Monacaトレーニング</h2>
            <div class="card_info">
                <p>アプリ開発に必要な知識の取得と活用を支援します。</p>
                <ul>
                    <li>プロトタイプ制作</li>
                    <li>フロントエンド実装（UI開発）</li>
                    <li>JavaScript実践</li>
                    <li>フレームワークの利用（Vue.js）</li>
                    <li>ネイティブAPIの呼び出し</li>
                    <li>セキュアプログラミング</li>
                </ul>
            </div>
        </div>
        <div class="training_img">
            <img src="/img/dev-support/training.png">
        </div>
    </div>

    <div class="training_wrap_mobile">
        <h2>Monacaトレーニング</h2>
        <div class="training_img">
            <img src="/img/dev-support/training.png">
        </div>
        <div class="wrap_left">
            <div class="card_info">
                <p>アプリ開発に必要な知識の取得と活用を支援します。</p>
                <ul>
                    <li>プロトタイプ制作</li>
                    <li>フロントエンド実装（UI開発）</li>
                    <li>JavaScript実践</li>
                    <li>フレームワークの利用（Vue.js）</li>
                    <li>ネイティブAPIの呼び出し</li>
                    <li>セキュアプログラミング</li>
                    <li>バックエンドとの接続</li>
                    <li>アプリの配信とストア公開</li>
                    <li>DevOps環境構築</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="service">
    <div class="service_wrap">
        <h2>開発サービス</h2>
        <p id="subtitle">「すべてを自社対応するのではなく、部分的に外部の力も借りたい」そんなニーズにもしっかり応えます。</p>
        <div class="table">
            <div class="table_item">
                <img src="/img/dev-support/service_01.png">
                <h3>技術調査 /</br>PoC開発</h3>
                <p class="squares">
                  本開発の前に、企画構想の実現可否の判断が求められます。
                  アプリ開発チームが、技術検証やPoC開発を支援します。
                </p>
            </div>
            <div class="table_item">
                <img src="/img/dev-support/service_02.png">
                <h3>UI設計 / </br>一部開発受託</h3>
                <p class="squares">
                  UIはアプリ品質を左右する大変重要な指標です。
                  デザインチームがプロトタイプ制作やアプリテンプレートを開発します。
                </p>
            </div>
            <div class="table_item">
                <img src="/img/dev-support/service_03.png">
                <h3>OSバージョン</br>アップ対応</h3>
                <p class="squares">
                  頻繁に発生するOSバージョンアップに伴うプラグインの動作確認、画面表示崩れの原因切り分けを行います。
                </p>
            </div>
            <div class="table_item">
                <img src="/img/dev-support/service_04.png">
                <h3>DevOps /</br>CI・CD管理</h3>
                <p class="squares">
                  開発プロセスを自動化するため、CI/CDの導入からパイプライン構築まで支援します。
                </p>
            </div>
            <div class="table_item" id="last_item">
                <img src="/img/dev-support/service_05.png">
                <h3>アプリ開発</br>コーチング</h3>
                <p class="squares">
                  オンサイトコーチングを通じて、アジャイル開発手法をはじめアプリ開発の実践をサポートします。
                </p>
            </div>
        </div>
    </div>

</div>

<div class="prices">
    <div class="prices_wrap">
        <h2>料金イメージ</h2>
        <div class="desktop_wrap_prices">
            <div class="prices_title">
                <div></div>
                <div class="title">Monaca料金</div>
                <div class="title">支援サービス料金</div>
                <div></div>
                <div></div>
            </div>
            <div class="prices_table">
                <div id="price_categories">
                    <p class="table_categories">費用</p>
                    <p class="table_categories middle">対象</p>
                    <p class="table_categories">費用例</p>
                </div>
                <div class="prices_table_item">
                    <div class="content">
                        <div class="header" id="header_blue">Monacaライセンス</div>
                        <div class="prices_row">
                            <div class="row_1 price_bold">基本料金(2,000円)〜<br>＋<br>5,000円/利用者/月〜</div>
                            <div class="row_2">Monacaの利用料<br>開発者につき1ライセンス</div>
                            <div class="row_3" id="license_3rd_row">5名の利用者<br>月額: <span
                                    class="price_bold">27,000円</span></div>
                        </div>
                    </div>
                </div>
                <div class="prices_table_item">
                    <div class="content">
                        <div class="header">開発 / 運用支援サービス</div>
                        <div class="prices_row">
                            <div class="row_1 price_bold">初期料金<br>＋<br>30,000円/アプリ/月〜</div>
                            <div class="row_2">Monacaの利用料<br>開発者につき1ライセンス</div>
                            <div class="development_column_extra_rows">
                                <p id="third_row">5画面構成の業務アプリ<br>（ネイティブAPIあり）<br><br>
                                    初期: <span class="price_bold">400,000円</span><br>月額: <span
                                        class="price_bold">70,000円</span></p>
                                <p id="fourth_row">
                                    PoCアプリ開発支援<br>（1画面、ミニマムUI）<br><br>
                                    初期: <span class="price_bold">300,000円</span><br>月額: <span
                                        class="price_bold">30,000円</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prices_table_item">
                    <div class="content">
                        <div class="header">トレーニング</div>
                        <div class="prices_row">
                            <div class="row_1">
                                <p id="per_training">1トレーニングあたり<br><span class="price_bold">20,000円/受講者〜</span></p>
                            </div>
                            <div class="row_2">
                                <p id="lectures">講義、ワークショップ等</p>
                            </div>
                            <div class="row_3">プログラミング講座<br>(3日間、5名)<br><br><span class="price_bold">650,000円</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prices_table_item">
                    <div class="content">
                        <div class="header">アプリ開発コーチング</div>
                        <div class="prices_row">
                            <div class="row_1">
                                <p id="settlement">実績精算<br><span class="price_bold">30,000円/1時間</span></p>
                            </div>
                            <div class="row_2" id="scrum_price">スクラム支援<br>DevOps構築<br>コンサルティング</div>
                            <div class="row_3">週1日の<br>オンサイトコーチング<br><br><span class="price_bold">800,000円/月</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile_wrap_prices">
            <div id="price_categories">
                <p class="table_categories">費用</p>
                <p class="table_categories">対象</p>
                <p class="table_categories">費用例</p>
            </div>
            <div class="prices_table_wrap">
                <div class="prices_title">
                    <div></div>
                    <div class="title">Monaca料金</div>
                    <div class="title">支援サービス料金</div>
                    <div></div>
                    <div></div>
                </div>
                <div class="prices_table">
                    <div class="prices_table_item">
                        <div class="content">
                            <div class="header" id="header_blue">Monacaライセンス</div>
                            <div class="prices_row">
                                <div class="row_1 price_bold">基本料金(2,000円)〜<br>＋<br>5,000円/利用者/月〜</div>
                                <div class="row_2">Monacaの利用料<br>開発者につき1ライセンス</div>
                                <div class="row_3" id="license_3rd_row">5名の利用者<br>月額: <span
                                        class="price_bold">27,000円</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="prices_table_item">
                        <div class="content">
                            <div class="header">開発 / 運用支援サービス</div>
                            <div class="prices_row">
                                <div class="row_1 price_bold">初期料金<br>＋<br>30,000円/アプリ/月〜</div>
                                <div class="row_2">Monacaの利用料<br>開発者につき1ライセンス</div>
                                <div class="development_column_extra_rows">
                                    <p id="third_row">5画面構成の業務アプリ<br>（ネイティブAPIあり）<br><br>
                                        初期: <span class="price_bold">400,000円</span><br>月額: <span
                                            class="price_bold">70,000円</span></p>
                                    <p id="fourth_row">
                                        PoCアプリ開発支援<br>（1画面、ミニマムUI）<br><br>
                                        初期: <span class="price_bold">300,000円</span><br>月額: <span
                                            class="price_bold">30,000円</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices_table_item">
                        <div class="content">
                            <div class="header">トレーニング</div>
                            <div class="prices_row">
                                <div class="row_1">
                                    <p id="per_training">1トレーニングあたり<br><span class="price_bold">20,000円/受講者〜</span></p>
                                </div>
                                <div class="row_2">
                                    <p id="lectures">講義、ワークショップ等</p>
                                </div>
                                <div class="row_3">プログラミング講座<br>(3日間、5名)<br><br><span class="price_bold">650,000円</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prices_table_item">
                        <div class="content">
                            <div class="header">アプリ開発コーチング</div>
                            <div class="prices_row">
                                <div class="row_1">
                                    <p id="settlement">実績精算<br><span class="price_bold">30,000円/1時間</span></p>
                                </div>
                                <div class="row_2" id="scrum_price">スクラム支援<br>DevOps構築<br>コンサルティング</div>
                                <div class="row_3">週1日の<br>オンサイトコーチング<br><br><span class="price_bold">800,000円/月</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="showcase_logo">
    <div class="showcase_logo_wrap">
        <h2>導入事例</h2>
        <div class="logos">
            <div class="link logos_link">全ての導入事例を見る <img class="arrow"
                    src="/img/dev-support/icn_arrow_blue.png"></div>
            <div class="logo_group">
                <div>
                    <img src="/img/dev-support/logo_smbc.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_jnb.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_tvasahi.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_nagano_monex.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_tokyo_calender.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_fujitec.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_nagano_bank.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_proto.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_ill.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_mitsubishi_hitachi.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_cambridge.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_2fc.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_nijibox.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_seikyo.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_tokyo_kouka_univ.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_clubood.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_wfp.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_doushisha.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_jotv.png">
                </div>
                <div>
                    <img src="/img/dev-support/logo_kddi.png">
                </div>
            </div>
            <button class="logos_button_mobile">導入事例を見る</button>
        </div>
    </div>
</div>

<form class="inquiry" id="contact_us">
    <h2>まずはお問い合わせください</h2>

    <h3>アシアル株式会社Monacaチームへ<br>お気軽にお問い合わせください。<br><br>
        <span>Monacaは<span id="underlined">アシアル株式会社</span>が運営しております。</span></h3>

    <p>お名前 *</p>
    <input type="text" id="name" name="name" placeholder="例）山田太郎">

    <p>会社名 *</p>
    <input type="text" id="company_name" name="company_name" placeholder="例）株式会社アシアル">

    <p>メールアドレス *</p>
    <input type="email" id="email" name="email" placeholder="例）xxxxxxxxx@monaca.io">

    <p>内容 *</p>
    <textarea placeholder="お問い合わせ内容を入力してください。"></textarea>

    <button>送信</button>
</form>

<script>
    $("#scroll_to_form").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#contact_us").offset().top - 20
        }, 2000);
    });

    $(".seikyoren").click(function () {
        window.location.href = "/showcase/seikyoren.html";
    });

    $(".naganobank").click(function () {
        window.location.href = "/showcase/naganobank.html";
    });

    $(".smbc").click(function () {
        window.location.href = "/showcase/smbc.html";
    });

    $(".monex").click(function () {
        window.location.href = "/showcase/monex.html";
    });

    $(".showcase_mobile_button").click(function () {
        window.location.href = "/showcase/";
    });

    $(".logos_button_mobile").click(function () {
        window.location.href = "/showcase/";
    });

    $(".logos_link").click(function () {
        window.location.href = "/showcase/";
    });

    $(".showcase_link").click(function () {
        window.location.href = "/showcase/";
    });

</script>
