---
title: Monaca - Web技術でアプリ開発とは
class: features-html5
layout: src/templates/layouts/index.hbs
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
fixednav: true
show_ja_globalnav: true
show_ja_subnav: true
show_monaca_description: true # Parameter for section_monaca_ja
---

<div class="v2-section--keyvisual">
    <div class="v2-section--keyvisual__wrapper">
        <div class="v2-section--keyvisual__subtitle">モバイル、PC、Webで動く</div>
        <div class="v2-section--keyvisual__title">Web技術を用いたアプリ開発</div>
    </div>
</div>
<div class="v2-section--feature-container">
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    Web標準技術で<br>クロスプラットフォーム開発
                </div>
                <div class="v2-section--feature__description">
                    <p>MonacaではHTML5、JavaScriptといったWeb標準技術を用いてiOS、Android向けのモバイルアプリ、Windows、macOS、Linux向けのデスクトップアプリ、そしてブラウザー向けのPWAアプリの開発を行うことができます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/html5/section1_contents1.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    プロユース<br>でも難しくない！
                </div>
                <div class="v2-section--feature__description">
                    <p>HTML5やJavaScriptに代表されるWeb技術は、日本語での情報も豊富で、多くの学習コンテンツが揃っています。</p>
                    <p>Monacaで使う技術は、一般的なWebアプリの開発で使われるものばかり。Monaca特有の知識は一切不要で始められます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/html5/section1_contents2.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    iOS &amp; Androidアプリを同時開発
                </div>
                <div class="v2-section--feature__description">
                    <p>iOSとAndroidのアプリを一つのソースコードで開発。</p>
                    <p>同じアプリをOSごとに開発する必要がなくなるため、従来の開発と比べ開発工数も開発期間も大幅に短縮できます。アプリの運用効率も大幅にアップ。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/html5/section1_contents4.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    100%ネイティブアプリ
                </div>
                <div class="v2-section--feature__description">
                    <p>プッシュ通知やカメラ、Bluetoothなど、各OSが提供するネイティブ機能をアプリに組み込み、利用できます。</p>
                    <p>既存のプラグインを使ってもよし、自身でプラグイン開発してもよし、アプリの可能性は無限です。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/html5/section1_contents6.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    ネイティブ開発に引けを取らないUI表現
                </div>
                <div class="v2-section--feature__description">
                    <p>Monacaには世界的に利用されているUIライブラリ <a href="https://ja.onsen.io/" target="_blank">Onsen UI</a> が標準搭載されています。</p>
                    <p>Onsen UI を使えばiOSとAndroidのUIコンポーネントや画面遷移をHTML5で簡単に表現できます。HTML5モバイルアプリでもネイティブ開発に引けをとらない高品質なUI表現を行うことができます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image">
                    <div class="v2-section--feature__examples">
                        <img class="v2-section--feature__android-bezel" src="/img/features/html5/section1_contents7-1.jpg" />
                        <img class="v2-section--feature__ios-bezel" src="/img/features/html5/section1_contents7-2.jpg" />
                        <iframe class="v2-section--feature__android-frame" src="https://onsenui.github.io/showcase-todo/?platform=android"></iframe>
                        <iframe class="v2-section--feature__ios-frame" src="https://onsenui.github.io/showcase-todo/?platform=ios"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> section_monaca_ja }}
<div class="v2-section--closing">
    <div class="v2-section--closing__wrapper">
        <div class="v2-section--closing__title">Monacaに興味を持っていただけましたか？</div>
        <div class="v2-section--closing__description">本格的なアプリが驚くほど簡単に作れます。<br>無料トライアルで開発を実際に試してみる、もしくはMonacaの導入についてご相談ください。</div>
        <a class="v2-section--closing__trial-button" href="https://monaca.mobi/ja/signup">開発者向け無料トライアル</a>
        <a class="v2-section--closing__trial-button" href="/dev-support/">導入支援メニューを見る</a>
    </div>
</div>
