---
title: Monaca - HTML5アプリの特徴
class: features-html5
layout: src/templates/layouts/index.hbs
monaca_description: true # Parameter for section_monaca_ja
---

<div class="v2-section--keyvisual">
    <div class="v2-section--keyvisual__wrapper">
        <div class="v2-section--keyvisual__subtitle">モバイルアプリ開発に</div>
        <div class="v2-section--keyvisual__title">HTML5が選ばれる理由</div>
    </div>
</div>
{{> section_monaca_ja }}
{{> section_specials_ja }}
