---
title: Monaca - HTML5アプリの特徴
class: features-html5
layout: src/templates/layouts/index.hbs
fixednav: true
monaca_description: true # Parameter for section_monaca_ja
---

<div class="v2-section--keyvisual">
    <div class="v2-section--keyvisual__wrapper">
        <div class="v2-section--keyvisual__subtitle">モバイルアプリ開発に</div>
        <div class="v2-section--keyvisual__title">HTML5が選ばれる理由</div>
    </div>
</div>
<div class="v2-section--feature-container">
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    Web標準技術でモバイルアプリ開発
                </div>
                <div class="v2-section--feature__description">
                    <p>MonacaではHTML5、JavaScriptといったWeb標準技術を用いてiOS、Android向けのモバイルアプリを行うことができます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/html5/section1_contents1.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    モバイルアプリ開発の未経験者に最適
                </div>
                <div class="v2-section--feature__description">
                    <p>HTML5は学習コストが低く日本語での情報も豊富なため、これからモバイルアプリ開発を始める方には最適な選択肢の一つです。</p>
                    <p>また、HTML5モバイルアプリ開発のために習得した技術は、従来のWebアプリだけでなくPWA (Progressive Web App)やElectronと今後有望なクロスプラットフォーム開発にも活用できます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/html5/section1_contents2.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    既存のWeb開発チームがアプリ開発チームに
                </div>
                <div class="v2-section--feature__description">
                    <p>モバイルアプリ開発にHTML5を採用すれば、既存のWeb開発チームでモバイルアプリ開発を行うことができます。</p>
                    <p>iOSやAndroidアプリに特化したアプリ開発チームを作る必要がなく、メンバーのやりくりもしやすいので特に企業でのアプリ開発で多く採用されています。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/html5/section1_contents3.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    iOS &amp; Androidアプリを同時開発
                </div>
                <div class="v2-section--feature__description">
                    <p>HTML5でアプリを開発するとiOSとAndroidのアプリを一つのソースコードで開発することができます。</p>
                    <p>同じアプリをOS毎に2つ開発する必要がなくなるため、ネイティブ開発に比較して開発工数も開発期間も大幅に短縮できます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/html5/section1_contents4.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    アプリの運用コストを劇的に低減
                </div>
                <div class="v2-section--feature__description">
                    <p>HTML5で開発されたiOS、AndroidアプリはOSのアップデートの影響を受けにくく、また両OS向けのアプリがワンソースで管理できます。</p>
                    <p>さらにWeb開発者がアプリのメンテナンスを行うためアプリ運用の専用チームを抱える必要もありません。このためアプリの運用コストを劇的に低減することができます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/html5/section1_contents5.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    ネイティブ機能を使ったアプリ開発も可能
                </div>
                <div class="v2-section--feature__description">
                    <p>HTML5モバイルアプリでは、プラグインを利用することでプッシュ通知やカメラ、Blutoothなど各OSが提供するネイティブ機能をアプリに組み込むことができます。</p>
                    <p>既存のプラグインを使ってもよし、自身でプラグイン開発してもよし、アプリの可能性は無限です。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/html5/section1_contents6.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    ネイティブ開発に引けを取らないUI表現
                </div>
                <div class="v2-section--feature__description">
                    <p>Monacaには世界的に利用されているUIライブラリ「Onsen UI」が標準搭載されています。</p>
                    <p>「Onsen UI」を使えばiOSとAndroidのUIコンポーネントや画面遷移をHTML5で簡単に表現できます。HTML5モバイルアプリでもネイティブ開発に引けをとらない高品質なUI表現を行うことができます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image">
                    <div class="v2-section--feature__examples">
                        <img class="v2-section--feature__android-bezel" src="/img/features/html5/section1_contents7-1.jpg" />
                        <img class="v2-section--feature__ios-bezel" src="/img/features/html5/section1_contents7-2.jpg" />
                        <iframe class="v2-section--feature__android-frame" src="https://onsenui.github.io/showcase-todo/?platform=android"></iframe>
                        <iframe class="v2-section--feature__ios-frame" src="https://onsenui.github.io/showcase-todo/?platform=ios"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> section_monaca_ja }}
<div class="v2-section--closing">
    <div class="v2-section--closing__wrapper">
        <div class="v2-section--closing__title">Monacaに興味を持っていただけましたか？</div>
        <div class="v2-section--closing__description">本格的なHTML5アプリが驚くほど簡単に作れます。<br>まずは無料でお試しください。</div>
        <button class="v2-section--closing__trial-button">無料トライアル</button>
    </div>
</div>
{{> section_specials_ja }}
