---
title: Monaca - 特徴
class: features-monaca
layout: src/templates/layouts/index.hbs
---

<div class="v2-section--keyvisual">
    <div class="v2-section--keyvisual__wrapper">
        <div class="v2-section--keyvisual__subtitle">HTML5モバイルアプリ開発で</div>
        <div class="v2-section--keyvisual__title">Monacaが選ばれる理由</div>
    </div>
</div>
{{> section_specials_ja }}
