---
title: Monaca - Monacaの開発支援機能
class: features-monaca
layout: src/templates/layouts/index.hbs
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
fixednav: true
show_ja_globalnav: true
show_ja_subnav: true
---

<div class="v2-section--keyvisual">
    <div class="v2-section--keyvisual__wrapper">
        <div class="v2-section--keyvisual__subtitle">クラウドを活かす</div>
        <div class="v2-section--keyvisual__title">Monacaの開発支援機能</div>
    </div>
</div>
<div class="v2-section--feature-container">
    <div id="cloud-development" class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    開発環境の構築は不要<br>全ての時間をアプリ開発へ
                </div>
                <div class="v2-section--feature__description">
                    <p>ブラウザやコマンドラインツールを通じてクラウド環境にアクセスするだけで、プロジェクトの作成からアプリのリリースまで全ての操作を行えます。</p>
                    <p>開発環境の構築に手間取る必要はありません。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/monaca/section1_contents1.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    WindowsでもiOSアプリ開発
                </div>
                <div class="v2-section--feature__description">
                    <p>iOSアプリのビルドに必要なMacも、クラウドに用意されています。</p>
                    <p>Monacaを使えばMacを使わずにWindows PCだけでもiOSアプリの開発やストア公開もできます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/monaca/section1_contents2.jpg');"></div>
            </div>
        </div>
    </div>
    <div id="cloud-editor" class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    アプリ開発専用エディタで<br>いつでも、どこでも快適に
                </div>
                <div class="v2-section--feature__description">
                    <p>ブラウザ上でコーディングができる高機能なエディタ（IDE）を搭載しています。</p>
                    <p>JavaScript/CSSのコード補完機能やUIのライブプレビュー機能{{!-- 、ターミナル機能 --}}など、アプリ開発を効率化する機能を多数提供しています。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/monaca/section1_contents3.jpg');"></div>
            </div>
        </div>
    </div>
    <div id="local-development" class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    ローカル開発にも完全対応<br>いつもの環境をクラウドと連携
                </div>
                <div class="v2-section--feature__description">
                    <p><a href="/localkit.html">Monaca Localkit</a> や <a href="https://monaca.io/cli.html" target="_blank">Monaca CLI</a> などのローカル開発ツールを活用することで、皆さんが普段から使っているエディタやIDE、バージョン管理ツールなどの既存の開発環境をMonacaと連携させて開発を行うことができます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/monaca/section1_contents4.jpg');"></div>
            </div>
        </div>
    </div>
    <div id="debugger" class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    エミュレータより速く、正確に<br>実機でアプリをテスト
                </div>
                <div class="v2-section--feature__description">
                    <p>エディタで保存したソースコードは <a href="/debugger.html">Monacaデバッガー</a> を使って即時にモバイル端末上に反映。すぐに実機で動作確認を行えるので、アプリの開発効率が格段に上がります。</p>
                    <p>ChromeやSafariのリモートデバッグ機能を利用することも可能です。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image">
                    <div id="animation-livereload">
                        <div class="livereload-editor">
                            <div class="livereload-editor-header">index.html</div>
                            <div class="livereload-editor-mask"></div>
                            <div class="livereload-saved"></div>
                        </div>

                        <div class="livereload-connect stop"></div>

                        <div class="livereload-device">
                            <div class="livereload-device-screen-base"></div>
                            <div class="livereload-device-screen"></div>
                            <div class="livereload-device-screen-reloaded hidden"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="plugin" class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    アプリのセキュリティや<br>運用の課題をプラグインで解決
                </div>
                <div class="v2-section--feature__description">
                    <p>世界中で開発・公開されているCordovaプラグインの利用はもちろんのこと、アプリロジック暗号化プラグインやセキュアストレージプラグインといったアプリのセキュリティレベルを向上するプラグインやIn-Appアップデータのようなアプリの運用時に便利なMonaca独自プラグインを使ってアプリ開発を行うことができます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/monaca/section1_contents6.jpg');"></div>
            </div>
        </div>
    </div>
    <div class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    プッシュ通知やアプリ分析など<br>連携サービスでアプリを拡張
                </div>
                <div class="v2-section--feature__description">
                    <p>プッシュ通知やデータベースなどアプリのバックエンド機能を提供するmBaaSなど、様々な外部サービスに対応しています。</p>
                    <p>Beaconアプリや、アプリ内分析、広告出稿などなども、連携サービスを活用して簡単に実現することができます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/monaca/section1_contents7.jpg');"></div>
            </div>
        </div>
    </div>
    <div id="onsen-ui" class="v2-section--feature">
        <div class="v2-section--feature__wrapper">
            <div class="v2-section--feature__text-side">
                <div class="v2-section--feature__title">
                    HTMLとCSSで<br>アプリのUIを誰でも簡単開発
                </div>
                <div class="v2-section--feature__description">
                    <p>Monacaに標準搭載されているUIライブラリ <a href="https://ja.onsen.io/" target="_blank">Onsen UI</a> を使うと、HTML5を用いて簡単にiOS、AndroidのUIコンポーネントや画面遷移を実装することができます。</p>
                    <p>特にアニメーションは高速に動作するよう調整されており、滑らかで快適なUIを実現できます。</p>
                </div>
            </div>
            <div class="v2-section--feature__image-side">
                <div class="v2-section--feature__image" style="background-image: url('/img/features/monaca/section1_contents8.jpg');"></div>
            </div>
        </div>
    </div>
</div>
<div class="v2-section--others">
    <div class="v2-section--others__wrapper">
        <div class="v2-section--others__title">他にも、開発に役立つ機能を<br />揃えています</div>
        <div class="v2-section--others__item-container">
            <div class="v2-section--others__item">
                <div class="v2-section--others__item-inner">
                    <div class="v2-section--others__item-icon" style="background-image: url('/img/features/monaca/img1-git.svg');"></div>
                    <div class="v2-section--others__item-text">
                        <div class="v2-section--others__item-title">バージョン管理機能</div>
                        <div class="v2-section--others__item-description"><span>Gitによるバージョン管理をサポートしています。SSH接続により、GitHubやBitbucketなどの任意の外部サービスとの接続も可能です。</span></div>
                    </div>
                </div>
            </div>
            <div class="v2-section--others__item">
                <div class="v2-section--others__item-inner">
                    <div class="v2-section--others__item-icon" style="background-image: url('/img/features/monaca/img2-team.svg');"></div>
                    <div class="v2-section--others__item-text">
                        <div class="v2-section--others__item-title">チーム開発機能</div>
                        <div class="v2-section--others__item-description"><span>複数の開発者アカウントをまとめて管理したり、開発中のアプリを他の開発者やテスターと簡単に共有したりすることができます。</span></div>
                    </div>
                </div>
            </div>
            <div class="v2-section--others__item">
                <div class="v2-section--others__item-inner">
                    <div class="v2-section--others__item-icon" style="background-image: url('/img/features/monaca/img3-in-house.svg');"></div>
                    <div class="v2-section--others__item-text">
                        <div class="v2-section--others__item-title">In-Houseビルド機能</div>
                        <div class="v2-section--others__item-description"><span>Apple Developer Enterprise Programを利用した、企業内利用アプリの開発に対応しています。</span></div>
                    </div>
                </div>
            </div>
            <div class="v2-section--others__item">
                <div class="v2-section--others__item-inner">
                    <div class="v2-section--others__item-icon" style="background-image: url('/img/features/monaca/img4-security.svg');"></div>
                    <div class="v2-section--others__item-text">
                        <div class="v2-section--others__item-title">IPアドレス制限機能</div>
                        <div class="v2-section--others__item-description"><span>社内で使用しているグローバルIPアドレスを設定することで、社外からの不正なアクセスを遮断することができます。</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="v2-section--others__navigation">
            <a href="https://ja.monaca.io/pricing-detail.html">全ての機能を見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
        </div>
    </div>
</div>
<div class="v2-section--closing">
    <div class="v2-section--closing__wrapper">
        <div class="v2-section--closing__title">Monacaに興味を持っていただけましたか？</div>
        <div class="v2-section--closing__description">本格的なアプリが驚くほど簡単に作れます。<br>無料トライアルで開発を実際に試してみる、もしくはMonacaの導入についてご相談ください。</div>
        <a class="v2-section--closing__trial-button" href="https://monaca.mobi/ja/signup">開発者向け無料トライアル</a>
        <a class="v2-section--closing__trial-button" href="/dev-support/">導入支援メニューを見る</a>
    </div>
</div>

<link href="/css/codemirror.css" rel="stylesheet">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script>
    window.onload = function() {
        animateLivereload(document.getElementById("animation-livereload"));
    };
</script>
