body.book-support {
  
  h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    @media screen and(max-width: $break) {
      font-size: 32px;
    }
  }
  
  .keyvisual {
    background: url(../img/book/support/bg_keyvisual_high_light.png) no-repeat center center, url(../img/book/support/bg_keyvisual_repeat.jpg) repeat left top;
    color: #ffffff;
    position: relative;
    padding-top: 80px;
    @media screen and (max-width: $break) {
      padding-bottom: 30px;
    }
    .txt-80 {
      font-size: 80%;
    }
    .errata {
      position: absolute;
      right: 43px;
      bottom: 5px;
      width: 100%;
      font-size: 16px;
      line-height: 1.2;
      color: #34454b;
      text-align: right;
      clear: both;
      @media screen and(max-width: $break) {
        position: static;
        text-align: center;
        margin: 0;
      }
      @media screen and(max-width: $break-xs) {
        position: static;
        text-align: center;
        margin: 25px 0 0;
      }
      a {
        color: #34454b;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .official-badge {
      position: absolute;
      right: 43px;
      top: 0px;
      background-color: none;
      img {
        width: 162px;
        height: 162px;
      }
    }
    .left-column {
      width: 296px;
      margin: 0 0 0 43px;
      float: left;
      @media screen and (max-width: $break) {
        width: 100%;
        margin: 0;
        float: none; 
      }
    }
    .right-column {
      width: calc(100% - 442px);
      margin: 0 43px 0 0;
      padding-top: 35px;
      float: right;
      @media screen and (max-width: $break) {
        width: 100%;
        float: none; 
      }
      @media screen and (max-width: $break-xs) {
        padding: 0;
      }
      h2 {
        font-size: 30px;
        line-height: 1.3;
        font-weight: 400;
        color: #34454b;
        text-align: left;
        margin-bottom: 10px;
        @media screen and (max-width: 900px) {
          font-size: 27px;
        }
        @media screen and (max-width: $break) {
          text-align: center;
        }
        @media screen and (max-width: $break-xs) {
          text-align: center;
          font-size: 21px;
        }
      }
      h1 {
        font-size: 50px;
        font-weight: 600;
        text-indent: -0.6em;
        line-height: 1.2;
        margin-bottom: 30px;
        text-align: left;
        @media screen and (max-width: 900px) {
          font-size: 45px;
        }
        @media screen and (max-width: $break) {
          text-align: center;
        }
        @media screen and (max-width: $break-xs) {
          text-align: center;
          font-size: 40px;
          margin-bottom: 10px;
        }
      }
      .book-data {
        font-size: 16px;
        line-height: 1.4;
        text-align: left;
        color: #34454b;
        .txt-80 {
          margin-left: -0.4em;
        }
      }
    }
    p {
      font-size: 20px;
      text-align: left;
      width: 585px;
      margin-bottom: 0;
      word-break: break-all;
      .small {
        vertical-align: baseline;
      }
      @media screen and (max-width: $break) {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        padding: 0 5%;
        width: 100%;
      }
    }
    .box-try {
      text-align: left;
      padding: 0;
      @media screen and (max-width: $break) {
        padding-top: 3px;
        text-align: center;
      }
      .btn {
        padding: 0 20px;
        margin: 0 17px 20px;
        min-width: 262px;
        span {
          font-size: 20px;
        }
        @media screen and (max-width: $break) {
          margin: 0 auto 20px;
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }
   
  .sample-apps {
    padding-bottom: 0;
    @media screen and(max-width: $break) {
      padding-top: 50px;
    }
    > p {
      width: 850px;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
      @media screen and (max-width: $break) {
        width: 100%;
      }
    }
    .banners {
      margin-bottom: 90px;
      li {
        margin-bottom: 0;
      }
    }
    .apps-item {
      .btn-darkgray {
        font-size: 11px;
        line-height: 1.2;
        padding: 10px;
        background-color: #34454b;
        height: auto;
        &:hover {
          opacity: 0.7;
        }
      }
    
    }  /* apps-item */
    .grid {
      padding: 0 5%;
      @include clearfix;
      @media screen and (max-width: $break) {
        padding: 0;
      }
      > li {
        float: left;
        margin: 0 0 50px 0;
        width: 25%;
        @media screen and (max-width: 992px) {
          width: 48%;
        }
        @media screen and (max-width: $break) {
          &:nth-of-type(2n + 1) {
            margin-right: 4%;
          }
        }
        > h3 {
          font-size: 18px;
          line-height: 1.3;
          font-weight: 600;
          color: #333;
          margin: 14px auto 10px;
          width: 180px;
          @media screen and(max-width: $break) {
            font-size: 16px;
            margin-bottom: 5px;
            width: 170px;
          }
          @media screen and (max-width: $break-xs) {
            width: 140px;
          }
          .chapter {
            display: block;
            font-size: 12px;
            line-height: 1.2;
            margin-bottom: 2px;
            color: #999;
          }
        }
        > a {
          font-size: 13px;
          line-height: 1.6;
          @media screen and(max-width: $break) {
            font-size: 12px;
          }
        }
        figure {
          margin: 0;
          width: 200px;
          margin: 0 auto;
          overflow: hidden;
          position: relative;
          @media screen and (max-width: $break) {
            width: 170px;
          }
          @media screen and (max-width: $break-xs) {
            width: 140px;
          }
          figcaption {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 356px;
            padding: 20px;
            background: url(../img/book/support/bg_thumb.png);
            color: #fff;
            opacity: 0;
            text-align: center;
            visibility: hidden;
            @include backface-visibility(hidden);
            @include transition(transform 0.3s, opacity 0.3s, visibility 0s linear 0.3s);

            @media screen and (max-width: $break) {
              width: 170px;
              height: 303px;
            }
            @media screen and (max-width: $break-xs) {
              width: 140px;
              height: 249px;
            }
            h3 {
              color: #ffffff; 
              font-size: 24px;
              line-height: 1.2;
              font-weight: 600;
              margin: 80px 0 15px;
              
              /* Animation */
              opacity: 0;
              text-align: center;
              
              @include transform(translate(0, -60px));

              @media screen and (max-width: $break) {
                margin-top: 60px;
                font-size: 20px;
              }
              @media screen and (max-width: $break-xs) {
                margin-top: 40px;
                font-size: 17;
              }
              .chapter {
                color: #ffffff;
                font-size: 18px;
                line-height: 1.2;
                font-weight: 400;
                display: block;
                @media screen and (max-width: $break) {
                  font-size: 16px;
                }
                @media screen and (max-width: $break-xs) {
                  margin-top: 30px;
                  font-size: 12px;
                }
              }
            }
            .btn-import {
              opacity: 0;
              @include transform(scale(1.5, 1.5));
              &:hover {
                background-color: lighten(#34454b, 4);
              }
            }
          } /* /figcaption */
          
          &.on {
            display: block;
            figcaption {
              opacity: 1;
              visibility: visible;
              @include transition-delay(0, 0, 0);
              h3 {
                opacity: 1;
                @include transform(translate(0, 0));
                @include transition(transform 0.3s, opacity 1s);
              }
              .btn-import {
                opacity: 1;
                @include transform(scale(1, 1));
                @include transition(transform 0.3s, opacity 1.5s);
              }
            }
            img {
              opacity: 1;
              @include transform(scale(1.4, 1.4));
              @include transition(transform 0.3s, opacity 0.3s);
            }
          }
          img {
            max-width: 100%;
            display: block;
            position: relative;
            @media screen and (max-width: $break) {
              width: 170px;
              height: 303px;
            }
            @media screen and (max-width: $break-xs) {
              width: 140px;
              height: 249px;
            }
          }
        } /* figure */
      }
    } /* grid */
  } /* sample-apps */
  
  .book-outline {
    padding: 0;
    .grid {
      display: -webkit-box; /* Safari 3.1-6.0, Chrome 4-20, iOS 3.2- 6.1, Android 2.1-4.3 */
      display: -webkit-flex; /* Safari 6.1-, Chrome 21-28, iOS 7.0- */
      display: -moz-box;     /* Firefox 2-21 */
      display: -ms-flexbox; /* IE -10 */
      display: flex;
      @media screen and(max-width: $break) {
        -webkit-box-orient: vertical;      /* Safari 3.1-6.0, Chrome 4-20, iOS 3.2- 6.1, Android 2.1-4.3 */
        -webkit-flex-direction: column; /* Safari 6.1-, Chrome 21-28, iOS 7.0- */
        -moz-box-orient: vertical;         /* Firefox 2-21 */
        -ms-flex-direction: column;      /* IE -10 */
        flex-direction: column;
      }
      @media screen and(max-width: $break-xs) {
        -webkit-box-orient: vertical;      /* Safari 3.1-6.0, Chrome 4-20, iOS 3.2- 6.1, Android 2.1-4.3 */
        -webkit-flex-direction: column; /* Safari 6.1-, Chrome 21-28, iOS 7.0- */
        -moz-box-orient: vertical;         /* Firefox 2-21 */
        -ms-flex-direction: column;      /* IE -10 */
        flex-direction: column;
      }
    }
    h3 {
      font-size: 30px;
      line-height: 46px;
      text-align: left;
      border-bottom: 1px solid #dcdcdc;
      margin-bottom: 22px;
      span {
        display: inline-block;
        border-bottom: 1px solid #00a0e9;
        margin-bottom: -1px;
        padding: 0 0.2em;
      }
    }
    .contents {
      -webkit-box: 2; /* Safari 3.1-6.0, Chrome 4-20, iOS 3.2- 6.1, Android 2.1-4.3 */
      -webkit-flex: 2; /* Safari 6.1-, Chrome 21-28, iOS 7.0- */
      -moz-box: 2;    /* Firefox 2-21 */
      -ms-flexbox: 2;/* IE -10 */
      flex: 2;
      margin-right: 30px;
      @media screen and(max-width: $break) {
        margin: 0 0 50px;
      }
      @media screen and(max-width: $break-xs) {
        margin: 0 0 50px;
      }
      ul {
        padding: 0 6px;
        li {
          font-size: 14px;
          line-height: 2;
          font-weight: 600;
          text-align: left;
          color: #666;
        }
      }
    }
    .outline {
      -webkit-box: 3; /* Safari 3.1-6.0, Chrome 4-20, iOS 3.2- 6.1, Android 2.1-4.3 */
      -webkit-flex: 3; /* Safari 6.1-, Chrome 21-28, iOS 7.0- */
      -moz-box: 3;    /* Firefox 2-21 */
      -ms-flexbox: 3;/* IE -10 */
      flex: 3;
      div {
        font-size: 14px;
        line-height: 1.8;
        text-align: left;
        color: #666;
        padding: 0 6px;
      }
    }
  } /* book-outline */
}