.carousel-1 {
    clear: both;
    overflow: hidden;
    position: relative;
    .carousel-container {
        height: 100%;
        padding: 0;
    }
    .carousel-items {
        height: 100%;
        max-width: 1170px;
        margin: 0 auto;
        position: relative;
        text-align: left;
        @include clearfix;
        .item {
            position: absolute;
            top: 0;
            left: 0;
            width: 640px;
            img {
                opacity: 0.5;
                vertical-align: bottom;
                @include transition(opacity 1400ms);
                width: 100%;
            }
            &.on img {
                opacity: 1;
            }
        }
    }
    &.transition {
        .carousel-items .item {
            @include transition(transform 1000ms);
        }
    }
}

.carousel-1-indicators {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    line-height: 31px;
    .prev, .next, .indicator {
        color: white;
        cursor: pointer;
        font-size: 20px;
        font-family: Arial;
        margin: 0 2px;
    }
}
