.v2-section {
}

html[lang=ja] body.home,
html[lang=ja] body.features-html5,
html[lang=ja] body.features {
    .v2-section--specials {
        // In PC/tablet/smartphone mode
        @media screen {
            background-color: white;
            overflow: hidden;
            
            > .v2-section--specials__wrapper {
                box-sizing: border-box;
                margin: 115px auto 194px auto;
                padding: 0 32px;
                max-width: 1024px;

                > .v2-section--specials__item-container {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;

                    > .v2-section--specials__item {
                        box-sizing: border-box;
                        padding: 5px;
                        width: 25%;

                        > a {
                            color: unset;
                            text-decoration: unset;

                            > .v2-section--specials__item-inner {
                                background-color: white;
                                box-shadow: 0 3px 13px rgba(0, 0, 0, 0.1);
                                box-sizing: border-box;
                                border: 1px solid #ededed;
                                border-radius: 6px;
                                width: 100%;
                                height: 216px;
                                transition: background-color 0.2s ease;
                                overflow: hidden;

                                &:hover, &:focus {
                                    background-color: #fbfbfb;
                                }

                                > .v2-section--specials__item-image {
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center 0;
                                    height: 107px;
                                }
        
                                > .v2-section--specials__item-title {
                                    margin-top: 23px;
                                    font-size: 20px;
                                    font-weight: 700;
                                    color: black;
                                }
        
                                > .v2-section--specials__item-description {
                                    margin-top: 3px;
                                    padding: 0;
                                    font-size: 16px;
                                    line-height: 32px;
                                    color: #6f777f;
                                }
                            }
                        }
                    }
                }
            }
        }
        // In medium screen
        @media screen and (min-width: $v2-break-smartphone + 1px) and (max-width: 900px) {
            > .v2-section--specials__wrapper {
                margin: 79px auto;

                > .v2-section--specials__item-container {
                    > .v2-section--specials__item {
                        padding: 1px;
                        width: 50%;

                        > .v2-section--specials__item-inner {
                            > .v2-section--specials__item-title {
                                font-size: 16px;
                                line-height: 28px;
                            }
                        }
                    }
                }
            }
        }
        // In smartphone mode
        @media screen and (max-width: $v2-break-smartphone) {
            > .v2-section--specials__wrapper {
                margin: 23px auto 46px auto;
                padding: 0 16px;

                > .v2-section--specials__item-container {
                    > .v2-section--specials__item {
                        padding: 1px;
                        width: 50%;

                        > .v2-section--specials__item-inner {
                            height: 224px;

                            > .v2-section--specials__item-title {
                                font-size: 14px;
                                line-height: 24px;
                            }

                            > .v2-section--specials__item-description {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: center;
                                align-items: center;
                                box-sizing: border-box;
                                margin: 3px auto 0 auto;
                                padding: 0 10px;
                                font-size: 14px;
                                line-height: 24px;
                                color: #6f777f;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}
