/*
# Main Section

```
<section>
    <h1>Heading 1</h1>
    <h1 class="small">Gentle small heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, deserunt, nisi. Suscipit delectus ad voluptatem modi possimus vitae eius libero neque, placeat laboriosam minima, atque et culpa facilis molestias quod.</p>
</section>
```
*/
section,
div.section {
  margin-left: auto;
  margin-right: auto;
  padding: 90px 0 80px;
  position: relative;
  width: $width;
  @media screen and (max-width: $break-xl) {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 80px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: $break-xs) {
      font-size: 32px;
      margin-bottom: 40px;
    }
    &.small {
      font-size: 26px;
    }
  }
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: $break-xs) {
      font-size: 20px;
    }
  }
  h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 34px;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: $break-xs) {
      font-size: 20px;
    }
  }
  p {
    color: #666;
    line-height: 1.8;
    margin: 0 auto 50px;
    text-align: left;
    max-width: 580px;
    //word-break: break-all;
    @media screen and (max-width: 580px) {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

article.main section {
  border-bottom: 1px solid #ccc;
}

/*
# Main Container

```
<div class="container box-full">
    <p>Yeah</p>
</div>
```
*/
.container {
  padding-left: 0;
  padding-right: 0;
  min-width: $width;
  width: auto;
  @media screen and (max-width: $break-xl) {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    min-width: 0;
  }
}



/*
# Keyvisual

```
<div class="keyvisual box-full">
    <div>
        <h1>
            Title<br/>
            <span>Some subtitles</span>
        </h1>
        <div class="btns">
                <a href="#" class="btn btn-green">Try it!</a>
        </div>
    </div>
</div>
```
*/
.keyvisual {
  height: 540px;
  @media screen and (max-width: $break) {
    height: auto;
  }
  h1 {
    font-size: 54px;
    line-height: 1.18;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: $break-xs) {
      font-size: 34px;
    }
  }
  .btns {
    .btn {
      font-size: 24px;
      font-weight: 400;
      height: 64px;
      line-height: 64px;
    }
  }
}

/*
# Full-width container

```
 <div class="box-full">
    <div>
        Something
    </div>
 </div>
```
*/

.box-full {
  > * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: $width;
    @media screen and (max-width: $break-xl) {
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;
    }
  }
}

/*
# Language specific display

```
<p class="visible-ja">Japanese only</span>
<p class="visible-en">English only</span>
```
*/
html[lang=en] .visible-ja {
  display: none;
}

html[lang=ja] .visible-en {
  display: none;
}

/*
# Ultramarine box

This items are used in top page

```
<span class="bnr-1">Enterprise</span>
```
*/
.bnr-1 {
  background-color: #43587e;
  color: #ffffff;
  display: inline-block;
  padding: 2px 20px;
}

/*
# Dark dropdown menu

```
<div style="height:160px;">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dogs</a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="#">Shiba</a></li>
            <li><a href="#">Corgy</a></li>
            <li><span>Akita with no link</span></li>
        </ul>
    </div>
</div>
```
*/
.dropdown-menu-dark {
  background-color: #2c2c2c;
  li {
    color: #ffffff;
    height: 38px;
    a,
    span {
      color: #ffffff;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      padding: 0 25px;
      width: 100%;
      height: 100%;
      line-height: 39px;
      &:hover,
      &.active {
        background-color: #383838;
        color: #7cdaff;
      }
    }
  }
}

/*
# 2-column boxes

goes 1-column in responsive

```
<ul class="column-2" style="height:280px;" >
    <li class="box-1">
        <img src="http://lorempixel.com/g/400/240/animals/" />
    </li>
    <li class="box-1">
        <img src="http://lorempixel.com/g/400/240/animals/" />
    </li>
</ul>
```
*/
.column-2 {
  @include clearfix;
  li {
    float: left;
    margin-right: percentage(50px/1170px);
    margin-bottom: 20px;
    width: percentage(560px/1170px);
    &:nth-child(2n) {
      margin-right: 0;
    }
    @media screen and (max-width: $break-xs) {
      float: none;
      margin: 0 auto 20px;
      width: 100%;
    }
  }
}

/*
# 3-column boxes

Goes 2 to 1-column in responsive

```
<ul class="column-3" style="height:580px;" >
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
</ul>
```
*/
.column-3 {
  @include clearfix;
  li {
    float: left;
    margin-right: percentage(30px/1170px);
    width: percentage(370px/1170px);
    @media screen and (max-width: $break-lg) {
      margin-right: percentage(40px/640px);
      width: percentage(300px/640px);
    }
    @media screen and (min-width: $break-lg) {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: $break-lg) and (min-width: $break-xs) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: $break-xs) {
      float: none;
      margin: 0 auto 20px;
      width: 100%;
    }
  }
}

/*
# 4-column boxes

Goes 2 to 1-column in responsive

```
<ul class="column-4" style="height:580px;" >
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
</ul>
```
*/
.column-4 {
  @include clearfix;
  li {
    float: left;
    margin-right: percentage(30px/1170px);
    width: percentage(270px/1170px);
    &:nth-child(4n) {
      margin-right: 0;
    }
    @media screen and (max-width: $break) {
      float: none;
      margin: 0 auto 20px;
      width: 100%;
    }
  }
}

/*
# Bordered boxes

```
<div class="box-1">
    <img src="http://lorempixel.com/g/640/300/animals/" style="width:640px;height:300px;"/>
</div>
```
*/
.box-1 {
  background-color: #fafafa;
  border: 1px solid #d4d5d7;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  margin-bottom: 25px;
  padding: 45px 30px 40px;
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    color: #43587e;
    font-size: 24px;
    @media screen and (max-width: $break) {
      font-size: 32px;
    }
  }
}

/*
# Users' voices

```
<div class="container box-uservoices">
    <h2>User Testimonials</h2>
    <ul class="column-2">
        <li>
            <div class="uservoice-balloon" tile="2">
                <q>Awesome!</q>
            </div>
            <div class="uservoice-user">
                <div class="uservoice-organization">Shiba inu inc.</div>
                <div class="uservoice-name">Shiba Jiro</div>
            </div>
        </li>

        <li>
            <div class="uservoice-balloon" tile="2">
                <q>Sooooooo fancy!</q>
            </div>
            <div class="uservoice-user">
                <div class="uservoice-organization">Akita corp.</div>
                <div class="uservoice-name">Akita Taro</div>
            </div>
        </li>
    </ul>
</div>
```
*/
.box-uservoices {
  padding-top: 70px;
  padding-bottom: 100px;
  > h2 {
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin-bottom: 36px;
  }
  li,
  .uservoice {
    float: left;
    font-size: 16px;
    margin-bottom: 40px;
    text-align: left;
    > .uservoice-balloon {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ccc;
      position: relative;
      padding: 34px 50px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
      &:after {
        position: absolute;
        bottom: -12px;
        left: 60px;
        background-color: #ffffff;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 20px;
        height: 20px;
        content: '';
      }
      q {
        color: #333;
        font-weight: 600;
        line-height: 1.8;
        position: relative;
        white-space: normal;
        &:before,
        &:after {
          content: '';
          position: absolute;
          width: 32px;
          height: 26px;
        }
        &:before {
          background: url(../img/common/icn_quote_left.png) no-repeat left top;
          left: -36px;
          top: -14px;
        }
        &:after {
          background: url(../img/common/icn_quote_right.png) no-repeat left top;
        }
      }
    }
    > .uservoice-user {
      background: url(../img/index/user_icon.png) no-repeat 38px 25px;
      height: 100px;
      padding: 34px 0 0 120px;
      &.user-1 {
        background: url(../img/index/user_icon_1.png) no-repeat 38px 25px;
      }
      &.user-2 {
        background: url(../img/index/user_icon_2.png) no-repeat 38px 25px;
      }
      &.user-3 {
        background: url(../img/index/user_icon_3.png) no-repeat 38px 25px;
      }
      > .uservoice-name {
        font-weight: 600;
        font-size: 18px;
      }
      > .uservoice-organization {
        font-weight: 300;
        font-size: 16px;
      }
    }
  }

  .column-2 .box-uservoices {
    @media screen and (max-width: $break-xs) {
      .uservoice-balloon {
        height: auto !important;
      }
    }
  }
  .column-3 .box-uservoices {
    @media screen and (max-width: $break-xl) {
      li {
        float: none;
        margin: 0 auto 20px;
        width: 100%;
      }
      .uservoice-balloon {
        height: auto !important;
      }
      .uservoice-user {
        padding-left: 120px;
      }
    }
  }
}

/*
# Some components on the top page
*/
.box-examples {
  background: url(../img/index/examples_bg.jpg) no-repeat left top;
  background-size: cover;
  border-top: 1px solid #cdd1d6;
  border-bottom: 1px solid #cdd1d6;
  padding: 30px 5%;
  text-align: center;
  > h2 {
    font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 22px;
    > strong {
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  p {
    padding-top: 20px;
  }
}

.box-partners {
  background-color: #F9FAFC;
  border-top: 1px solid #cdd1d6;
  border-bottom: 1px solid #cdd1d6;
  text-align: center;
  overflow: hidden;
  padding: 0;
}

.box-awards {
  height: 200px;
  margin: 0 auto;
  position: relative;
  padding-top: 80px;
  overflow: hidden;
  @include clearfix;
  ul {
    float: left;
    position: relative;
    left: 50%;
    @include clearfix;
    li {
      position: relative;
      left: -50%;
      float: left;
      margin-right: 42px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: $break) {
    width: 100%;
    height: auto;
    ul {
      float: none;
      left: auto;
      li {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        left: auto;
        float: left;
        margin: 0 0 20px;
        padding: 0 30px;
        text-align: center;
        width: 50%;
        min-height: 113px;
        line-height: 113px;
        img {
          vertical-align: middle;
        }
      }
    }
  }
}

/*
# Buttons box on page bottom

```
<div class="container box-try">
    <a href="#" class="btn btn-green">Try it!</a>
</div>
```
*/
.box-try {
  padding: 140px 0;
  .btn {
    font-size: 24px;
    font-weight: 400;
    font-family: Open Sans,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    height: 64px;
    line-height: 64px;
    padding: 0 40px;
    margin: 0 10px;
    min-width: 240px;
  }
  @media screen and (max-width: $break-xs) {
    padding: 80px 0;
    .btn {
      display: block;
      margin: 0 auto 20px;
      width: 80%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.monaca_info {
	background-color: #e5e477;
	width: 100%;
	position: absolute;
		top: 0;
		left: 0;
	z-index: 50;
	h2 {
		font-size: 14px;
		line-height: 1.4;
		font-weight: 400;
		color: #333;
		text-align: center;
		padding: 0 40px;
		@media screen and (max-width: $break) {
				padding: 0 5%;
				font-size: 12px;
		}
	}
	a {
		color: #333;
		text-decoration: none;
		padding: 65px 0 15px;
		display: block;
		
		&:hover {
		    text-decoration: underline;
				background-color: #fffd85;
				transition: .2s ease-in-out;
					-webkit-transition: .4s ease-in-out;
					-moz-transition: .4s ease-in-out;
					-ms-transition: .4s ease-in-out;
		}
		&:active {
				background-color: #e5e477;
				text-decoration: none;
		}
	}
}

/*
# Align icons

```
<div class="container">
    <a href="#"><i class="glyphicon glyphicon-save glyphicon-fw">Download</i></a><br />
    <a href="#"><i class="glyphicon glyphicon-flash glyphicon-fw">Bomb</i></a><br />
    <a href="#"><i class="glyphicon glyphicon-heart-empty glyphicon-fw">1UP</i></a><br />
</div>
```
*/
.glyphicon-fw {
  width: 1.28571429em;
  text-align: center;
}
