.box-full {
  > * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: $width;
    @media screen and (max-width: $width) {
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;
    }
  }
}

.box-full-transparent {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: $width;
  @media screen and (max-width: $width) {
    width: 100%;
  }
  @media screen and (max-width: $break) {
    padding: 0 5%;
  }
}

.bnr-1 {
  background-color: #43587e;
  color: #ffffff;
  display: inline-block;
  padding: 2px 20px;
}

.dropdown-menu-dark {
  background-color: #2c2c2c;
  li {
    height: 38px;
    a,
    span {
      color: #ffffff;
      display: inline-block;
      padding: 0 25px;
      width: 100%;
      height: 100%;
      line-height: 39px;
      &:hover {
        background-color: #383838;
        color: #7cdaff;
      }
    }
  }
}

.column-3 {
  @include clearfix;
  li {
    float: left;
    margin-right: percentage(30px/1170px);
    width: percentage(370px/1170px);
    @media screen and (max-width: $break-lg) {
      margin-right: percentage(40px/640px);
      width: percentage(300px/640px);
    }
    @media screen and (min-width: $break-lg) {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: $break-lg) and (min-width: $break-xs) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: $break-xs) {
      float: none;
      margin: 0 auto 20px;
      width: 100%;
    }
  }
}

.column-4 {
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
    font-size: 0;
  }
  li {
    float: left;
    margin-right: percentage(30px/1170px);
    width: percentage(270px/1170px);
    &:nth-child(4n) {
      margin-right: 0;
    }
    @media screen and (max-width: $break) {
      float: none;
      margin: 0 auto 20px;
      width: 100%;
    }
  }
}

.box-1 {
  background-color: #fafafa;
  border: 1px solid #d4d5d7;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  margin-bottom: 25px;
  padding: 70px 30px 40px;
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    color: #43587e;
    font-size: 24px;
    @media screen and (max-width: $break) {
      font-size: 32px;
    }
  }
}

.box-uservoices {
  padding-top: 70px;
  padding-bottom: 100px;
  width: 920px;
  @include clearfix;
  @media screen and (max-width: 920px) {
    width: 100%;
  }
  > h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 36px;
  }
  > .uservoice {
    float: left;
    font-size: 16px;
    margin-right: percentage(40px/920px);
    width: percentage(440px/920px);
    text-align: left;
    @media screen and (max-width: $break) {
      float: none;
      margin-right: 0;
      margin-bottom: 40px;
      width: 100%;
    }
    + .uservoice {
      margin-right: 0;
    }
    > .uservoice-balloon {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ccc;
      position: relative;
      padding: 34px 50px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
      &:after {
        position: absolute;
        bottom: -12px;
        left: 60px;
        background-color: #ffffff;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        transform: rotate(45deg);
        width: 20px;
        height: 20px;
        content: '';
      }
      q {
        color: #333;
        font-weight: 600;
        line-height: 1.8;
        position: relative;
        white-space: normal;
        &:before,
        &:after {
          content: '';
          position: absolute;
          width: 32px;
          height: 26px;
        }
        &:before {
          background: url(../img/common/icn_quote_left.png) no-repeat left top;
          left: -36px;
          top: -14px;
        }
        &:after {
          background: url(../img/common/icn_quote_right.png) no-repeat left top;
        }

      }
    }
    > .uservoice-user {
      background: url(../img/index/user_icon.png) no-repeat 38px 25px;
      height: 100px;
      padding: 34px 0 0 120px;
      @media screen and (max-width: $break) {
        background-position: 0 25px;
        padding-left: 80px;
      }
      > .uservoice-name {
        font-weight: 600;
        font-size: 18px;
      }
      > .uservoice-organization {
        font-weight: 300;
        font-size: 16px;
      }
    }

  }
}

.box-examples {
  background: url(../img/index/examples_bg.jpg) no-repeat left top;
  background-size: cover;
  border-top: 1px solid #cdd1d6;
  border-bottom: 1px solid #cdd1d6;
  height: 428px;
  padding: 30px 5%;
  text-align: center;
  > h2 {
    font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    > strong {
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  p {
    padding-top: 20px;
  }
}

.box-partners {
  text-align: center;
  border-top: 1px solid #cdd1d6;
  border-bottom: 1px solid #cdd1d6;
  background-color: #F9FAFC;
  overflow: hidden;
}

.box-awards {
  height: 200px;
  margin: 0 auto;
  position: relative;
  padding-top: 80px;
  overflow: hidden;
  @include clearfix;
  ul {
    float: left;
    position: relative;
    left: 50%;
    li {
      position: relative;
      left: -50%;
      float: left;
      margin-right: 42px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: $break) {
    width: 100%;
    height: auto;
    ul {
      float: none;
      left: auto;
      li {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        left: auto;
        float: left;
        margin: 0 0 20px;
        padding: 0 20px;
        text-align: center;
        width: 50%;
        min-height: 113px;
        line-height: 113px;
        img {
          vertical-align: middle;
        }
      }
    }
  }
}