/*
# Main Section

```
<section>
    <h1>Heading 1</h1>
    <h1 class="small">Gentle small heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, deserunt, nisi. Suscipit delectus ad voluptatem modi possimus vitae eius libero neque, placeat laboriosam minima, atque et culpa facilis molestias quod.</p>
</section>
```
*/
body {
  visibility: hidden;
}
#grid{
  padding-top: 45px;
  padding-bottom: 0px;
}
section,
div.section {
  margin-left: auto;
  margin-right: auto;
  padding: 90px 0 80px;
  position: relative;
  width: $width;
  @media screen and (max-width: $break-xl) {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: $break) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: $break-xs) {
      font-size: 32px;
    }
    &.small {
      font-size: 26px;
    }
  }
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: $break-xs) {
      font-size: 20px;
    }
  }
  h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 34px;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: $break-xs) {
      font-size: 20px;
    }
  }
  p {
    color: #666;
    line-height: 1.8;
    margin: 0 auto 50px;
    text-align: left;
    max-width: 580px;
    //word-break: break-all;
    @media screen and (max-width: 580px) {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

article.main section {
  border-bottom: 1px solid #ccc;
}

/*
# Main Container

```
<div class="container box-full">
    <p>Yeah</p>
</div>
```
*/
.container {
  padding-left: 0;
  padding-right: 0;
  min-width: $width;
  width: auto;
  @media screen and (max-width: $break-xl) {
    padding-left: 4.4%;
    padding-right: 4.4%;
    width: 100%;
    min-width: 0;
  }
}



/*
# Keyvisual

```
<div class="keyvisual box-full">
    <div>
        <h1>
            Title<br/>
            <span>Some subtitles</span>
        </h1>
        <div class="btns">
                <a href="#" class="btn btn-green">Try it!</a>
        </div>
    </div>
</div>
```
*/
.keyvisual {
  height: 540px;
  @media screen and (max-width: $break) {
    height: auto;
  }
  h1 {
    font-size: 54px;
    line-height: 1.18;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: $break-xs) {
      font-size: 34px;
    }
  }
  .btns {
    .btn {
      font-size: 24px;
      font-weight: 400;
      height: 64px;
      line-height: 64px;
    }
  }
}

/*
# Full-width container

```
 <div class="box-full">
    <div>
        Something
    </div>
 </div>
```
*/

.box-full {
  > * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: $width;
    @media screen and (max-width: $break-xl) {
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;
    }
  }

  .panel-grid{
      padding: 0px 0px;
      text-transform: none !important;
      zoom: 1;
      margin-left: -15px;
      margin-right: -15px;
      display: block;
  }
  .panel-grid-cell{
      padding: 0px 30px 45px 30px;
      float: left;
      width:  50%;
      min-width: 450px;
      box-sizing: border-box;
      min-height: 1em;
      display:block;
      @media screen and (max-width: 1000px) {
          float: none;
          padding: 0px 5% 45px 5%;
          width:  100%;
      }           
  }
  .panel-header{
    vertical-align: middle;
    text-align: left;
    margin-top: -10px; 
    font-size: 20px; 
    color: #248cc8;
    margin-bottom: 12px;
    font-family: "Helvetica Neue";
    >.header_right {
      font-size: 14px;
      float: right;
      vertical-align: super !important;
      >a{
        line-height: 24px;
        display: block;
        >.htext {
          vertical-align: text-bottom;
        }
        >.himg {
            margin-left: 5px;
        }
      }
      
    }
    >.header_left {
      float: left;
    
    }
  }
  .events-entries {
      
      table-layout: fixed;
      width: 100%;

      > .events-entry {
          border-bottom: 1px solid #eef0f5;
          

          > th{ 
              text-align: left;   
              vertical-align: middle;
              padding: 8px 20px 8px 0px;
              font-size: 13px;
              font-weight: 400;
              line-height: 20px;
              color: #999999;
              width: 102px;
              @media screen and (max-width: $break) {
                  padding: 15px 0 0 10px;
                  text-align: left;
                  width: 100px;

              }
          }
          >.events-entry-comment {
              width: 100%;
              vertical-align: middle;
              padding: 8px 8px;

              .event-entry-comment-body{
              display: block;
              white-space: nowrap;
              overflow:hidden !important;
              text-overflow: ellipsis;
              
              }
          }
          >.price {
              vertical-align: middle;
              text-align: right;
              white-space: nowrap;

          }
          >.status_column {
              width: 110px;
              vertical-align: middle;
          }
          > td {
              
              padding: 8px 10px;
              padding-left: 0px;
              font-size: 13px;
              line-height: 20px;
              color: #666666;
              font-weight: bold;
              text-align: left;
              vertical-align: top;
              @media screen and (max-width: $break) {
                  margin-left: 0;
                  padding-top: 4px;
              }
              > span.category-on, > span.category-finished, > span.status-on, > span.status-finished {
                  width: 110px;
                  text-align: center;
                  font-size: 12px;
                  padding: 6px 10px;
                  margin-right: 10px;
                  display: inline-block;
                  border-radius: 2px;
                  line-height: 12px;
                  float: left;
                  @media screen and (max-width: $break) {
                      float: none;
                      margin-bottom: 3px;
                      margin-top: 8px;
                  }
              }
              > span.category-on {
                  color: #ffffff;
                  background-color: #6EB063;
                  

              }
              > span.category-finished {
                  color: #666666;
                  background-color: #e3e3e3;
                 
              }
              > span.status-on {
                  color: #6eb063;
                  background-color: #ffffff;
                  font-weight: 700;
                  border: solid 2px #6eb063;
              }
              > span.status-finished {
                  color: #ffffff;
                  background-color: #666666;
              }
             
          }

      }
  }
  .headline-entries {
    

    > .headline-entry-submit {
      align: "right";
      border-bottom: 1px solid #eef0f5;
      text-align: right;
      
      .btn-blue {
          align:"right";
          font-size: 16px;
      }
      
    }
    > .headline-entry {
      
      border-bottom: 1px solid #eef0f5;

      > .headline-entry-toggle {
          float: right;
          width: 16px;
          height: 16px;
          margin: 14px 10px;
          cursor: pointer;
      }
      > dl {
        > dt {
            width: 100px;
            float: left;
            padding: 10px 10px 10px 0px;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            color: #999999;
            @media screen and (max-width: $break) {
                padding: 15px 0 0 10px;
                text-align: left;
                width: 100px;

            }
        }
        > dd {
          display: block;
          margin-left: 100px;
          padding: 10px 10px;
          font-size: 13px;
          line-height: 20px;
          color: #666666;
          font-weight: bold;
          text-align: left;
          @media screen and (max-width: $break) {
              margin-left: 0;
              padding-top: 4px;
          }
          > .headline-entry-comment {
              display: block;
              margin-left: 70px;
              @media screen and (max-width: $break) {
                  margin-left: 0;
                  
              }
          }
          > .headline-entry-comment-news {
              display: block;
              white-space: nowrap;
              overflow:hidden !important;
              text-overflow: ellipsis;
          }
          > span.status-solved, > span.status-fixing, > span.status-reported {
              font-size: 12px;
              padding: 6px 10px;
              margin-right: 15px;
              display: inline-block;
              border-radius: 2px;
              line-height: 12px;
              float: left;
              @media screen and (max-width: $break) {
                  float: none;
                  margin-bottom: 3px;
                  margin-top: 8px;
              }
          }
          > span.status-solved {
              color: #e0f1e5;
              background-color: #6EB063;
          }
          > span.status-fixing {
              color: white;
              background-color: #d35052;
          }
          > span.status-reported {
              color: #66571b;
              background-color: #e5c43c;
          }
        }
      }
      > .headline-sub-entries {
        > dl {
          margin-left: 60px;
          border-top: 1px solid #eee;
          @media screen and (max-width: $break) {
              margin-left: 30px;
              margin-right: 10px;
          }
          > dt {
              float: left;
              overflow: hidden;
              padding: 8px 10px;
              font-size: 10px;
              font-weight: 400;
              line-height: 20px;
              color: #666;
              width: 160px;
              @media screen and (max-width: $break) {
                  float: none;
                  font-weight: 700;
                  padding-left: 10px;
                  padding-bottom: 5px;
                  text-align: left;
              }
          }
          > dd {
              margin-left: 160px;
              padding: 8px 35px 8px 10px;
              font-size: 13px;
              line-height: 20px;
              color: #666;
              text-align: left;
              @media screen and (max-width: $break) {
                  margin-left: 0;
                  padding-top: 0;
              }
          }
          &:last-child > dd {
              padding-bottom: 15px;
          }
        }
      }
    }
  }
}

/*
# Language specific display

```
<p class="visible-ja">Japanese only</span>
<p class="visible-en">English only</span>
```
*/
html[lang=en] .visible-ja {
  display: none;
}

html[lang=ja] .visible-en {
  display: none;
}

/*
# Ultramarine box

This items are used in top page

```
<span class="bnr-1">Enterprise</span>
```
*/
.bnr-1 {
  background-color: #43587e;
  color: #ffffff;
  display: inline-block;
  padding: 2px 20px;
}

/*
# Dark dropdown menu

```
<div style="height:160px;">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dogs</a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="#">Shiba</a></li>
            <li><a href="#">Corgy</a></li>
            <li><span>Akita with no link</span></li>
        </ul>
    </div>
</div>
```
*/
.dropdown-menu-dark {
  background-color: #2c2c2c;
  li {
    color: #ffffff;
    height: 38px;
    a,
    span {
      color: #ffffff;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      padding: 0 25px;
      width: 100%;
      height: 100%;
      line-height: 39px;
      &:hover,
      &.active {
        background-color: #383838;
        color: #7cdaff;
      }
    }
  }
}

/*
# 2-column boxes

goes 1-column in responsive

```
<ul class="column-2" style="height:280px;" >
    <li class="box-1">
        <img src="http://lorempixel.com/g/400/240/animals/" />
    </li>
    <li class="box-1">
        <img src="http://lorempixel.com/g/400/240/animals/" />
    </li>
</ul>
```
*/
.column-2 {
  @include clearfix;
  li {
    float: left;
    margin-right: percentage(50px/1170px);
    margin-bottom: 20px;
    width: percentage(560px/1170px);
    &:nth-child(2n) {
      margin-right: 0;
    }
    @media screen and (max-width: $break-xs) {
      float: none;
      margin: 0 auto 20px;
      width: 100%;
    }
  }
}

/*
# 3-column boxes

Goes 2 to 1-column in responsive

```
<ul class="column-3" style="height:580px;" >
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
</ul>
```
*/
.column-3 {
  @include clearfix;
  li {
    float: left;
    margin-right: percentage(30px/1170px);
    width: percentage(370px/1170px);
    @media screen and (max-width: $break-lg) {
      margin-right: percentage(40px/640px);
      width: percentage(300px/640px);
    }
    @media screen and (min-width: $break-lg) {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: $break-lg) and (min-width: $break-xs) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: $break-xs) {
      float: none;
      margin: 0 auto 20px;
      width: 100%;
    }
  }
}

/*
# 4-column boxes

Goes 2 to 1-column in responsive

```
<ul class="column-4" style="height:580px;" >
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
    <li class="box-1">
        <img src="http://lorempixel.com/g/640/300/animals/" />
    </li>
</ul>
```
*/
.column-4 {
  @include clearfix;
  li {
    float: left;
    margin-right: percentage(30px/1170px);
    width: percentage(270px/1170px);
    &:nth-child(4n) {
      margin-right: 0;
    }
    @media screen and (max-width: $break) {
      float: none;
      margin: 0 auto 20px;
      width: 100%;
    }
  }
}

/*
# Bordered boxes

```
<div class="box-1">
    <img src="http://lorempixel.com/g/640/300/animals/" style="width:640px;height:300px;"/>
</div>
```
*/
.box-1 {
  background-color: #fafafa;
  border: 1px solid #d4d5d7;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  margin-bottom: 25px;
  padding: 45px 30px 40px;
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    color: #43587e;
    font-size: 24px;
    @media screen and (max-width: $break) {
      font-size: 32px;
    }
  }
}

/*
# Users' voices

```
<div class="container box-uservoices">
    <h2>User Testimonials</h2>
    <ul class="column-2">
        <li>
            <div class="uservoice-balloon" tile="2">
                <q>Awesome!</q>
            </div>
            <div class="uservoice-user">
                <div class="uservoice-organization">Shiba inu inc.</div>
                <div class="uservoice-name">Shiba Jiro</div>
            </div>
        </li>

        <li>
            <div class="uservoice-balloon" tile="2">
                <q>Sooooooo fancy!</q>
            </div>
            <div class="uservoice-user">
                <div class="uservoice-organization">Akita corp.</div>
                <div class="uservoice-name">Akita Taro</div>
            </div>
        </li>
    </ul>
</div>
```
*/
.box-uservoices {
  padding-top: 70px;
  padding-bottom: 100px;
  > h2 {
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin-bottom: 36px;
  }
  li,
  .uservoice {
    float: left;
    font-size: 16px;
    margin-bottom: 40px;
    text-align: left;
    > .uservoice-balloon {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ccc;
      position: relative;
      padding: 34px 50px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
      &:after {
        position: absolute;
        bottom: -12px;
        left: 60px;
        background-color: #ffffff;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 20px;
        height: 20px;
        content: '';
      }
      q {
        color: #333;
        font-weight: 600;
        line-height: 1.8;
        position: relative;
        white-space: normal;
        &:before,
        &:after {
          content: '';
          position: absolute;
          width: 32px;
          height: 26px;
        }
        &:before {
          background: url(../img/common/icn_quote_left.png) no-repeat left top;
          left: -36px;
          top: -14px;
        }
        &:after {
          background: url(../img/common/icn_quote_right.png) no-repeat left top;
        }
      }
    }
    > .uservoice-user {
      background: url(../img/index/user_icon.png) no-repeat 38px 25px;
      height: 100px;
      padding: 34px 0 0 120px;
      &.user-1 {
        background: url(../img/index/user_icon_1.png) no-repeat 38px 25px;
      }
      &.user-2 {
        background: url(../img/index/user_icon_2.png) no-repeat 38px 25px;
      }
      &.user-3 {
        background: url(../img/index/user_icon_3.png) no-repeat 38px 25px;
      }
      > .uservoice-name {
        font-weight: 600;
        font-size: 18px;
      }
      > .uservoice-organization {
        font-weight: 300;
        font-size: 16px;
      }
    }
  }

  .column-2 .box-uservoices {
    @media screen and (max-width: $break-xs) {
      .uservoice-balloon {
        height: auto !important;
      }
    }
  }
  .column-3 .box-uservoices {
    @media screen and (max-width: $break-xl) {
      li {
        float: none;
        margin: 0 auto 20px;
        width: 100%;
      }
      .uservoice-balloon {
        height: auto !important;
      }
      .uservoice-user {
        padding-left: 120px;
      }
    }
  }
}

/*
# Some components on the top page
*/
.box-examples {
  background: url(../img/index/examples_bg.jpg) no-repeat left top;
  background-size: cover;
  border-top: 1px solid #cdd1d6;
  border-bottom: 1px solid #cdd1d6;
  padding: 30px 5%;
  text-align: center;
  > h2 {
    font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 22px;
    > strong {
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  p {
    padding-top: 20px;
  }
}

.box-partners {
  background-color: #F9FAFC;
  border-top: 1px solid #cdd1d6;
  border-bottom: 1px solid #cdd1d6;
  text-align: center;
  overflow: hidden;
  padding: 0;
}

.box-awards {
  height: 200px;
  margin: 0 auto;
  position: relative;
  padding-top: 80px;
  overflow: hidden;
  @include clearfix;
  ul {
    float: left;
    position: relative;
    left: 50%;
    @include clearfix;
    li {
      position: relative;
      left: -50%;
      float: left;
      margin-right: 42px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: $break) {
    width: 100%;
    height: auto;
    ul {
      float: none;
      left: auto;
      li {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        left: auto;
        float: left;
        margin: 0 0 20px;
        padding: 0 30px;
        text-align: center;
        width: 50%;
        min-height: 113px;
        line-height: 113px;
        img {
          vertical-align: middle;
        }
      }
    }
  }
}

/*
# Buttons box on page bottom

```
<div class="container box-try">
    <a href="#" class="btn btn-green">Try it!</a>
</div>
```
*/
.box-try {
  padding: 140px 0;
  .btn {
    font-size: 24px;
    font-weight: 400;
    font-family: Open Sans,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    height: 64px;
    line-height: 64px;
    padding: 0 auto;
    margin: 0 10px;
    min-width: 240px;
  }
  @media screen and (max-width: $break-xs) {
    padding: 80px 0;
    .btn {
      display: block;
      margin: 0 auto 20px;
      width: 80%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.form-error {
  display: none;
}

#notificationHeader {
  margin-bottom: -80px;
  background-color: #e5e477;
  position: relative;
  z-index: 50;
  @media screen and (max-width: $break) {
    margin-bottom: -50px;
  }
  a {
    color: #333;
    text-decoration: none;
    padding: 65px 0 15px;
    display: block;
    background-color: #e5e477;
    .monaca_info {
      width: 1080px;
      margin: 0 auto;
      @media screen and (max-width: 1200px) {
        width: 100%;
        padding: 0 3%;
      }
      @media screen and (max-width: $break) {
        width: 100%;
        padding: 0 3%;
        text-align: left;
      }
    }
    &:hover {
      text-decoration: underline;
      background-color: #fffd85;
      transition: .2s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -ms-transition: .4s ease-in-out;
    }
    &:active {
      background-color: #e5e477;
      text-decoration: none;
    }
  }
	h2 {
		font-size: 14px;
		line-height: 1.4;
		font-weight: 400;
		color: #333;
		text-align: center;
		padding: 0 40px;
		@media screen and (max-width: $break) {
				padding: 0 5%;
				font-size: 12px;
		}
	}
}

/*
# Important Information
# for New Plan in 201704

```
<div class="container box-try">
    <a href="#" class="btn btn-green">Try it!</a>
</div>
```
*/
.cmn-important-info {
  background-color: #fae8e8;
  width: 100%;
  margin-top: 50px;
  z-index: 50;
  &:hover {
    background-color: #fac8c8;
    transition: .2s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
  }
  &:active {
    background-color: #fac8c8;
  }

  a {
    text-decoration: none;

    h2{
      color: #a42d2d !important;
      font-family: Helvetica,Arial,sans-serif;
      font-size: 16px !important;
      padding: 24px 0 22px;
      margin: 0 !important;
      span.cmn-ipt-udt-linktext { color: #337ab7 !important; }
      @media screen and (max-width: $break) {
        line-height: 1.4em;
      }
    }

    &:hover {
      text-decoration: none;
      h2 span.cmn-ipt-udt-linktext { text-decoration: underline; }
    }
  }
}

.cmn-info-middle {
  @media screen and (max-width: $width) {
    padding-left: 3%;
    padding-right: 3%;
  }
  .cmn-important-info {
    border: solid 1px #a42d2d;
    margin-bottom: 50px;
  }
}
            
/*
# Label

```
<h1><span class="label color-red">Red</span>Example h1</h1>
```
*/
.cmn-label { 
  box-sizing: border-box;
  border-radius: 0.2em;
  padding: 0.56em 0.8em 0.28em;
  margin: 0 0.84em 0 0;
  text-align: center;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  display: inline;
  white-space: nowrap;
  vertical-align: baseline;
  position: relative;
  top: -0.15em;
  background-color: #666666;
  color: #ffffff;

  &.color-red { background-color: #d35052; }
  &.color-green { background-color: #6eb063; color: #e0f1e5; }
  &.color-white-greenline { background-color: #ffffff; color: #6eb063; border: solid 2px #6eb063; }
  &.color-yellow { background-color: #e5c43c; color: #66571b; }
  &.color-lightgray { background-color: #e3e3e3; color: #666666; }
}