body.debugger {

  .keyvisual {
    background: url(../img/debugger/keyvisual.jpg) no-repeat left bottom, url(../img/debugger/keyvisual_bg.png) repeat-x left bottom;
    color: #000;
    height: 540px;
    padding-bottom: 0;
    position: relative;
    h1 {
      font-size: 54px;
      font-weight: 400;
      line-height: 65px;
      margin-bottom: 10px;
      padding-top: 140px;
      text-align: left;
      img {
        vertical-align: 4px;
      }
    }
    p {
      font-size: 20px;
      text-align: left;
      width: 420px;
      word-break: break-all;
    }
    .btns {
      line-height: 64px;
      padding-top: 40px;
      width: 500px;
      img {
        margin-right: 10px;
        width: 135px;
      }
    }
  }

  article.main {
    section {
      h1 {
        text-align: center;
      }
      h2 {
        color: #666;
        font-size: 30px;
      }
      p {
        margin-bottom: 30px;
        text-align: center;
        width: 580px;
      }
      &.integration {
        background: url(../img/debugger/img_3.png) no-repeat center 330px;
        background-size: 112%;
        padding-bottom: 70%;
      }
      &.usb {
        background: url(../img/debugger/img_4.png) no-repeat center 330px;
        background-size: 112%;
        padding-bottom: 70%;
      }
      &.collaboration {
        padding: 90px 0;
        .internet {
          background: url(../img/debugger/img_7.png) no-repeat center 240px;
          background-size: 112%;
          border-bottom: none;
          padding: 60px 5% 92%;
        }
        .communication {
          padding-top: 0;
        }
      }
    }
    .box-try {
      padding: 40px 0;
      a img {
        margin: 0 10px;
        width: 135px;
      }
    }
  }

}