body.dev-support {

  .keyvisual {
    background: url(../img/localkit/keyvisual.jpg) no-repeat center bottom, url(../img/localkit/keyvisual_bg.png) repeat-x left bottom;
    color: #000;
    padding-bottom: 0;
    position: relative;
    @media screen and (max-width: $break-xs) {
      padding-bottom: 40px;
    }
    h1 {
      margin-bottom: 10px;
      padding-top: 140px;
      text-align: left;
      text-shadow: 0 0 10px rgba(255, 255, 255, 1);
      @media screen and (max-width: $break-xs) {
        padding-top: 100px;
      }
      img {
        vertical-align: 4px;
      }
    }
    p {
      font-size: 20px;
      color: #666;
      text-align: left;
      word-break: break-all;
    }
  }

  article.main {
    section {
      border-bottom: 1px solid #ccc;
      padding: 90px 0 80px;
      &:first-child {
        padding-top: 140px;
      }
      h1 {
        text-align: center;
      }
      p {
        margin-bottom: 30px;
      }
      &.debug {
        background: url(../img/localkit/img_3.png) no-repeat center bottom 20px;
        background-size: 110%;
        padding-bottom: 50%;
      }
    }
    .box-try {
      padding: 140px 0;
      .btn {
        padding: 0 40px;
        min-width: 210px;
      }
    }
  }

}