body.devsupport {

  .keyvisual {
    background: url(../img/devsupport/keyvisual.jpg) no-repeat center bottom;
    padding-bottom: 0px;
    position: relative;
    @media screen and (max-width: $break-xs) {
        padding-bottom: 30px;
    }
    h1 {
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 10px;
      padding-top: 110px;
      text-align: left;
      @media screen and (max-width: $break-xs) {
        padding-top: 100px;
      }
      img {
        vertical-align: 4px;
      }
    }
  }

  section {
    h1 {
      margin-bottom: 40px;
    }
  }

  section.menu {
    @media screen and (max-width: $break) {
      padding-left: 0;
      padding-right: 0;
      h1 {
        padding-left: 5%;
        padding-right: 5%;      
      }
    }
    table {
      width: 100%;
      thead {
        td {
          background-color: #f2f2f2;
          border: 1px solid #cccccc;
          font-size: 30px;
          padding: 40px 0;
          text-align: center;
        }
      }
      tbody {
        tr {
          height: 140px;
          &:last-child th {
            border-bottom: 1px solid #cccccc;
          }
          &.tech li {
            display: inline-block;
            white-space: nowrap;
            width: 190px;
            max-width: 33%;
          }
        }
        th {
          font-size: 24px;
          padding: 0 5px 0 0;
          vertical-align: top;
          width: 36%;
          @media screen and (max-width: $break-xs) {
              width: 24%;
          }
          > span {
            border-top: 1px solid #cccccc;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: inline-block;
            padding: 20px 5px;
            width: 100%;
            height: 100%;
          }
        }
        td {
          border: 1px solid #cccccc;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.6;
          padding: 20px;
          width: 32%;
          p {
            font-weight: 400;
            line-height: 1.6;
            margin-bottom: 20px;
          }
          ul {
            margin-bottom: 20px;
            li {
              line-height: 1.6;
              margin-bottom: 6px;
              text-indent: -1em;
              padding-left: 1em;
              &:before {
                content: "ãƒ»";
              }
            }
          }
        }
      }
      @media screen and (max-width: $break) {
        thead td {
          font-size: 16px;
        }
        tbody {
          th {
            font-size: 14px;
            word-break: break-word;
          }
          td {
            font-size: 14px;
            word-break: break-word;
          }
          tr.tech ul li {
            display: block;
          }
        }
      }
    }
  }
}
