body.enterprise {

  .keyvisual {
    background: url(../img/enterprise/keyvisual.jpg) no-repeat center bottom, #1e212e;
    color: #ffffff;
    height: 540px;
    padding-bottom: 0;
    position: relative;
    h1 {
      font-size: 54px;
      font-weight: 400;
      line-height: 65px;
      margin-bottom: 10px;
      padding-top: 110px;
      text-align: left;
      img {
        vertical-align: 4px;
      }
    }
    p {
      font-size: 20px;
      text-align: left;
      width: 420px;
      word-break: break-all;
    }
		div.box-try-left.box-btn {
		  text-align: left;
			padding: 50px 0 0;
		  .btn {
		    padding: 0 20px;
			  min-width: 200px;
		  	margin: 0 15px 20px 0;
		  }
		}
  }

  article.main {
    section {
      * + h2 {
        margin-top: 100px;
      }
			p {
			  text-align: left;
			}
    }
    .box-try {
      padding: 140px 0;
      .btn {
        font-size: 24px;
        font-weight: 400;
        height: 64px;
        line-height: 64px;
        padding: 0 40px;
        margin: 0 10px;
				min-width: 240px;
      }
    }
  }
}