footer.common {
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 16px;
    margin: 0 auto;
    padding: 32px 0 0 0;
    text-align: center;
    width: 1170px;
    @media screen and (max-width: $break-xl) {
        padding-bottom: 30px;
        width: 100%;
    }
    a {
        color: #666;
    }
    p {
        margin: 24px 0;
    }
    ul {
        margin-bottom: 14px;
        li {
            display: inline-block;
            list-style-type: none;
            margin: 0 10px 14px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .container {
        width: auto;
    }
    .copyright {
        font-size: 14px;
        text-align: center;
        a {
            text-decoration: underline;
            &:visited, &:link {
                text-decoration: underline;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    .footer-social-icon {
        display: inline-block;
        margin: 0 14px;
        vertical-align: middle;
    }
}

html[lang=en] > body > footer {
  padding-bottom: 0;
  border-top: none;

  @media screen and (max-width: 1300px) {
    width: 1070px;
  }

  @media screen and (max-width: 1170px) {
    width: 100%;
  }

  @media screen and (max-width: $break-xl) {
    padding-bottom: 0;
  }
}

html[lang=en] > body > footer > div {
  padding: 60px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  text-align: left;
  border-top: none;

  .copyright {
    padding: 0;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    width: 100%;

    p {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: flex-start;
      padding: 0 50px;

      @media screen and(max-width: 520px){
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 10px;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
      }
    }

    img {
      padding: 0;

      &.monaca {
        padding-left: 10px;
      }

      &.onsenui {
        padding-right: 10px;
      }
    }
  }

  .social-media {
    text-align: center;
    width: 1170px;
    margin: 40px 0;

    ul, ul > li {
      margin: 0;
    }

    ul > li {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      display: block;
      height: 35px;
      width: 34px;
    }

    a.twitter {
      background: url(/img/footer/ico_twitter.png) no-repeat;

      &:hover {
        background: url(/img/footer/ico_twitter_hover.png) no-repeat;
        opacity: 0.7;
      }
    }

    a.github {
      background: url(/img/footer/ico_github.png) no-repeat;

      &:hover {
        background: url(/img/footer/ico_github_hover.png) no-repeat;
        opacity: 0.7;
      }
    }

    a.facebook {
      background: url(/img/footer/ico_facebook.png) no-repeat;

      &:hover {
        background: url(/img/footer/ico_facebook_hover.png) no-repeat;
        opacity: 0.7;
      }
    }

    a.stackoverflow {
      background: url(/img/footer/ico_stackoverflow.png) no-repeat;

      &:hover {
        background: url(/img/footer/ico_stackoverflow_hover.png) no-repeat;
        opacity: 0.7;
      }
    }
  }

  li {
    margin: 10px 0;
  }

  h3 {
    width: 100%;
    color:  #333333;
    font-size: 18px;
    line-height: 33px;
    text-align: left;
    margin-bottom: 26px;
  }

  > div:nth-child(1) {
    max-width: 420px;
    padding-right: 36px;
    border-right: 1px solid #e5e5e5;

    > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: flex-start;

      > li {
        min-width: 173px;
        margin-right: 18px;
        > a:hover {
          opacity: 0.7;
        }
      }
    }

    @media screen and (max-width: 1090px) {
      max-width: 100%;
      width: 100%;
      padding: 0 50px;
      border-right: none;
    }

    @media screen and (max-width: 800px) {
      padding: 0 5%;
    }
  }

  > div:nth-child(2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    width: calc(100% - 420px - 40px);
    margin-left: 18px;

    @media screen and (max-width: 1090px) {
      max-width: 100%;
      width: 100%;
      padding: 0 50px;
      margin-left: 0;
    }

    @media screen and (max-width: 800px) {
      padding: 0 5%;
    }

    > div {
      width: calc(100%/4 - 18px);
      margin-right: 18px;

      @media screen and (max-width: 640px) {
        width: 200px;
        margin: 0;
      }

      @media screen and (max-width: 540px) {
        width: 50%;
      }

      &:last-child {
        margin-right: 0;
      }

      > ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: flex-start;
        -ms-align-items: flex-start;
        align-items: flex-start;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        li {
          color:  #999999;
          font-size: 12px;
          text-align: left;
        }
      }
    }
  }
}

html[lang=ja] footer.v2-section--footer {
  margin: 0 auto;
  max-width: 1024px;
  //background-color: cyan;
  text-align: left;

  > .v2-section--footer__sitemap-wrapper {
    margin: 32px 32px 0 32px;

    // In PC mode
    @media screen and (min-width: $v2-break-tablet + 1) {
      > .v2-section--footer__sitemap {
        display: flex;
        flex-flow: row nowrap;
        
        > .v2-section--footer__sitemap-block {
          flex: 1;
          width: 25%;
          
          > .v2-section--footer__sitemap-category {
            padding: 0 32px 24px 32px;
            background-color: white; //debug
            
            > .v2-section--footer__sitemap-category-header {
              padding: 5px 0;
              font-size: 16px;
              font-weight: 700;
              color: #333;

              > .caret {
                display: none;
              }
            }
            
            > .v2-section--footer__sitemap-item {
              padding: 6px 0;
              line-height: 16px;
              font-size: 14px;
              font-weight: 400;

              > a {
                color: #6e7780;
              }

              &.section-header:before {
                  content: ' ';
                  display: block;
                  height: 1px;
                  margin: 3px 0 14px 0;
                  background-color: #e5e5e5;
              }
            }
          }

          > .v2-section--footer__language-switch {
            padding: 11px 0 0 32px;
            font-size: 16px;
            font-weight: 400;

            > a {
              color: #6e7780;
            }
          }
        }
      }
    }
    // In smartphone/tablet mode
    @media screen and (max-width: $v2-break-tablet) {
      > .v2-section--footer__sitemap {
        > .v2-section--footer__sitemap-block {
          > .v2-section--footer__sitemap-category {
            &:not(.open) {
              > .v2-section--footer__sitemap-category-header {
                position: relative;
                border-top: 1px solid #e5e5e5;
                padding: 11px 0;
                font-size: 14px;
                font-weight: 700;
                color: #333;

                > .caret {
                  display: inline-block;
                  
                  position: absolute;
                  top: 50%;
                  right: 24px;

                  margin: 0;
                  margin-top: -2px;
                  margin-left: 5px;
                  border-top: 5px dashed;
                  border-right: 5px solid transparent;
                  border-left: 5px solid transparent;
                  padding: 0;
                  width: 0;
                  height: 0;

                  transition: transform .15s ease-in;
                }
                
                &:hover {
                  cursor: pointer;
                }
              }
  
              > .v2-section--footer__sitemap-item {
                display: none;
              }
            }
            &.open {
              > .v2-section--footer__sitemap-category-header {
                position: relative;
                border-top: 1px solid #e5e5e5;
                padding: 11px 0;
                font-size: 14px;
                font-weight: 700;
                color: #333;

                > .caret {
                  display: inline-block;

                  position: absolute;
                  top: 50%;
                  right: 24px;

                  margin: 0;
                  margin-top: -2px;
                  margin-left: 5px;
                  border-top: 5px dashed;
                  border-right: 5px solid transparent;
                  border-left: 5px solid transparent;
                  padding: 0;
                  width: 0;
                  height: 0;

                  transition: transform .15s ease-in;
                  transform: rotate(-180deg);
                }
                
                &:hover {
                  cursor: pointer;
                }
              }
  
              > .v2-section--footer__sitemap-item {
                font-size: 14px;
                font-weight: 400;

                &:nth-child(2) {
                  border-top: 1px solid #e5e5e5;
                  padding-top: 7.5px;
                }

                &:last-child() {
                  padding-bottom: 5.5px;
                }
  
                > a {
                  display: inline-block;
                  padding: 11.5px 0 11.5px 21px !important;
                  width: 100%;
                  height: 100%;
                  color: #6e7780;

                  &:hover {
                    background-color: #eee;
                    text-decoration: none;
                  }
                }
              }
            }
          }
          > .v2-section--footer__language-switch {
            border-top: 1px solid #e5e5e5;
            font-size: 14px;
            font-weight: 700;

            > a {
              display: inline-block;
              padding: 11px 0;
              width: 100%;
              height: 100%;
              color: #333;
            }
          }
        }
      }
    }
    // In smartphone mode
    @media screen and (max-width: $v2-break-smartphone) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  > .v2-section--footer__copyright {
    // In PC mode
    @media screen and (min-width: $v2-break-tablet + 1) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 85px 32px 0 32px;
      height: 60px;
      color: #6e7780;
      font-size: 14px;
      letter-spacing: -0.04em;

      a {
        color: #6e7780;
      }
    }
    // In smartphone/tablet mode
    @media screen and (max-width: $v2-break-tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      height: 60px;
      color: #6e7780;
      font-size: 12px;
      letter-spacing: -0.04em;

      a {
        color: #6e7780;
      }
    }
  }
}
