footer.common {
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 16px;
    margin: 0 auto;
    padding: 32px 0 0 0;
    text-align: center;
    width: 1170px;
    @media screen and (max-width: $break-xl) {
        padding-bottom: 30px;
        width: 100%;
    }
    a {
        color: #666;
    }
    p {
        margin: 24px 0;
    }
    ul {
        margin-bottom: 14px;
        li {
            display: inline-block;
            list-style-type: none;
            margin: 0 10px 14px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .container {
        width: auto;
    }
/*    .copyright {
        font-size: 14px;
        text-align: center;
        a {
            text-decoration: underline;
            &:visited, &:link {
                text-decoration: underline;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }*/
/*     .footer-social-icon {
        display: inline-block;
        margin: 0 14px;
        vertical-align: middle;
    } */
}

html[lang=en] > body > footer {
  padding-bottom: 0;
  border-top: none;

  @media screen and (max-width: 1300px) {
    width: 1070px;
  }

  @media screen and (max-width: 1170px) {
    width: 100%;
  }

  @media screen and (max-width: $break-xl) {
    padding-bottom: 0;
  }
}

html[lang=en] > body > footer > div {
  padding: 60px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  text-align: left;
  border-top: none;

  .copyright {
    padding: 0;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    width: 100%;

    p {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: flex-start;
      padding: 0 50px;

      @media screen and(max-width: 520px){
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 10px;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
      }
    }

    img {
      padding: 0;

      &.monaca {
        padding-left: 10px;
      }

      &.onsenui {
        padding-right: 10px;
      }
    }
  }

  .social-media {
    text-align: center;
    width: 1170px;
    margin: 40px 0;

    ul, ul > li {
      margin: 0;
    }

    ul > li {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      display: block;
      height: 35px;
      width: 34px;
    }

    a.twitter {
      background: url(/img/footer/ico_twitter.png) no-repeat;

      &:hover {
        background: url(/img/footer/ico_twitter_hover.png) no-repeat;
        opacity: 0.7;
      }
    }

    a.github {
      background: url(/img/footer/ico_github.png) no-repeat;

      &:hover {
        background: url(/img/footer/ico_github_hover.png) no-repeat;
        opacity: 0.7;
      }
    }

    a.facebook {
      background: url(/img/footer/ico_facebook.png) no-repeat;

      &:hover {
        background: url(/img/footer/ico_facebook_hover.png) no-repeat;
        opacity: 0.7;
      }
    }

    a.stackoverflow {
      background: url(/img/footer/ico_stackoverflow.png) no-repeat;

      &:hover {
        background: url(/img/footer/ico_stackoverflow_hover.png) no-repeat;
        opacity: 0.7;
      }
    }
  }

  li {
    margin: 10px 0;
  }

  h3 {
    width: 100%;
    color:  #333333;
    font-size: 18px;
    line-height: 33px;
    text-align: left;
    margin-bottom: 26px;
  }

  > div:nth-child(1) {
    max-width: 420px;
    padding-right: 36px;
    border-right: 1px solid #e5e5e5;

    > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: flex-start;

      > li {
        min-width: 173px;
        margin-right: 18px;
        > a:hover {
          opacity: 0.7;
        }
      }
    }

    @media screen and (max-width: 1090px) {
      max-width: 100%;
      width: 100%;
      padding: 0 50px;
      border-right: none;
    }

    @media screen and (max-width: 800px) {
      padding: 0 5%;
    }
  }

  > div:nth-child(2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    width: calc(100% - 420px - 40px);
    margin-left: 18px;

    @media screen and (max-width: 1090px) {
      max-width: 100%;
      width: 100%;
      padding: 0 50px;
      margin-left: 0;
    }

    @media screen and (max-width: 800px) {
      padding: 0 5%;
    }

    > div {
      width: calc(100%/4 - 18px);
      margin-right: 18px;

      @media screen and (max-width: 640px) {
        width: 200px;
        margin: 0;
      }

      @media screen and (max-width: 540px) {
        width: 50%;
      }

      &:last-child {
        margin-right: 0;
      }

      > ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: flex-start;
        -ms-align-items: flex-start;
        align-items: flex-start;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        li {
          color:  #999999;
          font-size: 12px;
          text-align: left;
        }
      }
    }
  }
}

html[lang=ja] {
  $footer-inner-width: 960px;
  footer.ja-footer {
    // Show only in PC mode
    @media screen and (max-width: 970px) {
      display: none;
    }
    @media screen and (min-width: 971px) {
      display: block;
    }
    padding: 62px 32px 0;
    background-color: #F0F0F0;
    overflow-x: auto;
    > div.ja-footer__columns {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 auto;
      max-width: $footer-inner-width;
      > div.ja-footer__column {
        margin: 0;
        // background-color: rgb(247, 247, 247);
        line-height: 1.5rem;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
        overflow-x: hidden;
        color: #6F777F;
        a {
          color: #6F777F;
          text-decoration: none;
          transition: all 0.3s ease-out;
          &:hover, &:focus {
            color: hsl(210, 7%, 27%); // based on #6F777F equivalent with hsl(210, 7%, 47%)
          }
  
          > .ja-footer__menu-exlink {
              margin-left: 4px;
          }
        }
        &--company {
          margin-top: -18px;
          width: 160px;
          font-size: 11px;
          line-height: 1.6rem;
        }
        &--main {
          width: 147px;
          overflow-x: visible;
        }
        &--solutions {
          width: 189px;
          overflow-x: visible;
        }
        &--showcase {
          width: 400px;
          line-height: 24px;
        }
  
        > div.ja-footer__menu-group {
          margin-bottom: 12px;
          font-weight: bold;
          &.blogs {
            line-height: 1.6rem;
          }
  
          > div.ja-footer__menu-subgroup {
            margin-left: 10px;
            font-weight: normal;
            &.solution {
              margin-left: 0;
              font-weight: bold;
              line-height: 1.6rem;
              &.platform {
                margin-top: 12px;
              }
            }
  
            > div.ja-footer__menu-subsubgroup {
              margin-left: 12px;
              margin-bottom: 10px;
              font-weight: normal;
  
              > div {
                margin-left: 10px;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
    > div.ja-footer__credit {
      margin: 30px auto 0;
      border-top: 1px solid #B3B3B3;
      max-width: $footer-inner-width;
      height: 132px;
      color: #6F777F;
      a {
          color: #6F777F;
          text-decoration: none;
          opacity: 1;
          &:hover, &:focus {
            color: #585E65;
            opacity: 1;
          }
      }
      > div.ja-footer__credit-inquiry-and-lang {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 28px;
        height: 24px;
        font-size: 14px;
        > div.ja-footer__credit-inquiry {
          a.inquiry-button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            margin-left: 15px;
            border-radius: 12px;
            padding: 0 12px;
            height: 24px;
            font-size: 13px;
            font-weight: bold;
            transition: all 0.3s ease-out;
            border: 1px solid rgba(111, 120, 128, 0.5);
            &:hover, &:focus {
              border-color: rgba(111, 120, 128, 0.7);
            }
          }
        }
        > div.ja-footer__credit-lang {
          font-size: 12px;
        }
      }
      > div.ja-footer__credit-copyright-and-sns {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        font-size: 9px;
        > span.ja-footer__credit-twitter {
          position: relative;
          top: 2px;
          margin-left: 29px;
          transition: filter 0.3s ease-out;
          filter: brightness(100%);
          &:hover, &:focus {
            filter: brightness(80%);
          }
        }
        > span.ja-footer__credit-facebook {
          position: relative;
          top: 2px;
          margin-left: 15px;
          transition: filter 0.3s ease-out;
          filter: brightness(100%);
          &:hover, &:focus {
            filter: brightness(80%);
          }
        }
      }
    }
  }
  footer.ja-footer--mobile {
    // Show only in tablet/smartphone mode
    @media screen and (max-width: 970px) {
      display: block;
    }
    @media screen and (min-width: 971px) {
      display: none;
    }
    padding: 26px 30px 107px;
    background-color: #F0F0F0;
    overflow-x: auto;
    > div.ja-footer--mobile__row {
      margin: 0;
      // background-color: rgb(247, 247, 247);
      line-height: 1.5rem;
      font-size: 12px;
      font-weight: normal;
      text-align: left;
      white-space: nowrap;
      overflow-x: hidden;
      color: #6F777F;
      a {
        color: #6F777F;
        text-decoration: none;
        transition: all 0.3s ease-out;
        &:hover, &:focus {
          color: hsl(210, 7%, 27%); // based on #6F777F equivalent with hsl(210, 7%, 47%)
        }

        > .ja-footer--mobile__menu-exlink {
            margin-left: 4px;
        }
      }
      &--main {
        padding-bottom: 27px;
        border-bottom: 2px solid #B3B3B3;
      }
      &--company {
        margin-top: 23px;
        width: 160px;
        font-size: 11px;
        line-height: 1.6rem;
      }

      > div.ja-footer--mobile__menu-group {
        margin-bottom: 2px;
        font-weight: bold;
        line-height: 2.3rem;

        > div.ja-footer--mobile__menu-subgroup {
          margin-left: 10px;
          font-weight: normal;
          &.solution {
            margin-left: 10px;
            font-weight: bold;
          }

          > div.ja-footer--mobile__menu-subsubgroup {
            margin-left: 12px;
            margin-bottom: 10px;
            font-weight: normal;

            > div {
              margin-left: 10px;
              font-weight: normal;
            }
          }
        }

        a.inquiry-button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          border-radius: 12px;
          padding: 0 12px;
          height: 24px;
          font-size: 13px;
          font-weight: bold;
          transition: all 0.3s ease-out;
          border: 1px solid rgba(111, 120, 128, 0.5);
          &:hover, &:focus {
            border-color: rgba(111, 120, 128, 0.7);
          }
        }
      }
    }
    > div.ja-footer--mobile__credit {
      margin-top: 35px;
      > div.ja-footer--mobile__credit-sns {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        > span.ja-footer--mobile__credit-twitter {
          transition: filter 0.3s ease-out;
          filter: brightness(100%);
          &:hover, &:focus {
            filter: brightness(80%);
          }
        }
        > span.ja-footer--mobile__credit-facebook {
          margin-left: 15px;
          transition: filter 0.3s ease-out;
          filter: brightness(100%);
          &:hover, &:focus {
            filter: brightness(80%);
          }
        }
      }
      > div.ja-footer--mobile__credit-copyright {
        padding-top: 4px;
        font-size: 8px;
        text-align: left;
        color: #6F777F;
      }
    }
  }
}
