header.navbar {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0px;
  border-radius: 0;
  opacity: 0.9;
  width: 100%;
  z-index: 100;
  .container {
    width: $width;
    @media screen and (max-width: $break-xl) {
      width: 100%;
    }
  }
  .navbar-toggle {
    background-color: transparent;
    border: none;
  }

  .navbar-header {
    margin: 0;
    .navbar-brand {
      margin: 0;
      padding: 13px 0;
      img {
        width: 110px;
      }
    }
  }
  .navbar-collapse {
    float: right;
    @media screen and (max-width: $break - 1px) {
      float: none;
      margin-right: 0;
    }
  }
  .navbar-nav > li > a {
    color: #ffffff;
    padding: 16px 13px 14px;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: 1170px) {
      padding-left: 8px;
      padding-right: 8px;
    }
    @media screen and (max-width: 1070px) {
      font-size: 13px;
      .opt {
        display: none;
      }
    }
    @media screen and (max-width: 960px) {
      font-size: 12px;
    }
    @media screen and (max-width: 900px) {
      padding-left: 4px;
      padding-right: 4px;
    }
    @media screen and (max-width: 820px) {
      padding-left: 2px;
      padding-right: 2px;
    }
    @media screen and (max-width: $break) {
      font-size: 1rem;
      padding-left: 16px;
      text-align: left;
    }
    &:hover {
      opacity: 0.7;
    }
    &.login {
      color: #7cdaff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .dropdown-menu {
    @extend .dropdown-menu-dark;
    margin-top: -1px;
    padding: 15px 0 18px;
    left: 0;
    right: auto;
    @media screen and (max-width: $break) {
      background-color: transparent;
      display: block;
      padding: 0;
      position: static;
      top: auto;
      left: auto;
      float: none;
      li a {
        color: #0088cc;
      }
    }
  }

  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }

}
