$nav-item-color: #999999;
$small-header-bg: rgba(255, 255, 255, .96);
$header-transition: all .4s ease;
$close-toggle-bg: #666666;

html[lang=ja] header.navbar {
    display: flex;
    align-items: center;
    min-height: 60px;
    transition: $header-transition;
    background-color: rgba(255, 255, 255, 0);

    .navbar-nav li a {
        color: #dddddd;
        font-size: 12px;
        white-space: nowrap;
        transition: $header-transition;

        &.btn {
            border: 1px solid #fff;
            color: #fff;
            padding: 6px 10px;
            margin-left: 16px;
            font-weight: 700;
            transition: $header-transition;
        }

        & .caret {
            margin-left: 5px;
        }
    }

    .navbar-toggle > span {
        border-radius: 0 !important;
    }

    .navbar-menu-toolbar {
        display: none;

        .navbar-toggle.navbar-close {
            width: 26px;
            height: 100%;
            padding: 0;
            margin: 0;
            margin-right: 20px;
            border: none;

            &:hover, &:focus {
                background: transparent;
            }

            span {
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: 0;
                width: 24px;
                height: 2px;
                background-color: $close-toggle-bg;

                &:first-child {
                    transform: rotate(45deg);
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    @media screen and (min-width: $break) {
        .dropdown {
            padding: 16px 0; // Increase hoverable area

            &:hover {
                .dropdown-toggle {
                    background-color: inherit;
                    color: #dddddd;
                }
            }

            .dropdown-menu {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
                padding: 0;
                top: 52px;
                border-radius: 4px;
                border-top-left-radius: 4px; // Override...
                border-top-right-radius: 4px;
                background-color: #fff;
                & > li {
                    :hover {
                        background-color: #eee;
                    }
                    &> a {
                        color: $nav-item-color;
                    }

                    &:first-child a {
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }

                    &:last-child a {
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                }

                &:before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    border-bottom: 6px dashed;
                    border-right: 6px solid transparent;
                    border-left: 6px solid transparent;
                    color: #fff;
                    top: -6px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    @media screen and (max-width: $break) {
        .btn {
            display: none;
        }

        li > a {
            border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
            padding: 16px 20px !important;
        }

        .navbar-menu-toolbar {
            display: block;
            width: 100%;
            height: 60px;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
        }

        .dropdown {
            .caret {
                position: absolute;
                top: 50%;
                right: 28px;
            }
            
            &:hover .dropdown-toggle {
                color: inherit;
            }

            & .dropdown-menu > li {
                height: inherit;

                & > a {
                    color: $nav-item-color;
                    background-color: #eee;

                    &:hover, &:focus {
                        color: $nav-item-color;
                        background-color: #ddd;
                    }
                }
            }

            & .dropdown-menu,
            &:hover .dropdown-menu {
                margin: 0;
                display: none !important;
            }

            .caret {
                color: #666666;
                transition: transform .15s ease-in;
            }

            &.open {
                .dropdown-toggle {
                    background-color: inherit;
                    color: inherit;

                    .caret {
                        transform: rotate(-180deg);
                    }
                }

                .dropdown-menu,
                &:hover .dropdown-menu {
                    display: block !important;
                }
            }

        }

        .navbar-collapse {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            min-height: 100vh;
            max-height: 100vh;

            .navbar-menu-wrapper {
                width: 300px;
                min-height: 100vh;

                float: right;
                background-color: #fff;

                .navbar-right {
                    margin: 0;
                }
            }
        }
    }

    .container {
        padding: 0px 40px;

        @media screen and (min-width: $break) {
            display: flex;
        }
    }

    &.home {
        min-height: 100px;
    }

    &:not(.home), &.scrolling {
        background-color: $small-header-bg;
        min-height: 60px;

        .navbar-nav > li > a {
            color: $nav-item-color;

            &.btn {
                border: 1px solid $nav-item-color;
                color: #666666;

                &.orange {
                    background-color: #fa6800;
                    border-color: transparent;
                    color: #fff;
                }
            }
        }

        .navbar-toggle > span {
            background-color: $close-toggle-bg;
        }

        .monaca-logo .cls-1 {
            fill: #00629D;
        }
    }

    .navbar-collapse {
        transition: none !important;
        padding: 0;

        &.collapsing {
            height: 100vh !important;
            transition: none !important;
        }

        @media screen and (min-width: $break) {
            display: flex !important; // There is another media query with !important...
            align-items: center;
            margin-left: auto;
        }

        .navbar-right {
            margin-right: 0;

            @media screen and (min-width: $break) {
                display: flex;
                align-items: center;
            }

            @media screen and (max-width: $break) {
                & li a {
                    font-size: 15px;
                    line-height: 21px;
                }
            }
        }
    }

    @media screen and (min-width: $break) {
        .navbar-nav > li > a {
            padding: 0;    
            margin-left: 8px;
            margin-right: 16px;
        }
    }
}

header.navbar {
    border-width: 0px;
    border-radius: 0;
    width: 100%;
    z-index: 100;
    font-family: Open Sans, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;

    .monaca-logo {
        width: 110px;
        transition: $header-transition;
    }

    &:not(.navbar-fixed-top) {
        position: absolute;
        top: 0;
        left: 0;
    }

    .container {
        padding: 0px 15px;
        width: 1170px;
        @media screen and (max-width: 1169px) and (min-width: $break + 1px) {
            width: 100%;
        }
        @media screen and (max-width: $break) {
          width: 100%;
          padding: 0;
        }
        .header-accordion {
          background-color: #222;
          max-height: 0;
          overflow: hidden;
          -webkit-transition: max-height 420ms;
          -moz-transition: max-height 420ms;
          -o-transition: max-height 420ms;
          transition: max-height 420ms;
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
        .header-accordion.on {
          max-height: 750px;
        }
        .header-accordion.on:lang(ja) {
          max-height: 1300px;
        }
        .header-accordion.loggedin.on {
          max-height: 850px;
        }
        .header-accordion.loggedin.on:lang(ja) {
          max-height: 1420px;
        }
    }
    .navbar-header {
        margin: 0;
        .navbar-brand {
            margin: 0;
            padding: 13px 0;
            @media screen and (max-width: $break) {
                padding-left: 16px;
            }
            img {
                width: 110px;
            }
            img:hover {
              opacity: 0.7;
            }
        }
        .navbar-toggle {
            background-color: rgba(0, 0, 0, 0.16);
            border-radius: 0;
            border: none;
            height: 50px;
            margin: 0;
            padding: 0 0 0 15px;
            position: relative;
            text-align: left;
            width: 52px;
            .icon-bar {
                opacity: 0;
                transition: opacity 140ms;
            }
            .icon-bar-left, .icon-bar-right {
                position: absolute;
                background-color: #fff;
                transition: transform 140ms cubic-bezier(.34, .94, .69, 1);
                transform-origin: bottom center;
                float: left;
                width: 14px;
                height: 2px;
            }
            .icon-bar-left {
                top: 24px;
                left: 15px;
                border-radius: 1px 0 0 1px;
                transform: rotate(-45deg);
            }
            .icon-bar-right {
                top: 24px;
                right: 15px;
                border-radius: 0 1px 1px 0;
                transform: rotate(45deg);
            }
            .icon-bar + .icon-bar {
                clear: both;
                margin-top: 10px;
            }
            &.collapsed {
                background-color: transparent;
                .icon-bar {
                    opacity: 1;
                }
                .icon-bar-left {
                    transform: rotate(0);
                    width: 12px;
                }
                .icon-bar-right {
                    transform: rotate(0);
                    width: 12px;
                }
            }
        }
    }
    .navbar-collapse {
        .navbar-right {
            margin-right: 0;
        }

        border-top: none;
        box-shadow: none;
        float: none;
        @media screen and (max-width: $break - 1px) {
            background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.16), #2c2c2c);
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.16), #2c2c2c 60%);
            float: none;
            margin-left: 0;
            margin-right: 0;
        }
        @media screen and (min-width: 641px) {
            padding-left: 15px;
            padding-right: 0;
        }
    }
    .navbar-nav {
        .dashboard {
            text-decoration: underline;
        }
        .nav-title {
            color: #80d4ff;
            display: inline-block;
            font-size: 13px;
            height: 50px;
            line-height: 51px;
            padding: 0 13px 0 0;
            @media screen and (max-width: 1000px) {
              font-size: 11px;
            }
            @media screen and (max-width: 900px) {
              font-size: 10px;
            }
            &:hover {
                text-decoration: none;
            }
        }
        > li > a {
            color: #fff;
            padding: 16px 10px 14px;
            -webkit-font-smoothing: antialiased;
            &:hover {
                color: #7cdaff;
            }
            &.login {
                color: #7cdaff;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .pc {
            display: block;
                @media screen and (max-width: $break) {
                    display: none;
                }
        }
        .sp {
            display: none;
            @media screen and (max-width: $break) {
                    display: block;
                    a {
                        text-align: left;
                        text-decoration: underline;
                        color: #80d4ff;
                        font-weight: bold;
                        img {
                            margin: 0 5px 0 0;
                            vertical-align: middle;
                        }
                    }
                }
        }
        .nav-user {
            background: url("../img/common/user-menu-triangle.png") no-repeat scroll right center;
            .user-icon {
                vertical-align: -7px;
            }
        }
        .dropdown:hover > .dropdown-toggle {
            background-color: #2c2c2c;
            color: #7cdaff;
        }
        @media screen and (max-width: $break) {
            .nav-dashboard {
                text-align: left;
            }
            .dropdown-toggle {
                color: white;
            }
            > li > a {
                color: #0088cc;
                font-size: 1rem;
                font-weight: 700;
                padding-left: 16px;
                text-align: left;
            }
            .dropdown:hover > .dropdown-toggle {
                background-color: transparent;
                color: #fff;
            }
        }
    }
    .dropdown-menu {
        @extend .dropdown-menu-dark;
        border-top: none;
        margin-top: -1px;
        margin-left: -1px;
        padding: 15px 0 18px;
        left: 0;
        right: auto;
        @media screen and (max-width: $break) {
            background: none transparent;
            border-color: transparent;
            box-shadow: none;
            display: block;
            padding: 0;
            position: static;
            top: auto;
            left: auto;
            float: none;
            li a {
                color: #0088cc;
                padding-left: 30px;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            li a.nav-title {
                color: #80d4ff;
                font-weight: bold;
            }
        }
    }
    .nav-user {
        .dropdown-menu {
            @extend .dropdown-menu;
            left: -110px;
        }
    }
    //bootstrap init
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    .glyphicon-new-window {
        top: 4px;
        transform: scale(0.9);
        &:before {
            content: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M1408 928v320q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h704q14 0 23 9t9 23v64q0 14-9 23t-23 9h-704q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-320q0-14 9-23t23-9h64q14 0 23 9t9 23zm384-864v512q0 26-19 45t-45 19-45-19l-176-176-652 652q-10 10-23 10t-23-10l-114-114q-10-10-10-23t10-23l652-652-176-176q-19-19-19-45t19-45 45-19h512q26 0 45 19t19 45z"/></svg>');
        }
    }
    @media screen and (max-width: $break) {
        .dropdown.open .dropdown-menu > li > a {
            color: #0088cc;
            padding: 0 0 0 30px;
            line-height: 39px;
        }
    }
}

// Desktop header toolbar: margin fix
@media screen and (min-width: $break) {
    html[lang=en] {
        .navbar-nav > li > a {
            @media screen and (max-width: 860px) {
                font-size: 14px;
                padding-left: 8px;
                padding-right:8px;
            }
        }
        .navbar-nav {
            .nav-title {
                @media screen and (max-width: 860px) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                @media screen and (max-width: 820px) {
                    padding-left: 2px;
                    padding-right: 2px;
                }
            }
        }
    }
}

html[lang=en] {
    body > header.navbar {
        background-color: #2687ea;
        padding: 0 25px;
    }

    body > header.navbar > div.container {
        max-width: 1170px;
        padding: 35px 0 57px;

        &.small {
            padding: 0;
        }
    }

    .navbar-collapse {
        @media screen and (max-width: $break - 1px) {
            background-image: none;
            background-color: #2c2c2c;

            > ul.navbar-nav {
                margin: 0;
            }
        }
    }
}

html[lang=ja] {
    .navbar-nav > li > a {
       @media screen and (max-width: 1200px) {
         font-size: 13px;
       }
        @media screen and (max-width: $width) {
            font-size: 12px;
            padding: 16px 10px 14px;
        }
        @media screen and (max-width: 1000px) {
            font-size: 11px;
            padding: 16px 6px 14px;
        }
        @media screen and (max-width: 900px) {
            font-size: 10px;
            padding: 16px 10px 14px;
        }
        @media screen and (max-width: 860px) {
            font-size: 10px;
            padding: 16px 8px 14px;
        }
        @media screen and (max-width: 820px) {
            font-size: 10px;
            padding: 16px 7px 14px;
        }
        @media screen and (max-width: 790px) {
            font-size: 10px;
            padding: 16px 6px 14px;
        }
        @media screen and (max-width: 767px) {
            font-size: 10px;
            padding: 16px 16px 14px;
        }
        @media screen and (max-width: 676px) {
            font-size: 10px;
            padding: 16px 16px 14px;
        }
        @media screen and (max-width: 600px) {
            font-size: 10px;
            padding: 16px 16px 14px;
        }
        // @media screen and (max-width: 1170px) {
        //     //padding-left: 8px;
        //     //padding-right: 8px;
        // }
        @media screen and (max-width: 1070px) {
            //font-size: 13px;
            .opt {
                display: none;
            }
        }
        @media screen and (max-width: 960px) {
            //font-size: 12px;
        }
        @media screen and (max-width: 900px) {
            //padding-left: 4px;
            //padding-right: 4px;
        }
        @media screen and (max-width: 820px) {
            //padding-left: 2px;
            //padding-right: 2px;
        }
    }
}
html[lang=ru] {
  .navbar-nav > li > a {
    font-family: Open Sans;
    @media screen and (max-width: 1000px) {
      font-size: 14px;
    }
    @media screen and (max-width: 900px) {
      font-size: 13px;
    }
    @media screen and (max-width: 850px) {
      font-size: 12px;
    }
  }
  .navbar-nav > li > .dropdown-menu > li > a {
    font-family: Open Sans;
  }
}
html[lang=de] {
  .navbar-nav > li > a {
    @media screen and (max-width: 1000px) {
      font-size: 14px;
    }
    @media screen and (max-width: 900px) {
      font-size: 13px;
    }
    @media screen and (max-width: 850px) {
      font-size: 12px;
    }
    @media screen and (max-width: 800px) {
      font-size: 11px;
    }
  }
}
html[lang=es] {
  .navbar-nav > li > a {
    @media screen and (max-width: 1000px) {
      font-size: 14px;
    }
    @media screen and (max-width: 900px) {
      font-size: 13px;
    }
    @media screen and (max-width: 850px) {
      font-size: 11px;
    }
  }
}

#language-switch-container {
    z-index: 9;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.1);

    #language-switch {
        width: 536px;
        margin: 200px auto 0;
        padding: 32px;
        color: white;
        background-color: #3c4758;
        z-index: 10;
        font-size: 20px;
        @media screen and (max-width: $break) {
            width: 92%;
            box-sizing: border-box;
            padding: 32px percentage(30px/640px);
        }
    }

    a.btn-lang-switch {
        @extend %flat-btn;
        color: white;
        background-color: #468fff;
        border: none;
        font-weight: 600;
        height: 45px;
        font-size: 20px;
        line-height: 46px;
        &:hover {
            opacity: 0.8;
        }
    }

    p {
        margin: 0 0 32px 0;
    }

    p.language-switch-button-container {
        margin: 10px 0;
        text-align: center;
    }
    .close {
        float: right;
        margin-top: -8px;
        margin-right: -8px;
    }
}
