header.navbar {
  opacity: 0.9;
  min-width: $width;
  @media screen and (max-width: $width) {
    width: 100%;
    min-width: 0;
  }
  .container {
    @media screen and (max-width: $break) {
      padding: 0 5%;
    }
  }
  .navbar-toggle {
    background-color: transparent;
    border: none;
  }
  .navbar-brand {
    padding-top: 13px;
    img {
      width: 110px;
    }
  }
  .navbar-collapse {
    float: right;
    @media screen and (max-width: $break - 1px) {
      float: none;
    }
  }
  .navbar-nav > li > a {
    color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    &:hover {
      opacity: 0.7;
    }
    &.login {
      color: #7cdaff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .dropdown-menu {
    @extend .dropdown-menu-dark;
    padding: 0 0 5px;
    left: 0;
    right: auto;
    @media screen and (max-width: $break) {
      display: block;
      position: static;
      top: auto;
      left: auto;
      float: none;
    }
  }
}