body.home {
  .keyvisual {
    background: url(../img/keyvisual.jpg) no-repeat center center;
    color: #ffffff;
    height: 540px;
    position: relative;
    h1 {
      position: absolute;
      top: 160px;
      left: 0;
      font-size: 54px;
      font-weight: 400;
      text-align: left;
      .small {
        color: #ffffff;
        font-size: 33px;
      }
    }
    p {
      position: absolute;
      top: 295px;
      left: 0;
      font-size: 20px;
      text-align: left;
      width: 585px;
      word-break: break-all;
    }
  }

  .products,
  .programs {
    dl {
      dt {
        color: #43587e;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 14px;
        @media screen and (max-width: $break) {
          font-size: 32px;
        }
        .small {
          font-size: 1.07rem;
        }
      }
      dd {
        font-size: 0.93rem;
      }
    }
  }

  .products {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #f6f7f9;
    padding: 50px 0 10px;
    @media screen and (max-width: 970px) {
      li {
        padding-bottom: 120px;
      }
    }
    dl dd {
      height: 75px;
    }
    .bnr-1 {
      position: absolute;
      top: 0;
      left: 0;
    }
    .btns {
      position: absolute;
      left: 0;
      bottom: 30px;
      width: 100%;
      .btn {
        margin: 0 6px 10px;
      }
    }
  }

  .programs {
    background-color: #eef0f5;
    padding: 40px 0;
    ul {
      &:after {content: ""; clear: both; display: block;}
      li {
        background-color: transparent;
        border: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        padding: 0 90px;
        width: 50%;
        .bnr-1 {
          margin-bottom: 6px;
        }
        dl dd {
          height: 90px;
        }
      }
    }
  }

  .features {
    padding-top: 140px;
    h2 {
      font-size: 40px;
      font-weight: 400;
      margin-bottom: 80px;
    }
    h3 {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 34px;
    }
    li {
      margin-bottom: 100px;
    }
  }

  .examples {
    text-align: center;
    border-top: 1px solid #cdd1d6;
    border-bottom: 1px solid #cdd1d6;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 22px 0;
    text-align: center;
    background: url(../img/index/examples_bg.jpg) no-repeat left top;
    background-size: cover;
    min-height: 429px;
    @media screen and (max-width: $break) {
      padding: 22px 3%;
    }
    > h2 {
      font-size: 24px;
      letter-spacing: 0px;
      font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
      font-weight: 300;
      margin-bottom: 20px;
      > strong {
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 26px;
      }
    }

    a.btn-details {
      margin-top: 20px;
      @extend %flat-btn;
      color: white;
      background-color: #4d5868;
    }

  }


  .uservoices {
    width: 920px;
    margin: 0 auto;
    padding: 66px 0;
    font-size: 0px;
    text-align: center;
    @media screen and (max-width: 920px) {
      width: 100%;
    }

    > h2 {
      text-align: center;
      margin-bottom: 36px;
    }

    @media screen and (min-width: 921px) {
      > h2 + .user-voice {
        margin-right: 40px;
      }
    }
    > .user-voice {
      display: inline-block;
      font-size: 16px;
      width: 440px;
      text-align: left;
      white-space: nowrap;

      @media screen and (max-width: 920px) {
        width: 80%;
      }
      @media screen and (max-width: $break) {
        width: 90%;
        .user-voice-balloon {
          padding: 24px !important;
        }
        q:before,
        q:after {
          background-image: none !important;
        }
      }

      > .user-voice-balloon {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #ccc;
        min-height: 220px;
        position: relative;
        padding: 34px 50px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
        &:after {
          position: absolute;
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc;
          transform: rotate(45deg);
          width: 20px;
          height: 20px;
          bottom: -12px;
          left: 60px;
          background-color: white;
          content: '';
        }
        @media screen and (max-width: 920px) {
          &:after {
            left: 22px;
          }
        }

        q {
          font-weight: 600;
          line-height: 1.8;
          white-space: normal;
          color: #333;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 32px;
            height: 26px;
            left: -36px;
            top: -14px;
            background: url(../img/common/icn_quote_left.png) no-repeat left top;
          }

          &:after {
            content: '';
            position: absolute;
            width: 32px;
            height: 26px;
            background: url(../img/common/icn_quote_right.png) no-repeat left top;
          }

        }
      }

      > .user-voice-user {
        background: url(../img/index/user_icon.png) no-repeat 38px 25px;
        height: 100px;
        padding: 34px 0 0 120px;
        @media screen and (max-width: $break) {
          background-position: 0 25px;
          padding-left: 80px;
        }
        > .user-voice-name {
          font-weight: 600;
          color: #333;
          font-size: 18px;
        }

        > .user-voice-organization {
          font-weight: 300;
          font-size: 16px;
        }
      }

    }
  }

  .partners {
    text-align: center;
    border-top: 1px solid #cdd1d6;
    border-bottom: 1px solid #cdd1d6;
    background-color: #F9FAFC;
    overflow: hidden;
  }

  .awards {
    height: 200px;
    margin: 0 auto;
    position: relative;
    padding-top: 80px;
    overflow: hidden;
    @include clearfix;
    ul {
      float: left;
      position: relative;
      left: 50%;
      li {
        position: relative;
        left: -50%;
        float: left;
        margin-right: 42px;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    @media screen and (max-width: $break) {
      width: 100%;
      height: auto;
      ul {
        float: none;
        left: auto;
        li {
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          left: auto;
          float: left;
          margin: 0 0 20px;
          padding: 0 20px;
          text-align: center;
          width: 50%;
          min-height: 113px;
          line-height: 113px;
          img {
            vertical-align: middle;
          }
        }
      }
    }
  }

  .tryit {
    text-align: center;
    padding: 80px 0;

    .btn-try {
      @extend %flat-btn;
      color: white;
      font-size: 24px;
      background-color: #468fff;
      border: none;
      height: 67px;
      line-height: 67px;
      padding: 0 40px;
      > span {
        font-size: 20px;
      }
      @media screen and (max-width: 320px) {
        font-size: 20px;
        padding: 0 30px;
        max-width: 82%;
      }
    }
  }
}