body.home {
  .recruit-xs {
    background-color: #007bff;
    width: 100%;
    position: absolute;
      top: 0;
      left: 0;
    z-index: 50;
    h2 {
      font-size: 16px;
      line-height: 16px;
      font-weight: 400;
      color: #fff;
      text-align: center;

    }
    img {
      width: 70px;
      vertical-align: top;
      margin: -1px 0.5em 0 0;
    }
    a {
      color: #333;
      text-decoration: none;
      padding: 65px 0 15px;
      display: block;
      
      &:hover {
          background-color: #0056b2;
          transition: .2s ease-in-out;
            -webkit-transition: .4s ease-in-out;
            -moz-transition: .4s ease-in-out;
            -ms-transition: .4s ease-in-out;
      }
      &:active {
          background-color: #0056b2;
      }
    }
  }
  .recruit-md {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    .badge {
      width: 266px;
      height: 263px;
      background: url(../img/careers/banner_recruit_normal.png) no-repeat 0 0;
      text-indent: -99999px;
      display: block;
      position: absolute;
       right: 0;
       top: 65px;
      z-index: 50;
      
      &:hover {
         background: url(../img/careers/banner_recruit_hover.png) no-repeat 0 0;
          transition: .2s ease-in-out;
            -webkit-transition: .4s ease-in-out;
            -moz-transition: .4s ease-in-out;
            -ms-transition: .4s ease-in-out;
      }
    }
  }
  
  
  .keyvisual {
    background: url(../img/index/keyvisual.jpg) no-repeat center center, url(../img/index/keyvisual_bg.png) repeat-x left bottom;
    background-color: #126faa;
    color: #ffffff;
    position: relative;
    @media screen and (max-width: $break) {
      padding-bottom: 20px;
    }
    h1 {
      padding-top: 115px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 30px;
      text-align: left;
      @media screen and (max-width: $break) {
        padding-top: 150px; /* 100px */
      }
      .small {
        color: #ffffff;
        display: inline-block;
        font-size: 33px;
        line-height: 40px;
        @media screen and (max-width: $break) {
            font-size: 27px;
        }
      }
      .key {
        @media screen and (max-width: $break) {
            font-size: 42px;
        }
      }
    }
    p {
      font-size: 20px;
      text-align: left;
      width: 585px;
      margin-bottom: 0;
      word-break: break-all;
      .small {
        vertical-align: baseline;
      }
      @media screen and (max-width: $break) {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        padding: 0 5%;
        width: 100%;
      }
    }
    .box-try {
      text-align: left;
      padding: 60px 0 0;
      @media screen and (max-width: $break) {
        padding-top: 30px;
        text-align: center;
      }
      .btn {
        padding: 0 20px;
        margin: 0 20px 20px 0;
        min-width: 240px;
        span {
          font-size: 20px;
        }
        @media screen and (max-width: $break) {
          margin: 0 auto 20px;
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }

  .products,
  .programs {
    dl {
      dt {
        color: #43587e;
        font-size: 24px;
        font-weight: 400;
        font-family: Open Sans,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
        line-height: 1.3;
        margin-bottom: 12px;
        @media screen and (max-width: $break) {
          font-size: 32px;
        }
        .small {
          font-size: 1.07rem;
        }
        &.sub {
          font-size: 20px;
        }
      }
      dd {
        font-size: 0.93rem;
      }
    }
    .bnr-1 {
      padding: 0;
      img {
        vertical-align: bottom;
      }
    }
  }

  .products {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #f6f7f9;
    padding: 50px 0 10px;
    li {
      padding-bottom: 70px;
      @media screen and (max-width: 1070px) and (min-width: $break-lg) {
        padding-bottom: 120px;
      }
      @media screen and (max-width: $break) and (min-width: 720px) {
        padding-bottom: 70px;
      }
      @media screen and (max-width: 720px) and (min-width: $break-xs) {
        padding-bottom: 120px;
      }
      @media screen and (max-width: $break-xs) {
        height: auto !important; // disable tile
        padding-bottom: 20px;
      }
    }
    dl dd {
      height: 75px;
      @media screen and (max-width: $break-xs) {
        height: auto;
        margin-bottom: 30px;
      }
    }
    .bnr-1 {
      position: absolute;
      top: 0;
      left: 0;
    }
    .btns {
      font-family: Open Sans,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
      position: absolute;
      left: 0;
      bottom: 17px;
      width: 100%;
      @media screen and (max-width: $break-xs) {
        position: static;
        bottom: auto;
      }
      .btn {
        margin: 0 6px 10px;
        @media screen and (max-width: 1070px) and (min-width: $break-lg) {
          display: block;
          margin: 0 auto 8px;
          width: 68%;
        }
        @media screen and (max-width: 720px) and (min-width: $break-xs) {
          display: block;
          margin: 0 auto 8px;
          width: 68%;
        }
        @media screen and (max-width: 380px) {
          display: block;
          margin: 0 auto 8px;
          width: 68%;
        }
      }
    }
  }

  .programs {
    background-color: #eef0f5;
    padding: 40px 0;
    ul {
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      li {
        background-color: transparent;
        border: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-bottom: 0;
        padding: 0 percentage(90px/1070px);
        width: 50%;
        @media screen and (max-width: $break) {
          float: none;
          width: 100%;
          &:first-child {
            border-bottom: 1px solid #ddd;
            margin-bottom: 30px;
            padding-bottom: 30px;
          }
        }
        @media screen and (max-width: $break-xs) {
          padding-left: 5%;
          padding-right: 5%;
        }
        .bnr-1 {
          margin-bottom: 10px;
        }
        .detail {
          margin-bottom: 0;
        }
        dl {
          dt {
            margin-bottom: 16px;
          }
          dd {
            height: 90px;
            @media screen and (max-width: $break) {
              height: auto;
              margin-bottom: 40px;
            }
          }
        }
      }
    }
  }

  .features {
    padding-top: 140px;
    padding-bottom: 100px;
    h2 {
      font-size: 40px;
      font-weight: 400;
      margin-bottom: 80px;
      @media screen and (max-width: $break-xs) {
        font-size: 32px;
      }
    }
    h3 {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 30px;
      -webkit-font-smoothing: antialiased;
      @media screen and (max-width: $break-xs) {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
    li {
      margin-bottom: 100px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    p {
      line-height: 1.8;
      margin: 0 auto 40px;
      text-align: left;
      width: 600px;
      @media screen and (max-width: 680px) {
        width: 100%;
      }
    }
  }

  .box-try {
    text-align: center;
    padding: 80px 0;

    .btn {
      font-size: 24px;
      height: 67px;
      line-height: 67px;
      padding: 0 40px;
      @media screen and (max-width: 320px) {
        font-size: 20px;
        padding: 0 30px;
        max-width: 82%;
      }
    }
  }
}

html[lang=en] body.home {
  .keyvisual .box-try {
    padding-top: 20px;
    .btn {
      font-size: 20px;
    }
  }
}