body.home {
  .keyvisual {
    background: url(../img/keyvisual.jpg) no-repeat center center;
    color: #ffffff;
    height: 540px;
    position: relative;
    h1 {
      padding-top: 160px;
      font-size: 54px;
      font-weight: 400;
      margin-bottom: 30px;
      text-align: left;
      .small {
        color: #ffffff;
        font-size: 33px;
      }
    }
    p {
      font-size: 20px;
      text-align: left;
      width: 585px;
      word-break: break-all;
    }
  }

  .products,
  .programs {
    dl {
      dt {
        color: #43587e;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 14px;
        @media screen and (max-width: $break) {
          font-size: 32px;
        }
        .small {
          font-size: 1.07rem;
        }
      }
      dd {
        font-size: 0.93rem;
      }
    }
    .bnr-1 {
      padding: 0;
      img {
        vertical-align: bottom;
      }
    }
  }

  .products {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #f6f7f9;
    padding: 50px 0 10px;
    li {
      padding-bottom: 70px;
      @media screen and (max-width: 1070px) and (min-width: $break-lg) {
        padding-bottom: 120px;
      }
    }
    dl dd {
      height: 75px;
    }
    .bnr-1 {
      position: absolute;
      top: 0;
      left: 0;
    }
    .btns {
      position: absolute;
      left: 0;
      bottom: 30px;
      width: 100%;
      .btn {
        margin: 0 6px 10px;
        @media screen and (max-width: 1070px) and (min-width: $break-lg) {
          display: block;
          margin: 0 auto 8px;
          width: 68%;
        }
      }
    }
  }

  .programs {
    background-color: #eef0f5;
    padding: 40px 0;
    ul {
      &:after {content: ""; clear: both; display: block;}
      li {
        background-color: transparent;
        border: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-bottom: 0;
        padding: 0 90px;
        width: 50%;
        @media screen and (max-width: $break) {
          float: none;
          width: 100%;
          &:first-child {
            border-bottom: 1px solid #ddd;
            margin-bottom: 30px;
            padding-bottom: 30px;
          }
        }
        .bnr-1 {
          margin-bottom: 6px;
        }
        .detail {
          margin-bottom: 0;
        }
        dl dd {
          height: 90px;
          @media screen and (max-width: $break) {
            height: auto;
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  .features {
    padding-top: 140px;
    h2 {
      font-size: 40px;
      font-weight: 400;
      margin-bottom: 80px;
    }
    h3 {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 34px;
    }
    li {
      margin-bottom: 100px;
    }
  }

  .box-try {
    text-align: center;
    padding: 80px 0;

    .btn {
      font-size: 24px;
      height: 67px;
      line-height: 67px;
      padding: 0 40px;
      @media screen and (max-width: 320px) {
        font-size: 20px;
        padding: 0 30px;
        max-width: 82%;
      }
    }
  }
}