body.kidozen {

  .keyvisual {
    background: url(../img/kidozen/keyvisual.png) no-repeat center bottom, url(../img/kidozen/keyvisual_bg.png) repeat-x left bottom;
    color: #000;
    height: 590px;
    @media screen and (max-width: $break) {
      height: auto;
      padding-bottom: 40px;
    }
    h1 {
      font-weight: 400;
      margin-bottom: 10px;
      padding-top: 110px;
      span {
        color: #d70101;
      }
    }
    p {
      font-size: 20px;
      text-align: left;
      width: 420px;
      word-break: break-all;
    }
    .btns {
      padding: 50px 0 0;
      text-align: left;
      .btn {
        min-width: 180px;
        width: 175px;
        height: 56px;
        line-height: 56px;
        padding: 0 20px;
        margin: 0 15px 15px 0;
        @media screen and (max-width: 440px) {
          display: block;
          margin: 0 auto 15px;
          width: 80%;
        }
      }
    }
  }

  article.main {
    section {
      border-bottom: 1px solid #ccc;
      padding-top: 90px;
      padding-bottom: 80px;
      &:first-child {
        padding-top: 140px;
      }
    }
    .lucy-in-the-sky {
      background: url(../img/kidozen/img_3.jpg) no-repeat center top;
      background-size: 200%;
      @media screen and (min-width: 1000px) {
        background-size: 1890px 985px;
      }
      @media screen and (max-width: $break) {
        background-position: center 20%;
      }
      @media screen and (max-width: 400px) {
        background-position: center 27%;
      }
      section.baas {
        padding-bottom: 46%;
        max-height: 800px;
        @media screen and (min-width: $break-xl) {
            padding-bottom: 420px;
        }
      }
    }
    .box-try {
      .btn {
        font-size: 24px;
        height: 64px;
        line-height: 64px;
        padding: 0 40px;
        margin: 0 10px;
        min-width: 210px;
        @media screen and (max-width: $break-xs) {
          display: block;
          margin: 0 auto 10px;
        }
      }
    }
  }
}
