body.prices article.main {
    > h1 {
        font-size: 40px;
        padding-top: 150px;
        text-align: center;
    }
    section {
        padding-top: 70px;
    }
    .plan {
        background-color: #ffffff;
        border: 1px solid #dfdfdf;
        border-radius: 4px 4px 0 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 0 auto;
        padding: 37px 20px 40px;
        position: relative;
        width: 490px;
        @media screen and (max-width: $break-xs) {
            width: auto;
        }
        &:before {
            background-color: #0062a9;
            content: ' ';
            border-radius: 4px 4px 0 0;
            color: transparent;
            height: 10px;
            width: 100%;
            width: calc(100% + 2px);
            position: absolute;
            top: 0;
            left: -1px;
            @media screen and (max-width: $break) {
                border-radius: 4px 4px 0 0 !important;
            }
        }
        h2 {
            border-bottom: 1px solid #999;
            color: black;
            font-size: 30px;
            font-weight: 700;
            line-height: 1.3;
            overflow: hidden;
            margin-bottom: 20px;
            padding-bottom: 10px;
            white-space: nowrap;
            @media screen and (max-width: $break-xs) {
                font-size: 24px;
                padding-bottom: 6px;
            }
            .yeah {
                color: #618fe6;
                display: block;
                font-size: 11px;
            }
        }
        dl {
            text-align: left;
            margin: 0 auto 10px;
            dt {
                font-weight: 700;
                display: inline-block;
            }
            dd {
                color: #618fe6;
                display: inline-block;
                font-size: 16px;
                margin-bottom: 0;
                white-space: nowrap;
                width: auto;
                em {
                    font-size: 24px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: 100%;
                }
            }
        }
        p {
            color: #333;
            font-weight: 700;
            padding-left: 0;
            text-align: left;
            width: auto;
        }
        .price {
            color: #618fe6;
            font-size: 13px;
            text-align: center;
            margin-bottom: 0;
            white-space: nowrap;
            width: auto;
            em {
                font-size: 24px;
                font-weight: 400;
                font-style: normal;
                line-height: 100%;
            }
        }
    }
    .planlist {
        @include clearfix;
        margin: 0 auto;
        width: 928px;
        @media screen and (max-width: 928px) {
            width: 100%;
        }
        h2 {
            margin-bottom: 20px;
            padding-bottom: 5px;
        }
        > .plan {
            border-radius: 0;
            float: left;
            margin: 0px 2px 5px;
            width: 228px;
            height: 200px;
            @media screen and (max-width: 928px) {
                float: none;
                height: auto;
                margin: 0 auto 40px;
                width: 490px;
            }
            @media screen and (max-width: $break-xs) {
                width: 90%;
            }
            &:before {
                border-radius: 0;
            }
            &:first-child {
                border-radius: 5px 0 0 0;
                &:before {
                    border-radius: 5px 0 0 0;
                }
            }
            &:last-child {
                border-radius: 0 5px 0 0;
                &:before {
                    border-radius: 0 5px 0 0;
                }
            }
            &.recommend {
                border-radius: 5px 5px 0 0;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
                height: 228px;
                margin-top: -28px;
                z-index: 4;
                &:before {
                    border-radius: 5px 5px 0 0;
                }
                @media screen and (max-width: 928px) {
                    height: auto;
                    margin-top: 0;
                }
            }
        }
    }
    section.enterprise, section.kidozen {
        .plan .summary {
            margin: 0 auto 30px;
            p {
                line-height: 1.4;
                margin-bottom: 0;
            }
            @media screen and (max-width: $break-xs) {
                width: auto !important;
            }
            @media screen and (min-width: 480px) {
                br.opt {
                    display: none;
                }
            }
        }
    }
    section.enterprise .plan .summary {
        width: 260px;
    }
    section.kidozen .plan .summary {
        width: 300px;
    }
    .annotation {
        text-align: center;
        color: #999;
        margin: 10px 0;
        width: auto;
        max-width: none;
        .btn {
            display: inline-block;
            margin-top: 40px;
            min-width: 180px;
        }
    }
}
