body.showcase-index {
    min-width: 1200px;
    @media screen and (max-width: $break-xs) {
        min-width: 0;
    }
    header.navbar {
        min-width: 1200px;
        @media screen and (max-width: $break-xs) {
            min-width: 0;
        }
    }
    article.main {
        margin: 0 auto;
        padding-top: 140px;
        width: 1080px;
        @media screen and (max-width: $break-xs) {
            width: auto;
        }
        > h1 {
            font-size: 50px;
            font-weight: 400;
            margin-bottom: 40px;
            text-align: center;
            @media screen and (max-width: $break-xs) {
                font-size: 48px;
            }
        }
    }
    .carousel-indicators {
        margin: 40px 0 80px;
        position: static;
        bottom: auto;
        left: auto;
        width: auto;
        li {
            background-color: #808080;
            margin: 0 7px;
            &.active {
                background-color: #468fff;
                width: 14px;
                height: 14px;
                vertical-align: -2px;
            }
        }
    }
    .cases-category {
        border-bottom: 1px solid #d4d4d4;
        margin-bottom: 50px;
        text-align: center;
        @media screen and (max-width: $break-xs) {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            padding: 0 20px;
        }
        li {
            border-bottom: 2px solid transparent;
            color: #666;
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            padding: 30px 22px;
            transition: color 160ms;
            @media screen and (max-width: $break-xs) {
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
            }
            &:hover {
                color: #888;
            }
            &.active {
                border-bottom-color: #08c;
                color: #08c;
                font-weight: 700;
            }
        }
    }
    .cases {
        min-height: 200px;
        &:after { content: ""; clear: both; display: block; }
        @media screen and (max-width: $break-xs) {
            padding-left: 20px;
            padding-right: 20px;
        }
        li {
            float: left;
            margin-bottom: 90px;
            text-align: left;
            width: percentage(320px/1080px);
            @media screen and (min-width: $break-xs + 1px) {
                margin-right: percentage(60px/1080px);
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
            @media screen and (max-width: $break-xs) {
                margin-right: percentage(40px/600px);
                width: percentage(280px/600px);
                &:nth-of-type(even) {
                    margin-right: 0;
                }
            }
            .thumb {
                background-color: #fafafa;
                border: 1px solid #d4d4d4;
                display: block;
                margin-bottom: 18px;
                &:hover {
                    opacity: 0.8;
                }
            }
            p {
                color: #333;
                font-size: 14px;
                @media screen and (max-width: $break-xs) {
                    font-size: 16px;
                }
            }
            .title {
                color: #08c;
                font-size: 20px;
                line-height: 1.2;
                margin-bottom: 2px;
                @media screen and (max-width: $break-xs) {
                    font-size: 24px;
                }
                a {
                    color: #08c;
                    &:hover {
                        color: #19d;
                        text-decoration: none;
                    }
                }
            }
            .category {
                color: #999;
                font-size: 18px;
                margin-bottom: 6px;
            }
        }
    }
    article.main > .contact {
        border-top: 1px solid #ccc;
        padding: 80px 0;
        text-align: center;
        p {
            color: #333;
            font-size: 30px;
            margin-bottom: 40px;
            @media screen and (max-width: $break-xs) {
                font-size: 20px;
            }
        }
        a {
            margin: 0 20px;
        }
        .btn-big {
            font-size: 24px;
            height: 60px;
            line-height: 61px;
            padding: 0 45px;
        }
    }
}


body.showcase {
    min-width: 1170px;
    -webkit-text-size-adjust: 100%;
    @media screen and (max-width: $break-xs) {
        min-width: 0;
    }
    header.navbar {
        min-width: 1170px;
        @media screen and (max-width: $break-xs) {
            min-width: 0;
        }
    }
    article.main {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin: 0 auto;
        padding: 110px 0px 0;
        text-align: left;
        width: 1080px;
        @media screen and (max-width: $break-xs) {
            width: 600px;
        }
        header {
            background: none no-repeat left top;
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 20px;
            padding: 10px 0 0 112px;
            min-height: 100px;
            max-height: 100%;
            em {
                color: #57a100;
                display: block;
                font-size: 32px;
                font-weight: 400;
                line-height: 1.1;
                margin-top: 5px;
                max-height: 100%;
            }
            @media screen and (max-width: $break-xs) {
                font-size: 24px;
                padding-top: 12px;
                em {
                    font-size: 30px;
                    margin-top: 7px;
                }
            }
        }
        section {
            border-bottom: none;
            text-align: left;
        }
        h1 {
            margin-bottom: 34px;
            text-align: left;
            max-height: 100%;
        }
        h2 {
            max-height: 100%;
        }
        p {
            color: #666;
            max-height: 100%;
            width: auto;
            @media screen and (max-width: $break-xs) {
                font-size: 20px;
            }
        }
        em {
            color: #333;
            font-style: normal;
            font-weight: 700;
        }
        a {
            outline: none;
        }
        figure {
            figcaption {
                color: #666;
                font-size: 14px;
                margin-top: 8px;
            }
        }

        .info {
            $border-color: #d4d4d4;
            border: 1px solid $border-color;
            margin: 0 auto;
            padding: 0;
            max-height: 1080px;
            dl {
                margin-bottom: 4px;
                dt {
                    display: inline-block;
                    font-weight: 700;
                    width: 90px;
                }
                dd {
                    display: inline-block;
                }
            }
            h2 {
                font-size: 14px;
                margin-bottom: 20px;
                @media screen and (max-width: $break-xs) {
                    font-size: 20px;
                }
            }
            p {
                margin-bottom: 0;
            }
            @media screen and (max-width: $break-xs) {
                dl {
                    margin-bottom: 10px;
                }
                dl dt, dl dd, em, .url {
                    display: block;
                    font-size: 20px;
                }
            }
            .keyvisual {
                vertical-align: bottom;
            }
            .info-header {
                position: relative;
                h1 {
                    background-color: rgba(0, 0, 0, 0.7);
                    color: #ccc;
                    font-size: 32px;
                    line-height: 1.3;
                    margin: 0;
                    padding: 20px 30px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    @media screen and (max-width: $break-xs) {
                        font-size: 28px;
                    }
                }
            }
            .info-cont {
                border-top: 1px solid $border-color;
                padding: 25px 30px;
                h1 {
                    margin-bottom: 5px;
                }
            }
            .note {
                font-size: 12px;
                margin-top: 10px;
                width: auto;
            }
            .developer {
                h2 {
                    color: #57a100;
                    margin-bottom: 15px;
                }
                .logo {
                    display: block;
                    margin-bottom: 10px;
                }
                .url {
                    margin-left: 30px;
                    @media screen and (max-width: $break-xs) {
                        margin-left: 0;
                    }
                }
            }
        }

        .backstory {
            padding: 90px 0 40px;
            &:after { content: ""; clear: both; display: block; }
            p {
                line-height: 1.85;
                margin-bottom: 7px;
            }
            .alignleft,
            .alignright {
                width: percentage(400px/1080px);
            }
        }

        .effect {
            background: url(/img/hitachitool/bg_effect.jpg) no-repeat center top;
            color: white;
            padding: 40px;
            @media screen and (max-width: $break-xs) {
                background-position: left top;
                padding: 34px;
            }
            h1 {
                margin-bottom: 30px;
            }
            ul {
                padding-left: 4px;
                li {
                    font-size: 20px;
                    margin-bottom: 10px;
                    max-height: 100%;
                    &:before {
                        content: "ãƒ»";
                        padding-left: -1em;
                        text-indent: -1em;
                    }
                }
            }
        }

        .interview {
            padding: 90px 0 40px;
            h2 {
                color: #57a100;
                font-size: 20px;
                margin-bottom: 8px;
                text-indent: -1.7em;
                margin-left: 1.7em;
            }
            p {
                line-height: 1.85;
                margin-bottom: 30px;
                margin-left: 34px;
            }
            figure {
                width: percentage(365px/1080px);
                @media screen and (max-width: $break-xs) {
                    width: 50%;
                }
            }
        }

        > .download,
        > .contact {
            border-top: 1px solid #ccc;
            padding: 80px 0;
            text-align: center;
            p {
                font-size: 24px;
                margin-bottom: 40px;
            }
            a {
                margin: 0 15px;
            }
            .btn-big {
                font-size: 24px;
                height: 60px;
                line-height: 61px;
                padding: 0 45px;
            }
        }

        .alignleft {
            float: left;
            margin-right: 40px;
            @media screen and (max-width: $break-xs) {
                float: none;
                margin: 0 auto 40px;
            }
        }
        .alignright {
            float: right;
            margin-left: 40px;
            @media screen and (max-width: $break-xs) {
                float: none;
                margin: 0 auto 40px;
            }
        }
        .nowrap {
            overflow: hidden;
        }
    }
}

body.showcase.hitachitool {
    article.main header {
        background-image: url(/img/hitachitool/icn_hitachi_ja.png);
    }
}