body.support {

  .keyvisual {
    background: url(../img/support/keyvisual.jpg) no-repeat center bottom, url(../img/support/keyvisual_bg.png) repeat-x left bottom;
    color: #000;
    height: 540px;
    padding-bottom: 0;
    position: relative;
    h1 {
      font-size: 54px;
      font-weight: 400;
      line-height: 65px;
      margin-bottom: 10px;
      padding-top: 140px;
      text-align: left;
			text-shadow: 0 0 10px rgba(255, 255, 255, 1);
      img {
        vertical-align: 4px;
      }
      span {
        color: #d70101;
      }
    }
    p {
      font-size: 20px;
      text-align: left;
      width: 420px;
      word-break: break-all;
    }
  }

  article.main {
    section {
      border-bottom: 1px solid #ccc;
      padding: 90px 0 80px;
      &:first-child {
        padding-top: 140px;
      }
      h1 {
        text-align: center;
      }
      p {
        margin-bottom: 30px;
        text-align: left;
        width: 580px;
      }
      &.tech {
        @include clearfix;
        p {
          width: auto;
        }
        .alignright {
          float: right;
          margin: 0 0 40px 40px;
          @media screen and (max-width: $break) {
            width: 50%;
          }
        }
        .tech-cont {
          padding-top: 60px;
          text-align: left;
          @media screen and (max-width: $break) {
            padding: 0 5%;
          }
        }
      }
      &.forum {
        background: url(../img/support/img_4.jpg) no-repeat center 330px;
        min-height: 670px;
      }
    }
    .box-try {
      padding: 140px 0;
      .btn {
        font-size: 24px;
        height: 64px;
        line-height: 64px;
        padding: 0 40px;
        margin: 0 10px;
      }
    }
  }

}