/* =Bootstrap overwrite
-------------------------------------------------------------- */
$width: 1170px;
$break: 767px;
$break-xl: 1300px; // 1300 * 0.9 = 1170
$break-lg: 970px;
$break-xs: 640px;


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

pre {
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

p {
	margin-bottom: 1em;
	word-wrap: break-word;
}

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}


/* =User styles
-------------------------------------------------------------- */

html {
	font: 14px/1.3 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	text-align:center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  min-width: $width;
  @media screen and (max-width: $break-xl) {
    min-width: 0;
  }
}

img, iframe, object { 
	max-width : 100%; 
}

section,
div.section {
  margin-left: auto;
  margin-right: auto;
  padding: 90px 0 80px;
  position: relative;
  width: $width;
  @media screen and (max-width: $break-xl) {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 80px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: $break-xs) {
        font-size: 32px;
    }
  }
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: $break-xs) {
      font-size: 20px;
    }
  }
  h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 34px;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: $break-xs) {
      font-size: 20px;
    }
  }
  p {
    color: #666;
    line-height: 1.8;
    margin: 0 auto 50px;
    text-align: left;
    width: 580px;
    //word-break: break-all;
    @media screen and (max-width: 580px) {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;
    }
  }
}

html[lang=en] .visible-ja {
  display: none;
}

html[lang=ja] .visible-en {
  display: none;
}

article.main section {
  border-bottom: 1px solid #ccc;
}

.container {
  padding-left: 0;
  padding-right: 0;
  min-width: $width;
  width: auto;
  @media screen and (max-width: $break-xl) {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    min-width: 0;
  }
}

@import "common";
@import "form";
@import "header";
@import "footer";
@import "animations";
@import "index";
@import "kidozen";
@import "localkit";
@import "support";
@import "prices";
@import "debugger";
@import "enterprise";
@import "cloud";
@import "dev-support";