@charset "UTF-8";

@import "bourbon";

// Reset CSS and variables have been to _init.scss
@import "init";
@import "icon";
@import "common";
@import "button";
@import "header";
@import "footer";
@import "carousel";
@import "slick";
@import "animations";
@import "pages/index";
@import "pages/localkit";
@import "pages/support";
@import "pages/prices";
@import "pages/pricing";
@import "pages/debugger";
@import "pages/enterprise";
@import "pages/cloud";
@import "pages/dev-support";
@import "pages/localkit-beta";
@import "pages/careers";
@import "pages/showcase";
@import "pages/visualstudio";
@import "pages/caravan";
@import "pages/bookcampaign";
@import "pages/book-support";
@import "pages/error";
@import "pages/development";
@import "pages/academic";
@import "pages/solution-partner";
@import "pages/product-partner";
@import "pages/service";
@import "pages/subpage";
@import "pages/company";
@import "pages/terms-of-service";
@import "pages/headline";
@import "pages/events";
@import "pages/logos";
@import "pages/great-apps";
@import "pages/contest";
@import "pages/register";
@import "pages/login";
@import "pages/book-school";
@import "pages/ci";
@import "pages/cli";
@import "pages/contest-onsenui2";
@import "pages/license";
@import "pages/important-info";