html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 700;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

pre {
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

p {
	margin-bottom: 1em;
	word-wrap: break-word;
}

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

/* =Bootstrap overwrite
-------------------------------------------------------------- */
$width: 1170px;
$break: 767px;
$break-lg: 970px;
$break-xs: 640px;

.container {
  padding-left: 0;
  padding-right: 0;
  width: $width;
  @media screen and (max-width: $width) {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
}

/* =User styles
-------------------------------------------------------------- */

html {
	font: 14px/1.3 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	text-align:center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

body {
  min-width: $width;
  @media screen and (max-width: $width) {
    min-width: 0;
  }
}

img, iframe, object { 
	max-width : 100%; 
}

section {
  h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  p {
    color: #666;
  }
}

@import "common";
@import "form";
@import "header";
@import "footer";
@import "index";
@import "kidozen";
@import "localkit";
@import "support";
@import "prices";
@import "debugger";
@import "enterprise";
@import "cloud";