---
title: Cloud-Powered HTML5 Hybrid Mobile App Development Tools | Monaca
class: headline
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---

<section id="news" class="subpage">
  <div class="container">
    <h1>Updates</h1>

    <ul class="headline-tabs attension">
      <li  ><a href="/headline/index.html">News / Updates</a></li>
      <li class="current" ><a href="/headline/fault.html"><span class="hidden-xs">Status / Known Issues</span><span class="visible-xs">Status</span></a></li>
    </ul>

    <div class="headline-entries">

      <div class="headline-entry-submit">
        <a href="/ja/support/technical/bugs" class="btn-blue">Report New Issue</a>
      </div>

      <div id="entry_56665836fd1734eb4a2cac9c" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/08</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/23 15:00 UTC</dt>
            <dd>A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</dd>
          </dl>
          <dl>
            <dt>2015/12/3 11:00 UTC</dt>
            <dd>We fixed the issue. If you built the app before Dec 3, 2015, please build again.</dd>
          </dl>
        </div>
      </div>

      <div id="entry_56653b7bfd17340f6caf7d67" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/07</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">Discovered a Issue that you can't upload a Cordova Android app that is included Crosswalk-Plugin to Google Play.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/12/07 17:00 JST</dt>
            <dd>Android version code of the app is smaller than version code of Cordvoa 3.5/4.1 app by the version code generating logic has been changed. If you already published the Cordova 3.5/4.1 app, you will fail to upload a Cordova 5.2 app.<br />
              <br />
              Please added "android-versionCode" to the ＜widget＞ tag on config.xml.<br />
              <br />
              For example:<br />
              ＜widget xmlns="http://www.w3.org/ns/widgets" id="com.example.helloworld" version="1.2.3" android-versionCode="70010203"＞<br />
              <br />
              versionCode = PATCH + MINOR * 100 + MAJOR * 10000 + 70000000
            </dd>
          </dl>
        </div>
      </div>

      <div id="entry_56665836fd1734eb4a2cac9c" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/08</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/23 15:00 UTC</dt>
            <dd>A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</dd>
          </dl>
          <dl>
            <dt>2015/12/3 11:00 UTC</dt>
            <dd>We fixed the issue. If you built the app before Dec 3, 2015, please build again.</dd>
          </dl>
        </div>
      </div>

      <div id="entry_56653b7bfd17340f6caf7d67" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/07</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">Discovered a Issue that you can't upload a Cordova Android app that is included Crosswalk-Plugin to Google Play.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/12/07 17:00 JST</dt>
            <dd>Android version code of the app is smaller than version code of Cordvoa 3.5/4.1 app by the version code generating logic has been changed. If you already published the Cordova 3.5/4.1 app, you will fail to upload a Cordova 5.2 app.<br />
              <br />
              Please added "android-versionCode" to the ＜widget＞ tag on config.xml.<br />
              <br />
              For example:<br />
              ＜widget xmlns="http://www.w3.org/ns/widgets" id="com.example.helloworld" version="1.2.3" android-versionCode="70010203"＞<br />
              <br />
              versionCode = PATCH + MINOR * 100 + MAJOR * 10000 + 70000000
            </dd>
          </dl>
        </div>
      </div>

      <div id="entry_56665836fd1734eb4a2cac9c" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/08</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/23 15:00 UTC</dt>
            <dd>A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</dd>
          </dl>
          <dl>
            <dt>2015/12/3 11:00 UTC</dt>
            <dd>We fixed the issue. If you built the app before Dec 3, 2015, please build again.</dd>
          </dl>
        </div>
      </div>

      <div id="entry_56653b7bfd17340f6caf7d67" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/07</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">Discovered a Issue that you can't upload a Cordova Android app that is included Crosswalk-Plugin to Google Play.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/12/07 17:00 JST</dt>
            <dd>Android version code of the app is smaller than version code of Cordvoa 3.5/4.1 app by the version code generating logic has been changed. If you already published the Cordova 3.5/4.1 app, you will fail to upload a Cordova 5.2 app.<br />
              <br />
              Please added "android-versionCode" to the ＜widget＞ tag on config.xml.<br />
              <br />
              For example:<br />
              ＜widget xmlns="http://www.w3.org/ns/widgets" id="com.example.helloworld" version="1.2.3" android-versionCode="70010203"＞<br />
              <br />
              versionCode = PATCH + MINOR * 100 + MAJOR * 10000 + 70000000
            </dd>
          </dl>
        </div>
      </div>

      <div id="entry_56665836fd1734eb4a2cac9c" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/08</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/23 15:00 UTC</dt>
            <dd>A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</dd>
          </dl>
          <dl>
            <dt>2015/12/3 11:00 UTC</dt>
            <dd>We fixed the issue. If you built the app before Dec 3, 2015, please build again.</dd>
          </dl>
        </div>
      </div>

      <div id="entry_56653b7bfd17340f6caf7d67" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/07</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">Discovered a Issue that you can't upload a Cordova Android app that is included Crosswalk-Plugin to Google Play.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/12/07 17:00 JST</dt>
            <dd>Android version code of the app is smaller than version code of Cordvoa 3.5/4.1 app by the version code generating logic has been changed. If you already published the Cordova 3.5/4.1 app, you will fail to upload a Cordova 5.2 app.<br />
              <br />
              Please added "android-versionCode" to the ＜widget＞ tag on config.xml.<br />
              <br />
              For example:<br />
              ＜widget xmlns="http://www.w3.org/ns/widgets" id="com.example.helloworld" version="1.2.3" android-versionCode="70010203"＞<br />
              <br />
              versionCode = PATCH + MINOR * 100 + MAJOR * 10000 + 70000000
            </dd>
          </dl>
        </div>
      </div>

      <div id="entry_56665836fd1734eb4a2cac9c" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/08</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/23 15:00 UTC</dt>
            <dd>A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</dd>
          </dl>
          <dl>
            <dt>2015/12/3 11:00 UTC</dt>
            <dd>We fixed the issue. If you built the app before Dec 3, 2015, please build again.</dd>
          </dl>
        </div>
      </div>

      <div id="entry_56653b7bfd17340f6caf7d67" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/07</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">Discovered a Issue that you can't upload a Cordova Android app that is included Crosswalk-Plugin to Google Play.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/12/07 17:00 JST</dt>
            <dd>Android version code of the app is smaller than version code of Cordvoa 3.5/4.1 app by the version code generating logic has been changed. If you already published the Cordova 3.5/4.1 app, you will fail to upload a Cordova 5.2 app.<br />
              <br />
              Please added "android-versionCode" to the ＜widget＞ tag on config.xml.<br />
              <br />
              For example:<br />
              ＜widget xmlns="http://www.w3.org/ns/widgets" id="com.example.helloworld" version="1.2.3" android-versionCode="70010203"＞<br />
              <br />
              versionCode = PATCH + MINOR * 100 + MAJOR * 10000 + 70000000
            </dd>
          </dl>
        </div>
      </div>

      <div id="entry_56665836fd1734eb4a2cac9c" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/08</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/23 15:00 UTC</dt>
            <dd>A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</dd>
          </dl>
          <dl>
            <dt>2015/12/3 11:00 UTC</dt>
            <dd>We fixed the issue. If you built the app before Dec 3, 2015, please build again.</dd>
          </dl>
        </div>
      </div>

      <div id="entry_56653b7bfd17340f6caf7d67" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/07</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">Discovered a Issue that you can't upload a Cordova Android app that is included Crosswalk-Plugin to Google Play.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/12/07 17:00 JST</dt>
            <dd>Android version code of the app is smaller than version code of Cordvoa 3.5/4.1 app by the version code generating logic has been changed. If you already published the Cordova 3.5/4.1 app, you will fail to upload a Cordova 5.2 app.<br />
              <br />
              Please added "android-versionCode" to the ＜widget＞ tag on config.xml.<br />
              <br />
              For example:<br />
              ＜widget xmlns="http://www.w3.org/ns/widgets" id="com.example.helloworld" version="1.2.3" android-versionCode="70010203"＞<br />
              <br />
              versionCode = PATCH + MINOR * 100 + MAJOR * 10000 + 70000000
            </dd>
          </dl>
        </div>
      </div>

      <div id="entry_56665836fd1734eb4a2cac9c" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/08</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/23 15:00 UTC</dt>
            <dd>A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</dd>
          </dl>
          <dl>
            <dt>2015/12/3 11:00 UTC</dt>
            <dd>We fixed the issue. If you built the app before Dec 3, 2015, please build again.</dd>
          </dl>
        </div>
      </div>

      <div id="entry_56653b7bfd17340f6caf7d67" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/07</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">Discovered a Issue that you can't upload a Cordova Android app that is included Crosswalk-Plugin to Google Play.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/12/07 17:00 JST</dt>
            <dd>Android version code of the app is smaller than version code of Cordvoa 3.5/4.1 app by the version code generating logic has been changed. If you already published the Cordova 3.5/4.1 app, you will fail to upload a Cordova 5.2 app.<br />
              <br />
              Please added "android-versionCode" to the ＜widget＞ tag on config.xml.<br />
              <br />
              For example:<br />
              ＜widget xmlns="http://www.w3.org/ns/widgets" id="com.example.helloworld" version="1.2.3" android-versionCode="70010203"＞<br />
              <br />
              versionCode = PATCH + MINOR * 100 + MAJOR * 10000 + 70000000
            </dd>
          </dl>
        </div>
      </div>

      <div id="entry_557ea2cb657e4d98516748a2" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_downward.png" /></div>
        <dl>
          <dt>2015/06/15</dt>
          <dd>
            <span class="status-fixing">Fixing</span>
            <span class="headline-entry-comment">Monaca Debugger does not work if the project is used on both Monaca CLI and LocalKit.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="">
          <dl>
            <dt>2015/6/15 09:00 UTC</dt>
            <dd>It is not possible to debug a project with Monaca Debugger if this project is used on both Monaca CLI(v1.0.9) and LocalKit.</dd>
          </dl>
        </div>
      </div>

      <div id="entry_56665836fd1734eb4a2cac9c" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/08</dt>
          <dd>
            <span class="status-solved">Solved</span>
            <span class="headline-entry-comment">A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/23 15:00 UTC</dt>
            <dd>A Cordova 5.2 Android app included Crosswalk-Plugin and Monaca-Plugin is not working on Android 4.3 or older.</dd>
          </dl>
          <dl>
            <dt>2015/12/3 11:00 UTC</dt>
            <dd>We fixed the issue. If you built the app before Dec 3, 2015, please build again.</dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
</section>

<script>
  window.addEventListener("load", function() {
    $(".headline-entry-toggle").on("click", "img", function() {
      $img = $(this);
      $entries = $img.parent().parent().find(".headline-sub-entries");
      if ($entries.css("display") == "none") {
        $img.attr("src", "/img/headline/ico_tri_downward.png");
      } else {
        $img.attr("src", "/img/headline/ico_tri_leftward.png");
      }
      $entries.slideToggle();
    });
  });
</script>

