---
title: お知らせ | MonacaでHTML5モバイルアプリ開発
class: headline
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<section id="news" class="subpage">
  <div class="container">
    <h1>お知らせ</h1>

    <ul class="headline-tabs attension">
      <li  ><a href="/headline/index.html">ニュース・更新情報</a></li>
      <li class="current" ><a href="/headline/fault.html"><span class="hidden-xs">障害・不具合情報</span><span class="visible-xs">障害·不具合</span></a></li>
    </ul>

    <div class="headline-entries">

      <div class="headline-entry-submit">
        <a href="/support/technical/?tag=bugs" class="btn-blue">障害・不具合情報のお問い合わせ</a>
      </div>

    </div>
  </div>
</section>

