---
title: お知らせ | MonacaでHTML5モバイルアプリ開発
class: headline
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<section id="news" class="subpage">
  <div class="container">
    <h1>お知らせ</h1>

    <ul class="headline-tabs attension">
      <li  ><a href="/headline/index.html">ニュース・更新情報</a></li>
      <li class="current" ><a href="/headline/fault.html"><span class="hidden-xs">障害・不具合情報</span><span class="visible-xs">障害·不具合</span></a></li>
    </ul>

    <div class="headline-entries">

      <div class="headline-entry-submit">
        <a href="/ja/support/technical/bugs" class="btn-blue">障害・不具合情報のお問い合わせ</a>
      </div>

      <div id="entry_56665836fd1734eb4a2cac9c" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/08</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Cordova 5.2でCrosswalkプラグインとMonacaプラグインを含むAndroidアプリが、Android 4.3以前の端末で動作しない問題が発生しています。</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/24 00:00 JST</dt>
            <dd>Cordova 5.2でCrosswalkプラグインとMonacaプラグインを含むAndroidアプリが、Android 4.3以前の端末で動作しない問題が発生しています。</dd>
          </dl>
          <dl>
            <dt>2015/12/03 20:00 JST</dt>
            <dd>問題を解決しました。2015/12/03以前に該当のアプリをビルドされている場合、再ビルドをお願いいたします。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_56653b7bfd17340f6caf7d67" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/12/07</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Cordova 5.2でCrosswalkプラグインを含むAndroidアプリがGoogle Playにアップロードできない事象が発生しております。</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/12/07 17:00 JST</dt>
            <dd>Cordova 5.2でCrosswalkプラグインを含むアプリをビルドした時、バージョンコード生成ルールの変更により、Cordova 4.1以前のバージョンコードより小さくなっております。既にGoogle PlayにCordova 4.1以前のアプリを公開されている場合、アップロードに失敗する事象が発生しております。<br /><br />config.xmlの＜widget＞タグで「android-versionCode」を設定していただくことで回避可能ですので、お手数をおかけいたしますがご対応お願いいたします。<br /><br />例）バージョン1.2.3の場合<br /><br />＜widget xmlns="http://www.w3.org/ns/widgets" id="com.example.helloworld" version="1.2.3" android-versionCode="70010203"＞<br /><br />Monacaでは以下のバージョンコードの指定方法を推奨しております。<br />versionCode = PATCH(3) + MINOR(2) * 100 + MAJOR(1) * 10000 + 70000000(既存のアプリよりバージョンを高くするため)</dd>
          </dl>
        </div>
      </div>

      <div id="entry_565be276657e4d87140fb541" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/11/30</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Cordova5系プロジェクトにて作成したビルドアプリとカスタムデバッガーに、プラグインが正常にインストールされない</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/24 00:00 JST</dt>
            <dd>BasicプランとPersonalプランをご利用の方を対象に、Cordova5系プロジェクトにて作成したビルドアプリとカスタムデバッガーに、プラグインが正常にインストールされない不具合が発生しておりました。
            </dd>
          </dl>
          <dl>
            <dt>2015/11/30 12:30 JST</dt>
            <dd>不具合の修正を完了いたしました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_5639d04e7e2193795795f4f2" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/11/04</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Monaca Backendの障害が発生しておりました</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/03 08:00 JST</dt>
            <dd>サーバ障害によりMonaca BackendのPush通知機能が、ご利用できない状況が発生しております。
            </dd>
          </dl>
          <dl>
            <dt>2015/11/04 18:25 JST</dt>
            <dd>復旧作業が完了いたしました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_56380f8ffd17348a574434a7" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/11/03</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Monacaのサービス障害が発生しておりました</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/03 08:00 JST</dt>
            <dd>サーバ障害によりMonacaのサービス（IDE、デバッガー、Backend）がご利用できない状況が発生しております。
            </dd>
          </dl>
          <dl>
            <dt>2015/11/03 10:25 JST</dt>
            <dd>復旧作業が完了いたしました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_5637b77e657e4d335e55bacf" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/11/03</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Monacaのサービス障害が発生しておりました</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/11/03 04:00 JST</dt>
            <dd>サーバ障害によりMonacaのサービス（IDE、デバッガー、Backend）がご利用できない状況が発生しております。
            </dd>
          </dl>
          <dl>
            <dt>2015/11/03 04:25 JST</dt>
            <dd>復旧作業が完了いたしました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_5614d2d9657e4d171ad4ce0a" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/10/07</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">iOS9上でのMonacaデバッガーにおいて、selectタグやinputタグが反応しない不具合が発生しています</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/10/07 17:00 JST</dt>
            <dd>iOS9上でのMonacaデバッガーにおいて、selectタグやinputタグが反応しない不具合が発生しています。暫定対処法としては、タグを押下した後、一度デバッガーをバックグラウンドに遷移させ、再度デバッガーを起動させるとタグが反応いたします。
            </dd>
          </dl>
          <dl>
            <dt>2015/10/09 16:00 JST</dt>
            <dd>iOS版カスタムデバッガーについて修正を適用しました。iOS版Monaca デバッガーは、現在ストア申請中です。 
            </dd>
          </dl>
          <dl>
            <dt>2015/10/19 12:00 JST</dt>
            <dd>不具合の修正を完了いたしました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_561395e1657e4d7444f2b765" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/10/06</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Windowsビルドサーバ障害によりMonacaでのWindowsビルドがご利用できない状況が発生しておりました</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/10/06 14:00 JST</dt>
            <dd>Windowsビルドサーバ障害によりMonacaでのWindowsビルドがご利用できない状況が発生しております
            </dd>
          </dl>
          <dl>
            <dt>2015/10/06 18:14 JST</dt>
            <dd>復旧作業が完了いたしました。 </dd>
          </dl>
        </div>
      </div>

      <div id="entry_5608dbac657e4d84660a9af8" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/09/28</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Androidにおいて、アプリ終了処理の特定のタイミングにPush通知を受けた場合、アプリがクラッシュする不具合が発生</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/09/28 14:00 JST</dt>
            <dd>下記の期間にPush通知を受けた場合、アプリがクラッシュする不具合が発生<br/>バックボタンによりアプリの終了を実行し、その後、OSがメモリ上からアプリを解放するまでの間</dd>
          </dl>
        </div>
      </div>

      <div id="entry_55ecfab9657e4d1e510aa3cf" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/09/05</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Monacaのサービス障害が発生しておりました</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/09/05 03:50 JST</dt>
            <dd>サーバ障害によりMonacaのサービス（IDE、デバッガー、Backend）がご利用できない状況が発生しております。
            </dd>
          </dl>
          <dl>
            <dt>2015/09/05 05:25 JST</dt>
            <dd>復旧作業が完了いたしました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_55e8c1bc657e4df628d1f49d" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/09/04</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Monacaのサービス障害が発生しておりました</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/09/04 04:00 JST</dt>
            <dd>サーバ障害によりMonacaのサービス（IDE、デバッガー、Backend）がご利用できない状況が発生しております。
            </dd>
          </dl>
          <dl>
            <dt>2015/09/04 06:50 JST</dt>
            <dd>復旧作業が完了いたしました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_55e3d4f3657e4d55411e83cc" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/08/31</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">ビルドサーバ障害によりMonacaでのビルドがご利用できない状況が発生しております</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/08/31 11:30 JST</dt>
            <dd>ビルドサーバ障害によりMonacaでのビルドがご利用できない状況が発生しております。
            </dd>
          </dl>
          <dl>
            <dt>2015/08/31 13:14 JST</dt>
            <dd>復旧作業が完了いたしました。 </dd>
          </dl>
        </div>
      </div>

      <div id="entry_55dc115a657e4d98180ec7bf" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/08/25</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">iOS8.4.xにおいて、OnsenUI 1.2系のボタン関連が正常に動作しない事象が確認されました</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/08/25 15:00 JST</dt>
            <dd>iOS8.4.xにおいて、OnsenUI 1.2系のボタン関連が正常に動作しない事象が確認されました。
            </dd>
          </dl>
          <dl>
            <dt>2015/08/25 15:00 JST</dt>
            <dd>最新版のOnsenUI 1.3系へ更新することにより対応をお願いします。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_55af12c8657e4d025d6e773c" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/07/22</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Androidアプリ(ハイパフォーマンス版)について、Crosswalkの不具合によりアプリのタスクを停止した際に、LocalStorageの値が適切に更新されないという事象が発生</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/07/22 12:50 JST</dt>
            <dd>Androidアプリ(ハイパフォーマンス版)について、Crosswalkの不具合によりアプリのタスクを停止した際に、LocalStorageの値が適切に更新されないという事象が発生しております。本不具合が発生するアプリは、2015年6月18日19:00 〜 7月23日19:10にビルドしたCordova 4.1系のアプリとなります。
            </dd>
          </dl>
          <dl>
            <dt>2015/07/23 19:10 JST</dt>
            <dd>サーバーについて、不具合の修正を完了いたしました。再度ビルドを行っていただくことで、修正が適用されます。修正版のAndroid版 Monacaデバッガー（ハイパフォーマンス版）は現在対応中となります。
            </dd>
          </dl>
          <dl>
            <dt>2015/07/28 15:20 JST</dt>
            <dd>修正版のAndroid版 Monacaデバッガー（ハイパフォーマンス版）4.2.0をリリースしました。 </dd>
          </dl>
        </div>
      </div>

      <div id="entry_5594a143657e4d191e3aa729" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/07/02</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Monacaのサービスがご利用できない状況が発生しておりました。</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/07/02 10:40 JST</dt>
            <dd>サーバ障害によりMonacaのサービス（IDE、デバッガー、Backend）がご利用できない状況が発生しております。
            </dd>
          </dl>
          <dl>
            <dt>2015/07/02 11:20 JST</dt>
            <dd>復旧作業が完了いたしました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_5588bcf7657e4d8f3ae0225e" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/06/23</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Monacaのサービスがご利用できない状況が発生しておりました。</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/06/23 10:00 JST</dt>
            <dd>サーバ障害によりMonacaのサービス（IDE、デバッガー、Backend）がご利用できない状況が発生しております。
            </dd>
          </dl>
          <dl>
            <dt>2015/06/23 11:23 JST</dt>
            <dd>復旧作業が完了いたしました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_5584ea99657e4dd74cea3912" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/06/20</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">Monacaサービスが全体的に繋がりづらい状況が発生していました</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/06/20 10:20 JST</dt>
            <dd>午前10時20分から11時頃にかけて、サーバー負荷が高まったことから、ビルドを含むMonacaサービスが一時的に接続しづらい状況になっていました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_558376ba657e4da25fb8c97d" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/06/19</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">ハイパフォーマンス(Crosswalkエンジン)版を使用のアプリについて、pull-to-refresh機能(画面を下に引っ張ると更新処理が行われる機能)が自動適用される不具合を確認しました。</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/06/19 10:30 JST</dt>
            <dd>ハイパフォーマンス(Crosswalkエンジン)版を使用のプロジェクトについて、pull-to-refresh機能(画面を下に引っ張ると更新処理が行われる機能)が自動適用される不具合を確認しました。本不具合が発生するアプリは、左記の時間帯にビルドしたアプリとなります。(2015年6月18日19:00 〜 2015年6月19日16:30)
            </dd>
          </dl>
          <dl>
            <dt>2015/06/19 16:30 JST</dt>
            <dd>サーバーについて、不具合の修正を完了いたしました。再度ビルドを行っていただくことで、修正が適用されます。修正版のAndroid版 Monacaデバッガー（ハイパフォーマンス版）は現在申請中となります。
            </dd>
          </dl>
          <dl>
            <dt>2015/06/19 18:30 JST</dt>
            <dd>修正版のAndroid版 Monacaデバッガー（ハイパフォーマンス版）4.1.6をリリースしました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_557ea2cb657e4d98516748a2" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_downward.png" /></div>
        <dl>
          <dt>2015/06/15</dt>
          <dd>
            <span class="status-fixing">対応中</span>
            <span class="headline-entry-comment">LocalkitとMonaca CLI間で同一プロジェクトを扱った場合、Monacaデバッガーへのプロジェクト配信ができない不具合を確認しました。</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="">
          <dl>
            <dt>2015/06/15 18:00 JST</dt>
            <dd>LocalkitとMonaca CLI(v1.0.9)間で同一プロジェクトを扱った場合、Monacaデバッガーへのプロジェクト配信できない不具合を確認しました。</dd>
          </dl>
        </div>
      </div>

      <div id="entry_557e704b657e4d89623a4e88" class="headline-entry">
        <div class="headline-entry-toggle"><img src="/img/headline/ico_tri_leftward.png" /></div>
        <dl>
          <dt>2015/06/15</dt>
          <dd>
            <span class="status-solved">解決済</span>
            <span class="headline-entry-comment">iOSアプリ(カスタムデバッガー除く)のビルドが、正常終了しない不具合を確認しました。</span>
          </dd>
        </dl>
        <div class="headline-sub-entries" style="display: none;">
          <dl>
            <dt>2015/06/15 13:00 JST</dt>
            <dd> iOSアプリ(カスタムデバッガー除く)のビルドが、正常終了しない不具合を確認いたしました。
            </dd>
          </dl>
          <dl>
            <dt>2015/06/15 14:50 JST</dt>
            <dd> 不具合の修正を完了いたしました。</dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
</section>

<script>
  window.addEventListener("load", function() {
    $(".headline-entry-toggle").on("click", "img", function() {
      $img = $(this);
      $entries = $img.parent().parent().find(".headline-sub-entries");
      if ($entries.css("display") == "none") {
        $img.attr("src", "/img/headline/ico_tri_downward.png");
      } else {
        $img.attr("src", "/img/headline/ico_tri_leftward.png");
      }
      $entries.slideToggle();
    });
  });
</script>

