---
title: お知らせ | MonacaでHTML5モバイルアプリ開発
class: headline
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
show_ja_subnav: true
---

<section id="news" class="subpage">
  <div class="container">
    <div class="headline-header">
      <h1>障害・不具合情報</h1>
      <div class="description">
        <div class="text wide-screen">
          障害、不具合情報を掲載しております。
        </div>
        <div class="text small-screen">
          障害・不具合についての報告は、こちらからお願いいたします。
        </div>
      </div>
    </div>

    <div class="headline-entries">

      <div class="headline-entry-submit">
        <a href="http://status.monaca.io/" target="_blank" class="btn-blue wspc">稼働状況 <img src="/img/headline/icn_link_arrow_12px.png" class="icon-arrow"></a>
        <a href="/support/technical/?tag=bugs" class="btn-blue">障害・不具合情報のお問い合わせ</a>
      </div>

    </div>
  </div>
</section>
