---
title: Cloud-Powered HTML5 Hybrid Mobile App Development Tools | Monaca
class: headline
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---

<section id="news" class="subpage">
  <div class="container">
    <h1>Updates</h1>

    <ul class="headline-tabs attension">
      <li  ><a href="/headline/index.html">News / Updates</a></li>
      <li class="current" ><a href="/headline/fault.html"><span class="hidden-xs">Status / Known Issues</span><span class="visible-xs">Status</span></a></li>
    </ul>

    <div class="headline-entries">

      <div class="headline-entry-submit">
        <a href="/ja/support/technical/bugs" class="btn-blue">Report New Issue</a>
      </div>

    </div>
  </div>
</section>

