---
title: お知らせ | MonacaでHTML5モバイルアプリ開発
class: headline
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
show_ja_globalnav: true
show_subnav: true
---

<section id="news" class="subpage">
  <div class="headline-header">
    <h1>最新情報</h1>
    <div class="description">
      <div class="text">
        お知らせからトレーニング、セミナーなどの最新情報を掲載しております。
      </div>
      <span class="floating-text">改修</span>
    </div>
  </div>
  <div class="container">
    <div class="headline-entries">
    </div>
  </div>
  <div class="container">
    <h1>イベント情報</h1>
    <table class="events-entries"> </table>

    <div align="right" style="margin-bottom: 50px;">
      <button class="events-more more-button">
        <div class="button_text">続きを見る</div>
        <img class="button_img" src="/img/event/ico_tri_downward.png" />
      </button>
    </div>
  </div>
  <div class="container">
    <h1>トレーニング情報</h1>
    <table class="trainings-entries"> </table>

    <div align="right" style="margin-bottom: 50px;">
      <button class="trainings-more more-button">
        <div class="button_text">続きを見る</div>
        <img class="button_img" src="/img/event/ico_tri_downward.png" />
      </button>
    </div>
  </div>

  <div class="training-outline">
    <h3>出張研修のご案内</h3>
    <div class="text"><p>HTML5モバイルアプリ開発講座は、企業研修などまとまった人数でご受講頂ける場合、出張研修も承っております。詳しくは<a target="_blank" href="https://form.k3r.jp/asial/training">こちらのページ&nbsp;<i class="glyphicon glyphicon-new-window"></i></a>をごらんください。</p></div>
  </div>
</section>


