---
title: お知らせ | MonacaでHTML5モバイルアプリ開発
class: headline
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
show_ja_globalnav: true
show_ja_subnav: true
---

<section id="news" class="subpage">
  <div class="headline-header">
    <h1>最新情報</h1>
    <div class="description">
      <div class="text">
        お知らせからトレーニング、セミナーなどの最新情報を掲載しております。
      </div>
    </div>
  </div>
  <div class="container">
    <div class="headline-entries">
    </div>

    <div class="headline-footer">
      <div class="headlines-more">
        <span>続きを見る</span>
        <img src="/img/headline/headlines_more.png"/>
      </div>
    </div>

  </div>

</section>


