---
title: Cloud-Powered HTML5 Hybrid Mobile App Development Tools | Monaca
class: headline
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---

<section id="news" class="subpage">
  <div class="container news-updates">
    <h1>Updates</h1>

    <ul class="headline-tabs attension">
      <li class="current" ><a href="/headline/index.html">News / Updates</a></li>
      <li  ><a href="/headline/fault.html"><span class="hidden-xs">Status / Known Issues</span><span class="visible-xs">Status</span></a></li>
    </ul>

    <div class="headline-entries">


    </div>
  </div>
</section>

<script>
  window.addEventListener("load", function() {
    $(".headline-entry-toggle").on("click", "img", function() {
      $img = $(this);
      $entries = $img.parent().parent().find(".headline-sub-entries");
      if ($entries.css("display") == "none") {
        $img.attr("src", "/img/headline/ico_tri_downward.png");
      } else {
        $img.attr("src", "/img/headline/ico_tri_leftward.png");
      }
      $entries.slideToggle();
    });
    window.monacaApi.getHeadline("en",
      function(data) {
        window.monacaApi.appendHeadline(
          $(".headline-entries") , data
        );
      }
    );
  });
</script>
