---
title: お知らせ | MonacaでHTML5モバイルアプリ開発
class: headline
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<section id="news" class="subpage">
  <div class="container">
    <h1>お知らせ</h1>

    <ul class="headline-tabs attension">
      <li class="current" ><a href="/headline/index.html">ニュース・更新情報</a></li>
      <li  ><a href="/headline/fault.html"><span class="hidden-xs">障害・不具合情報</span><span class="visible-xs">障害·不具合</span></a></li>
    </ul>

    <div class="headline-entries">

      <div id="entry_566fc26f7e21932c0afa1be0" class="headline-entry">
        <dl>
          <dt>2015/12/15</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://ja.monaca.io/localkit.html">Monaca LocalkitとCLI 1.2.8</a>をリリースいたしました。<a href="https://github.com/monaca/Localkit/releases">変更点はこちら</a></span>
          </dd>
        </dl>
      </div>

      <div id="entry_566659acfd1734176531d3d5" class="headline-entry">
        <dl>
          <dt>2015/12/08</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger&hl=ja" target="_blank">Android版 Monacaデバッガー 5.0.1</a> をGoogle Playにてリリースいたしました。<br/>
              - Android 4.3以前の端末で、Crosswalkプラグインを含むプロジェクトを同期できない問題を改善しました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_56655738657e4dc562fc83d8" class="headline-entry">
        <dl>
          <dt>2015/12/07</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://ja.monaca.io/localkit.html">Monaca LocalkitとCLI 1.2.7</a>をリリースいたしました。<a href="https://github.com/monaca/Localkit/releases">変更点はこちら</a></span>
          </dd>
        </dl>
      </div>

      <div id="entry_5660111c657e4dfe7d09cd0d" class="headline-entry">
        <dl>
          <dt>2015/12/03</dt>
          <dd>
            <span class="headline-entry-comment-news">【年末年始サポート休業のお知らせ】<br/>2015年12月26日から2015年1月5日までのお問い合わせにつきましては、2016年1月6日より順次対応させていただきますので、ご了承の程、お願いいたします。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_56580d38657e4d7628aada33" class="headline-entry">
        <dl>
          <dt>2015/11/27</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://ja.monaca.io/localkit.html">Monaca LocalkitとCLI 1.2.6</a>をリリースいたしました。<a href="https://github.com/monaca/Localkit/releases">変更点はこちら</a></span>
          </dd>
        </dl>
      </div>

      <div id="entry_565457387e21935765839b66" class="headline-entry">
        <dl>
          <dt>2015/11/24</dt>
          <dd>
            <span class="headline-entry-comment-news">MonacaがCordova 5.2に対応しました。
              詳細については、<a href="http://blog.asial.co.jp/1453">http://blog.asial.co.jp/1453</a> をご確認ください。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_564849b9657e4d915308646b" class="headline-entry">
        <dl>
          <dt>2015/11/15</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://ja.monaca.io/localkit.html">Monaca Localkit 1.2.5</a>をリリースいたしました。<a href="https://github.com/monaca/Localkit/releases">変更点はこちら</a></span>
          </dd>
        </dl>
      </div>

      <div id="entry_5642b2b47e2193394d49f164" class="headline-entry">
        <dl>
          <dt>2015/11/11</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger&hl=ja" target="_blank">Android版 Monacaデバッガー 4.2.6</a> をGoogle Playにてリリースいたしました。<br/>
              - 軽微な機能改善を行いました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_5628794c7e2193a61a100b7e" class="headline-entry">
        <dl>
          <dt>2015/10/22</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger&hl=ja" target="_blank">Android版 Monacaデバッガー 4.2.5</a> をGoogle Playにてリリースいたしました。<br/>
              - プロジェクトの同期が遅くなる問題を改善しました。 </span>
          </dd>
        </dl>
      </div>

      <div id="entry_5624790ffd1734902de7f6f8" class="headline-entry">
        <dl>
          <dt>2015/10/19</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger&hl=ja" target="_blank">Android版 Monacaデバッガー 4.2.4</a> をGoogle Playにてリリースいたしました。<br/>
              - 軽微な不具合改修を行いました。 </span>
          </dd>
        </dl>
      </div>

      <div id="entry_5614e6e87e2193b41d2b7734" class="headline-entry">
        <dl>
          <dt>2015/10/07</dt>
          <dd>
            <span class="headline-entry-comment-news">Monaca で提供している Android版 cordova-plugin-file-transfer に脆弱性が報告されています。<br />
              本脆弱性は、極稀な条件下のみで発生するものとなっております。<br />
              本プラグインをご利用のアプリについては、以下のページを確認頂き、対象とならないことの確認をお願いいたします。<br />
              <br />
              <a href="https://jvn.jp/jp/JVN21612597/">https://jvn.jp/jp/JVN21612597/</a><br />
              <a href="http://jvndb.jvn.jp/ja/contents/2015/JVNDB-2015-000142.html">http://jvndb.jvn.jp/ja/contents/2015/JVNDB-2015-000142.html</a>
            </span>
          </dd>
        </dl>
      </div>

      <div id="entry_55f2a7d3657e4dd609269414" class="headline-entry">
        <dl>
          <dt>2015/09/11</dt>
          <dd>
            <span class="headline-entry-comment-news">誠に勝手ながらWebDAV機能を段階的に廃止いたします。ローカル環境との同期にはMonaca CLIもしくはLocalkitをご利用ください。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55ee58ed7e2193b91b078856" class="headline-entry">
        <dl>
          <dt>2015/09/08</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger&hl=ja" target="_blank">Android版 Monacaデバッガー 4.2.3</a> をGoogle Playにてリリースいたしました。<br/>
              - プロジェクト実行処理の改善を行いました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55ef935c657e4d915644bc97" class="headline-entry">
        <dl>
          <dt>2015/09/07</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://ja.monaca.io/localkit.html">Monaca Localkit 1.2.3</a>をリリースいたしました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55e26b19657e4db42789c439" class="headline-entry">
        <dl>
          <dt>2015/08/28</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://itunes.apple.com/jp/app/monaca/id550941371?mt=8" target="_blank">iOS版 Monacaデバッガー 4.2.1</a> をAppStoreにてリリースしました。<br/>
              ・アプリ中断/復帰時のプロジェクトリロード設定のデフォルト設定値をオフに変更しました<br/>
              ・ネットワーク切断/復帰時のプロジェクトリロード設定のデフォルト設定値をオフに変更しました<br/>
              ・CordovaプラグインのネイティブUIが英語ローカライズのみ表示される不具合を修正しました<br/>
              ・ログアウト時にLocalkitとの接続が消えない不具合を修正しました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55e3b41e657e4d39201fad77" class="headline-entry">
        <dl>
          <dt>2015/08/28</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://ja.monaca.io/localkit.html">Monaca Localkit 1.2.2</a>をリリースいたしました。変更点は、下記の通りです。<br/>
              　- ファイルのアップロード関連の不具合を修正しました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55d59ed2657e4dca33fcf2b6" class="headline-entry">
        <dl>
          <dt>2015/08/20</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://github.com/monaca/monaca-cli">Monaca CLI 1.2.0</a>をリリースいたしました。変更点は、下記の通りです。<br/>
              　- LinuxとMac OS X上で実行エラーが出る不具合の改修を行いました</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55d2a9b1657e4dfa1a054b0f" class="headline-entry">
        <dl>
          <dt>2015/08/18</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://github.com/monaca/monaca-cli">Monaca CLI 1.2.0</a>をリリースいたしました。主な変更点は、下記の通りです。<br/>
              　- monaca remote build コマンドにパラメータを指定することで自動ビルドができるようになりました。<br />
              　- monaca createコマンドでの作成時にクラウドテンプレートを選択できるようになりました。<br />
              　- monaca cloneコマンドをmonaca importコマンドに変更しました。<br />
              　- monaca cloneコマンドではクラウドのプロジェクトを維持するように変更しました。<br />
              　- バイナリファイルアップロードの不具合を修正しました。<br /></span>
          </dd>
        </dl>
      </div>

      <div id="entry_55d2a8cf657e4dcd1ca90463" class="headline-entry">
        <dl>
          <dt>2015/08/18</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://ja.monaca.io/localkit.html">Monaca Localkit 1.2.1</a>をリリースいたしました。変更点は、下記の通りです。<br/>
              　- バイナリファイルのアップロード不具合を修正しました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55d1bda8fd1734f75904f9cc" class="headline-entry">
        <dl>
          <dt>2015/08/17</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger&hl=ja" target="_blank">Android版 Monacaデバッガー 4.2.2</a> をGoogle Playにてリリースいたしました。<br/>
              - 「アプリの復帰時にプロジェクトを再実行」のデフォルト設定をオフに変更しました。<br />
              - 「ネットワーク再接続時にプロジェクトを再実行」のデフォルト設定をオフに変更しました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55c43ef6657e4d1d623dad1f" class="headline-entry">
        <dl>
          <dt>2015/08/07</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://ja.monaca.io/localkit.html">Monaca Localkit 1.2.0</a>をリリースいたしました。主な変更点は、下記の通りです。<br/>
              　- クラウドに送信されないファイルがある問題を修正<br/>
              　- エディターを管理する機能を搭載</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55c1ec3c7e21936f4a6c42b5" class="headline-entry">
        <dl>
          <dt>2015/08/05</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger&hl=ja" target="_blank">Android版 Monacaデバッガー 4.2.1</a> をGoogle Playにてリリースいたしました。<br/>
              　- アプリ外に保存したファイルを表示できない問題を解決しました。<br/>
              【<a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger.crosswalk&hl=ja" target="_blank">ハイパフォーマンス版のみ</a>】<br/>
              　- 設定画面の「Local Storageを削除する」でWebSQLのデータが削除されない問題を解決しました。<br/>
              　- Localkit使用時に、App Log画面でログが出力されない問題を解決しました。
            </span>
          </dd>
        </dl>
      </div>

      <div id="entry_55b71e227e2193205f8add32" class="headline-entry">
        <dl>
          <dt>2015/07/28</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger&hl=ja" target="_blank">Android版 Monacaデバッガー 4.2.0</a> をGoogle Playにてリリースいたしました。<br/>
              　- Wi-Fi設定のプロキシ設定が反映されるようになりました。<br/>
              　- デバッグ画面でプロジェクトを再同期した時にリロードされない問題を解決しました。<br/>
              【<a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger.crosswalk&hl=ja" target="_blank">ハイパフォーマンス版のみ</a>】<br/>
              　- 設定画面の「Local Storageを削除する」で削除されない問題を解決しました。<br/>
              　- App Log画面に「console.log()」でログが出力されない問題を解決しました。<br/>
              　- Crosswalkエンジンのバージョンを13.42.319.12にアップデートしました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55af853ffd1734792a0d43ec" class="headline-entry">
        <dl>
          <dt>2015/07/22</dt>
          <dd>
            <span class="headline-entry-comment-news">Monacaではユーザーアカウントの共有は禁止されております。
              本日より、同一アカウントでの同時複数のPC（または同一PC上の異なるブラウザ）からのご利用を制限させていただきましたので、ご了承ください。<br>
              なお、デバッガーでの実機デバッグ数上限については<a href="https://monaca.mobi/ja/pricing#features">プラン比較表</a>をご覧ください。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_559e4a2e657e4d8b07125a00" class="headline-entry">
        <dl>
          <dt>2015/07/09</dt>
          <dd>
            <span class="headline-entry-comment-news">MonacaビルドサーバーのXcodeを6.2.0へアップデートいたしました。<br/>
              Xcode6.2.0でのビルド対象プロジェクトは、Cordova4系プロジェクトが対象となります。Cordova3.5系プロジェクトは、これまでと同様にXcode6.0.1にてビルドされます。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_5595ee12fd17349f27d6398b" class="headline-entry">
        <dl>
          <dt>2015/07/03</dt>
          <dd>
            <span class="headline-entry-comment-news">Google PlayからCordova 3.5.1より古いバージョンでビルドしたアプリについて、Cordovaの脆弱性の警告を受けております。<br />
              Monacaでビルドしたアプリで該当するのは、Cordova 2.9系 のアプリとなります。<br />
            2015年8月31日以降、アプリの更新が行えなくなりますので、最新のCordova 4.1へのアップデートをご検討ください。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_559269f1657e4df4616a8fce" class="headline-entry">
        <dl>
          <dt>2015/06/30</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://ja.monaca.io/localkit.html">Monaca Localkit 1.1.2</a>をリリースいたしました。主な変更点は、下記の通りです。<br/>
              　- ライブリロード時にクラッシュする問題を修正<br/>
              　- すでにプロジェクトが存在する場合にプロジェクト作成ダイアログが表示されない問題を修正<br/>
              　- プレビューウィンドウ表示時にインスペクターを外部ウィンドウとして表示</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55925eaffd1734034e8ebb31" class="headline-entry">
        <dl>
          <dt>2015/06/30</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger&hl=ja" target="_blank">Android版 Monacaデバッガー 4.1.7</a> をGoogle Playにてリリースいたしました。<br/>
              下記の改良を行いました。<br/>
              　- Localkitとの接続の安定性を改善しました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_558a29387e21934f5e47b363" class="headline-entry">
        <dl>
          <dt>2015/06/24</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://ja.monaca.io/localkit.html">Monaca Localkit 1.1.0</a> をリリースいたしました。主な変更点は、下記の通りです。<br>
              ・HTTPプロキシーへの対応<br>
              ・プレビュー機能の追加<br>
              ・その他、軽微なバグの修正と機能改良</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55879f3d657e4d665535f1a0" class="headline-entry">
        <dl>
          <dt>2015/06/22</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://itunes.apple.com/jp/app/monaca/id550941371?mt=8" target="_blank">iOS版 Monacaデバッガー 4.1.2</a> をAppStoreにてリリースしました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_5583e0fffd1734ee50d65e13" class="headline-entry">
        <dl>
          <dt>2015/06/19</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger.crosswalk&hl=ja" target="_blank">Android版 Monacaデバッガー（ハイパフォーマンス版）4.1.6</a>をGoogle Playにてリリースしました。<br/>
              下記の改良を行いました。<br/>
              　ー 実行中のアプリにpull-to-refresh機能が自動適用される不具合を改善しました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55837a0c657e4da570c943c1" class="headline-entry">
        <dl>
          <dt>2015/06/18</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger.crosswalk&hl=ja" target="_blank">Android版 Monacaデバッガー（ハイパフォーマンス版）4.1.5</a>をGoogle Playにてリリースしました。<br/>
              下記の改良を行いました。<br/>
              　ー ハイパフォーマンス(Crosswalk)WebVIewをアップデートしました。

            </span>
          </dd>
        </dl>
      </div>

      <div id="entry_557f8ea6657e4d4840a88cec" class="headline-entry">
        <dl>
          <dt>2015/06/16</dt>
          <dd>
            <span class="headline-entry-comment-news">Monacaアップデートに伴うメンテナンスのお知らせ<br/>
              Cordova4.1系のAndroidアプリのビルドで組み込まれるハイパフォーマンスWebView(Crosswalk WebView)のアップデートを実施いたします。<br/>
              <br/>
              メンテナンス予定時刻: 2015年06月18日(木) 19:00頃<br/>
              （アップデートによる、ビルドシステムの機能停止はございません。 ）<br/>
              <br/>
              詳しくは <a href="http://blog.asial.co.jp/1407">ブログ記事</a> をご確認ください。<br/></span>
          </dd>
        </dl>
      </div>

      <div id="entry_55781b6d657e4d2605eb3304" class="headline-entry">
        <dl>
          <dt>2015/06/11</dt>
          <dd>
            <span class="headline-entry-comment-news">Monaca Localkit 正式版をリリースいたしました。<br/>
              Monaca Localkitの入手方法およびご利用方法は、<a href="http://docs.monaca.mobi/cur/ja/manual/development/monaca_localkit" target="_blank">Monaca Localkit 公式ドキュメント</a>をご覧ください。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_5576b30e657e4d33721bcb06" class="headline-entry">
        <dl>
          <dt>2015/06/09</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger&hl=ja" target="_blank">Android版Monacaデバッガー4.1.4</a>をGooglePlayにてリリースしました。<br/>
              下記の改良を行いました。<br/>
              　- 複数のバグを修正しました。<br/></span>
          </dd>
        </dl>
      </div>

      <div id="entry_55752740657e4d8511a2a0df" class="headline-entry">
        <dl>
          <dt>2015/06/08</dt>
          <dd>
            <span class="headline-entry-comment-news">Android版Monacaデバッガー4.1.3をGoogle Playにてリリースしました。<br/>
              下記の改良を行いました。<br/>
              　- プロジェクト情報がデバッグメニュー上に表示されるようになりました。<br/>
              　- スプラッシュスクリーンの設定が反映されるようになりました。<br/>
              　- 複数のバグを修正しました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55752789657e4de1091f8ed5" class="headline-entry">
        <dl>
          <dt>2015/06/05</dt>
          <dd>
            <span class="headline-entry-comment-news">Android版Monacaデバッガー4.1.2をGoogle Playにてリリースしました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_557107b8657e4d87639eff04" class="headline-entry">
        <dl>
          <dt>2015/06/05</dt>
          <dd>
            <span class="headline-entry-comment-news">iOS版 Monacaデバッガー 4.1.0 がAppStoreにてリリースしました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_5571050a657e4d39561fce00" class="headline-entry">
        <dl>
          <dt>2015/06/05</dt>
          <dd>
            <span class="headline-entry-comment-news">Android版Monacaデバッガー4.1.1をGoogle Playにてリリースしました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_5534f5ac657e4d585b5048c5" class="headline-entry">
        <dl>
          <dt>2015/04/20</dt>
          <dd>
            <span class="headline-entry-comment-news">Cordova 4.1系に対応したMonacaデバッガー4.0.0をリリースしました。様々な不具合が解消されています。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_5530ca787e21937c5f042049" class="headline-entry">
        <dl>
          <dt>2015/04/17</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="http://ja.onsen.io/" target="_blank">Onsen UI 1.3.0</a> をリリースいたしました。</br>
              <a href="http://ja.onsen.io/" target="_blank">Onsen UI 1.3.0</a>では、Windows Phone 8.1, Windows 8.1 および IE 11に対応しました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_552b7f687e21938c6e8ba059" class="headline-entry">
        <dl>
          <dt>2015/04/13</dt>
          <dd>
            <span class="headline-entry-comment-news">近日配信予定の Monaca Debugger 4.0 リリースに伴い、デバッガー宛てのプッシュ通知機能は廃止となります。これは従来からの外部ライブラリとの競合問題を解決するためです。今後はプッシュ通知のテストを行うためには、デバッグビルドしたアプリをお使いください。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_55223e8a7e21930a4f5624fa" class="headline-entry">
        <dl>
          <dt>2015/04/03</dt>
          <dd>
            <span class="headline-entry-comment-news">
              Monacaアップデートのお知らせ<br/>
              ・Cordovaとの互換性を向上させました。<br/>
              　(Cordovaで作成したプロジェクトを、Monacaプロジェクトと同様の手順でインポートが可能となりました。)<br/>
              ・iOSアプリ設定にて対応言語が指定可能となりました。<br/>
              <br/>
              詳細については、<a href="http://blog.asial.co.jp/1376">「Monacaアップデート: Cordova互換性向上とiOS言語設定」</a>をご確認ください。
          </dd>
        </dl>
      </div>

      <div id="entry_54f00e31fd1734720ec0b1e2" class="headline-entry">
        <dl>
          <dt>2015/03/02</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="http://ja.onsen.io/" target="_blank">Onsen UI 1.2.2</a>をリリースいたしました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_54e6db17657e4d6e07fe4640" class="headline-entry">
        <dl>
          <dt>2015/02/17</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href = "https://ja.monaca.io/book/support/">Monaca公式ガイド「クラウドでできるHTML5ハイブリッドアプリ開発（永井勝則 著、アシアル株式会社 監修）」</a>が翔泳社より発売開始されました。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_54d3456ffd1734956cf07997" class="headline-entry">
        <dl>
          <dt>2015/02/05</dt>
          <dd>
            <span class="headline-entry-comment-news">Android版Monacaデバッガ−（ハイパフォーマンス版）3.2.1をGoogle Playにてリリースしました。プロジェクト実行中にアプリがクラッシュする不具合が修正されております。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_54d028057e21938003b08f81" class="headline-entry">
        <dl>
          <dt>2015/02/03</dt>
          <dd>
            <span class="headline-entry-comment-news"><a href="http://ja.monaca.io/showcase/hitachitool.html" taget="blank">日立ツール株式会社様の導入事例を公開</a>しました
            </span>
          </dd>
        </dl>
      </div>

      <div id="entry_54cb9760fd1734b278154cb2" class="headline-entry">
        <dl>
          <dt>2015/01/30</dt>
          <dd>
            <span class="headline-entry-comment-news">MonacaがCordova 4.1対応にバージョンアップしました。<br/>
              詳細については、<a href="http://blog.asial.co.jp/1356">Monaca新規リリース Cordova 4.1移行ガイド</a>をご確認ください。<br/>
              なお、Cordova 4.1向けの日本語版ドキュメントは現在翻訳中のため一部英語が表示されます。ご了承ください。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_54cb30d97e2193c430d6347a" class="headline-entry">
        <dl>
          <dt>2015/01/30</dt>
          <dd>
            <span class="headline-entry-comment-news">MonacaコミュニティフォーラムのStack Overflow移転に伴い、<a href="http://monaca.mobi/ja/forum/home">フォーラムページ</a>をリニューアルしました。<br/>旧フォーラムは<a href="https://monaca.mobi/ja/forum">こちら</a>を参照ください。</span>
          </dd>
        </dl>
      </div>

      <div id="entry_54c7974d657e4d3b0305dc35" class="headline-entry">
        <dl>
          <dt>2015/01/27</dt>
          <dd>
            <span class="headline-entry-comment-news">Monaca新規リリースに伴うメンテナンスのお知らせ<br/>
              メンテナンス予定時刻 2015/1/30 (金) 午後10時から（日本時間）1時間程度<br/>
              メンテナンス中はMonacaバックエンドを除くMonacaのサービスが停止致します。<br/>
              今回のリリースに関する記事は<a href="https://642dad3ff5abc36218998a19ee31a174f322b763.googledrive.com/host/0B-F5PfgMvTC9dmJONEtWY2xCRm8/201501/20150130monaca_releases_jp.html" target="_blank">こちら</a>からご覧になれます。
            </span>
          </dd>
        </dl>
      </div>

    </div>
  </div>
</section>

<script>
  window.addEventListener("load", function() {
    $(".headline-entry-toggle").on("click", "img", function() {
      $img = $(this);
      $entries = $img.parent().parent().find(".headline-sub-entries");
      if ($entries.css("display") == "none") {
        $img.attr("src", "/img/headline/ico_tri_downward.png");
      } else {
        $img.attr("src", "/img/headline/ico_tri_leftward.png");
      }
      $entries.slideToggle();
    });
  });
</script>