---
title: Cloud-Powered HTML5 Hybrid Mobile App Development Tools | Monaca
class: headline
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---

<section id="news" class="subpage">
  <div class="container news-updates">
    <h1>Updates</h1>

    <ul class="headline-tabs attension">
      <li class="current" ><a href="/headline/index.html">News / Updates</a></li>
      <li  ><a href="/headline/fault.html"><span class="hidden-xs">Status / Known Issues</span><span class="visible-xs">Status</span></a></li>
    </ul>

    <div class="headline-entries">

    </div>

    <div class="headline-footer">
      <div class="headlines-more">
        <span>see more</span>
        <img src="/img/headline/headlines_more.png"/>
      </div>
    </div>

  </div>
</section>


