---
title: お知らせ | MonacaでHTML5モバイルアプリ開発
class: headline
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<section id="news" class="subpage">
  <div class="container">
    <h1>お知らせ</h1>

    <ul class="headline-tabs attension">
      <li class="current" ><a href="/headline/index.html">ニュース・更新情報</a></li>
      <li  ><a href="/headline/fault.html"><span class="hidden-xs">障害・不具合情報</span><span class="visible-xs">障害·不具合</span></a></li>
    </ul>

    <div class="headline-entries">


    </div>
  </div>
</section>

<script>
  window.addEventListener("load", function() {

    window.monacaApi.getHeadline({ lang : "ja" , type : "news_and_release" , limit : 50 } ,
      function(data) {
        window.monacaApi.appendHeadline(
          $(".headline-entries") , data
        );

        $(".headline-entry-toggle").on("click", "img", function() {
          $img = $(this);
          $entries = $img.parent().parent().find(".headline-sub-entries");
          if ($entries.css("display") == "none") {
            $img.attr("src", "/img/headline/ico_tri_downward.png");
          } else {
            $img.attr("src", "/img/headline/ico_tri_leftward.png");
          }
          $entries.slideToggle();
        });

      }
    );
  });
</script>
