---
title: Cloud-Powered HTML5 Hybrid Mobile App Development Tools | Monaca
class: headline
description: Monaca makes hybrid app development with PhoneGap/Apache Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
---

<section id="news" class="subpage">

  <div class="headline-header">
    <h1>Latest Information</h1>
    <div class="description">
      <div class="text">
        Here you can find latest information such as announcements, news, system status and updates, etc.
      </div>
    </div>
  </div>

  <div class="container news-updates">

    <ul class="headline-tabs attension">
      <li class="current" ><a href="/headline/index.html">News / Updates</a></li>
      <li  ><a href="/headline/fault.html"><span class="hidden-xs">Status / Known Issues</span><span class="visible-xs">Status</span></a></li>
    </ul>

    <div class="headline-entries">

    </div>

    <div class="headline-footer">
      <div class="headlines-more">
        <span>see more</span>
        <img src="/img/headline/headlines_more.png"/>
      </div>
    </div>

  </div>
</section>


