---
title: About Monaca Team | Monaca
class: company
description: Learn about the team behind Onsen and Monaca, the cloud-powered HTML5 hybrid app development framework, tools and services.
viewport: width=1200px
---

<div id="main-wrap">
    <div class="monaca-team"></div>
    <section id="company" class="subpage">
      <div class="container">
        <h1 class="en">Our Story</h1>

        <p>
            We are known as one of the geekiest companies in Tokyo. Our company, Asial Corporation, has been a premier mobile/web engineering services and developer education company since 2002. <br><br>

            Masa Tanaka, Founder & CEO, started Asial while in college, and we have added a wide range of technical capabilities on both frontend and backend deeply diving into JavaScript ecosystem, to serve our rapidly growing client base.<br><br>

            Our products, Monaca and Onsen, were born out of such client work. <br><br>

            In 2009, Masa initially started looking into PhoneGap as an internal development tool. The team quickly fell in love with it and has come to believe that hybrid is the future of mobile app development. We introduced PhoneGap to Japan and the team has written dozens of books and articles and founded the Tokyo Cordova User Group.<br><br>

            As customer interest grew, we decided to build a full fledged hybrid app development platform of our own. We had one goal in mind - to provide developers around the world a hassle free way to develop high performance apps.<br><br>

            We started with Monaca Cloud IDE and Debugger, then developed and open sourced our Onsen frontend framework. In 2015, we’ve added local development tools, which morphed Monaca into a comprehensive suite of cloud-powered hybrid mobile app development toolings.<br><br>

            Today, Monaca has over 100,000 users worldwide. Our customers range from independent developers to major enterprises. Our business is rapidly becoming more global. Our team hails from Japan, UK, Germany, Italy, Spain, Bulgaria, Sweden, India,  Cambodia and USA and our members are located in Tokyo and San Francisco. We are a privately-held company thriving with no outside funding to date.
        </p>
    </div>
</section>
<section id="companyTeam" class="subpageContent">
  <div class="container teamMember monacaMember">
    <h2 class="en">Monaca Team</h2>
    <ul id="monacateamList">
        <li><img src="/img/company/About_Us_Tanaka.jpg"></img>
            <dl><dt>Masa Tanaka</dt><dd>CEO</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Tsukada.jpg"></img>
            <dl><dt>Ryoichi Tsukada</dt><dd>CMO</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Watanabe.jpg"></img>
            <dl><dt>Takuya Watanabe</dt><dd>Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Naito.jpg"></img>
            <dl><dt>Kenichi Naito</dt><dd>Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Wada.jpg"></img>
            <dl><dt>Norimitsu Wada</dt><dd>Designer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Deguchi_2.jpg"></img>
            <dl><dt>Mari Deguchi</dt><dd>Front-end Engineer / Designer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Una.jpg"></img>
            <dl><dt>Una Softic</dt><dd>Overseas Marketing Manager</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Hitomi.jpg"></img>
            <dl><dt>Katsuhiro Hitomi</dt><dd>Front-end Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Kaihara_2.jpg"></img>
            <dl><dt>Saito Kaihara</dt><dd>Product Leader</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Makino_2.jpg"></img>
            <dl><dt>Katsutoshi Makino</dt><dd>Back-end Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Sokhour_2.jpg"></img>
            <dl><dt>Ny Sokhour</dt><dd>Service Support</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Khemry_2.jpg"></img>
            <dl><dt>Khourn Khemry</dt><dd>Service Support</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Andi_3.jpg"></img>
            <dl><dt>Andi Pavllo</dt><dd>Front-end Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Okamoto_2.jpg"></img>
            <dl><dt>Yuki Okamoto</dt><dd>Training Specialist</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Ubukata_2.jpg"></img>
            <dl><dt>Kanako Ubukata</dt><dd>Developer Advocate</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Bryan_2.jpg"></img>
            <dl><dt>Bryan Ellis</dt><dd>Back-end Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Sotheara.jpg"></img>
            <dl><dt>Say Sotheara</dt><dd>Native Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Matsuda.jpg"></img>
            <dl><dt>Atsushi Matsuda</dt><dd>iOS / Backend Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Dobrinka.jpg"></img>
            <dl><dt>Didi Yordanova</dt><dd>Front-end / Marketing Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Konstantin.jpg"></img>
            <dl><dt>Konstantin Dinev</dt><dd>Front-end Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Odagawa.jpg"></img>
            <dl><dt>Keiji Odagawa</dt><dd>Service Support</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Iino.jpg"></img>
            <dl><dt>Hirokatsu Iino</dt><dd>Front-end Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Yamaguchi.jpg"></img>
            <dl><dt>Taro Yamaguchi</dt><dd>Front-end Designer / Coder</dd></dl>
        </li>
    </ul>
</div>
<div class="container teamMember onsenMenber">
    <h2 class="en">Onsen Team</h2>
    <ul id="onsenTeamList">
        <li><img src="/img/company/About_Us_Kubota.jpg"></img>
            <dl><dt>Mitsunori Kubota</dt><dd>Lead Engineer / Designer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Andreas.jpg"></img>
            <dl><dt>Andreas Argelius</dt><dd>Lead Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Andi.jpg"></img>
            <dl><dt>Andi Pavllo</dt><dd>Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Fran.jpg"></img>
            <dl><dt>Fran Dios</dt><dd>Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Ilia.jpg"></img>
            <dl><dt>Ilia Yatchev</dt><dd>Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Patrick.jpg"></img>
            <dl><dt>Patrick Klitzke</dt><dd>Engineer</dd></dl>
        </li>
    </ul>
</div>
</section>
<!-- <script>
  $(window).on('load resize', function(){
    if($(window).width() < 640){
      $('#monacateamList li:nth-child(even)').css("margin-right","0px");
      $('#onsenTeamList li:nth-child(even)').css("margin-right","0px");
  }else{
      $('#monacateamList li:nth-child(even)').css("margin-right","73px");
      $('#onsenTeamList li:nth-child(even)').css("margin-right","73px");
      $('#monacateamList li').eq(3).css("margin-right","0px");
      $('#monacateamList li').eq(7).css("margin-right","0px");
      $('#monacateamList li').eq(11).css("margin-right","0px");
      $('#onsenTeamList li').eq(3).css("margin-right","0px");
  }
});
</script> -->

<script src="/js/jquery.smoothScroll.js"></script>


<script src="/js/moment.js"></script>
<script src="/js/jquery.min.js"></script>
<script>

    $(window).load(function() {
    	var fadeInSpeed = 400;
    	$('div.company span#github-published_at').hide();
    	$.ajax({
    		url: 'https://api.github.com/repos/monaca/Localkit/releases',
    		dataType: 'jsonp',
    		success: function(res) {
    			$("div.company span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
    			$('div.company span#github-published_at a strong').text(res.data[0].name);
    			var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
    			$('div.company span#github-published_at span').text(dateJa);
    			$('div.company span#github-published_at').fadeIn(fadeInSpeed);
    		},
    		error: function() {
    			$('div.company span#github-published_at').hide();
    		}
    	});
    });
</script>
