---
title: About Monaca Team | Monaca
class: company
description: Learn about the team behind Onsen and Monaca, the cloud-powered HTML5 hybrid app development framework, tools and services.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
---

<div id="main-wrap">
    <div class="monaca-team"></div>
    <section id="company" class="subpage aboutus">
      <div class="container">
        <h1 class="en">Our Story</h1>

        <p>
            We are known as one of the geekiest companies in Tokyo. Our company, Asial Corporation, has been a premier mobile/web engineering services and developer education company since 2002. <br><br>

            Masa Tanaka, Founder & CEO, started Asial while in college, and we have added a wide range of technical capabilities on both frontend and backend deeply diving into JavaScript ecosystem, to serve our rapidly growing client base.<br><br>

            Our products, Monaca and Onsen, were born out of such client work. <br><br>

            In 2009, Masa initially started looking into PhoneGap as an internal development tool. The team quickly fell in love with it and has come to believe that hybrid is the future of mobile app development. We introduced PhoneGap to Japan and the team has written dozens of books and articles and founded the Tokyo Cordova User Group.<br><br>

            As customer interest grew, we decided to build a full fledged hybrid app development platform of our own. We had one goal in mind - to provide developers around the world a hassle free way to develop high performance apps.<br><br>

            We started with Monaca Cloud IDE and Debugger, then developed and open sourced our Onsen frontend framework. In 2015, we’ve added local development tools, which morphed Monaca into a comprehensive suite of cloud-powered hybrid mobile app development toolings.<br><br>

            Today, Monaca has over 200,000 users worldwide. Our customers range from independent developers to major enterprises. Our business is rapidly becoming more global. Our team hails from Japan, UK, Germany, Italy, Spain, Bulgaria, Sweden, India,  Cambodia and USA and our members are located in Tokyo and San Francisco. We are a privately-held company thriving with no outside funding to date.
        </p>
    </div>
</section>
<section id="companyTeam" class="subpageContent">
  <div class="container teamMember monacaMember">
    <h2 class="en">Monaca Team</h2>
    <ul id="monacateamList">
        <li><img src="/img/company/About_Us_Tanaka.jpg"></img>
            <dl><dt>Masa Tanaka</dt><dd>CEO</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Tsukada.jpg"></img>
            <dl><dt>Ryoichi Tsukada</dt><dd>CMO</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Makino_2.jpg"></img>
            <dl><dt>Katsutoshi Makino</dt><dd>Back-end Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Watanabe.jpg"></img>
            <dl><dt>Takuya Watanabe</dt><dd>Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Naito.jpg"></img>
            <dl><dt>Kenichi Naito</dt><dd>Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Hanazaki.jpg"></img>
            <dl><dt>Nahoko Hanazaki</dt><dd>Designer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Kaihara_2.jpg"></img>
            <dl><dt>Saito Kaihara</dt><dd>Product Leader</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Khemry_2.jpg"></img>
            <dl><dt>Khourn Khemry</dt><dd>Service Support</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Andi_3.jpg"></img>
            <dl><dt>Andi Pavllo</dt><dd>Front-end Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Moroi.jpg"></img>
            <dl><dt>Itsuko Moroi</dt><dd>Sales Assistant</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Okamoto_2.jpg"></img>
            <dl><dt>Yuki Okamoto</dt><dd>Training Specialist</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Ubukata_2.jpg"></img>
            <dl><dt>Kanako Ubukata</dt><dd>Developer Advocate</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Bryan_2.jpg"></img>
            <dl><dt>Bryan Ellis</dt><dd>Back-end Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Matsuda.jpg"></img>
            <dl><dt>Atsushi Matsuda</dt><dd>iOS / Backend Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Odagawa.jpg"></img>
            <dl><dt>Keiji Odagawa</dt><dd>Service Support</dd></dl>
        </li>
    </ul>
</div>
<div class="container teamMember onsenMenber">
    <h2 class="en">Onsen Team</h2>
    <ul id="onsenTeamList">
        <li><img src="/img/company/About_Us_Fran.jpg"></img>
            <dl><dt>Fran Dios</dt><dd>Lead Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Matagawa.jpg"></img>
            <dl><dt>Naoki Matagawa</dt><dd>Engineer</dd></dl>
        </li>
        <li><img src="/img/company/About_Us_Andi.jpg"></img>
            <dl><dt>Andi Pavllo</dt><dd>Engineer</dd></dl>
        </li>
    </ul>
</div>
</section>

<script src="/js/jquery.smoothScroll.js"></script>
<script src="/js/jquery.min.js"></script>

