---
title: 運営会社 | MonacaでHTML5モバイルアプリ開発
class: company
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
viewport: width=1200px
---

<div id="main-wrap">
    <section id="company" class="subpage">
      <div class="container">
        <h1><span>運営会社</span></h1>
        <h2>アシアル株式会社について</h2>
        <p>2002年に創業したアシアル株式会社は、PHP言語を中心としたサーバーサイド技術に特化したベンチャーとして、数多くのお客様にシステムを提案して参りました。<br />
            「最先端のテクノロジーを応用し、お客様に価値あるビジネスを提案する」ことを目的に、アシアルは今後もエンジニアリングを追求して参ります。</p>

            <br>
            <br>
            <h2>事業内容</h2>
            <table>
                <tr>
                    <td colspan="2">
                        <h3>PHP・モバイル開発者向けスクール</h3>
                        <p>PHP基礎編〜上級編<br />
                            PhoneGap実践講座、PhoneGapセミナー</p>
                        </td>
                        <td class="wide">
                            <h3>サーバーサイドシステム開発</h3>
                            <p>PHP言語を中心とした、高パフォーマンス・セキュリティが求められるシステム、大規模ウェブシステムなどの経験が豊富です。</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="narrow">
                            <h3>製品</h3>
                            <ul>
                                <li><a target="_blank" href="http://www.asial.co.jp/ssl-mobile/" rel="nofollow">SSLモバイル</a></li>
                                <li><a target="_blank" href="http://www.asial.co.jp/jpgraph/" rel="nofollow">JpGraph</a></li>
                                <li><a target="_blank" href="http://www.asial.co.jp/ioncube/" rel="nofollow">ionCube</a></li>
                            </ul>
                        </td>
                        <td>
                            <h3>サービス</h3>
                            <ul>
                                <li><a target="_blank" href="http://www.phppro.jp/">PHPプロ！</a></li>
                            </ul>
                        </td>
                        <td class="wide">
                            <h3>クライアントサイド システム開発</h3>
                            <p>スマートフォンからPC向けアプリまで、
                                数多くの構築実績がございます。<br />
                                スマートフォン: Objective-C、Java <br />
                                Windows・Mac: Flex、Silverlight、C#</p>
                            </td>
                        </tr>
                    </table>

                    <h2>アシアル株式会社</h2>
                    <p>〒113-0034 東京都文京区湯島二丁目31番14号 ファーストジェネシスビル<br />
                        TEL： 03-5875-6862 &nbsp; FAX： 03-5875-6216<br />
                        URL：<a href="http://www.asial.co.jp/" target="_blank" rel="nofollow">http://www.asial.co.jp/</a>
                        <br>
                        <br>
                        ※技術サポートは <a href="/support/technical/">こちらのページ</a> より受け付けております。
                    </p>
                </div>
            </section>
            <script src="/js/jquery.smoothScroll.js"></script>


            <script src="/js/moment.js"></script>
            <script src="/js/jquery.min.js"></script>
            <script>

                $(window).load(function() {
                   var fadeInSpeed = 400;
                   $('div.company span#github-published_at').hide();
                   $.ajax({
                      url: 'https://api.github.com/repos/monaca/Localkit/releases',
                      dataType: 'jsonp',
                      success: function(res) {
                         $("div.company span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
                         $('div.company span#github-published_at a strong').text(res.data[0].name);
                         var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
                         $('div.company span#github-published_at span').text(dateJa);
                         $('div.company span#github-published_at').fadeIn(fadeInSpeed);
                     },
                     error: function() {
                         $('div.company span#github-published_at').hide();
                     }
                 });
               });
</script>


