---
title: Monaca Educationプランの紹介
class: academic
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
viewport: width=1200px
show_ja_globalnav: true
---

<div id="main-wrap">

  <section id="academic-plan">
    <div class="academic-header">
      <img src="/img/academic/key_image.jpg" alt="" >
      <div class="box-try">
        <a class="btn btn-blue" href="https://edu.monaca.io/" target="_blank">Educationサイトへ</a>
      </div>
    </div>


    <div class="container">
      <ul class="intro-logo">
        <li><a href="http://www.rupp.edu.kh/"><img src="/img/academic/intro_logo_01.png" alt="ROYAL UNIVERSITY OF PHNOM PENH" ></a></li>
        <li><a href="http://www.kaetsu.ac.jp/"><img src="/img/academic/intro_logo_02.png" alt="嘉悦大学" ></a></li>
        <li><a href="http://www.keio.ac.jp/index-jp.html"><img src="/img/academic/intro_logo_07.png" alt="慶應義塾大学" ></a></li>
        <li><a href="http://www.teu.ac.jp/"><img src="/img/academic/intro_logo_03.png" alt="東京工科大学" ></a></li>
        <li><a href="http://terahouse-ica.ac.jp/"><img src="/img/academic/intro_logo_04.png" alt="専門学校東京テクニカルカレッジテラハウスICA[キャリア開発研究所]" ></a></li>
        <li><a href="http://www.jec.ac.jp/"><img src="/img/academic/intro_logo_05.png" alt="日本電子専門学校" ></a></li>
        <li><a href="http://www.yamagata-u.ac.jp/index-j.html"><img src="/img/academic/intro_logo_06.png" alt="山形大学" ></a></li>
        <li><a href="http://www.anabuki-net.ne.jp/fukuyama/acf/"><img src="/img/academic/intro_logo_08.png" alt="穴吹情報デザイン専門学校" ></a></li>
      </ul>


      <ul class="features">
        <li class="clearfix imgright features-block02">
          <div class="feature-cont cont02">
            <h2>面倒な開発環境のセットアップ不要</h2>
            <p>Monacaはクラウド上で動作するアプリ開発環境なので、ブラウザさえあればすぐに開発を始めることができます。もう授業の導入時に開発環境のインストール作業でつまずくことはありません。</p>
          </div>
          <div class="thumb">
            <img src="/img/academic/academic_02.jpg" alt="" >
          </div>
        </li>
        <li class="clearfix imgleft features-block01">
          <div class="thumb">
            <img src="/img/academic/academic_01.jpg" alt="" >
          </div>
          <div class="feature-cont cont01">
            <h2>初心者HTML5、JavaScriptの<br>学習に最適</h2>
            <p>初心者の方がすぐに学習を開始できるように、テンプレートやサンプルプログラムを多数用意しています。実際にプログラミングの初学者を対象にMonacaで授業を行った結果、半年程度でアプリを自作できるようになったという声もいただいています。
            </p>
          </div>
        </li>
        <li class="clearfix imgright features-block05">
          <div class="feature-cont cont05">
            <h2>「使える」教材と豊富なサンプル集</h2>
            <p>学校の授業でプログラミング教育を実施するためには「使える」教材が欠かせません。教育現場での実証研究を元に執筆した書籍<a href="/book/001">『Monacaで学ぶはじめてのプログラミング』</a>は安心してプログラミングの基礎からアプリ開発までを学べる内容になっています。</p>
          </div>
          <div class="thumb">
            <img src="/img/academic/academic_05.jpg" alt="" >
          </div>
        </li>
        <li class="clearfix imgleft features-block03">
          <div class="thumb">
            <img src="/img/academic/academic_03.jpg" alt="" >
          </div>
          <div class="feature-cont cont03">
            <h2>作ったアプリをその場で確認</h2>
            <p>学生が作成したプログラムはすぐにスマートフォンの実機上で動作させることが可能です。実際に自分のスマートフォンで自分のアプリが動いているのを見ることで、学生の皆さんは強い達成感を得られます。</p>
          </div>
        </li>
        <li class="clearfix imgright features-block04">
          <div class="feature-cont cont04">
            <h2>プロジェクト共有機能で授業の進行を<br>スムーズに</h2>
            <p>１つのアプリを複数人で閲覧・編集できるので、グループワークや課題の提出を手軽に行うことができます。</p>
          </div>
          <div class="thumb">
            <img src="/img/academic/academic_04.jpg" alt="" class="feature-keyimg" >
          </div>
        </li>
      </ul>
      <div class="box-try box-buy">
        <a class="btn btn-blue" href="https://edu.monaca.io/" target="_blank">Educationサイトへ</a>
      </div>
    </div>

    <div class="showcase">
      <div class="ribbon">
        <img src="/img/academic/h_intro_ex.png" alt="" >
      </div>
      <div class="showcase-item clerfix">
        <div class="portrat">
          <img src="/img/academic/portrait_sengtha.png" alt="王立プノンペン大学 Lecturer  Sengtha Chay 様" >
        </div>
        <div class="showcase-text clearfix">
          <div class="name">王立プノンペン大学<br>Lecturer  Sengtha Chay 様</div>
          <div class="text">
            Monacaはカンボジアの開発者にとってクロスプラットフォームのモバイルアプリ開発をおこなうための選択肢になり得ると思います。学生達はこの新しい開発プラットフォームで学ぶ事を非常に楽しんでいました。<br>HTML5、CSS、JavaScriptといったWeb技術を採用しているので、Monacaはより多くの学生や開発者に受け入れられると思います。Monacaは短納期や低コストで開発を行うアプリ開発には最適なツールだと思います。一方で不安定なネット接続環境下でMonacaを使うことは今後の課題になると思います。
          </div>
        </div>
      </div><!-- .shocase-item -->
      <div class="showcase-item clerfix">
        <div class="portrat">
          <img src="/img/academic/portrait_tooyama.png" alt="横浜商科大学商学部准教授 嘉悦大学経営経済学部講師（前准教授、前情報メディアセンター長） 遠山緑生 様" >
        </div>
        <div class="showcase-text clearfix">
          <div class="name">横浜商科大学商学部准教授<br> 嘉悦大学経営経済学部講師（前准教授、前情報メディアセンター長） 遠山緑生 様</div>
          <div class="text">
            プログラミングの初学者向けに、スマホで実際に動くアプリケーションを企画からリリースまで一気に経験する、という内容の研究会を行いたくて、以前からよい開発環境を探している中でMonacaに出会い、昨年度大学２年生向けに採用したところ、今までもっともうまく進行することができました。iPhone/Androidに分かれる学生の実機で動き、WindowsPCでも開発できる環境でありながら、抜群の取っ付きやすさを持っており、豊富なサンプルプログラムの存在も魅力です。
          </div>
        </div>
      </div><!-- .shocase-item -->
      <div class="showcase-item clerfix">
        <div class="portrat">
          <img src="/img/academic/portrait_minami.png" alt="慶應義塾大学環境情報学部 講師 南政樹 様" >
        </div>
        <div class="showcase-text clearfix">
          <div class="name">慶應義塾大学環境情報学部<br>講師 南政樹 様</div>
          <div class="text">
            Monacaは私たちが探し求めていたプログラミング教育に適したアプリ開発
            ツールです。<br>我々が担当する講義「インターネット」の履修者は、グループワークで HackUという大学生向けハッカソンイベントに参加します。例年500人を超える学生が履 修しますが、その多くは初学者なため、開発環境の構築からトラブル続きで、最初からモ チベーションが下がっていました。Monacaをこれまでの問題をすべて解決してくれ、学習意 欲を向上させてくれました。
          </div>
        </div>
      </div><!-- .shocase-item -->
      <div class="showcase-item clerfix">
        <div class="portrat">
          <img src="/img/academic/portrait_fujisawa.png" alt="東京工科大学メディア学部メディア学科 専任講師 藤澤公也 様" >
        </div>
        <div class="showcase-text clearfix">
          <div class="name">東京工科大学メディア学部メディア学科<br>専任講師 藤澤公也 様</div>
          <div class="text">
            メディア学部の演習「スマートサービスデザイン」ではMonacaを用いてスマホ・タブレットアプリの制作を通して、新しいサービスの提案・設計・実装に取り組んでいます。メディア学部では、コンテンツ、デザイン志向の学生が多い中、企画提案やUIデザインを行うだけでなく、Monacaを用いることでプログラミングを学び、実際に動くアプリを作り上げることができ、演習を通して高い達成感が得られます。<br>
            また、Monacaデバッガを用いることで、開発中に手元のスマホ・タブレットで容易に動作の確認ができるためアプリ開発のモチベーションを高め、より高度な取り組みにチャレンジできています。
          </div>
        </div>
      </div><!-- .shocase-item -->
      <div class="showcase-item clerfix">
        <div class="portrat">
          <img src="/img/academic/portrait_tachibana.png" alt="山形大学大学院  理工学研究科 准教授  立花和宏 様" >
        </div>
        <div class="showcase-text clearfix">
          <div class="name">山形大学大学院  理工学研究科<br>准教授  立花和宏 様</div>
          <div class="text">
            アプリの開発にはプログラム言語やオペレーティングシステムの知識も必要です。しかしこれらの習得にはそれなりの時間がかかります。そこに費やす労力が多すぎると良いアイディアがあってもアプリ開発に辿り着く前に挫折してしまいます。特に情報を専門としない学科においてはなおさらです。Monacaがオペレーティングシステムの違いを吸収して多様なモバイル端末用のアプリを開発できることに大きな魅力を感じます。
          </div>
        </div>
      </div><!-- .shocase-item -->
      <div class="showcase-item clerfix">
        <div class="portrat">
          <img src="/img/academic/portrait_izawa.png" alt="山形大学大学院  理工学研究科 准教授  立花和宏 様" >
        </div>
        <div class="showcase-text clearfix">
          <div class="name">穴吹情報デザイン専門学校　情報システム学科<br>講師 伊沢剛 様</div>
          <div class="text">
            本校ではモバイルアプリ開発の授業でMonacaを使っています。学生たちが初めてMonacaに触れた時の感想は、強力なエディタ機能ががとても使いやすいく親しみやすいと喜んでいました。シンプルに使える開発環境と、自分自身のスマートフォンで作ったプログラムがすぐに動くことに学生の高い満足度が伺えます。<br>現在は、テキストのサンプルコードを動かす事を中心に行っていますが、今後は学生自身でオリジナルのアプリケーションを設計、開発し、公開するという目標をもって取り組んでいきます。<br>将来的には、ワープロソフトや表計算ソフトの操作を修得するように、コンピュータの基本を学ぶ学生向けにMonacaを使った授業を展開していきたいと考えております。
          </div>
        </div>
      </div><!-- .shocase-item -->
      <div class="showcase-item clerfix">
        <div class="portrat">
          <img src="/img/academic/portrait_akamatsu.jpg" alt="情報科学芸術大学院大学(IAMAS)　メディア表現研究科 教授 赤松正行 様" >
        </div>
      <div class="showcase-text clearfix">
        <div class="name">情報科学芸術大学院大学(IAMAS)メディア表現研究科<br>教授 赤松正行 様</div>
        <div class="text">
          Monacaを集合的表現研究のために使っています。コンピュータのIDEから開発中のアプリを数十台のスマートフォンで一斉に起動することができ、コードを変更して保存するだけで一瞬にして全台の処理を変更できるからです。一般的な開発環境では何十台ものデバイスを手軽に扱うことは不可能なので、これはMonacaが持つ極めて強力な機能と言えます。アートやデザイン、エンターテイメントはもちろんのこと、自律分散型のシステムが適用される様々な分野での活用が期待されます。
        </div>
      </div>
    </div><!-- .shocase-item -->

      <ul class="shocase-list-block clearfix">
        <li><span>専門学校東京テクニカルカレッジ</span></li>
        <li><span>東北工業大学</span></li>
        <li><span>日本電子専門学校</span></li>
      </ul>
    </div>
      <div class="box-try">
        <a class="btn btn-blue" href="https://edu.monaca.io/" target="_blank">Educationサイトへ</a>
      </div>
  </section>

  <script src="/js/moment.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script>

    $(window).load(function() {
    	var fadeInSpeed = 400;
    	$('div.academic span#github-published_at').hide();
    	$.ajax({
    		url: 'https://api.github.com/repos/monaca/Localkit/releases',
    		dataType: 'jsonp',
    		success: function(res) {
    			$("div.academic span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
    			$('div.academic span#github-published_at a strong').text(res.data[0].name);
    			var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
    			$('div.academic span#github-published_at span').text(dateJa);
    			$('div.academic span#github-published_at').fadeIn(fadeInSpeed);
    		},
    		error: function() {
    			$('div.academic span#github-published_at').hide();
    		}
    	});
    });
  </script>
