---
title: Monaca - アプリ開発ワークショップ全国キャラバン
class: caravan
description: Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」出版記念 アプリ開発ワークショップ全国キャラバン開催！
---

<div class="keyvisual box-full"><div>
    <h1><img src="/img/caravan/keyvisual.png" alt="Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」出版記念 アプリ開発ワークショップ全国キャラバン開催！"></h1>
</div></div>

<section class="summary">
    <h2>開催概要・スケジュール</h2>
    <p>テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ■テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ■テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキストテキストテ□テキ200～300文字■</p>

    <div class="info">
        <dl><dt>時間</dt><dd>各会2時間</dd></dl>
        <dl><dt>定員</dt><dd>各会場 約30名</dd></dl>
        <dl><dt>料金</dt><dd>3,240円（税込）</dd></dl>
        <p>※「クラウドでできるHTML5ハイブリッドアプリ開発」購入者は無料</p>
    </div>

    <ul class="schedule">
        <li class="full">
            <h3>東京</h3>
            <p class="date"><em>3</em>月<em>5</em>日（日）</p>
            <p class="place">デジタルハリウッド東京校<br />お茶の水駅 徒歩1分</p>
            <a href="#" class="btn">詳細・お申し込み</a>
        </li>
        <li class="fixed">
            <h3>東京</h3>
            <p class="date"><em>3</em>月<em>5</em>日（日）</p>
            <p class="place">デジタルハリウッド東京校<br />お茶の水駅 徒歩1分</p>
            <a href="#" class="btn">詳細・お申し込み</a>
        </li>
        <li class="tba">
            <h3>東京</h3>
            <p class="place">もうしばらくお待ちください</p>
        </li>
        <li class="tba">
            <h3>東京</h3>
            <p class="place">もうしばらくお待ちください</p>
        </li>
        <li>
            <h3>東京</h3>
            <p class="date"><em>3</em>月<em>5</em>日（日）</p>
            <p class="place">デジタルハリウッド東京校<br />お茶の水駅 徒歩1分</p>
            <a href="#" class="btn">詳細・お申し込み</a>
        </li>
        <li class="inquiry">
            <p>その他開催ご希望<br />ございましたら<br />  ご連絡くださいませ</p>
            <a href="#" class="btn">お問い合わせ</a>
        </li>
    </ul>
</section>

<section class="points">
    <h2>Monaca &amp; Cordovaアプリ開発のポイントを紹介</h2>

    <img src="/img/caravan/img_points.png" alt="" class="thumb">
    <p>HTML5/JavaScriptでいくつかのアプリを作りながら、</p>
    <ul>
        <li>ハイブリッドアプリ作成の基本テクニック</li>
        <li>Cordova APIによるネイティブ機能の活用方法</li>
        <li>Onsen UIを利用したリッチなUIを構築方法</li>
    </ul>
    <p>等について詳しく学びます。</p>
</section>
