---
title: Monaca - Monaca/Onsen UI採用情報
class: careers
description: Monaca/Onsen UIの採用情報を掲載しています。
keywords: 採用,転職

---

<div class="keyvisual box-full"><div>
    <h1>Monaca/Onsen UIの開発チームに<br />参加しませんか？</h1>
</div></div>

<section class="outline">
    <p>私たちは、Monaca / Onsen UIの開発チームに参加してくれるメンバーを募集しています。</p>
    <p>既に日本、アメリカ、インド、ブラジルを始めとする世界各国の8万人を超える開発者が、Monaca / Onsen UIを使ってモバイルアプリの開発を行っています。私たちはより多くの開発者の皆さんに、より快適に開発を行ってもらうために、より強力な開発チームを必要としています。</p>
    <p>エンジニア主体のチームに興味がある方は、ぜひアシアルにお越しください。世界に向けてプロダクトを発信する意欲のある方のご応募を心待ちにしています。</p>
</section>

<section class="about">
    <div class="about-container">
        <h2>アシアルのエンジニアを知る</h2>
        <p>アシアルで現在活躍をしているエンジニア達の声をお届けします。</p>
        <div class="btns">
            <a class="btn btn-blue" href="http://www.asial.co.jp/recruit/about_member/index.php" target="_blank">詳細はこちら</a>
				</div>
				
        <h2>アシアルについて知る</h2>
        <p>アシアルの企業理念、事業概要、各種制度などをご紹介します。</p>
        <div class="btns">
            <a class="btn btn-blue" href="http://www.asial.co.jp/recruit/about_asial/index.php" target="_blank">詳細はこちら</a>
				</div>
    </div>
</section> 

<section class="list">
    <div class="list-container">
		    <h1 id="careers-list">現在求人中の職種</h1>
		    <ul class="link-list">
				    <li><a href="#frontend"><i class="glyphicon glyphicon-chevron-down"></i> フロントエンドエンジニア</a></li>
				    <li><a href="#serverside"><i class="glyphicon glyphicon-chevron-down"></i> サーバーサイドエンジニア</a></li>
				    <li><a href="#app"><i class="glyphicon glyphicon-chevron-down"></i> iOS/Androidアプリケーションエンジニア</a></li>
				</ul>

				<h2 id="frontend">フロントエンドエンジニア</h2>		
				<table>
				    <tr>
						    <th>職務内容</th>
						    <td>
								    <ul>
										    <li>Monaca、Onsen UIなどのWebサービスもしくはオープンソースプロダクトの開発</li>
										    <li>HTML5ハイブリッドアプリの開発支援ツールの設計・開発</li>
										    <li>HTML5ハイブリッドアプリの開発</li>
										    <li>ブログ執筆、講演等を通じた技術情報の発信</li>
										</ul>
								</td>
						</tr>
				    <tr>
						    <th>必要スキル・経験</th>
						    <td>
								    <ul>
										    <li>Webフロントエンド技術への理解（HTML5、CSS、JavaScript）</li>
										    <li>JavaScriptフレームワークを用いた開発経験</li>
										    <li>オブジェクト指向プログラミングの知識</li>
										    <li>Linuxに関する基礎知識</li>
										    <li>HTTPプロトコルに関する基礎知識</li>
										    <li>英語の技術ドキュメントの読解力</li>
										</ul>
								</td>
						</tr>
				    <tr>
						    <th>あると望ましいスキル・経験</th>
						    <td>
								    <ul>
										    <li>スクリプト言語（Perl、PHP、Python、Ruby）によるアプリ開発経験</li>
										    <li>オープンソースプロダクトへのコントリビューション</li>
										    <li>開発リーダもしくはアーキテクトとしての実務経験</li>
										    <li>プロジェクト管理や開発プロセスに関する知識</li>
										    <li>勉強会、セミナー、カンファレンス等での登壇経験</li>
										    <li>iPhone、Androidアプリ開発の経験</li>
										</ul>
								</td>
						</tr>
				    <tr>
						    <th>勤務地</th>
						    <td>
								    <ul>
										    <li>東京本社</li>
										</ul>
								</td>
						</tr>
				</table>
        <div class="btn-container"><p class="btn btn-blue"><a href="http://www.asial.co.jp/recruit/mid-career.php" target="_blank">エントリーはこちら</a></p></div>
        <p class="btn-btt"><a href="#careers-list">現在求職中の職種TOP <i class="glyphicon glyphicon-circle-arrow-up"></i></a></p>

				<h2 id="serverside">サーバーサイドエンジニア</h2>
				<table>
				    <tr>
						    <th>職務内容</th>
						    <td>
								    <ul>
										    <li>MonacaのサーバサイドWebアプリ開発</li>
										    <li>ブログ執筆、講演等を通じた技術情報の発信</li>
										</ul>
								</td>
						</tr>
				    <tr>
						    <th>必要スキル・経験</th>
						    <td>
								    <ul>
										    <li>JavaまたはPHP、MVCフレームワーク、Linux、RDBMSを用いた3年以上のWebアプリ開発経験</li>
										    <li>Webアプリケーションの実装時に必要となるセキュリティ知識</li>
										    <li>TCP/IPの基礎</li>
										    <li>UMLなどを用いた詳細設計書の作成</li>
										    <li>開発リーダもしくはアーキテクトとしての実務経験</li>
										    <li>英語の技術ドキュメントの読解力</li>
										</ul>
								</td>
						</tr>
				    <tr>
						    <th>あると望ましいスキル・経験</th>
						    <td>
								    <ul>
										    <li>プロジェクト管理や開発プロセスに関する知識</li>
										    <li>勉強会、セミナー、カンファレンス等での登壇経験</li>
										</ul>
								</td>
						</tr>
				    <tr>
						    <th>勤務地</th>
						    <td>
								    <ul>
										    <li>東京本社</li>
										</ul>
								</td>
						</tr>
				</table>
        <div class="btn-container"><p class="btn btn-blue"><a href="http://www.asial.co.jp/recruit/mid-career.php" target="_blank">エントリーはこちら</a></p></div>
        <p class="btn-btt"><a href="#careers-list">現在求職中の職種TOP <i class="glyphicon glyphicon-circle-arrow-up"></i></a></p>

				<h2 id="app">iOS/Androidアプリケーションエンジニア</h2>
				<table>
				    <tr>
						    <th>職務内容</th>
						    <td>
								    <ul>
										    <li>Monacaデバッガー及びビルドシステムなどの開発</li>
										    <li>Cordovaプラグインの開発</li>
										    <li>ブログ執筆、講演等を通じた技術情報の発信</li>
										</ul>
								</td>
						</tr>
				    <tr>
						    <th>必要スキル・経験</th>
						    <td>
								    <ul>
										    <li>Objective-CもしくはJavaを用いたモバイルアプリ開発経験</li>
										    <li>オブジェクト指向プログラミングの知識</li>
										    <li>開発リーダもしくはアーキテクトとしての実務経験</li>
										    <li>英語の技術ドキュメントの読解力</li>
										</ul>
								</td>
						</tr>
				    <tr>
						    <th>あると望ましいスキル・経験</th>
						    <td>
								    <ul>
										    <li>プロジェクト管理や開発プロセスに関する知識</li>
										    <li>オープンソースプロダクトへのコントリビューション</li>
										    <li>勉強会、セミナー、カンファレンス等での登壇経験</li>
										</ul>
								</td>
						</tr>
				    <tr>
						    <th>勤務地</th>
						    <td>
								    <ul>
										    <li>東京本社</li>
										</ul>
								</td>
						</tr>
				</table>
        <div class="btn-container"><p class="btn btn-blue"><a href="http://www.asial.co.jp/recruit/mid-career.php" target="_blank">エントリーはこちら</a></p></div>
        <p class="btn-btt"><a href="#careers-list">現在求職中の職種TOP <i class="glyphicon glyphicon-circle-arrow-up"></i></a></p>

    </div>
</section>                                                                                                                                                                                                                                                                          