---
title: Continuous Integration for Cordova Apps | Monaca
class: ci compare
description: Hands-free automated build and deployment for your Cordova apps. No need to maintain local SDK anymore!
---

<div class="keyvisual box-full">
    <div>
        <h1><img src="/img/ci/logo_monaca_ci.png" alt="Monaca CI" /></h1>
        <h2>Continuous Integration for Cordova Apps</h2>
        <p>Hands-free build and deployment automation for your Cordova apps. 
<br class="hidden-xs" />No need to maintain local SDK anymore!</p>

        <div class="box-try">
            <a href="/register/start.html" class="btn btn-green">Sign Up Now for Free<span class='small'></span></a>
            <a href="https://docs.monaca.io/en/manual/monaca_ci/overview/" class="btn btn-line-gray" target="_blank">See Instructions<span class='small'></span></a>
        </div>
    </div>
</div>

<div id="benefits" class="container section benefits">
    <p>Monaca CI (Continuous Integration & Deployment) is a service that has been integrated within the current development environment stack to automate building and deployment cycle. Monaca CI let developers focus more on the code and less on the backend process of building, testing and deploying an app.</p>
</div>

<div class="container section subfeatures">
    <ol>
        <li>
            <h3 class="maintitle"><img src="/img/ci/icon_ci_01.png" alt="Easy Setup" /></h3>
            <h4 class="subtitle">Easy Setup</h4>
            <p>Quickly start deployment automation by choosing your GitHub repository. All build configurations are easily made on the browser.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/ci/icon_ci_06.png" alt="Security" /></h3>
            <h4 class="subtitle">Security</h4>
            <p>Everything is prepared on the cloud in a sandbox-environment for security. By combining <a href="https://docs.monaca.io/en/reference/power_plugins/html5_resource_encryption/">Resource Encryption Power Plugin</a>, you can even add security layer to your application.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/ci/icon_ci_02.png" alt="Made for Cordova" /></h3>
            <h4 class="subtitle">Made for Cordova Developers</h4>
            <p>We support various Cordova versions and third-party plugins using hook scripts. No need to maintain Xcode, Android SDK or any other build tools.
            </p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/ci/icon_ci_03.png" alt="Remote Build" /></h3>
            <h4 class="subtitle">Remote Build</h4>
            <p>Trigger automatic remote builds by committing to the repository. Flexible configurations to precisely define  is possible by specifying tag names or branch names to build for debug and/or release builds.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/ci/icon_ci_04.png" alt="Deployment" /></h3>
            <h4 class="subtitle">Deployment</h4>
            <p>Automated deployment to third-party distribution services. Supported services include but not limited to Hockey App and Deploy Gate. <a href="">Click here</a> for a complete list of supported and upcoming services.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/ci/icon_ci_05.png" alt="Cross Platform" /></h3>
            <h4 class="subtitle">Supports iOS, Android and Windows</h4>
            <p>Seamlessly build for all major mobile operating systems. You can even combine with our Cordova state-of-the-art development tools and debugging application!</p>
        </li>
    </ol>
</div>

<div class="container box-plan">
    
    <div id="important-info-en-el" class="cmn-info-middle"></div>

    <h2>Monaca CI Pricing</h2>
    <p>The Monaca CI service is on a pay-per-use platform with a monthly fee. Note that all of our plans include <a href="/pricing.html">advanced debugging, remote push notifications, technical support and more</a>!</p>

    <div class="compare-box">
        <div class="compare-header">
            <h3>Monaca Plans</h3>
            <div>Monthly Charge</div>
            <ul>
                <li><i>GitHub Public <br class="hidden-xs" />Repos</i></li>
                <li><i>GitHub Private <br class="hidden-xs" />Repos</i></li>
            </ul>
        </div>
        <div id="compare-cont" class="compare-cont">
            <table id="compare-cont-table">
                <thead>
                    <th>Basic<span>Free</span></th>
                    <th class="dev-plan">Developer<span>From $19/mo</span></th>
                    <th class="personal-plan">Personal<span>From $9.5/mo</span></th>
                    <th>Gold<span>From $49/mo</span></th>
                    <th>Platinum<span>From $78/mo</span></th>
                </thead>

                <tbody>
                  <tr>
                    <td>10 CI<span>/mo</span></td>
                    <td class="dev-plan" rowspan="2">10 Builds<span>/mo</span></td>
                    <td class="personal-plan" rowspan="2">10 Builds<span>/mo</span></td>
                    <td rowspan="2" colspan="2">30 Builds<span>/mo</span><br /></td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr class="compare-cont-comment">
                    <td colspan="4">
                        <ul>
                            <li>Additional CI tickets(build tickets) are available for purchase ($110 for 50 builds - valid for 3 months).</li>
                            <li>Basic plan is limited to 3 builds per last 24 hours.</li>
                            <li>Basic plan does not include third-party Cordova plugin support.</li>
                            <li>Basic plan users need to log in within 30 days.</li>
                        </ul>
                    </td>
                    <td class="comment-next-line"></td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="compare-contact">
            <a href="pricing-detail.html">Compare All Features</a>
        </div>
    </div>
</div>
<div class="compare-trial">
    <p>14 day UNLIMITED FREE TRIAL on all monthly plans.</p>
    <a href="/register/start.html" class="btn btn-green">Sign Up Now for Free</a>
</div>