---
title: Monaca CIでCordovaのビルドとデプロイを自動化 | Monaca
class: ci compare
description: Monaca CIを使うと簡単なセットアップでCordovaアプリのビルドとデプロイを自動化できます。ローカル環境のセットアップは一切不要です。
---

<div class="keyvisual box-full">
    <div>
        <h1><img src="/img/ci/logo_monaca_ci.png" alt="Monaca CI" /></h1>
        <h2>Monaca/Cordovaアプリの継続的インテグレーション</h2>
        <p>HTML5ハイブリッドアプリのビルドとデプロイを完全に自動化。<br class="hidden-xs" />ローカル環境のセットアップは一切不要です。</p>

        <div class="box-try">
            <a href="/register/start.html" class="btn btn-green">無料サインアップ<span class='small'></span></a>
            <a href="https://docs.monaca.io/ja/manual/monaca_ci/overview/" class="btn btn-line-gray" target="_blank">詳細を見る<span class='small'></span></a>
        </div>
    </div>
</div>

<div id="benefits" class="container section benefits">
    <p>
    Monaca CI（継続的インテグレーションとデプロイメント）を使うと、Cordovaアプリのビルドとパッケージ配布を自動化することができます。サンドボックス実行による高いセキュリティと、GitHubと連携した簡単さを両立しています。</p>
</div>

<div class="container section subfeatures">
    <ol>
        <li>
            <h3 class="maintitle"><img src="/img/ci/icon_ci_01.png" alt="簡単セットアップ" /></h3>
            <h4 class="subtitle">簡単セットアップ</h4>
            <p>GitHubレポジトリを指定するだけで、すぐに開始できます。XcodeやAndroid SDKなど、Cordovaビルドに必要なスタックはすべてクラウド上に。ビルドに必要な設定もWebを通じてスムーズに行えます。
            </p>
        </li>
        <li>
            <h3 class="maintitle">
                <img src="/img/ci/icon_ci_06.png" alt="セキュリティ" /></h3>
            <h4 class="subtitle">セキュリティ</h4>
            <p>ビルド環境はサンドボックスで守られておりセキュリティ対策も万全です。<a href="https://docs.monaca.io/ja/reference/power_plugins/html5_resource_encryption/">アプリロジック暗号化プラグイン</a>と組み合わせるとアプリの保護も行えます。</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/ci/icon_ci_02.png" alt="Cordova開発者のために" /></h3>
            <h4 class="subtitle">Cordovaデベロッパーのために</h4>
            <p>MonacaのビルドシステムはCordovaと高い互換性を持ちます。Cordovaバージョン指定や、フックが組み込まれたプラグインもビルドできます。
            </p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/ci/icon_ci_03.png" alt="リモートビルド" /></h3>
            <h4 class="subtitle">リモートビルド</h4>
            <p>GitHubレポジトリに変更をコミットするだけで、自動的にCIを実行。特定のブランチやタグに反応したり、リリースビルドとデバッグビルドで挙動を変えることもできます。
            </p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/ci/icon_ci_04.png" alt="デプロイサービス" /></h3>
            <h4 class="subtitle">デプロイサービス</h4>
            <p>ビルドしたパッケージは、各種デプロイサービスを通じてテスターに配布したり、ストアに掲載できます。現在はHockey AppとDeploy Gateに対応しています。今後iTunes Connect、Test Flight、Appetize.ioに対応します。
            </p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/ci/icon_ci_05.png" alt="完全クロスプラットフォーム開発" /></h3>
            <h4 class="subtitle">完全クロスプラットフォーム開発</h4>
            <p>Android、iOS、Windowsの3つのプラットフォームを同時にビルドできます。開発にはMonaca CLIやMonaca Cloud IDEと組み合わせることもできます。
            </p>
        </li>
    </ol>
</div>
<div class="container box-plan">

    <div id="important-info-ja-el" class="cmn-info-middle"></div>

    <h2>Monaca利用料金</h2>
    <p>Monaca CIは使った分だけ課金される従量制のプランとなります。月額プランに応じてビルド数が異なります。</p>

    <div class="compare-box">
        <div class="compare-header">
            <h3>プラン</h3>
            <div>月額プラン料金</div>
            <ul>
                <li><i>GitHubパブリック<br class="hidden-xs" />レポジトリ</i></li>
                <li><i>GitHubプライベート<br class="hidden-xs" />レポジトリ</i></li>
            </ul>
        </div>
        <div id="compare-cont" class="compare-cont">
            <table id="compare-cont-table">
                <thead>
                    <th>Basic<span>無料</span></th>
                    <th class="dev-plan">Developer<span>2,000円/月</span></th>
                    <th class="personal-plan">Personal<span>980円/月</span></th>
                    <th>Gold<span>5,000円/月</span></th>
                    <th>Platinum<span>8,000円/月</span></th>
                </thead>

                <tbody>
                  <tr>
                    <td>10ビルド<span>/月</span></td>
                    <td class="dev-plan" rowspan="2">10ビルド<span>/月</span></td>
                    <td class="personal-plan" rowspan="2">10ビルド<span>/月</span></td>
                    <td rowspan="2" colspan="2">30ビルド<span>/月</span></td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr class="compare-cont-comment">
                    <td colspan="4">
                        <ul>
                            <li>CIチケット（ビルドチケット）は追加で購入できます（50ビルドが10,000円 - 3ヶ月の有効期限）</li>
                            <li>Basicプランでは24時間で3回までのビルド制限があります。</li>
                            <li>BasicプランとPersonalプランでは、サードパーティ製Cordovaプラグインを追加することができません。</li>
                            <li>Basicプランでは、30日以上ログインしていない場合は付与されません。</li>
                        </ul>
                    </td>
                    <td class="comment-next-line"></td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="compare-contact">
            <a href="pricing-detail.html">各プランのその他の詳細を比較する</a>
        </div>
    </div>
</div>
<div class="compare-trial">
    <p>月額プランの場合、すべてのプランで14日間の無料トライアルをお試しいただけます。</p>
    <a href="/register/start.html" class="btn btn-green">無料トライアル</a>
</div>