---
title: Cloud-Powered HTML5 Hybrid Mobile App Development Tools | Monaca
class: ci compare
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---

<div class="keyvisual box-full">
    <div>
        <h1><img src="/img/ci/logo_monaca_ci.png" alt="Monaca CI" /></h1>
        <h2>Continuous Integration for Cordova Apps</h2>
        <p>Hands-free automated build and deployment for your Cordova apps. 
<br class="hidden-xs" />No need to maintan local SDK anymore!</p>

        <div class="box-try">
            <a href="/register/start.html" class="btn btn-green">Sign Up for Free<span class='small'></span></a>
            <a href="/register/start.html" class="btn btn-gray">See Instructions<span class='small'></span></a>
        </div>
    </div>
</div>

<div id="benefits" class="container section benefits">
    <p>
    Monaca CI (Continuous Integration & Deployment) is a service that has been integrated within the current development environment stack to support the growing needs to automate the building and deployment process. Monaca CI can let developer focus more on the code and less on the backend process of building, testing and deploying an app.</p>
</div>

<div class="container section subfeatures">
    <ol>
        <li>
            <h3 class="maintitle">
                <img src="/img/ci/icon_ci_01.png" alt="Easy Setup icon" /></h3>
            <h4 class="subtitle">Easy Setup</h4>
            <p>GitHubレポジトリを指定するだけで、すぐに使い始められます。Cordovaビルドに必要なスタックはすべてクラウド上に。セキュリティ対策も万全です。
            </p>
        </li>
        <li>
            <h3 class="maintitle">
                <img src="/img/ci/icon_ci_02.png" alt="Cordova icon" /></h3>
            <h4 class="subtitle">Made for Cordova Developers</h4>
            <p>Cordovaのバージョンやプラグインを指定することもできるので、XCodeやAndroid SDKのインストールに悩まされる必要はありません。
            </p>
        </li>
        <li>
            <h3 class="maintitle">
                <img src="/img/ci/icon_ci_03.png" alt="Cordova icon" /></h3>
            <h4 class="subtitle">Remote build</h4>
            <p>Gitレポジトリをコミットするだけで、自動的にリモートビルドが動きます。特定のブランチやタグに反応したり、リリースビルドとデバッグビルドで挙動を変えることもできます。
            </p>
        </li>
        <li>
            <h3 class="maintitle">
                <img src="/img/ci/icon_ci_04.png" alt="Cordova icon" /></h3>
            <h4 class="subtitle">Deployment</h4>
            <p>ビルドしたパッケージをデプロイしましょう。Hockey App、Deploy Gateに対応しています。
            </p>
        </li>
        <li>
            <h3 class="maintitle">
                <img src="/img/ci/icon_ci_05.png" alt="Cordova icon" /></h3>
            <h4 class="subtitle">完全クロスプラットフォーム開発</h4>
            <p>Android、iOS、Windowsの3つのプラットフォームを同時にビルドできます。Monaca CLIやMonaca Cloud IDEと組み合わせることで、開発に専念することができます。
            </p>
        </li>
    </ol>
</div>

<div class="container box-plan">
    <h2>Monaca CIの利用料金</h2>
    <p>Monaca CIは使った分だけ課金される従量制のプランとなります。無料のBasicプランでもCIの強力な機能をご利用いただくことができます。</p>

    <div class="compare-box">
        <div class="compare-header">
            <h3>プラン</h3>
            <div>料金</div>
            <ul>
                <li><i>パブリック（公開）<br class="hidden-xs" />レポジトリ</i></li>
                <li><i>プライベート<br class="hidden-xs" />レポジトリ</i></li>
            </ul>
        </div>
        <div id="compare-cont" class="compare-cont">
            <table id="compare-cont-table">
                <thead>
                  <th>BASIC<span>無料</span></th>
                  <th>Personal<span>9円</span></th>
                  <th>GOLD<span>45円</span></th>
                  <th>PLATINUM<span>73円</span></th>
                </thead>

                <tbody>
                  <tr>
                    <td>10 CI<span>/mo</span></td>
                    <td rowspan="2">10 CI<span>/mo</span><br />
                        <span>Additional tickets available for $100 for 50 CIs (valid for 3 months)</span></td>
                    <td rowspan="2" colspan="2">30 CI<span>/mo</span><br />
                        <span>Additional tickets available for $100 for 50 CIs (valid for 3 months)</span></td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="compare-trial">
    <a href="/register/start.html" class="btn btn-green">Sign Up for Free</a>
</div>