---
title: Monaca x Onsen UI CLI | Monaca
class: cli
description: Enhanced command-line interface for hybrid apps, with advanced debugging and remote build support.
---

<div class="keyvisual" style="background: linear-gradient(#fff, #f7f7f7);">
  <div>
    <h1><img src="/img/cli/logo_monaca_cli.png" alt="Monaca CLI" /> <br class="visible-xs">Monaca x Onsen UI CLI</h1>
    <p>Enhanced command-line interface for hybrid apps, with advanced debugging and remote build support.</p>
    <div class="try-it-out">
      <h2>Try it out, it's free:</h2>
      <ul class="terminal-sample">
        <li>&gt; npm install -g monaca</li>
        <li>&gt; monaca create helloworld</li>
      </ul>
    </div>
  </div>
  <div class="pic"><img src="/img/cli/keyvisual.png" /></div>
</div>

<div id="benefits" class="container section benefits">
    <p>
      Monaca CLI is the full stack development tool for hybrid apps.<br />
      It is compatible with Cordova CLI and make the development much eaiser and faster.
    </p>
</div>

<div class="container section subfeatures">
    <ol>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_01.png" alt="Easy Setup" /></h3>
            <h4 class="subtitle">Easy Setup</h4>
            <p>With a npm install, you get everything setup for app development. Monaca CLI bundles all dev stack, so no need to install additional dependencies and setup platform SDKs.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_06.png" alt="Preview and Test on Device" /></h3>
            <h4 class="subtitle">Preview and Test on Device</h4>
            <p>Run the app in a local browser or on a real device using Monaca Debugger. Both support live reloading for quicker debugging. Hot reloading is supported for React templates.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_02.png" alt="Advance Debugging" /></h3>
            <h4 class="subtitle">Advance Debugging</h4>
            <p>Dev tools bundled in CLI enable JavaScript debugging - including breakpoints, step in/out and code profiling. Debug even iOS devices from Windows PC.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_03.png" alt="Cloud Sync" /></h3>
            <h4 class="subtitle">Cloud Sync</h4>
            <p>Easily push projects to the Monaca Cloud and access them from any computer, anywhere, anytime. Your projects can be synced between various development environments.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_04.png" alt="Remote Build & Development" /></h3>
            <h4 class="subtitle">Remote Build & Development</h4>
            <p>Instantly create package for iOS, Android, and Window simultanously. Flexible build and deployment options includ full support of Cordova plugins.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_05.png" alt="Many Framework Templates" /></h3>
            <h4 class="subtitle">Many Framework Templates</h4>
            <p>You can pick your framework - Angular 1, Angular 2, React, Ionic, or somthing else. Onsen UI templates come with Webpack configs and are fully customizable.</p>
        </li>
    </ol>
</div>

<div class="onsen-ui">
  <div>
    <h2>Onsen UI</h2>
    <p>JS framework-agnostic platform with hundreds of ready-to-use native look and feel components.</p>
    <p>Additional support is provided for Angual 1 & 2, React, Meteor, Vue and jQuery. Start using Onsen UI today with Monaca CLI's fast and easy pre-generated templates.</p>
  </div>

  <div><img src="/img/cli/onsenui_temp.png" alt="Onsen UI App Samples" /></div>
</div>

<div class="get-started">
    <h2>Let's get started, it's free!</h2>
    <p>Access comprehensive services to develop and build your Cordova apps, fast and easy.</p>
</div>

<div class="resource-reference">
    <div class="resource-options">
      <h2>Other Development Options</h2>
      <p>Want a GUI alternative?<br />We have variety of options to chose from.</p>
      <ul>
        <li><a href="/localkit.html">Monaca LocalKit</a> - Desktop app with GUI interface</li>
        <li><a href="/cloud.html">Monaca Cloud IDE</a> - Browser driven online IDE</li>
      </ul>
    </div>
    <div class="resource-documentation">
      <h2>Documentation</h2>
      <p>Please refer to our docs for the details.</p>
      <ul>
        <li><a href="https://docs.monaca.io/en/quick_start/cli/">Getting Started to Monaca CLI</a></li>
        <li><a href="https://docs.monaca.io/en/manual/development/monaca_cli/overview/">Monaca CLI Manual</a></li>
      </ul>
    </div>
</div>
