---
title: Cloud IDE for HTML5 Hybrid Mobile App Development with Cordova | Monaca
class: cloud
description: Monaca Cloud IDE enables you to quickly develop cross-platform HTML5 hybrid apps with no environment setup. Develop apps anywhere anytime with this powerful builder.
---

<div class="keyvisual box-full">
    <div>
        <h1>
            <img src="/img/cloud/logo.png" alt="Monaca Cloud IDE" class="logo" /><br />Cloud App Development
            <br />Platform for Cordova<br /> <span>World's Best Debugger,<br> Cloud Cordova IDE,<br> and Enterprise Plugins.</span>
        </h1>

        <div class="box-try">
            <a href="/register/start.html" class="btn btn-green">Sign Up Now
                <span class='small'>(free)</span></a>
        </div>
    </div>
</div>

<section class="summary">
    <h1>Everything you need<br />is in the cloud</h1>

    <p>Monaca provides a browser-based development environment as a service. Right from your Web browser, all of your Cordova development can be done without any setup. From Cordova IDE, debugger to remote build, we've got everything you need in one place.</p>
</section>

<section>
    <h1>Leading HTML5 development cloud for Cordova/PhoneGap</h1>

    <p>Start developing iOS and Android apps with Web technology. Huge business opportunities are ahead of us.</p>
    <img src="/img/cloud/img_2.png" alt="" />
</section>

<section>
    <h1>Ultrafast live reload with Monaca Debugger</h1>

    <p>Not only does the Monaca Debugger save source code changes for you, but it also provides real-time testing of your app on the actual device while you are developing.</p>

    <p>For more details, please see the information about <a href="/debugger.html">Monaca Debugger</a>.</p>

    <div id="animation-livereload" class="hidden-xs">
        <div class="livereload-editor">
            <div class="livereload-editor-header">index.html</div>
            <div class="livereload-editor-mask"></div>
            <div class="livereload-saved"></div>
        </div>

        <div class="livereload-connect stop"></div>

        <div class="livereload-device">
            <div class="livereload-device-screen-base"></div>
            <div class="livereload-device-screen"></div>
            <div class="livereload-device-screen-reloaded hidden"></div>
        </div>
    </div>
    <img src="/img/debugger/img_1.png" class="visible-xs" />
</section>

<section class="workflow">
    <h1>Super efficient app development workflow</h1>

    <p>Monaca provides all tools necessary for cross-platform mobile development including coding, debugging, and build.</p>
    <ol>
        <li>JS/HTML5/CSS IDE</li>
        <li>Device Testing</li>
        <li>Online Build</li>
        <li>Publish to the Markets</li>
    </ol>
</section>

<div class="container box-examples">
    <h2>More than <strong>2,000</strong> apps are available on App Store and Google Play.</h2>
    <img src="/img/index/examples_img.png">

    <p><a href="/great-apps.html" class="btn btn-darkgray">Showcase</a></p>
</div>

<div class="container box-uservoices">
    <h2>Monaca User Testimonials</h2>
    <ul class="column-3">
        <li>
            <div class="uservoice-balloon" tile="3">
                <q>Publishing your app to an App store will be harder than developing your app with Monaca.</q>
            </div>

            <div class="uservoice-user user-1">
                <div class="uservoice-organization">Student of Business at Vigo University / Freelancer</div>
                <div class="uservoice-name">Victor Fernandez</div>
            </div>
        </li>

        <li>
            <div class="uservoice-balloon" tile="3">
                <q>The main thing I love about Monaca is the cloud IDE. It makes my life and my machine’s life a lot easier by not having to download and install the Monaca tools. Another thing that I loved about Monaca is the strong support.</q>
            </div>

            <div class="uservoice-user user-2">
                <div class="uservoice-organization">Software Engineer</div>
                <div class="uservoice-name">Sambruce Joseph</div>
            </div>
        </li>
        <li>
            <div class="uservoice-balloon" tile="3">
                <q>There are lots of Phonegap IDEs out there but Monaca is the best I have ever worked with. A complete suite of all the tools you need to create awesome multi-platform apps!</q>
            </div>

            <div class="uservoice-user user-3">
                <div class="uservoice-organization">Freelance Web Developer</div>
                <div class="uservoice-name">Tobi Ayilara</div>
            </div>
        </li>
    </ul>
</div>


<div class="container box-awards">
    <h2>Awards</h2>
    <ul>
        <li>
            <a href="http://www.redherring.com/events/red-herring-global/2014-top100-winners/" target="_blank">
                <img src="/img/index/icn_awards_redglobal.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING GLOBAL</dt>
                    <dd>Awarded to leading private companies from North America, Europe, and Asia</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="http://www.redherring.com/events/red-herring-asia/2014-red-herring-asia-top-100-finalists/" target="_blank">
                <img src="/img/index/icn_awards_redasia.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING ASIA</dt>
                    <dd>For innovation and explosive growth as Asian tech leader</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="http://www.microsoft.com/ja-jp/mic/report/20130603mia.aspx" target="_blank">
                <img src="/img/index/icn_awards_microsoft.png" class="thumb" alt="">
                <dl>
                    <dt>Microsoft Innovation Award</dt>
                    <dd>Special Intel Award for easy hybrid mobile app development</dd>
                </dl>
            </a>
        </li>
    </ul>
</div>

<div class="box-try">
    <a href="/register/start.html" class="btn btn-blue">Sign Up Now
        <span class='small'>(free)</span></a>
</div>


<link href="/css/codemirror.css" rel="stylesheet">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script>
    window.onload = function() {
        animateLivereload(document.getElementById("animation-livereload"));
    };
</script>
