---
title: Monaca - Monaca20万ユーザー突破記念 モナカレーキャンペーン
class: curry-campaign
description: Monaca20万ユーザー突破記念 モナカレーキャンペーン
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド
---

<div class="keyvisual box-full">
    <div>
        <h1>
            <img src="/img/curry-campaign/logo.png" alt="Monaca20万ユーザー突破記念 モナカレーキャンペーン" class="logo" />
        </h1>
    </div>
</div>

<section class="about">
    <h1>モナカレーとは</h1>
    <p>モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文</p>
</section>

<section class="campaign">
    <h1><img src="/img/curry-campaign/ti_quiz.png" alt="第1弾 クイズに答えて"/></h1>

    <h2>抽選で300名様にモナカレーをプレゼント</h2>
</section>


<link href="/css/codemirror.css" rel="stylesheet">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script>
    window.onload = function() {
        animateLivereload(document.getElementById("animation-livereload"));
    };
</script>
