---
title: Monaca - Monaca20万ユーザー突破記念 モナカレーキャンペーン
class: curry-campaign
description: Monaca20万ユーザー突破記念 モナカレーキャンペーン
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド
---

<div class="keyvisual box-full">
    <div>
        <h1>
            <img src="/img/curry-campaign/logo.png" alt="Monaca20万ユーザー突破記念 モナカレーキャンペーン" class="logo" />
        </h1>
        <img src="/img/curry-campaign/curry.png" alt="" class="curry" />
    </div>
</div>

<section class="about curry">
    <h1>モナカレーとは</h1>
    <p>モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文モナカレー説明文</p>
    <img class="sp-img" src="/img/curry-campaign/img_01.png" alt="">
</section>

<section class="campaign curry">
    <h1><img src="/img/curry-campaign/ti_quiz.png" alt="第1弾 クイズに答えて" /></h1>
    
    
    <ul class="column-2">
      <li class="box-1" tile="2" style="height: 266px;">
        <h2>抽選で300名様にモナカレーをプレゼント</h2>
        <h3>受付期間：1月22日〜2月28日</h3>
        <h4>Q. ◯の中に入る文字をお答えください。</h4>
        <img class="quiz" src="/img/curry-campaign/img_02.png" alt="" />
        <div class="">
          <h5>応募方法</h5>
          <p>
            応募ボタンより入カフォームに沿ってクイズの答ええ、氏名、住所、Monoco IDなどを入力ください。抽選で300名様にモナカレーをお一つプレゼントいたします。Monocoのアカウントをお持ちの方であればどなたでもご応寡いただけます。<br />
            ※景品の発送をもって当遺と代えさせていただきます。
          </p>
        </div>
        
        
      </li>
      <li class="box-1" tile="2" style="height: 266px;">
        <img class="quiz" src="/img/curry-campaign/img_03.png" alt="" />
        <div class="btn-try">
          <a class="btn btn-green" href="/cloud.html" target="_blamk">応募はこちら</a>
        </div>
        
      </li>
    </ul>
</section>

<section class="campaign curry">
    <h1><img src="/img/curry-campaign/ti_2.png" alt="第2弾 クイズに答えて" /></h1>

    <h2>近日発表！乞うご期待</h2>
</section>

<section class="sponsors curry">
    <h1>協賛企業</h1>
    <p>Monacaユーザー20万人突破「モナカレーキャンペーン」はMonacaパートナーの皆様にご協力頂いております。</p>
    <img class="logos01" src="/img/curry-campaign/logos_sponsor.png" alt="" />
    <img class="logos02" src="/img/curry-campaign/logos_sponsor_2.png" alt="" />
</section>

<section class="partner curry">
    <h1>Monacaパートナーインタビュー</h1>
    <ul class="column-3">
        <li class="box-1" tile="3" style="height: 266px;">
            <dl>
                <dt>
                  <span class="company">株式会社ほげほげほげ</span><br />
                  代表取締役社長　山田太郎
                </dt>
                <dd>パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。</dd>
                <dd><img src="/img/curry-campaign/s_comming_soon.jpg" alt="" /></dd>
            </dl>
            <!--
            <div class="btns">
                <a class="btn btn-blue" href="/cloud.html" target="_blamk">詳細はこちら</a>
            </div>
            -->
        </li>
        <li class="box-1" tile="3" style="height: 266px;">
            <dl>
                <dt>
                  <span class="company">株式会社ほげほげほげ</span><br />
                  代表取締役社長　山田太郎
                </dt>
                <dd>パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。</dd>
                <dd><img src="/img/curry-campaign/s_comming_soon.jpg" alt="" /></dd>
            </dl>
            <!--
            <div class="btns">
                <a class="btn btn-blue" href="/cloud.html" target="_blamk">詳細はこちら</a>
            </div>
            -->
        </li>
        <li class="box-1" tile="3" style="height: 266px;">
            <dl>
                <dt>
                  <span class="company">株式会社ほげほげほげ</span><br />
                  代表取締役社長　山田太郎
                </dt>
                <dd>パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。</dd>
                <dd><img src="/img/curry-campaign/s_comming_soon.jpg" alt="" /></dd>
            </dl>
            
        </li>
    </ul>
</section>

<section class="sponsors curry">
    <h1>ご注意</h1>
    <p>
      応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。<br />
      応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。<br />
      応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。応募に関する注意事項が入ります。
    </p>
</section>

<link href="/css/codemirror.css" rel="stylesheet">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script>
    window.onload = function() {
        animateLivereload(document.getElementById("animation-livereload"));
    };
</script>
