---
title: Monaca - Monaca20万ユーザー突破記念 モナカレーキャンペーン
class: curry-campaign
description: Monaca20万ユーザー突破記念 モナカレーキャンペーン
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド
image: https://ja.monaca.io/img/curry-campaign/ogimage.jpg
---

<div class="keyvisual box-full">
    <div>
        <h1>
            <img src="/img/curry-campaign/logo.png" alt="Monaca20万ユーザー突破記念 モナカレーキャンペーン" class="logo" />
        </h1>
        <img src="/img/curry-campaign/curry.png" alt="" class="curry" />
    </div>
</div>

<section class="about curry">
    <h1>モナカレーとは</h1>
    <p>モナカレーは、No1.アプリ開発クラウド「Monaca」の20万ユーザー突破を記念して製作されたアプリ開発者のためのオリジナルカレーです。これまでに全国各地のご当地カレーを多数手がけてきたレトルトカレーメーカーの協力の下、最中に欠かせない小豆を始めとする豆類をたっぷりつかったスパイシーなダルカレーに仕上げました。オーソドックスにライスにかけて食べても良し、ナンにつけて食べても良し、もちろん最中の皮（※）ではさんで食べても美味しくいただけます。アプリ開発でお腹が空いたらモナカレーでパワーチャージ！モナカレーはMonacaユーザーの皆様のアプリ開発を応援します。</p>
    <p>※モナカレーには最中の皮は含まれません。</p>
    <img class="sp-img" src="/img/curry-campaign/img_01.png" alt="">
</section>

<section class="signup">
    <p>まだMonacaに登録をしていない方はこちらから</p>
    <a href="/register/start.html" class="btn btn-big btn-green">無料サインアップ</a>
</section>

<section class="campaign curry">
    <h1><img src="/img/curry-campaign/ti_quiz.png" alt="第1弾 クイズに答えて" /></h1>
    
    
    <ul class="">
      <li class="" tile="2">
        <h2>抽選で300名様にモナカレーをプレゼント</h2>
        <h3>受付期間：1月23日(火)〜2月28日(水)</h3>
        <h4>Q. ◯の中に入る文字をお答えください。</h4>
        <img class="quiz" src="/img/curry-campaign/img_02.png" alt="" />
        <div class="">
          <h5>応募方法</h5>
          <p>
            応募ボタンより入カフォームに沿ってクイズの答え、氏名、住所、Monaca IDなどを入力ください。抽選で300名様にモナカレーをお一つプレゼントいたします。Monacaのアカウントをお持ちの方であればどなたでもご応寡いただけます。<br />
            ※景品の発送をもって当選と代えさせていただきます。<br />
            ※応募に際しては本ページ内に記載されている「応募に際する注意事項」をお読みください。
          </p>
        </div>
        
        
      </li>
      <li class="" tile="2">
        <img class="quiz-pkg" src="/img/curry-campaign/img_03.png" alt="" />
        <div class="btn-try">
          <a class="btn btn-green" href="https://form.k3r.jp/asial/currycampaign" target="_blamk">応募はこちら</a>
        </div>
        
      </li>
    </ul>
</section>

<section class="campaign curry">
    <h1><img src="/img/curry-campaign/ti_2.png" alt="第2弾 クイズに答えて" /></h1>

    <h2>近日発表！乞うご期待</h2>
</section>

<section class="sponsors curry">
    <h1>協賛企業</h1>
    <p>Monacaユーザー20万人突破「モナカレーキャンペーン」はMonacaパートナーの皆様にご協力頂いております。</p>
    <ul class="hidden-xs">
        <li><a href="http://www.up-frontier.jp/" target="_blank"><img src="/img/curry-campaign/logo_up_f.png" alt="アップフロンティア株式会社"></a></li>
        <li><a href="https://www.ags.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_ags.png" alt="AGS株式会社"></a></li>
        <li><a href="http://www.kdl.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_kdl.png" alt="株式会社 神戸デジタル・ラボ"></a></li>
        <li><a href="https://www.jmas.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_jmas.png" alt="株式会社ジェーエムエーシステムズ"></a></li>
        <li><a href="https://www.tam-tam.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_tam.png" alt="株式会社TAM"></a></li>
        <li><a href="http://www.jops.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_jops.png" alt="株式会社 日本オープンシステムズ"></a></li>
        <li><a href="https://www.valtes-mt.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_valtes.png" alt="バルテス・モバイルテクノロジー株式会社"></a></li>
        <li><a href="http://www.pscsrv.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_people.png" alt="ピープルソフトウェア株式会社"></a></li>
        <li><a href="http://www.fujitsu.com/jp/" target="_blank"><img src="/img/curry-campaign/logo_fujitsu.png" alt="富士通株式会社"></a></li>
        <li><a href="http://mb.cloud.nifty.com/" target="_blank"><img src="/img/curry-campaign/logo_mbaas.png" alt="ニフクラ mobile backend"></a></li>
        <li><a href="https://repro.io/jp/" target="_blank"><img src="/img/curry-campaign/logo_repro.png" alt="Repro株式会社"></a></li>
    </ul>
    <div class="visible-xs">
        <ul>
            <li><a href="http://www.up-frontier.jp/" target="_blank"><img src="/img/curry-campaign/logo_up_f_s.png" alt="アップフロンティア株式会社"></a></li>
            <li><a href="https://www.ags.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_ags_s.png" alt="AGS株式会社"></a></li>
            <li><a href="http://www.kdl.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_kdl_s.png" alt="株式会社 神戸デジタル・ラボ"></a></li>
            <li><a href="https://www.jmas.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_jmas_s.png" alt="株式会社ジェーエムエーシステムズ"></a></li>
            <li><a href="https://www.tam-tam.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_tam_s.png" alt="株式会社TAM"></a></li>
            <li><a href="http://www.jops.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_jops_s.png" alt="株式会社 日本オープンシステムズ"></a></li>
            <li><a href="https://www.valtes-mt.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_valtes_s.png" alt="バルテス・モバイルテクノロジー株式会社"></a></li>
            <li><a href="http://www.pscsrv.co.jp/" target="_blank"><img src="/img/curry-campaign/logo_people_s.png" alt="ピープルソフトウェア株式会社"></a></li>
            <li><a href="http://www.fujitsu.com/jp/" target="_blank"><img src="/img/curry-campaign/logo_fujitsu_s.png" alt="富士通株式会社"></a></li>
            <li><a href="http://mb.cloud.nifty.com/" target="_blank"><img src="/img/curry-campaign/logo_mbaas_s.png" alt="ニフクラ mobile backend"></a></li>
            <li><a href="https://repro.io/jp/" target="_blank"><img src="/img/curry-campaign/logo_repro_s.png" alt="Repro株式会社"></a></li>
        </ul>
    </div>
</section>

<section class="partner curry">
    <h1>Monacaパートナーインタビュー</h1>
    <ul class="column-3">
        <li class="box-1" tile="3" style="height: 266px;">
            <dl>
                <dt>
                  <span class="company">バルテス・モバイルテクノロジー株式会社</span><br />
                </dt>
                <!--
                <dd>パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。</dd>
                -->
                <dd><img src="/img/curry-campaign/s_comming_soon.jpg" alt="" /></dd>
            </dl>
            <!--
            <div class="btns">
                <a class="btn btn-blue" href="/cloud.html" target="_blamk">詳細はこちら</a>
            </div>
            -->
        </li>
        <li class="box-1" tile="3" style="height: 266px;">
            <dl>
                <dt>
                  <span class="company">株式会社神戸デジタル・ラボ</span><br />
                </dt>
                <!--
                <dd>パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。</dd>
                -->
                <dd><img src="/img/curry-campaign/s_comming_soon.jpg" alt="" /></dd>
            </dl>
            <!--
            <div class="btns">
                <a class="btn btn-blue" href="/cloud.html" target="_blamk">詳細はこちら</a>
            </div>
            -->
        </li>
        <li class="box-1" tile="3" style="height: 266px;">
            <dl>
                <dt>
                  <span class="company">ピープルソフトウェア株式会社</span><br />
                </dt>
                <!--
                <dd>パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。</dd>
                -->
                <dd><img src="/img/curry-campaign/s_comming_soon.jpg" alt="" /></dd>
            </dl>
        </li>
        <li class="box-1" tile="3" style="height: 266px;">
            <dl>
                <dt>
                  <span class="company">Repro株式会社</span><br />
                </dt>
                <!--
                <dd>パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。パートナーインタビューが入ります。</dd>
                -->
                <dd><img src="/img/curry-campaign/s_comming_soon.jpg" alt="" /></dd>
            </dl>
        </li>
        <li class="box-1 comingsoon" tile="3" style="height: 266px;">
            <p>まだまだつづきます。乞うご期待！</p>
        </li>
    </ul>
</section>

<section class="notice curry">
    <h1>応募に際する注意事項</h1>
    <p class="">※下記注意事項を予めご了承のうえ、ご応募ください。</p>
    <ul>
      <li>応募はMonacaご利用ユーザーを対象とし、賞品発送先は日本国内に限らせていただきます。</li>
      <li>ご応募は、お一人様につき1回とさせていただきます。また、同一メールアドレスで複数の方のご応募はできません。予めご了承ください。</li>
      <li>都合によりスケジュール等が変更となる場合もございますのであらかじめご了承ください。</li>
      <li>記入漏れがある場合や記入内容に不備がある場合はご応募を無効とさせていただきます。</li>
      <li>ご入力いただいた住所が不明、連絡不能などの理由により賞品がお届けできない場合は、当選の権利を無効とさせていただきます。</li>
      <li>ご当選者の当選の権利を第三者へ譲渡することはできません。</li>
      <li>その他、ご応募に関して不正な行為があった場合、当選を取り消させていただく場合がございます。</li>
      <li>落選された方への通知メールは行っておりません、ご了承ください。</li>
      <li>抽選に関するお問い合わせはお受けできません。</li>
      <li>賞品の配送に関しては宅配業者などを利用させていただきます。</li>
      <li>賞品のお届け日時のご指定はできません。</li>
      <li>郵送中の紛失等の事故については、当社では責任を負いかねますので、ご了承ください。</li>
      <li>ご当選された賞品は返品・交換できません。</li>
    </ul>
    <h2>個人情報のお取扱いについて</h2>
    <p>
      本キャンペーンのご応募の際に記入いただきました個人情報（郵便番号、住所、氏名、電話番号）は、賞品の発送、応募者・当選者への諸連絡のために利用させていただきます。お客様の個人情報は、法令により開示を求められた場合を除き、お客様の同意なしに業務委託先以外の第三者に開示・提供することはございません。
    </p>
    <ul class="privacy">
      <li>※	その他お客様の個人情報の取扱いにつきましては、弊社<a href="https://www.asial.co.jp/privacy.php" target="_blank">プライバシーポリシー <i class="glyphicon glyphicon-new-window"></i></a>をごらんください。</li>
    </ul>
</section>

<link href="/css/codemirror.css" rel="stylesheet">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script>
    window.onload = function() {
        animateLivereload(document.getElementById("animation-livereload"));
    };
</script>
