---
title: The Ultimate Debugger for HTML5 Hybrid App Development | Monaca
class: debugger
description: Monaca Debugger lets you test your app on your mobile device as you develop without building it. Console debugging, DOM inspection, and JavaScript debugging.
---

<div class="keyvisual box-full">
    <div>
        <h1><img src="/img/debugger/logo.png" alt="Monaca Debugger" /><br />Monaca Debugger<br />A Powerful Solution<br />for HTML5 Hybrid App Testing</h1>

        <p class="btns">
            <a class="appstore" href="http://itunes.apple.com/jp/app/monaca/id550941371?mt=8" target="_blank"><img src="/img/common/bnr_appstore.svg" alt="App Store" /></a>
            <a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger" target="_blank"><img alt="Get it on Google Play" src="/img/common/bnr_googleplay.png" /></a>
            <a href="http://www.amazon.com/Asial-Corporation-Monaca-Debugger/dp/B00H1M1518" target="_blank"><img src="/img/common/bnr_amazon.png" alt="Amazon Apps" /></a>
        </p>
    </div>
</div>

<section>
    <h1>Ultrafast Live Reload</h1>

    <p>No more hassle building your app or installing on a device, Monaca Debugger enables you to run your app in real-time on an actual device, with only saving the source code. In addition to HTML5 APIs, Monaca Debugger also supports Cordova plugins.</p>

    <div id="animation-livereload" class="hidden-xs">
        <div class="livereload-editor">
            <div class="livereload-editor-header">index.html</div>
            <div class="livereload-editor-mask"></div>
            <div class="livereload-saved"></div>
        </div>

        <div class="livereload-connect stop"></div>

        <div class="livereload-device">
            <div class="livereload-device-screen-base"></div>
            <div class="livereload-device-screen"></div>
            <div class="livereload-device-screen-reloaded hidden"></div>
        </div>
    </div>
    <img src="/img/debugger/img_1.png" class="visible-xs" />
</section>

<section class="debug">
    <h1>Debugging Capabilities Designed for HTML5 Hybrid Apps</h1>

    <p>Monaca Debugger provides comprehensive debugging capabilities specifically designed for HTML5 hybrid app development. It will dramatically improve your app development efficiency.</p>
    <img src="/img/debugger/img_2_en.jpg" alt="" />

    <div class="integration">
        <h2>Seamless Debugging Environment between Monaca IDE</h2>

        <p>You can debug your app running on Monaca Debugger from Monaca IDE. You can also check DOM manipulation, style changes, JS consoles, AJAX requests and more.</p>

        <img src="/img/debugger/img_3_en.jpg" alt="" class="illust">
    </div>

    <div class="usb">
        <h2>USB Connectivity for Advanced Debugging</h2>

        <p>You can use a USB connection between a device and your PC to perform more serious debugging like JavaScript breakpoints or stepping using tools including Chrome Dev Tools.</p>

        <img src="/img/debugger/img_4_en.jpg" alt="" class="illust">
    </div>

    <div class="plugins">
        <h2>Cordova Plugins Support</h2>

        <p>Besides HTML5 and Cordova standard plugin APIs, Monaca Debugger also supports debugging apps with custom Cordova plugins added by your developers.<br />* This feature is only supported by Custom Debugger</p>
        <img src="/img/debugger/img_5_en.png" alt="" />
    </div>
</section>

<section class="collaboration">
    <h1>Collaboration Tools</h1>

    <p>Leverage Monaca Debugger to achieve higher team productivity for your mobile app development.</p>
    <img src="/img/debugger/img_6_en.jpg" alt="" />

    <div class="internet">
        <h2>Real-time Project Management via Internet</h2>

        <p>Share your project in real-time in the cloud with your team members through Monaca Debugger. You can set separate permissions between testers and developers, making it useful for offshore development and beta tests.</p>

        <img src="/img/debugger/img_7_en.jpg" alt="" class="illust">
    </div>
    <div class="communication">
        <h2>Useful Communication Features</h2>

        <p>Monaca Debugger offers useful communication tools like chat and screenshots as standard features. You can send feedback to developers from a device as it runs the app.</p>
    </div>
</section>

<div class="box-try">
    <p>Monaca Debugger is available for download from the app stores below:</p>
    <a href="http://itunes.apple.com/jp/app/monaca/id550941371?mt=8" target="_blank"><img src="/img/common/bnr_appstore.svg" alt="App Store" /></a>
    <a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger" target="_blank"><img alt="Get it on Google Play" src="/img/common/bnr_googleplay.png" /></a>
    <a href="http://www.amazon.com/Asial-Corporation-Monaca-Debugger/dp/B00H1M1518" target="_blank"><img src="/img/common/bnr_amazon.png" alt="Amazon Apps" /></a>
</div>


<link href="/css/codemirror.css" rel="stylesheet">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script>
    window.onload = function() {
        animateLivereload(document.getElementById("animation-livereload"));
    };
</script>
