---
title: Monacaデバッガー - HTML5ハイブリッドアプリの動作テストを効率化
class: debugger
description: MonacaデバッガーはHTMLハイブリッドアプリの動作テスト専用ツールです。ソースコードを保存するだけで、すぐに実機上でアプリの動作を確認できます。
keywords: Monaca,HTML5,Cordova,PhoneGap,デバッグ
show_ja_globalnav: true
---

<div class="keyvisual box-full">
    <div>
        <h1><img src="/img/debugger/logo.png" alt="Monaca Debugger" /><br />HTML<br class="opt" />ハイブリッドアプリの<br />テストを超効率化</h1>

        <p class="btns">
            <a class="appstore" href="http://itunes.apple.com/jp/app/monaca/id550941371?mt=8" target="_blank"><img src="/img/common/bnr_appstore.svg" alt="App Store" /></a>
            <a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger" target="_blank"><img alt="Get it on Google Play" src="/img/common/bnr_googleplay.png" /></a>
        </p>
    </div>
</div>

<section>
    <h1>超高速ライブリロード<br />ソースコードを保存するだけで実機上で即時確認</h1>

    <p>Monacaデバッガーを使うとソースコードを保存するだけで、すぐに実機上でアプリの動作を確認できます。デバッグのために、いちいちアプリをビルドする必要も、端末にインストールする必要もありません。HTML5のAPIだけでなくCordovaプラグインの動作確認にも対応しています。</p>

    <div id="animation-livereload" class="hidden-xs">
        <div class="livereload-editor">
            <div class="livereload-editor-header">index.html</div>
            <div class="livereload-editor-mask"></div>
            <div class="livereload-saved"></div>
        </div>

        <div class="livereload-connect stop"></div>

        <div class="livereload-device">
            <div class="livereload-device-screen-base"></div>
            <div class="livereload-device-screen"></div>
            <div class="livereload-device-screen-reloaded hidden"></div>
        </div>
    </div>
    <img src="/img/debugger/img_1.png" class="visible-xs" />
</section>

<section class="debug">
    <h1>HTMLハイブリッドアプリ開発に特化した<br />デバッグ機能</h1>

    <p>Monacaデバッガーは、HTML5ハイブリッドアプリ開発に特化した各種デバッグ機能を提供しております。アプリ開発の生産性を劇的に向上させます。</p>
    <img src="/img/debugger/img_2_ja.jpg" alt="" />

    <div class="integration">
        <h2>Monaca IDEと連携したデバッグ環境を提供</h2>

        <p>Monaca IDEからMonacaデバッガー上で実行しているアプリのデバッグが行えます。<br />DOM操作やスタイルの変更、JSコンソール、Ajaxリクエストの確認など可能です。</p>

        <img src="/img/debugger/img_3_ja.jpg" alt="" class="illust">
    </div>

    <div class="usb">
        <h2>USB接続でさらに高度なデバッグも可能</h2>

        <p>実機とPCをUSB接続することで、Chrome Dev Tools等を使ったJavaScriptブレークポイントやステップ実行などより高度なデバッグを行うことが可能です。</p>

        <img src="/img/debugger/img_4_ja.jpg" alt="" class="illust">
    </div>

    <div class="plugins">
        <h2>Cordovaプラグインにももちろん対応</h2>

        <p>HTML5やCordovaの標準プラグインが提供するAPIだけでなく、開発者自身が追加したCordovaプラグインを組み込んだアプリのデバッグにも対応しています。<br />※ カスタム版Monacaデバッガーのみ対応
        </p>
        <img src="/img/debugger/img_5_ja.png" alt="" />
    </div>
</section>

<section class="collaboration">
    <h1>コラボレーションツールとして活用</h1>

    <p>Monacaデバッガーを有効に活用することで、チームでのモバイルアプリ開発がより効率化します。</p>
    <img src="/img/debugger/img_6_ja.jpg" alt="" />

    <div class="internet">
        <h2>インターネット経由でプロジェクトをリアルタイムに共有</h2>

        <p>クラウド上に保存されたプロジェクトをMonacaデバッガーを通じてリアルタイムにチームのメンバーと共有することが可能です。テスター権限と開発者の権限分けも可能。オフショア開発やベーターテストなどに便利に使えます。</p>

        <img src="/img/debugger/img_7_ja.jpg" alt="" class="illust">
    </div>
    <div class="communication">
        <h2>便利なコミュニケーション機能</h2>

        <p>Monacaデバッガーには、チャットやスクリーンショットといったコミュニケーション機能が標準搭載。アプリを確認した端末から開発者にフィードバックを送る事が可能です。</p>
    </div>
</section>

<div class="box-try">
    <p>Monacaデバッガーは、下記アプリストアから<br />ダウンロードすることができます。</p>
    <a href="http://itunes.apple.com/jp/app/monaca/id550941371?mt=8" target="_blank"><img src="/img/common/bnr_appstore.svg" alt="App Store" /></a>
    <a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger" target="_blank"><img alt="Get it on Google Play" src="/img/common/bnr_googleplay.png" /></a>
</div>


<link href="/css/codemirror.css" rel="stylesheet">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script>
    window.onload = function() {
        animateLivereload(document.getElementById("animation-livereload"));
    };
</script>
