---
title: Monaca Development Support
class: devsupport
description: Monaca Enterprise is a mobile app development and management framework that provides full featured services for secure and efficient mobile app development and management. Equipped with Cordova, an industry-standard HTML5 hybrid app OSS (Open Source Framework), it enables you to develop multiplatform mobile apps by using web technology standards.
---

<div class="keyvisual box-full"><div>
    <h1 class="small"><img src="/img/devsupport/logo.png" alt="Monaca Service & Support"/><br/>Monaca<br class="visible-xs" />テクニカルサポート</h1>
</div></div>

<section>
    <p>HTML5ハイブリッドアプリ開発を行うためには、HTML5、Cordova、Monaca、OnsenUI、広範囲な技術の理解が必要になります。本サービスではこれら技術を幅広くサポートいたします。</p>

    <h1>幅広いサポート対象技術</h1>
    <p>HTML5ハイブリッドアプリ開発を行うためには、HTML5、Cordova、Monaca、Onsen UI、AngularJSなど、広範囲な技術の理解が必要になります。本サービスではこれら技術を幅広くサポートさせていただきます。</p>
    <img src="/img/devsupport/img_1.jpg" alt=""/>
</section>

<section class="support">
    <h1>専門スタッフによる<br class="visible-xs" />技術支援</h1>
    <p>2009年からHTML5ハイブリッドアプリの開発に取り組んできた当社の専門スタッフが長年の経験を活かして、高品質かつ迅速なサポートサービスを提供します。</p>
    <img src="/img/devsupport/img_2.jpg" alt=""/>
</section>

<section class="apps">
    <h1>質問者数、<br class="visible-xs" />アプリ数の制限なし</h1>
    <p>1チケット30分のチケット制サービスとして提供されます。質問者数やアプリ数の制限なく企業やチームでのチケットの事前まとめ買いもできるので、サポートが必要になった際にすぐにサポートを受けることができます。</p>
</section>

<section class="menu">
    <h1>サポートチケット価格</h1>
    <table>
        <thead>
            <td>契約形態</td>
            <td>チケット枚数（時間）</td>
            <td>価格（税抜）</td>
            <td>有効期限</td>
        </thead>
        <tbody>
            <tr>
                <th><span>シングルチケット</span></th>
                <td>1枚（30分）</td>
                <td>10,000円</td>
                <td>1年間</td>
            </tr>
            <tr>
                <th><span>10チケットパック</span></th>
                <td>10枚（5時間）</td>
                <td>100,000円</td>
                <td>1年間</td>
            </tr>
            <tr>
                <th><span>50チケットパック</span></th>
                <td>50枚（25時間）</td>
                <td>450,000円</td>
                <td>1年間</td>
            </tr>
            <tr>
                <th><span>100チケットパック</span></th>
                <td>100枚（50時間）</td>
                <td>800,000円</td>
                <td>1年間</td>
            </tr>
        </tbody>
    </table>
    <p><small>※ チケットパックはBusinessプラン、Enterpriseプランが対象となります。</small></p>
    <h2>必要となるチケット枚数の目安</h2>
    <table class="ticket">
        <tbody>
            <tr>
                <th><span>チケット1枚</span></th>
                <td>過去の類似事象を調査し回答</td>
            </tr>
            <tr>
                <th><span>チケット2〜4枚</span></th>
                <td>お客様の要望・課題および発生している不具合事象について回答(ソースコードレビューなし)</td>
            </tr>
            <tr>
                <th><span>チケット5枚以上</span></th>
                <td>お客様の要望・課題および発生している不具合事象について、該当箇所のソースコードレビューを行います。必要によりサンプルコードを作成して納品</td>
            </tr>
        </tbody>
    </table>
    <p><small>※ プロジェクト全体をレビューする場合は、プロフェショナルサービスにお問い合わせください。</small></p>
    <h2>チケットの購入方法</h2>
    <ul>
        <li>オンデマンドは技術サポートの依頼の都度ご購入いただきます。</li>
        <li>チケットパックの購入は企業向けプラン管理ページより行うことができます。</li>
    </ul>
</section>

<!-- section class="menu">
    <h1 class="small">HTML5ハイブリッドアプリ開発サポートメニュー</h1>
    <table>
        <thead>
            <th>&nbsp;</th>
            <td>ゴールド</td>
            <td>シルバー</td>
        </thead>
        <tbody>
            <tr>
                <th><span>対象モバイルOS</span></th>
                <td colspan="2">iOS 7以降<br />Android 4.0以降</td>
            </tr>
            <tr>
                <th><span>対象開発プラットフォーム</span></th>
                <td colspan="2">Monaca<br />Cordova（Ver.4.1以降）</td>
            </tr>
            <tr class="content">
                <th><span>サービス内容</span></th>
                <td colspan="2">
                    <p>技術的なご質問にお応えするヘルプデスクサービスを提供します。</p>
                    <ul>
                        <li>アプリ開発に直接関連する質問への回答を行います</li>
                        <li>回答範囲は各公式ドキュメントに記載されている範囲とさせていただきます</li>
                        <li>コーディングや設定のアドバイスを行います</li>
                        <li>必要に応じてお客様のソースコードをレビューを致します</li>
                        <li>検証用プロジェクトや環境はお客様側に準備をお願いします</li>
                        <li>必要に応じてサンプルコードの提供を行います</li>
                        <li>作業の代行は含まれておりません</li>
                    </ul>
                </td>
            </tr>
            <tr class="tech">
                <th><span>サポート対象技術</span></th>
                <td colspan="2">
                    <ul>
                        <li>Monaca</li>
                        <li>Cordova（Ver.3.5）</li>
                        <li>Cordovaプラグイン</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>jQuery</li>
                        <li>Onsen UI</li>
                        <li>AngularJS</li>
                        <li>APNS</li>
                        <li>GCM</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th><span>インシデント件数（月）</span></th>
                <td>20件</td>
                <td>5件</td>
            </tr>
            <tr>
                <th><span>サポート担当者</span></th>
                <td>サポート担当者を指名</td>
                <td>不特定のサポート担当</td>
            </tr>
            <tr>
                <th><span>サポート対応方法</span></th>
                <td colspan="2">サポート専用のWebシステム、メールを通じたサポート</td>
            </tr>
            <tr>
                <th><span>サポート対応時間</span></th>
                <td colspan="2">弊社営業日の11時〜19時</td>
            </tr>
            <tr>
                <th><span>一次回答時間</span></th>
                <td>4営業時間</td>
                <td>8営業時間</td>
            </tr>
            <tr>
                <th><span>質問者の人数</span></th>
                <td>20人</td>
                <td>5人</td>
            </tr>
            <tr>
                <th><span>価格（年額）</span></th>
                <td>10,000,000円</td>
                <td>3,000,000円</td>
            </tr>
            <tr>
                <th><span>価格（月額）</span></th>
                <td>1,000,000円</td>
                <td>300,000円</td>
            </tr>
        </tbody>
    </table>
</section -->