---
title: Monaca Development Support
class: devsupport
description: Monaca Enterprise is a mobile app development and management framework that provides full featured services for secure and efficient mobile app development and management. Equipped with Cordova, an industry-standard HTML5 hybrid app OSS (Open Source Framework), it enables you to develop multiplatform mobile apps by using web technology standards.
---

<div class="keyvisual box-full"><div>
    <h1 class="small"><img src="/img/devsupport/logo.png" alt="Monaca Service & Support"/><br/>HTML5ハイブリッド<br class="visible-xs" />アプリ<br class="hidden-xs" />開発サポート</h1>
</div></div>

<section>
    <p>HTML5ハイブリッドアプリ開発全般に関する、技術的な課題解決をご支援いたします。これまでMonacaの開発や、実際にアプリ開発プロジェクトの中で培って来たアシアルがお客様のアプリ開発プロジェクトをサポートいたします。</p>

    <h1 class="small">幅広いサポート対象技術</h1>
    <p>HTML5ハイブリッドアプリ開発を行うためには、HTML5、Cordova、Monaca、Onsen UI、AngularJSなど、広範囲な技術の理解が必要になります。本サービスではこれら技術を幅広くサポートさせていただきます。</p>
    <img src="/img/devsupport/img_1.jpg" alt=""/>
</section>

<section class="support">
    <h1 class="small">開発経験豊富な<br class="visible-xs" />HTML5ハイブリッドアプリ開発の<br class="hidden-xs hidden-sm" />専門スタッフが対応</h1>
    <p>アシアルでは2009年からHTML5ハイブリッドアプリ開発の研究開発を開始し、これまでMonacaの開発や多くのアプリ開発プロジェクトを通じて多くのノウハウを蓄積して参りました。お客様の課題を的確にスピーディに解決することができます。</p>
    <img src="/img/devsupport/img_2.jpg" alt=""/>
</section>

<section class="menu">
    <h1 class="small">HTML5ハイブリッドアプリ開発サポートメニュー</h1>
    <table>
        <thead>
            <th>&nbsp;</th>
            <td>ゴールド</td>
            <td>シルバー</td>
        </thead>
        <tbody>
            <tr>
                <th><span>対象モバイルOS</span></th>
                <td colspan="2">iOS 7以降<br />Android 4.0以降</td>
            </tr>
            <tr>
                <th><span>対象開発プラットフォーム</span></th>
                <td colspan="2">Monaca<br />Cordova（Ver.4.1以降）</td>
            </tr>
            <tr class="content">
                <th><span>サービス内容</span></th>
                <td colspan="2">
                    <p>技術的なご質問にお応えするヘルプデスクサービスを提供します。</p>
                    <ul>
                        <li>アプリ開発に直接関連する質問への回答を行います</li>
                        <li>回答範囲は各公式ドキュメントに記載されている範囲とさせていただきます</li>
                        <li>コーディングや設定のアドバイスを行います</li>
                        <li>必要に応じてお客様のソースコードをレビューを致します</li>
                        <li>検証用プロジェクトや環境はお客様側に準備をお願いします</li>
                        <li>必要に応じてサンプルコードの提供を行います</li>
                        <li>作業の代行は含まれておりません</li>
                    </ul>
                </td>
            </tr>
            <tr class="tech">
                <th><span>サポート対象技術</span></th>
                <td colspan="2">
                    <ul>
                        <li>Monaca</li>
                        <li>Cordova（Ver.3.5）</li>
                        <li>Cordovaプラグイン</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>jQuery</li>
                        <li>Onsen UI</li>
                        <li>AngularJS</li>
                        <li>APNS</li>
                        <li>GCM</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th><span>インシデント件数（月）</span></th>
                <td>20件</td>
                <td>5件</td>
            </tr>
            <tr>
                <th><span>サポート担当者</span></th>
                <td>サポート担当者を指名</td>
                <td>不特定のサポート担当</td>
            </tr>
            <tr>
                <th><span>サポート対応方法</span></th>
                <td colspan="2">サポート専用のWebシステム、メールを通じたサポート</td>
            </tr>
            <tr>
                <th><span>サポート対応時間</span></th>
                <td colspan="2">弊社営業日の11時〜19時</td>
            </tr>
            <tr>
                <th><span>一次回答時間</span></th>
                <td>4営業時間</td>
                <td>8営業時間</td>
            </tr>
            <tr>
                <th><span>質問者の人数</span></th>
                <td>20人</td>
                <td>5人</td>
            </tr>
            <tr>
                <th><span>価格（年額）</span></th>
                <td>10,000,000円</td>
                <td>3,000,000円</td>
            </tr>
            <tr>
                <th><span>価格（月額）</span></th>
                <td>1,000,000円</td>
                <td>300,000円</td>
            </tr>
        </tbody>
    </table>
</section>