---
title: Monaca for Visual Studio - ローカル型HTML5ハイブリッドアプリ開発ツール
class: development
description: Visual StudioでiOS、Android、Chrome Apps等のマルチプラットフォームのアプリ開発を行うことができます。
keywords: Visual Studio,Cordova,HTML5,Azure Mobile Service
---
<div class="recruit-xs visible-xs visible-sm visible-md">
    <a href="/development.html"><h2>無料相談</h2></a>
</div>

<div class="keyvisual box-full"><div>
    <h1 id="switch1"><img src="/img/development/keyvisual.png" alt="アプリ開発のご依頼・ご相談" /></h1>
    <div class="box-try">
        <p class="btn btn-green">
            アプリ開発の相談・<br class="opt">見積依頼はこちら
        </p>
    </div>
</div></div>

<section>
    <h1>アプリ開発依頼はMonacaにお任せください！</h1>

    <p>Monacaを用いたHTML5ハイブリッド開発では、iOS、Android、Windowsに対応したアプリ開発に対応できます。<br />
    我々にご相談いただければ、経験豊富なMonaca開発パートナーと共に、お客様のﾌﾟﾛｼﾞｪｸﾄを成功に導きます。</p>
    <img src="/img/development/appsRequest.png" alt="専門スタッフによる無料相談、経験豊かなMonaca開発パートナー、iOS・Android同時開発可能、ストア公開アプリも社内配布アプリも" />
</section>

<section>
    <h1>主なアプリ開発実績</h1>

    <p>IntelliSenseのような高度なコード補完機能などVisual Studioが備える便利な開発補助機能をモバイルアプリ開発に活用できます。</p>
<ul class="cases">
    <li data-category="media">
        <a href="nijibox.html"><img src="/img/showcase/btn_nijibox.png" alt="" class="thumb"></a>
    </li>
    <li data-category="media">
        <a href="tokyocalendar.html"><img src="/img/showcase/btn_tc.png" alt="" class="thumb"></a>
    </li>
    <li data-category="media">
        <a href="tvasahi.html"><img src="/img/showcase/btn_tvasahi.png" alt="" class="thumb"></a>
    </li>
    <li data-category="media">
        <a href="proto.html"><img src="/img/showcase/btn_proto.png" alt="" class="thumb"></a>
    </li>
    <li data-category="finance">
        <a href="jnb.html"><img src="/img/showcase/btn_jnb.png" alt="" class="thumb"></a>
    </li>
    <li data-category="manufacture">
        <a href="hitachitool.html"><img src="/img/showcase/btn_hitachitool.png" alt="" class="thumb"></a>
    </li>
</ul>

</section>

<section>
    <h1>経験豊富なMonaca開発パートナー</h1>

    <p>Monacaによるアプリ開発を手掛ける経験豊富なMonaca開発パートナー各社がお客様のプロジェクトを成功に導きます。<br />
    B2Cアプリから業務システムまで、また大規模開発からスピード重視の案件まで、幅広いニーズにお応えできます。</p>
    <img src="/img/visualstudio/img_3_ja.png" alt="" />
</section>

<section class="development_flow">
    <h1>ご相談の流れ</h1>
    <div class="container section box-uservoices">
        <ul class="column-2">
            <li>
                <div class="uservoice-balloon">
                    <ul>
                        <li><p>1</p></li>
                        <li><h2>お問い合わせ</h2><p>専用の相談フォームから、ご希望の条件・要件などをご入力ください。</p></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="uservoice-balloon">
                    <ul>
                        <li><p>2</p></li>
                        <li><h2>専門スタッフによる無料相談</h2><p>HTML5ハイブリッドアプリ開発プロジェクトを多数手がけてきた専門スタッフがお客様のご要望をヒアリングいたします。</p></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="uservoice-balloon">
                    <ul>
                        <li><p>3</p></li>
                        <li><h2>ご要望に最適な開発パートナーをご紹介</h2><p>Monaca開発パートナーの中からお客様のご要望に最適な企業をご紹介します。</p></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="uservoice-balloon-end">
                    <ul>
                        <li><p>4</p></li>
                        <li><h2>Monaca開発パートナーからのご提案</h2><p>Monaca開発パートナーによる詳細なヒアリングを経て、具体的なお見積りご提案を行います。</p></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>

<div class="box-try box-try-end">
    <p class="btn btn-green"><a href="http://docs.monaca.mobi/cur/ja/manual/development/monaca_vs/" target="_blank">アプリ開発の相談・<br class="opt">見積依頼はこちら</a></p>
</div>

