---
title: Monaca Enterprise
class: enterprise
---

<div class="keyvisual box-full"><div>
    <h1><img src="/img/enterprise/logo.png" alt="Monaca enterprise"/><br />企業のモバイル戦略を促進する<br />Monacaエンタープライズ</h1>
</div></div>

<section>
    <h1>HTML5/Cordovaアプリ開発に特化した<br />エンタープライズ向けアプリ開発・運用基盤</h1>
    <p>Monacaエンタープライズは、モバイルアプリの開発・運用・管理を安全に効率的にする機能・サービスを提供する、モバイルアプリ開発・運用基盤です。HTML5ハイブリッドアプリの業界標準OSS(オープンソース)フレームワーク「Cordova」を内包し、Webのスタンダード技術でマルチプラットフォーム対応のモバイルアプリケーションの開発を行うことができます。Monacaエンタープライズは企業のモバイル戦略を促進します。</p>
    <img src="/img/enterprise/img_1.png" alt=""/>
</section>

<section>
    <h1>企業データ、社内システム、クラウドサービスと<br />容易な接続</h1>
    <p>業務アプリ開発を行う際に、既存の社内システムやユーザー認証、外部のクラウドサービスとの連携が大きな課題となります。Monacaのオプションとして提供されるエンタープライズ向けmBaaS「KidoZen」を活用することで、容易にかつセキュアにモバイルアプリと既存システムを連携できます。</p>
    <img src="/img/enterprise/img_2.png" alt=""/>
</section>

<section>
    <h1>選べる開発スタイル/コーディング環境</h1>
    <p>Monaca Localkitを活用することで、開発者はVisual Studio、Eclipse、Dreamweaver、 Sublime Textなどお好みのローカル開発環境を使ってアプリ開発を行えます。また、GitやSubversionといったバージョン管理ツールとも併用可能です。利用者や用途にあわせて、最適な制作環境をお選びください。</p>
    <img src="/img/enterprise/img_3.png" alt=""/>
</section>

<section>
    <h1>セキュアなHTML5ハイブリッドアプリ開発を<br />実現するプラグイン群</h1>
    <h2>アプリロジック暗号化</h2>
    <p>Monacaではアプリ内のファイルを暗号化する事によって、解読、複製を防止しアプリのセキュリティレベルを保ちます。</p>
    <img src="/img/enterprise/img_4.png" alt=""/>
    <h2>セキュアストレージ</h2>
    <p>デバイス上に保存されるデータを暗号化して保存をする、セキュアなストレージを提供します。端末の盗難や紛失などの万が一の際の情報漏洩を未然に防ぎます。</p>
    <img src="/img/enterprise/img_5.png" alt=""/>
    <h2>In-App アップデーター</h2>
    <p>ストアから再ダウンロードすることなく、アプリの自動更新を行う機能を提供します。アプリの再配布、端末への再インストールを行うことなく、常にユーザーが最新のアプリを利用している状態を保ちます。</p>
    <img src="/img/enterprise/img_6.png" alt=""/>
</section>

<section>
    <h1>HTML5ハイブリッドアプリのパフォーマンスを向上</h1>
    <p>Onsen UIはHTML5ハイブリッドアプリ開発の課題である「アプリのパフォーマンス問題」を解決します。さらにMonacaではAndroidアプリ側にChromiumベースの最新ブラウザエンジン「Crosswalk」を組み込み、OSバージョンの違いを吸収します。これにより、AndroidWebViewのパフォーマンスとフラグメンテーション問題を一気に解決致します。</p>
    <img src="/img/enterprise/img_7.png" alt=""/>
</section>

<section>
    <h1>HTML5ハイブリッドアプリのデバッグを効率化</h1>
    <p>MonacaではHTML5ハイブリッドアプリ専用のデバッグツールを提供しています。開発中のアプリをコンパイルせずに、即時に実機上で動作確認できます。JavaScriptブレークポイントやステップ実行など、より高度なデバッグにも対応します。</p>
    <img src="/img/enterprise/img_8.png" alt=""/>
</section>

<section>
    <h1>HTML5/Cordova開発支援サービス</h1>
    <p>経験豊富な開発・サポートチームが、HTML5/Cordovaアプリ開発の支援を致します。アプリの受託開発から、ヘルプデスク、トレーニングまで各種サービスを取り揃えています。</p>
    <img src="/img/enterprise/img_9.png" alt=""/>
</section>

<div class="box-try">
    <a class="btn btn-white" href="#">デモを見る</a>
    <a class="btn btn-blue" href="https://monaca.mobi/support/index">資料請求</a>
</div>

