---
title: Monaca - 500 Error
class: error
keywords: Monaca,HTML5,Cordova,PhoneGap,MEAP
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---

<section class="container">
   <img src="/img/error/logo_error_500.png" alt="500" />
   <h1>Internal Server Error</h1>
   <p style="text-align: center;">内部エラーが発生しました。<br>後ほど再読み込みしてください。</p>
</section>