---
title: Monaca - 500 Error
class: error
keywords: Monaca,HTML5,Cordova,PhoneGap,MEAP
---

<section class="container">
   <img src="/img/error/logo_error_500.png" alt="500" />
   <h1>Internal Server Error</h1>
   <p style="text-align: center;">You have encountered to a server error.<br>Please reload the page again.</p>
</section>