---
title: Monaca - 500 Error
class: error
description: Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。
keywords: Monaca,HTML5,Cordova,PhoneGap,MEAP
---

<section class="container">
   <img src="/img/error/logo_error_500.png" alt="500" />
   <h1>Internal Server Error</h1>
   <p style="text-align: center;">内部エラーが発生しました。<br>後ほど再読み込みしてください。</p>
</section>