---
title: Monaca - Freeプランについて
class: free-plan
layout: src/templates/layouts/index.hbs
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
show_ja_globalnav: true
show_ja_subnav: true
---

<div class="v2-section--free-plan">
    <div class="v2-section--free-plan__wrapper">
        <div class="v2-section--free-plan__navigation">
            <a href="/pricing.html"><img src="/img/common-v2/ico_next_arrow2.svg" style="margin-right: 7px; transform: scaleX(-1);" />プラン一覧に戻る</a>
        </div>
        <div class="v2-section--free-plan__title">
            Freeプランについて
        </div>
        <div class="v2-section--free-plan__description">
            <p>Monacaは個人でのご利用および法人での非商用利用の目的に限り無料でもご利用いただけます。<br />Freeプランでも、プロジェクトの作成からアプリのリリースまでの全ての作業を行うことができます。</p>
            <p>Freeプランでは以下の機能がご利用になれます。</p>
        </div>
        <div class="v2-section--free-plan__features">
            <ul>
                <li><em>クラウドIDE</em>（プロジェクト数は3個まで、ストレージは250MBまで）</li>
                <li><em>リモートビルド</em>（3回/日まで）</li>
                <li><em>実機デバッグ</em>（同時接続台数は1台まで）</li>
                <li><em>Cordovaプラグイン</em>（コアプラグインのみ）</li>
                <li><em>プッシュ通知</em>（1,000回/月まで）</li>
                <li><em>GitHub連携</em>（publicレポジトリのみ）</li>
            </ul>
        </div>
        <div class="v2-section--free-plan__description-after">
            <p>※FREEプランの利用目的の制限については「<a href="free-plan-policy-change.html">利用規約変更のお知らせ</a>」をご覧ください。<br />
            ※上記の仕様につきましては、予告なく変更することがありますのでご了承ください。</p>
            <p style="color: #111;">Freeプランを利用する場合でも、2週間の無料トライアルが必要です。<br />トライアル中にダウングレードを行ってください。</p>
        </div>
        <a class="v2-section--free-plan__button" href="https://{{site.monaca_api}}/ja/signup">Monacaにサインアップ</a>
    </div>
</div>
