---
title: Monaca - Freeプランについて
class: free-plan
layout: src/templates/layouts/index.hbs
---

<div class="v2-section--free-plan">
    <div class="v2-section--free-plan__wrapper">
        <div class="v2-section--free-plan__navigation">
            <a href="/free-plan.html"><img src="/img/common-v2/ico_next_arrow2.svg" style="margin-right: 7px; transform: scaleX(-1);" />Freeプラン詳細に戻る</a>
        </div>
        <div class="v2-section--free-plan__title">
            利用規約変更のお知らせ<span style="font-size: 80%">（2018年6月1日）</span>
        </div>
        <div class="v2-section--free-plan__description">
            <p>平素はMonacaをご利用いただき、誠にありがとうございます。<br>
            このたび、Monacaでは2018年6月1日よりFreeプランの利用につきまして法人での商用目的での利用を制限させていただく事になりました。これに伴いMonaca利用規約を変更いたしました。<br>
            変更後の規約については、「<a href="/terms-of-service/">Monaca利用規約</a>」をご覧ください。</p>
        </div>
        <div class="v2-section--free-plan__title" style="margin-top: 30px;">
            主な変更点
        </div>

        <div class="v2-section--free-plan__description">
            <strong>対象プラン</strong><br>
            Freeプラン<br><br>
            <strong>主な利用目的の制限</strong><br><br>
            法人による商用でのアプリ開発を目的としたMonacaのご利用を原則禁止とさせていただきます。商用でのアプリ開発は、当該法人の事業遂行に関連するアプリ開発全般を指し、<br>
                ・アプリストアで一般公開を目的とするアプリ開発<br>
                ・法人内の業務に使うことを目的とするアプリ開発<br>
                ・受託開発を目的とするアプリ開発<br>
                が含まれます。<br><br>
            なお、以下の目的でのアプリ開発は商用でのアプリ開発に含まれません。<br>
                ・学習、教育、研修利用を目的としたアプリ開発<br>
                ・Monacaの導入評価を目的としたアプリ開発<br><br>
            <strong>個人のご利用について</strong><br><br>
            個人でのMonacaのご利用については利用目的の制限はございません。<br>
            ただし、法人における商用でのアプリ開発を代行することを目的としたアプリ開発については、法人と同様にFreeプランのご利用はいただけません。<br><br>
            2018年6月1日以降、法人における商用でのアプリ開発を目的としてMonacaをご利用いただく際には有償プランのご利用をよろしくお願いいたします。当該アプリのプロジェクトをMonaca上で操作をしない（保存のみを行っている）場合は、引き続きFreeプランをご利用いただけます。<br><br>
            なお、この度の規約変更日以降にMonacaをご利用された場合は、変更後の規約に同意をいただいたものとみなしますのでご了承ください。<br><br>
            今後とも、Monacaをご愛顧賜りますよう、よろしくお願いいたします。
        </div>
    </div>
</div>
