---
title: Monaca App Showcase - Apps Developed with Monaca and Onsen | Monaca
class: great-apps
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
---
<section id="case">
    <div class="case-featured">
        <div>
            <h1>Monaca <i>x</i> Onsen UI Showcase</h1>
            <div class="btn-case-add btn-gray-line">
                <i></i>
                <a href="/showcase/add.html">Submit Your App</a>
            </div>
            <ul id="featured" class="caseicon">
            </ul>
        </div>
    </div>
    <div class="container">
        <ul class="caseicon app-list"></ul>
        <p id="more" class="more">
            <span class="icn-loading-cases">
                <img src="/img/common/loading_large.gif" alt=""/>
            </span>
        </p>
    </div>
</section>

<article class="cases" id="app-detail-container"
         style="opacity: 1; margin-left: -351px; position: fixed; top: 24.5px; left: 50%;">
    <header>
        <img src="" alt="" class="headicon app-icon" width="60" height="60">
        <h2 class="app-title"></h2>
        <p class="name app-author"></p>
        <a id="close_casepopup" class="close close_popup"></a>
    </header>
    <div class="desc-body">
        <div class="desc-block">
            <ul class="stores app-stores"></ul>
            <div class="desc"><p class="app-description"></p></div>
        </div>
        <div class="screenshots">
            <a href="" class="arrow left" onClick="return false;"></a>
            <ul class="screen app-screenshots">
            </ul>
            <a href="" class="arrow right" onClick="return false;"></a>
        </div>
    </div>
</article>
<div id="modal-overlay" style="display: none; opacity: 0.4;"></div>
