---
title: Cloudbasierende hybride HTML5 App-Entwicklungswerkzeuge  | Monaca
class: home
layout: src/templates/layouts/index.hbs
description: Monaca macht hybride App-Entwicklung mit PhoneGap/Cordova wesentlich einfacher durch eine cloudbasierende Entwicklungsplatform und Dienstleistungen.
---

<div class="keyvisual box-full" style="background: url(../../img/index/keyvisual_en.jpg) center bottom no-repeat,url(../../img/index/keyvisual_bg.png) left bottom repeat-x #126faa;">
<div>
        <h1>Universelle Entwicklungswerkzeuge für Hybrid-App-Entwicklung</h1>
        <p>Entdecke eine der flexiblsten und umfangreichsten cloudbasierenden <br class="hidden-xs" />Hybrid-App-Entwicklungsplatform </p>

        <div class="box-try">
            <a href="{{site.monaca_api}}/signup" class="btn btn-green">Jetzt registrieren<span class='small'> (gratis)</span></a>
        </div>
    </div>
</div>

<div class="container section summary">
    <!-- <h2>Was ist Monaca</h2> -->
    <p>Monaca macht hybride App-Entwicklung mit <a href="http://phonegap.com/">PhoneGap</a>/<a href="http://cordova.apache.org/">Cordova</a> einfach. Dadurch, dass Monaca sich einfach mit anderen Frameworks integrieren lässt, kann Monaca sofort und einfach in den genwärtigen Arbeitsfluss integriert werden und bietet damit eine der besten Cordova Platformen.</p>
    <img src="/img/index/img_block.png" alt="">
</div>

<div id="benefits" class="container section benefits">
    <h2>Drei Vorteile von Monaca</h2>
    <ol>
        <li>
            <img src="/img/index/icn_charge.svg" alt="" class="thumb">
            <h3>Entwicklung in der Cloud</h3>

            <p>Monaca’s cloudbasierende Entwicklungsumgebung ermöglicht es, schnell ohne jegliche Installation und Konfiguration die Entwicklung zu starten, während die lokale, mit der Cloud synchronisierende  Entwicklungsoption eine individuell Entwicklung ermöglicht, u.a.  mit Funktionen wie Synchronation und remoten Buildprozess. Monaca bietet das beste aus beiden Welten.</p>
        </li>
        <li>
            <img src="/img/index/icn_apps.svg" alt="" class="thumb">
            <h3>Mix-and-Match <br class="hidden-xs" /> Unbeschränkte Möglichkeiten</h3>

            <p>Alles, angefangen von Design, über App-Entwicklung, Backend-Entwicklung, Tests bis zu Debugging, Bauen und Verbreiten wird mit Monaca ein Kinderspiel. Monaca kann als ein großes ganzes Produkt benutzt werden oder man kann einzelne Komponenten benutzen. Es integriert sich ohne Problme mit Tools wie Sublime Text und Git. Man kann sich einfach heraussuchen, was man gerne braucht.  Es integriert sich ohne Probleme in den Arbeitsfluss. </p>
        </li>
        <li>
            <img src="/img/index/icn_frameworks.svg" alt="" class="thumb">
            <h3>Framework<br class="hidden-xs" /> Agnostic</h3>

            <p>Monaca ermöglicht Flexibilität auf allen Stufen. Um Monaca in vollen Zügen zu genießen, haben wir das quelloffene Framework <a href="http://onsen.io/">Onsen UI Framework</a> entwickelt, welches man ohne Probleme mit Monaca integrieren kann. Aber auch Ionic oder PhoneGap Entwickler können ohne Probleme von den Vorteilen unserer cloudbasierenden Tools Gebrauch machen ohne viel an ihrem Code zu ändern.</p>
        </li>
    </ol>
</div>

<div class="container section subfeatures">
    <ol>
        <li>
            <h3 class="maintitle">Debugging &amp; Testen</h3>
            <h4 class="subtitle">Ein komplettes Debugpaket <br class="visible-xs" /> liegt ihnen zu Füßen</h4>

            <p>Mit dem Monaca Debugger kann man Bugs aufspüren, die nur auf Handy auftauchen. Mithilfe vom Monaca Debugger braucht man sich nicht um den Bau- und Installationsprozess sorgen und erhält gleichzeitg mit der Cloud synchronisierte Debuginformationen, die es einfacher denn je machen, Bugs aufzuspüren und zu beheben. Die Geräte können kabellos oder via USB mit den lokalen Entwicklugnstools von Monaca verbunden werden. Diese Tools ermäglichen unter anderem Debuggen in der Konsole, DOM Inspektion, Javascript Debugging und Teamkollobarationsfunktionen.  Auch werden HTML5 APIs und Cordova Plugins unterstützt.
            <a href="#">&gt; Monaca Debugger</a></p>

            <div id="animation-livereload" class="hidden-xs">
                <div class="livereload-editor">
                    <div class="livereload-editor-header">index.html</div>
                    <div class="livereload-editor-mask"></div>
                    <div class="livereload-saved"></div>
                </div>

                <div class="livereload-connect stop"></div>

                <div class="livereload-device">
                    <div class="livereload-device-screen-base"></div>
                    <div class="livereload-device-screen"></div>
                    <div class="livereload-device-screen-reloaded hidden"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="legwork">
                <h3 class="maintitle">Remoter Bauprozess</h3>
                <h4 class="subtitle">Wir tun die harte Arbeit</h4>

                <p> Baue Apps sofort ohne ein native Development Kit für jede Platform zu entwickeln. Wir erledigen die harte Arbeit in der Cloud, und unterstützen iOS, Android™, Windows® 8, und Chrome Apps.<br /> Außerdem gibt es eine Kompatibilität mit Crosswalk und es gibt forgeschrittene Funktionen wie Verschlüsselung und In-App Update.</p>
            </div>
            <div class="thumb"><img id="features-img-1" alt="" /></div>
        </li>
        <li>
            <div class="onsentools-xs">
                <h3>Onsen UI Framework und <br /> Komponenten</h3>

                <p>100% Open Source. Integriert mit den Monaca Tools.
                 Wunderschöne nativ aussehende HTML5-Apps zu entwickeln ist einfach mit Onsen und siner vielzahl von fertigen  UI-Komponenten.<br />Auch Frameworks wie  AngularJS, jQuery und viele andere werden unterstützt.</p>
            </div>
            <div class="thumb"><img id="features-img-2" alt="" class="thumb" /></div>
            <div class="onsentools-lg">
                <h3>Onsen UI Framework and <br /> Components</h3>

                <p>100% Open Source. Integriert mit den Monaca Tools.
                Wunderschöne nativ aussehende HTML5-Apps zu entwickeln ist einfach mit Onsen und siner vielzahl von fertigen  UI-Komponenten.<br />Auch Frameworks wie  AngularJS, jQuery und viele andere werden unterstützt.</p>

            </div>
        </li>
    </ol>
</div>

<div id="lineup" class="lineupbox">
    <h2>Mehr Erfahren</h2>

    <div class="lineupbox-content">
        <h3>Produkte </h3>

        <ul>
            <li><a href="http://onsen.io/"><img src="/img/index/icn_onsen.png" alt="Onsen Framework"></a></li>
            <li><a href="https://docs.monaca.io/en/manual/development/monaca_cli/"><img src="/img/index/icn_cli.png" alt="Monaca CLI"></a></li>
            <li><a href="/localkit.html"><img src="/img/index/icn_localkit.png" alt="Monaca Localkit"></a></li>
            <li><a href="/cloud.html"><img src="/img/index/icn_cloud.png" alt="Monaca Cloud"></a></li>
            <li><a href="/enterprise.html"><img src="/img/index/icn_enterprise.png" alt="Monaca Enterprise"></a></li>
        </ul>
    </div>
</div>

<div class="container box-awards">
    <h2>Auszeichnungen</h2>
    <ul>
        <li>
            <a href="http://www.redherring.com/events/red-herring-global/2014-top100-winners/" target="_blank">
                <img src="/img/index/icn_awards_redglobal.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING GLOBAL</dt>
                    <dd> Ausgezeichnet als eine der führenden privaten Firmen aus Nord Amerika, Europa  und Asien</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="http://www.redherring.com/events/red-herring-asia/2014-red-herring-asia-top-100-finalists/" target="_blank">
                <img src="/img/index/icn_awards_redasia.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING ASIA</dt>
                    <dd>Für Innovation und großes Wachstum als ein asiatischer Spitzenreiter</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="http://www.microsoft.com/ja-jp/mic/report/20130603mia.aspx" target="_blank">
                <img src="/img/index/icn_awards_microsoft.png" class="thumb" alt="">
                <dl>
                    <dt>Microsoft Innovation Award</dt>
                    <dd>Special Intel Award für einfache Hybrid-App-Entwicklung</dd>
                </dl>
            </a>
        </li>
    </ul>
</div>

<div class="container box-try">
    <a href="{{site.monaca_api}}/signup" class="btn btn-blue">Jetzt registrieren<span class='small'>(gratis)</span></a>
</div>

<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script>
(function() {

/*
function setBackgroundPosition() {
    var scrollTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;

    if (scrollTop < 1000) return;

    var y = -1 * (scrollTop * 0.1);
    document.getElementById("benefits").style.backgroundPosition = "center " + y + "px";

    y += 400;
    document.getElementById("lineup").style.backgroundPosition = "center " + y + "px";
}
*/

window.addEventListener("load", function() {
    "use strict";

    animateLivereload(document.getElementById("animation-livereload"));

    setTimeout(function() {
        document.getElementById("features-img-1").src = "/img/index/img_remotebuild.jpg";
        document.getElementById("features-img-2").src = "/img/index/img_onsen.jpg";
    }, 4000);

    window.addEventListener("scroll", setBackgroundPosition);
});

window.addEventListener("DOMContentLoaded", setBackgroundPosition);

})();
</script>
