---
title: Strumenti di sviluppo Cloud-Powered per Applicazioni Mobile Ibride basate su HTML5 | Monaca
class: home
layout: src/templates/layouts/index.hbs
description: Monaca rende più semplice lo sviluppo di applicazioni mobile ibride basate su PhoneGap/Cordova grazie ai suoi strumenti di sviluppo e servizi cloud-powered.
---

<div class="keyvisual box-full" style="background: url(../../img/index/keyvisual_en.jpg) center bottom no-repeat,url(../../img/index/keyvisual_bg.png) left bottom repeat-x #126faa;"><div>
    <h1>Sviluppo Flessibile di Applicazioni Mobile Ibride</h1>
    <p>Un set completo di strumenti e servizi cloud-powered che rendereranno più semplice<br class="hidden-xs" />il tuo sviluppo di applicazioni mobile ibride basate su PhoneGap/Cordova.</p>

    <div class="box-try">
        <a href="https://monaca.mobi/en/register/start" class="btn btn-green">Provalo Ora!<span class='small'> (gratis)</span></a>
    </div>

</div></div>

<div class="container section summary">
    <!-- <h2>What is Monaca</h2> -->
    <p>Monaca rende lo sviluppo di applicazioni mobile ibride basate su <a href="http://phonegap.com/">PhoneGap</a>/<a href="http://cordova.apache.org/">Cordova</a> più semplice ed intuitivo, grazie ai suoi strumenti di sviluppo e servizi cloud-powered. Oltre ad essere completamente framework-agnostic, Monaca è pronto ad essere integrato nel tuo workflow ed ambiente di lavoro, in modo da offrirti la più performante piattaforma di sviluppo presente sul mercato.</p>
    <img src="/img/index/img_block.png" alt="">
</div>

<div id="benefits" class="container section benefits">
    <h2>I Benefici di Monaca</h2>
    <ol>
        <li>
            <img src="/img/index/icn_charge.svg" alt="" class="thumb">
            <h3>Sviluppo <br class="hidden-xs" /> Cloud-Powered</h3>

            <p>I nostri strumenti sono stati realizzati per rendere più performante lo sviluppo di applicazioni mobile. Mentre l'ambiente di sviluppo cloud offre la massima flessibilità senza rendere necessaria alcuna configurazione iniziale, quello locale cloud-synced ti permette di utilizzare i tuoi tool di sviluppo preferiti, avendo pero' sempre la possibilità di utilizzare le più importanti funzionalità di Monaca, tra cui live-sync e remote build.</p>
        </li>
        <li>
            <img src="/img/index/icn_apps.svg" alt="" class="thumb">
            <h3>Tutto cio' che ti serve<br class="hidden-xs" /> in un solo servizio</h3>

            <p>Abbiamo pensato a tutto, a partire dal design, fino ad arrivare allo sviluppo di app e backend, debugging, testing e distribuzione. Monaca puo' essere usato come insieme di servizi o singoli moduli, offrendoti la possibilità di utilizzare i tuoi tool di sviluppo preferiti, quali Sublime Text e Git. Seleziona i tool che più ti interessano, penseremo noi ad inserirli fluidamente nel tuo workflow.</p>
        </li>
        <li>
            <img src="/img/index/icn_frameworks.svg" alt="" class="thumb">
            <h3>Framework<br class="hidden-xs" /> Agnostico</h3>

            <p><a href="https://onsen.io/">Onsen UI</a>, il nostro framework inizialmente Angular-based ma ora completamente agnostico, è stato totalmente integrato nell'ambiente di sviluppo Monaca. Ciononostante, avrai sempre la possibilità di utilizzare il framework che preferisci. Se ti piace sviluppare con Ionic o PhoneGap, per esempio, potrai utilizzare  <a href="https://docs.monaca.io/en/manual/development/monaca_cli/" target="_blank">Monaca CLI</a> per sfruttare i nostri servizi cloud-powered, senza bisogno di effettuare alcun porting. Monaca è una piattaforma completamente aperta!</p>
        </li>
    </ol>
</div>

<div class="container section subfeatures">
    <ol>
        <li>
            <h3 class="maintitle">Debugging &amp; Testing</h3>
            <h4 class="subtitle">Una suite completa per il Debugging <br class="visible-xs" />a tua completa disposizione</h4>

            <p>I tool di debugging di Monaca offrono molto più di una semplice anteprima. Con Monaca Debugger potrai eseguire la tua applicazione in real-time su tutti i tuoi dispositivi, senza aver bisogno di generarla ed installarla ogni volta. I dispositivi possono essere collegati in wireless o via USB, in modo da poter tenere sotto controllo tutte le specifiche di debugging attraverso i tool locali di Monaca. Sono inoltre incluse funzionalità come Console Debugging, DOM Inspection, JavaScript Debugging e condivisione dei progetti coi membri del tuo team. E' inoltre previsto il supporto alle HTML5 APIs e ai plugin Cordova.</p>

            <div id="animation-livereload" class="hidden-xs">
                <div class="livereload-editor">
                    <div class="livereload-editor-header">index.html</div>
                    <div class="livereload-editor-mask"></div>
                    <div class="livereload-saved"></div>
                </div>

                <div class="livereload-connect stop"></div>

                <div class="livereload-device">
                    <div class="livereload-device-screen-base"></div>
                    <div class="livereload-device-screen"></div>
                    <div class="livereload-device-screen-reloaded hidden"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="legwork">
                <h3 class="maintitle">Remote Build</h3>
                <h4 class="subtitle">Facciamo tutto noi!</h4>

                <p>Genera la tua build, immediatamente pronta ad essere pubblicata senza bisogno di installare alcun SDK per ciascuna piattaforma di distribuzione. Tutto il lavoro viene svolto dalla nostra infrastruttura Cloud, permettendoti di pubblicare applicazioni mobile per iOS, Android™, Windows® 8 e Chrome Apps. Inoltre, è presente la compatibilità con Crosswalk ed il supporto a funzionalità avanzate, tra cui Encryption e In-App Update.</p>
            </div>
            <div class="thumb"><img id="features-img-1" alt="" /></div>
        </li>
        <li>
            <div class="onsentools-xs">
                <h3>Onsen Framework e <br />Componenti UI</h3>

                <p>Sviluppare incredibili design e applicazioni HTML5 performanti è semplice con Onsen e la sua vasta suite di componenti UI pronti all'utilizzo. Basato inizialmente su AngularJS e jQuery, Onsen UI 2 offre una piattaforma completamente Framework Agnostic e 100% Open Source, in grado di fondersi con i più famosi framework presenti sul mercato e completamente integrato con i tool di sviluppo di Monaca</p>
            </div>
            <div class="thumb"><img id="features-img-2" alt="" class="thumb" /></div>
            <div class="onsentools-lg">
                <h3>Onsen Framework e <br />Componenti UI</h3>

                <p>Sviluppare incredibili design e applicazioni HTML5 performanti è semplice con Onsen UI e la sua vasta suite di componenti UI pronti all'utilizzo. Basato inizialmente su AngularJS e jQuery, Onsen UI 2 offre una piattaforma completamente Framework Agnostic e 100% Open Source, in grado di fondersi con i più famosi framework presenti sul mercato e completamente integrato con i tool di sviluppo di Monaca</p>
            </div>
        </li>
    </ol>
</div>

<div id="lineup" class="lineupbox">
    <h2>Per saperne di più</h2>

    <!--
    <p>Monaca will assist you throughout the development process and can be used as a piece or a whole.</p>
    -->

    <div class="lineupbox-content">
        <h3>I nostri prodotti</h3>

        <ul>
            <li><a href="http://onsen.io/"><img src="/img/index/icn_onsen.png" alt="Onsen Framework"></a></li>
            <li><a href="https://docs.monaca.io/en/manual/development/monaca_cli/"><img src="/img/index/icn_cli.png" alt="Monaca CLI"></a></li>
            <li><a href="/localkit.html"><img src="/img/index/icn_localkit.png" alt="Monaca Localkit"></a></li>
            <li><a href="/cloud.html"><img src="/img/index/icn_cloud.png" alt="Monaca Cloud"></a></li>
            <li><a href="/visualstudio.html"><img src="/img/index/icn_vs.png" alt="Monaca for Visual Studio"></a></li>
            <li><a href="/enterprise.html"><img src="/img/index/icn_enterprise.png" alt="Monaca Enterprise"></a></li>
        </ul>
    </div>
</div>

<div class="container box-awards">
    <h2>Awards</h2>
    <ul>
        <li>
            <a href="http://www.redherring.com/events/red-herring-global/2014-top100-winners/" target="_blank">
                <img src="/img/index/icn_awards_redglobal.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING GLOBAL</dt>
                    <dd>Assegnato alle aziende Leader di Nord America, Europa e Asia</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="http://www.redherring.com/events/red-herring-asia/2014-red-herring-asia-top-100-finalists/" target="_blank">
                <img src="/img/index/icn_awards_redasia.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING ASIA</dt>
                    <dd>Per l'innovazione e la crescita esponenziale come Tech Leader in Asia</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="http://www.microsoft.com/ja-jp/mic/report/20130603mia.aspx" target="_blank">
                <img src="/img/index/icn_awards_microsoft.png" class="thumb" alt="">
                <dl>
                    <dt>Microsoft Innovation Award</dt>
                    <dd>Premio Speciale per lo sviluppo di Applicazioni Mobile Ibride</dd>
                </dl>
            </a>
        </li>
    </ul>
</div>

<div class="container box-try">
    <a href="https://monaca.mobi/en/register/start" class="btn btn-blue">Provalo ora! <span class='small'>(gratis)</span></a>
</div>

<link href="/css/codemirror.css" rel="stylesheet">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script>
(function() {

/*
function setBackgroundPosition() {
    var scrollTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;

    if (scrollTop < 1000) return;

    var y = -1 * (scrollTop * 0.1);
    document.getElementById("benefits").style.backgroundPosition = "center " + y + "px";

    y += 400;
    document.getElementById("lineup").style.backgroundPosition = "center " + y + "px";
}
*/

window.addEventListener("load", function() {
    "use strict";

    animateLivereload(document.getElementById("animation-livereload"));

    setTimeout(function() {
        document.getElementById("features-img-1").src = "/img/index/img_remotebuild.jpg";
        document.getElementById("features-img-2").src = "/img/index/img_onsen.jpg";
    }, 4000);

    window.addEventListener("scroll", setBackgroundPosition);
});

window.addEventListener("DOMContentLoaded", setBackgroundPosition);

})();
</script>
