---
title: Monaca - HTML5ハイブリッドアプリ開発プラットフォーム
class: home
layout: src/templates/layouts/index.hbs
fixednav: true
---

<div class="v2-section--keyvisual">
    <div class="v2-section--keyvisual__wrapper">
        <div class="v2-section--keyvisual__subtitle">あらゆるニーズに応える</div>
        <div class="v2-section--keyvisual__title">No.1アプリ開発クラウド</div>
        <div class="v2-section--keyvisual__description">Monacaは20万人以上のWeb技術者に選ばれたモバイルアプリ開発環境です</div>
        <button class="v2-section--keyvisual__trial-button">無料トライアル</button>
        <div class="v2-section--keyvisual__app-development"><a href="/development.html">アプリ開発のご相談はこちら<img src="/img/common-v2/ico_next_arrow1.svg" style="margin-left: 7px;" /></a></div>
    </div>
</div>
<div class="v2-section--logos">
    <div class="v2-section--logos__wrapper">
        <span class="v2-section--logos__logo" style="flex: 1.5;"><img src="/img/index-v2/logo1_jnb.jpg" /></span>
        <span class="v2-section--logos__logo"><img src="/img/index-v2/logo2_tvasahi.jpg" /></span>
        <span class="v2-section--logos__logo"><img src="/img/index-v2/logo3_fujitsu.jpg" /></span>
        <span class="v2-section--logos__logo"><img src="/img/index-v2/logo4_fujitec.jpg" /></span>
        <span class="v2-section--logos__logo"><img src="/img/index-v2/logo5_asics.jpg" /></span>
        <span class="v2-section--logos__logo"><img src="/img/index-v2/logo6_unisys.jpg" /></span>
    </div>
</div>
<div class="v2-section--html5">
    <div class="v2-section--html5__wrapper">
        <div class="v2-section--html5__left-side">
            <div class="v2-section--html5__title">
                HTMLでiOS &amp; Android 向けのアプリを同時開発
            </div>
            <div class="v2-section--html5__description">
                説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
                説明文説明文説明文説明文説明文説明文
            </div>
            <div class="v2-section--html5__navigation">
                <a href="/features/html5.html">HTML5アプリを採用する理由<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
            </div>
        </div>
        <div class="v2-section--html5__right-side">
            <div class="v2-section--html5__image"></div>
        </div>
    </div>
</div>
<div class="v2-section--monaca">
    <div class="v2-section--monaca__wrapper">
        <div class="v2-section--monaca__title">Monacaがアプリ開発者に選ばれる理由</div>
        <div class="v2-section--monaca__feature-container">
            <a href="/features/#cloud-development">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img1-cloud.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        開発環境の構築が不要
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        エディタやビルド環境は全てクラウドに用意されています。
                    </div>
                </div>
            </a>
            <a href="/features/#cloud-editor">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img2-editor.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        高機能なクラウドエディタ
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        ブラウザ上で快適にプログラミングできます。
                    </div>
                </div>
            </a>
            <a href="/features/#debugger">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img3-debug.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        超高速実機デバッグ
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        実機でアプリの動作を確認しながら開発できます。
                    </div>
                </div>
            </a>
            <a href="/features/#plugin">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img4-plugin.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        強力なプラグインを提供
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        アプリロジック暗号化など、需要の高い機能を揃えています。
                    </div>
                </div>
            </a>
            <a href="/features/#local-development">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img5-local.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        クラウドでもローカルでも開発
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        ローカルでファイルを編集することもできます。
                    </div>
                </div>
            </a>
            <a href="/features/#onsen-ui">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img6-ui.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        高品質なUIを実現
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        iOSとAndroidの画面を簡単に再現できます。
                    </div>
                </div>
            </a>
        </div>
        <div class="v2-section--monaca__navigation">
            <a href="/features/">Monacaについてもっと詳しく<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
        </div>
    </div>
</div>
<div class="v2-section--apps">
    <div class="v2-section--apps__wrapper">
        <div class="v2-section--apps__title">20万人の開発者による<br>9万個を超えるアプリが誕生</div>
        <div class="v2-section--apps__app-container">
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app1.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app2.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app3.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app4.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app5.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app6.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app7.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app8.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app9.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app10.png');"><a href="/great-apps.html"></a></div>
        </div>
        <div class="v2-section--apps__navigation">
            <a href="/great-apps.html">もっと見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
        </div>
    </div>
</div>
<div class="v2-section--customers">
    <div class="v2-section--customers__wrapper">
        <div class="v2-section--customers__title">Monacaの導入事例</div>
        <div class="v2-section--customers__description">あらゆる業種の企業や団体の<br />モバイルアプリに活用されています</div>
        <div class="v2-section--customers__customer-container">
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-fujitec.jpg');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_fujitec.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    モバイルファーストな情報システム内製化基盤にMonacaを採用
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/fujitec.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-nijibox.jpg');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_nijibox.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    エンジニア1名、実工数2週間でWebサービスをモバイルアプリ化
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/nijibox.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-future.jpg');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_future.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    金融機関向けの渉外支援システムのアプリ対応工数を2/3に圧縮
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/naganobank.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-tvasahi.jpg');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_tvasahi.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    ネイティブ開発に比べてアプリ開発コストを半分に圧縮
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/tvasahi.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="v2-section--closing">
    <div class="v2-section--closing__wrapper">
        <div class="v2-section--closing__title">いますぐMonacaを試してみましょう。</div>
        <button class="v2-section--closing__trial-button">無料トライアル</button>
    </div>
</div>
<div class="v2-section--specials">
    <div class="v2-section--specials__wrapper">
        <div class="v2-section--specials__item-container">
            <div class="v2-section--specials__item">
                <a href="/service/training.html">
                    <div class="v2-section--specials__item-inner">
                        <div class="v2-section--specials__item-image" style="background-image: url('/img/common-v2/img_seminar.jpg');"></div>
                        <div class="v2-section--specials__item-title">セミナーに参加</div>
                        <div class="v2-section--specials__item-description"><span>テキストテキストテキスト</span></div>
                    </div>
            </div>
            <div class="v2-section--specials__item">
                <a href="/development.html">
                    <div class="v2-section--specials__item-inner">
                        <div class="v2-section--specials__item-image" style="background-image: url('/img/common-v2/img_consultation.jpg');"></div>
                        <div class="v2-section--specials__item-title">アプリ開発のご相談</div>
                        <div class="v2-section--specials__item-description"><span>テキストテキストテキスト</span></div>
                    </div>
                </a>
            </div>
            <div class="v2-section--specials__item">
                <a href="/support/inquiry.html">
                    <div class="v2-section--specials__item-inner">
                        <div class="v2-section--specials__item-image" style="background-image: url('/img/common-v2/img_contact-us.jpg');"></div>
                        <div class="v2-section--specials__item-title">お問い合わせ</div>
                        <div class="v2-section--specials__item-description"><span>テキストテキストテキスト</span></div>
                    </div>
                </a>
            </div>
            <div class="v2-section--specials__item">
                <a href="https://edu.monaca.io/">
                    <div class="v2-section--specials__item-inner">
                        <div class="v2-section--specials__item-image" style="background-image: url('/img/common-v2/img_Institution.jpg');"></div>
                        <div class="v2-section--specials__item-title">教育機関でのご利用</div>
                        <div class="v2-section--specials__item-description"><span>テキストテキストテキスト</span></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
