---
title: Monaca - HTML5ハイブリッドアプリ開発プラットフォーム
class: home
layout: src/templates/layouts/index.hbs
fixednav: true
show_monaca_description: false # Parameter for section_monaca_ja
---
<svg data-name="next_arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 14" style="display: none;">
  <symbol>
    <g id="next_arrow">
      <rect x="13.8" y="-0.74" width="2" height="9.9" transform="translate(1.36 11.7) rotate(-45)"/>
      <rect y="6.01" width="17.25" height="2"/>
      <rect x="9.85" y="8.79" width="9.9" height="2" transform="translate(-2.59 13.33) rotate(-45)"/>
    </g>
  </symbol>
</svg>

<section class="intro">
    <h2>25万を超えるユーザー、10万以上のアプリに導入された</h2>
    <h1>成功に導くアプリ開発クラウド</h1>
    <!--div class="solution">
        <div class="icon-box">
            <h4>アプリ開発<br/>プラットフォーム</h4>
            <p>Web技術で実現する、モバイル、PWA、PC向けクロスプラットフォーム開発環境</p>
        </div>
        <div class="icon-box">
            <h4>アプリ開発支援<br/>サービス</h4>
            <p>アプリ開発に精通したプロフェッショナルがあなたのプロジェクトをご支援いたします。</p>
        </div>
        <div class="icon-box">
            <h4>Monaca<br/>DevOps</h4>
            <p>マルチユースに対応した大規模開発向け統合開発プラットフォーム</p>
        </div>
        <div class="icon-box">
            <h4>プログラミング<br/>教育</h4>
            <p>スマホアプリ開発で 楽しくプログラミング学習</p>
        </div>
    </div-->
    <div class="solutions">
        <h3>ソリューション</h3>
        <div class="solutions-wrapper">
            <a href="#platform" >
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <g id="icon_pl">
                        <rect width="18" height="18" transform="translate(13 13)" fill="#c7c5c2" opacity="0.7"/>
                        <circle cx="11.5" cy="10.5" r="10.5" fill="#c7c5c2" opacity="0.7"/>
                    </g>
                </svg>
                <h4>アプリ開発<br/>プラットフォーム</h4>
                <p>Web技術で実現する、モバイル、PWA、PC向けクロスプラットフォーム開発環境</p>
            </a>
            <a href="#support">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <g id="icon_support">
                        <rect width="30" height="12" rx="1" transform="translate(1 10)" fill="#c7c5c2" opacity="0.7"/>
                        <rect width="12" height="30" rx="1" transform="translate(10 1)" fill="#c7c5c2" opacity="0.7"/>
                    </g>
                </svg>
                <h4>アプリ開発支援<br/>サービス</h4>
                <p>アプリ開発に精通したプロフェッショナルがあなたのプロジェクトをご支援いたします。</p>
            </a>
            <a href="#devops">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="32" viewBox="0 0 36 32">
                    <g id="icon_devops">
                        <circle cx="10.5" cy="16" r="10.5" fill="#c7c5c2" opacity="0.7"/>
                        <circle cx="25.5" cy="16" r="10.5" fill="#c7c5c2" opacity="0.7"/>
                    </g>
                </svg>
                <h4>Monaca<br/>DevOps</h4>
                <p>マルチユースに対応した大規模開発向け統合開発プラットフォーム</p>
            </a>
            <a href="#education">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <g id="icon_education">
                        <rect width="18" height="18" rx="1" transform="translate(7 10.5)" fill="#c7c5c2" opacity="0.7"/>
                        <rect width="30" height="13.5" rx="1" transform="translate(1 15)" fill="#c7c5c2" opacity="0.7"/>
                        <path d="M1,0H5A1,1,0,0,1,6,1V7.5a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V1A1,1,0,0,1,1,0Z" transform="translate(13 3)" fill="#c7c5c2" opacity="0.7"/>
                    </g>
                </svg>
                <h4>プログラミング<br/>教育</h4>
                <p>スマホアプリ開発で楽しくプログラミング学習</p>
            </a>
        </div>
    </div>
</section>

<section class="v2-section--logos">
    <div class="v2-section--logos__wrapper">
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo1_jnb.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo2_tvasahi.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo3_fujitsu.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo4_fujitec.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo5_asics.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo6_unisys.png');"></div>
        </span>
    </div>
</section>

<section id="main" class="details_wrapper clearfix">
    <h1 class="details_title">
        Monacaはアプリ開発のコンシェルジュです
    </h1>
    <img src="img/index-v2/section1_contents1.jpg" alt="" />
    <p>
        Monacaはクラウド技術を活用した、日本発・次世代のアプリ開発プラットフォームです。多様なアプリ開発に対応するクラウドサービスを中心に、アジャイル開発を促進するDevOps、コンサルティングやテクニカルサポート。日々の課題を解決するために用意されたツールやサービスを通じて、あなたのプロジェクトの成功を支えます。
    </p>
    <a class="details_navigation" href="/features/html5.html">さらに詳しく&nbsp;<svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="19" height="14" viewBox="0 0 19 14"><g class="color"><use xlink:href="#next_arrow" /></g></svg></a>
</section>

<section id="platform" class="details_wrapper clearfix">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <g>
            <use xlink:href="#icon_pl" />
        </g>
    </svg>
    <h1 class="details_title">
        25万人が利用するアプリ開発クラウド
    </h1>
    <img src="img/index-v2/section1_contents1.jpg" alt="" />
    <p>
        汎用性の高いWeb技術でどんな種類のアプリも作れるように。Monacaを使うと、JavaScriptとHTML5の共通スキルセットで、
        ・モバイル（iOS、Android）
        ・デスクトップアプリ（Windows、Mac OS X、Linux）
        ・Webアプリ（SPA、PWA）
        など多彩なアプリを開発できます。もちろんAngularやVue.jsなどの各種ライブラリにも対応。
    </p>
    <a class="details_navigation" href="/">無料サインアップはこちら&nbsp;<svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="19" height="14" viewBox="0 0 19 14"><g class="color"><use xlink:href="#next_arrow" /></g></svg></a>
    <a class="details_navigation" href="/">特徴を知る&nbsp;<svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="19" height="14" viewBox="0 0 19 14"><g class="color"><use xlink:href="#next_arrow" /></g></svg></a>
</section>

<section id="support" class="details_wrapper clearfix">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <g>
            <use xlink:href="#icon_support" />
        </g>
    </svg>
    <h1 class="details_title">
        アプリ開発をトータルサポート
    </h1>
    <img src="img/index-v2/section1_contents1.jpg" alt="" />
    <p>
        自社だけでは解決できない課題に直面したら、開発支援サービスをご利用ください。モバイル、PC、Webの種類を問わず、Monacaのエキスパートがあなたのアプリ開発をサポートします。
    </p>
    <p>
        サービス内容は、ご要望に合わせて完全にオーダーメイド。技術検証やトレーニングから部分的な開発受託、アフターサポートまで、開発プロセス全体の課題に一緒に取り組みます。
    </p>
    <a class="details_navigation" href="/">さらに詳しく&nbsp;<svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="19" height="14" viewBox="0 0 19 14"><g class="color"><use xlink:href="#next_arrow" /></g></svg></a>
</section>

<section id="devops" class="details_wrapper clearfix">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="36" height="32" viewBox="0 0 36 32">
        <g>
            <use xlink:href="#icon_devops" />
        </g>
    </svg>
    <h1 class="details_title">
        DevOps × 開発マネジメント
    </h1>
    <img src="img/index-v2/section1_contents1.jpg" alt="" />
    <p>
        優れたソフトウェアをすばやく構築、提供しましょう。そのためには、単なる開発ツールを超えた、コラボレーション中心型の開発ソリューションが必要です。
    </p>
    <p>
        Monacaは継続的なデリバリの仕組みやクラウドサービスとのインテグレーションを備えた、フルカスタマイズ可能なプラットフォームとしてご活用いただけます。
    </p>
    <a class="details_navigation" href="/">さらに詳しく&nbsp;<svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="19" height="14" viewBox="0 0 19 14"><g class="color"><use xlink:href="#next_arrow" /></g></svg></a>
</section>

<section id="education" class="details_wrapper clearfix">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <g>
            <use xlink:href="#icon_education" />
        </g>
    </svg>
    <h1 class="details_title">
        アプリ開発で楽しくプログラミング学習
    </h1>
    <img src="img/index-v2/section1_contents1.jpg" alt="" />
    <p>
        Monacaは800以上の教育機関で利用されている、プログラミング学習プラットフォームでもあります。クラウドサービスの活用で、教育現場での導入や運用をシンプルにし、自宅での予習復習も容易。課題研究やコンテストなどの実績も豊富です。
    </p>
    <a class="details_navigation" href="/">さらに詳しく&nbsp;<svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="19" height="14" viewBox="0 0 19 14"><g class="color"><use xlink:href="#next_arrow" /></g></svg></a>
</section>

<section class="case-container">
    <h2 class="other_case_studies">他の導入事例</h2>
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</section>


<!--div class="v2-section--keyvisual">
    <div class="v2-section--keyvisual__wrapper">
        <div class="v2-section--keyvisual__subtitle">あらゆるニーズに応える</div>
        <div class="v2-section--keyvisual__title">
            No.1アプリ開発クラウド
            <img src="/img/index-v2/pwa.png" alt="新機能登場！PWA対応" class="pwa_img">
        </div>
        <div class="v2-section--keyvisual__description">Monacaは20万人以上のWeb技術者に選ばれたモバイルアプリ開発環境です</div>
        <a class="v2-section--keyvisual__trial-button" href="https://monaca.mobi/ja/signup" onclick="gtag('event', 'view_item', {'event_category': 'engagement','event_label': 'trial-start'});">無料トライアル</a>
        <div class="v2-section--keyvisual__app-development"><a href="/development.html" onclick="gtag('event', 'view_item', {'event_category': 'engagement','event_label': 'dev-inquiry'});">アプリ開発のご相談はこちら<img src="/img/common-v2/ico_next_arrow1.svg" style="margin-left: 7px;" /></a></div>
    </div>
</div>
<div class="v2-section--logos">
    <div class="v2-section--logos__wrapper">
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo1_jnb.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo2_tvasahi.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo3_fujitsu.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo4_fujitec.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo5_asics.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo6_unisys.png');"></div>
        </span>
    </div>
</div>
<div class="v2-section--html5">
    <div class="v2-section--html5__wrapper">
        <div class="v2-section--html5__left-side">
            <div class="v2-section--html5__title">
                HTML5でiOS &amp; Android 向けのアプリを同時開発
            </div>
            <div class="v2-section--html5__description">
                HTML5、JavaScriptなどのWeb標準言語でモバイルアプリ開発を行うことで、開発コスト高騰や技術者不足などアプリ開発に関わる課題が解決できます。またモバイルアプリだけでなく、Progressive Web Apps（PWA）としてもリリースが可能になります。
            </div>
            <div class="v2-section--html5__navigation">
                <a href="/features/html5.html">HTML5とは？<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
            </div>
        </div>
        <div class="v2-section--html5__right-side">
            <div class="v2-section--html5__image"></div>
        </div>
    </div>
</div>
{{> section_monaca_ja }}
<div class="v2-section--apps">
    <div class="v2-section--apps__wrapper">
        <div class="v2-section--apps__title">20万人の開発者による<br>9万個を超えるアプリが誕生</div>
        <div class="v2-section--apps__app-container">
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app1.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app2.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app3.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app4.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app5.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app6.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app7.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app8.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app9.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app10.png');"><a href="/great-apps.html"></a></div>
        </div>
        <div class="v2-section--apps__navigation">
            <a href="/great-apps.html">もっと見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
        </div>
    </div>
</div>
<div class="v2-section--customers">
    <div class="v2-section--customers__wrapper">
        <div class="v2-section--customers__title">Monacaの導入事例</div>
        <div class="v2-section--customers__description">あらゆる業種の企業や団体の<br />モバイルアプリに活用されています</div>
        <div class="v2-section--customers__customer-container">
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-fujitec@2x.png');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_fujitec.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    モバイルファーストな情報システム内製化基盤にMonacaを採用
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/fujitec.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-nijibox@2x.png');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_nijibox.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    エンジニア1名、実工数2週間でWebサービスをモバイルアプリ化
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/nijibox.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-future@2x.png');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_future.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    金融機関向けの渉外支援システムのアプリ対応工数を2/3に圧縮
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/naganobank.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-tvasahi@2x.png');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_tvasahi.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    ネイティブ開発に比べてアプリ開発コストを半分に圧縮
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/tvasahi.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="v2-section--closing">
    <div class="v2-section--closing__wrapper">
        <div class="v2-section--closing__title">いますぐMonacaを試してみましょう。</div>
        <a class="v2-section--closing__trial-button" href="https://monaca.mobi/ja/signup">無料トライアル</a>
    </div>
</div>
{{> section_specials_ja }}
-->