---
title: Monaca - Accelerate Your App Development with HTML5 Hybrid Apps
class: home
layout: src/templates/layouts/index.hbs
---

<div class="keyvisual box-full"><div>
    <h1>Open, Flexible Hybrid App Development</h1>
    <p>Comprehensive cloud-powered tools and services will make your hybrid mobile app <br class="hidden-xs" />development process with PhoneGap/Cordova simpler.</p>

    <div class="box-try">
        <a href="https://monaca.mobi/ja/support/inquiry" class="btn btn-line-white">Get Started</a>
        <a href="https://monaca.mobi/en/register/start" class="btn btn-green">Sign Up Now <span class='small'>(free)</span></a>
    </div>
</div></div>



<div class="container section summary">
    <!-- <h2>What is Monaca</h2> -->
    <p>Monaca makes the hybrid mobile app development process with PhoneGap/Cordova simpler and stress-free with our comprehensive cloud-powered app development tools and services. Monaca is framework-agnostic and adaptive, ready to be immediately plugged into your existing workflow and dev environment, creating the most open Cordova platform available.</p>
    <img src="/img/index/img_block.png" alt="">
</div>

<!-- 
<div class="container section features">
    <h2>Monaca&#x27;s Top 3 Benefits</h2>
    <ol>
        <li>
            <h3>1. Supercharge Your Development with Cloud-Powered Tools</h3>

            <p>Yes, we get it. You want full control of what you create. We are all for that, but we realized from our own app development experience that some things are better with cloud. <br />
            We support two configurations: local development or complete cloud development, depending on your needs. A full browser-based XXX IDE is provided if you want to quickly turn your idea to an app, <br />
            without setting up your local environment. Have a favorite dev environment? Use our Monaca local tools that connect to our cloud. <br />
            Either way, Monaca Debugger allows you to live sync your app as you code - without building it - so you can test changes instantly. Furthermore, the cloud allows you to do remote builds. You don’t need to setup SDKs to build iOS or Android apps. How cool is that? <br />
            Strategic use of the cloud will fire up your development. Try it, you’ll see.</p>
        </li>
        <li>
            <h3>2. Everything You Need to Develop Awesome Hybrid Apps.</h3>
            <p>Once you start developing apps with PhoneGap/Cordova, you’ll realize that many things are missing, and you’ll spend time hunting for fixes and tools. Not with Monaca. We’ve got you covered all the way from design, app development, backend development, testing &amp; debugging to build &amp; distribution. <br />
            The best part is that Monaca can be used as a piece or a whole. So you can keep your tools and environment, such as Sublime Text or Visual Studio. Just pick what you need. Monaca will seamlessly plug into your workflow.</p>
        </li>
        <li>
            <h3>3. Free Yourself From Frameworks: <br />Who says you need to commit to a framework? Be flexible and future-proof. </h3>
            <p>We provide an award-winning framework called Onsen, closely integrated with our dev tools. Onsen provides UI components that are smooth and native-like, with bindings for Angular and jQuery. <br />
            Already have a framework that feels native to you? No problem. You can use whatever you want. For example, Ionic developers can use Monaca CLI to sync to our cloud and take advantage of our excellent debugger and remote build service. No complicated porting necessary. You see, we take OPEN very seriously.</p>
        </li>
    </ol>
</div>

-->

<div class="container section benefits">
    <h2>Monaca&#x27;s Top 3 Benefits</h2>
    <ol>
        <li>
            <img src="/img/index/icn_charge.svg" alt="" class="thumb">
            <h3>Supercharged with Cloud-Powered Tools</h3>

            <p>Yes, we get it. You want full control of what you create. We are all for that, but we realized from our own app development experience that some things are better with cloud.</p>
        </li>
        <li>
            <img src="/img/index/icn_apps.svg" alt="" class="thumb">
            <h3>Mix-and-Match <br class="hidden-xs" />As You Like</h3>

            <p>Once you start developing apps with PhoneGap/Cordova, you’ll realize that many things are missing, and you’ll spend time hunting for fixes and tools.</p>
        </li>
        <li>
            <img src="/img/index/icn_frameworks.svg" alt="" class="thumb">
            <h3>Frameworks <br class="hidden-xs" />Agnostic</h3>

            <p>We provide an award-winning framework called Onsen, closely integrated with our dev tools. Onsen provides UI components that are smooth and native-like, with bindings for Angular and jQuery.</p>
        </li>
    </ol>
</div>

<div class="container section subfeatures">
    <ol>
        <li>
            <h3>Debugging &amp; Testing <br />Complete Debugging Suite at Your Hand</h3>

            <p>Monaca’s debuggers provide you way more than preview. With Monaca Debuggers, you can run your app in real-time on an actual device as you code without the hassle of build &amp; install. Devices can be connected wirelessly or via USB for full spec debugging with our Monaca local tools. Includes Console debugging, DOM inspection, JavaScript debugging and team collaboration features. Supports HTML5 APIs and Cordova plugins.
            <a href="#">&gt; Monaca Debugger</a></p>

            <div id="animation-livereload" class="hidden-xs">
                <div class="livereload-editor">
                    <div class="livereload-editor-header">index.html</div>
                    <div class="livereload-editor-mask"></div>
                    <div class="livereload-saved"></div>
                </div>

                <div class="livereload-connect stop"></div>

                <div class="livereload-device">
                    <div class="livereload-device-screen-base"></div>
                    <div class="livereload-device-screen"></div>
                    <div class="livereload-device-screen-reloaded hidden"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="legwork">
                <h3>Remote Build <br />We Do the Legwork</h3>

                <p>Build your app-store ready apps in no time without installing native SDK for each of yourtarget platform. We do the work for you in the cloud, supporting iOS, Android™, Windows® 8, and Chrome Apps. It’s also compatible with Crosswalk and supports advanced features such as encryption and In-App Update. (these are differentiation to phonegap build)</p>
            </div>
            <img id="features-img-1" alt="" class="thumb" />
        </li>
        <li>
            <div class="onsentools">
                <h3>Onsen Framework and <br />UI Components</h3>

                <p>Developing awesome looking and high performance HTML5 mobile apps is easy with Onsen and wide range of ready-to-use UI components. Built on Angular and jQuery. 100% Open Source. Tightly integrated with Monaca tools.</p>
            </div>

            <img id="features-img-2" alt="" class="thumb" />
        </li>
    </ol>
</div>

<div id="lineup" class="lineupbox">
    <h2>To Learn More</h2>

    <!--
    <p>Monaca will assist you throughout the development process and can be used as a piece or a whole.</p>
    -->

    <div class="lineupbox-content">
        <h3>Product Lineup</h3>

        <ul>
            <li><a href="http://onsen.io/"><img src="/img/index/icn_onsen.png" alt="Onsen Framework"></a></li>
            <li><a href="#"><img src="/img/index/icn_cli.png" alt="Monaca CLI"></a></li>
            <li><a href="/localkit.html"><img src="/img/index/icn_localkit.png" alt="Monaca Localkit"></a></li>
            <li><a href="/cloud.html"><img src="/img/index/icn_cloud.png" alt="Monaca Cloud"></a></li>
            <li><a href="/visualstudio.html"><img src="/img/index/icn_vs.png" alt="Monaca for Visual Studio"></a></li>
            <li><a href="/enterprise.html"><img src="/img/index/icn_enterprise.png" alt="Monaca Enterprise"></a></li>
        </ul>
    </div>
    <!--
    <div class="box-awards">
        <h2>Awards</h2>
        <ul>
            <li>
                <img src="/img/index/icn_awards_redglobal.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING GLOBAL</dt>
                    <dd>Awarded to leading private companies from North America, Europe, and Asia</dd>
                </dl>
            </li>
            <li>
                <img src="/img/index/icn_awards_redasia.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING ASIA</dt>
                    <dd>For innovation and explosive growth as Asian tech leader</dd>
                </dl>
            </li>
            <li>
                <img src="/img/index/icn_awards_microsoft.png" class="thumb" alt="">
                <dl>
                    <dt>Microsoft Innovation Award</dt>
                    <dd>Special Intel Award for easy hybrid mobile app development</dd>
                </dl>
            </li>
        </ul>
    </div>
-->
</div>

<div class="container box-awards">
    <h2>Awards</h2>
    <ul>
        <li>
            <img src="/img/index/icn_awards_redglobal.png" class="thumb" alt="">
            <dl>
                <dt>RED HERRING GLOBAL</dt>
                <dd>Awarded to leading private companies from North America, Europe, and Asia</dd>
            </dl>
        </li>
        <li>
            <img src="/img/index/icn_awards_redasia.png" class="thumb" alt="">
            <dl>
                <dt>RED HERRING ASIA</dt>
                <dd>For innovation and explosive growth as Asian tech leader</dd>
            </dl>
        </li>
        <li>
            <img src="/img/index/icn_awards_microsoft.png" class="thumb" alt="">
            <dl>
                <dt>Microsoft Innovation Award</dt>
                <dd>Special Intel Award for easy hybrid mobile app development</dd>
            </dl>
        </li>
    </ul>
</div>

<div class="container box-try">
    <a href="https://monaca.mobi/en/register/start" class="btn btn-blue">Sign Up Now <span class='small'>(free)</span></a>
</div>

<link href="/css/codemirror.css" rel="stylesheet">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script>
    window.onload = function() {
    };
</script>

<script>
window.addEventListener("load", function() {
    "use strict";

    animateLivereload(document.getElementById("animation-livereload"));

    setTimeout(function() {
        document.getElementById("features-img-1").src = "img/index/img_remotebuild.jpg";
        document.getElementById("features-img-2").src = "img/index/img_onsen.jpg";
    }, 4000);

    window.addEventListener("scroll", function(e) {
        var scrollTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
    
        if (scrollTop < 1000) return;

        var y = -1 * (scrollTop * 0.1);
        document.getElementById("lineup").style.backgroundPosition = "center " + y + "px";
    })
});
</script>


