---
title: Monaca - HTML5ハイブリッドアプリ開発プラットフォーム
class: home
layout: src/templates/layouts/index.hbs
fixednav: true
---

<div class="v2-section--keyvisual">
    <div class="v2-section--keyvisual__wrapper">
        <div class="v2-section--keyvisual__subtitle">あらゆるニーズに応える</div>
        <div class="v2-section--keyvisual__title">No.1アプリ開発クラウド</div>
        <div class="v2-section--keyvisual__description">Monacaは20万人以上のWeb技術者に選ばれたモバイルアプリ開発環境です</div>
        <button class="v2-section--keyvisual__trial-button">無料トライアル</button>
        <div class="v2-section--keyvisual__app-development"><a href="/development.html">アプリ開発のご相談はこちら<img src="/img/common-v2/ico_next_arrow1.svg" style="margin-left: 7px;" /></a></div>
    </div>
</div>
<div class="v2-section--logos">
    <div class="v2-section--logos__wrapper">
        <span class="v2-section--logos__logo" style="flex: 1.5;"><img src="/img/index-v2/logo1_jnb.jpg" /></span>
        <span class="v2-section--logos__logo"><img src="/img/index-v2/logo2_tvasahi.jpg" /></span>
        <span class="v2-section--logos__logo"><img src="/img/index-v2/logo3_fujitsu.jpg" /></span>
        <span class="v2-section--logos__logo"><img src="/img/index-v2/logo4_fujitec.jpg" /></span>
        <span class="v2-section--logos__logo"><img src="/img/index-v2/logo5_asics.jpg" /></span>
        <span class="v2-section--logos__logo"><img src="/img/index-v2/logo6_unisys.jpg" /></span>
    </div>
</div>
<div class="v2-section--html5">
    <div class="v2-section--html5__wrapper">
        <div class="v2-section--html5__left-side">
            <div class="v2-section--html5__title">
                HTMLでiOS &amp; Android 向けのアプリを同時開発
            </div>
            <div class="v2-section--html5__description">
                説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
                説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
            </div>
            <div class="v2-section--html5__navigation">
                <a href="/features/html5.html">HTML5アプリを採用する理由<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
            </div>
        </div>
        <div class="v2-section--html5__right-side">
            <div class="v2-section--html5__image"></div>
        </div>
    </div>
</div>
