---
title: Desarrollo de aplicaciones móviles híbridas en HTML5 desde la nube | Monaca
class: home
layout: src/templates/layouts/index.hbs
description: Monaca facilita la creación de aplicaciones con PhoneGap/Cordova gracias a completos servicios y herramientas de desarrollo en la nube.
---

<div class="keyvisual box-full" style="background: url(../../img/index/keyvisual_en.jpg) center bottom no-repeat,url(../../img/index/keyvisual_bg.png) left bottom repeat-x #126faa;">
    <div>
        <h1>Desarrollo flexible de aplicaciones móviles</h1>
        <p>Descubre la plataforma más completa y flexible para desarrollar <br class="hidden-xs" />aplicaciones móviles híbridas en HTML5</p>

        <div class="box-try">
            <a href="{{site.monaca_api}}/signup" class="btn btn-green">Pruébalo ahora <span class='small'>(gratis)</span></a>
        </div>
    </div>
</div>

<div class="container section summary">
    <!-- <h2>What is Monaca</h2> -->
    <p>Monaca es un completo set de herramientas que simplifica el desarrollo de aplicaciones móviles basadas en <a href="http://phonegap.com/">PhoneGap</a>/<a href="http://cordova.apache.org/">Cordova</a> y lo hace mucho más fácil e intuitivo. Siendo totalmente independiente de frameworks, Monaca se adapta rápidamente a tu entorno y flujo de trabajo y te permite utilizar las tecnologías que tú elijas. Descubre la plataforma de desarrollo que ofrece el mejor rendimiento del mercado actual.</p>
    <img src="/img/index/img_block.png" alt="">
</div>

<div id="benefits" class="container section benefits">
    <h2>Top 3 Beneficios de Monaca</h2>
    <ol>
        <li>
            <img src="/img/index/icn_charge.svg" alt="" class="thumb">
            <h3>Desarrollo remoto<br class="hidden-xs" /> desde la nube</h3>

            <p>Monaca y su completo entorno de desarrollo remoto te ofrecen la flexibilidad que necesitas sin tener que preocuparte de configuraciones iniciales. Por otra parte, Monaca también permite la opción de trabajar localmente desde tu propio entorno con la posibilidad de sincronizar dispositivos en tiempo real y generar tu aplicación de forma remota, entre otras ventajas. Lo mejor de dos mundos.</p>
        </li>
        <li>
            <img src="/img/index/icn_apps.svg" alt="" class="thumb">
            <h3>Servicio completo, <br class="hidden-xs" /> opciones ilimitadas</h3>

            <p>Hemos pensado en todo lo que vas a necesitar y te ofrecemos herramientas para ello. Desde diseño y desarrollo de aplicaciones hasta la distribución, pasando por testeo, depuración, generación e incluso back-end. Monaca puede utilizarse como un servicio completo o en partes, ofreciéndote así la posibilidad de trabajar con herramientas de tu elección como Sublime Text o Git. Simplemente escoge lo que necesitas, nosotros lo incorporamos a tu flujo de trabajo sin que pierdas tiempo.</p>
        </li>
        <li>
            <img src="/img/index/icn_frameworks.svg" alt="" class="thumb">
            <h3>Independiente <br class="hidden-xs" /> de frameworks</h3>

            <p>Monaca ofrece flexibilidad y soluciones a todos los niveles. Para una mejor experiencia también se proporciona <a href="http://onsen.io/">Onsen UI</a>, nuestro framework de código abierto estrechamente integrado con Monaca. No obstante, es perfectamente posible utilizar el framework o tecnología que elijas, ya sea Ionic, PhoneGap o cualquier otra opción y al mismo tiempo seguir aprovechando nuestros servicios remotos sin necesidad de modificaciones. Monaca es una plataforma totalmente abierta.</p>
        </li>
    </ol>
</div>

<div class="container section subfeatures">
    <ol>
        <li>
            <h3 class="maintitle">Depuración y testeo</h3>
            <h4 class="subtitle">Completa suite de depuración a tu entera disposición</h4>

            <p>Monaca Debugger es una herramienta de testeo y depuración que ofrece mucho más que una simple vista previa. Monaca Debugger permite ejecutar tu aplicación al instante en todos tus dispositivos móviles al mismo tiempo sin necesidad de generar e instalar para cada uno de ellos. Los dispositivos pueden conectarse de forma inalámbrica o mediante cable USB para habilitar depuración exhaustiva sobre el dispositivo gracias a las herramientas locales de Monaca. Esto incluye depuración en consola, inspección del DOM, depuración de JavaScript y facilidades para trabajar en equipo.
            <a href="#">&gt; Monaca Debugger</a></p>

            <div id="animation-livereload" class="hidden-xs">
                <div class="livereload-editor">
                    <div class="livereload-editor-header">index.html</div>
                    <div class="livereload-editor-mask"></div>
                    <div class="livereload-saved"></div>
                </div>

                <div class="livereload-connect stop"></div>

                <div class="livereload-device">
                    <div class="livereload-device-screen-base"></div>
                    <div class="livereload-device-screen"></div>
                    <div class="livereload-device-screen-reloaded hidden"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="legwork">
                <h3 class="maintitle">Genera tu app de forma remota</h3>
                <h4 class="subtitle">Nosotros hacemos el trabajo</h4>

                <p>Genera tu app lista para ser publicada sin perder tiempo en complejas instalaciones de SDK para cada plataforma de distribución. Nosotros hacemos el trabajo por ti.<br /> Soporte para iOS, Android™, Windows® 8, y Chrome Apps.<br /> Compatible con Crosswalk y características avanzadas tales como cifrado y actualizaciones In-App.</p>
            </div>
            <div class="thumb"><img id="features-img-1" alt="" /></div>
        </li>
        <li>
            <div class="onsentools-xs">
                <h3>Onsen UI Framework y <br /> Componentes</h3>

                <p>Crear increíbles apps HTML5 que lucen tan bien como una aplicación nativa es muy sencillo con Onsen UI y su amplio conjunto de componentes para la interfaz de usuario. Onsen UI es 100% código abierto y está completamente integrado con Monaca. Es, además, independiente del framework de front-end utilizado por lo que tú eliges si prefieres desarrollar en simple JavaScript, jQuery, AngularJS, React o con otras tecnologías.</p>
            </div>
            <div class="thumb"><img id="features-img-2" alt="" class="thumb" /></div>
            <div class="onsentools-lg">
                <h3>Onsen UI Framework y <br /> Componentes</h3>

                <p>Crear increíbles apps en HTML5 que lucen tan bien como una aplicación nativa es muy sencillo con Onsen UI y su amplio conjunto de componentes para la interfaz de usuario. Onsen UI es 100% código abierto y está completamente integrado con Monaca. Es, además, independiente del framework de front-end utilizado por lo que tú eliges si prefieres desarrollar en simple JavaScript, jQuery, AngularJS, React o con otras tecnologías.</p>
            </div>
        </li>
    </ol>
</div>

<div id="lineup" class="lineupbox">
    <h2>Más información</h2>

    <!--
    <p>Monaca will assist you throughout the development process and can be used as a piece or a whole.</p>
    -->

    <div class="lineupbox-content">
        <h3>Nuestros productos</h3>

        <ul>
            <li><a href="http://onsen.io/"><img src="/img/index/icn_onsen.png" alt="Onsen Framework"></a></li>
            <li><a href="https://docs.monaca.io/en/manual/development/monaca_cli/"><img src="/img/index/icn_cli.png" alt="Monaca CLI"></a></li>
            <li><a href="/localkit.html"><img src="/img/index/icn_localkit.png" alt="Monaca Localkit"></a></li>
            <li><a href="/cloud.html"><img src="/img/index/icn_cloud.png" alt="Monaca Cloud"></a></li>
            <li><a href="/enterprise.html"><img src="/img/index/icn_enterprise.png" alt="Monaca Enterprise"></a></li>
        </ul>
    </div>
</div>

<div class="container box-awards">
    <h2>Premios</h2>
    <ul>
        <li>
            <a href="http://www.redherring.com/events/red-herring-global/2014-top100-winners/" target="_blank">
                <img src="/img/index/icn_awards_redglobal.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING GLOBAL</dt>
                    <dd>Otorgado a empresas privadas líderes de América del Norte, Europa y Asia</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="http://www.redherring.com/events/red-herring-asia/2014-red-herring-asia-top-100-finalists/" target="_blank">
                <img src="/img/index/icn_awards_redasia.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING ASIA</dt>
                    <dd>Por la innovación y crecimiento exponencial como líder de tecnología en Asia</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="http://www.microsoft.com/ja-jp/mic/report/20130603mia.aspx" target="_blank">
                <img src="/img/index/icn_awards_microsoft.png" class="thumb" alt="">
                <dl>
                    <dt>Microsoft Innovation Award</dt>
                    <dd>Premio especial por el desarrollo sencillo de aplicaciones móviles híbridas</dd>
                </dl>
            </a>
        </li>
    </ul>
</div>

<div class="container box-try">
    <a href="{{site.monaca_api}}/signup" class="btn btn-blue">Pruébalo ahora <span class='small'>(gratis)</span></a>
</div>

<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script>
(function() {

/*
function setBackgroundPosition() {
    var scrollTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;

    if (scrollTop < 1000) return;

    var y = -1 * (scrollTop * 0.1);
    document.getElementById("benefits").style.backgroundPosition = "center " + y + "px";

    y += 400;
    document.getElementById("lineup").style.backgroundPosition = "center " + y + "px";
}
*/

window.addEventListener("load", function() {
    "use strict";

    animateLivereload(document.getElementById("animation-livereload"));

    setTimeout(function() {
        document.getElementById("features-img-1").src = "/img/index/img_remotebuild.jpg";
        document.getElementById("features-img-2").src = "/img/index/img_onsen.jpg";
    }, 4000);

    window.addEventListener("scroll", setBackgroundPosition);
});

window.addEventListener("DOMContentLoaded", setBackgroundPosition);

})();
</script>
