---
title: Облачную Платформу Для Разработки Гибридных Мобильных Приложений На HTML5 | Монака
class: home
layout: src/templates/layouts/index.hbs
description: Monaca делает разработку гибридных мобильных приложений на основе PhoneGap/Cordova простой и легкой.
---

<div class="keyvisual box-full" style="background: url(/img/index/keyvisual_en.jpg) center bottom no-repeat,url(../../img/index/keyvisual_bg.png) left bottom repeat-x #126faa;">
    <div>
        <h1>Универсальные инструменты для разработки гибридных приложений</h1>
        <p>Откройте для себя самую гибкую и комплексную облачную платформу <br class="hidden-xs" />для  разработки гибридных мобильных приложений на HTML5.</p>

        <div class="box-try">
            <a href="{{site.monaca_api}}/signup" class="btn btn-green"><div class="upper">ЗАРЕГИСТРИРОВАТЬСЯ</div>
              <div class="lower">(бесплатно)</div></a>
        </div>
    </div>
</div>

<div class="container section summary">
    <!-- <h2>What is Monaca</h2> -->
    <p>Monaca делает разработку гибридных мобильных приложений на основе <a href="http://phonegap.com/">PhoneGap</a>/<a href="http://cordova.apache.org/">Cordova</a> простой и легкой.  Monaca - это фреймворк-агностик и адаптивная среда, которая может быть немедленно подключена к существующей рабочей среде, создавая наиболее открытую платформу Cordova среди доступных.</p>
    <img src="/img/index/img_block.png" alt="">
</div>

<div id="benefits" class="container section benefits">
    <h2>Monaca Топ-3 Преимущества продукта</h2>
    <ol>
        <li>
            <img src="/img/index/icn_charge.svg" alt="" class="thumb">
            <h3>Разработка приложений в облаке</h3>

            <p>Monaca дает вам гибкость разработывать приложений в облаке без какой либо настройки, в то время как синхронизация данных в локальной версии позволяет использовать свою собственную среду с функциями как live-sync и remote build. Это лучшее из обоих миров. </p>
        </li>
        <li>
            <img src="/img/index/icn_apps.svg" alt="" class="thumb">
            <h3>Смешивать-сочетать<br class="hidden-xs" /> Неограниченные возможности</h3>

            <p>
            Мы оказываем всестороннюю поддержку и пройдем с Вами весь путь создания приложения: от проектирования и разработки приложений к тестированию серверной и отладки до создания и распространения. Monaca  позволяет использование продукта в целом или его отдельные части, работая с вашими любимыми инструментами как Sublime Text или Git. Просто выберите то, что вам нужно. Вам будут предоставлены все плагины для бесшовного рабочего процесса.
            </p>
        </li>
        <li>
            <img src="/img/index/icn_frameworks.svg" alt="" class="thumb">
            <h3>Фреймворк<br class="hidden-xs" /> Агностик</h3>

            <p>Monaca обеспечивает гибкость на всех уровнях. Для лучшего опыта, мы также снабжаем с открытым исходным кодом <a href="https://onsen.io/">Onsen UI Framework</a> , который тесно интегрирован с Monaca, но мы не будем запирать Вас. Разработчики Ionic или PhoneGap, например, могут беспрепятственно использовать наши инструменты, чтобы воспользоваться облачными сервисами без переключения и каких-либо сложных портирований.</p>
        </li>
    </ol>
</div>

<div class="container section subfeatures">
    <ol>
        <li>
            <h3 class="maintitle">Отладка &amp; Тестирование</h3>
            <h4 class="subtitle">Полная отладка Люкс - <br class="visible-xs" />все в ваших руках</h4>

            <p>Справьтесь без хлопот и с легкостью исправьте ваши ошибки. Monaca Debuggers запустить и проверить на ошибки при работающем приложении на реальном устройстве. В то же самое время все необходимые операции синхронизации в облаке будут выполнены. Для полной отладки приложений с  Monaca инструментами способ подключения устройств может быть проводным способом (через USB), так и беспроводным (по Wi-Fi).  Наши инструменти включают отладку консоли, инспекции DOM, отладки JavaScript и совместной работы группы функций. Поддержка API-интерфейсов HTML5 и плагинов
            <a href="#">&gt; Monaca Debugger</a></p>

            <div id="animation-livereload" class="hidden-xs">
                <div class="livereload-editor">
                    <div class="livereload-editor-header">index.html</div>
                    <div class="livereload-editor-mask"></div>
                    <div class="livereload-saved"></div>
                </div>

                <div class="livereload-connect stop"></div>

                <div class="livereload-device">
                    <div class="livereload-device-screen-base"></div>
                    <div class="livereload-device-screen"></div>
                    <div class="livereload-device-screen-reloaded hidden"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="legwork">
                <h3 class="maintitle">Remote Build </h3>
                <h4 class="subtitle">Работа, требующая беготни сделаем мы</h4>

                <p>Создайте свои App Store готовые приложения мгновенно без установки Native DK для каждой платформы. Мы делаем для вас работу в облаке, поддержка IOS, Android ™, Windows® 8 и Chrome Apps. Он также совместим Crosswalk и поддерживает расширенные функции, такие как Encryption и In-App Update.</p>
            </div>
            <div class="thumb"><img id="features-img-1" alt="" /></div>
        </li>
        <li>
            <div class="onsentools-xs">
                <h3>Onsen Framework и <br />UI Компоненты</h3>

                <p>100% Open Source. Тесная интеграция с инструментами Monaca. Сделать красивые мобильные HTML5 приложения более  похожими на нативные,  легко с Onsen и его широкий спектр готовых к использованию UI компонентов Работает с AngularJS, JQuery и многие другие.</p>
            </div>
            <div class="thumb"><img id="features-img-2" alt="" class="thumb" /></div>
            <div class="onsentools-lg">
                <h3>Onsen Framework и <br />UI Компоненты</h3>

                <p>100% Open Source. Тесная интеграция с инструментами Monaca. Сделать красивые мобильные HTML5 приложения более  похожими на нативные,  легко с Onsen и его широкий спектр готовых к использованию UI компонентов Работает с AngularJS, JQuery и многие другие.</p>
            </div>
        </li>
    </ol>
</div>

<div id="lineup" class="lineupbox">
    <h2>Узнайте больше</h2>

    <!--
    <p>Monaca will assist you throughout the development process and can be used as a piece or a whole.</p>
    -->

    <div class="lineupbox-content">
        <h3>Продукты</h3>

        <ul>
            <li><a href="http://onsen.io/"><img src="/img/index/icn_onsen.png" alt="Onsen Framework"></a></li>
            <li><a href="http://docs.monaca.io/cur/en/manual/development/monaca_cli/"><img src="/img/index/icn_cli.png" alt="Monaca CLI"></a></li>
            <li><a href="/localkit.html"><img src="/img/index/icn_localkit.png" alt="Monaca Localkit"></a></li>
            <li><a href="/cloud.html"><img src="/img/index/icn_cloud.png" alt="Monaca Cloud"></a></li>
            <li><a href="/visualstudio.html"><img src="/img/index/icn_vs.png" alt="Monaca for Visual Studio"></a></li>
            <li><a href="/enterprise.html"><img src="/img/index/icn_enterprise.png" alt="Monaca Enterprise"></a></li>
        </ul>
    </div>
</div>

<div class="container box-awards">
    <h2>Награды</h2>
    <ul>
        <li>
            <a href="http://www.redherring.com/events/red-herring-global/2014-top100-winners/" target="_blank">
                <img src="/img/index/icn_awards_redglobal.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING GLOBAL</dt>
                    <dd>Награждается ведущих частных компаний из Северной Америки, Европы и Азии</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="http://www.redherring.com/events/red-herring-asia/2014-red-herring-asia-top-100-finalists/" target="_blank">
                <img src="/img/index/icn_awards_redasia.png" class="thumb" alt="">
                <dl>
                    <dt>RED HERRING ASIA</dt>
                    <dd>Для инноваций и взрывного роста в качестве лидера азиатских технологий</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="http://www.microsoft.com/ja-jp/mic/report/20130603mia.aspx" target="_blank">
                <img src="/img/index/icn_awards_microsoft.png" class="thumb" alt="">
                <dl>
                    <dt>Microsoft Innovation Award</dt>
                    <dd>Специальная награда Intel для легкого гибридного разработки мобильных приложений</dd>
                </dl>
            </a>
        </li>
    </ul>
</div>

<div class="container box-try">
    <a href="{{site.monaca_api}}/signup" class="btn btn-blue"><div class="upper upper2">ЗАРЕГИСТРИРОВАТЬСЯ</div><div class="lower lower2">(бесплатно)</div></a>
</div>

<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script>
(function() {

/*
function setBackgroundPosition() {
    var scrollTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;

    if (scrollTop < 1000) return;

    var y = -1 * (scrollTop * 0.1);
    document.getElementById("benefits").style.backgroundPosition = "center " + y + "px";

    y += 400;
    document.getElementById("lineup").style.backgroundPosition = "center " + y + "px";
}
*/

window.addEventListener("load", function() {
    "use strict";

    animateLivereload(document.getElementById("animation-livereload"));

    setTimeout(function() {
        document.getElementById("features-img-1").src = "/img/index/img_remotebuild.jpg";
        document.getElementById("features-img-2").src = "/img/index/img_onsen.jpg";
    }, 4000);

    window.addEventListener("scroll", setBackgroundPosition);
});

window.addEventListener("DOMContentLoaded", setBackgroundPosition);

})();
</script>
