---
title: Monaca - HTML5ハイブリッドアプリ開発プラットフォーム
class: home
layout: src/templates/layouts/index.hbs
fixednav: true
---

<div class="v2-section--keyvisual">
    <div class="v2-section--keyvisual__wrapper">
        <div class="v2-section--keyvisual__subtitle">あらゆるニーズに応える</div>
        <div class="v2-section--keyvisual__title">No.1アプリ開発クラウド</div>
        <div class="v2-section--keyvisual__description">Monacaは20万人以上のWeb技術者に選ばれたモバイルアプリ開発環境です</div>
        <button class="v2-section--keyvisual__trial-button">無料トライアル</button>
        <div class="v2-section--keyvisual__app-development"><a href="/development.html">アプリ開発のご相談はこちら<img src="/img/common-v2/ico_next_arrow1.svg" style="margin-left: 7px;" /></a></div>
    </div>
</div>
<div class="v2-section--logos">
    <div class="v2-section--logos__wrapper">
    </div>
</div>
<div class="v2-section--features">
    <div class="v2-section--features__wrapper">
    </div>
</div>
