---
title: Monaca - HTML5ハイブリッドアプリ開発プラットフォーム
class: home
layout: src/templates/layouts/index.hbs
---

<div class="recruit-xs visible-xs visible-sm visible-md">
    <a href="/development.html"><h2>アプリ開発の相談・見積依頼はこちら  <img src="/img/careers/arrow.png" alt="アプリ開発依頼"></h2></a>
</div>
<div class="recruit-md visible-lg">
    <a class="badge" href="/development.html">アプリ開発のご依頼はこちら　無料相談</a>
</div>

<div id="keyvisual" class="keyvisual carousel-1 box-full hidden-xs">
    <div class="carousel-container">
        <ul class="carousel-items">
            <li class="item" data-index="0">
                <img src="/img/index/keyvisual.png" alt="HTML5ハイブリッドアプリでアプリ開発を加速します"/>
                <div class="box-try">
                    <a href="/support/inquiry.html" class="btn btn-line-white">お問い合わせ</a>
                    <a href="/register/start.html" class="btn btn-green">今すぐ試す<span class="small">(無料)</span></a>
                </div>
            </li>
            <li class="item" data-index="1">
            <a href="/visualstudio.html">
                <img src="/img/index/keyvisual_vs.png" alt="Visual Studioで、iOS、Android、Windows向けモバイルアプリ開発　Azureモバイルアプリサービスとも連携"/>
            </a>
            </li>
            <li class="item" data-index="2">
            <a href="/book/001">
            <img src="/img/index/keyvisual_book.png" alt="「Monacaで学ぶはじめてのプログラミング～モバイルアプリ入門編〜」"/>
            </a>
            <div class="box-try box-buy">
                <a class="btn btn-darkgray" href="/book/001/">詳細はこちら</a>
            </div>
            </li>
        </ul>
    </div>

    <div class="carousel-1-indicators">
        <span class="indicator" onclick="slider.leapTo(0)">○</span>
        <span class="indicator" onclick="slider.leapTo(1)">○</span>
        <span class="indicator" onclick="slider.leapTo(2)">○</span>
    </div>
</div>

<div class="keyvisual box-full visible-xs"><div>
    <h1><span class="small">HTML5ハイブリッドアプリで</span><br /><span class="key">アプリ開発を加速します</span></h1>
    <p><img src="/img/index/ico_platforms.png" alt="プラットフォームアイコン" /></p>

    <div class="box-try">
        <a href="/support/inquiry.html" class="btn btn-line-white">お問い合わせ</a>
        <a href="/register/start.html" class="btn btn-green">今すぐ試す<span class='small'>(無料)</span></a>
    </div>
</div></div>


<a href="/visualstudio.html" class="visible-xs sp-keyvisual"><img src="/img/index/keyvisual_vs_sp.jpg" alt="Visual Studioで、iOS、Android、Windows向けモバイルアプリ開発　Azureモバイルアプリサービスとも連携"/></a>

<div class="container products box-full">

    <ul class="column-3">
        <li class="box-1" tile="3">
            <span class="type bnr-1"><img src="/img/index/tag_cloud.png" alt="Cloud" /></span>
            <dl>
                <dt>Monacaクラウド</dt>
                <dd>Monacaクラウドは、HTML5ハイブリッドアプリ開発用のクラウド型IDEです。ブラウザさえあればアプリ開発が始められます。</dd>
            </dl>
            <div class="btns">
                <a class="btn btn-green" href="/register/start.html">今すぐ試す</a><a class="btn btn-blue" href="/cloud.html">詳細はこちら</a>
            </div>
        </li>
        <li class="box-1" tile="3">
            <span class="type bnr-1"><img src="/img/index/tag_local.png" alt="Local" /></span>
            <dl>
                <dt>Monaca for Visual Studio</dt>
                <dd>Visual StudioでiOS、Android、Chrome Apps等のマルチプラットフォームのアプリ開発を行うことができます。</dd>
            </dl>
            <div class="btns"><a class="btn btn-blue" href="/visualstudio.html">詳細はこちら</a></div>
        </li>
        <li class="box-1" tile="3">
            <span class="type bnr-1"><img src="/img/index/tag_local.png" alt="Local" /></span>
            <dl>
                <dt>Monaca Localkit</dt>
                <dd>Monaca Localkitは、Monacaの開発環境をローカルPC上に構築します。既存の開発環境を活かしつつ、便利なMonacaの機能が使えます。</dd>
            </dl>
            <div class="btns"><a class="btn btn-blue" href="/localkit.html">詳細はこちら</a></div>
        </li>
        <li class="box-1" tile="3">
            <span class="type bnr-1"><img src="/img/index/tag_debugging.png" alt="Debugging" /></span>
            <dl>
                <dt>Monacaデバッガー</dt>
                <dd>HTML５ハイブリッドアプリ専用のデバッグツール。開発中のアプリを即時に実機上で動作確認が出来ます。</dd>
            </dl>
            <div class="btns"><a class="btn btn-blue" href="/debugger.html">詳細はこちら</a></div>
        </li>
        <li class="box-1" tile="3">
            <span class="type bnr-1"><img src="/img/index/tag_ui.png" alt="UI Framework" /></span>
            <dl>
                <dt>Onsen UI</dt>
                <dd>AngularJSやjQueryと組み合わせて使えるUIフレームワーク。ネイティブ開発に遜色のない美しく軽快なUIが直感的に実装できます。</dd>
            </dl>
            <div class="btns"><a class="btn btn-blue" href="http://ja.onsen.io/">詳細はこちら</a></div>
        </li>
        <li class="box-1" tile="3">
            <span class="type bnr-1"><img src="/img/index/tag_business.png" alt="Business" /></span>
            <dl>
                <dt>Monacaエンタープライズ</dt>
                <dd>Monacaエンタープライズは、業務アプリ向けの開発、運用基盤です。カスタムアプリをより安全に、効率的に開発、運用できます。</dd>
            </dl>
            <div class="btns"><a class="btn btn-blue" href="/enterprise.html">詳細はこちら</a></div>
        </li>
    </ul>
</div>

<div class="container programs box-full">
    <ul>
        <li class="box-1">
            <span class="type bnr-1"><img src="/img/index/tag_academic.png" alt="Academic" /></span>
            <dl>
                <dt class="sub">Monaca Educationプラン</dt>
                <dd>教育や研究にMonacaをご利用いただく教育機関を対象にした専用プランを提供しています。</dd>
            </dl>
            <p class="detail"><a href="https://edu.monaca.io/" target="_blank">詳細はこちら <i class="glyphicon glyphicon-menu-right"></i></a></p>
        </li>
        <li class="box-1">
            <span class="type bnr-1"><img src="/img/index/tag_support.png" alt="Support" /></span>
            <dl>
                <dt class="sub">HTML5/Cordova開発支援</dt>
                <dd>経験豊富な開発・サポートチームが、HTML5/Cordovaアプリ開発の支援を致します。アプリの受託開発から、ヘルプデスク、トレーニングまで各種サービスを取り揃えています。</dd>
            </dl>
            <p class="detail"><a href="/support.html">詳細はこちら <i class="glyphicon glyphicon-menu-right"></i></a></p>
        </li>
    </ul>
</div>

<div class="container section features box-full">
    <h2>Monacaの5つの特徴</h2>
    <ol>
        <li>
            <h3>1.すぐに使えるHTML5ハイブリッドアプリ専用開発環境</h3>

            <p>Monacaを使うと、Web制作者・開発者が、既存のスキルセットですぐにiOSやAndroidに対応したモバイルアプリ開発を始められます。</p>
            <img id="features-img-1" alt="" />
        </li>
        <li>
            <h3>2.選べる開発スタイル／コーディング環境</h3>

            <p>Monacaではブラウザベースの専用IDEに加えて、Visual Studio、Sublime Textなど、開発者がお好みのローカル開発環境を使ってアプリ開発を行えます。利用者や用途にあわせて、最適な制作環境をお選びください。</p>
            <img id="features-img-2" alt="" />
        </li>
        <li>
            <h3>3.HTML5ハイブリッドアプリのパフォーマンスを向上</h3>

            <p style="margin-bottom:20px">Onsen UIはHTML5ハイブリッドアプリ開発の課題である「アプリのパフォーマンス問題」を解決します。さらにMonacaではAndroidアプリ側にChromiumベースの最新ブラウザエンジン「Crosswalk」を組み込み、OSバージョンの違いを吸収します。これにより、AndroidWebViewのパフォーマンスとフラグメンテーション問題を一気に解決します。</p>
            <p>※ Crosswalkの組込みはAndroid4.0以上が対象となります。</p>
            <img id="features-img-3" alt="" />
        </li>
        <li>
            <h3>4.アプリのライフサイクル全般を効率化</h3>

            <p>Monacaは、単なるアプリ開発ツールではありません。デザイン、アプリ開発、バックエンド開発、既存システム連携、テスト・デバッグ、アプリ配布、利用データ分析等、アプリ開発のライフサイクルを全てサポートする統合基盤としてMonacaをご活用いただくことで、アプリの開発・運用を劇的に効率化する事が可能です。</p>
            <img id="features-img-4" alt="" />
        </li>
        <li>
            <h3>5.他社モバイルアプリ開発支援ツールと連携</h3>

            <p>Monacaでは、mBaaS機能やテスト支援、広告など他社が提供するモバイルアプリ開発支援ツールとも連携しています。</p>
            <img id="features-img-5" alt="" />
        </li>
    </ol>
</div>

<div class="container box-examples">
    <h2>すでに<strong>60,000</strong>以上のアプリがApp StoreやGoogle Playを通じて公開されています</h2>
    <a href="/great-apps.html"><img id="examples-img"></a>

    <p><a href="/great-apps.html" class="btn btn-darkgray">事例を見る</a></p>
</div>

<div class="container section box-uservoices">
    <h2>Monacaを使っているユーザーの声</h2>
    <ul class="column-3">
        <li class="flexion">
            <div class="uservoice-balloon" tile="2">
                <q>MonacaがなければTeamOnアプリはリリースできていなかったと思います。</q>
            </div>
            <div class="uservoice-user">
                <div class="uservoice-organization">株式会社フレクションコンサルティング</div>
                <div class="uservoice-name">代表取締役社長　松明 陽 氏</div>
            </div>
        </li>

        <li class="nijibox">
            <div class="uservoice-balloon" tile="2">
                <q>初めてMonaca使った時、これがアプリ開発の新しいスタイルだと直感しました。</q>
            </div>
            <div class="uservoice-user">
                <div class="uservoice-organization">株式会社ニジボックス</div>
                <div class="uservoice-name">開発室 マネジャー　藤原 裕司 氏</div>
            </div>
        </li>

        <li class="jtrust">
            <div class="uservoice-balloon" tile="2">
                <q>Monaca初挑戦のWebエンジニアが1ヶ月でiOS、Android両対応のIRアプリをリリースしました</q>
            </div>
            <div class="uservoice-user">
                <div class="uservoice-organization">Ｊトラストシステム株式会社</div>
                <div class="uservoice-name">取締役　松本 英樹 氏</div>
            </div>
        </li>
    </ul>
</div>

<div class="container box-partners">
    <img src="/img/index/partners.png">
</div>

<div class="container box-awards">
    <h2>アワード</h2>
    <ul class="clearfix">
        <li><img src="/img/index/award_1.png" alt="Microsoft Innovation Award 2013 優秀賞"></li>
        <li><img src="/img/index/award_5.png" alt="Red Herring Global: Top 100 Winner"></li>
        <li><img src="/img/index/award_4.png" alt="Red Herring Asia: Top 100 Winner"></li>
        <li><img src="/img/index/award_2.png" alt="モバイルプロジェクト・アワード2014 モバイルプラットフォーム・ソリューション部門 優秀賞"></li>
        <li><img src="/img/index/award_3.png" alt="INTEROP フロンティア・チャレンジ部門 特別賞"></li>
    </ul>
</div>

<div class="container box-try">
    <a href="/register/start.html" class="btn btn-green">今すぐ試す<span class='small'>(無料)</span></a>
</div>


<script>
var slider;

window.addEventListener("load", function() {
    "use strict";

    setTimeout(function() {
        document.getElementById("examples-img").src = "img/index/examples_img.png";
        document.getElementById("features-img-1").src = "img/index/img_1.jpg";
        document.getElementById("features-img-2").src = "img/index/img_2_ja.jpg";
        document.getElementById("features-img-3").src = "img/index/img_3.jpg";
        document.getElementById("features-img-4").src = "img/index/img_4_ja.jpg";
        document.getElementById("features-img-5").src = "img/index/img_5.jpg";
    }, 4000);

    $(function() {
        slider = new MultiSlider(document.getElementById("keyvisual"));
        slider.start();
    });
})
</script>