---
title: License
class: license
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---
<div class="container">
    <h1>Licensing</h1>
    <p>Monaca Cloud IDE source code is distributed under GPLv3 license.<br>This page describes how to obtain the source code of full Monaca Cloud IDE.</p>

    <h2>About GPLv3 License</h2>

    <p>Full GPLv3 license can be obtained from GNU Website at <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">https://www.gnu.org/licenses/gpl-3.0.en.html</a>.</p>

    <h2>Procedures to obtain the source code</h2>

    <p>Please submit an inquiry through <a href="/support/inquiry.html">our support desk</a>. Upon submission, we will package the latest version and provide a link to the source code.</p>

</div>