---
title: Monaca Localkit Closed Beta
class: localkit-closedbeta
description: Into mobile development? Or maybe thinking you should be? We’re connecting our HTML5 hybrid app development framework more closely to Apache Cordova, making a locally synced versio n of our web IDE.
---

<div class="keyvisual box-full">
	 <div class="keyvisual-wrapper">
		 <h2 class="title"></h2>
	 </div>
</div>
 <div class="contents section">
	 <div class="movie">
		 <iframe width="560" height="315" src="//www.youtube.com/embed/_5B_dy3HQ9w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	 </div>
	 <div class="info">
		 <p>Into mobile development? Or maybe thinking you should be?</p>
		 <p>We’re connecting <a href="/">our HTML5 hybrid app development framework</a> more closely to <a href="http://cordova.apache.org/" target="_blank">Apache Cordova <i class="fa fa-external-link"></i></a>, making a locally synced version of our web IDE.</p>
     <p>To get started quickly, please follow these simple steps:</p>
		 <div class="sub_paragraph_1">
       <p class="divider-line"><span>For Windows,</span> <a href="https://drive.google.com/uc?export=download&id=0B-F5PfgMvTC9bFZaQ3Ewd256cEU"><i class="fa fa-download"></i> download the installation package</a> and follow the instructions.</p>
       <p><span>For Mac,</span> <a href="https://chrome.google.com/webstore/detail/monaca-localkit/igimoohpkianbofjknpbnfehmkecbegl" target="_blank">install Monaca Localkit <i class="fa fa-external-link"></i></a> from the Chrome Web Store. Then change the firewall settings: </p>
       <ol>
         <li>Go to System Preferences - Security & Privacy.</li>
         <li>Go to Firewall - Firewall Options.</li>
         <li>In the connection list, find Google Chrome.app and choose Allow Incoming Connections. Then, click OK. </li>
       </ol>
     </div>
		 <p>Once you have completed these steps, please reference our <a href="http://docs.monaca.mobi/en/manual/monaca_localkit_index" target="_blank">Monaca Localkit docs <i class="fa fa-external-link"></i></a> for further details.</p> 
		 <p>If you have any questions, comments, or issues, email us at <a href="mailto:localkit@monaca.io?subject=Monaca Localkit">localkit@monaca.io</a></p>
     <p>Thank you for your participation! We can’t wait to hear your feedback.</p>
	 </div>
 </div>

<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" type="text/css">
