---
title:
    ja: Monaca Localkit Closed Beta
    en: Monaca Localkit Closed Beta
class: localkit-closedbeta
---

<div class="keyvisual box-full">
	 <div class="keyvisual-wrapper">
		 <h2 class="title"><img src="/img/localkit_closedbeta/bg_keyvisual.png" alt="Monaca Closed Beta" /></h2>
		 <div class="btn-area">
			 <a class="btn-blue btn-big3" href="#">Join Now</a>
		 </div>
	 </div>
</div>
 <div class="contents">
	 <div class="movie">
		 <iframe width="560" height="315" src="//www.youtube.com/embed/6vEM9TA7L0M?showinfo=0" frameborder="0" allowfullscreen></iframe>
	 </div>
	 <div class="info">
		 <p>Into mobile development? Or maybe thinking you should be?</p>
		 <p>We’re connecting <a href="/">our HTML5 hybrid app development framework</a> more closely to <a href="http://cordova.apache.org/" target="_blank">Apache Cordova</a>, making a locally synced versio    n of our web IDE.</p>
		 <p>Long live the command line.</p>
		 <p>Join now if you love a challenge.</p>
	 </div>
	 <div class="btn-area">
		 <a class="btn-blue btn-big3" href="#">Join Now</a>
	 </div>
 </div>