---
title: Powerful Hybrid App Dev Tools for Your Local Dev Environment | Monaca
class: localkit
description: Take advantage of Monaca mobile development cloud and tools without changing your local development environment like editors and version management systems.
---

<div class="keyvisual box-full"><div>
    <h1><img src="/img/localkit/logo.png" alt="Monaca Localkit" /><br />Experience Monaca’s Usability and Comfort in Your Local Development Environment</h1>
    <p class="version"><span id="github-published_at" class="version"></span></p>
    
	<div class="btns">
		<a class="btn btn-green localkit_download_for_win" href="https://monaca.mobi/download/localkit-win">Download for Windows</a>
		<a class="btn btn-green localkit_download_for_mac" href="https://monaca.mobi/download/localkit-mac">Download for Mac OS X</a>
	</div>
</div></div>

<section>
    <h1>What is Monaca Localkit?</h1>

    <p>Monaca Localkit is a local environment development support tool offered through our app development platform Monaca. You can achieve better security and peace-of-mind from your own app development environment by combining existing tools like the editor and version management system, with the versatile development support capabilities of Monaca.</p>
    <img src="/img/localkit/img_1_en.jpg" alt="" />
</section>

<section>
    <h1>Choose Your Own Development Style and Coding Environment</h1>

    <p>Monaca Localkit enables developers to create apps locally using their favorite development environment including Visual Studio, Eclipse, Dreamweaver, and Sublime Text. You can also use it with version control tools like Git and Subversion. Choose the best environment based on your target user and purpose.</p>
    <img src="/img/enterprise/img_3_en.jpg" alt="" />
</section>

<section class="debug">
    <h1>Streamline HTML5 Hybrid App Debugging</h1>

    <p>Monaca Localkit offers “Monaca Debugger”, the live debugging tool specifically designed for HTML5 hybrid apps. You can immediately run the app on an actual device by simply saving your source code in progress. You can also use a USB connection between a device and your PC to perform more serious debugging like JavaScript breakpoints and stepping using tools such as Chrome Dev Tools.</p>
</section>

<div class="box-try">
	<a class="btn btn-green localkit_download_for_win" href="https://monaca.mobi/download/localkit-win">Download for Windows</a>
	<a class="btn btn-green localkit_download_for_mac" href="https://monaca.mobi/download/localkit-mac">Download for Mac OS X</a>
</div>

<script src="/js/jquery.min.js"></script>
<script>

$(window).load(function() {
	var fadeInSpeed = 400;
	$('div.keyvisual span#github-published_at').hide();
	$.ajax({
		url: 'https://ide.monaca.mobi/api/public/versions',
		dataType: 'json',
		success: function(res) {
			$("div.keyvisual span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a>'));
			$('div.keyvisual span#github-published_at a strong').text(res.result.localkit);
			$('div.keyvisual span#github-published_at').fadeIn(fadeInSpeed);
		},
		error: function() {
			$('div.keyvisual span#github-published_at').hide();
		}
	}); 
});
</script>
