---
title: Monaca and Onsen UI Logo Guidelines
class: logos
---

<section id="pageguide">
<h1>Logos Guideline</h1>
<p>
By the use of our product logos, the user is condered to accept our <a href="#guideline">guideline</a>.
</p>
</section>

<section id="productlogo">
    <h2>Product Logo</h2>
    <h3 id="titlemonaca">Monaca</h3>
    <ul>
        <li><img src="/img/logos/download_image_monaca_01.png" class="imgfirst" /></li>
        <li><img src="/img/logos/download_image_monaca_02.png" /></li>
    </ul>
    <p class="button"><a href="javascript:void(0)" class="btn btn-blue" onClick="downloadLogo('/img/logos/Monaca_Logos.zip')">Download PNG and SVG</a></p>
    <h3 id="titleonsenui">Onsen UI</h3>
    <ul>
        <li><img src="/img/logos/download_image_onsenui_01.png" class="imgfirst" /></li>
        <li><img src="/img/logos/download_image_onsenui_02.png" /></li>
    </ul>
    <p class="button"><a href="javascript:void(0)" class="btn btn-red" onClick="downloadLogo('/img/logos/Onsen_UI_Logos.zip')">Download PNG and SVG</a></p>
</section>
<section id="guideline">
    <h2>Guideline</h2>
    <h4>Do</h4>
    <ul>
        <li>Use in the printed media for your events or seminar.</li>
        <li>Use in the Web media for introducing or promoting our product.</li>
    </ul>
    <h4>Don’t </h4>
    <ul>
        <li>Modify or re-design the image.</li>
        <li>Use the logo that is harmful to us.</li>
    </ul>
</section>
