---
title: Monaca and Onsen UI Logo Guidelines
class: logos
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
---

<section id="pageguide">
<h1>Guidelines for using Monaca and Onsen UI Logos</h1>
<p>
By using any of our product branding assets, you hereby acknowledge and adhere to the <a href="#guideline">guidelines</a> outlined on this page.
</p>
</section>

<section id="productlogo">
    <h2>Product Logo</h2>
    <h3 id="titlemonaca">Monaca</h3>
    <ul class="clearfix">
        <li><img src="/img/logos/download_image_monaca_01.png" class="imgfirst" /></li>
        <li><img src="/img/logos/download_image_monaca_02.png" /></li>
    </ul>
    <p class="button"><a href="javascript:void(0)" class="btn btn-blue" onClick="downloadLogo('/img/logos/Monaca_Logos.zip')">Download PNG and SVG</a></p>
    <h3 id="titleonsenui">Onsen UI &amp; Onsen UI 2</h3>
    <ul class="clearfix">
        <li><img src="/img/logos/download_image_onsenui_01.png" class="imgfirst" /></li>
        <li><img src="/img/logos/download_image_onsenui_02.png" /></li>
        <li><img src="/img/logos/download_image_onsenui2_01.png" /></li>
        <li><img src="/img/logos/download_image_onsenui2_02.png" /></li>
    </ul>
    <p class="button"><a href="javascript:void(0)" class="btn btn-red" onClick="downloadLogo('/img/logos/Onsen_UI_Logos.zip')">Download PNG and SVG</a></p>
</section>
<section id="guideline">
    <h2>Guidelines</h2>
    <h4>Do:</h4>
    <ul>
        <li>Use only approved Monaca and Onsen UI artwork.</li>
        <li>Use in printed media for events or seminars.</li>
        <li>Use in web media for introducing or promoting our product.</li>
    </ul>
    <h4>Don’t:</h4>
    <ul>
        <li>Modify or re-design the image.</li>
        <li>Use our branding assets in any way that is harmful, deceptive, obscene or otherwise objectionable.</li>
    </ul>
</section>
