---
title: ロゴガイドライン
class: logos
description: HTML5,Cordovaベースのモバイルアプリ開発環境。iOS/Android/Windows 8向けハイブリッドアプリ開発に対応。
---

<section id="pageguide">
<h1>Logos Guideline</h1>
<p>
Monaca、Onsen UIのプロダクトロゴを使用することにより、使用者は<a href="#guideline">ガイドライン</a>に同意したものと見なされます。<br />
必ずご確認の上、ご利用ください。
</p>
</section>

<section id="productlogo">
    <h2>Product Logo</h2>
    <h3 id="titlemonaca">Monaca</h3>
    <ul>
        <li><img src="/img/logos/download_image_monaca_01.png" class="imgfirst" /></li>
        <li><img src="/img/logos/download_image_monaca_02.png" /></li>
    </ul>
    <p class="button"><a href="javascript:void(0)" class="btn btn-blue" onClick="downloadLogo('/img/logos/Monaca_Logos.zip')">Download PNG and SVG</a></p>
    <h3 id="titleonsenui">Onsen UI</h3>
    <ul>
        <li><img src="/img/logos/download_image_onsenui_01.png" class="imgfirst" /></li>
        <li><img src="/img/logos/download_image_onsenui_02.png" /></li>
    </ul>
    <p class="button"><a href="javascript:void(0)" class="btn btn-red" onClick="downloadLogo('/img/logos/Onsen_UI_Logos.zip')">Download PNG and SVG</a></p>
</section>
<section id="guideline">
    <h2>Guideline</h2>
    <h4>Do</h4>
    <ul>
        <li>イベント及びセミナー等の宣伝による印刷・紙面メディアでの使用。</li>
        <li>MonacaまたはOnsen UIの紹介や宣伝等によるブログメディア・Webサイトでの使用。</li>
    </ul>
    <h4>Don’t </h4>
    <ul>
        <li>ロゴマークの形状の変更や加工。</li>
        <li>当社が不利益になる使用目的や、当社裁量において不適切と判断する表記・表現全般。</li>
    </ul>
</section>
