---
title: ロゴガイドライン
class: logos
description: HTML5,Cordovaベースのモバイルアプリ開発環境。iOS/Android/Windows 8向けハイブリッドアプリ開発に対応。
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---

<section id="pageguide">
<h1>ロゴの利用について</h1>
<p>
アシアル、Monaca、Onsen UIのロゴは、企業、サービス、製品、関連イベントの紹介、告知、広告などにご使用いただくことができます。
ご使用に際しては<a href="#guideline">ガイドライン</a>の遵守をお願いします。
</p>
</section>

<section id="asiallogo">
    <h2>会社（アシアル）ロゴ</h2>
    <img src="/img/logos/download_image_asial_01.png" />
    <p class="button"><a href="javascript:void(0)" class="btn btn-blue" onClick="downloadLogo('/img/logos/Asial_Logos.zip')">ダウンロード（SVG・PNG）</a></p>
</section>

<section id="productlogo">
    <h2>プロダクトロゴ</h2>
    <h3 id="titlemonaca">Monaca</h3>
    <ul class="clearfix">
        <li><img src="/img/logos/download_image_monaca_01.png" class="imgfirst" /></li>
        <li><img src="/img/logos/download_image_monaca_02.png" /></li>
    </ul>
    <p class="button"><a href="javascript:void(0)" class="btn btn-blue" onClick="downloadLogo('/img/logos/Monaca_Logos.zip')">ダウンロード（SVG・PNG）</a></p>
    <h3 id="titleonsenui">Onsen UI &amp; Onsen UI 2</h3>
    <ul class="clearfix">
        <li><img src="/img/logos/download_image_onsenui_01.png" class="imgfirst" /></li>
        <li><img src="/img/logos/download_image_onsenui_02.png" /></li>
        <li><img src="/img/logos/download_image_onsenui2_01.png" /></li>
        <li><img src="/img/logos/download_image_onsenui2_02.png" /></li>
    </ul>
    <p class="button"><a href="javascript:void(0)" class="btn btn-red" onClick="downloadLogo('/img/logos/Onsen_UI_Logos.zip')">ダウンロード（SVG・PNG）</a></p>
</section>
<section id="guideline">
    <h2>ガイドライン</h2>
    <h4>許可されていること</h4>
    <ul>
        <li>イベント及びセミナー等の宣伝による印刷・紙面メディアでの使用。</li>
        <li>MonacaまたはOnsen UIの紹介や宣伝等によるブログメディア・Webサイトでの使用。</li>
    </ul>
    <h4>してはならないこと</h4>
    <ul>
        <li>ロゴマークの形状の変更や加工。</li>
        <li>当社が不利益になる使用目的や、当社裁量において不適切と判断する表記・表現全般。</li>
        <li>告知主体が当社でない場合において、主体が当社であると誤認をさせるデザインの使用。</li>
    </ul>
    <p>※ 本ガイドラインに記載がない内容でも、アシアル社が使用を不適切と判断する場合がございます。</p>
</section>
