---
title: スマートフォンアプリ開発の相談・見積依頼 - Monaca
class: development
description: お客様のご要望に合わせたスマートフォンアプリ開発をご提案します。アプリ開発の相談、お見積依頼、開発会社紹介などお気軽にご相談ください。
keywords: スマートフォンアプリ開発、ハイブリッドアプリ開発、アプリ開発、見積依頼
---

<div class="keyvisual-mob-serv">
    <div class="wrap">
        <div class="left">
            <h2>自社アプリ開発を可能にする国内No.1クラウド基盤</h2>
            <button>お問い合わせ</button>
        </div>
        <div class="right">
            <img src="img/mobile-service-assets/illustration@2x.png">
        </div>
    </div>
    <div class="characteristics">
        <div class="title">特徴</div>
        <div class="content">
            <div>iOS / Android / Windows
                <p>ネイティブアプリに対応</p></div>
            <div>Web技術 (JavaScript) で
                <p>学習ハードルが低い</p></div>
            <div>プロトタイプ開発から
                <p>運用までトータルサポート</p></div>
            <div>数多くの成功アプリと
                <p>豊富な導入事例</p></div>
            <div>アプリ開発のトータル
                <p>サポートと支援サービス</p></div>
        </div>
    </div>
</div>

<div class="showcase">
    <div class="showcase_content">
        <div class="tablet">
            <div>
                <p><span class="start">Monaca開発ユーザー数</span>
                    <span class="middle">25</span>
                    <span class="end">万人</span></p>
            </div>
            <img src="img/mobile-service-assets/Group_184x2.png">
            <div>
                <a>全国生活協同組合連合会 様 <img class="arrow" src="img/mobile-service-assets/icn_arrow_blue.png"></a>
            </div>
        </div>
        <div class="tablet">
            <div>
                <p><span class="start">作られたアプリの数</span>
                    <span class="middle">12</span>
                    <span class="end">万アプリ</span></p>
            </div>
            <img src="img/mobile-service-assets/Group_185x2.png">
            <div>
                <a>長野銀行 様 <img class="arrow" src="img/mobile-service-assets/icn_arrow_blue.png"></a>
            </div>
        </div>
        <div>
            <img class="phone" src="img/mobile-service-assets/Group_187x2.png">
            <div>
                <a>三井住友 フィナンシャルグループ 様 <img class="arrow" src="img/mobile-service-assets/icn_arrow_blue.png"></a>
            </div>
        </div>
        <div>
            <a style="color: white">全ての導入事例を見る <img class="arrow" src="img/mobile-service-assets/icn_arrow_r_2x.png"></a>
            <img class="phone" src="img/mobile-service-assets/Group_186x2.png">
            <div>
                <a>マネックス証券 様 <img class="arrow" src="img/mobile-service-assets/icn_arrow_blue.png"></a>
            </div>
        </div>
    </div>
</div>

<div class="reasons">
    <h1>Monacaが選ばれる3つの理由</h1>
    <div>
        <div class="card">
            <div>01</div>
            <h3>高品質なアプリを
                Low Code開発で実現</h3>
            <p>MonacaはWebアプリ（SPA、PWA）とネイティブアプリの開発に対応しています。
                Webの世界で広く普及しているJavaScriptを利用するこで、SwiftやJavaと比較して遜色ない、高品質なアプリを開発できます。
            </p>
        </div>
        <div class="card">
            <div>02</div>
            <h3>アプリ開発に必要な 機能をすべて網羅</h3>
            <p>Monacaには、統合開発環境（IDE）やデバッグ用ツール、ビルドサービスなど、開発に必要な機能がすべて含まれています。
                プロトタイプ開発や、アジャイル開発のためのDevOps環境など、広いユースケースに対応します。</p>
        </div>
        <div class="card">
            <div>03</div>
            <h3>手厚いサポート</h3>
            <p>モバイルアプリ開発では、UI設計、モック制作、ネイティブロジック作成、OSバージョンアップへの対応など、多くの作業が必要になります。
                Monacaでは、技術面やプロジェクト管理上の課題についてもご支援いたします。</p>
        </div>
    </div>
</div>

<div class="phases">
    <h2>Monaca導入支援イメージ</h2>
    <div class="phase">
        <div class="banner">
            <div>
                <p>Phase</p>
                <p>0</p>
                <p>デザイン&トレーニング</p>
            </div>
            <img src="img/mobile-service-assets/union_1.png">
        </div>
        <div class="phase_content">
            <div>
                <h3>トライアルワークショップ</h3>
                <p>Monacaを使った開発効率をご体感頂くため、ワークショップの開催を提案いたします。
                    （費用：5万円〜15万円）
                    実際のアプリ開発をご体験頂くとともに、2週間の利用ライセンスもご提供いたします。</p>
            </div>
            <div>
                <h3>トレーニング</h3>
                <p>開発ではJavaScript言語を中心としたWeb技術の知識が必要になります。
                    アプリ開発がはじめてという方のために、各種トレーニングメニューを提供しています。
                    より包括的なご支援として、オンサイトのコーチングを通じたコンサルティング業務も提供いたします。</p>
            </div>
        </div>
    </div>
    <div class="phase">
        <div class="banner">
            <div>
                <p>Phase</p>
                <p>1</p>
                <p>DevOps & コーチング</p>
            </div>
            <img src="img/mobile-service-assets/union_2.png">
        </div>
        <div class="phase_content">
            <div>
                <h3>開発</h3>
                <p>不具合の調査やエラーの切り分けなど、開発時に遭遇する課題に対するご支援を行います。
                    また、UI構築や、ネイティブ言語の記述が必要な機能開発などのモジュール単位の部分的な請負も行います。
                    テストの自動化や品質保証といったクオリティマネジメントについてもご支援いたします。</p>
            </div>
        </div>
    </div>
    <div class="phase">
        <div class="banner">
            <div>
                <p>Phase</p>
                <p>2</p>
                <p>Capability拡大</p>
            </div>
            <img src="img/mobile-service-assets/union_2.png">

        </div>
        <div class="phase_content">
            <div>
                <h3>アフターリリース</h3>
                <p>iOSやAndroid OSの定期バージョンアップに伴う影響範囲の調査や修正など、アプリ運営に必要なメンテナンス業務の請負をいたします。</p>
            </div>
        </div>
    </div>
</div>

<div class="training">
    <div>
        <h2>Monacaトレーニング</h2>
        <div>
            <ul>アプリ開発に必要な知識の取得と活用を支援します。
                <li>プロトタイプ制作</li>
                <li>フロントエンド実装（UI開発）</li>
                <li>JavaScript実践</li>
                <li>フレームワークの利用（Vue.js）</li>
                <li>ネイティブAPIの呼び出し</li>
                <li>セキュアプログラミング</li>
            </ul>
        </div>
    </div>
    <div>
        <img src="img/mobile-service-assets/training.png">
    </div>
</div>

<div class="service">
    <h2>開発サービス</h2>
    <p>「すべてを自社対応するのではなく、部分的に外部の力も借りたい」そんなニーズにもしっかり応えます。</p>
    <div>
        <div>
            <img src="img/mobile-service-assets/service_01.png">
            <h3>技術調査 / PoC開発</h3>
            <p>□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□</p>
        </div>
        <div>
            <img src="img/mobile-service-assets/service_02.png">
            <h3>UI設計 /
                一部開発受託</h3>
            <p>□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□</p>
        </div>
        <div>
            <img src="img/mobile-service-assets/service_03.png">
            <h3>OSバージョンアップ対応</h3>
            <p>□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□</p>
        </div>
        <div>
            <img src="img/mobile-service-assets/service_04.png">
            <h3>DevOps /
                CI・CD管理</h3>
            <p>□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□</p>
        </div>
        <div>
            <img src="img/mobile-service-assets/service_05.png">
            <h3>アプリ開発
                コーチング</h3>
            <p>□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□</p>
        </div>
    </div>
</div>

<div class="prices">
    <h2>開発サービス</h2>
    <div>
        <div>
            <p>費用</p>
            <p>対象</p>
            <p>費用例</p>
        </div>
        <div>
            <div>Monaca料金</div>
            <div class="card">
                <div class="header">Monacaライセンス</div>
                <div>基本料金(2,000円)〜
                    ＋
                    5,000円/利用者/月〜</div>
                <div>Monacaの利用料
                    開発者につき1ライセンス</div>
                <div>5名の利用者
                    月額: 27,000円</div>
            </div>
        </div>
        <div>
            <div>支援サービス料金</div>
            <div class="card">
                <div class="header">開発 / 運用支援サービス</div>
                <div>初期料金
                    ＋
                    30,000円/アプリ/月〜</div>
                <div>Monacaの利用料
                    開発者につき1ライセンス</div>
                <div>5画面構成の業務アプリ
                    （ネイティブAPIあり）

                    初期: 400,000円
                    月額: 70,000円</div>
                <div>
                    PoCアプリ開発支援
                    （1画面、ミニマムUI）

                    初期: 300,000円
                    月額: 30,000円
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="header">トレーニング</div>
                <div>1トレーニングあたり
                    20,000円/受講者〜</div>
                <div>講義、ワークショップ等</div>
                <div>プログラミング講座
                    (3日間、5名)

                    650,000円</div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="header">アプリ開発コーチング</div>
                <div>実績精算
                    30,000円/1時間</div>
                <div>スクラム支援
                    DevOps構築
                    コンサルティング</div>
                <div>週1日の
                    オンサイトコーチング
                    800,000円/月</div>
            </div>
        </div>
    </div>
</div>

<div class="showcase-logo">
    <h3>導入事例</h3>
    <div class="logos">
        <div>全ての導入事例を見る <img src="img/mobile-service-assets/icn_arrow_r_2x.png"></div>
        <div class="logo_group">
            <img src="img/mobile-service-assets/logo_smbc.png">
            <img src="img/mobile-service-assets/logo_jnb.png">
            <img src="img/mobile-service-assets/logo_tvasahi.png">
            <img src="img/mobile-service-assets/logo_nagano_monex.png">
            <img src="img/mobile-service-assets/logo_tokyo_calender.png">
            <img src="img/mobile-service-assets/logo_fujitec.png">
            <img src="img/mobile-service-assets/logo_nagano_bank.png">
            <img src="img/mobile-service-assets/logo_proto.png">
            <img src="img/mobile-service-assets/logo_ill.png">
            <img src="img/mobile-service-assets/logo_mitsubishi_hitachi.png">
            <img src="img/mobile-service-assets/logo_cambridge.png">
            <img src="img/mobile-service-assets/logo_2fc.png">
            <img src="img/mobile-service-assets/logo_nijibox.png">
            <img src="img/mobile-service-assets/logo_seikyo.png">
            <img src="img/mobile-service-assets/logo_tokyo_kouka_univ.png">
            <img src="img/mobile-service-assets/logo_clubood.png">
            <img src="img/mobile-service-assets/logo_wfp.png">
            <img src="img/mobile-service-assets/logo_doushisha.png">
            <img src="img/mobile-service-assets/logo_jotv.png">
            <img src="img/mobile-service-assets/logo_kddi.png">
        </div>
    </div>
</div>

<form class="inquiry">
    <h3>まずはお問い合わせください</h3>
    <p>アシアル株式会社Monacaチームへ、お気軽にお問い合わせくださいs</p>
    <p>Monacaはアシアル株式会社が運営しております。</p>

    <p>お名前 *</p>
    <input type="text" id="name" name="name" placeholder="例）山田太郎">

    <p>会社名 *</p>
    <input type="text" id="company_name" name="company_name" placeholder="例）株式会社アシアル">

    <p>メールアドレス *</p>
    <input type="email" id="email" name="email" placeholder="例）xxxxxxxxx@monaca.io">

    <p>内容 *</p>
    <textarea placeholder="お問い合わせ内容を入力してください。"></textarea>

    <button>送信</button>
</form>
