---
title: Pricing
class: pricing
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---
<div id="important-info-en-el"></div>
<div class="container" id="pricing-container">
    <h1>Pricing</h1>

    <!-- New plan -->
    <div class="box-try" style="height: 60px; padding: 0;">
        <a href="javascript::void(0)" class="btn btn-green btn-trial" style="width: 600px;">Start a 14 day Free Trial</a>
    </div>
    <ul class="plan-type-col-2">
        <li><div class="individuals-plan">Personal plan</div>
            <ul class="plan column-4">
                <li class="box-1" tile="4">
                    <h2>FREE</h2>
                    <div class="price annual">
                        <div class="amount-jpy">Free</div>
                    </div>
                    <ul class="features free">
                        <li><span>Monaca Cloud IDE</span></li>
                        <li><span>Monaca Debugger</span></li>
                        <li><span>3</span> online projects</li>
                        <li><span>3 remote builds</span> per day</li>
                        <li><span>Community Forum</span></li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
                <li class="box-1">
                    <h2>PRO</h2>
                    <div class="price annual">
                        <div class="amount-jpy">$21.6</div>
                        <div class="period-jpy">/mo</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">$216/year</div>
                    </div>
                    <ul class="features">
                        <li><span class="all-features">All of the Free Plan features</span></li>
                        <li><span>Local Development</span></li>
                        <li><span>Custom Cordova Plugin</span></li>
                        <li><span>Project Sharing</span></li>
                        <li><span>10</span> online projects</li>
                        <li><span>Unlimited</span> remote builds</li>
                        <li><span>Technical support</span><br />(Ticket purchase required)</li>
                        <li><span>Payment by Credit card only</span></li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
            </ul>
        </li>
        <li><div class="enterprises-plan">Corporate Plan</div>
            <ul class="plan column-4">
                <li class="box-1 popular">
                    <h2>BUSINESS</h2>
                    <div class="price annual">
                        <div class="amount-jpy">$75.6</div>
                        <div class="period-jpy">/mo</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">$415.8/half a year</div>
                        <div class="amount">$756/year</div>
                        <div class="amount" style="font-size: 14px;">(Includes 1 Developer License)</div>
                        <div class="amount" style="margin-top: 20px;">Additional Developer License: </div>
                        <div class="amount">$54/month</div>
                    </div>
                    <ul class="features">
                        <li><span class="all-features">All of the Pro Plan features</span></li>
                        <li><span>Enterprise plugins</span><br />(Optional)</li>
                        <li><span>Account Management</span></li>
                        <li><span>Project Sharing</span></li>
                        <li><span>100</span> online projects</li>
                        <li><span>1 Monthly</span> support ticket</li>
                        <li><span>Invoice payment available</span><br />(half a year or more)</li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
                <li class="box-1">
                    <h2>ENTERPRISE</h2>
                    <div class="price annual">
                        <div class="amount-jpy">$1,080 </div>
                        <div class="period-jpy">/mo</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">$5,940/half a year</div>
                        <div class="amount">$10,800/year</div>
                        <div class="amount" style="font-size: 14px;">(Includes 5 Developer License)</div>
                        <div class="amount" style="margin-top: 20px;">Additional Developer License: </div>
                        <div class="amount">$108/month</div>
                    </div>
                    <ul class="features">
                        <li><span class="all-features">All of the Business Plan features</span></li>
                        <li><span>Enterprise plugins</span><br />（Unlimited use within the organization）</li>
                        <li><span>Invoice payment available</span></li>
                        <li><span>Customized support</span></li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="box-try" style="height: 60px; padding: 0; margin-bottom: 80px;">
        <a href="javascript::void(0)" class="btn btn-green btn-trial" style="width: 600px;">Start a 14 day Free Trial</a>
    </div>

    <div class="additional-plan">
        <h2>Optional features</h2>
        <h3>Enterprise Plugins<br class="opt">（for the Business Plan）</h3>
        <table>
            <tr>
                <th>Plugin name</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>App Logic Encryption</td>
                <td>$972/application/yr</td>
            </tr>
            <tr>
                <td>Secure Storage</td>
                <td>$972/application/yr</td>
            </tr>
            <tr>
                <td>In-App Updater</td>
                <td>$972/application/yr</td>
            </tr>
        </table>
        <ul class="attention">
            <li>* Read about the details of each plugin <a href="https://docs.monaca.io/en/reference/power_plugins/" target="_blank">here</a></li>
            <li>* The enterprise plugins can be used unlimitedly within the contract company</li>
        </ul>
    </div>

    <div class="additional-plan">
        <h3>Support Tickets</h3>
        <table>
            <tr>
                <th>Type</th>
                <th>Number of Tickets (Time)</th>
                <th>Price</th>
                <th>Expires in</th>
            </tr>
            <tr>
                <td>Single Ticket</td>
                <td>1 ticket（30 min）</td>
                <td>$108</td>
                <td>1 year</td>
            </tr>
            <tr>
                <td>10 Ticket Package</td>
                <td>10 tickets（5 hrs）</td>
                <td>$108</td>
                <td>1 year</td>
            </tr>
            <tr>
                <td>50 Ticket Package</td>
                <td>50 tickets（25 hrs）</td>
                <td>$486</td>
                <td>1 year</td>
            </tr>
            <tr>
                <td>100 Ticket Package</td>
                <td>100 tickets（50 hrs）</td>
                <td>$864</td>
                <td>1 year</td>
            </tr>
        </table>
        <ul class="attention">
            <li>* Read about the details of the Technical Support <a href="https://monaca.io/service/index.html" >here</a></li>
            <li>* The Ticket Packages are available only for the Business and the Enterprise plan</li>
        </ul>
    </div>

</div>
