---
title: Monaca - プラン一覧、価格表
class: pricing
description: Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。
---
<div class="container" id="pricing-container" style="display: none;">
    <h1>Monacaプラン一覧</h1>
    <div class="trial">
        <p>月額プランの場合、すべてのプランで14日間の無料トライアルをお試しいただけます。</p>
        <div class="box-try">
            <a href="#" class="btn btn-green" id="btn-trial">無料トライアルを開始</a>
        </div>
    </div>
    <ul class="plan column-4">
        <li class="box-1" tile="4">
            <h2>ベーシック</h2>
            <div class="price annual basic">
                <div class="amount">無料</div>
            </div>
            <ul class="features free">
                <li><span>3</span> プロジェクト</li>
                <li><span>250MB</span> のストレージ</li>
                <li><span>ローカル開発環境</span> <br />(CLI、Localkit) のトライアル</li>
                <li><span>プッシュ通知機能</span></li>
                <li><span>コミュニティ</span>フォーラム</li>
            </ul>
            <a href="pricing-detail.html">詳細を比較する</a>
        </li>
        <li class="box-1" id="developer-plan-box" style="display: none">
            <h2>デベロッパー</h2>
            <div class="price annual">
                <div class="amount">20<span>,</span>000</div>
                <div class="period">円/年</div>
            </div>
            <div class="price monthly">
                <div class="amount">月額: <span class="lato">2000</span>円</div>
            </div>
            <ul class="features">
                <li><span>10</span> プロジェクト</li>
                <li><span>1GB</span> のストレージ</li>
                <li><span>無制限</span> のリモートビルド</li>
                <li><span>テクニカルサポート</span><br />(チケット要購入)</li>
            </ul>
            <a href="pricing-detail.html">詳細を比較する</a>
        </li>
        <li class="box-1" id="personal-plan-box" style="display: none">
            <h2>パーソナル</h2>
            <div class="price annual">
                <div class="amount">9<span>,</span>800</div>
                <div class="period">円/年</div>
            </div>
            <div class="price monthly">
              <div class="amount">月額: <span class="lato">980</span>円</div>
            </div>
            <ul class="features">
                <li><span>10</span> プロジェクト</li>
                <li><span>1GB</span> のストレージ</li>
                <li><span>無制限</span> のリモートビルド</li>
                <li><span>テクニカルサポート</span><br />(チケット要購入)</li>
            </ul>
            <a href="pricing-detail.html">詳細を比較する</a>
        </li>
        <li class="box-1 popular">
            <h2>ゴールド</h2>
            <div class="price annual">
                <div class="amount">50<span>,</span>000</div>
                <div class="period">円/年</div>
            </div>
            <div class="price monthly">
                <div class="amount">月額: <span class="lato">5,000</span>円</div>
            </div>
            <ul class="features">
                <li><span>100</span> プロジェクト</li>
                <li><span>10GB</span> のストレージ</li>
                <li><span>チーム開発</span>機能</li>
                <li>Monaca for <span>Visual Studio</span></li>
                <li><span>カスタム</span> Cordova プラグイン</li>
                <li><span>毎月1枚</span> のサポートチケット</li>
            </ul>
            <a href="pricing-detail.html">詳細を比較する</a>
        </li>
        <li class="box-1">
            <h2>プラチナ</h2>
            <div class="price annual">
                <div class="amount">80<span>,</span>000</div>
                <div class="period">円/年</div>
            </div>
            <div class="price monthly">
                <div class="amount">月額: <span class="lato">8,000</span>円</div>
            </div>
            <ul class="features">
                <li>プロジェクト数 <span>無制限</span></li>
                <li><span>20GB</span> のストレージ</li>
                <li><span>無制限</span> のリモートビルド</li>
                <li><span>毎月2枚</span> のサポートチケット</li>
            </ul>
            <a href="pricing-detail.html">詳細を比較する</a>
        </li>
    </ul>
    <ul class="plan enterprise column-1 clearfix">
        <li class="box-1 clearfix">
            <div class="col-1">
                <h2>Monacaエンタープライズ</h2>
                <div class="price annual">
                    <div class="amount">162<span>,</span>000<div class="period">円/月 (5開発ライセンス込)</div></div>
                </div>
            </div>
            <div class="col-2">
                <p>エンタープライズプランは、あなたのアプリのセキュリティとパフォーマンスを最大限に高めます。アプリを自動的に更新するIn-App Updaterやリソース暗号化、セキュアストレージといった拡張機能の利用料が含まれます。<a href="/enterprise.html" style="position: static">詳細についてはこちらをご覧ください</a></p>
            </div>
        </li>
    </ul>
    <ul class="other-plan column-2 clearfix">
        <li class="box-1">
            <h2>アカデミックプラン</h2>
            <p>教育や研究にMonacaをご利用いただく教育機関を中心に、専用プランや割引プランをご用意しています。<a href="https://edu.monaca.io/" target="_blank">アカデミックプランの詳細はこちら。</a></p>
        </li>
        <li class="box-1">
            <h2>ボリュームディスカウント</h2>
            <p>5名以上の開発メンバーの際に割引となるボリュームディスカウントを提供いたします。詳しくは<a href="/support/inquiry.html">お問い合わせ</a>いただきますようお願いいたします。</p>
        </li>
    </ul>
    <div class="additional-plan">
        <h2>追加サポートチケット</h2>
        <table>
            <tr>
                <th>チケットメニュー</th>
                <th>価格</th>
                <th>有効期限</th>
            </tr>
            <tr>
                <td>シングルチケット</td>
                <td>5,000円</td>
                <td>1年間</td>
            </tr>
        </table>
        <ul class="attention">
            <li>* 追加購入したサポートチケットは他のユーザーと共有することはできません。</li>
            <li>* ご購入いただいたサポートチケットの払い戻しはいたしません。</li>
        </ul>
    </div>
    <div class="additional-plan">
        <h2>アクティベーションコード</h2>
        <div class="box">
            <p>アクティベーションコードをご利用の方は<br>
            こちらからお願いいたします。</p>
            <div class="box-try">
                <a href="https://monaca.mobi/ja/payment/activation_code_input" class="btn btn-blue">アクティベーションコードを使用</a>
            </div>
        </div>
    </div>

</div>

<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
