---
title: Pricing
class: pricing
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---
<div id="important-info-en-el"></div>
<div class="container" id="pricing-container">
    <h1>Pricing</h1>

    <ul class="plan-type-col-2">
        <li><div class="individuals-plan">Individual use</div>
            <ul class="plan column-4">
                <li class="box-1">
                    <h2>FREE</h2>
                    <div class="price annual">
                        <div class="amount-jpy">Free</div>
                    </div>
                    <ul class="features free">
                        <li><span>Cloud IDE</span></li>
                        <li><span>Debugging tool</span></li>
                        <li><span>3</span> projects</li>
                        <li><span>3 remote builds</span>/24hrs</li>
                        <li><span>Online Community Support</span></li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
                <li class="box-1">
                    <h2>PRO</h2>
                    <div class="price annual">
                        <div class="amount-jpy">$20</div>
                        <div class="period-jpy">/mo</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">or Annually: $200</div>
                    </div>
                    <ul class="features">
                        <li><span class="all-features">All of the Free features</span></li>
                        <li>+</li>
                        <li><span>Enhanced Cloud IDE (Cloud IDE + Integrated terminal)</span></li>
                        <li><span>Local development (CLI, Localkit)</span></li>
                        <li><span>Custom Cordova plugins</span></li>
                        <li><span>10</span> projects</li>
                        <li><span>Unlimited</span> remote builds</li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
            </ul>
        </li>
        <li><div class="enterprises-plan">Recommended for team use</div>
            <ul class="plan column-4">
                <li class="box-1 popular">
                    <h2>BUSINESS</h2>
                    <div class="price annual">
                        <div class="amount-jpy">$50</div>
                        <div class="period-jpy">/mo</div>
                        <div class="amount">+</div>
                        <div class="amount">Base usage: $20/mo/team</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">or Annually: $500+$200</div>
                    </div>
                    <ul class="features">
                        <li><span class="all-features">All of the Pro features</span></li>
                        <li>+</li>
                        <li><span>Enterprise plugins</span></li>
                        <li><span>Account management</span></li>
                        <li><span>Project sharing</span></li>
                        <li><span>100</span> projects</li>
                        <li><span>Technical support ticket</span></li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
                <li class="box-1">
                    <h2>ENTERPRISE</h2>
                    <div class="price annual">
                        <div class="amount-jpy">$100</div>
                        <div class="period-jpy">/mo</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">Base usage: $500/mo/org</div>
                        <div class="amount">+</div>
                        <div class="amount">or Annually: $1,000+$5000</div>
                    </div>
                    <ul class="features">
                        <li><span>All features!</span></li>
                        <li>+</li>
                        <li><span>Unlimited use of Enterprise plugins</span></li>
                        <li><span>On-premise deployment options</span></li>
                        <li><span>Customized support</span></li>
                        <li><span>Minimum purchase of 5 licenses required</span></li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
 
    <div class="box-try" style="height: 60px; padding: 0; margin-bottom: 80px;">
        <a href="javascript::void(0)" class="btn btn-green btn-trial" style="width: 600px;">Start a 14 day Free Trial</a>
    </div>

    <div class="additional-plan">
        <h2>Additional Features (Enterprise plugins)</h2>
        <p>Enterprise plan includes unlimited use of the following features. <a href="https://docs.monaca.io/en/reference/power_plugins/" target="_blank">Find out more</a></p>
        <table>
            <tr>
                <td>App Logic Encryption</td>
                <td>$900/year</td>
            </tr>
            <tr>
                <td>Secure Storage</td>
                <td>$900/year</td>
            </tr>
            <tr>
                <td>In-App Updater</td>
                <td>$900/year</td>
            </tr>
        </table>
    </div>
</div>
