---
title: 価格 - プラン比較
class: pricing compare
description: Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。
---
<div id="important-info-ja-el"></div>
<div class="container">
  <h1>プランの詳細比較</h1>

  <div class="compare-header">
    <h2>開発ツール / 機能</h2>

    <ul>
      <li><i>クラウドIDE<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                         title="シンタックスハイライト / チェック、 リモートインスペクター / コンソール、ライブプレビュー、プロジェクトインポート / エクスポート機能 など"/></i></li>
      <li><i>CLI (Command Line Tool)</i></li>
      <li><i>Monaca Localkit</i></li>
      <li><i>Monaca for Visual Studio <br/>(VS 全エディション対応)</i></li>
      <li><i>Monaca デバッガー</i></li>
      <li><i>プロジェクト数<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                         title="Basicプランユーザーは、アーカイブ機能を利用できません。"/></i></li>
      <li><i>デバッガー接続数</i></li>
      <li><i>クラウドビルド</i></li>
      <li><i>ファイル履歴</i></li>
      <li><i>ソースコードバックアップ</i></li>
      <li><i>カスタム Cordova プラグイン</i></li>
      <li><i>iOSアプリアップロード<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                              title="MonacaのIDEからiTunes Connectに直接アプリをアップロードする機能です。"/></i></li>
    </ul>

    <h2>バージョン管理 (Git)</h2>

    <ul>
      <li><i>Github サポート</i></li>
      <li><i>GitHub private レポジトリ</i></li>
      <li><i>GitHub private、 organization レポジトリ</i></li>
    </ul>

    <h2>継続的インテグレーション</h2>

    <ul>
      <li><i>GitHubパブリックレポジトリ</i></li>
      <li><i>GitHubプライベートレポジトリ</i></li>
    </ul>

    <h2 style="padding-top: 179px;">チーム管理</h2>

    <ul>
      <li><i>共有プロジェクトの<br/>テスター権限</i></li>
      <li><i>共有プロジェクトの<br/>開発者権限</i></li>
    </ul>

    <h2>バックエンドサービス</h2>

    <ul>
      <li><i>ユーザー管理</i></li>
      <li><i>データコレクション <br/>(クラウドデータベース)</i></li>
      <li><i>バックエンド数</i></li>
      <li><i>ストレージ<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                       title="ストレージはその月の最大使用量で計算されます。"/></i>
      </li>
      <li><i>プロジェクト自動退避<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                       title="Basicプランで180日以上ログインしていない場合、ストレージ容量節約のためにプロジェクト退避が行われ、退避されたプロジェクトが利用できなくなります。"/></i>
      </li>
      <li><i>自動退避されたプロジェクトの復旧<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                          title="Personalプラン以上の場合、サポートに依頼することで自動退避されたプロジェクトの復旧が可能です。"/></i>
      </li>
      <li><i>プッシュ通知機能<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                          title="プッシュ通知数は、その月の初日から最後の日の間に送られた数が計算されます。"/></i>
      </li>
      <li><i>APIコール数<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                              title="APIコール数は、その月の初日から最後の日の間にコールされた数が計算されます。"/></i>
      </li>
      <li><i>バーストサポート</i></li>
      <li><i>サーバーマネジメントAPI</i></li>
    </ul>

    <h2 style="padding-top: 179px;">サポート &amp; サービス</h2>

    <ul>
      <li><i>コミュニティフォーラム</i></li>
      <li><i>技術サポート<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                        title="私たちプロのチームがあなたのプログラムの問題を解決します。コードレビュー、設定のアドバイス、リモートデバッギング等を行います。"/></i>
      </li>
    </ul>
  </div>

  <div id="compare-cont" class="compare-cont">
    <table id="compare-cont-table">
      <thead>
      <th>Basic<span>無料</span></th>
      <th class="dev-plan">Developer<span>/月</span></th>
      <th class="personal-plan">Personal<span>980円/月</span></th>
      <th>Gold<span>5,000円/月</span></th>
      <th>Platinum<span>8,000円/月</span></th>
      </thead>

      <tbody>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>Community版のみ</td>
        <td class="dev-plan">Community版のみ</td>
        <td class="personal-plan">Community版のみ</td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>3</td>
        <td class="dev-plan">10</td>
        <td class="personal-plan">10</td>
        <td>100</td>
        <td>無制限</td>
      </tr>
      <tr>
        <td>2</td>
        <td class="dev-plan">5</td>
        <td class="personal-plan">5</td>
        <td>10</td>
        <td>無制限</td>
      </tr>
      <tr>
        <td>3<span>/24hrs</span></td>
        <td class="dev-plan">無制限</td>
        <td class="personal-plan">無制限</td>
        <td>無制限</td>
        <td>無制限</td>
      </tr>
      <tr>
        <td>1<span>件</span></td>
        <td class="dev-plan">1<span>ヶ月間<br class="sp">（最大20件）</span></td>
        <td class="personal-plan">1<span>ヶ月間<br class="sp">（最大20件）</span></td>
        <td>3<span>ヶ月間<br class="sp">（最大50件）</span></td>
        <td>6<span>ヶ月間<br class="sp">（最大50件）</span></td>
      </tr>
      <tr>
        <td>1<span>バージョン</span></td>
        <td class="dev-plan">1<span>ヶ月間</span></td>
        <td class="personal-plan">1<span>ヶ月間</span></td>
        <td>3<span>ヶ月間</span></td>
        <td>6<span>ヶ月間</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i><br><span>3,000/アプリ</span></span></td>
        <td class="personal-plan"><i>Yes</i><br><span>3,000/アプリ</span></span></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      </tbody>
    </table>

    <table>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
    </table>
    <table>
      <tr>
        <td>10<span>ビルド/月</span></td>
        <td class="dev-plan" rowspan="2">10<span>ビルド/月</span></td>
        <td class="personal-plan" rowspan="2">10<span>ビルド/月</span></td>
        <td rowspan="2">30<span>ビルド/月<span></span></td>
        <td rowspan="2">30<span>ビルド/月</span></td>
      </tr>
      <tr>
        <td></td>
        <!-- td class="dev-plan">10<span>ビルド/月</span></td -->
        <!-- td class="personal-plan">10<span>ビルド/月</span></td -->
        <!-- td>30<span>ビルド/月</span></td -->
        <!-- td>30<span>ビルド/月</span></td -->
      </tr>
      <tr class="compare-cont-comment">
        <td colspan="4">
            <ul>
                <li>ビルドチケットは追加で購入できます（50ビルドが10,000円 - 3ヶ月の有効期限）</li>
                <li>Basicプランでは24時間で3回までのビルド制限があります。</li>
                <li>BasicプランとPersonalプランでは、サードパーティ製Cordovaプラグインを追加することができません。</li>
                <li>Basicプランでは、30日以上ログインしていない場合は付与されません。</li>
            </ul>
        </td>
        <td class="comment-next-line"></td>
      </tr>
    </table>
    <table>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
    </table>

    <table>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>3</td>
        <td class="dev-plan">10</td>
        <td class="personal-plan">10</td>
        <td>100</td>
        <td>無制限</td>
      </tr>
      <tr>
        <td>250<span>MB</span></td>
        <td class="dev-plan">1<span>GB</span></td>
        <td class="personal-plan">1<span>GB</span></td>
        <td>10<span>GB</span></td>
        <td>20<span>GB</span>
          <small>(50 / extra 1GB)</small>
        </td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>1,000<span>/月</span></td>
        <td class="dev-plan">1,000<span>/月</span></td>
        <td class="personal-plan">1,000<span>/月</span></td>
        <td>50,000<span>/月</span></td>
        <td>100,000<span>/月</span>
          <small>(100 / extra 10,000)</small>
        </td>
      </tr>
      <tr>
        <td>100,000<span>/月</span></td>
        <td class="dev-plan">100,000<span>/月</span></td>
        <td class="personal-plan">100,000<span>/月</span></td>
        <td>1,000,000<span>/月</span></td>
        <td>5,000,000<span>/月</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan">10<span>req/s</span></td>
        <td class="personal-plan">10<span>req/s</span></td>
        <td>20<span>req/s</span></td>
        <td>20<span>req/s</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr class="compare-cont-comment">
        <td colspan="4">
          <ul>
              <li>BasicからGoldプランの場合, 各使用量の上限に達すると次のプランへのアップグレードが求められます。</li>
              <li>Platinumプランの場合、その月内の使用量に応じて自動的に課金されます。</li>
          </ul>
        </td>
        <td class="comment-next-line"></td>
      </tr>
    </table>

    <table class="compare-cont-support">
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan compare-cont-support-dev">サポートチケットを都度購入</td>
        <td class="personal-plan compare-cont-support-dev">サポートチケットを都度購入</td>
        <td>1<span>チケット/月</span></td>
        <td>2<span>チケット/月</span></td>
      </tr>
    </table>
  </div>

  <p class="compare-contact">価格についてのお問い合わせは<a href="/support/inquiry.html">こちら</a></p>

  <div class="compare-trial">
    <p>月額プランの場合、すべてのプランで14日間の無料トライアルをお試しいただけます。</p>
    <a href="/register/start.html" class="btn btn-green">無料トライアル</a>
  </div>
</div>
