---
title: Pricing - Compare in detail
class: pricing compare
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---

<div id="important-info-en-el"></div>
<div class="container">
  <h1>Compare in detail</h1>

  <div class="compare-header">
    <h2>Development Tool / Features</h2>

    <ul>
      <li><i>Browser-based IDE<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                   title="Including Syntax highlight / syntax check, Remote inspector & console, Live preview and Project import & export."/></i>
      </li>
      <li><i>CLI (Command Line Tool)</i></li>
      <li><i>Monaca Localkit</i></li>
      <li><i>Monaca for Visual Studio <br/>(for all VS editions)</i></li>
      <li><i>Monaca Debugger</i></li>
      <li><i>Online projects<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                 title="Basic plan users can not archive projects."/></i></li>
      <li><i>Debugger connections</i></li>
      <li><i>Cloud build</i></li>
      <li><i>Source code backup</i></li>
      <li><i>Custom Cordova plugin</i></li>
      <li><i>iOS App upload<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                 title="Upload your app to iTunes Connect right from Monaca IDE."/></i></li>
    </ul>

    <h2>Version Control (Git)</h2>

    <ul>
      <li><i>GitHub support</i></li>
      <li><i>GitHub public repositories</i></li>
      <li><i>GitHub private and organization repositories</i></li>
    </ul>

    <h2>Monaca CI</h2>

    <ul>
      <li><i>GitHub Public Repos</i></li>
      <li><i>GitHub Private Repos</i></li>
    </ul>

    <h2 style="padding-top: 179px;">Team Management</h2>

    <ul>
      <li><i>Team management<br/>(tester privilege)</i></li>
      <li><i>Team management<br/>(developer privilege)</i></li>
    </ul>

    <h2>Backend as a Service</h2>

    <ul>
      <li><i>User management</i></li>
      <li><i>Collection <br/>(remote database)</i></li>
      <li><i>Backends</i></li>
      <li><i>Storage<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                         title="Storage space will be calculated based on the peak volume used during the course of the month."/></i>
      </li>
      <li><i>Inactive limitations<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                         title="The projects of Basic Plan users that didn't login in Monaca for a long period (180 days) are automatically archived."/></i>
      </li>
      <li><i>Remove inactive limitations<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                   title="The automatically archived projects can be restored if the subscription is upgraded to a paid plan."/></i>
      </li>
      <li><i>Remote push <br/>notifications<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                                title="The number of remote push notifications will be calculated based on the total sent notifications starting with the first day through the last day of month."/></i>
      </li>
      <li><i>API requests<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                              title="The number of API calls will be calculated based on the total calls starting with the first day through the last day of month."/></i>
      </li>
      <li><i>Burst support</i></li>
      <li><i>Server management API</i></li>
    </ul>

    <h2 style="padding-top: 179px;">Support &amp; Service</h2>

    <ul>
      <li><i>Community forum</i></li>
      <li><i>Technical support<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                   title="Our professional team will help you solve the issues in your program. Code review, configuration advice, remote debugging are covered by the technical support team."/></i>
      </li>
    </ul>
  </div>

  <div id="compare-cont" class="compare-cont">
    <table id="compare-cont-table">
      <thead>
      <th>BASIC<span>Free</span></th>
      <th class="dev-plan">Developer<span>$19/mo</span></th>
      <th class="personal-plan">Personal<span>$9.5/mo</span></th>
      <th>GOLD<span>$49/mo</span></th>
      <th>PLATINUM<span>$78/mo</span></th>
      </thead>

      <tbody>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>Trial</td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan">Trial</td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>Only Community Edition</td>
        <td class="dev-plan">Only Community Edition</td>
        <td class="personal-plan">Only Community Edition</td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>3</td>
        <td class="dev-plan">10</td>
        <td class="personal-plan">10</td>
        <td>100</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>2</td>
        <td class="dev-plan">5</td>
        <td class="personal-plan">5</td>
        <td>10</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>3<span>/24hrs</span></td>
        <td class="dev-plan">Unlimited</td>
        <td class="personal-plan">Unlimited</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>1<span>version</span></td>
        <td class="dev-plan">1<span>mo</span></td>
        <td class="personal-plan">1<span>mo</span></td>
        <td>3<span>mo</span></td>
        <td>6<span>mo</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan">$25/App (3,000 JPY)</td>
        <td class="personal-plan">$25/App (3,000 JPY)</td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      </tbody>
    </table>

    <table>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
    </table>

    <table>
          <tr>
            <td>10 <span>Builds/mo</span></td>
            <td class="dev-plan" rowspan="2">10 <span>Builds/mo</span></td>
            <td class="personal-plan" rowspan="2">10 <span>Builds/mo</span></td>
            <td rowspan="2">30 <span>Builds/mo</span></td>
            <td rowspan="2">30 <span>Builds/mo</span></td>
          </tr>
          <tr><span>
            <td></td>
            <!-- td class="dev-plan">10 <span>Builds/mo</span></td -->
            <!-- td class="personal-plan">10 <span>Builds/mo</span></td -->
            <!-- td>30 <span>Builds/mo</span></td -->
            <!-- td>30 <span>Builds/mo</span></td -->
          </tr>
          <tr class="compare-cont-comment">
            <td colspan="4">
                <ul>
                    <li>Additional build tickets are available for purchase ($110 for 50 builds - valid for 3 months).</li>
                    <li>Basic plan is limited to 3 builds per last 24 hours.</li>
                    <li>Basic plan does not include third-party Cordova plugin support.</li>
                    <li>Basic plan users need to log in within 30 days.</li>
                </ul>
            </td>
            <td class="comment-next-line"></td>
          </tr>
    </table>

    <table>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
    </table>

    <table>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>3</td>
        <td class="dev-plan">10</td>
        <td class="personal-plan">10</td>
        <td>100</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>250<span>MB</span></td>
        <td class="dev-plan">1<span>GB</span></td>
        <td class="personal-plan">1<span>GB</span></td>
        <td>10<span>GB</span></td>
        <td>20<span>GB</span>
          <small>($0.5 / extra 1GB)</small>
        </td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>1,000<span>/mo</span></td>
        <td class="dev-plan">1,000<span>/mo</span></td>
        <td class="personal-plan">1,000<span>/mo</span></td>
        <td>50,000<span>/mo</span></td>
        <td>100,000<span>/mo</span>
          <small>($1/ extra 10,000)</small>
        </td>
      </tr>
      <tr>
        <td>100,000<span>/mo</span></td>
        <td class="dev-plan">100,000<span>/mo</span></td>
        <td class="personal-plan">100,000<span>/mo</span></td>
        <td>1Million<span>/mo</span></td>
        <td>5Million<span>/mo</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan">10<span>req/s</span></td>
        <td class="personal-plan">10<span>req/s</span></td>
        <td>20<span>req/s</span></td>
        <td>20<span>req/s</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr class="compare-cont-comment">
        <td colspan="4">
            <ul>
                <li>For Basic through Gold plans, users who have reached their maximum limit within each plan will be
            required to upgrade to the next subscription plan level.</li>
                <li>Transaction fees for the Platinum Plan will be automatically charged, based on the usage recorded for the
            month.</li>
            </ul>
        </td>
        <td class="comment-next-line"></td>
      </tr>
    </table>

    <table class="compare-cont-support">
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan compare-cont-support-dev">Support ticket must be purchased separately</td>
        <td class="personal-plan compare-cont-support-dev">Support ticket must be purchased separately</td>
        <td>1<span>ticket/mo</span></td>
        <td>2<span>ticket/mo</span></td>
      </tr>
    </table>
  </div>

  <p class="compare-contact">
    Have questions about pricing? <a href="/support/inquiry.html">Contact Us.</a>
  </p>

  <div class="compare-trial">
    <p>14 day unlimited free trial on all monthly plans.</p>
    <a href="/register/start.html" class="btn btn-green">Start a free trial</a>
  </div>
</div>