---
title: ご利用料金
class: prices
description: HTML5,Cordovaベースのモバイルアプリ開発環境。iOS/Android/Windows 8向けハイブリッドアプリ開発に対応。
---

<h1>ご利用料金</h1>

<section>
    <h2>Monacaクラウド</h2>
    <p>Monacaクラウドはプライベート、ビジネスユースにかかわらずお使いいただけるHTML5アプリ開発プラットフォームです。無料で使えるBasicプランから、利用用途に応じて4段階の料金プランをご用意しています。<br />詳細は<a href="https://monaca.mobi/ja/pricing">Monacaクラウドご利用料金ページ</a>をご覧ください。</p>
    <ul class="planlist">
        <li class="plan">
            <h2>Basic</h2>
            <p class="price"><em>無料</em></p>
        </li>
        <li class="plan">
            <h2>Personal</h2>
            <p class="price"><em>980</em>円/月<br />（9,800円/年）</p>
        </li>
        <li class="plan recommend">
            <h2>Gold</h2>
            <p class="price"><em>5,000</em>円/月<br />（50,000円/年）</p>
        </li>
        <li class="plan">
            <h2>Platinum</h2>
            <p class="price"><em>8,000</em>円/月<br />（80,000円/年）</p>
        </li>
    </ul>
    <p class="annotation">※税込価格<br /><a href="https://monaca.mobi/ja/support/inquiry" class="btn btn-blue">お問い合わせ</a>
    </p>
</section>

<section>
    <h2>Monacaアカデミックプラン</h2>
    <p>Monacaクラウドでは大学、専門学校等の教育期間向け専用プラン及び割引プランをご用意しています。<br />詳細は<a href="http://monaca.mobi/ja/academic">Monacaアカデミックプランページ</a>をご覧ください。</p>
    <ul class="planlist">
        <li class="plan">
            <div class="summary">
                <h2>Basic<span class="yeah">&nbsp</span></h2>
                <p class="price"><em>無料</em></p>
            </div>
        </li>
        <li class="plan">
            <div class="summary">
                <h2>Education<br /><span class="yeah">教育機関専用プラン</span></h2>
                <p class="price"><em>9,800</em>円/年</p>
            </div>
        </li>
        <li class="plan">
            <div class="summary">
                <h2>Gold<br /><span class="yeah">40%OFF</span></h2>
                <p class="price"><em>30,000</em>円/年</p>
            </div>
        </li>
        <li class="plan">
            <div class="summary">
                <h2>Platinum<br /><span class="yeah">40%OFF</span></h2>
                <p class="price"><em>48,000</em>円/年</p>
            </div>
        </li>
    </ul>
    <p class="annotation">※税込価格<br /><a href="https://monaca.mobi/ja/support/inquiry" class="btn btn-blue">お問い合わせ</a></p>
</section>

<section class="enterprise">
    <h2>Monacaエンタープライズ</h2>
    <p>Monacaエンタープライズは、企業における業務アプリ開発に最適なCordova/PhoneGapベースのアプリ開発、運用プラットフォームです。ご利用の際には企業単位でのお申込みが必要になります。</p>

    <div class="plan">
        <h2>Enterprise</h2>

        <div class="summary">
            <dl>
                <dt>基本セットアップ費用：</dt>
                <dd><em>無料</em></dd>
            </dl>
            <dl>
                <dt>基本料金：</dt>
                <dd><em>162,000</em>円/月</dd>
            </dl>
            <dl>
                <dt>追加ライセンス5：</dt>
                <dd><em>54,000</em>円/月</dd>
            </dl>
        </div>
        <a class="btn btn-blue" href="https://monaca.mobi/ja/support/inquiry/enterprise">見積・お問い合わせ</a>
    </div>
    <p class="annotation">※税込価格</p>
</section>

<section class="kidozen">
    <h2>エンタープライズmBaaS KidoZen</h2>
    <p>エンタープライズmBaaS KidoZenはMonacaエンタープライズのオプションサービスとしてお申込み頂けます。</p>

    <div class="plan">
        <h2>Enterprise <br class="opt" /> mBaaS KidoZen</h2>
        <div class="summary">
            <dl>
                <dt>利用料金：</dt>
                <dd><em>オープンプライス</em></dd>
            </dl>
            <p>提供形態、利用ユーザー数、APIコール数等の条件によって都度お見積もり致します。</p>
        </div>
        <a class="btn btn-blue" href="https://monaca.mobi/ja/support/inquiry/enterprise">見積・お問い合わせ</a>
    </div>
</section>
