---
title: Monaca - プラン一覧、価格表
class: pricing
layout: src/templates/layouts/index.hbs
description: Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。
show_ja_subnav: true
show_ja_globalnav: true
---

<div class="v2-section--plans">
    <div class="v2-section--plans__wrapper">
        <div class="v2-section--plans__title">料金プラン</div>
        <div class="v2-section--plans__description">
            各プランは14日間無料でお試しいただけます。
        </div>
        <div class="v2-section--plans__period-switches-wrapper">
            <div class="v2-section--plans__period-switches">
                <div>
                    <input type="radio" name="period" id="monthly" value="monthly" checked="checked" />
                    <label for="monthly">月額</label>
                </div>
                <div>
                    <input type="radio" name="period" id="yearly" value="yearly" />
                    <label for="yearly">年額</label>
                    <span class="v2-section--plans__period-balloon">2ヶ月分お得</span>
                </div>
            </div>
        </div>
        <div class="v2-section--plans__plan-container">
            <div class="v2-section--plans__plan">
                <div class="v2-section--plans__plan-inner">
                    <div class="v2-section--plans__plan-ribbon">
                        個人におすすめ
                    </div>
                    <div class="v2-section--plans__plan-name">
                        Proプラン
                    </div>
                    <div class="v2-section--plans__plan-description">
                        個人でのご利用に適したプランです。
                    </div>
                    <div class="v2-section--plans__plan-price">
                        <div class="v2-section--plans__plan-price-per-user">
                            1ユーザ
                            <span class="price">2,000</span>
                            <span class="unit">円/月</span>
                        </div>
                        <div class="v2-section--plans__plan-plus">
                            ＋
                        </div>
                        <div class="v2-section--plans__plan-price-base">
                            基本料金：<span class="price">なし</span>
                            <span class="unit"></span>
                        </div>
                    </div>
                    <div class="v2-section--plans__plan-button">
                        <a href="https://monaca.mobi/ja/signup">14日間無料トライアル</a>
                    </div>
                    <div class="v2-section--plans__plan-feature-container">
                        <div class="v2-section--plans__plan-feature">
                            <span>クラウド開発</span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span>実機デバッグ</span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span>ローカル開発</span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span>カスタムプラグイン</span>
                        </div>
                    </div>
                    <div class="v2-section--plans__plan-compare">
                        <a href="/pricing-detail.html">詳細を比較する</a>
                    </div>
                </div>
            </div>
            <div class="v2-section--plans__plan">
                <div class="v2-section--plans__plan-inner main-plan">
                    <div class="v2-section--plans__plan-ribbon">
                        人気 No.1
                    </div>
                    <div class="v2-section--plans__plan-name">
                        Businessプラン
                    </div>
                    <div class="v2-section--plans__plan-description">
                        複数人での開発に最適なプランです。<br>
                        アカウントをまとめて管理できます。
                    </div>
                    <div class="v2-section--plans__plan-price">
                        <div class="v2-section--plans__plan-price-per-user">
                            1ユーザ
                            <span class="price">5,000</span>
                            <span class="unit">円/月</span>
                        </div>
                        <div class="v2-section--plans__plan-plus">
                            ＋
                        </div>
                        <div class="v2-section--plans__plan-price-base">
                            基本料金：<span class="price">2,000</span>
                            <span class="unit">円/月</span>
                        </div>
                    </div>
                    <div class="v2-section--plans__plan-button">
                        <a href="https://monaca.mobi/ja/signup">14日間無料トライアル</a>
                    </div>
                    <div class="v2-section--plans__plan-feature-container">
                        <div class="v2-section--plans__plan-feature" id="plans-ref-1">
                            <span><span><em>チーム開発</em> <a href="#plans-note-1">*1</a></span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span><em>アプリロジック暗号化</em><span class="optional-info">従量課金</span></span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span><em>セキュアストレージ</em><span class="optional-info">従量課金</span></span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span>請求書払い<span class="optional-info">6ヶ月・年額</span></span>
                        </div>
                    </div>
                    <div class="v2-section--plans__plan-compare">
                        <a href="/pricing-detail.html">詳細を比較する</a>
                    </div>
                </div>
            </div>
            <div class="v2-section--plans__plan">
                <div class="v2-section--plans__plan-inner">
                    <div class="v2-section--plans__plan-name">
                        Enterpriseプラン
                    </div>
                    <div class="v2-section--plans__plan-description">
                        オンプレミス対応も可能な最上位プランです。<br>
                        全ての機能を無制限でご利用できます。
                    </div>
                    <div class="v2-section--plans__plan-price">
                        <div class="v2-section--plans__plan-price-per-user">
                            1ユーザ
                            <span class="price">10,000</span>
                            <span class="unit">円/月</span>
                        </div>
                        <div class="v2-section--plans__plan-plus">
                            ＋
                        </div>
                        <div class="v2-section--plans__plan-price-base">
                            基本料金：<span class="price">50,000</span>
                            <span class="unit">円/月</span>
                        </div>
                    </div>
                    <div class="v2-section--plans__plan-button">
                        <a href="https://monaca.mobi/ja/signup">14日間無料トライアル</a>
                    </div>
                    <div class="v2-section--plans__plan-feature-container">
                        <div class="v2-section--plans__plan-feature">
                            <span><em>プライオリティーサポート</em></span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span><em>アプリロジック暗号化</em><span class="optional-info"><em>無制限</em></span></span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span><em>セキュアストレージ</em><span class="optional-info"><em>無制限</em></span></span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span>オンプレミス対応<span class="optional-info">応相談</span></span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span>専用ビルドサーバー対応<span class="optional-info">応相談</span></span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span>請求書払い<span class="optional-info">1ヶ月単位</span></span>
                        </div>
                        <div class="v2-section--plans__plan-feature">
                            <span>5ユーザー以上</span>
                        </div>
                    </div>
                    <div class="v2-section--plans__plan-compare">
                        <a href="/pricing-detail.html">詳細を比較する</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="v2-section--plans__caution">※価格は全て税抜表示です。</div>
        <div class="v2-section--plans__navigation"><a href="/free-plan.html">Freeプランの詳細はこちら<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a></div>
        <div class="v2-section--plans__footnote-container">
            <div class="v2-section--plans__footnote" id="plans-note-1">
                <div class="v2-section--plans__footnote-number">
                    <a href="#plans-ref-1">^1</a>
                </div>
                <div class="v2-section--plans__footnote-content">
                    「管理者アカウント」により複数のアカウントをまとめて管理したり、アプリの編集権限・テスト権限を他のユーザに与えたりすることができる機能です。複数人でのアプリ開発や、テスト作業・検収作業を効率化します。
                </div>
            </div>
        </div>
    </div>
</div>
<div class="v2-section--options">
    <div class="v2-section--options__wrapper">
        <div class="v2-section--options__title">オプション費用</div>
        <div class="v2-section--options__option">
            <div class="v2-section--options__option-title">エンタープライズプラグイン</div>
            <div class="v2-section--options__option-description">
                <p>アプリのセキュリティや運用性を飛躍的に高める拡張プラグインです。</p>
                <p>Businessプランでは、年間ライセンスをアプリ毎に追加購入することでご利用いただけます。<br />Enterpriseプランでは、無制限にご利用いただけます。</p>
            </div>
            <div class="v2-section--options__option-table">
                <table>
                    <thead>
                        <tr>
                            <th class="v2-section--options__option-table-cell-leftside"></th>
                            <th class="v2-section--options__option-table-cell-rightside">年間ライセンス料金</th>
                            <th class="v2-section--options__option-table-cell-fullwidth" colspan="2">年間ライセンス料金</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="v2-section--options__option-table-cell-leftside">
                                <div class="v2-section--options__option-table-cell-title">
                                    アプリロジック暗号化 プラグイン
                                </div>
                                <div class="v2-section--options__option-table-cell-description">
                                    ソースコードを暗号化する事によって、アプリのセキュリティレベルをネイティブコードと同等レベル以上に引き上げます。
                                </div>
                            </td>
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    90,000円/年<br /><span class="optional-info">（1アプリあたり）</span>
                                </span>
                            </td>
                        </tr>
                        <tr class="v2-section--options__option-table-row-fullwidth">
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    90,000円/年<br /><span class="optional-info">（1アプリあたり）</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="v2-section--options__option-table-cell-leftside">
                                <div class="v2-section--options__option-table-cell-title">
                                    セキュアストレージ プラグイン
                                </div>
                                <div class="v2-section--options__option-table-cell-description">
                                    アプリ内に保存されるデータを暗号化するストレージ機能を提供します。端末の盗難や紛失などの万が一の際の情報漏洩を未然に防ぎます。
                                </div>
                            </td>
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    90,000円/年<br /><span class="optional-info">（1アプリあたり）</span>
                                </span>
                            </td>
                        </tr>
                        <tr class="v2-section--options__option-table-row-fullwidth">
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    90,000円/年<br /><span class="optional-info">（1アプリあたり）</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="v2-section--options__option-table-cell-leftside">
                                <div class="v2-section--options__option-table-cell-title">
                                    In-Appアップデーター プラグイン
                                </div>
                                <div class="v2-section--options__option-table-cell-description">
                                    ストアから再ダウンロードすることなく、アプリの自動更新を行う機能を提供します。アプリの再配布、端末への再インストールを行うことなく、常にユーザーが最新のアプリを利用している状態を保ちます。
                                </div>
                            </td>
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    90,000円/年<br /><span class="optional-info">（1アプリあたり）</span>
                                </span>
                            </td>
                        </tr>
                        <tr class="v2-section--options__option-table-row-fullwidth">
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    90,000円/年<br /><span class="optional-info">（1アプリあたり）</span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="v2-section--options__option-caution">
                ※価格は全て税抜表示です。
            </div>
            <div class="v2-section--options__option-description-after">
                各エンタープライズプラグインの年間ライセンスは <a href="https://monaca.mobi/ja/" target="_blank">企業向けプラン管理画面</a> よりご購入いただけます。
            </div>
        </div>
        <div class="v2-section--options__option">
            <div class="v2-section--options__option-title">有償サポート</div>
            <div class="v2-section--options__option-description">
                <p>チケット制のテクニカルサポートです。<br />専門知識を持ったサポートチームが技術的なご質問に対して柔軟に対応いたします。<br />サポートの具体的な内容や、必要なチケット枚数の目安については <a href="/dev-support">サポート体制</a> をご覧ください。</p>
                <p>テクニカルサポートは「サポートチケット」を追加購入することでご利用いただけます。</p>
            </div>
            <div class="v2-section--options__option-table">
                <table>
                    <thead>
                        <tr>
                            <th class="v2-section--options__option-table-cell-leftside"></th>
                            <th class="v2-section--options__option-table-cell-rightside">料金</th>
                            <th class="v2-section--options__option-table-cell-fullwidth" colspan="2">料金</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="v2-section--options__option-table-cell-leftside">
                                <div class="v2-section--options__option-table-cell-title">
                                    サポートチケット
                                </div>
                                <div class="v2-section--options__option-table-cell-description">
                                    1枚につき30分相当のテクニカルサポートを実施いたします。
                                </div>
                            </td>
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    10,000円/1枚<br /><span class="optional-info">（有効期限: 1年間）</span>
                                </span>
                            </td>
                        </tr>
                        <tr class="v2-section--options__option-table-row-fullwidth">
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    10,000円/1枚<br /><span class="optional-info">（有効期限: 1年間）</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="v2-section--options__option-table-cell-leftside">
                                <div class="v2-section--options__option-table-cell-title">
                                    10チケットパック
                                </div>
                                <div class="v2-section--options__option-table-cell-description">
                                    サポートチケット10枚をまとめ買いできるパックです。
                                </div>
                            </td>
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    100,000円/10枚<br /><span class="optional-info">（有効期限: 1年間）</span>
                                </span>
                            </td>
                        </tr>
                        <tr class="v2-section--options__option-table-row-fullwidth">
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    100,000円/10枚<br /><span class="optional-info">（有効期限: 1年間）</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="v2-section--options__option-table-cell-leftside">
                                <div class="v2-section--options__option-table-cell-title">
                                    50チケットパック
                                </div>
                                <div class="v2-section--options__option-table-cell-description">
                                    サポートチケット50枚をまとめ買いできるパックです。10%の割引が適用されます。
                                </div>
                            </td>
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    450,000円/50枚<br /><span class="optional-info">（有効期限: 1年間）</span>
                                </span>
                            </td>
                        </tr>
                        <tr class="v2-section--options__option-table-row-fullwidth">
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    450,000円/50枚<br /><span class="optional-info">（有効期限: 1年間）</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="v2-section--options__option-table-cell-leftside">
                                <div class="v2-section--options__option-table-cell-title">
                                    100チケットパック
                                </div>
                                <div class="v2-section--options__option-table-cell-description">
                                    サポートチケット100枚をまとめ買いできるパックです。20%の割引が適用されます。
                                </div>
                            </td>
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    800,000円/100枚<br /><span class="optional-info">（有効期限: 1年間）</span>
                                </span>
                            </td>
                        </tr>
                        <tr class="v2-section--options__option-table-row-fullwidth">
                            <td class="v2-section--options__option-table-cell-rightside">
                                <span class="v2-section--options__option-table-cell-rightside-price-container">
                                    800,000円/100枚<br /><span class="optional-info">（有効期限: 1年間）</span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="v2-section--options__option-caution">
                ※価格は全て税抜表示です。
            </div>
            <div class="v2-section--options__option-description-after">
                サポートチケットは <a href="https://monaca.mobi/ja/" target="_blank">企業向けプラン管理画面</a> よりご購入いただけます。
            </div>
        </div>
    </div>
</div>
<div id="activation-code" class="v2-section--activation-code">
    <div class="v2-section--activation-code__wrapper">
        <div class="v2-section--activation-code__title">アクティベーションコードをお持ちの場合</div>
        <div class="v2-section--activation-code__description">Monacaのアカウントをお持ちの方は、こちらからアクティベーションコードを入力できます。</div>
        <a class="v2-section--activation-code__button" href="https://monaca.mobi/ja/payment/activation_code_input">アクティベーションコードを入力する</a>
        <div class="v2-section--activation-code__description-after">アカウントをお持ちでない場合は、まず <a href="https://monaca.mobi/ja/signup">無料でアカウントを作成</a> してください。</div>
    </div>
</div>
<div class="v2-section--education">
    <div class="v2-section--education__wrapper">
        <div class="v2-section--education__title">教育機関向けプラン</div>
        <div class="v2-section--education__description">教育や研究にMonacaをご利用いただく教育機関を中心に、専用プランや割引プランをご用意しています。<br />詳しくは <a href="https://edu.monaca.io/">Monaca Education</a> のWebサイトをご覧ください。</div>
        <a class="v2-section--education__button" href="https://edu.monaca.io/">Monaca Educationのサイトに移動する</a>
    </div>
</div>
<div class="v2-section--pricing-faq">
    <div class="v2-section--pricing-faq__wrapper">
        <div class="v2-section--pricing-faq__title">料金プランに関してよくあるご質問</div>
        <div class="v2-section--pricing-faq__faq-container">
            <div class="v2-section--pricing-faq__faq">
                <div class="v2-section--pricing-faq__question">
                    <div class="symbol">Q</div>
                    <div class="content">無料トライアルとはなんですか？</div>
                </div>
                <div class="v2-section--pricing-faq__answer">
                    <div class="symbol">A</div>
                    <div class="content">
                        <p>有料プランと同等の機能を2週間無料でご利用いただける機能です。</p>
                        <p>制限として、リリースビルドはご利用いただけません。また、サポートチケットは付属しません。</p>
                    </div>
                </div>
            </div>
            <div class="v2-section--pricing-faq__faq">
                <div class="v2-section--pricing-faq__question">
                    <div class="symbol">Q</div>
                    <div class="content">無料トライアル期間が終わるとどうなりますか？</div>
                </div>
                <div class="v2-section--pricing-faq__answer">
                    <div class="symbol">A</div>
                    <div class="content">
                        <p>お支払い方法が設定されている場合、自動的に選択プランの課金が開始されます。</p>
                        <p>お支払い方法が設定されていない状態で無料トライアル期間を過ぎると、自動的に <a href="/free-plan.html">Freeプラン</a> に移行します。</p>
                    </div>
                </div>
            </div>
            <div class="v2-section--pricing-faq__faq">
                <div class="v2-section--pricing-faq__question">
                    <div class="symbol">Q</div>
                    <div class="content">どのような支払い方法がありますか？</div>
                </div>
                <div class="v2-section--pricing-faq__answer">
                    <div class="symbol">A</div>
                    <div class="content">
                        <p>クレジットカードでのお支払いが可能です。Businessプラン以上では請求書でのお支払いにも対応いたします。Businessプランの請求書払いは6ヶ月・年額のみ対応しております。Enterpriseプランの請求書払いは1ヶ月単位で対応いたします。</p>
                    </div>
                </div>
            </div>
            <div class="v2-section--pricing-faq__faq">
                <div class="v2-section--pricing-faq__question">
                    <div class="symbol">Q</div>
                    <div class="content">教育機関向けの割引プランはありますか？</div>
                </div>
                <div class="v2-section--pricing-faq__answer">
                    <div class="symbol">A</div>
                    <div class="content">
                        <p>はい、ございます。プランの詳細については <a href="https://edu.monaca.io/" target="_blank">Monaca Education</a> のWebサイトをご覧ください。</p>
                    </div>
                </div>
            </div>
            <div class="v2-section--pricing-faq__faq">
                <div class="v2-section--pricing-faq__question">
                    <div class="symbol">Q</div>
                    <div class="content">アプリの配布数によってMonacaの利用料金は変わりますか？</div>
                </div>
                <div class="v2-section--pricing-faq__answer">
                    <div class="symbol">A</div>
                    <div class="content">
                        <p>いいえ、Monacaはアプリの配布数に関わらず定額でご利用いただけます。追加料金はかかりません。</p>
                    </div>
                </div>
            </div>
            <div class="v2-section--pricing-faq__faq">
                <div class="v2-section--pricing-faq__question">
                    <div class="symbol">Q</div>
                    <div class="content">アプリ開発に関して、Monacaの利用以外にかかる費用はありますか？</div>
                </div>
                <div class="v2-section--pricing-faq__answer">
                    <div class="symbol">A</div>
                    <div class="content">
                        <p>AppleのDeveloper登録や、Google Playのアプリリリース者登録などに別途費用がかかることがあります。</p>
                    </div>
                </div>
            </div>
            <div class="v2-section--pricing-faq__faq">
                <div class="v2-section--pricing-faq__question">
                    <div class="symbol">Q</div>
                    <div class="content">どのようなサポートが受けられますか？</div>
                </div>
                <div class="v2-section--pricing-faq__answer">
                    <div class="symbol">A</div>
                    <div class="content">
                        <p>Monacaの操作方法のご説明から、アプリ開発に伴う技術的な質問への対応などを日本語で行っております。詳しくは <a href="/dev-support">サポート体制</a> のページをご覧ください。</p>
                    </div>
                </div>
            </div>
            <div class="v2-section--pricing-faq__faq">
                <div class="v2-section--pricing-faq__question">
                    <div class="symbol">Q</div>
                    <div class="content">見積もりを依頼したいです。</div>
                </div>
                <div class="v2-section--pricing-faq__answer">
                    <div class="symbol">A</div>
                    <div class="content">
                        <p><a href="/support/inquiry.html">お問い合わせ</a> フォームにて承っております。お気軽にご相談ください。</p>
                    </div>
                </div>
            </div>
            <div class="v2-section--pricing-faq__faq">
                <div class="v2-section--pricing-faq__question">
                    <div class="symbol">Q</div>
                    <div class="content">他にも質問したいことがあります。</div>
                </div>
                <div class="v2-section--pricing-faq__answer">
                    <div class="symbol">A</div>
                    <div class="content">
                        <p><a href="/support/inquiry.html">お問い合わせ</a> フォームよりお気軽にご質問ください。迅速にご対応いたします。</p>
                        <p>料金プラン以外に関する質問につきましては、 <a href="/faq.html">よくあるご質問</a> ページをご覧ください。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://fonts.googleapis.com/css?family=Yantramanav:400,500,700,900" rel="stylesheet">

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('input[name="period"]:radio').change(function() {
            var period = $(this).val();
            switch (period) {
                case 'monthly':
                    // Pro
                    $('.v2-section--plans__plan-price-per-user > span.price')[0].innerHTML = '2,000';
                    $('.v2-section--plans__plan-price-per-user > span.unit')[0].innerHTML = '円/月';
                    $('.v2-section--plans__plan-price-base > span.price')[0].innerHTML = 'なし';
                    $('.v2-section--plans__plan-price-base > span.unit')[0].innerHTML = '';
                    
                    // Business
                    $('.v2-section--plans__plan-price-per-user > span.price')[1].innerHTML = '5,000';
                    $('.v2-section--plans__plan-price-per-user > span.unit')[1].innerHTML = '円/月';
                    $('.v2-section--plans__plan-price-base > span.price')[1].innerHTML = '2,000';
                    $('.v2-section--plans__plan-price-base > span.unit')[1].innerHTML = '円/月';

                     // Enterprise
                    $('.v2-section--plans__plan-price-per-user > span.price')[2].innerHTML = '10,000';
                    $('.v2-section--plans__plan-price-per-user > span.unit')[2].innerHTML = '円/月';
                    $('.v2-section--plans__plan-price-base > span.price')[2].innerHTML = '50,000';
                    $('.v2-section--plans__plan-price-base > span.unit')[2].innerHTML = '円/月';
                    break;
                case 'yearly':
                    // Pro
                    $('.v2-section--plans__plan-price-per-user > span.price')[0].innerHTML = '20,000';
                    $('.v2-section--plans__plan-price-per-user > span.unit')[0].innerHTML = '円/年';
                    $('.v2-section--plans__plan-price-base > span.price')[0].innerHTML = 'なし';
                    $('.v2-section--plans__plan-price-base > span.unit')[0].innerHTML = '';
                    
                    // Business
                    $('.v2-section--plans__plan-price-per-user > span.price')[1].innerHTML = '50,000';
                    $('.v2-section--plans__plan-price-per-user > span.unit')[1].innerHTML = '円/年';
                    $('.v2-section--plans__plan-price-base > span.price')[1].innerHTML = '20,000';
                    $('.v2-section--plans__plan-price-base > span.unit')[1].innerHTML = '円/年';

                     // Enterprise
                    $('.v2-section--plans__plan-price-per-user > span.price')[2].innerHTML = '100,000';
                    $('.v2-section--plans__plan-price-per-user > span.unit')[2].innerHTML = '円/年';
                    $('.v2-section--plans__plan-price-base > span.price')[2].innerHTML = '500,000';
                    $('.v2-section--plans__plan-price-base > span.unit')[2].innerHTML = '円/年';
                    break;
                default:
            }
        });
    });
</script>
