---
title: 価格
class: pricing
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---

<div class="container" id="pricing-container" style="display: none;">
    <h1>価格</h1>
    <div class="trial">
        <p>全プランで14日間の無料トライアルをお試しいただけます。</p>
        <div class="box-try">
            <a href="https://monaca.mobi/ja/register/start" class="btn btn-green">無料トライアルを開始</a>
        </div>
    </div>
    <ul class="plan column-4">
        <li class="box-1" tile="4">
            <h2>Basic</h2>
            <div class="price annual">
                <div class="amount">無料</div>
            </div>
            <ul class="features free">
                <li><span>250MB</span> のストレージ</li>
                <li><span>ローカル開発環境</span> <br />(CLI、Localkit) のトライアル</li>
                <li><span>プッシュ通知機能</span></li>
            </ul>
            <a href="pricing-detail.html">詳細を比較する</a>
        </li>
        <li class="box-1" id="developer-plan-box" style="display: none">
            <h2>Developer</h2>
            <div class="price annual">
                <div class="amount">9,800</div>
                <div class="period">円/年</div>
            </div>
            <div class="price monthly">
                <div class="amount">1,960円/月</div>
            </div>
            <ul class="features">
                <li><span>10</span> プロジェクト</li>
                <li><span>1GB</span> のストレージ</li>
                <li><span>無制限</span> のリモートビルド</li>
                <li><span>テクニカルサポート</span><br />(チケット要購入)</li>
            </ul>
            <a href="pricing-detail.html">詳細を比較する</a>
        </li>
        <li class="box-1" id="personal-plan-box" style="display: none">
            <h2>Personal</h2>
            <div class="price annual">
                <div class="amount">9,800</div>
                <div class="period">円/年</div>
            </div>
            <div class="price monthly">
              <div class="amount">980円/月</div>
            </div>
            <ul class="features">
                <li><span>10</span> プロジェクト</li>
                <li><span>1GB</span> のストレージ</li>
                <li><span>無制限</span> のリモートビルド</li>
                <li><span>テクニカルサポート</span><br />(チケット要購入)</li>
            </ul>
            <a href="pricing-detail.html">詳細を比較する</a>
        </li>
        <li class="box-1 popular">
            <h2>Gold</h2>
            <div class="price annual">
                <div class="amount">50,000</div>
                <div class="period">円/年</div>
            </div>
            <div class="price monthly">
                <div class="amount">5,000円/月</div>
            </div>
            <ul class="features">
                <li><span>100</span> プロジェクト</li>
                <li><span>10GB</span> のストレージ</li>
                <li>Monaca for <span>Visual Studio</span></li>
                <li><span>カスタム</span> Cordova プラグイン</li>
            </ul>
            <a href="pricing-detail.html">詳細を比較する</a>
        </li>
        <li class="box-1">
            <h2>Platinm</h2>
            <div class="price annual">
                <div class="amount">80,000</div>
                <div class="period">円/年</div>
            </div>
            <div class="price monthly">
                <div class="amount">8,000円/月</div>
            </div>
            <ul class="features">
                <li>プロジェクト数 <span>無制限</span></li>
                <li><span>20GB</span> のストレージ</li>
                <li><span>無制限</span> のリモートビルド</li>
                <li><span>毎月2枚</span> のサポートチケット</li>
            </ul>
            <a href="pricing-detail.html">詳細を比較する</a>
        </li>
    </ul>
    <ul class="plan enterprise column-1 clearfix">
        <li class="box-1 clearfix">
            <div class="col-1">
                <h2>エンタープライズプラグイン</h2>
                <div class="price annual">
                    <div class="amount">20,000</div>
                    <div class="period">円/月/機能/アプリ</div>
                </div>
            </div>
            <div class="col-2">
                <p>エンタープライズプラグインは、あなたのアプリのセキュリティとパフォーマンスを最大限に高めます。</p>
                <ul class="features">
                    <li><span>アプリ暗号化</span></li>
                    <li><span>In-App アップデート</span></li>
                    <li><span>データ暗号化</span></li>
                </ul>
                <p>Contact us to access our special promotion and add new feature for $50 per application per month.</p>
            </div>
        </li>
    </ul>
    <ul class="other-plan column-2 clearfix">
        <li class="box-1">
            <h2>ACADEMIA?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br /><a href="#">Contact us</a> for custumized program</p>
        </li>
        <li class="box-1">
            <h2>MORE THAN 5 USERS?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br /><a href="#">Contact us</a> for volume discount</p>
        </li>
    </ul>
    <div class="additional-plan">
        <h2>追加サポートチケット</h2>
        <table>
            <tr>
                <th>チケットメニュー</th>
                <th>価格</th>
                <th>有効期限</th>
            </tr>
            <tr>
                <td>シングルチケット</td>
                <td>5,000円</td>
                <td>1年間</td>
            </tr>
        </table>
        <ul class="attention">
            <li>* 追加購入したサポートチケットは他のユーザーと共有することはできません。</li>
            <li>* ご購入いただいたサポートチケットの払い戻しはいたしません。</li>
        </ul>
    </div>
    <div class="additional-plan">
        <h2>アクティベーションコード</h2>
        <div class="box">
            <p>アクティベーションコードをご利用の方はこちらからお願いいたします。</p>
            <div class="box-try">
                <a href="https://monaca.mobi/ja/register/start" class="btn btn-blue">アクティベーションコードを使用</a>
            </div>
        </div>
    </div>

</div>
