---
title: Pricing
class: pricing
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---
<div id="important-info-en-el"></div>
<div class="container" id="pricing-container" style="display: none;">
    <h1>Pricing</h1>
    <div class="trial">
        <p>14 day unlimited free trial on all monthly plans.</p>
        <div class="box-try">
            <a href="#" class="btn btn-green" id="btn-trial">Start a free trial</a>
        </div>
    </div>
    <ul class="plan column-4">
        <li class="box-1" tile="4">
            <h2>BASIC</h2>
            <div class="price annual">
                <div class="amount">Free</div>
            </div>
            <ul class="features free">
                <li><span>3</span> online projects</li>
                <li><span>250MB</span> storage</li>
                <li><span>Local development</span> <br />Free CLI + Localkit trial</li>
                <li><span>Remote</span> push notifications</li>
                <li><span>Community</span> Forum</li>
            </ul>
            <a href="pricing-detail.html">Compare in Detail</a>
        </li>
        <li class="box-1" id="developer-plan-box" style="display: none">
            <h2>DEVELOPER</h2>
            <div class="price annual">
                <div class="currency">$</div>
                <div class="amount">190</div>
                <div class="period">/yr</div>
                <div class="acutual">Actual charge:<span>19,600JPY</span></div>
            </div>
            <div class="price monthly">
                <div class="amount">$19/mo</div>
                <div class="acutual">Actual charge:<span>1,960JPY</span></div>
            </div>
            <ul class="features">
                <li><span>10</span> online projects</li>
                <li><span>1GB</span> storage</li>
                <li><span>Unlimited</span> remote builds</li>
                <li><span>Technical</span> support</li>
                <li><span>Monaca CLI</span> and<span> Localkit</span></li>
                <li><span>Custom</span> Cordova plugin</li>
            </ul>
            <a href="pricing-detail.html">Compare in Detail</a>
        </li>
        <li class="box-1" id="personal-plan-box" style="display: none">
            <h2>Personal</h2>
            <div class="price annual">
                <div class="currency">$</div>
                <div class="amount">95</div>
                <div class="period">/yr</div>
                <div class="acutual">Actual charge:<span>9,800JPY</span></div>
            </div>
            <div class="price monthly">
                <div class="amount">$9.5/mo</div>
                <div class="acutual">Actual charge:<span>980JPY</span></div>
            </div>
            <ul class="features">
                <li><span>10</span> online projects</li>
                <li><span>1GB</span> storage</li>
                <li><span>Unlimited</span> remote builds</li>
                <li><span>Technical</span> support</li>
            </ul>
            <a href="pricing-detail.html">Compare in Detail</a>
        </li>
        <li class="box-1 popular">
            <h2>GOLD</h2>
            <div class="price annual">
                <div class="currency">$</div>
                <div class="amount">490</div>
                <div class="period">/yr</div>
                <div class="acutual">Actual charge:<span>50,000JPY</span></div>
            </div>
            <div class="price monthly">
                <div class="amount">$49/mo</div>
                <div class="acutual">Actual charge:<span>5,000JPY</span></div>
            </div>
            <ul class="features">
                <li><span>100</span> online projects</li>
                <li><span>10GB</span> storage</li>
                <li><span>Team</span> development</li>
                <li><span>Monaca for Visual Studio</span></li>
                <li><span>Custom</span> Cordova plugin</li>
                <li><span>1 Monthly</span> support ticket</li>
            </ul>
            <a href="pricing-detail.html">Compare in Detail</a>
        </li>
        <li class="box-1">
            <h2>PLATINUM</h2>
            <div class="price annual">
                <div class="currency">$</div>
                <div class="amount">780</div>
                <div class="period">/yr</div>
                <div class="acutual">Actual charge:<span>80,000JPY</span></div>
            </div>
            <div class="price monthly">
                <div class="amount">$78/mo</div>
                <div class="acutual">Actual charge:<span>8,000JPY</span></div>
            </div>
            <ul class="features">
                <li><span>Unlimited</span> online projects</li>
                <li><span>20GB</span> storage</li>
                <li><span>Unlimited</span> remote builds</li>
                <li><span>2 Monthly</span> support tickets</li>
            </ul>
            <a href="pricing-detail.html">Compare in Detail</a>
        </li>
    </ul>
    <ul class="plan enterprise column-1 clearfix">
        <li class="box-1 clearfix">
            <div class="col-1">
                <h2>POWER PLUGINS</h2>
                <div class="price annual">
                    <div class="currency">$</div>
                    <div class="amount">50</div>
                    <div class="period">/mo/feature/app</div>
                </div>
            </div>
            <div class="col-2">
                <p>Maximize security and performance of your app with our Power Plugins:</p>
                <ul class="features">
                    <li><span>App Encryption</span></li>
                    <li><span>Data Encryption</span></li>
                    <li><span>In-App Updates</span></li>
                    <li><span>In-App Purchases</span></li>
                </ul>
                <p>Contact us to access our special promotion and add new feature for $50 per application per month.</p>
            </div>
        </li>
    </ul>
    <ul class="other-plan column-2 clearfix">
        <li class="box-1">
            <h2>ACADEMIA?</h2>
            <p>We offer discounted licenses for students and teachers at academic and training facilities. <a href="/support/inquiry.html">Contact us</a> for customized academic program. </p>
        </li>
        <li class="box-1">
            <h2>MORE THAN 3 USERS?</h2>
            <p>We offer volume licenses when purchasing more than 3 licenses at the same time.<br /><a href="/support/inquiry.html">Contact us</a> for volume discount</p>
        </li>
    </ul>
    <div class="additional-plan">
        <h2>ADDITIONAL SUPPORT TICKETS</h2>
        <table>
            <tr>
                <th>Ticket Menu</th>
                <th>Price</th>
                <th>Vaild for</th>
            </tr>
            <tr>
                <td>Single Ticket</td>
                <td>$50/ticket</td>
                <td>12 months</td>
            </tr>
        </table>
        <ul class="attention">
            <li>* Support tickets cannot be shared with other users.</li>
            <li>* We cannot refund a support ticket once it is purchased.</li>
        </ul>
    </div>
    <div class="additional-plan">
        <h2>ACTIVATION CODE</h2>
        <div class="box">
            <p>Select here if you have the activation code.</p>
            <div class="box-try">
                <a href="https://monaca.mobi/en/payment/activation_code_input" class="btn btn-blue">Use Activation Code</a>
            </div>
        </div>
    </div>

</div>