---
title: 価格 - プラン比較
class: pricing compare
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---

<div class="container">
  <h1>Compare in detail</h1>

  <div class="compare-header">
    <h2>Development Tool / Features</h2>

    <ul>
      <li><i>クラウドIDE<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                         title="シンタックスハイライト / チェック、 リモートインスペクター / コンソール、ライブプレビュー、プロジェクトインポート / エクスポート機能 など"/></i></li>
      <li><i>CLI (Command Line Tool)</i></li>
      <li><i>Monaca Localkit</i></li>
      <li><i>Monaca for Visual Studio <br/>(VS 全エディション対応)</i></li>
      <li><i>Monaca デバッガー</i></li>
      <li><i>プロジェクト数<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                         title="Basicプランユーザーは、アーカイブ機能を利用できません。"/></i></li>
      <li><i></i></li>
      <li><i>クラウドビルド</i></li>
      <li><i>ソースコードバックアップ</i></li>
      <li><i>カスタム Cordova プラグイン</i></li>
    </ul>

    <h2>チーム管理</h2>

    <ul>
      <li><i>オンラインチャット</i></li>
      <li><i>共有プロジェクトの <br/>テスター権限</i></li>
      <li><i>共有プロジェクトの <br/>開発者権限</i></li>
      <li><i>チーム管理<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                       title="テスターと開発者を追加する機能です。"/></i></li>
    </ul>

    <h2>バックエンドサービス</h2>

    <ul>
      <li><i>ユーザー管理</i></li>
      <li><i>データコレクション <br/>(クラウドデータベース)</i></li>
      <li><i>バックエンド数</i></li>
      <li><i>ストレージ<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                       title="Storage space will be calculated based on the peak volume used during the course of the month."/></i>
      </li>
      <li><i>プッシュ通知機能<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                          title="The number of remote push notifications will be calculated based on the total sent notifications starting with the first day through the last day of month."/></i>
      </li>
      <li><i>API requests<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                              title="The number of API calls will be calculated based on the total calls starting with the first day through the last day of month."/></i>
      </li>
      <li><i>Burst support</i></li>
      <li><i>Server management API</i></li>
    </ul>

    <h2 style="padding-top: 179px;">Support &amp; Service</h2>

    <ul>
      <li><i>コミュニティフォーラム</i></li>
      <li><i>技術サポート<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                        title="Our professional team will help you solve the issues in your program. Code review, configuration advice, remote debugging are covered by the technical support team."/></i>
      </li>
    </ul>
  </div>

  <div id="compare-cont" class="compare-cont">
    <table id="compare-cont-table">
      <thead>
      <th>Basic<span>無料</span></th>
      <th class="dev-plan">Developer<span>/月</span></th>
      <th class="personal-plan">Personal<span>980円/月</span></th>
      <th>Gold<span>5,000円/月</span></th>
      <th>Platinum<span>8,000円/月</span></th>
      </thead>

      <tbody>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>3</td>
        <td class="dev-plan">10</td>
        <td class="personal-plan">10</td>
        <td>100</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>2</td>
        <td class="dev-plan">5</td>
        <td class="personal-plan">5</td>
        <td>10</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>1<span>/24hrs</span></td>
        <td class="dev-plan">Unlimited</td>
        <td class="personal-plan">Unlimited</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>1<span>version</span></td>
        <td class="dev-plan">1<span>mo</span></td>
        <td class="personal-plan">1<span>mo</span></td>
        <td>3<span>mo</span></td>
        <td>6<span>mo</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      </tbody>
    </table>

    <table>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
    </table>

    <table>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>3</td>
        <td class="dev-plan">10</td>
        <td class="personal-plan">10</td>
        <td>100</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>250<span>MB</span></td>
        <td class="dev-plan">1<span>GB</span></td>
        <td class="personal-plan">1<span>GB</span></td>
        <td>10<span>GB</span></td>
        <td>20<span>GB</span>
          <small>($0.5 / extra 1GB)</small>
        </td>
      </tr>
      <tr>
        <td>1,000<span>/mo</span></td>
        <td class="dev-plan">1,000<span>/mo</span></td>
        <td class="personal-plan">1,000<span>/mo</span></td>
        <td>50,000<span>/mo</span></td>
        <td>1,000<span>/mo</span>
          <small>($0.5 / extra 1GB)</small>
        </td>
      </tr>
      <tr>
        <td>100,000<span>/mo</span></td>
        <td class="dev-plan">100,000<span>/mo</span></td>
        <td class="personal-plan">100,000<span>/mo</span></td>
        <td>1Million<span>/mo</span></td>
        <td>5Million<span>/mo</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan">10<span>req/s</span></td>
        <td class="personal-plan">10<span>req/s</span></td>
        <td>20<span>req/s</span></td>
        <td>20<span>req/s</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr class="compare-cont-comment">
        <td colspan="4">
          <p>* For Basic through Gold plans, users who have reached their maximum limit within each plan will be
            required to upgrade to the next subscription plan level.</p>
          <p>* Transaction fees for the Platinum Plan will be automatically charged, based on the usage recorded for the
            month.</p>
        </td>
      </tr>
    </table>

    <table class="compare-cont-support">
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan compare-cont-support-dev">Support ticket must be purchased separately</td>
        <td class="personal-plan compare-cont-support-dev">Support ticket must be purchased separately</td>
        <td>1<span>チケット/月</span></td>
        <td>2<span>チケット/月</span></td>
      </tr>
    </table>
  </div>

  <p class="compare-contact">価格についてのお問い合わせは<a href="/support/inquiry.html">こちら</a></p>

  <div class="compare-trial">
    <p>14 day unlimited free trial on all plans.</p>
    <a href="https://monaca.mobi/ja/register/start" class="btn btn-green">無料トライアル</a>
  </div>
</div>

