---
title: Pricing - Compare in detail
class: pricing compare
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---

<div id="important-info-en-el"></div>
<div class="container">
  <h1>Compare in detail</h1>

  <!-- New Plan -->
  <div class="compare-header compare-header-ja">
    <h2>Price・settlement method</h2>
    <ul>
      <li><i>2 week free trial</i></li>
      <li><i>1 month License</i></li>
      <li><i>6 month License</i></li>
      <li><i>1 year License</i></li>
      <li><i>Developer license</i></li>
      <li><i>Additional Developer License (1 month)</i></li>
      <li><i>pay by a credit card</i></li>
      <li><i>Invoice payment</i></li>
    </ul>

    <h2>Development Tool / Features</h2>
    <ul>
      <li><i>Browser-based IDE<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                   title="Including Syntax highlight / syntax check, Remote inspector & console, Live preview and Project import & export."/></i>
      </li>
      <li><i>CLI (Command Line Tool)</i></li>
      <li><i>Monaca Localkit</i></li>
      <li><i>Online projects<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                 title="Basic plan users can not archive projects."/></i></li>
      <li><i>Monaca Debugger</i></li>
      <li><i>Monaca Debugger connections</i></li>
      <li><i>Cloud build Limit</i></li>
      <li><i>Debug build</i></li>
      <li><i>AdHoc build</i></li>
      <li><i>Release build</i></li>
      <li><i>In-House build</i></li>
      <li><i>iOS App upload<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                 title="Upload your app to iTunes Connect right from Monaca IDE."/></i></li>
      <li><i>Custom Cordova plugin</i></li>
      <li><i>Plugin version selection</i></li>
      <li><i>Export</i></li>
      <li><i>Cordova version</i></li>
      <li><i>Storage<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                         title="Storage is calculated based on the month's peak usage. The storege is on a shared environment. Private storage is estimated separately."/></i></li>
      <li><i>Inactive limitations<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                         title="The projects of Free Plan users that didn't login in Monaca for a longer period (180 days) are automatically archived."/></i></li>
      <li><i>Remove inactive limitations<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                   title="The automatically archived projects can be restored if the subscription is upgraded to a paid plan."/></i></li>
    </ul>

    <h2>Version Control (Git)</h2>
    <ul>
      <li><i>GitHub support</i></li>
      <li><i>GitHub public repositories</i></li>
      <li><i>GitHub private repositories</i></li>
      <li><i>GitHub Organization repositories</i></li>
      <li><i>Git SSH support</i></li>
    </ul>

    <h2>Enterprise plan function</h2>
    <ul>
      <li><i>Developer Account Management</i></li>
      <li><i>Support/CI Ticket Management</i></li>
      <li><i>Monaca Enterprise Plugins</i></li>
      <li><i>Project Sharing for <br />Enterprise Plan Users <br />(Only for Developers)</i></li>
      <li><i>Project Sharing for <br />Enterprise Plan Users <br />(Only for Testers)</i></li>
      <li><i>Project Sharing for <br />Personal Plan Users <br />Only for Developers)</i></li>
      <li><i>Project Sharing for <br />Personal Plan Users <br />（(Only for Testers)</i></li>
    </ul>

    <h2>Backend as a Service</h2>
    <ul>
      <li><i>Remote push <br/>notifications<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                                title="The number of remote push notifications will be calculated based on the total sent notifications starting with the first day through the last day of month."/></i></li>
      <li><i>API requests<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                              title="The number of API calls will be calculated based on the total calls starting with the first day through the last day of month."/></i></li>
      <li><i>Backends</i></li>
      <li><i>Collection <br/>(remote database)</i></li>
      <li><i>Backend management API</i></li>
    </ul>

    <h2>Support &amp; Service</h2>
    <ul>
      <li><i>Community forum</i></li>
      <li><i>Technical support<img src="/img/pricing/icn_q.png" class="btn-tooltip" data-placement="top"
                                   title="Our professional team will help you solve the issues in your program. Code review, configuration advice, remote debugging are covered by the technical support team."/></i></li>
      <li><i>Free Support Tickets</i></li>
      <li><i>Additional Support Tickets<br />(Ticket expires after a year)</i></li>
      <li><i>Support Ticket Packages<br />(Tickets expires after a year)</i></li>
    </ul>

    <h2>Enterprise Plugins</h2>
    <ul>
      <li><i>Encryption of the App Logic</i></li>
      <li><i>Secure Storage</i></li>
      <li><i>In-App Updater</i></li>
    </ul>

    <h2>Monaca CI</h2>
    <ul>
      <li style="height: 72px;"><i>Available Usage</i></li>
    </ul>

    <h2>Other</h2>
    <ul>
      <li style="height: 72px;"><i>Customized support</i></li>
    </ul>
  </div>

  <div id="compare-cont-ja" class="compare-cont compare-cont-ja">
    <table id="compare-cont-table-ja">
      <thead>
        <tr>
          <th class="individuals-plan" colspan="2">Personal plan</th><th class="enterprises-plan" colspan="2">Corporate Plan</th>
        </tr>
        <tr>
          <th>Free plan</th>
          <th class="dev-plan">Developer<span>$20/mo</span></th>
          <th class="personal-plan">Pro plan<!-- span>$9.5/mo</span --></th>
          <th>Business plan<!-- span>$49/mo</span --></th> 
          <th>Enterprise plan<!-- span>$78/mo</span --></th>
        </tr>
      </thead>

      <tbody>
      <tr>
        <td></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i><br><span>※limitations of build<br />while in Trial period</span></td>
        <td></td>
      </tr>
      <tr>
        <td>Free</td>
        <td class="personal-plan">$20</td>
        <td>$70</td>
        <td>$1000</td>
      </tr>
      <tr>
        <td>Free</td>
        <td class="personal-plan"></td>
        <td>$385</td>
        <td>$5,500</td>
      </tr>
      <tr>
        <td>Free</td>
        <td class="personal-plan">$200</td>
        <td>$700</td>
        <td>$10,000</td>
      </tr>
      <tr>
        <td></td>
        <td class="personal-plan"></td>
        <td>1<br><span>※5 while in Trial period</span></td>
        <td>5</td>
      </tr>
      <tr>
        <td></td>
        <td class="personal-plan"></td>
        <td>$50</td>
        <td>$100</td>
      </tr>
      <tr>
        <td></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i><br><span>※6 months or 1 year<br />license only</span></td>
        <td><i>Yes</i></td>
      </tr>
      </tbody>
    </table>

    <table>
      <tbody>
      <tr>  <!-- IDE -->
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>  <!-- CLI -->
        <td><i>Yes</i><br><span>※30 Day Trial</span></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>  <!-- Monaca Localkit -->
        <td><i>Yes</i><br><span>※30 Day Trial</span></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i><!-- Trial --></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>3</td>
        <td class="dev-plan">10</td>
        <td class="personal-plan">10</td>
        <td>100<span>/Developer</span></td>
        <td>100<span>/Developer</span></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>1</td>
        <td class="dev-plan">5</td>
        <td class="personal-plan">2</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>3<span>/day</span></td>
        <td class="dev-plan">Unlimited</td>
        <td class="personal-plan">Unlimited</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i><br /><span>※excluded in Trial version</span></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i><br /><span>※excluded in Trial version</span</td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i><br /><span>※ Charged per project</span><br>$30<span>/Project</td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td>Only the latest 2 versions</td>
        <td class="dev-plan">Only the latest 2 versions</td>
        <td class="personal-plan">Only the latest 2 versions</td>
        <td>Old versions available</td>
        <td>Old versions available</td>
      </tr>
      <tr><!-- ストレージ -->
        <td>250<span>MB</span></td>
        <td class="dev-plan">1<span>GB</span></td>
        <td class="personal-plan">1<span>GB</span></td>
        <td>10<span>GB/Developer</span></td>
        <td>10<span>GB/Developer</span></td>
      </tr>
      <tr><!-- プロジェクト自動退避 -->
        <td><i>Yes</i></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td></td>
        <td></td>
      </tr>
      <tr><!-- 自動退避されたプロジェクトの復旧 -->
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      </tbody>
    </table>

    <table>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
    </table>

    <table><!-- 企業向けプラン機能 -->
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i><br /><span>※ Charged per project</span></td>
        <td>Unlimited<br /><span>※ Charged per project</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
    </table>

    <table><!-- バックエンドサービス -->
      <tr>
        <td>1,000<span>/month</span></td>
        <td class="dev-plan">1,000<span>/month</span></td>
        <td class="personal-plan">1,000<span>/month</span></td>
        <td>100,000<span>/month<span></span></td>
        <td>100,000<span>/month</span></td>
      </tr>
      <tr>
        <td>100,000<span>/month</span></td>
        <td class="dev-plan">100,000<span>/month</span></td>
        <td class="personal-plan">100,000<span>/month</span></td>
        <td>5,000,000<span>/month<span></span></td>
        <td>5,000,000<span>/month</span></td>
      </tr>
      <tr>
        <td>3</td>
        <td class="dev-plan">10</td>
        <td class="personal-plan">10</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
    </table>

    <table><!-- サポート & サービス -->
      <tr>
        <td><i>Yes</i></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"><i>Yes</i></td>
        <td class="personal-plan"><i>Yes</i></td>
        <td><i>Yes</i></td>
        <td><i>Yes</i></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan">0<span></span></td>
        <td class="personal-plan">None<span></span></td>
        <td>1 ticket<span>/30min</span></td>
        <td>1 ticket<span>/30min</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan">Purchase on demand <br />1 ticket -<span></span>$100<span>/</span>30<span>min</span></td>
        <td class="personal-plan">Purchase on demand<br />1 ticket -<span></span>$100<span>/</span>30<span>min</span></td>
        <td>Advance purchase <br />1 ticket -<span></span>$100<span>/</span>30<span>min</span></td>
        <td>Advance purchase <br />1 ticket -<span></span>$100<span>/</span>30<span>min</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td colspan="2">
          <div style="display: flex; justify-content: center;">
            <div style="text-align: left;">
              10<span> ticket pack/</span>5<span>hrs:</span><br />
              50<span> ticket pack/</span>25<span>hrs:</span><br />
              100<span> ticket pack/</span>50<span>hrs:</span>
            </div>
            <div style="text-align: left; margin-left: 10px;">
              $1,000<br />
              $4,500<br />
              $8,000
            </div>
          </div>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td>$972<span>/application/year</span></td>
        <td rowspan="3">Unlimited use within the contract company in the Enterprise plan</td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td>$972<span>/application/year</span></td>
      </tr>
      <tr>
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td>$972<span>/application/year</span></td>
      </tr>
    </table>

    <table>
          <tr style="height: 72px;">
            <td>10 <span>Builds/month</span></td>
            <td class="dev-plan" rowspan="2">10 <span>Builds/month</span></td>
            <td class="personal-plan" rowspan="2">10 <span>Builds/month</span><br />
              +<br />
              Additional Ticket<br />
              $100/50 times
            </td>
            <td rowspan="2">30 <span>Builds/month</span><br />
              +<br />
              Additional Ticket<br />
              $100/50 times
            </td>
            <td rowspan="2">30 <span>Builds/month</span><br />
              +<br />
              Additional Ticket<br />
              $100/50 times
            </td>
          </tr>
    </table>

    <table class="compare-cont-support">
      <tr style="height: 72px;">
        <td></td>
        <td class="dev-plan"></td>
        <td class="personal-plan"></td>
        <td></td>
        <td>Dedicated build server<br />Customized Environment</td>
      </tr>
    </table>
  </div>

  <p class="compare-contact">
    Have questions about pricing? <a href="/support/inquiry.html">Contact Us.</a>
  </p>

  <div class="compare-trial">
    <p>14 day free trial on all plans.</p>
    <span><a href="javascript::void(0)" class="btn btn-green btn-trial">Start a 14 day Free Trial</a></span>
  </div>
</div>
