---
title: Pricing
class: pricing
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---
<div id="important-info-en-el"></div>
<div class="container" id="pricing-container">
    <h1>Pricing</h1>

    <ul class="plan-type-col-2">
        <li><div class="individuals-plan">Personal use</div>
            <ul class="plan column-4">
                <li class="box-1">
                    <h2>FREE</h2>
                    <div class="price annual">
                        <div class="amount-jpy">Free</div>
                    </div>
                    <ul class="features free">
                        <li><span>Cloud IDE</span></li>
                        <li><span>Debugging tool</span></li>
                        <li><span>3</span> projects</li>
                        <li><span>3 remote builds</span>/24hrs</li>
                        <li><span>Community Support</span></li>
                    </ul>
                </li>
                <li class="box-1">
                    <h2>PRO</h2>
                    <div class="price annual">
                        <div class="amount-jpy">$20</div>
                        <div class="period-jpy">/mo</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">Annual discount: $200</div>
                    </div>
                    <ul class="features">
                        <li><span class="all-features">All of the Free Plan features</span></li>
                        <li><span>Local Development</span></li>
                        <li><span>Custom Cordova Plugins</span></li>
                        <li><span>10</span> projects</li>
                        <li><span>Unlimited</span> remote builds</li>
                        <li><span>No Technical support</span></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><div class="enterprises-plan">Recommended for team use</div>
            <ul class="plan column-4">
                <li class="box-1 popular">
                    <h2>BUSINESS</h2>
                    <div class="price annual">
                        <div class="amount-jpy">$70</div>
                        <div class="period-jpy">/mo</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">Annual discount: $700</div>
                    </div>
                    <ul class="features">
                        <li><span class="all-features">All of the Pro Plan features</span></li>
                        <li><span>Enterprise plugins</span></li>
                        <li><span>Account Management</span></li>
                        <li><span>Project Sharing</span></li>
                        <li><span>100</span> projects</li>
                        <li><span>Technical support</span></li>
                    </ul>
                </li>
                <li class="box-1">
                    <h2>ENTERPRISE</h2>
                    <div class="price annual">
                        <div class="amount-jpy">$100</div>
                        <div class="period-jpy">/mo</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">Annual discount: $1,000</div>
                    </div>
                    <ul class="features">
                        <li><span>Minimum purchase of 5 licenses required</span></li>
                        <li>Unlimited use of <br><span>Enterprise plugins</span></li>
                        <li><span>On-premise deployment options</span></li>
                        <li><span>Customized support</span></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div class="box-try" style="height: 60px; padding: 0; margin-bottom: 80px;">
        <a href="javascript::void(0)" class="btn btn-green btn-trial" style="width: 600px;">Start a 14 day Free Trial</a>
    </div>

    <div class="additional-plan">
        <h2>Additional Features</h2>
        <p>Enterprise plan includes unlimited use of the following features. <a href="https://docs.monaca.io/en/reference/power_plugins/" target="_blank">Find out more</a></p>
        <table>
            <tr>
                <td>App Logic Encryption</td>
                <td>$900/year</td>
            </tr>
            <tr>
                <td>Secure Storage</td>
                <td>$900/year</td>
            </tr>
            <tr>
                <td>In-App Updater</td>
                <td>$900/year</td>
            </tr>
        </table>
    </div>
</div>
