---
title: Pricing
class: prices
---

<h1>Pricing</h1>

<section>
    <h2>Monaca Cloud</h2>

    <p>Monaca Cloud is an HTML5 app development platform for both individuals and enterprises. It offers 4 plans starting with the free Basic Plan. <br />Get more details on the <a href="https://monaca.mobi/en/pricing">Monaca Cloud pricing page</a>.</p>
    <ul class="planlist">
        <li class="plan">
            <h2>Basic</h2>
            <p class="price"><em>Free</em></p>
        </li>
        <li class="plan">
            <h2>Personal</h2>
            <p class="price"><em>980</em>yen/mo<br />(9,800yen/yr)</p>
        </li>
        <li class="plan recommend">
            <h2>Gold</h2>
            <p class="price"><em>5,000</em>yen/mo<br />(50,000yen/yr)</p>
        </li>
        <li class="plan">
            <h2>Platinum</h2>
            <p class="price"><em>8,000</em>yen/mo<br />(80,000yen/yr</p>
        </li>
    </ul>
    <p class="annotation">* Tax included<br /><a href="https://monaca.mobi/en/support/inquiry" class="btn btn-blue">Contact Us</a>
    </p>
</section>

<section>
    <h2>Monaca Academic Plan</h2>

    <p>Monaca Cloud offers special plans and discounts for educational institutions such as universities and technical colleges. <br />Get more details on the <a href="http://monaca.mobi/en/academic">Monaca Academic Plan page</a>.</p>
    <ul class="planlist">
        <li class="plan">
            <div class="summary">
                <h2>Basic<span class="yeah">&nbsp</span></h2>
                <p class="price"><em>Free</em></p>
            </div>
        </li>
        <li class="plan">
            <div class="summary">
                <h2>Education<br /><span class="yeah">Only for educational institutions</span></h2>
                <p class="price"><em>980</em>yen/mo<br />(9,800yen/yr)</p>
            </div>
        </li>
        <li class="plan">
            <div class="summary">
                <h2>Gold<br /><span class="yeah">40%OFF</span></h2>
                <p class="price"><em>2,500</em>yen/mo<br />(25,000yen/yr)</p>
            </div>
        </li>
        <li class="plan">
            <div class="summary">
                <h2>Platinum<br /><span class="yeah">40%OFF</span></h2>
                <p class="price"><em>3,200</em>yen/mo<br />(32,000yen/yr)</p>
            </div>
        </li>
    </ul>
    <p class="annotation">* Tax included<br /><a href="https://monaca.mobi/en/support/inquiry" class="btn btn-blue">Contact Us</a>
    </p>
</section>

<section class="enterprise">
    <h2>Monaca Enterprise</h2>
    <p>Monaca Enterprise is a Cordova/PhoneGap based app development and management platform, ideal for enterprise app development. Subscriptions are licensed to enterprises only.</p>

    <div class="plan">
        <h2>Enterprise</h2>
        <div class="summary">
            <dl>
                <dt>Initial Setup Fees:</dt>
                <dd><em>Free</em></dd>
            </dl>
            <dl>
                <dt>Basic Fees:</dt>
                <dd><em>162,000</em>yen/mo</dd>
            </dl>
            <dl>
                <dt>5 additional licenses:</dt>
                <dd><em>54,000</em>yen/mo</dd>
            </dl>
        </div>
        <a class="btn btn-blue" href="https://monaca.mobi/en/support/inquiry/enterprise">Contact Us</a>
    </div>
    <p class="annotation">* Tax included</p>
</section>

<section class="kidozen">
    <h2>Enterprise mBaaS KidoZen</h2>
    <p>The enterprise mBaaS KidoZen is offered as one of the optional services from Monaca Enterprise.</p>

    <div class="plan">
        <h2>Enterprise <br class="opt" /> mBaaS KidoZen</h2>
        <div class="summary">
            <dl>
                <dt>Pricing:</dt>
                <dd><em>Open price</em></dd>
            </dl>
            <p>We will provide a quote based on your requested services, number of users, API calls and other specifications.</p>
        </div>
        <a class="btn btn-blue" href="https://monaca.mobi/en/support/inquiry/enterprise">Contact Us</a>
    </div>
</section>
