---
title: Pricing
class: pricing
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
---
<div id="important-info-en-el"></div>
<div class="container" id="pricing-container" style="display: none;">
    <h1>Pricing</h1>
    <div class="trial plan-en" style="display: none;">
        <p>14 day unlimited free trial on all monthly plans.</p>
        <div class="box-try">
            <a href="#" class="btn btn-green" id="btn-trial">Start a free trial</a>
        </div>
    </div>

    <!-- Old plan -->
    <ul class="plan column-4 plan-en hr-short" style="display: none;">
        <li class="box-1" tile="4">
            <h2>BASIC</h2>
            <div class="price annual">
                <div class="amount">Free</div>
            </div>
            <ul class="features free">
                <li><span>3</span> online projects</li>
                <li><span>250MB</span> storage</li>
                <li><span>Local development</span> <br />Free CLI + Localkit trial</li>
                <li><span>Remote</span> push notifications</li>
                <li><span>Community</span> Forum</li>
            </ul>
            <div class="detail-box">
                <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
            </div>
        </li>
        <li class="box-1">
            <h2>DEVELOPER</h2>
            <div class="price annual">
                <div class="currency">$</div>
                <div class="amount">190</div>
                <div class="period">/yr</div>
                <div class="acutual">Actual charge:<span>19,600JPY</span></div>
            </div>
            <div class="price monthly">
                <div class="amount">$19/mo</div>
                <div class="acutual">Actual charge:<span>1,960JPY</span></div>
            </div>
            <ul class="features">
                <li><span>10</span> online projects</li>
                <li><span>1GB</span> storage</li>
                <li><span>Unlimited</span> remote builds</li>
                <li><span>Technical</span> support</li>
                <li><span>Monaca CLI</span> and<span> Localkit</span></li>
                <li><span>Custom</span> Cordova plugin</li>
            </ul>
            <div class="detail-box">
                <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
            </div>
        </li>
        <li class="box-1 popular">
            <h2>GOLD</h2>
            <div class="price annual">
                <div class="currency">$</div>
                <div class="amount">490</div>
                <div class="period">/yr</div>
                <div class="acutual">Actual charge:<span>50,000JPY</span></div>
            </div>
            <div class="price monthly">
                <div class="amount">$49/mo</div>
                <div class="acutual">Actual charge:<span>5,000JPY</span></div>
            </div>
            <ul class="features">
                <li><span>100</span> online projects</li>
                <li><span>10GB</span> storage</li>
                <li><span>Team</span> development</li>
                <li><span>Monaca for Visual Studio</span></li>
                <li><span>Custom</span> Cordova plugin</li>
                <li><span>1 Monthly</span> support ticket</li>
            </ul>
            <div class="detail-box">
                <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
            </div>
        </li>
        <li class="box-1">
            <h2>PLATINUM</h2>
            <div class="price annual">
                <div class="currency">$</div>
                <div class="amount">780</div>
                <div class="period">/yr</div>
                <div class="acutual">Actual charge:<span>80,000JPY</span></div>
            </div>
            <div class="price monthly">
                <div class="amount">$78/mo</div>
                <div class="acutual">Actual charge:<span>8,000JPY</span></div>
            </div>
            <ul class="features">
                <li><span>Unlimited</span> online projects</li>
                <li><span>20GB</span> storage</li>
                <li><span>Unlimited</span> remote builds</li>
                <li><span>2 Monthly</span> support tickets</li>
            </ul>
            <div class="detail-box">
                <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
            </div>
        </li>
    </ul>

    <!-- New plan -->
    <ul class="plan-type-col-2 plan-ja" style="display: none;">
        <li><div class="individuals-plan">Personalized plan</div>
            <div class="box-try">
                <a href="#" class="btn btn-green" id="btn-trial">無料で今すぐ開始</a>
            </div>
            <ul class="plan column-4">
                <li class="box-1" tile="4">
                    <h2>FREE</h2>
                    <div class="price annual">
                        <div class="amount">Free</div>
                    </div>
                    <ul class="features free">
                        <li><span>Monaca Cloud IDE</span></li>
                        <li><span>Monaca Debugger</span></li>
                        <li><span>3</span> online projects</li>
                        <li><span>3 days</span> remote builds</li>
                        <li><span>Community</span> Forum</li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
                <li class="box-1">
                    <h2>PRO</h2>
                    <div class="price annual">
                        <div class="currency">&yen;</div>
                        <div class="amount">2,160</div>
                        <div class="period">/mo</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">&yen;21,600/yr</div>
                    </div>
                    <ul class="features">
                        <li><span>Freeプランの全機能</span></li>
                        <li><span>ローカル開発</span></li>
                        <li><span>カスタムCordovaプラグイン</span></li>
                        <li><span>プロジェクト共有</span></li>
                        <li><span>10</span> online projects</li>
                        <li><span>Unlimited</span> remote builds</li>
                        <li><span>Technical support</span><br />(サポートチケット用購入)</li>
                        <li><span>クレジット払いのみ</span></li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
            </ul>
        </li>
        <li><div class="enterprises-plan">Corporate Plan</div>
            <div class="box-try">
                <a href="#" class="btn btn-green enterprises-btn" id="btn-enterprises-trial">企業向け14日間<br class="opt">無料トライアル開始</a>
            </div>
            <ul class="plan column-4">
                <li class="box-1 popular">
                    <h2>BUSINESS</h2>
                    <div class="price annual">
                        <div class="currency">&yen;</div>
                        <div class="amount">7,560</div>
                        <div class="period">/mo</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">&yen;41,580/6ヶ月</div>
                        <div class="amount">&yen;75,600/yr</div>
                        <div class="amount">(1開発ライセンス込)</div>
                    </div>
                    <ul class="features">
                        <li><span>Proプランの全機能</span></li>
                        <li><span>エンタープライズプラグイン</span><br />（オプション利用）</li>
                        <li><span>アカウント管理</span></li>
                        <li><span>100</span> online projects</li>
                        <li><span>1 Monthly</span> support ticket</li>
                        <li><span>請求書払い</span> (半年以上)</li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
                <li class="box-1">
                    <h2>ENTERPRISE</h2>
                    <div class="price annual">
                        <div class="currency">&yen;</div>
                        <div class="amount">108,000 </div>
                        <div class="period">/mo</div>
                    </div>
                    <div class="price monthly">
                        <div class="amount">&yen;594,000/6ヶ月</div>
                        <div class="amount">&yen;1,080,000/yr</div>
                        <div class="amount">(5開発ライセンス込)</div>
                    </div>
                    <ul class="features">
                        <li><span>Businessプランの全機能</span></li>
                        <li><span>エンタープライズプラグイン</span><br />（組織内無制限利用）</li>
                        <li><span>テクニカルサポート</span></li>
                        <li><span>請求書払い</span></li>
                        <li><span>カスタマイズ対応</span></li>
                    </ul>
                    <div class="detail-box">
                        <a href="pricing-detail.html" target="_blamk">Compare in Detail</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>


    <ul class="plan enterprise column-1 clearfix plan-en" style="display: none;">
        <li class="box-1 clearfix">
            <div class="col-1">
                <h2>POWER PLUGINS</h2>
                <div class="price annual">
                    <div class="currency">$</div>
                    <div class="amount">50</div>
                    <div class="period">/mo/feature/app</div>
                </div>
            </div>
            <div class="col-2">
                <p>Maximize security and performance of your app with our Power Plugins:</p>
                <ul class="features">
                    <li><span>App Encryption</span></li>
                    <li><span>Data Encryption</span></li>
                    <li><span>In-App Updates</span></li>
                    <li><span>In-App Purchases</span></li>
                </ul>
                <p>Contact us to access our special promotion and add new feature for $50 per application per month.</p>
            </div>
        </li>
    </ul>
    <ul class="other-plan column-2 clearfix plan-en" style="display: none;">
        <li class="box-1">
            <h2>ACADEMIA?</h2>
            <p>We offer discounted licenses for students and teachers at academic and training facilities. <a href="/support/inquiry.html">Contact us</a> for customized academic program. </p>
        </li>
        <li class="box-1">
            <h2>MORE THAN 3 USERS?</h2>
            <p>We offer volume licenses when purchasing more than 3 licenses at the same time.<br /><a href="/support/inquiry.html">Contact us</a> for volume discount</p>
        </li>
    </ul>
    <div class="additional-plan plan-en" style="display: none;">
        <h2>ADDITIONAL SUPPORT TICKETS</h2>
        <table>
            <tr>
                <th>Ticket Menu</th>
                <th>Price</th>
                <th>Vaild for</th>
            </tr>
            <tr>
                <td>Single Ticket</td>
                <td>$50/ticket</td>
                <td>12 months</td>
            </tr>
        </table>
        <ul class="attention">
            <li>* Support tickets cannot be shared with other users.</li>
            <li>* We cannot refund a support ticket once it is purchased.</li>
        </ul>
    </div>

    <div class="academic-plan plan-ja" style="display: none;">教育機関向けプラン</div>
    <ul class="plan enterprise column-1 clearfix plan-ja" style="display: none;">
        <li class="box-1 clearfix">
            <div class="col-1">
                <h2>アカデミックプラン</h2>
            </div>
            <div class="col-2">
                <p>教育や研究にMonacaをご利用いただく教育機関を中心に、専用プランや割引プランをご用意しています。<a href="https://edu.monaca.io/" target="_blank">アカデミックプランの詳細はこちら。</a></p>
            </div>
        </li>
    </ul>

    <div class="additional-plan plan-ja" style="display: none;">
        <h2>オプション費用</h2>
        <h3>エンタープライズプラグイン<br class="opt">（Businessプラン対象）</h3>
        <table>
            <tr>
                <th>プラグイン名</th>
                <th>価格（税込み）</th>
            </tr>
            <tr>
                <td>アプリロジック暗号化</td>
                <td>&yen;97,200/アプリ/yr</td>
            </tr>
            <tr>
                <td>セキュアストレージ</td>
                <td>&yen;97,200/アプリ/yr</td>
            </tr>
            <tr>
                <td>In-Appアップデーター</td>
                <td>&yen;97,200/アプリ/yr</td>
            </tr>
        </table>
        <ul class="attention">
            <li>* 各プランの詳細は<a href="">こちら</a>をご覧ください。</li>
            <li>* Enterpriseプランでは契約企業内で無制限にご利用いただけます。</li>
        </ul>
    </div>

    <div class="additional-plan plan-ja" style="display: none;">
        <h3>サポートチケット</h3>
        <table>
            <tr>
                <th>契約形態</th>
                <th>チケット数（時間）</th>
                <th>価格（税込み）</th>
                <th>有効期限</th>
            </tr>
            <tr>
                <td>Single Ticket</td>
                <td>1枚（30分）</td>
                <td>10,800円</td>
                <td>1年間</td>
            </tr>
            <tr>
                <td>10チケットパック</td>
                <td>10枚（5時間）</td>
                <td>108,000円</td>
                <td>1年間</td>
            </tr>
            <tr>
                <td>50チケットパック</td>
                <td>50枚（25時間）</td>
                <td>486,000円</td>
                <td>1年間</td>
            </tr>
            <tr>
                <td>100チケットパック</td>
                <td>100枚（50時間）</td>
                <td>864,000円</td>
                <td>1年間</td>
            </tr>
        </table>
        <ul class="attention">
            <li>* テクニカルサポートの詳細は<a href="">こちら</a>をご覧ください。</li>
            <li>* チケットパックはBusinessプラン、Enterpriseプランが対象となります。</li>
        </ul>
    </div>

    <div class="additional-plan plan-en" style="display: none;">
        <h2>ACTIVATION CODE</h2>
        <div class="box">
            <p>Select here if you have the activation code.</p>
            <div class="box-try">
                <a href="https://monaca.mobi/en/payment/activation_code_input" class="btn btn-blue">Use Activation Code</a>
            </div>
        </div>
    </div>

</div>