---
title: Support & Services
class: support
description: Help desk support is provided for Monaca’s paid users. Our professional Monaca Support Team will help you solve issues that cannot be resolved on the Monaca Forum, or that require an immediate response. We also provide code review and sample code as needed.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
---

<div class="keyvisual box-full"><div>
    <h1><img src="/img/support/logo.png" alt="Monaca Service &amp; Support" /><br />Technical Support by HTML5 Hybrid App Development Experts</h1>
</div></div>

<section class="tech">
    <h1>Monaca Technical Support</h1>
    <img src="/img/support/img_1.jpg" alt="" class="alignright" />

    <div class="tech-cont">
        <p>Help desk support is provided for Monaca’s paid users. Our professional Monaca Support Team will help you solve issues that cannot be resolved on the Monaca Forum, or that require an immediate response. We also provide code review and sample code as needed.</p>

        <p>Monaca Technical Support is a ticket-based service. Get more details on the <a href="/service/">contact page</a>.</p>
    </div>
</section>

<section>
    <h2>HTML5 Hybrid App Development Support Service</h2>

    <p>We offer end-to-end support for all kinds of technical challenges related to HTML5 hybrid app　development. Asial provides full support for your app development projects, leveraging our proven experience and knowledge gained from developing Monaca and numerous other apps. We support a wide range of technologies including HTML5, Cordova, Monaca, Onsen UI, AngularJS and more for your HTML5 hybrid app development.</p>
    <img src="/img/support/img_2.png" alt="" />
</section>

<section>
    <h2>HTML5 Hybrid App Development Training</h2>

    <p>We offer various training programs for HTML5 and JavaScript hybrid mobile apps (HTML5 hybrid apps) using Monaca, our HTML5 mobile app development tool. You can choose from a full range of training from JavaScript basics to simple app development. You can also customize it for your corporate training program needs.</p>

    <img src="/img/support/img_3.png" alt="" />
</section>

<section class="forum">
    <h2>Monaca Forum</h2>

    <p>The Monaca Forum is available for all Monaca users. The Monaca Forum lets you ask for any kind of advice about technical issues, and share useful tips with other community members when developing apps with Monaca. <br />You can also contact us with requests and bug reports from here.</p>

    <p style="text-align: center;"><a href="https://{{site.monaca_api}}/en/forum">Go to Monaca Forum <i class="glyphicon glyphicon-menu-right"></i></a></p>
</section>
