---
title: Monaca - HTML5ハイブリッドアプリ開発支援
class: support
description: HTML5ハイブリッドアプリ開発を支援するサービス、トレーニングのご紹介をしています。
keywords: Monaca,HTML5,Cordova,PhoneGap,サポート
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---

<div class="keyvisual box-full"><div>
    <h1><img src="/img/support/logo.png" alt="Monaca Service &amp; Support"/><br />HTML5ハイブリッドアプリ開発の<br />専門スタッフによる<br />技術支援提供</h1>
</div></div>

<section class="tech">
    <h1>Monaca<br class="visible-xs" />テクニカルサポート</h1>
    <img src="/img/support/img_1.jpg" alt="" class="alignright" />

    <div class="tech-cont">
        <p>Monacaを有料でご利用されている方専用のヘルプデスクサービスです。Monacaフォーラムで公開することができない課題や、すぐに適切な回答が必要な場合に、専門知識をもったMonacaサポートチームが直接対応いたします。必要に応じて、お客様のソースコードの確認やサンプルコードの提示などにも対応いたします。</p>
        <p>Monacaテクニカルサポートはチケット制サービスとして提供されます。詳しくは<a href="/service/">問い合わせ窓口</a>の内容をご確認ください。</p>
    </div>
</section>

<section>
    <h2>HTML5ハイブリッドアプリ<br class="visible-xs" />開発サポートサービス</h2>

    <p>HTML5ハイブリッドアプリ開発全般に関する、技術的な課題解決をご支援いたします。これまでMonacaの開発や、実際にアプリ開発プロジェクトの中で得られたノウハウをもとに、アシアルがお客様のアプリ開発プロジェクトをサポート致します。HTML5、Cordova、Monaca、Onsen UI、AngularJSなど、HTML5ハイブリッドアプリ開発に必要となる幅広い技術をサポートいたします。</p>
    <p>詳しくは<a href="/dev-support">HTML5ハイブリッドアプリ開発支援サービス</a>をご覧ください。</p>
    <img src="/img/support/img_2.png" alt="" />
</section>

<section>
    <h2>HTML5ハイブリッドアプリ<br class="visible-xs" />開発トレーニング</h2>

    <p>HTML5モバイルアプリ開発ツールMonacaを使った、HTML5とJavaScriptによるハイブリッド型のモバイルアプリ（HTML5ハイブリッドアプリ）開発のトレーニングプログラムを提供いたします。JavaScriptの基礎から、簡単なモバイルアプリの開発まで各種トレーニングメニューを取りそろえており、要望に応じてカスタマイズした企業研修への対応も可能です。</p>
    <p style="text-align: center;">詳しくは<a href="/service/training.html">アプリ講座一覧</a>をご覧ください。</p>

    <img src="/img/support/img_3.png" alt="" />
</section>

<section class="forum">
    <h2>Monacaフォーラム</h2>

    <p>Monacaフォーラムは全てのMonacaユーザーに提供されます。Monacaを使ったアプリ開発の開発中に発生した技術的な課題や質問について他のユーザーからアドバイスを求めたり、開発に際して役に立つTipsなどの情報を他のユーザーと共有したりすることを目的としています。<br />Monacaへのご要望や不具合と疑われる点の報告などにもご利用ください。</p>

    <p style="text-align: center;"><a href="https://monaca.mobi/ja/forum">フォーラムを利用する <i class="glyphicon glyphicon-menu-right"></i></a></p>
</section>
