---
title: Monaca for RPGツクール - RPGツクールで制作したゲームが簡単スマホアプリ化
class: rpg-tkool
description: Monaca for RPGツクールではRPGツクールで制作したゲームを簡単にiOS、Andoroid向けのスマホアプリ化をすることができます。AppStoreやGoogle Playでゲームを公開することができるようになります。
---

<div id="keyvisual" class="keyvisual box-full">
    <div class="keyvisual-container">
      <h2>Monaca for RPGツクールで簡単スマホアプリ化<br class="hidden-xs">自作のゲームをアプリストアで公開・販売しよう！</h2>
      <div class="box-try">
          <a href="/register/start.html" class="btn btn-green">まずは無料お試し</a>
      </div>
    </div>
</div>

<div class="container section section-vshort">
    <h2>Monaca for RPGツクールとは</h2>
    <p>Monaca for RPGツクールは、RPGツクールMVで作ったゲームを簡単にiOS、Android向けのスマホアプリ化できるサービスです。<br>これまでスマホアプリ化に必要だった開発環境のセットアップは一切不要。<br>スマホアプリはApp StoreやGoogle Playストアで無料公開したり販売することが可能です。</p>          
</div>

<div class="container section section-full rpg-image ">
    <img src="/img/rpg-tkool/img_01.png" alt="">
</div>

<div class="container section features">
    <h2>Monaca for RPGツクールの3つの特徴</h2>
    <ul class="column-3">
        <li class="" tile="3">
            <img src="/img/rpg-tkool/icn_capacity.png" alt="大容量アプリ対応">
            <h3>大容量アプリ対応</h3>
            <p>Androidのアプリサイズ制限も気にせずアプリをリリースできます。大容量対応機能では、アプリのリソースをMonacaが代わりにサーバー管理します。</p>
        </li>
        <li class="" tile="3">
            <img src="/img/rpg-tkool/icn_easy.png" alt="簡単アプリ化">
            <h3>簡単アプリ化</h3>
            <p>これまで面倒だったアプリ開発環境は一切不要。Monaca for RPGツクールにサインアップするだけでRPGツクールMV製のゲームをスマホアプリ化できます。</p>
        </li>
        <li class="" tile="3">
            <img src="/img/rpg-tkool/icn_app.png" alt="MacなしでiOSアプリ化">
            <h3>MacなしでiOSアプリ化</h3>
            <p>Monacaを利用すれば、Macを持っていなくてもiOSアプリ化が可能。App Storeにもアプリを公開することができます。</p>
        </li>
    </ul>
</div>

<div class="container section showcase">
    <h2>制作スマホゲーム紹介</h2>
    <p>RPGツクールで実際に制作されたアプリをMonaca for RPGツクールでiOS・Android向けにパッケージングしてサンプルアプリとして公開しています。それぞれAppStoreとGoogle Play ストアからダウンロードして遊べます。</p>
    <dl class="column-1 clearfix">
        <dt><img src="/img/rpg-tkool/img_02.jpg" alt=""></dt>
        <dd>
            <img class="icon" src="/img/rpg-tkool/icn_app_nina.png" alt="アプリアイコン：ニナと鍵守の勇者MV">
            <h3>ニナと鍵守の勇者MV</h3>
            <p>RPGツクールMVで制作されたファンタジーRPGの序章。片田舎の平和な村で、剣術の修行に励む少年剣士アルド。とある少女との出会いが、彼を冒険の旅へといざなう・・・</p>
            <h4>「ニナと鍵守の勇者MV」の入手はこちらから</h4>
            <div class="btn-area">
                <a href="https://itunes.apple.com/jp/app/%E3%83%8B%E3%83%8A%E3%81%A8%E9%8D%B5%E5%AE%88%E3%81%AE%E5%8B%87%E8%80%85mv/id1226381521?mt=8" target="_blank"><img src="/img/rpg-tkool/bdg_appstore.png" alt="AppStore" target="_blank"></a>
                <a href="https://play.google.com/store/apps/details?id=io.monaca.rpg.nina.and.keeper.of.the.key.inappupdater" target="_blank"><img src="/img/rpg-tkool/bdg_googleplay.png" alt="Google Play"></a>
            </div>
        </dd>
    </dl>
    <dl class="column-1 clearfix">
        <dt><img src="/img/rpg-tkool/img_03.jpg" alt=""></dt>
        <dd>
            <img class="icon" src="/img/rpg-tkool/icn_app_emile.png" alt="アプリアイコン：エミールの小さな冒険">
            <h3>エミールの小さな冒険</h3>
            <p>エミールは山間の小さな村に住む、魔法使いを目指す普通の子供。<br>ある日、仲間達と一緒に遊ぶうちに思わぬトラブルに巻き込まれてしまうが持ち前の勇気で解決していく。森や洞窟での小さな冒険がエミール達を待つ。</p>
            <h4>「エミールの小さな冒険」の入手はこちらから</h4>
            <div class="btn-area">
                <a href="https://itunes.apple.com/jp/app/%E3%82%A8%E3%83%9F%E3%83%BC%E3%83%AB%E3%81%AE%E5%B0%8F%E3%81%95%E3%81%AA%E5%86%92%E9%99%BA/id1226246996?mt=8" target="_blank"><img src="/img/rpg-tkool/bdg_appstore.png" alt="AppStore"></a>
                <a href="https://play.google.com/store/apps/details?id=io.monaca.rpg.emile_small_adventure" target="_blank"><img src="/img/rpg-tkool/bdg_googleplay.png" alt="Google Play"></a>
            </div>
        </dd>
    </dl>
</div>

<div class="container section pricing">
    <h2>ご利用料金</h2>
    <table class="m-table rpg-pricing">
        <tr>
            <th>メニュー</th>
            <th>価格</th>
            <th>有効期限</th>
        </tr>
        <tr>
            <td>1アプリ</td>
            <td>980円</td>
            <td>3か月</td>
        </tr>
    </table>
    <ul class="attention">
        <li>* 上記価格は税抜き価格になります。</li>
        <li>* App StoreおよびGoolge Playストアでスマホアプリを公開するためにはApple Developer Program（有料）およびGoogleディベロッパーアカウント（有料）がそれぞれ必要になります。</li>
    </ul>
</div>

<div class="container section requirement">
    <h2>Monaca for RPGツクールの動作環境</h2>
    <ul>
        <li>Monaca for RPGツクール MVの推奨環境<br class="visible-xs">(ブラウザー) :<span> Google Chrome 最新バージョン</span></li>
        <li>ビルドしたアプリの動作環境 :<span>Android 5.0以上 iOS 8以降</span></li>
    </ul>
</div>

<div class="container section showcase rpgtkoolmv">
    <h2>RPGツクールMVとは？</h2>
    <dl class="column-1 clearfix">
        <dt><img src="/img/rpg-tkool/img-tkool01.png" alt="RPGツクールMV"></dt>
        <dd>
            <p>RPGツクールは、「プログラムを覚えないで簡単にゲームを作りたい」というユーザーの思いをかなえるために生まれた、簡単にオリジナルRPGを作ることができるソフトです。 RPGを作るのに必要なグラフィックや音楽データもソフトの中に同梱されているので、アイデアさえあれば、どなたでも気軽にゲーム制作をお楽しみいただくことができます。 もちろん、オリジナリティーのあふれるゲームを作成ために、自作のグラフィックや音楽なども、自由に使用することもできます。 あなたもゲーム制作に挑戦して、作る楽しみ、プレイされる感動を是非あじわってみてください。</p>
            <div class="box-try">
                <a href="http://tkool.jp/mv/" class="btn btn-blue" target="_blank">詳しくは公式サイトへ</a>
            </div>
        </dd>
    </dl>
</div>

<div class="container section section-full trial">
    <div class="box-try">
          <a href="/register/start.html" class="btn btn-green">まずは無料お試し</a>
      </div>
</div>
