---
title: Cross Platform App Development with Visual Studio | Monaca
class: visualstudio
description: Monaca is now integrated with Visual Studio. Develop cross platform apps in no time using your familiar development environment and web technologies.
image: https://ja.monaca.io/img/visualstudio/ogimage.jpg
---

<div class="keyvisual box-full">
    <div>
        <h1><img src="/img/visualstudio/logo.png" alt="Monaca Localkit" /><br />Comprehensive <br /><!--br class="hidden-xs" /-->cloud-powered mobile <br />app development <br />extension</h1>
        <div class="box-try">
            <p class="btn btn-green"><a href="#go_dwl">Go Download</a></p>
        </div>
    </div>
</div>

<div class="container section subfeatures">
    <ol>
        <li>
            <p>Efficient cross-platform development for iOS, Android and Windows on Visual Studio.<br />
Powered by Monaca Cloud, you will have full hybrid mobile app development experience with your familiar VS interface.</p>
            <h2>Benefits</h2>
        </li>
        <li>
            <div class="onsentools-xs">
                <h3>Develop and Distribute<br class="opt">Cross-Platform Apps <br class="opt">without Mac</h3>

                <p>Using only standard Web technology, Cordova, HTML5 and JavaScript, Monaca reduces the overall cost and time to the market. Onsen UI provides native mobile experience and is seamlessly plugged into any JavaScript frameworks including Angular, jQuery and React.</p>
            </div>
            <div class="thumb"><img id="features-img-2" alt="" class="thumb" src="/img/visualstudio/img_01_01.png" /></div>
            <div class="onsentools-lg">
                <h3>Develop and Distribute<br class="opt">Cross-Platform Apps <br class="opt">without Mac</h3>

                <p>Using only standard Web technology, Cordova, HTML5 and JavaScript, Monaca reduces the overall cost and time to the market. Onsen UI provides native mobile experience and is seamlessly plugged into any JavaScript frameworks including Angular, jQuery and React.</p>
            </div>
        </li>
        <li>
            <div class="legwork">
                <h3>Supreme Debugging Experience</h3>
                <p>Monaca Debugger will synchronize the project over WiFi with changes live-reloading in less than 100ms. Using a USB cable, you can do more advanced debugging such as  setting breakpoints, code profiling, rendering and event tracking.</p>
            </div>
            <div class="thumb"><img id="features-img-1" alt="" src="/img/visualstudio/img_01_02.png" /></div>
        </li>
        <li>
            <div class="onsentools-xs">
                <h3>Develop and Distribute<br class="opt">Cross-Platform Apps <br class="opt">without Mac</h3>

                <p>Monaca Debugger will synchronize the project over WiFi with changes live-reloading in less than 100ms. Using a USB cable, you can do more advanced debugging such as  setting breakpoints, code profiling, rendering and event tracking.</p>
            </div>
            <div class="thumb"><img id="features-img-2" alt="" class="thumb" src="/img/visualstudio/img_01_03.png" /></div>
            <div class="onsentools-lg">
                <h3>Develop and Distribute<br class="opt">Cross-Platform Apps <br class="opt">without Mac</h3>

                <p>Monaca for VS lets you take full control: from basic sensors like camera, GPS and accelerometer, to platform-specific features like push notifications, iBeacon or Bluetooth, Monaca lets you command all device capabilities.

You can integrate Monaca to other development services and streamline your development experience, including backend, testing, analysis, security enhancement, and much more. For more details, please see <a href="">platform and technical product partners</a>.</p>
            </div>
        </li>
    </ol>
</div>

<section class="content_btm">
    <h3>Requirements</h3>
    <p>Monaca for Visual Studio runs on Visual Studio 2015.<br />You can set up a new project by simply enabling "Visual Studio Tools for Apache Cordova".</p>
</section>

<section class="content_end">
<div class="box-try" style="padding:0px; border:0px;">
<h3>Download and Try It Now</h3>
<p>
    Monaca for Visual Studio is free for Visual Studio Community Edition users. For others, Monaca for Visual Studio requires an appropriate paid subscription plan, but we offer a 30 day free trial. For more details, please <a href="https://monaca.mobi/en/pricing">see here</a>. 
</p>
    <p id="go_dwl" class="btn btn-green"><a href="http://monaca.mobi/download/visualstudio" target="_blank">Download Monaca <br class="visible-xs">for Visual Studio</a></p>
</div>
</section>