---
title: Monaca for Visual Studio - ローカル型HTML5ハイブリッドアプリ開発ツール
class: visualstudio
description: Visual StudioでiOS、Android、Chrome Apps等のマルチプラットフォームのアプリ開発を行うことができます。
keywords: Visual Studio,Cordova,HTML5,Azure Mobile Service
image: https://ja.monaca.io/img/visualstudio/ogimage.jpg
---

<div class="keyvisual box-full"><div>
    <h1><img src="/img/visualstudio/logo.png" alt="Monaca Localkit" /><br />Visual Studioで<span class="space-400">、</span><br />iOS<span class="space-400">、</span>Android<span class="space-400">、</span>Windows向け<br class="hidden-xs" />モバイルアプリ開発</h1>
</div></div>

<section>
    <p>Visual StudioとMonacaが統合されました。これまで使い慣れたVisual StudioでiOS、Android、Windows等のマルチプラットフォームのアプリ開発を行うことができます。<br />Monacaではクラウドサービスとしてアプリのビルド環境を提供するため、Visual StudioからiOSアプリのビルドも行うことができます。<br />Visual Studioコミュニティ版の利用者は無料からお使い頂けます。</p>
    <p class="outline">※Visual Studio Professional版以上のご利用者は、Monaca Goldプラン（5000円/月）の登録が必要になります。</p>

    <h1>Visual Studioでマルチプラットフォーム対応の<br class="hidden-xs" />モバイルアプリ開発</h1>

    <p>HTML5、CSS、JavaScriptで、iOS、Android、Windowsのマルチプラットフォームのアプリ開発ができます。Monacaのクラウドサービスとしてビルド環境が提供されるためiOSアプリの開発にもMacは不要です。</p>
    <img src="/img/visualstudio/img_1.jpg" alt="" />
</section>

<section>
    <h1>Visual Studioの便利な開発補助機能を<br class="hidden-xs" />モバイルアプリ開発に活用</h1>

    <p>IntelliSenseのような高度なコード補完機能などVisual Studioが備える便利な開発補助機能をモバイルアプリ開発に活用できます。</p>
    <img src="/img/visualstudio/img_2_ja.png" alt="" />
</section>

<section>
    <h1>バージョン管理システムやバックエンド<br class="hidden-xs" />とも<br class="visible-xs" />連携した効率的なアプリ開発</h1>

    <p>Visual Studioを通じてTFSなどのバージョン管理機能や、Azure Mobile Servicesなどのバックエンドツールと連携したアプリ開発が行えます。<br />モバイルアプリ開発に必要なものは全てVisual Studio上に統合されています。</p>
    <img src="/img/visualstudio/img_3_ja.png" alt="" />
</section>

<section>
    <h1>Onsen UIを標準搭載</h1>

    <p>iOS、AndroidそしてWidowsの各OSに対応したHTML5ハイブリッドアプリ開発用UIフレームワークOnsen UIを標準搭載。HTML5ハイブリッドアプリ開発の課題であったパフォーマンスの問題やUIデザインの難しさを解消します。</p>
    <img src="/img/visualstudio/img_4.jpg" alt="" />
</section>

<section>
    <h1>HTML5/Cordova開発支援サービス</h1>

    <p>経験豊富な開発・サポートチームが、HTML5/Cordovaアプリ開発の支援を致します。アプリの受託開発から、ヘルプデスク、トレーニングまで各種サービスを取り揃えています。</p>

    <p>詳しくは<a href="/support.html">開発支援サービスページ</a>をご覧ください。</p>
    <img src="/img/enterprise/img_9_ja.png" alt="" />
</section>

<section class="voices">
    <h1>開発者からの評価の声</h1>

    <div class="container box-full">
        <ul>
            <li class="box-1">
                <a href="http://www.2ndfactory.com/" target="_blank"><img src="/img/visualstudio/logo_2nd_factory.png" alt="株式会社セカンドファクトリー"></a>
                <div>
                    <h2>セカンドファクトリー様</h2>
                    <p class="link"><a href="http://www.2ndfactory.com/" target="_blank">http://www.2ndfactory.com/</a></p>
                    <p>使い慣れた Visual Studio でのクロス プラットフォーム開発は IntelliSense が効き、大変効率的でした。Monaca for Visual StudioでのWebアプリのネイティブアプリ化はほぼコード変更が必要なく 3 日で完了しました。</p>
                    <p class="name">(プロジェクト リーダー 篠原様)</p>
                </div>
            </li>
            <li class="box-1">
                <a href="http://www.bbsystem.co.jp/" target="_blank"><img src="/img/visualstudio/logo_bbsystem.png" alt="株式会社ビービーシステム"></a>
                <div>
                    <h2>ビービーシステム様</h2>
                    <p class="link"><a href="http://www.bbsystem.co.jp/" target="_blank">http://www.bbsystem.co.jp/</a></p>
                    <p>Onsen UI と Monaca を組み合わせた開発は Objective-C での開発より開発効率が倍近く高かったです。iOS 上でもリアルタイム デバッグが可能で開発効率が大幅に向上しました。</p>
                    <p class="name">(プロダクト・サービス本部 部長 遠藤様)</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<div class="box-try">
    <p class="btn btn-blue"><a href="http://docs.monaca.mobi/cur/ja/manual/development/monaca_vs/" target="_blank">Monaca for Visual Studioを<br class="opt">利用する</a></p>
</div>

