---
title: Monaca for Visual Studio - Develop Your iOS & Android Apps with Visual Studio
class: visualstudio
description: Visual Studio and Monaca have been integrated. You can now develop multiplatform apps for iOS, Android, Chrome Apps and more using your trusted Visual Studio development platform.
keywords: Visual Studio,Cordova,HTML5,Azure Mobile Service
---

<div class="keyvisual box-full"><div>
    <h1><img src="/img/visualstudio/logo.png" alt="Monaca Localkit" /><br />Develop Your iOS &amp; Android Apps <br />with Visual Studio</h1>
</div></div>

<section>
    <p>Visual Studio and Monaca have been integrated. You can now develop multiplatform apps for iOS, Android, Chrome Apps and more using your trusted Visual Studio development platform.<br />As Monaca provides a cloud-based app build environment, you can build iOS apps within Visual Studio.<br />It’s free if you are a Visual Studio Community user.</p>
    <p class="outline">* A subscription for the Monaca Gold Plan ($50/mo) is required if you have a Visual Studio Professional or higher-tier membership.</p>

    <h1>Develop Multiplatform Mobile Apps <br />with Visual Studio</h1>

    <p>You can develop multiplatform apps for iOS, Android, and Chrome Apps with HTML5, CSS and JavaScript. The build environment is included in the Monaca’s cloud service. No need to invest in a Mac for iOS app development.</p>
    <img src="/img/visualstudio/img_1_ja.png" alt="" />
</section>

<section>
    <h1>Powerful Visual Studio Development Features <br />to Accelerate Your App Development </h1>
    <p>You can take advantage of Visual Studio’s powerful development support features for your mobile app development, including the sophisticated IntelliSense code completion feature.</p>
    <img src="/img/visualstudio/img_2_ja.png" alt="" />
</section>

<section>
    <h1>Seamless App Development <br />with Version Control and Backend Features</h1>

    <p>Through Visual Studio, you’ll have a seamless development environment that supports version control features like TFS and backend tools like Azure Mobile Services.</p>
    <img src="/img/visualstudio/img_3_ja.png" alt="" />
</section>

<section class="voices">
    <h1>Developers’ Testimonials</h1>

    <div class="container box-full">
        <ul class="column-2">
            <li class="box-1" tile="2">
                <a href="http://www.2ndfactory.com/" target="_blank"><img src="/img/visualstudio/logo_2nd_factory.png" alt="株式会社セカンドファクトリー"></a>
                <div>
                    <h2>2ndFACTORY Co., Ltd.</h2>
                    <p class="link"><a href="http://www.2ndfactory.com/" target="_blank">http://www.2ndfactory.com/ (Japanese)</a></p>
                    <p>It’s extremely efficient to develop cross-platform apps with a familiar tool like Visual Studio, as we could use IntelliSense. We could convert a web app into a native only in three days, as there were almost no code changes.</p>
                    <p class="name">(Mr.Shinohara, Project Leader)</p>
                </div>
            </li>
            <li class="box-1" tile="2">
                <a href="http://www.bbsystem.co.jp/" target="_blank"><img src="/img/visualstudio/logo_bbsystem.png" alt="株式会社ビービーシステム"></a>
                <div>
                    <h2>Big Bang System Corporation</h2>
                    <p class="link"><a href="http://www.bbsystem.co.jp/" target="_blank">http://www.bbsystem.co.jp/ (Japanese)</a></p>
                    <p>Developing with Monaca and Onsen UI was almost twice as efficient as with Objective-C. We could debug real-time even on iOS. This really boosted our efficiency.</p>
                    <p class="name">(Mr.Endo, GM of Product Service)</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<div class="box-try">
    <p class="btn btn-blue"><a href="https://monaca.mobi/en/support/inquiry" target="_blank">Get Started with <br class="opt">Monaca for Visual Studio</a></p>
</div>

