---
title: Monaca AppKit | MonacaでHTML5モバイルアプリ開発
class: appkit
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---
<section class="hero">
  <h1>You thirsty?</h1>
  <article>
    <p>Explore local breweries with just one click and stirred by starlight across the centuries light years great
      turbulent clouds circumnavigated paroxysm of global death.</p>
    <a href="#breweries">Browse Breweries</a>
  </article>
</section>

<section class="section-message">
  <div class="messageBox">
    <div class="messageBox__title">
      公式スマホアプリ開発に<br>課題を抱いていませんか？
    </div>
    <div class="messageBox__content">
      <div class="messageItem">
        <div class="messageItem__icon">
          <img src="/img/appKit/icon.png">
        </div>
        <div class="messageItem__description">初めての自社公式アプリで開発・運用のノウハウがない</div>
      </div>
      <div class="messageItem">
        <div class="messageItem__icon">
          <img src="/img/appKit/icon.png">
        </div>
        <div class="messageItem__description">アプリ開発の見積金額が予算を大幅に上回ってしまった</div>
      </div>
      <div class="messageItem">
        <div class="messageItem__icon">
          <img src="/img/appKit/icon.png">
        </div>
        <div class="messageItem__description">競合企業に後れを取らないようにできるだけ早くアプリをリリースしたい</div>
      </div>
      <div class="messageItem">
        <div class="messageItem__icon">
          <img src="/img/appKit/icon.png">
        </div>
        <div class="messageItem__description">公式アプリはあるがアプリならではの機能やユーザー体験が提供できていない</div>
      </div>
    </div>
  </div>

  <div class="message">
    <div class="message__line--left"></div>
    <div class="message__main">
      その課題、Monaca Appkitが解決の<br>お手伝いをいたします
    </div>
    <div class="message__line--right"></div>
  </div>
</section>
<section class="features">
  <div class="features__title">
    Monaca AppKitの5つの特徴
  </div>
  <div class="breweries">
    <ul>
      <li>
        <div class="circle">Blue</div>
      </li>
      <li>
        <div class="circle">Blue</div>
      </li>
      <li>
        <div class="circle">Blue</div>
      </li>
    </ul>
  </div>
  <div class="breweries">
    <ul>
      <li>
        <div class="circle">Blue</div>
      </li>
      <li>
        <div class="circle">Blue</div>
      </li>
    </ul>
  </div>
</section>
<section class="order-step">
  <div class="order-step__title">ご相談・導入の流れ</div>
  <div class="stepGroup">
    <div class="step">
      <div class="step__title">ご提案</div>
      <div class="step__content">
        <div>ヒアリング<br>デモ</div>
      </div>
    </div>
    <div class="arrow"></div>

    <div class="step">
      <div class="step__title">ご契約</div>
      <div class="step__content">
        <div>仕様決定<br>お見積り<br>お申込み</div>
      </div>
    </div>
    <div class="arrow"></div>


    <div class="step">
      <div class="step__title">アプリ開発</div>
      <div class="step__content">
        <div>データご提供<br>UIデザイン<br>アプリ構築<br>データ入稿<br>動作テスト</div>
      </div>
    </div>
    <div class="arrow"></div>

    <div class="step">
      <div class="step__title">アプリ公開</div>
      <div class="step__content">
        <div>公開準備<br>アプリ審査<br>アプリ配布<br>運用開始</div>
      </div>
    </div>

  </div>
</section>

<section class="faq">
  <div class="faq__title">よくある質問</div>
  <div class="faqItemGroup">
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">よくある質問が入ります。よくある質問が入りますよくある質問が入ります。</div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">回答が入ります回答が入ります回答が入ります。回答が
          入ります回答が入ります回答が入ります。</div>
      </div>
    </div>
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">よくある質問が入ります。よくある質問が入りますよくある質問が入ります。</div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">回答が入ります回答が入ります回答が入ります。回答が
          入ります回答が入ります回答が入ります。</div>
      </div>
    </div>
  </div>
  <div class="faqItemGroup">
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">よくある質問が入ります。よくある質問が入りますよくある質問が入ります。</div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">回答が入ります回答が入ります回答が入ります。回答が
          入ります回答が入ります回答が入ります。</div>
      </div>
    </div>
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">よくある質問が入ります。よくある質問が入りますよくある質問が入ります。</div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">回答が入ります回答が入ります回答が入ります。回答が
          入ります回答が入ります回答が入ります。</div>
      </div>
    </div>
  </div>
  <div class="faqItemGroup">
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">よくある質問が入ります。よくある質問が入りますよくある質問が入ります。</div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">回答が入ります回答が入ります回答が入ります。回答が
          入ります回答が入ります回答が入ります。</div>
      </div>
    </div>
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">よくある質問が入ります。よくある質問が入りますよくある質問が入ります。</div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">回答が入ります回答が入ります回答が入ります。回答が
          入ります回答が入ります回答が入ります。</div>
      </div>
    </div>
  </div>
</section>

<section class="section-company">
  <div class="section-company__title">運営会社</div>
  <div class="companyGroup">
    <div class="company">
      <div class="company__logo"><img src="/img/appKit/Asial_Logo.png"></div>
      <div class="company__description">
        <div class="company__descriptionName">アシアル株式会社</div>
        <div class="companyItem__descriptionText">店舗アプリと既存ECサイトの連携を想定したアプリキットです。</div>
      </div>
    </div>
    <div class="company">
      <div class="company__logo"><img src="/img/appKit/Asial_Logo.png"></div>
      <div class="company__description">
        <div class="company__descriptionName">Monaca</div>
        <div class="companyItem__descriptionText">店舗アプリと既存ECサイトの連携を想定したアプリキットです。</div>
      </div>
    </div>
  </div>
</section>