---
title: Monaca AppKit | MonacaでHTML5モバイルアプリ開発
class: appkit
hideHeader: true
description: Monacaお知らせ - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<section class="hero">
  <div class="hero__wrapper">
    <a href="/hogeho" class="hero__logo"><img src="../img/appKit/logo@2x.png"></a>

    <div class="hero__content">
      <div class="hero__contentTitle">
        <span class="highlight"><span class="hero__contentTitle--strong">100</span>万円〜で</span><br>
        <span class="highlight">実現する公式アプリ</span>
      </div>
      <div class="hero__contentSubTitle">10万アプリの実績から生まれた高速受託開発</div>
      <a class="hero__contentButton" id="hero-button">お問い合わせ</a>
    </div>

    <div class="hero__image">
      <div class="hero__image-wrapper">
        <img src="/img/appKit/img_app-01@2x.png">
        <img src="/img/appKit/img_app-01@2x.png">
      </div>
    </div>
  </div>

</section>
<div class="menubar">
  <div class="menubar__wrapper">
    <ul>
      <li>
        <a href="#message" class="menubar__item">アプリ開発<br>よくある悩み</a>
      </li>
      <li>
        <a href="#feature" class="menubar__item">Monaca AppKit<br>5つの特徴</a>
      </li>
      <li>
        <a href="#template" class="menubar__item">用途に合わせた<br>テンプレート</a>
      </li>
      <li>
        <a href="#steps" class="menubar__item">
          <div class="menubar__itemText">ご相談・導入の流れ</div>
        </a>
      </li>
      <li>
        <a href="#faq" class="menubar__item">
          <div class="menubar__itemText">よくある質問</div>
        </a>
      </li>
      <li>
        <a href="#company" class="menubar__item">
          <div class="menubar__itemText">運営会社</div>
        </a>
      </li>
    </ul>
  </div>
</div>

<section class="section-message" id="message">
  <div class="section-message__wrapper">
    <div class="messageBox">
      <div class="messageBox__title">
        公式スマホアプリ開発に<br>課題を抱いていませんか？
      </div>
      <div class="messageBox__content">
        <div class="messageItem">
          <div class="messageItem__icon">
            <img src="/img/appKit/ico_01.png">
          </div>
          <div class="messageItem__description">初めての自社公式アプリで開発・運用のノウハウがない</div>
        </div>
        <div class="messageItem">
          <div class="messageItem__icon">
            <img src="/img/appKit/ico_02.png">
          </div>
          <div class="messageItem__description">アプリ開発の見積金額が予算を大幅に上回ってしまった</div>
        </div>
        <div class="messageItem">
          <div class="messageItem__icon">
            <img src="/img/appKit/ico_03.png">
          </div>
          <div class="messageItem__description">競合企業に後れを取らないようにできるだけ早くアプリをリリースしたい</div>
        </div>
        <div class="messageItem">
          <div class="messageItem__icon">
            <img src="/img/appKit/ico_04.png">
          </div>
          <div class="messageItem__description">公式アプリはあるがアプリならではの機能やユーザー体験が提供できていない</div>
        </div>
      </div>

    </div>

    <div class="message">
      <div class="message__main">
        <div class="message__line--left"></div>
        その課題、<br><span class="highlight">Monaca Appkit</span>が解決の<br>お手伝いをいたします
        <div class="message__line--right"></div>
      </div>
    </div>
  </div>
</section>

<section class="section-feature" id="feature">

  <div class="section-feature__wrapper">
    <div class="section-feature__title">
      Monaca AppKitの5つの特徴
    </div>
    <div class="featureGroup">
      <div class="featureItem">
        <img src="/img/appKit/img_01.png">
        <div class="featureItem__title">高品質</div>
        <div class="featureItem__description">デザイン性にも優れた<br>高品質な公式アプリ</div>
      </div>
      <div class="featureItem">
        <img src="/img/appKit/img_02.png">
        <div class="featureItem__title">低価格</div>
        <div class="featureItem__description">初期開発 100万円〜<br>月額運用コストも抑制</div>
      </div>
      <div class="featureItem">
        <img src="/img/appKit/img_03.png">
        <div class="featureItem__title">柔軟性</div>
        <div class="featureItem__description">プッシュ通知などアプリならでは<br>の機能も取込みが可能</div>
      </div>
      <div class="featureItem">
        <img src="/img/appKit/img_04.png">
        <div class="featureItem__title">短納期</div>
        <div class="featureItem__description">最短納期 1ヶ月<br>御社のビジネスを加速させます</div>
      </div>
      <div class="featureItem">
        <img src="/img/appKit/img_05.png">
        <div class="featureItem__title">拡張性</div>
        <div class="featureItem__description">アプリの成長に合わせて既存システム<br>連携などの機能拡張にも対応</div>
      </div>
    </div>
  </div>
</section>

<section class="section-template" id="template">
  <div class="section-template__wrapper">
    <div class="section-template__title">用途別テンプレート</div>
    <div class="section-template__subTitle">自社アプリの用途に応じて選択できる アプリキットをご用意</div>
    <div class="template__tab">
      <div class='card'>
        <input class='hide' type="radio" id="tab-1" name="tractor" checked='checked' />
        <label for='tab-1'><span class="label__text">メディア</span></label>
        <input class='hide' type="radio" id="tab-2" name="tractor" />
        <label for='tab-2'><span class="label__text">店舗販促</span></label>
        <input class='hide' type="radio" id="tab-3" name="tractor" />
        <label for='tab-3'><span class="label__text">EC</span></label>
        <input class='hide' type="radio" id="tab-4" name="tractor" />
        <label for='tab-4'><span class="label__text">イベント・観光</span></label>
        <input class='hide' type="radio" id="tab-5" name="tractor" />
        <label for='tab-5'><span class="label__text">カタログ</span></label>

        <article class='tab-1'>
          <div class="tab-main">
            <div class="tab__content">
              <div class="tab__title">メディアアプリ</div>
              <div class="tab__sub-title">店舗アプリと既存ECサイトの連携を想定したアプリキットです。</div>
              <div class="tab__description">ECサイト連携や会員カード読み込みなど、オムニチャネル施策を実施する機能を備えています。</div>
              <ul class="tab__functions">
                <li>プッシュ通知</li>
                <li>クーポン配信</li>
                <li>ECサイト連携</li>
                <li>会員カード</li>
                <li>バーコードリーダー</li>
                <li>位置情報</li>
                <li>店舗検索</li>
                <li>アンケート</li>
              </ul>
              <div class="tab__price">
                <table>
                  <tr>
                    <th>初期費用：</th>
                    <td>250万円～</td>
                  </tr>
                  <tr>
                    <th>ランニング費用：</th>
                    <td>8万円/月～2カ月～</td>
                  </tr>
                  <tr>
                    <th>納期：</th>
                    <td>1ヶ月〜</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="tab__image">
              <img alt='' src='/img/appKit/img_app-01@2x.png' />
            </div>
          </div>
        </article>
        <article class='tab-2'>
          <div class="tab-main">
            <div class="tab__content">
              <h2>店舗販促アプリ</h2>
              <p>#impoCSSible inside</p>
              <p>Dicen que en español:<br />
                <i>"EsCSS es el MEJOR BLOG de CSS"</i><br />
                Exageran.</p>
              <p>Por una web con mucho estilo para gente con buen gusto.</p>
            </div>
            <div class="tab__image">
              <img alt=''
                src='https://1.bp.blogspot.com/-dJaOneI-NRA/WOljn3K0VII/AAAAAAAANes/7DPsyqxvnPosIv2oBOLChyTTct8p67KHQCLcB/s400/escss.png' />
            </div>
          </div>
        </article>
        <article class='tab-3'>
          <div class="tab-main">
            <div class="tab__content">
              <h2>ECアプリ</h2>
              <p>#impoCSSible inside</p>
              <p>Dicen que en español:<br />
                <i>"EsCSS es el MEJOR BLOG de CSS"</i><br />
                Exageran.</p>
              <p>Por una web con mucho estilo para gente con buen gusto.</p>
            </div>
            <div class="tab__image">
              <img alt=''
                src='https://1.bp.blogspot.com/-dJaOneI-NRA/WOljn3K0VII/AAAAAAAANes/7DPsyqxvnPosIv2oBOLChyTTct8p67KHQCLcB/s400/escss.png' />
            </div>
          </div>
        </article>
        <article class='tab-4'>
          <div class="tab-main">
            <div class="tab__content">
              <h2>イベント・観光</h2>
              <p>#impoCSSible inside</p>
              <p>Dicen que en español:<br />
                <i>"EsCSS es el MEJOR BLOG de CSS"</i><br />
                Exageran.</p>
              <p>Por una web con mucho estilo para gente con buen gusto.</p>
            </div>
            <div class="tab__image">
              <img alt=''
                src='https://1.bp.blogspot.com/-dJaOneI-NRA/WOljn3K0VII/AAAAAAAANes/7DPsyqxvnPosIv2oBOLChyTTct8p67KHQCLcB/s400/escss.png' />
            </div>
          </div>
        </article>
        <article class='tab-5'>
          <div class="tab-main">
            <div class="tab__content">
              <h2>イベント</h2>
              <p>#impoCSSible inside</p>
              <p>Dicen que en español:<br />
                <i>"EsCSS es el MEJOR BLOG de CSS"</i><br />
                Exageran.</p>
              <p>Por una web con mucho estilo para gente con buen gusto.</p>
            </div>
            <div class="tab__image">
              <img alt=''
                src='https://1.bp.blogspot.com/-dJaOneI-NRA/WOljn3K0VII/AAAAAAAANes/7DPsyqxvnPosIv2oBOLChyTTct8p67KHQCLcB/s400/escss.png' />
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="steps" id="steps">
  <div class="steps__title">ご相談・導入の流れ</div>
  <div class="steps__wrapper">
    <div class="stepGroup">
      <div class="step">
        <div class="step__title">ご提案</div>
        <div class="step__content">
          <div>ヒアリング<br>デモ</div>
        </div>
        <div class="arrow"></div>
      </div>
      
      <div class="step">
        <div class="step__title">ご契約</div>
        <div class="step__content">
          <div>仕様決定<br>お見積り<br>お申込み</div>
        </div>
        <div class="arrow"></div>
      </div>
      
      <div class="step">
        <div class="step__title">アプリ開発</div>
        <div class="step__content">
          <div>データご提供<br>UIデザイン<br>アプリ構築<br>データ入稿<br>動作テスト</div>
        </div>
        <div class="arrow"></div>
      </div>
      
      <div class="step">
        <div class="step__title">アプリ公開</div>
        <div class="step__content">
          <div>公開準備<br>アプリ審査<br>アプリ配布<br>運用開始</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq" id="faq">
  <div class="faq__title">よくある質問</div>
  <div class="faq__wrapper">
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">
          iOSとAndroidの両OSに対応可能ですか？
        </div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">
          iOSとAndroidの両OSに対応したアプリを開発いたします。
        </div>
      </div>
    </div>
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">
          最低契約期間の縛りはありますか？
        </div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">
          1カ月単位のご契約が可能です。短期間のキャンペーンやイベントアプリにもご活用いただけます。
        </div>
      </div>
    </div>
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">
          ランニング費用に含まれるものは何ですか？
        </div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">
          アプリのサーバー機能の利用料とサポート費用が含まれます。
        </div>
      </div>
    </div>
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">
          アプリのデザインも相談できますか？
        </div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">はい、ご要望に合わせてオリジナルのデザインもご提案いたします。
        </div>
      </div>
    </div>
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">
          App StoreやGoogle Playなどへの申請支援もしてもらえますか？
        </div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">
          はい、ご支援します。別途費用は発生しまうが申請作業の代行もいたします。
        </div>
      </div>
    </div>
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">
          ソースコードは納品されますか？</div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">
          基本的にバイナリでの納品になります。ソースコードの納品が必要な場合はご相談ください。
        </div>
      </div>
    </div>
    <div class="faqItem">
      <div class="faqItemQuestion">
        <div class="faqItemQuestion__symbol">Q.</div>
        <div class="faqItemQuestion__content">
          サーバー環境やインフラの準備は必要ですか？
        </div>
      </div>
      <div class="faqItemAnswer">
        <div class="faqItemAnswer__symbol">A.</div>
        <div class="faqItemAnswer__content">
          アプリの運用に必要なサーバー環境は弊社でご用意いたします。
        </div>
      </div>
    </div>
  </div>
</section>

<div class="separator"></div>

<section class="section-compnay" id="company">
  <div class="section-compnay__wrapper">
    <div class="section-compnay__title">運営会社</div>
    <div class="companyGroup">
      <div class="company">
        <div class="company__logo"><img src="/img/appKit/logo_asial.png"></div>
        <div class="company__description">
          <div class="company__descriptionName">アシアル株式会社</div>
          <div class="companyItem__descriptionText">店舗アプリと既存ECサイトの連携を想定したアプリキットです。</div>
        </div>
      </div>
      <div class="company">
        <div class="company__logo"><img src="/img/appKit/logo_monaca.png"></div>
        <div class="company__description">
          <div class="company__descriptionName">Monaca</div>
          <div class="companyItem__descriptionText">店舗アプリと既存ECサイトの連携を想定したアプリキットです。</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-apps">
  <div class="section-apps__wrapper">
    <div class="section-apps__title">Monacaの主な実績</div>
    <div class="apps__itemGroup">
      <div class="apps__item"><img src="/img/appKit/doda.png"></div>
      <div class="apps__item"><img src="/img/appKit/BSO.png"></div>
      <div class="apps__item"><img src="/img/appKit/hoopslink.png"></div>
      <div class="apps__item"><img src="/img/appKit/tanita.png"></div>
      <div class="apps__item"><img src="/img/appKit/foodeliver.png"></div>
      <div class="apps__item"><img src="/img/appKit/teamon.png"></div>
      <div class="apps__item"><img src="/img/appKit/monex.png"></div>
      <div class="apps__item"><img src="/img/appKit/IPMU.png"></div>
      <div class="apps__item"><img src="/img/appKit/recipo.png"></div>
      <div class="apps__item"><img src="/img/appKit/tokyo-calendar.png"></div>
      <div class="apps__item"><img src="/img/appKit/minkame.png"></div>
      <div class="apps__item"><img src="/img/appKit/running.png"></div>
      <div class="apps__item"><img src="/img/appKit/jtrust.png"></div>
      <div class="apps__item"><img src="/img/appKit/JNB.png"></div>
      <div class="apps__item"><img src="/img/appKit/click.png"></div>
    </div>
  </div>
</section>
<div class="inquiry-button" id="inquiry-button">
  <div class="inquiry-button__header">開発相談・見積もり依頼はお気軽に</div>
  <div class="inquiry-button__text">お問い合わせ</div>
</div>