.box-full {
    > * {
        width: $width;
        margin: 0 auto;
        @media screen and (max-width: $break) {
    	   width: 100%;
        }
    }
}


.column-3 {
    &:after {content:"."; display: block; clear:both; height:0px; visibility:hidden; font-size:0;}
    li {
        float: left;
        margin-right: percentage(30px/1170px);
        width: percentage(370px/1170px);
        &:nth-child(3n) {
          margin-right: 0;
        }
        @media screen and (max-width: $break) {
            float: none;
            margin: 0 auto 20px;
            width: 100%;
        }
    }
}

.column-4 {
    &:after {content:"."; display: block; clear:both; height:0px; visibility:hidden; font-size:0;}
    li {
        float: left;
        margin-right: percentage(30px/1170px);
        width: percentage(270px/1170px);
        &:nth-child(4n) {
          margin-right: 0;
        }
        @media screen and (max-width: $break) {
            float: none;
            margin: 0 auto 20px;
            width: 100%;
        }
    }
}

