---
title: Monaca - アプリ開発教育普及プロジェクト
class: book-campaign
description: Monacaの利用者数が80,000人突破した事を記念しまして「アプリ開発教育普及プロジェクト」を開始致します。第一弾として2月17日発売予定の初のMonaca公式ガイド本「クラウドでできるHTML5ハイブリッドアプリ開発」を、教育機関を対象に先着50校に無償配布致します。
image: https://ja.monaca.io/img/campaign/keyvisual.png
---

<div class="keyvisual box-full"><div>
    <h1>
        <img src="/img/campaign/bg_clear.png" alt="" class="bg hidden-xs">
        <img src="/img/campaign/keyvisual.png" class="front hidden-xs" alt="Monacaユーザー数80,000人突破記念！アプリ開発教育普及プロジェクト - 先着50校にMonaca公式ガイド本無償配布">
        <img src="/img/campaign/keyvisual_sp.png" class="visible-xs" alt="">
    </h1>
</div></div>

<section class="summary">
    <img src="/img/campaign/img_1.jpg" alt="" class="alignleft">
    <div class="right">
        <p>Monacaは、HTML5やJavaScriptといったWeb技術でモバイルアプリが開発できることや、セットアップ不要のクラウドベースの開発環境であるといった手軽さが評価をされ、慶應義塾大学、東京工科大学、日本電子専門学校等多くの教育機関のアプリ開発教育で利用されています。<br />この度、Monacaの利用者が80,000人突破した事を記念しまして、更にアプリ開発者の裾野を広げるべく「アプリ開発教育普及プロジェクト」を開始致します。
    まずは第一弾として2月17日発売予定の初のMonaca公式ガイド本「クラウドでできるHTML5ハイブリッドアプリ開発」を、教育機関を対象に先着50校に無償配布致します。<br />多くの学生の皆さんにアプリ開発を学べる環境が整備されるよう、応募をお待ちしております。</p>
        <p><a href="/prices.html#academicplan">Monacaアカデミックプラン詳細</a><br />
        <!-- <a href="#">Monaca公式ガイド本「クラウドでできるHTML5ハイブリッドアプリ開発」詳細</a></p> -->
    </div>
</section>

<section>
    <h2>募集概要</h2>
    <p>下記に該当する教育機関でアプリ開発教育の取り組みを実施している、もしくは実施を検討されている教職員の方を対象に、「クラウドでできるHTML5ハイブリッドアプリ開発」（翔泳社、3,240円 ）を無償で配布致します。原則として各校1冊となりますが、対象となる講義が異なるなどの場合はその限りではありません。</p>
</section> 

<section>
    <h2>対象教育機関</h2>
    <ul class="edu-items">
        <li>
            <h3>学校教育法で定められた教育機関</h3>
            <dl>
                <dt>学校</dt>
                <dd>小学校、中学校、高等学校、中等教育学校、大学（短期大学、大学院、放送大学を含む）、高等専門学校、盲学校、聾学校、養護学校および幼稚園</dd>
                <dt>専修学校</dt>
                <dd>一般課程（専修学校）、高等課程（高等専修学校）、専門課程（専門学校）</dd>
                <dt>大学受験予備校・各種学校</dt>
                <dd>（都道府県知事または教育委員会の認定を受けて設置された学校）</dd>
            </dl>
        </li>
        <li>
            <h3>その他の教育機関</h3>
            <ul>
                <li>職業能力開発促進法に規定された公共職業能力開発施設および職業訓練法人</li>
                <li>国および地方自治体が設立した大学校</li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <h2>応募期間</h2>
    <p>2015年2月17日より受け付け開始で先着順 で受け付けます。50校に達した時点で終了とさせていただきます。</p>
</section>

<section>
    <h2>応募方法</h2>
    <p>以下の「応募する」ボタンをクリックし、応募フォームより必要事項をお送りください。応募は教職員やスタッフなど学校関係者であれば可能です。<br />学生、生徒または父兄からの応募は受け付けておりません。希望をされる方は教育機関へ相談してください。</p>
</section>

<div class="btns">
    <a href="https://jp.surveymonkey.com/s/appedu" target="_blank" class="btn btn-blue">応募する</a>
</div>

<p style="padding: 0 5% 80px; text-align: center;">
    <a href="/book/caravan.html"><img src="/img/campaign/bnr_caravan.png" alt="Monacaユーザー数80,000人突破記念アプリ開発教育普及プロジェクト"><br />書籍購入者様 通常3,240円のところ無料ご招待!</a>
</p>