---
title: Monaca - アプリ開発ワークショップ全国キャラバン
class: caravan
description: Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」出版記念、アプリ開発ワークショップ全国キャラバン開催！MonacaとOnsen UIを使った、iOS/Android両対応のHTML5ハイブリッドアプリ開発手法についてお話しします。
image: https://ja.monaca.io/img/caravan/ogimage.jpg
---

<div class="keyvisual box-full"><div>
    <h1><img src="/img/caravan/keyvisual.jpg" alt="Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」出版記念 アプリ開発ワークショップ全国キャラバン開催！" class="hidden-xs"><img src="/img/caravan/keyvisual_sp.png" alt="" class="visible-xs"></h1>
</div></div>

<section class="summary">
    <p class="visible-xs" style="margin-bottom: 80px;">80,000人以上のアプリ開発者が利用するHTML5ハイブリッドアプリ開発プラットフォームMonacaの公式ガイドブックが2月17日に出版されます。出版を記念し、アプリ開発ワークショップの全国キャラバンを実施します。</p>
    <h2>開催概要・スケジュール</h2>
    <p>MonacaとOnsen UIを使った、iOS、Androidの両OSに対応したHTML5ハイブリッド型のモバイルアプリ開発手法についてお話しします。<br />
『クラウドでできるHTML5ハイブリッドアプリ開発』の中で使われているサンプルプログラムを題材にして、Monaca関連の研修指導経験の豊富なアシアルの岡本 雄樹が、書籍を読むだけでは理解しにくい点に関しても分かりやすく解説致します。<br />また、モバイルアプリ向けのUIフレームワークであるOnsen UIを利用した、SPA（シングルページアプリ）の作成方法についても解説致します。<br />
これからモバイルアプリの開発を始めたいWeb技術者、Web制作者の方や、Monacaを使った実用的なテクニックを知りたい方に最適な内容になっておりますのでふ るってご参加ください。</p>

    <div class="info">
        <dl><dt>時間</dt><dd>各会2時間</dd></dl>
        <dl><dt>定員</dt><dd>各会場 約30名</dd></dl>
        <dl><dt>料金</dt><dd>3,000円（税抜）</dd></dl>
        <p>※「クラウドでできるHTML5ハイブリッドアプリ開発」購入者は無料</p>
    </div>

    <ul class="schedule">
        <li class="full">
            <h3>東京</h3>
            <p class="date"><em>3</em>月<em>5</em><span class="space-40">日</span>（木）</p>
            <p class="place">TAMコワーキング東京<br />小川町駅 徒歩3分</p>
            <a href="http://peatix.com/event/74308" target="_blank" class="btn">詳細・お申し込み</a>
        </li>
        <li class="full">
            <h3>大阪</h3>
            <p class="date"><em>3</em>月<em>6</em><span class="space-40">日</span>（金）</p>
            <p class="place">TAMコワーキング大阪<br />天満駅 徒歩5分</p>
            <a href="http://peatix.com/event/74321" target="_blank" class="btn">詳細・お申し込み</a>
        </li>
        <li class="fixed">
            <h3>沖縄</h3>
            <p class="date"><em>3</em>月<em>11</em><span class="space-40">日</span>（水）</p>
            <p class="place">沖縄産業支援センター 研修室304号室<br />那覇空港から車で約５分</p>
            <a href="http://peatix.com/event/75500" target="_blank" class="btn">詳細・お申し込み</a>
        </li>
        <li class="fixed">
            <h3>福岡</h3>
            <p class="date"><em>3</em>月<em>12</em><span class="space-40">日</span>（木）</p>
            <p class="place">デジタルハリウッド福岡校<br />西鉄福岡(天神)駅 徒歩3分</p>
            <a href="http://peatix.com/event/75498" target="_blank" class="btn">詳細・お申し込み</a>
        </li>
        <li class="fixed">
            <h3>札幌</h3>
            <p class="date"><em>3</em>月<em>13</em><span class="space-40">日</span>（金）</p>
            <p class="place">株式会社インフィニットループ<br />大通駅 徒歩5分</p>
            <a href="http://peatix.com/event/75497" target="_blank" class="btn">詳細・お申し込み</a>
        </li>
        <li class="full">
            <h3 class="indent1em">東<span class="space-40">京</span><span class="small">（追加開催）</span></h3>
            <p class="date"><em>3</em>月<em>17</em><span class="space-40">日</span>（火）</p>
            <p class="place">TAMコワーキング東京<br />小川町駅 徒歩3分</p>
            <a href="http://peatix.com/event/75632" target="_blank" class="btn">詳細・お申し込み</a>
        </li>
        <li class="full">
            <h3>名古屋</h3>
            <p class="date"><em>3</em>月<em>19</em><span class="space-40">日</span>（木）</p>
            <p class="place">MYCAFE 伏見本店<br />伏見駅 徒歩3分</p>
            <a href="http://peatix.com/event/74734" target="_blank" class="btn">詳細・お申し込み</a>
        </li>
        <li class="full">
            <h3>京都</h3>
            <p class="date"><em>3</em>月<em>20</em><span class="space-40">日</span>（金）</p>
            <p class="place">株式会社はてな京都オフィス<br />烏丸御池駅 徒歩3分</p>
            <a href="http://peatix.com/event/74324" target="_blank" class="btn">詳細・お申し込み</a>
        </li>
        <li class="fixed">
            <h3 class="indent1em">東<span class="space-40">京</span><span class="small">（追加開催）</span></h3>
            <p class="date"><em>3</em>月<em>28</em><span class="space-40">日</span>（土<span class="space-20">）</span>午前10時〜</p>
            <p class="place">アシアル株式会社<br />本郷三丁目駅 徒歩5分</p>
            <a href="http://peatix.com/event/77614" target="_blank" class="btn">詳細・お申し込み</a>
        </li>
        <li class="fixed">
            <h3 class="indent1em">東<span class="space-40">京</span><span class="small">（追加開催）</span></h3>
            <p class="date"><em>3</em>月<em>28</em><span class="space-40">日</span>（土<span class="space-20">）</span>午後2時〜</p>
            <p class="place">アシアル株式会社<br />本郷三丁目駅 徒歩5分</p>
            <a href="http://peatix.com/event/77615" target="_blank" class="btn">詳細・お申し込み</a>
        </li>
        <!--
        <li class="tba">
            <h3>那覇</h3>
            <p class="place">もうしばらくお待ちください</p>
        </li>
        <li class="inquiry">
            <p>その他開催ご希望<br />ございましたら<br />  ご連絡くださいませ</p>
            <a href="/support/inquiry.html" class="btn">お問い合わせ</a>
        </li>
        -->
    </ul>
</section>

<section class="points">
    <h2>Monaca &amp; Cordovaアプリ開発のポイントを紹介</h2>

    <img src="/img/caravan/img_points.png" alt="" class="thumb">
    <p>HTML5/JavaScriptでいくつかのアプリを作りながら、</p>
    <ul>
        <li>ハイブリッドアプリ作成の基本テクニック</li>
        <li>Cordova APIによるネイティブ機能の活用方法</li>
        <li>Onsen UIを利用したリッチなUIを構築方法</li>
    </ul>
    <p>等について詳しく学びます。</p>
</section>
