---
title: Migration from AppBuilder | Monaca
class: migration-from-app-builder
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
---

<h1>Everything you need for your Cordova hybrid mobile app development</h1>

<div class="keyvisual" style="background: linear-gradient(#fff, #f7f7f7);">
  <div>
    <p>Monaca is a hybrid app development platform that makes your Cordova app development a lot easier.</p>
    <div class="try-it-out">
      <ul>
        <li>Fully support existing app including Cordova plugins and Kendo UI.</li>
        <li>Includes browser IDE, companion live test and debugger app, remote online build, push notifications and more.</li>
        <li>CLI and GUI desktop tool is also available for local development.</li>
        <li>Works with popular frontend frameworks and UI frameworks.</li>
        <li>Technical support and active community.</li>
      </ul>
    </div>
  </div>
  <div class="pic"><img src="/img/migration-from-app-builder/img_block.png" /></div>
  <div class="buttons">
    <a href="https://monaca.mobi/signup" onclick="ga('send', 'event', 'migration-get-started', 'click');">Get Started Free</a>
    <a href="/" onclick="ga('send', 'event', 'migration-learn-more', 'click');">Learn More</a>
  </div>
</div>

<div class="migration">
  <div>
    <h2>Migration from Telerik Platform</h2>
    <h3>Step 1: Preparation</h3>
    <p>Login to Telerik Platform and execute "Export to Cordova CLI" <a href="https://docs.telerik.com/platform/appbuilder/cordova/migration-guide" onclick="ga('send', 'event', 'migration-telerik-guide', 'click');">as described here</a>. This will convert your project into a Cordova project.</p>
    <h3>Step 2: Importing to Monaca Cloud IDE</h3>
    <p>From Monaca Dashboard, import your project ZIP file.<br><b>And you're done!</b></p>
    <h3>Additional Step 1: Debug your app</h3>
    <p>Install <a href="/debugger.html" onclick="ga('send', 'event', 'migration-see-debugger', 'click');">Monaca Debugger</a> app on your device from Google Play or AppStore and run your project on the app.</p>
    <h3>Additional Step 2: Remote build your app</h3>
    <p>From Monaca Cloud IDE, go to <code>Build → Build App for Android</code> and click <code>Start Build</code>.</p>
    <h3>For more details</h3>
    <p>Please refer to <a href="http://docs.monaca.io/en/products_guide/migration/telerik_migration/" onclick="ga('send', 'event', 'migration-see-docs', 'click');">Migration from Telerik Platform</a> in Monaca Docs if you want a complete guide.</p>
  </div>
</div>

<div class="about-monaca">
  <div>
    <h2>About Monaca</h2>
    <p>Monaca is a premier mobile and web engineering services and developer education company since 2002, headquartered in Tokyo. We’ve been working with PhoneGap / Cordova since 2009 and the founder, Masa Tanaka, is a frequent conference speaker in this field. Our main products are Monaca and Onsen UI, the framework-agnostic UI framework for hybrid and PWA.</p>
  </div>
</div>

<div class="questions">
    Any questions? Please feel free to <a href="/support/inquiry.html">contact us</a>.
</div>
