---
title: Migration from AppBuilder | Monaca
class: migration-from-app-builder
---

<div class="keyvisual" style="background: linear-gradient(#fff, #f7f7f7);">
  <div>
    <h1>Everything you need for your Cordova hybrid mobile app development</h1>
    <p>Monaca is the most open hybrid app development platform that makes your Cordova app development a lot easier. </p>
    <div class="try-it-out">
      <ul>
        <li>Browser IDE, companion live test and debugger app, remote online build, push notification, in-app updater and more</li>
        <li>CLI and GUI desktop tool for local development</li>
        <li>Works with popular frontend frameworks and UI frameworks</li>
        <li>Reliable technical support and active community</li>
        <li>Migration from AppBuilder is easy</li>
      </ul>
    </div>
  </div>
  <div class="pic"><img src="/img/migration-from-app-builder/img_block.png" /></div>
  <div class="buttons">
    <a href="https://monaca.mobi/signup">Get Started Free</a>
    <a href="/">Learn More</a>
  </div>
</div>

{{!-- 
<div class="container section subfeatures">
    <ol>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_01.png" alt="Easy Setup" /></h3>
            <h4 class="subtitle">Easy Setup</h4>
            <p>With a npm install, you get everything setup for app development. Monaca CLI bundles all dev stack, so no need to install additional dependencies and setup platform SDKs.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_06.png" alt="Preview and Test on Device" /></h3>
            <h4 class="subtitle">Preview and Test on Device</h4>
            <p>Run the app in a local browser or on a real device using Monaca Debugger. Both supports live reloading for quicker debugging. Hot reloading is supported for React templates.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_02.png" alt="Advance Debugging" /></h3>
            <h4 class="subtitle">Advance Debugging</h4>
            <p>Dev tools bundled in CLI enabled JavaScript debugging - including breakpoints, step in/out and code profiling. Even debug iOS devices from Windows PC.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_03.png" alt="Cloud Sync" /></h3>
            <h4 class="subtitle">Cloud Sync</h4>
            <p>Easily push projects to the Monaca Cloud and access from any computer, anywhere, anytime. Your projects can be synced between various development environments.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_04.png" alt="Remote Build & Development" /></h3>
            <h4 class="subtitle">Remote Build & Development</h4>
            <p>Instantly create package for iOS, Android, and Window simultanously. Flexible build and deployment options including full-support of Cordova plugins.</p>
        </li>
        <li>
            <h3 class="maintitle"><img src="/img/cli/icon_cli_05.png" alt="Many Framework Templates" /></h3>
            <h4 class="subtitle">Many Framework Templates</h4>
            <p>You can pick your framework of choice - Angular 1, Angular 2, React, Ionic, or somthing else. Onsen UI templates come with Webpack configs and are fully customizable.</p>
        </li>
    </ol>
</div> --}}

<div class="migration">
  <div>
    <h2>Migration from AppBuilder</h2>
    <h3>Step 1: Preparation</h3>
    <p>Use Telerik tool to convert your project to Cordova CLI. This will convert your project into a Cordova project. Then, zip your project.</p>
    <h3>Step 2: Importing to Monaca Cloud IDE</h3>
    <p>From Monaca Dashboard, import your project ZIP file.</p>
    <h3>Step 3: Debugging with Monaca</h3>
    <p>Install <a href="debugger.html">Monaca Debugger</a> app on your device from Google Play or AppStore and run your project on the app.</p>
    <h3>Step 4: Building the app</h3>
    <p>From Monaca Cloud IDE, go to <code>Build → Build App for Android</code> and click <code>Start Build</code>.</p>
    <h3>For more details</h3>
    <p>Please refer to <a href="http://docs.monaca.io/en/products_guide/migration/telerik_migration/">Migration from Telerik Platform</a> in Monaca Docs if you want a complete guide.</p>
  </div>
</div>

<div class="about-monaca">
  <div>
    <h2>About Monaca</h2>
    <p>Monaca is a premier mobile and web engineering services and developer education company since 2002, headquartered in Tokyo. We’ve been working with PhoneGap / Cordova since 2009 and the founder, Masa Tanaka, is a frequent conference speaker in this field. Our main products are Monaca and Onsen UI, the framework-agnostic UI framework for hybrid and PWA.</p>
  </div>
</div>

<div class="questions">
    Any questions? Please feel free to <a href="https://localhost:3010/support/inquiry.html">contact us</a>.
</div>
