---
title: Submit Your App | HTML5 cross-platform mobile app development with Monaca
class: contest
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
viewport: width=1200px
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section class="ninja">

<div class="keyvisual">
  <h1><img src="/img/ninja/keyvisual_201602.png" alt="Monaca x Onsen UI APP NINJA MONTHLY CONTEST Submit your app to win our Excellence Award And choose your own prize" /></h1>

  <div class="social">
    <div class="fb-like" data-href="http://monaca.mobi/en/contest/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    <a href="https://twitter.com/share" class="twitter-share-button"  rel="nofollow" data-text="Monaca x Onsen UI App Ninja Contest - Make a great hybrid app and win a prize!" data-lang="en" data-related="asialnews" data-url="http://monaca.mobi/en/contest/">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="g-plusone-wrap"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div>
    <script type="text/javascript">
      window.___gcfg = {lang: 'en'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </div><!-- /social -->
</div>
<div id="signature">
  <div class="signature-cont">
    <h2>Created an unique App using<br />Monaca or Onsen UI?</h2>
    <ul>
      <li>Win our monthly contest and receive our Excellence Award</li>
      <li>Choose among the following rewards:
        <ul>
          <li>GitHub gift card, iTunes or Google Play gift card, Sublime license and more</li>
        </ul>
      </li>
      <li>All entrants will have their logo and app store link <img src="/img/ninja/char_parenthesis_1.png" alt="" />if provided<img src="/img/ninja/char_parenthesis_2.png" alt="" /> displayed on our showcase site</li>
    </ul>
    <p class="btn-area"><a class="btn btn-blue btn-big" style="width: 300px;" href="/contest/submit">SUBMIT (sign in required)</a></p>
  </div>
</div>


<div id="about" class="sec-h2">
  <div class="keyvisual-cont">
    <h2>ABOUT APP NINJA CONTEST</h2>
    <p>The Monaca x Onsen UI App Ninja Contest is an app development competition for the best hybrid app developed using Monaca or Onsen UI.</p>
    <p>Each month, three winners will be given an opportunity to choose one of the following rewards: GitHub gift card ($25 value), iTunes gift card ($25 value), Google Play gift card ($25 value), 1 Sublime Text license, or a 6 month Monaca Developer license ($100 value). Winners will also receive our Excellence Award, a recognition badge that can be freely used to promote their application.</p>

    <h3>BENEFIT FOR ALL PARTICIPANTS</h3>
    <p>All entrants will get promoted on our showcase site.</p>

  </div>
</div>

<div id="outline-bg">
  <div id="outline" class="sec-h2">
    <h2>CONTEST OUTLINE</h2>

    <h3>CONTEST TIMELINE</h3>
    <p>This is a monthly contest starting October 1st, 2015. Winners will be notified by email and announced on the Monaca X Onsen UI Showcase Page under Featured apps.</p>

    <h3>MAIN RULES</h3>
    <p>Apps must be built with Monaca or Onsen UI (or both). Apps which have already been developed are also eligible if they are finished with Monaca. Submitting more than one app is allowed. Apps must be available for disclosure in our showcase. Acceptance of the terms and conditions is required. </p>

    <h3>QUALIFIED PARTICIPANTS</h3>
    <p>Both individuals and companies may participate.</p>

    <h3>PRIZES</h3>
    <p>Each month we will announce maximum of 3 winners that will be eligible to choose one of the following awards:</p>

    <ol style="line-height: 140%;">
      <li>GitHub gift card ($25 value)</li>
      <li>iTunes gift card ($25 value)</li>
      <li>Google Play gift card ($25 value)</li>
      <li>Sublime Text license</li>
      <li>6 month Monaca Developer license ($100 value)</li>
    </ol>

    <h3>ANNOUNCEMENTS</h3>
    <p>The Best App Award will be announced on Monaca X Onsen UI Showcase site. Outstanding apps will also be given the opportunity for featuring on Monaca X Onsen UI blog. The winners will be notified in advance before the announcement.</p>

  </div>
</div>

<div id="criteria" class="sec-h2"><div>
  <h2>SELECTION CRITERIA</h2>

  <p>Selection of the Best App Award will be determined by Monaca's team of engineers and designers.<br>The selection criteria will focus on:</p>
  <br>
  <ul>
    <li>Excellence in UI design</li>
    <li>Functionality</li>
    <li>Originality and Creativity</li>
  </ul>
  <p class="btn-area">
    <a class="btn btn-blue btn-big" href="/contest/submit">SUBMIT</a>
  </p>

  <br>
  <p class="contactus" style="margin:30px 0 0;"><a href="/en/support/inquiry">Contact us for any questions</a></p>
</div></div>

</section>

<script src="/js/jquery.smoothScroll.js"></script>

<script src="/js/moment.js"></script>
<script src="/js/jquery.min.js"></script>
<script>

  $(window).load(function() {
   var fadeInSpeed = 400;
   $('div.product-partner span#github-published_at').hide();
   $.ajax({
    url: 'https://api.github.com/repos/monaca/Localkit/releases',
    dataType: 'jsonp',
    success: function(res) {
     $("div.product-partner span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
     $('div.product-partner span#github-published_at a strong').text(res.data[0].name);
     var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
     $('div.product-partner span#github-published_at span').text(dateJa);
     $('div.product-partner span#github-published_at').fadeIn(fadeInSpeed);
   },
   error: function() {
     $('div.product-partner span#github-published_at').hide();
   }
 });
 });
</script>


