---
title: Submit Your App | HTML5 cross-platform mobile app development with Monaca
class: contest
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
viewport: width=1200px
---

<style>
  @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);
</style>
<section id="ninja-submit-success" class="subpage">
  <div class="container">
    <img src="/img/ninja/keyvisual_thank_you.png" alt="Monaca x Onsen UI APP NINJA MONTHLY CONTEST  OCTOBER 2015" style="margin-bottom:5px;">
    <h1 style="font-size: 4.5rem">Thank you for your participation!</h1>
    <p>The winner will be notified in advance before the announcement.</p>
    <p>We can’t wait to see your creations!</p>

    <br>
    <br>

    <a class="btn btn-blue btn-big" href="/">Back to top</a>
  </div>
</section>

<script src="/js/jquery.smoothScroll.js"></script>


<script src="/js/jquery.min.js"></script>
