---
title: Submit Your App | HTML5 cross-platform mobile app development with Monaca
class: contest
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
viewport: width=1200px
---

<style>
  @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);
</style>
<section id="ninja-submit-success" class="subpage">
  <div class="container">
    <img src="/img/ninja/keyvisual_thank_you.png" alt="Monaca x Onsen UI APP NINJA MONTHLY CONTEST  OCTOBER 2015" style="margin-bottom:5px;">
    <h1 style="font-size: 4.5rem">Thank you for your participation!</h1>
    <p>The winner will be notified in advance before the announcement.</p>
    <p>We can’t wait to see your creations!</p>

    <br>
    <br>

    <a class="btn btn-blue btn-big" href="/">Back to top</a>
  </div>
</section>

<script src="/js/jquery.smoothScroll.js"></script>

<script src="/js/moment.js"></script>
<script src="/js/jquery.min.js"></script>
<script>

  $(window).load(function() {
   var fadeInSpeed = 400;
   $('div.product-partner span#github-published_at').hide();
   $.ajax({
    url: 'https://api.github.com/repos/monaca/Localkit/releases',
    dataType: 'jsonp',
    success: function(res) {
     $("div.product-partner span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
     $('div.product-partner span#github-published_at a strong').text(res.data[0].name);
     var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
     $('div.product-partner span#github-published_at span').text(dateJa);
     $('div.product-partner span#github-published_at').fadeIn(fadeInSpeed);
   },
   error: function() {
     $('div.product-partner span#github-published_at').hide();
   }
 });
 });
</script>