---
title: サポート＆サービス | MonacaでHTML5モバイルアプリ開発
class: service
description: Monacaサポート＆サービス - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
viewport: width=1200px
---

<div id="main-wrap">
  <section id="support-index" class="subpage">
  <div class="container">
    <h1>Support & Service</h1>

    <div class="flex-container">
      <section class="support-index-box box-04">
        <h2 class="row2-title">Technical Support / Code Review</h2>
        <img src="/img/service/ico_support_tech.png" alt="Technical Support">

        <div class="support-index-box-description">
          <p>Ticket-based technical support is provided to Monaca users. Our professional team will help you solve the issues in your program. Technical support is also useful when you require immediate response from our team.</p>

          <p>Also, we provide a code review service to inspect and solve your code problem. If you need working sample code, this is where you can ask for it.</p>
          <p style="color:#C00;">To learn more about tickets required for the support, please the section 'About Support Ticket' below.</p>
        </div>
        <div class="support-index-box-footer">
          <a class="btn btn-blue" href="https://monaca.mobi/en/login?url=https%3A%2F%2Fmonaca.mobi%2Fen%2Fsupport%2Ftechnical">Ask for a support</a>
        </div>
      </section>
      <section class="support-index-box box-01">
        <h2>Monaca Forum</h2>
        <img src="/img/service/ico_support_forum.png" alt="Monaca Forum">

        <div class="support-index-box-description">
          <p>In the Monaca Forum powered by the question and answer site 'Stack Overflow', you'll find answers to all kinds of questions that may arise during your development experience. The Forum is a great place to exchange development ideas with your peers.</p>
        </div>
        <div class="support-index-box-footer">
          <a class="btn btn-blue" href="/en/forum/home">Monaca Forum</a>
        </div>
      </section>

      <section class="support-index-box box-03">
        <h2>General Questions</h2>
        <img src="/img/service/ico_support_question.png" alt="General Questions">

        <div class="support-index-box-description">
          <p>We accept general questions, including plan upgrades, volume discount, and partnership ideas.</p>

          <p style="color:#C00;">Please use the Monaca forum or technical support for your technical questions.</p>
        </div>
        <div class="support-index-box-footer">
          <a class="btn btn-blue" href="/en/support/inquiry">Contact Us</a>
        </div>
      </section>
    </div>

    <div class="flex-container">

      <section class="support-index-box box-02">
        <h2>Known Issues</h2>
        <img src="/img/service/ico_support_fault.png" alt="Known Issues">

        <div class="support-index-box-description">
          <p>We welcome your feedback about the problems you may encounter during development.</p>
          <p style="color:#C00;">We inform you about Status/Known Issues on <a href="https://monaca.mobi/headline/fault" target="_blank">our Updates page</a> .</p>

          <p>If you need an immediate response, please consider using our technical support.</p>
        </div>
        <div class="support-index-box-footer">
          <a class="btn btn-blue" href="/en/headline/fault">Report an issue</a>
        </div>
      </section>

      <section class="support-index-box box-05">
        <h2 class="row2-title">Professional Service</h2>
        <img src="/img/service/ico_support_pro.png" alt="Professional Service">

        <div class="support-index-box-description">
          <p>We provide various service to make your app successful. Please ask us for the design review, UI design, plugin development, or performance tuning services.</p>
        </div>
        <div class="support-index-box-footer">
          <a class="btn btn-blue" href="/en/support/inquiry/support_service">Contact Us</a>
        </div>
      </section>

          </div>
    <div class="support-index-box-detail-description" id="support-tech-detail">
      <h3>About Support Ticket</h3>

      <p>Technical support and code review requires you to have support tickets. A technical question without code review consumes 1 ticket, but no more tickets will be consumed further on the same topic. If that inquiry consists of several questions, we may ask you to use two or more tickets. No tickets will be used if the problem was due to the Monaca product.</p>
      <p>・<span style="text-decoration:underline;">How many tickets are needed for the support</span></p>
      <p><div class="support-ticket-description">1 ticket: Our professional team will help you find a solution based on previous similar support inquiries.<br/>
         2-4 tickets: Our professional team will help you solve the issues in your program without code review.<br/>
         More than 5 tickets: Our professional team will help you solve the issues in your program with code review. If needed, you can also obtain working sample code from us.<br/>
         ※ To review the whole project source code, please inquire the Professional Service.</div></p>
      <p>・<span style="text-decoration:underline;">Tickets automatically added based on the subscription plan</span></p>
      <p><div class="support-ticket-description">Based on your subscription plan, support tickets are automatically added to your account on monthly basis. Automatically issued tickets expire at the end of the issuing month. </div></p>
      <p>・<span style="text-decoration:underline;">How to purchase support tickets</span></p>
      <p><div class="support-ticket-description"> Visit <a style='text-decoration:none;' href="http://docs.monaca.mobi/cur/faq/general/#how-can-i-buy-the-support-tickets" target="_blank">our FAQs page</a> to find out how to purchase tickets.</div></p>
    </div>
  </div>
</section>
<script>
$(document).ready(function(){
  $('.trainee-voice-title').slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 8000,
    dots: false,
    arrows: false
  });
});
</script>
</section>
<script src="/js/jquery.smoothScroll.js"></script>


<script src="/js/moment.js"></script>
<script src="/js/jquery.min.js"></script>
<script>

$(window).load(function() {
	var fadeInSpeed = 400;
	$('div.service span#github-published_at').hide();
	$.ajax({
		url: 'https://api.github.com/repos/monaca/Localkit/releases',
		dataType: 'jsonp',
		success: function(res) {
			$("div.service span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
			$('div.service span#github-published_at a strong').text(res.data[0].name);
			var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
			$('div.service span#github-published_at span').text(dateJa);
			$('div.service span#github-published_at').fadeIn(fadeInSpeed);
		},
		error: function() {
			$('div.service span#github-published_at').hide();
		}
	});
});
</script>
<script>
    window.addEventListener("load", function() {
        $('.trainee-voice-title').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 8000,
            dots: false,
            arrows: false
        });
   });
</script>

