---
title: Monacaアプリ開発講座 | はじめてのHTML5モバイルアプリ開発講座！
class: service
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

  <div id="main-wrap">
    <section id="training">
      <div class="training-header">
        <div class="training-wrapper">
          <div class="training-contents">
            <h2 class="title pc"><img src="/img/service/title_keyvisual.png" alt="LPI認定校　はじめてのHTML5モバイルアプリ開発講座"></h2>
            <h2 class="title sp"><img src="/img/service/keyvisual.jpg" alt="LPI認定校　はじめてのHTML5モバイルアプリ開発講座"></h2>
          </div>
        </div>
      </div>

      <div class="training-outline clearfix">
        <div class="text">
          <p>10万ユーザーを突破した『人気国産アプリ開発ツールMonaca』を利用してアプリ開発を行う講座です。</p>
          <p>Monacaを利用することで面倒な開発環境のセットアップなしにiOSやAndroidに対応したアプリを開発することができます。そのため、初心者・教育機関・開発効率を求めるプロの方々まで幅広く利用されています。</p>
          <p>初心者の方が気軽に学べる『<a href="#monaca-1">Monaca超入門</a>』講座と初～中級者向けの『<a href="#monaca-2">HTML5モバイルアプリ開発基礎講座</a>』講座をご用意しております。</p>
          <p class="last-sec">10万ユーザー突破を記念して『<a href="#monaca-1">Monaca超入門</a>』は特別価格で実施します。<br />また『<a href="#monaca-2">HTML5モバイルアプリ開発基礎講座</a>』にご参加いただいた方には、アシアル監修のMonaca公式ガイドブック『クラウドでできるHTML5ハイブリッドアプリ開発』を差し上げます。</p>
          <img class="left-pic" src="/img/service/pic_outline_01.png" alt="">
          <img class="right-pic" src="/img/service/pic_outline_02.png" alt="">
        </div>
        <div class="iframe-content">
        <script>
          var getDevice = (function(){
          var ua = navigator.userAgent;
          if(ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0){
              $(document).ready(function () {
                hsize = $(window).height();
                if(hsize > 740) {
                  $(".iframe-content").css("height", "500px");
                } else {
                  $(".iframe-content").css("height", "450px");
                }
              });
          }else if(ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0){
              $(document).ready(function () {
                hsize = $(window).height();
                $(".iframe-content").css("height", "450px");
              });
          }else{
              $(document).ready(function () {
                wsize = $(window).width();
                hsize = $(window).height();
                if(hsize < 970) {
                  $(".iframe-content").css("height", "450px");
                } else {
                  $(".iframe-content").css("height", "650px");
                }
              });
              $(window).resize(function () {
                wsize = $(window).width();
                hsize = $(window).height();
                if(hsize < 970) {
                  $(".iframe-content").css("height", "450px");
                } else {
                  $(".iframe-content").css("height", "650px");
                }
              });
          }
      })();
        </script>
          <iframe frameborder="0" src="https://phiyoko.com/ad/widget.php"></iframe>
        </div>
      </div>

      <div class="training-table-container divider">
        <h3 id="monaca-2">はじめてのHTML5モバイルアプリ開発講座</h3>
        <table class="training-table">
          <tr class="last">
            <th id="monaca-1" class="course-title">
              <h4>Monaca超入門講座</h4>
              <a class="btn-blue btn-mini" href="http://www.slideshare.net/AsialCorp/html5-37267669" target="_blank">講座資料を見る</a>
            </th>
            <td class="theme">
              <h5>テーマ：「はじめてのHTML5モバイルアプリ」</h5>
              <p>HTMLやJavaScriptに関する解説やMonacaの基本的な使い方をレクチャーいたします。またおみくじアプリの作成を通じて実際にコードを書きながらプログラミングを学びます。</p>
              <ul class="tag-container">
                <li>ハイブリッドアプリの概要</li>
                <li>Monacaの使い方</li>
              </ul>
            </td>
            <td class="price">
              <ul>
                <li>金額：<span>3,240円</span></li>
                <li>時間：<span>2時間</span></li>
                <li>難易度：<span class="ico-star">★</span></li>
              </ul>
            </td>
          </tr>

        </table>

      </div>


      <div class="training-table-container">
        <h3>HTML5モバイルアプリ開発基礎講座</h3>
        <table class="training-table">
        <!--
        <tr>
          <th colspan="3" class="category-title"><h3>はじめてのHTML5モバイルアプリ開発講座</h3></th>
        </tr>
      -->
      <tr>
        <th class="course-title">
          <h4>RSSリーダー</h4>
          <a class="btn-blue btn-mini" href="http://www.slideshare.net/AsialCorp/html5rss" target="_blank">講座資料を見る</a>
        </th>
        <td class="theme">
          <h5>テーマ：「外部サーバーのデータを取得しよう」</h5>
          <p>ブログやニュースサイトなどの新着記事を閲覧するRSSリーダーアプリを制作し、アプリから外部サーバーに対して通信を行うための技術を学びます。</p>
          <ul class="tag-container">
            <li>Ajax</li>
            <li>RSS</li>
          </ul>
        </td>
        <td class="price">
          <ul>
            <li>金額：<span>10,800円</span></li>
            <li>時間：<span>2.5時間</span></li>
            <li>難易度：<span class="ico-star">★★</span></li>
          </ul>
        </td>
      </tr>
      </table>
      <table class="training-table">
      <tr>
        <th class="course-title">
          <h4>TODOアプリ</h4>
          <a class="btn-blue btn-mini" href="http://www.slideshare.net/AsialCorp/html5todo" target="_blank">講座資料を見る</a>
        </th>
        <td class="theme">
          <h5>テーマ：「アプリ内にデータを保存しよう」</h5>
          <p>シンプルなTODOアプリの制作を通して、アプリ内にデータを保存するための技術を学びます。</p>
          <ul class="tag-container">
            <li>JSON</li>
            <li>ローカルストレージ</li>
          </ul>
        </td>
        <td class="price">
          <ul>
            <li>金額：<span>10,800円</span></li>
            <li>時間：<span>2.5時間</span></li>
            <li>難易度：<span class="ico-star">★★</span></li>
          </ul>
        </td>
      </tr>
      </table>
      <table class="training-table">
      <tr>
        <th class="course-title">
          <h4>クイズアプリ</h4>
          <a class="btn-blue btn-mini" href="http://www.slideshare.net/AsialCorp/html5-37268688" target="_blank">講座資料を見る</a>
        </th>
        <td class="theme">
          <h5>テーマ：「バックエンド機能を利用しよう」</h5>
          <p>４択問題を出題するクイズアプリを制作し、クラウドデータベースの利用方法を学びます。</p>
          <ul class="tag-container">
            <li>クラウドデータベース</li>
          </ul>
        </td>
        <td class="price">
          <ul>
            <li>金額：<span>10,800円</span></li>
            <li>時間：<span>2.5時間</span></li>
            <li>難易度：<span class="ico-star">★★</span></li>
          </ul>
        </td>
      </tr>
      </table>
      <table class="training-table">
      <tr>
        <th class="course-title">
          <h4>地図アプリ</h4>
          <a class="btn-blue btn-mini" href="http://www.slideshare.net/AsialCorp/html5-37268754" target="_blank">講座資料を見る</a>
        </th>
        <td class="theme">
          <h5>テーマ：「GoogleMapをアプリで利用しよう」</h5>
          <p>現在地周辺の地図と近隣の店舗情報を表示するアプリを制作し、Google Mapの機能や端末の位置情報を取得する方法を学びます。</p>
          <ul class="tag-container">
            <li>Geolocation API（PhoneGap）</li>
            <li>Google Maps API</li>
          </ul>
        </td>
        <td class="price">
          <ul>
            <li>金額：<span>10,800円</span></li>
            <li>時間：<span>2.5時間</span></li>
            <li>難易度：<span class="ico-star">★★</span></li>
          </ul>
        </td>
      </tr>
      </table>
      <table class="training-table">
      <tr>
        <th class="course-title">
          <h4>お絵かきアプリ</h4>
          <a class="btn-blue btn-mini" href="http://www.slideshare.net/AsialCorp/html5-37268796" target="_blank">講座資料を見る</a>
        </th>
        <td class="theme">
          <h5>テーマ：「タッチ座標を取得してお絵かきしよう」</h5>
          <p>画面をタッチして自由に絵を描くことのできるお絵かきアプリを制作し、モバイル端末の独自イベントとHTML5のキャンバスについて学びます。</p>
          <ul class="tag-container">
            <li>タッチイベント</li>
            <li>キャンバス</li>
          </ul>
        </td>
        <td class="price">
          <ul>
            <li>金額：<span>10,800円</span></li>
            <li>時間：<span>2.5時間</span></li>
            <li>難易度：<span class="ico-star">★★</span></li>
          </ul>
        </td>
      </tr>
      </table>
      <table class="training-table">
      <tr class="last">
        <th class="course-title">
          <h4>音楽プレイヤー</h4>
          <a class="btn-blue btn-mini" href="http://www.slideshare.net/AsialCorp/html5-37268817" target="_blank">講座資料を見る</a>
        </th>
        <td class="theme">
          <h5>テーマ：「アプリで音を鳴らそう」</h5>
          <p>アプリ内に入っている音楽ファイルを再生するプレイヤーアプリを制作し、アプリで音を鳴らす方法とHTML5のprogress要素について学びます。</p>
          <ul class="tag-container">
            <li>Media API（PhoneGap）</li>
            <li>progress要素</li>
          </ul>
        </td>
        <td class="price">
          <ul>
            <li>金額：<span>10,800円</span></li>
            <li>時間：<span>2.5時間</span></li>
            <li>難易度：<span class="ico-star">★★</span></li>
          </ul>
        </td>
      </tr>
    </table>
    <ul class="table-cap">
      <li>※ モバイルアプリ開発環境<span>「Monaca」に初めて触れる方は、まずはじめに「<a href="#monaca-1">Monaca超入門</a>」をご受講下さい。</span></li>
      <li>※ 各講座は、<span>HTML、CSS、JavaScript、jQueryの基礎知識をお持ちの方が対象です。</span><br>未経験の方は、以下の「これからHTML, JavaScriptを始める方向けの基礎講座」を合わせてご受講下さい。</li>
    </ul>
  </div>
  <div class="btn-container divider">
    <button onClick="window.open('http://peatix.com/event/78497/')" class="btn-h56" formtarget="_blank">詳細／お申込み</button>
  </div>


  <div class="training-table-container">
    <h3>Visual Studioで作るiOS、Android両対応<br>HTML5モバイルアプリ開発講座</h3>
    <p>Visual Studioの拡張機能であるMonaca for Visual Studioを使った、iOS、Androidの両OSに対応したモバイルアプリ「HTML5モバイルアプリ」の開発方法をレクチャーします。</p>
    <p>今回は、Monaca for Visual Studioの操作を一から学習したい方向けの「入門編」と、今後本格的にVisual Studioを用いたHTML5ハイブリッドアプリ開発に取り組みたい方向けの「実践編」の2種類の講座をご用意いたしました。</p>
    <p class="last-sec">ご参加いただいた方には、アシアル監修のMonaca公式ガイドブック『クラウドでできるHTML5ハイブリッドアプリ開発』を差し上げます。</p>
    <table class="training-table mb0 table-purple">
        <!--
        <tr>
          <th colspan="3" class="category-title"><h3>Visual Studioで作るiOS、Android両対応HTML5ハイブリッドアプリ開発講座</h3></th>
        </tr>
      -->
      <tr>
        <th id="vs-1" class="course-title">
          <h4>アプリ開発入門<br class="break-xs">（Visual Studio版）</h4>
        </th>
        <td class="theme">
          <p>開発環境のセットアップを行った後に、おみくじアプリやカメラアプリなどの簡単なサンプルアプリの制作を通じて、デバッグ、ビルドまでを実際に体験していただき、アプリ開発の一連の流れとMonaca for Visual Studioの使い方を学びます。</p>
          <ul class="tag-container">
            <li>ハイブリッドアプリの概要</li>
            <li>Monacaの使い方</li>
            <li>Camera API</li>
          </ul>
        </td>
        <td class="price">
          <ul>
            <li>金額：<span>10,800円</span></li>
            <li>開催日時：<br><span>2015年10月23日(金)</span><br><span>9:30〜12:00(2.5時間)</span></li>
            <li>定員：<span>20名</span></li>
            <li>難易度：<span class="ico-star">★</span></li>
          </ul>
        </td>
      </tr>
      </table>
      <table class="training-table mb0 table-purple">
      <tr class="last">
        <th id="vs-2" class="course-title">
          <h4>アプリ開発実践<br class="break-xs">（Visual Studio版）</h4>
        </th>
        <td class="theme">
          <p>シンプルなTODOアプリを題材として、業務アプリを構築するうえで必要な基礎知識である画面遷移やCRUD処理の方法について学びます。また、Azureモバイルサービスと連携して、データをクラウドデータベース上で 管理する方法も合わせて学習します。</p>
          <ul class="tag-container">
            <li>JSON</li>
            <li>ローカルストレージ</li>
            <li>Azureモバイルサービス</li>
          </ul>
        </td>
        <td class="price">
          <ul>
            <li>金額：<span>21,600円</span></li>
            <li>開催日時：<br><span>2015年10月23日(金)</span><br><span>13:00〜18:00(5時間)</span></li>
            <li>定員：<span>20名</span></li>
            <li>難易度：<span class="ico-star">★★</span></li>
          </ul>
        </td>
      </tr>
    </table>

    <ul class="table-cap">
      <li>※ モバイルアプリ開発環境<span>「Monaca」に初めて触れる方は、午前中の「アプリ開発入門（Visual Studio版）」を必ずご受講下さい。</span></li>
      <li>※ 入門編、実践編を両方ともお申込みいただきますと、通常よりもお得な金額で受講頂けます。<span>「入門編・実践編パック」</span>のチケットをご購入ください。</li>
    </ul>

  </div>
  <div class="btn-container divider">
    <button onClick="window.open('http://peatix.com/event/118120/')" class="btn-h56" formtarget="_blank">詳細／お申込み</button>
  </div>

  <div class="training-table-container">
    <h3>これからHTML, JavaScriptを始める方向けの基礎講座</h3>
    <table class="training-table">
      <tr>
        <th class="course-title">
          <h4><a href="https://www.asial.co.jp/school/course_detail/13" target="_blank">HTML5 × CSS<br class="br-hidden">入門</a></h4>
        </th>
        <td class="theme">
          <h5>テーマ：「Webサイトの仕組みを知ろう」</h5>
          <p>Webサイトのコンテンツやデザインを定義する技術である、HTMLとCSSについて学びます。最新のHTML5に準拠した内容なので、これからWebに関わる人全てにお勧めです。</p>
          <ul class="tag-container">
            <li>概要</li>
            <li>HTMLのタグと属性</li>
            <li>CSSの基本</li>
          </ul>
        </td>
        <td class="price">
          <ul>
            <li>金額：<span>21,000</span>円</li>
            <li>時間：<br><span>1日集中</span>開催 or<br><span>2コマに分けて</span>開催</li>
            <li>レベル：<br>事前の知識は特に必要ありません。</li>
          </ul>
        </td>
      </tr>
      </table>
      <table class="training-table">
      <tr>
        <th class="course-title">
          <h4><a href="https://www.asial.co.jp/school/course_detail/22" target="_blank">JavaScript＆jQuery<br class="br-hidden br-hidden-1">入門</a></h4>
        </th>
        <td class="theme">
          <h5>テーマ：「JavaScriptの基本を理解しよう」</h5>
          <p>JavaScriptによるプログラミングの基礎とjQueryの基本的な文法を学習します。<br>プログラミング未経験の方も歓迎です。</p>
          <ul class="tag-container">
            <li>基本的な文法</li>
            <li>データの扱い</li>
            <li>制御構文</li>
            <li>関数</li>
            <li>イベント</li>
            <li>セレクタとメソッド</li>
          </ul>
        </td>
        <td class="price">
          <ul>
            <li>金額：<span>32,400</span>円</li>
            <li>時間：<br><span>1日集中</span>開催 or<br><span>3コマに分けて</span>開催</li>
            <li>レベル：<br>普段からWebを利用し、タイピングに支障が無い方。HTMLやCSSといった単語に抵抗が無い方。</li>
          </ul>
        </td>
      </tr>
      </table>
      <table class="training-table">
      <tr class="last">
        <th class="course-title">
          <h4><a href="https://www.asial.co.jp/school/course_detail/50" target="_blank">HTML5<br>プロフェッショナル認定試験 レベル1<br class="br-hidden br-hidden-1">対策</a></h4>
        </th>
        <td class="theme">
          <h5>テーマ：「HTML5の新要素をマスターしよう！」</h5>
          <p>HTML5プロフェッショナル認定試験レベル１に合格できるレベルを目指します。HTML5で追加された新要素の他、CSS3やWebの基礎知識など、最新Web標準技術を幅広く学ぶことができます。</p>
          <ul class="tag-container">
            <li>Webの基礎知識</li>
            <li>HTML5の新要素</li>
            <li>CSS3</li>
            <li>レスポンシブウェブデザイン</li>
            <li>オフラインWebアプリケーション</li>
          </ul>
        </td>
        <td class="price">
          <ul>
            <li>金額：<span>32,400</span>円</li>
            <li>時間：<span>1日集中</span>開催</li>
            <li>レベル：<br>HTMLとCSSの基礎を理解できている方。</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

    <!--
    <div class="btn-container">
      <button onClick="window.open('http://peatix.com/event/78497/')" class="btn-h56" formtarget="_blank">詳細／お申込み</button>
    </div>
  -->

  <div class="gray-bg-container">
    <h3>受講対象者</h3>
    <ul class="gray-bg">
      <li>これからHTML5モバイルアプリの開発を始めたい方</li>
      <li>ハイブリッド型のアプリ開発手法を学びたい方</li>
      <li>モバイルアプリ開発環境「Monaca」で出来ることを知りたい方</li>
      <li>Webの技術知識を生かしてモバイルアプリを作りたい方</li>
      <li>モバイルアプリの開発手法を選定中の方</li>
    </ul>
  </div>

  <div class="gray-bg-container">
    <h3 class="trainee-voice-title">受講者の声</h3>
    <div id="slides1" class="trainee-voice">
      <div><span>効果的に全体像がわかりました。</span></div>
      <div><span>分かりやすくて、テンポもよく良かったです。</span></div>
      <div><span>講座以外の質問にもご丁寧に回答していただきまして<br class="pc">ありがとうございました。</span></div>
      <div><span>初心者に理解しやすい言葉を使っているので、<br class="pc">内容についていくのに負担が少なくて良かったです。</span></div>
    </div>
  </div>

  <div class="academic-container">
    <h3>HTML5アカデミック認定校</h3>
    <img src="/img/service/logo_lpi_laurel.png" alt="LPI-Japan HTML5アカデミック認定校ロゴ">
    <p>はじめてのHTML5モバイルアプリ開発講座を運営するアシアルスクールは、<br>「LPI-Japan HTML5アカデミック認定校」に認定されております。</p>
  </div>

  <div class="corporate-container">
    <div class="corporate-wrapper clearfix">
      <h3>企業向けHTML5モバイルアプリ開発研修</h3>
      <p>
        HTML5を用いたモバイルアプリ開発の需要は、B2CアプリのみならずB2B、B2E用のいわゆる業務アプリの分野で急増することが見込まれております。これは、システム開発会社様やWeb制作会社様にとっては大きなビジネスチャンスです。<br>
        アシアルの企業向けHTMLモバイルアプリ開発研修では、お客様のニーズや受講者のレベルに合わせた研修メニューをご提案致します。
      </p>
    </div>
    <h4>研修実績</h4>
    <ul class="training-results clearfix">
      <li><img src="/img/service/logo_works_02.png" alt="株式会社mediba"></li>
      <li><img src="/img/service/logo_works_03.png" alt="マルマンコンピュータサービス株式会社"></li>
      <li><img src="/img/service/logo_works_04.png" alt="一般社団法人 宮城県情報サービス産業協会"></li>
    </ul>
  </div>

  <div class="btn-container">
    <button onClick="location.href='/support/inquiry.html'" class="btn-h56">お問い合わせ</button>
  </div>
  <script>
    $(document).ready(function(){
      $('.trainee-voice-title').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 8000,
        dots: false,
        arrows: false
      });
    });
  </script>
</section>

<script>
  $(window).load(function() {
    var fadeInSpeed = 400;
    $('div.service span#github-published_at').hide();
    $.ajax({
        url: 'https://api.github.com/repos/monaca/Localkit/releases',
        dataType: 'jsonp',
        success: function(res) {
            $("div.service span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
            $('div.service span#github-published_at a strong').text(res.data[0].name);
            var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
            $('div.service span#github-published_at span').text(dateJa);
            $('div.service span#github-published_at').fadeIn(fadeInSpeed);
        },
        error: function() {
            $('div.service span#github-published_at').hide();
        }
    });
  });
</script>

<script>
  window.addEventListener("load", function() {
    $('.trainee-voice').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 8000,
      dots: false,
      arrows: false
    });
  });
</script>
