---
title: Monaca - お問い合わせTOP
class: support-index
description: Monaca - お問い合わせTOP
layout: src/templates/layouts/default.hbs
---

<div class="header">
    <h1>お問い合わせ</h1>
    <p>□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■</p>
    <div class="box">
        <p><strong>お問い合わせの前に、下の検索フォームをご利用ください。</strong><br>下のフォームにて検索キーワード(例:’Android Build’, ‘Monaca
            CLI’)を入力し、お問い合わせに関する内容をMonacaドキュメントから探すことができます。解決しない場合は、以下の各種お問い合わせからお願いいたします。</p>
        <input type="text" placeholder="キーワード">
    </div>
</div>
<div class="container pages">
    <div class="pages">
        <div class="page box">
            <h2>一般的な<br>お問い合わせ</h2>
            <p>□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■</p>
            <a href="">お問い合わせ<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </div>
        <div class="page box">
            <h2>テクニカルサポート</h2>
            <p>□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■</p>
            <a href="">お問い合わせ<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </div>
        <div class="page box">
            <h2>障害・<br>不具合報告</h2>
            <p>□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■</p>
            <a href="">お問い合わせ<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </div>
    </div>
    <a class="big-link" href="">プログラミング教育へのお問い合わせはこちら<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</div>
