---
title: PhoneGap Migration | Monaca
class: phonegap
description: Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---


<div class="v2-section--keyvisual">
    <div class="v2-section--keyvisual__background-wrapper">
        <div class="v2-section--keyvisual__background-center">
            <div class="background-buildings"></div>
            {{!-- <div class="app-train-area">
              <img src="/img/phonegap/app-train.png" class="app-train" />
            </div> --}}
            
            <div class="v2-section--keyvisual__wrapper">
                <div class="v2-section--keyvisual__title">Migrate from PhoneGap to Monaca</div>
                <div class="v2-section--keyvisual__description">Monaca provides all of the feature that PhoneGap provides and more. <br/>With our migration guide, you can start building your PhoneGap app with Monaca in minutes. </div>
                <a href="https://monaca.mobi/en/signup" onclick="ga('send', 'event', 'pg-get-started', 'click');" class="v2-section--keyvisual__trial-button">Get started now</a>
            </div>
        </div>
    </div>
</div>



<div class="v2-section--general">
    <div class="v2-section--general__wrapper">
        <h2>Perfect Alternative to PhoneGap</h2>
        <p>Monaca is a development platform featuring remote app building, a choice of CLI or GUI application, cloud IDE, debugging app and much more.</p>

        <table class="feature-comparison-table">
            <tr>
                <th></th>
                <th>PhoneGap</th>
                <th>Monaca</th>
            </tr>
            <tr>
                <td class="feature-name">
                    <strong>Remote Build</strong>
                    <span>Build apps for the app stores and for testing in the cloud</span>
                </td>
                <td>
                    <span class="status-mark ok"></span>
                    <span>PhoneGap Build</span>
                </td>
                <td>
                    <span class="status-mark ok"></span>
                    <span><a href="https://monaca.io/cloud.html" target="_blank">Monaca Cloud</a></span>
                </td>
            </tr>
            <tr>
                <td class="feature-name">
                    <strong>Command Line Interface</strong>
                    <span>Use local development environment with access to cloud services</span>
                </td>
                <td>
                    <span class="status-mark ok"></span>
                    <span>PhoneGap CLI</span>
                </td>
                <td>
                    <span class="status-mark ok"></span>
                    <span><a href="https://monaca.io/cli.html" target="_blank">Monaca CLI</a></span>
                </td>
            </tr>
            <tr>
                <td class="feature-name">
                    <strong>Desktop App</strong>
                    <span>Graphical user interface to access cloud services from local environment</span>
                </td>
                <td>
                    <span class="status-mark ok"></span>
                    <span>PhoneGap Desktop App</span>
                </td>
                <td>
                    <span class="status-mark ok"></span>
                    <span><a href="https://monaca.io/localkit.html" target="_blank">Monaca Localkit</a></span>
                </td>
            </tr>
            <tr>
                <td class="feature-name">
                    <strong>Cloud IDE</strong>
                    <span>Fully functional development environment in the cloud, accessible anywhere</span>
                </td>
                <td>
                    <span class="status-mark ng"></span>
                </td>
                <td>
                    <span class="status-mark ok"></span>
                    <span><a href="https://monaca.io/cloud.html" target="_blank">Monaca Cloud IDE</a></span>
                </td>
            </tr>
            <tr>
                <td class="feature-name">
                    <strong>Developer Debug App</strong>
                    <span>Quickly test your app on device without building</span>
                </td>
                <td>
                    <span class="status-mark ok"></span>
                    <span>PhoneGap Developer Mobile App</span>
                </td>
                <td>
                    <span class="status-mark ok"></span>
                    <span><a href="https://monaca.io/debugger.html" target="_blank">Monaca Debugger</a></span>
                </td>
            </tr>
            <tr>
                <td class="feature-name">
                    <strong>Continuous Integration</strong>
                    <span>Automated build and deployment service</span>
                </td>
                <td>
                    <span class="status-mark ng"></span>
                </td>
                <td>
                    <span class="status-mark ok"></span>
                    <span><a href="https://monaca.io/ci.html" target="_blank">Monaca CI</a></span>
                </td>
            </tr>
            <tr>
                <td class="feature-name">
                    <strong>Support</strong>
                    <span>Access to community driven and professional support</span>
                </td>
                <td>
                    <span class="status-mark partial"></span>
                    <span>Community-driven support</span>
                </td>
                <td>
                    <span class="status-mark ok"></span>
                    <span><a href="https://monaca.io/service/index.html" target="_blank">Monaca Support</a></span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="v2-section--general">
    <div class="v2-section--general__wrapper">
        <h2>Pricing</h2>

        <div class="table-overscroll-wrapper">
            <table class="feature-comparison-table">
                <tr>
                    <th></th>
                    <th>Free Plan</th>
                    <th>Pro Plan</th>
                </tr>
                <tr>
                    <td class="feature-name">
                        <strong>Price</strong>
                    </td>
                    <td>Free</td>
                    <td>
                      $22 / month
                    </td>
                </tr>
                <tr>
                    <td class="feature-name">
                        <strong>Core Cordova Plugins</strong>
                        <span>Camera, statusbar etc</span>
                    </td>
                    <td><span class="status-mark ok"></span></td>
                    <td><span class="status-mark ok"></span></td>
                </tr>
                <tr>
                    <td class="feature-name">
                        <strong>Other Plugins</strong>
                        <span>Plugins from npm, and private plugins</span>
                    </td>
                    <td><span class="status-mark ng"></span></td>
                    <td><span class="status-mark ok"></span></td>
                </tr>
                <tr>
                    <td class="feature-name">
                        <strong>Cloud Builds</strong>
                    </td>
                    <td>
                        <span class="status-mark partial"></span>
                        <span>3 builds / day</span>
                    </td>
                    <td>
                        <span class="status-mark ok"></span>
                        <span>Unlimited</span>
                    </td>
                </tr>
                <tr>
                    <td class="feature-name">
                        <strong>GitHub Integration</strong>
                        <span>Build your apps from a GitHub repository</span>
                    </td>
                    <td>
                        <span class="status-mark partial"></span>
                        <span>Public repositories only</span>
                    </td>
                    <td><span class="status-mark ok"></span></td>
                </tr>
                <tr>
                    <td class="feature-name">
                        <strong>Cloud IDE</strong>
                    </td>
                    <td><span class="status-mark ok"></span></td>
                    <td><span class="status-mark ok"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span>Free plan is available after trial period</span></td>
                    <td>
                        <a href="https://monaca.mobi/en/signup" onclick="ga('send', 'event', 'pg-signup-developer', 'click');"
                        class="btn btn-trial">Start trial</a>
                    </td>
                </tr>
            </table>
        </div>

        <p>* For more plans and details, see <a href="/pricing.html">Pricing</a>.</p>
    </div>
</div>
<div class="v2-section--general">
    <div class="v2-section--general__wrapper" style="margin-bottom: 56px;">
        <h2>About Us</h2>
        <p>Monaca provides developers a quick and easy solution for their mobile app development needs. As well as remote building, we also provide cloud backend, continuous integration services, and <a href="https://onsen.io/"></a>Onsen UI</a> (our open-source UI framework). Our company is based in Tokyo and was founded in 2009 by Masa Tanaka. Masa frequently participates as a conference speaker in the PhoneGap/Cordova community. To learn more about our company and other products, please see <a href="/about-us.html">Our Story</a>.</p>
    </div>
</div>
<div class="v2-section--general" id="guide">
    <div class="v2-section--general__wrapper migration-guide">
        <h2>Migration Guide</h2>
        <p>You can import your PhoneGap projects. If you do not have a Monaca account, you will need to create an account before following the manual migration steps below.</p>

        <div class="guide-main">
            <h3 id="migration-phonegap-build">For PhoneGap Build Users</h3>
            <p>You can upload a zip file or pull from a GitHub repository just like with PhoneGap Build.</p>
            <p><img src="/img/migration-from-phonegap/PhoneGap_Build_Migration_Instruction.png" /></p>
            <p>Some projects may require modification for a successful build. Monaca projects follow the Cordova project structure which may be different to the PhoneGap structure. For more details, please check the full migration guide:</p>
            <p style="text-align: right;"><a class="document-link" href="https://docs.monaca.io/en/products_guide/migration/phonegap_migration/guide_for_phonegap_build"
             onclick="ga('send', 'event', 'pg-', 'click');">Read Full Guide on Monaca Docs</a></p>

            <h3 id="migration-phonegap-cli">For PhoneGap CLI Users</h3>
            <p>Start by installing <a href="/cli.html">Monaca CLI</a> globally with npm:</p>
            <pre><code>npm install -g monaca</code></pre>
            <p>Next, login to your new Monaca account.</p>
            <pre><code>monaca login</code></pre>
            <p>Change your directory to your PhoneGap project, and upload it.</p>
            <pre><code>cd &lt;project dir&gt;</code>
<code>monaca init</code>
<code>monaca upload</code></pre>
            <p>Some projects may require modification for a successful build. Monaca projects follow the Cordova project structure which may be different to the PhoneGap structure. For more details, please check the full migration guide:</p>
            <p style="text-align: right;"><a class="document-link" href="https://docs.monaca.io/en/products_guide/migration/phonegap_migration/guide_for_phonegap_cli"
             onclick="ga('send', 'event', 'pg-', 'click');">Read Full Guide on Monaca Docs</a></p>

            {{!-- <h3 id="migration-phonegap-desktop">For PhoneGap Desktop App Users</h3>
            <p>Monaca Localkit is our Desktop GUI which allows you to debug and test your apps locally in real time.</p>
            <p style="text-align: right;"><a class="document-link" href="https://docs.monaca.io/en/products_guide/migration/phonegap_migration/guide_for_phonegap_desktop"
             onclick="ga('send', 'event', 'pg-', 'click');">Read Full Guide on Monaca Docs</a></p> --}}
        </div>
    </div>
</div>
<div class="v2-section--general">
    <div class="v2-section--general__wrapper">
        <h2>Need help?</h2>
        <p>We are working hard to ensure that every PhoneGap user's migration to Monaca is smooth. If you have any issues, please don't hesitate to contact us.</p>
        <p style="text-align: right;"><a class="btn btn-trial" href="/support/inquiry.html" onclick="ga('send', 'event', 'pg-', 'click');">Contact Us</a></p>
    </div>
</div>
