---
title: Cloud IDE for HTML5 Hybrid Mobile App Development with Cordova | Monaca
class: phonegap_enterprise_notification
---

<section>
    <h1>Enterprise App Development &amp; Management Framework <br />for HTML5/Cordova Apps</h1>
    <p>Monaca Enterprise is a mobile app development and management framework that provides full featured services for secure and efficient mobile app development and management. Equipped with Cordova, an industry-standard HTML5 hybrid app OSS (Open Source Framework), it enables you to develop multiplatform mobile apps by using web technology standards.</p>

    <div>
	  	<form class="phonegap-e-form">
		    <input type="email" name="form[email]" maxlength="255" placeholder="E-mail address" class="email" id="form_email" required/>
		    <button id="notify_me" type="button" class="btn-blue">NOTIFY ME</button>
	  	</form>
  	</div>

</section>

<div class="about-monaca">
  <div>
    <h2>About Monaca</h2>
    <p>Monaca is a premier mobile and web engineering services and developer education company since 2002, headquartered in Tokyo. We’ve been working with PhoneGap / Cordova since 2009 and the founder, Masa Tanaka, is a frequent conference speaker in this field. Our main products are Monaca and Onsen UI, the framework-agnostic UI framework for hybrid and PWA.</p>
  </div>
</div>

<div class="questions">
    Any questions? Please feel free to <a href="/support/inquiry.html">contact us</a>.
</div>