body.book-sample {
    .book-sample-header {
        position: relative;
        margin: 0 auto;
        padding-top: 90px;
        padding-bottom: 40px;
        max-width: 840px;

        @media screen and (max-width: $break) {
            padding-top: 50px;
            max-width: 275px;
        }

        h1 {
            color: #444444;
            font-size: 36px;
            line-height: 36px;
            margin: 0 auto 50px;
            text-align: center;
            padding: 0;
        }

        @media screen and (max-width: $break) {
            h1 {
                font-size: 24px;
                line-height: 31px;
                color: #6F777F;
                font-weight: bold;
                margin: 0 auto 30px;
            }
        }

        .description {
            display: flex;
            justify-content: center;
            max-width: 960px;
            margin: 0 auto;
            align-items: center;

            .text {
                max-width: 700px;
                color: #6F777F;
                font-size: 20px;
                line-height: 30px;
                text-align: left;
                word-break: break-all;
            }

            .floating-text {
                position: absolute;
                background-color: #40B900;
                top: 50px;
                right: -230px;
                height: 120px;
                width: 120px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                color: #FFFFFF;
                font-weight: bold;
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
            }

            @media screen and (max-width: $break-xl) {
                .floating-text {
                    display: none;
                }
            }
            @media screen and (max-width: $break-lg) {
                flex-direction: column-reverse;
                width: 100%;
                padding-left: 5%;
                padding-right: 5%;
            }
        }

        a.nav-back {
            display: grid;
            grid-template-areas: "icon prev" "icon page";
            grid-template-columns: 20px 64px;
            column-gap: 6px;
            row-gap: 3px;
            color: #0054AC;
            text-align: left;
            position: absolute;
            top: 20px;
            left: 0;

            @media screen and (max-width: 900px) {
                display: none;
            }

            &:hover {
                text-decoration: none;
            }

            .icon-arrow {
                grid-area: icon;
                margin-top: auto;
                width: 20px;
                transform: scale(-1);
            }

            .prev-page {
                grid-area: prev;
                font-size: 10px;
                line-height: 10px;
            }

            .page-name {
                grid-area: page;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }

    .book-sample {
        padding: 0;
        margin: 0 auto 100px;
        max-width: 840px;

        @media screen and (max-width: $break) {
            max-width: 275px;
        }
    }

    .book-sample-list {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 70px;

        .book-sample-list-item {

            .header {
                display: grid;
                align-items: center;
                grid-template-columns: 130px auto 147px;
                column-gap: 20px;
                padding-bottom: 3.5px;
                border-bottom: 1px solid #B3B3B3;

                @media screen and (max-width: $break) {
                    grid-template-columns: 1fr;
                    padding-bottom: 20px;
                }

                .logo {
                    height: 48px;

                    @media screen and (max-width: $break) {
                        height: 44px;
                    }
                }

                .title {
                    color: #707070;
                    font-size: 18px;
                    text-align: left;

                    @media screen and (max-width: $break) {
                        margin-top: 7px;
                    }

                    .subtitle {
                        margin-left: 15px;
                        font-size: 12px;

                        @media screen and (max-width: $break) {
                            display: block;
                            margin: 5px 0 0;
                        }
                    }
                }

                .action {
                    height: 27px;
                    width: 100%;
                    background-color: #C7C5C2;
                    color: #fff;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 11px;
                    font-weight: bold;

                    @media screen and (max-width: $break) {
                        height: 40px;
                        margin-top: 15px;
                    }
                }
            }

            .content,
            .introduction {
                margin-top: 20px;
                font-size: 14px;
                line-height: 28px;
                color: #6F777F;
                text-align: left;
            }

            .introduction {
                @media screen and (max-width: $break) {
                    padding-bottom: 60px;
                    border-bottom: 1px solid #B3B3B3;
                }
            }
        }
    }
}
