body.book-support {
    h2 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 30px;
        @media screen and(max-width: $break) {
            font-size: 32px;
        }
    }
    a:hover {
        opacity: 0.85;
    }
    .keyvisual {
        background: url(../img/book/support/bg_keyvisual_high_light.png) no-repeat center center, url(../img/book/support/bg_keyvisual_repeat.jpg) repeat left top;
        color: #ffffff;
        position: relative;
        padding-top: 80px;
        @media screen and (max-width: $break) {
            padding-bottom: 30px;
        }
        .txt-80 {
            font-size: 80%;
        }
        .errata {
            position: absolute;
            right: 43px;
            bottom: 5px;
            width: 100%;
            font-size: 16px;
            line-height: 1.2;
            color: #34454b;
            text-align: right;
            clear: both;
            @media screen and(max-width: $break) {
                position: static;
                text-align: center;
                margin: 0;
            }
            @media screen and(max-width: $break-xs) {
                position: static;
                text-align: center;
                margin: 25px 0 0;
            }
            a {
                color: #34454b;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
            .glyphicon {
                font-size: 1rem;
            }
        }
        .official-badge {
            position: absolute;
            right: 43px;
            top: 0px;
            background-color: none;
            img {
                width: 162px;
                height: 162px;
            }
        }
        .left-column {
            width: 296px;
            margin: 0 0 0 43px;
            float: left;
            @media screen and (max-width: $break) {
                width: 100%;
                margin: 0;
                float: none;
            }
        }
        .right-column {
            width: calc(100% - 500px);
            margin: 0 23px 0 0;
            padding-top: 35px;
            float: right;
            @media screen and (max-width: $break) {
                width: 100%;
                float: none;
            }
            @media screen and (max-width: $break-xs) {
                padding: 0;
            }
            h2 {
                font-size: 30px;
                line-height: 1.3;
                font-weight: 400;
                color: #34454b;
                text-align: left;
                margin-bottom: 10px;
                @media screen and (max-width: 900px) {
                    font-size: 27px;
                }
                @media screen and (max-width: $break) {
                    text-align: center;
                }
                @media screen and (max-width: $break-xs) {
                    text-align: center;
                    font-size: 21px;
                }
            }
            h1 {
                font-size: 50px;
                font-weight: 600;
                text-indent: -0.6em;
                line-height: 1.2;
                margin-bottom: 30px;
                text-align: left;
                @media screen and (max-width: 900px) {
                    font-size: 45px;
                }
                @media screen and (max-width: $break) {
                    text-align: center;
                }
                @media screen and (max-width: $break-xs) {
                    text-align: center;
                    font-size: 40px;
                    margin-bottom: 10px;
                }
            }
            .book-data {
                font-size: 16px;
                line-height: 1.4;
                text-align: left;
                color: #34454b;
                .txt-80 {
                    margin-left: -0.4em;
                }
            }
        }
        p {
            font-size: 20px;
            text-align: left;
            width: 585px;
            margin-bottom: 0;
            word-break: break-all;
            .small {
                vertical-align: baseline;
            }
            @media screen and (max-width: $break) {
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                text-align: center;
                padding: 0 5%;
                width: 100%;
            }
        }
        .box-try {
            text-align: left;
            padding: 0;
            @media screen and (max-width: $break) {
                padding-top: 3px;
                text-align: center;
            }
            .btn {
                padding: 0 20px;
                margin: 0 17px 20px;
                min-width: 262px;
                span {
                    font-size: 20px;
                }
                @media screen and (max-width: $break) {
                    margin: 0 auto 20px;
                    width: 100%;
                    max-width: 300px;
                }
            }
        }
    }
    .sample-apps {
        padding-bottom: 0;
        @media screen and(max-width: $break) {
            padding-top: 50px;
        }
        > p {
            width: 850px;
            @media screen and (max-width: 992px) {
                width: 100%;
            }
            @media screen and (max-width: $break) {
                width: 100%;
            }
        }
        .banners {
            margin-bottom: 90px;
            @media screen and (max-width: $break-xs) {
                margin-bottom: 50px;
            }
            li {
                margin-bottom: 0;
                &:first-child {
                    @media screen and (max-width: $break-xs) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .apps-item {
            .btn-darkgray {
                font-size: 11px;
                line-height: 1.2;
                padding: 10px;
                background-color: #34454b;
                height: auto;
                @media screen and (max-width: $break-xs) {
                  font-size: 10px;
                }
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        /* apps-item */

        .grid {
            padding: 0 5%;
            margin-bottom: 30px;
            @include clearfix;
            @media screen and (max-width: $break) {
                padding: 0;
            }
            > li {
                float: left;
                margin: 0 0 70px 0;
                width: 25%;
                text-align: left;
                @media screen and (max-width: 992px) {
                    width: 48%;
                }
                @media screen and (max-width: $break) {
                    &:nth-of-type(2n + 1) {
                        margin-right: 4%;
                    }
                }
                > h3 {
                    font-size: 16px;
                    line-height: 1.3;
                    font-weight: 600;
                    color: #333;
                    margin: 8px auto 8px;
                    width: 196px;
                    word-wrap: break-word;
                    @media screen and(max-width: $break) {
                        font-size: 14px;
                        margin-bottom: 5px;
                        width: 166px;
                    }
                    @media screen and (max-width: $break-xs) {
                        font-size: 13px;
                        width: 136px;
                        margin: 8px auto 4px;
                    }
                    .chapter {
                        display: block;
                        font-size: 12px;
                        line-height: 1.2;
                        margin-bottom: 4px;
                        color: #999;
                        @media screen and (max-width: $break-xs) {
                            font-size: 11px;
                            margin-bottom: 1px;
                        }
                    }
                }
                > a {
                    font-size: 13px;
                    line-height: 1.6;
                    width: 198px;
                    margin: 0 auto;
                    display: block;
                    @media screen and(max-width: $break) {
                        font-size: 12px;
                        width: 168px;
                    }
                    @media screen and (max-width: $break-xs) {
                        width: 138px;
                    }
                }
                figure {
                    margin: 0;
                    width: 202px;
                    margin: 0 auto;
                    border: 1px solid #dcdcdc;
                    overflow: hidden;
                    position: relative;
                    @media screen and (max-width: $break) {
                        width: 170px;
                    }
                    @media screen and (max-width: $break-xs) {
                        width: 140px;
                    }
                    > img {
                        height: 356px;
                    }
                    figcaption {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 200px;
                        height: 356px;
                        padding: 20px;
                        background: url(../img/book/support/bg_thumb.png);
                        color: #fff;
                        opacity: 0;
                        text-align: center;
                        visibility: hidden;
                        @include backface-visibility(hidden);
                        @include transition(transform 0.3s, opacity 0.3s, visibility 0s linear 0.3s);
                        @media screen and (max-width: $break) {
                            width: 170px;
                            height: 303px;
                        }
                        @media screen and (max-width: $break-xs) {
                            width: 140px;
                            height: 249px;
                        }
                        h3 {
                            color: #ffffff;
                            font-size: 16px;
                            line-height: 1.3;
                            font-weight: 600;
                            margin: 80px 0 15px;
                            word-wrap: break-word;
                            /* Animation */

                            opacity: 0;
                            text-align: center;
                            @include transform(translate(0, -60px));
                            @media screen and (max-width: $break) {
                                margin-top: 60px;
                                font-size: 13px;
                            }
                            @media screen and (max-width: $break-xs) {
                                margin-top: 30px;
                                font-size: 12;
                            }
                            .chapter {
                                color: #ffffff;
                                font-size: 14px;
                                margin-bottom: 0.2em;
                                line-height: 1.2;
                                font-weight: 400;
                                display: block;
                                @media screen and (max-width: $break) {
                                    font-size: 12px;
                                }
                                @media screen and (max-width: $break-xs) {
                                    margin-top: 30px;
                                    font-size: 10px;
                                }
                            }
                        }
                        .btn-import {
                            opacity: 0;
                            @include transform(scale(1.5, 1.5));
                            &:hover {
                                background-color: lighten(#34454b, 4);
                            }
                        }
                    }
                    /* /figcaption */

                    &.on {
                        display: block;
                        figcaption {
                            opacity: 1;
                            visibility: visible;
                            @include transition-delay(0s, 0s, 0s);
                            h3 {
                                opacity: 1;
                                @include transform(translate(0, 0));
                                @include transition(transform 0.3s, opacity 1s);
                            }
                            .btn-import {
                                opacity: 1;
                                @include transform(scale(1, 1));
                                @include transition(transform 0.3s, opacity 1.5s);
                            }
                        }
                        img {
                            opacity: 0;
                            @include transform(scale(1.4, 1.4));
                            @include transition(transform 0.3s, opacity 0.3s);
                        }
                    }
                    img {
                        max-width: 100%;
                        display: block;
                        position: relative;
                        @media screen and (max-width: $break) {
                            width: 170px;
                            height: 303px;
                        }
                        @media screen and (max-width: $break-xs) {
                            width: 140px;
                            height: 249px;
                        }
                    }
                }
                /* figure */
            }
        }
        /* grid */
    }
    /* sample-apps */

    .book-outline {
        padding: 0;
        .grid {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            @media screen and(max-width: $break) {
                -webkit-box-orient: vertical;
                -webkit-flex-direction: column;
                -moz-box-orient: vertical;
                -ms-flex-direction: column;
                flex-direction: column;
            }
            @media screen and(max-width: $break-xs) {
                -webkit-box-orient: vertical;
                -webkit-flex-direction: column;
                -moz-box-orient: vertical;
                -ms-flex-direction: column;
                flex-direction: column;
            }
        }
        h3 {
            font-size: 30px;
            line-height: 46px;
            text-align: left;
            border-bottom: 1px solid #dcdcdc;
            margin-bottom: 22px;
            span {
                display: inline-block;
                border-bottom: 1px solid #00a0e9;
                margin-bottom: -1px;
                padding: 0 0.2em;
            }
        }
        .contents {
            -webkit-box: 2;
            -webkit-flex: 2;
            -moz-box: 2;
            -ms-flexbox: 2;
            flex: 2;
            margin-right: 30px;
            @media screen and(max-width: $break) {
                margin: 0 0 50px;
            }
            @media screen and(max-width: $break-xs) {
                margin: 0 0 50px;
            }
            ul {
                padding: 0 6px;
                li {
                    font-size: 14px;
                    line-height: 2;
                    font-weight: 600;
                    text-align: left;
                    color: #666;
                }
            }
        }
        .outline {
            -webkit-box: 3;
            -webkit-flex: 3;
            -moz-box: 3;
            -ms-flexbox: 3;
            flex: 3;
            div {
                font-size: 14px;
                line-height: 1.8;
                text-align: left;
                color: #666;
                padding: 0 6px;
            }
        }
    }
    /* book-outline */
}