html body.ci {
    .main {
        h2,h4 {color: #575e66;}
        p {color: #8d98a6;}
    }
    .keyvisual {
        background: url(../img/ci/keyvisual.jpg)bottom, url(../img/ci/keyvisual_bg.png) repeat-x left bottom;
        background-color: #f6f7f9;
        position: relative;
        @media screen and (min-width: $break + 1px) {
            height: auto;
        }
        @media screen and (max-width: $break) {
        }
        > div {
            @media screen and (min-width: $break + 1px) and (max-width: 1000px) {
                padding-left: 3%;
                padding-right: 3%;
            }
        }
        h1 {
            font-size: 0px;
            padding-top: 72px;
            margin-bottom: 11px;
            text-align: center;
            @media screen and (max-width: $break) {
                padding-top: 80px;
                margin-bottom: 14px;
                img {
                    width: 180px;
                }
            }
        }
        h2 {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 36px;
            margin-bottom: 14px;
            @media screen and (max-width: $break) {
                font-size: 34px;
            }
        }
        a {
            outline: none;
        }
        p {
            font-size: 18px;
            line-height: 1.3;
            margin-bottom: 26px;
            text-align: center;
            width: auto;
            @media screen and (max-width: $break) {
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                text-align: center;
                padding: 0 5%;
                width: 100%;
                margin-bottom: 24px;
                font-size: 16px;
            }
        }
        .box-try {
            text-align: center;
            padding: 0px;
            @media screen and (max-width: 1120px) {
            }
            @media screen and (max-width: $break) {
            }
            @media screen and (max-width: $break-xs) {
                padding-bottom: 16px;
            }
            .btn {
                @extend %btn;
                font-size: 22px;
                line-height: 64px;
                margin: 0 20px 40px 0;
                min-width: 240px;
                font-weight: 400;
                height: 64px;
                @media screen and (max-width: $break-xs) {
                    margin: 0 auto 16px;
                    width: 100%;
                    max-width: 300px;
                }
            }
            .btn-line-gray {
                background-color: rgba(0,0,0,0.02);
                border: 1px solid #575e66;
                color: #575e66;
                text-shadow: none;
                &:hover {
                    background-color: lighten(rgba(204,204,204,0.1), 7);
                    border: 1px solid #8a9199;
                    color: #8a9199;
                }
            }
        }
    }

    .section.features {
        padding-bottom: 0;
        h2 {
            margin-bottom: 40px;
        }
        li {
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 0;
            padding: 110px 0 80px;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: none;
            }
        }
        p {
            width: auto;
            max-width: 930px;
        }
    }
    .fixed-bg {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding-top: 90px;
        padding-bottom: 50px;
        @media screen and (min-width: 2560px) {
            background-size: cover;
        }
        @media screen and (max-width: 1320px) {
            background-size: cover;
        }
        @media screen and (max-width: $break) {
            background-attachment: scroll;
            background-size: cover;
            padding-left: 3%;
            padding-right: 3%;
        }
    }
    div.section.benefits {
        @extend .fixed-bg;
        background-image: url(/img/ci/bg_benefits_2.jpg);
        background-color: #70baff;
        color: #fff;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 0px;
        p {
            text-align: left;
            width: auto;
            max-width: 825px;
            color: #fff;
            opacity: 0.8;
            font-size: 18px;
            line-height: 1.5;
            margin: 0 auto 40px;
            @media screen and (min-width: $break + 1px) and (max-width: 1000px) {
            }
            @media screen and (max-width: $break) {
                font-size: 16px;
            }
            @media screen and (max-width: $break-xs) {
                font-size: 16px;
            }
        }
    }
    .section.subfeatures {
        padding: 90px 0 60px 0;
        border-bottom: 1px solid #ddd;
        // margin-bottom: 90px;
        max-width: 1170px;
        ol li {
            max-width: 350px;
            float: left;
            height: 300px;
            &:after {
                content: "";
                clear: both;
                display: block;
            }
            h3.maintitle {
                text-align: center;
                margin-bottom: 24px;
            }
            h4.subtitle {
                font-size: 18px;
                margin-bottom: 24px;
                color: #575e66;
                font-weight: 700;
                @media screen and (max-width: $break) {
                }
            }
            p {
                margin-bottom: 0;
                max-width: none;
                overflow: hidden;
                font-size: 15px;
            }
            &:nth-child(1) {
                margin-right:30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                    margin-left: 30px;
                }
                @media screen and (max-width: $break-xs) {
                    height: 300px;
                }
            }
            &:nth-child(2) {
                margin-right: 30px;
                margin-left: 30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                }
                @media screen and (max-width: $break-xs) {
                }
            }
            &:nth-child(3) {
                margin-left: 30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                    margin-right: 30px;
                }
                @media screen and (max-width: $break-xs) {
                }
            }
            &:nth-child(4) {
                margin-right: 30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                    margin-left: 30px;
                }
                @media screen and (max-width: $break-xs) {
                }
            }
            &:nth-child(5) {
                margin-right: 30px;
                margin-left: 30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                }
                @media screen and (max-width: $break-xs) {
                }
            }
            &:nth-child(6) {
                margin-left: 30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                    margin-right: 30px;
                }
                @media screen and (max-width: $break-xs) {
                }
            }
            @media (max-width: 1383px) and (min-width: 780px){
                padding-left: 5%;
                padding-right: 5%;
                height: 300px;
                max-width: 45%;
                &:nth-child(odd){
                    margin-right: 7px;
                    margin-left: 15px;
                }
                &:nth-child(even){
                    margin-right: 15px;
                    margin-left: 7px;
                }
            }
            @media screen and (max-width: 781px) and (min-width: 752px) {
                padding-left: 3%;
                padding-right: 3%;
                margin-right: 0px;
                margin-left: 0px;
                max-width: 40%;
                height: 300px;
            }
            @media screen and (max-width: 751px) {
                max-width: 630px;
                padding-left: 3%;
                padding-right: 3%;
                margin: 0px 20px 0px 20px;
                height: 300px;
            }
        }
        @media (max-width: 1383px) and (min-width: 768px) {
            max-width: 1169px;
            padding-left: 5%;
            padding-right: 5%;
            margin-bottom: 100px;
        }
        @media screen and (max-width: $break) and (min-width: 752px) {
            padding-bottom: 70px;
            margin-bottom: 70px;
        }
        @media screen and (max-width: 751px) {
            max-width: 630px;
            padding-bottom: 35px;
            margin-bottom: 70px;
        }
    }

    .box-plan {
        box-sizing: content-box;
        max-width: 1170px;
        min-width: 0;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        h2 {
            font-size: 24px;
            margin: 0px 0 32px 0;
            @media screen and (max-width: $break) {
                font-weight: 400;
            }
            @media screen and (max-width: $break-xs) {
            }
        }
        p{
            margin: 0px 0 32px 0;
            @media screen and (max-width: $break) {
            }
            @media screen and (max-width: $break-xs) {
                margin: 0 0 32 0;
                padding: 0 24px 0 24px;
            }
        }
        div.compare-box{
            box-sizing: content-box;
            max-width: 870px;
            min-width: 0;
            margin: 0 auto;
            padding-left: 5%;
            padding-right: 5%;
            .box-plan div.compare-header ul {
                display: flex;
                flex-flow: row wrap;
                float: none;
                left: auto;
                margin: 0 auto;
                
                &:after {
                    content: "";
                    clear: both;
                    display: block;
                }
                @media screen and (max-width: $break-xs) {
                    display: block;
                }
                li {
                    float: left;
                    left: auto;
                    margin: 0;
                    padding: 120px percentage(40px/1170px);
                    width: 33.33%;
                    .thumb {
                        float: left;
                        margin-right: 15px;
                        overflow: hidden;
                    }
                    dl {
                        overflow: hidden;
                    }
                    dt {
                        text-align: left;
                        color: #ccc;
                        margin-bottom: 5px;
                    }
                    dd {
                        line-height: 1.3;
                        color: #888;
                    }
                    dl {
                        text-align: left;
                    }
                }
                @media screen and (max-width: $break) {
                    padding: 70px 0 50px;
                    li {
                        float: none;
                        padding-top: 40px;
                        padding-bottom: 40px;
                        width: 100%;
                    }
                }
            }
            a {
                text-decoration: none;
            }
            a:hover {
                text-decoration: none;
                img, dt, dd {
                    opacity: 0.6;
                    transition: .4s ease-in-out;
                    -webkit-transition: .4s ease-in-out;
                    -moz-transition: .4s ease-in-out;
                    -ms-transition: .4s ease-in-out;
                }
            }
            .compare-header {
                float: left;
                padding-top: 25px;
                width: 200px;
                @media screen and (max-width: $break-xs) {
                    // width: 110px;
                }
                h3 {
                    box-sizing: content-box;
                    color: #575e66;
                    display: -webkit-box;
                    display: flex;
                    box-align: end;
                    align-items: flex-end;
                    box-pack: end;
                    justify-content: flex-end;
                    font-size: 1.13rem;
                    height: 20px;
                    padding: 10px 25px 2px 0px;
                    text-align: right;
                    @media screen and (max-width: $break-xs) {
                        padding-right: 15px;
                        font-size: 1.0rem;
                    }
                }
                div {
                    box-sizing: content-box;
                    color: #25384c;
                    display: -webkit-box;
                    display: flex;
                    box-align: end;
                    align-items: flex-end;
                    box-pack: end;
                    justify-content: flex-end;
                    font-size: 0.9rem;
                    padding: 0px 25px 24px 0px;
                    text-align: right;
                    @media screen and (max-width: $break-xs) {
                        font-size: 0.68rem;
                        padding-right: 15px;
                    }
                }
                ul {
                    display: table;
                    width: 100%;
                    margin-bottom: 80px;
                }
                li {
                    display: table-row;
                    color: #575e66;
                    height: 61px;
                    @media screen and (max-width: $break-xs) {
                        height: 61px;
                        font-size: 0.68rem;
                    }
                    .hidden-xs {
                        display: none!important;
                        @media screen and (max-width: $break-xs) {
                            display: inline!important;
                        }
                    }
                }
                i {
                    border-bottom: 1px solid #dcdcdc;
                    display: table-cell;
                    font-size: 0.81rem;
                    font-style: normal;
                    padding-right: 25px;
                    text-align: right;
                    vertical-align: middle;
                    @media screen and (max-width: $break-xs) {
                        font-size: 0.68rem;
                        padding-right: 15px;
                    }
                }
                li:nth-child(1) i{
                    border-top: 2px solid #c2c2c2;
                }
                .btn-tooltip {
                    margin-left: 5px;
                    vertical-align: -4px;
                    @media screen and (max-width: $break-xs) {
                        vertical-align: -3px;
                    }
                }
                @media screen and (min-width: $break-xs + 1px) {
                    br {
                    }
                }
            }
            .compare-cont {
                float: right;
                overflow: auto;
                margin-bottom: 32px;
                width: calc(100% - 200px);
                @media screen and (max-width: $break-xs) {
                }
                $shadow-opacity: 0.18;
                &.leftshadow {
                    border-left: 1px solid #c2c2c2;
                    box-shadow: 4px 0 3px -3px rgba(0,0,0,$shadow-opacity) inset;
                }
                &.rightshadow {
                    border-right: 1px solid #c2c2c2;
                    box-shadow: -4px 0 3px -3px rgba(0,0,0,$shadow-opacity) inset;
                }
                &.leftshadow.rightshadow {
                    box-shadow: 4px 0 3px -3px rgba(0,0,0,$shadow-opacity) inset, -4px 0 3px -3px rgba(0,0,0,$shadow-opacity) inset;
                }
                table {
                    width: 625px;
                    margin: 0 0 78px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    @media screen and (max-width: 920px) {
                        width: 520px;
                    }
                    @media screen and (max-width: $break-xs) {
                    }
                    thead {
                        th {
                            font-size: 1.13rem;
                            height: 102px;
                            padding-top: 8px;
                            @media screen and (max-width: $break-xs) {
                                font-size: 1.0rem;
                            }
                            span {
                                color: #25384c;
                                display: block;
                                font-size: 0.9rem;
                                margin-top: 3px;
                                @media screen and (max-width: $break-xs) {
                                    font-size: 0.9rem;
                                }
                            }
                            &:nth-child(1) {
                                color: #798899;
                            }
                            &:nth-child(2) {
                                color: #74bb19;
                            }
                            &:nth-child(3) {
                                color: #d09e32;
                            }
                            &:nth-child(4) {
                                color: #4791de;
                            }
                        }

                        
                    }
                    th, td {
                        border: 1px solid #c2c2c2;
                        color: #575e66;
                        font-size: 1rem;
                        height: 60px;
                        line-height: 1.1;
                        padding: 0 24px;
                        text-align: center;
                        width: 25%;
                        border-collapse: separate;
                        border-spacing: 0;
                        .sp {
                            display: none;
                        }
                        @media screen and (max-width: $break-xs) {
                            .sp {
                                display: block;
                            }
                        }
                        i {
                            background: url(/img/pricing/icn_check_gray.svg) no-repeat center center;
                            display: inline-block;
                            text-align: left;
                            text-indent: -9999px;
                            width: 20px;
                            height: 20px;
                            @media screen and (max-width: $break-xs) {
                                background-size: 14px;
                            }
                        }
                        span,
                        small {
                            color: #8d98a6;
                            font-size: 0.75rem;
                        }
                        small {
                            display: block;
                            @media screen and (max-width: $break-xs) {
                                font-size: 10px;
                            }
                        }
                        p {
                            color: #8d98a6;
                            font-size: 0.75rem;
                            text-align: left;
                        }
                        &.compare-cont-support-dev {
                            font-size: 0.75rem;
                            @media screen and (max-width: $break-xs) {
                                font-size: 10px;
                            }
                        }
                    }
                    th {
                        border-bottom: 2px solid #c2c2c2;
                        vertical-align: middle;
                    }
                    td {
                        vertical-align: middle;
                        span {
                            text-align: left;
                        }
                        @media screen and (max-width: 1073px) {
                            padding: 14px;
                        }
                        @media screen and (max-width: $break) {
                            padding: 14px;
                        }
                        @media screen and (max-width: $break-xs) {
                            padding: 14px;
                        }
                    }
                    .compare-cont-comment td {
                        height: 120px;
                        padding: 0 25px;
                        border-right: none;
                        ul {
                            list-style: circle inside;
                            padding: 10px 5px;
                            border-right: none;
                            li {
                                text-align: left;
                                font-size: 0.75rem;
                                color: #8d98a6;
                                line-height: 1.8;
                            }
                        }
                    }
                    .compare-cont-comment td.comment-next-line {
                        padding: 0;
                        border: none;
                        border-left: 1px solid #c2c2c2;
                    }
                }
            }
            .compare-contact {
                clear: both;
                margin-bottom: 30px;
                padding-bottom: 30px;
                position: relative;
                &:after {
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 15px);
                    content: "";
                    border-bottom: 1px solid #c2c2c2;
                    width: 30px;
                    height: 1px;
                }
            }
        }
    }
    .compare-trial {
        margin: 0px 0 70px 0;
        p {
            margin-bottom: 30px;
            @media screen and (max-width: $break-xs) {
                margin: 0 16px 0;
                margin-bottom: 30px;
            }
        }
        .btn {
            font-size: 22px;
            height: 64px;
            line-height: 64px;
            width: 100%;
            max-width: 260px;
        }
    }
}


html[lang=en] body.ci {
    .keyvisual {
        .box-try {
            .btn {
                font-family: Helvetica, Arial, sans-serif;
            }
        }
    }
    .section.subfeatures {
        margin-bottom: 90px;
        ol li {
            &:nth-child(1) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 25px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 30px;
                }
            }
            &:nth-child(2) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 60px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 75px;
                }
            }
            &:nth-child(3) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 40px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 70px;
                }
            }
            &:nth-child(4) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 60px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 100px;
                }
            }
            &:nth-child(5) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 70px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 100px;
                }
            }
            &:nth-child(6) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 30px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 80px;
                }
            }
            @media (max-width: 1383px) and (min-width: 780px){
                height: 300px;
            }
            @media screen and (max-width: 781px) and (min-width: 752px) {
                height: 300px;
            }
            @media screen and (max-width: 751px) {
                height: 300px;
            }
            @media screen and (max-width: 320px) {
                height: 300px;
            }
        }
    }
    .box-plan {
        div.compare-box{
            .compare-header {
                @media screen and (max-width: $break-xs) {
                    width: 100px;
                }
                div {
                    @media screen and (max-width: $break-xs) {
                        padding-bottom: 29px;
                    }
                }
            }
            .compare-cont {
                @media screen and (max-width: $break-xs) {
                    width: calc(100% - 105px);
                }
                table {
                    @media screen and (max-width: $break-xs) {
                        width: 440px;
                    }
                    td {
                        @media screen and (max-width: $break-xs) {
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
}
html[lang=ja] body.ci {
    .section.subfeatures {
        margin-bottom: 90px;
        ol li {
            h4.subtitle {
                font-size: 17px;
                @media screen and (max-width: $break) {
                }
            }
            p {
                font-size: 14px;
                line-height: 2.0;
            }
            &:nth-child(1) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 70px;
                }
                @media screen and (max-width: 340px) {
                    margin-bottom: 120px;
                }
            }
            &:nth-child(2) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 30px;
                }
                @media screen and (max-width: 340px) {
                    margin-bottom: 70px;
                }
            }
            &:nth-child(3) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 25px;
                }
                @media screen and (max-width: 340px) {
                    margin-bottom: 60px;
                }
            }
            &:nth-child(4) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 40px;
                }
                @media screen and (max-width: 340px) {
                    margin-bottom: 65px;
                }
            }
            &:nth-child(5) {
                @media screen and (max-width: 500px) {
                    margin-bottom: 90px;
                }
                @media screen and (max-width: 340px) {
                    margin-bottom: 140px;
                }
            }
            &:nth-child(6) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 10px;
                }
                @media screen and (max-width: 340px) {
                    margin-bottom: 80px;
                }
            }
            @media (max-width: 1383px) and (min-width: 780px){
                height: 300px;
            }
            @media screen and (max-width: 781px) and (min-width: 752px) {
                height: 300px;
            }
            @media screen and (max-width: 751px) {
                height: 300px;
            }
            @media screen and (max-width: 320px) {
                height: 320px;
            }
        }
    }
    .box-plan {
        div.compare-box{
            .compare-header {
                @media screen and (max-width: $break-xs) {
                    width: 110px;
                }
                h3 {
                    padding: 10px 25px 2px 0px;
                    @media screen and (max-width: $break-xs) {
                    }
                }
                div {
                    padding: 0px 25px 27px 0px;
                    @media screen and (max-width: $break-xs) {
                        padding-bottom: 30px;
                    }
                }
                li {
                    height: 61px;
                    @media screen and (max-width: $break-xs) {
                        height: 71px;
                    }
                }
            }
            .compare-cont {
                @media screen and (max-width: $break-xs) {
                    width: calc(100% - 115px);
                }
                table {
                    @media screen and (max-width: $break-xs) {
                        width: 396px;
                    }
                    td {
                        @media screen and (max-width: $break-xs) {
                            height: 70px;
                        }
                    }
                }
            }
        }
    }
}