body.company {
  section {
    padding: 0 0 0 0;
    border: none;
  }
  #company, #companyTeam {
    .container {
      padding: 0 0 80px 0;
      margin: 0 auto;
      text-align: left;
      min-width: 980px;
      width: 980px;
      font-size: 16px;
      @media screen and (max-width: $break-xl) {
        min-width: 80%;
        width: 80%;
      }
      @media screen and (max-width: $break) {
        padding: 0 0 40px 0;
        min-width: 90%;
        width: 90%;
      }

      h1 {
        color: #2472b3;
        margin: 50px 0 30px;
        text-align: center;
        & span {
          font-size: 18px;
        }
      }
      h1.en {
        color: #2472b3;
        margin: 10px 0 30px;
        text-align: center;
        font-size: 36px;
      }
      h2 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
      }
      h2.en {
      border: medium none;
      font-size: 36px;
      font-weight: normal;
      line-height: 36px;
      margin: 80px 0 50px;
      padding: 0;
      text-align: center;
      @media screen and (max-width: $break) {
          margin: 40px 0 50px;
        }
      }
      h3 {
        font-size: 12px;
        margin-bottom: 7px;
        font-weight: bold;
      }

      p {
        margin-bottom: 0;
        max-width: 100%;
        line-height: 26px;
      }
     a {
          color: #666;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      ul {
        li {
          line-height: 140%;
          list-style: disc;
          list-style-position: inside;
          color: #666;
        }
      }
      table {
        margin-bottom: 50px;
        tr {
          td {
            padding: 0 4% 30px 0;
            width: 26%;
            &.wide {
              padding-right: 0;
              width: 48%;
            }
            &.narrow {
              width: 20%;
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  /* Key Visual */
.monaca-team {
  background: url(/img/company/About_Us_header_201603.png) no-repeat center bottom, url(/img/company/keyvisual_bg.png) repeat-x left bottom;
  background-color: #126AAA;
  height: 370px;
  margin: 0 auto;
}

/* subpageContent teams */
.subpageContent {
  h2 {
    font-size: 36px;
    line-height: 36px;
    margin: 80px 0px 50px;
    text-align: center;
    padding: 0px;
    border: medium none;
    font-weight: normal;
    @media screen and (max-width: $break) {
      font-size: 24px;
    }
  }
  .teamMember {
    @media screen and (max-width: $break) {
      width: 390px;
    }
    ul#monacateamList,
    ul#onsenTeamList {
      width: 880px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      list-style-type: none;
      @media screen and (max-width: 1100px) {
        width: 646px;
        &:after {
          content: "";
          display: block;
          width: 30%;
        }
      }
      @media screen and (max-width: 810px) {
        width: 90%;
      }
      @media screen and (max-width: $break) {
        width: 90%;
      }
      li {
      margin-bottom: 32px;
      text-align:center;
      list-style: none outside;
      @media screen and (max-width: 810px) {
        width: 27%;
      }
        @media screen and (max-width: $break-xs) {
        width: 40%;
      }
      img {
        width: 178px;
        border-radius: 178px;
        -webkit-border-radius: 178px;
        -moz-border-radius: 178px;
        @media screen and (max-width: $break-xs) {
          width: 100%;
        }
      }
      dt{
        font-size:16px;
        font-weight: normal;
      }
      dd {
        font-size:12px;
        }
      }
    }
    ul#onsenTeamList {
      width: 646px;
      @media screen and (max-width: 810px) {
        width: 90%;
      }
      @media screen and (max-width: $break) {
        width: 90%;
      }

    }
  }
  .monacaMember {
    h2, dt{
      color: #2472b3;
    }
  }
  .onsenMenber {
    h2, dt{
      color: #ff1a33;
    }
  }
}
}
/* about us */
.subpage.aboutus {
  padding-top: 60px;
}
