body.company {
  section {
    padding: 0 0 0 0;
    border: none;
  }
  #company, #companyTeam {
    .container {
      padding: 0 0 80px 0;
      margin: 0 auto;
      text-align: left;
      min-width: 980px;
      width: 980px;
      font-size: 16px;
      @media screen and (max-width: $break-xl) {
        min-width: 80%;
        width: 80%;
      }
      @media screen and (max-width: $break) {
        padding: 0 0 40px 0;
        min-width: 90%;
        width: 90%;
      }

      h1 {
        color: #2472b3;
        margin: 50px 0 30px;
        text-align: center;
        & span {
          font-size: 18px;
        }
      }
      h1.en {
        color: #2472b3;
        margin: 10px 0 30px;
        text-align: center;
        font-size: 36px;
      }
      h2 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
      }
      h2.en {
      border: medium none;
      font-size: 36px;
      font-weight: normal;
      line-height: 36px;
      margin: 80px 0 50px;
      padding: 0;
      text-align: center;
      @media screen and (max-width: $break) {
          margin: 40px 0 50px;
        }
      }
      h3 {
        font-size: 12px;
        margin-bottom: 7px;
        font-weight: bold;
      }

      p {
        margin-bottom: 0;
        max-width: 100%;
        line-height: 26px;
      }
     a {
          color: #666;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      ul {
        li {
          line-height: 140%;
          list-style: disc;
          list-style-position: inside;
          color: #666;
        }
      }
      table {
        margin-bottom: 50px;
        tr {
          td {
            padding: 0 4% 30px 0;
            width: 26%;
            &.wide {
              padding-right: 0;
              width: 48%;
            }
            &.narrow {
              width: 20%;
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  /* Key Visual */
.monaca-team {
  background: url(/img/company/About_Us_header.png) no-repeat center bottom, url(/img/company/keyvisual_bg.png) repeat-x left bottom;
  background-color: #126AAA;
  height: 370px;
  margin: 0 auto;
}

/* subpageContent teams */
.subpageContent {
  h2 {
    font-size: 36px;
    line-height: 36px;
    margin: 80px 0px 50px;
    text-align: center;
    padding: 0px;
    border: medium none;
    font-weight: normal;
    @media screen and (max-width: $break) {
      font-size: 24px;
    }
  }
  .teamMember {
    @media screen and (max-width: $break) {
      width: 390px;
    }
    ul {
      list-style-type: none;
      li {
      margin-right: 8%;
      margin-bottom: 32px;
      text-align:center;
      float: left;
      list-style: none outside;
      height: 255px;

      @media screen and (min-width: 1187px) and (max-width: 1219px) {
        margin-right: 8%;
      }
      @media screen and (min-width: 1142px) and (max-width: 1186px) {
        margin-right: 7%;
      }
      @media screen and (min-width: 1101px) and (max-width: 1141px) {
        margin-right: 6%;
      }
      @media screen and (min-width: 1059px) and (max-width: 1100px) {
        margin-right: 5%;
      }
      @media screen and (max-width: 1059px) {
        margin-right: 4%;
      }
      @media screen and (max-width: 915px) {
        margin-right: 3%;
      }
      @media screen and (min-width : $break) and (max-width: 1059px) {
          width: 22%;
      }
      @media screen and (max-width: $break) {
          margin-right: 3%;
          width: 30%;
          height: 180px;
        }
      dt{
        font-size:16px;
        font-weight: normal;
      }
      dd {
        font-size:12px;
        }
      }
      li:nth-child(3n) {
        @media screen and (max-width: $break) {
          margin-right: 0;
        }
      }
      li:nth-child(4n) {
        margin-right: 0;
        @media screen and (max-width: $break) {
          margin-right: 3%;
        }
      }

    }
    ul#monacateamList,
    ul#onsenTeamList {
      li {
        list-style: outside none;
      }
    }
    img {
      width: 178px;
      border-radius: 178px;
      -webkit-border-radius: 178px;
      -moz-border-radius: 178px;
    }
  }
  .monacaMember {
    h2, dt{
      color: #2472b3;
    }
  }
  .onsenMenber {
    h2, dt{
      color: #ff1a33;
    }
  }
}
}
