
body.curry-campaign{

  .keyvisual {
    background:url(/img/curry-campaign/bg.jpg) no-repeat center bottom;
    //background-size: cover;
    height: auto;
    position: relative;
    h1 {
      padding-top: 100px;
      text-align:center;
      @media screen and (max-width: $break) {
        padding-top: 75px;
      }
      .logo {
        text-align:center;
      }  
    }
    .curry {
      margin-bottom: -130px;
      @media screen and (max-width: 1070px) {
        margin-bottom: -90px;
      }
      @media screen and (max-width: $break) {
        margin-bottom: -40px;
      }
    }
  }

  article.main {
    section {
      padding-right: 50px;
      padding-left: 50px;
      @media screen and (max-width: $break) {
        padding-right: 5%;
        padding-left: 5%;
      }
      h1 {
        margin-bottom: 30px;
      }
      @media screen and (max-width: $break) {
        p {
          padding: 0;
        }
      }
      &.about {
        background:url(/img/curry-campaign/img_01.png) no-repeat right center;
        @media screen and (max-width: 1070px) {
          background: none;
        }
        h1 {
          line-height: 1.4;
          text-align: left;
        }
        p {
          //margin-left: 0;
          //margin-right: 480px;
          //margin-bottom: 15px;
          margin: 0 480px 15px 0;
          //width: 575px;
          text-align: left;
          @media screen and (max-width: 1070px) {
            width: 100%;
          }
        }
        img.sp-img {
          display: none;
          @media screen and (max-width: 1070px) {
            display: block;
            margin: 0 auto;
          }
        }
      }
      &.signup {
        background-color: #f2f2f2;
        padding: 60px 0 70px;
        text-align: center;
        p {
            color: #666;
            font-size: 30px;
            text-align: center;
            margin-bottom: 40px;
            max-width: initial;
            width: 80%;
            @media screen and (max-width: $break-xs) {
                font-size: 20px;
            }
        }
        a {
            margin: 0 20px;
        }
        .btn-big {
          font-size: 24px;
          height: 60px;
          line-height: 61px;
          padding: 0 45px;
        }
      }
      &.curry {
        h1 {
          text-align: left;
        }
        p {
          max-width: initial;
          text-align: left;
        }
      }
      &.sponsors {
        p {
          @media screen and (max-width: $break) {
            margin-bottom: 20px;
          }
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          li {
            margin: 0 45px 10px 0;
            @media screen and (max-width: $break) {
              flex-shrink: 2;
            }
          }
        }
        .logos01 {
          @media screen and (max-width: 1070px) {
            display: none;
          }
        }
        .logos02 {
          display: none;
          @media screen and (max-width: 1070px) {
            display: block;
          }
        }
      }
      &.campaign {
        ul {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            &:first-child {
              width: 60%;
              @media screen and (max-width: $break) {
                width: 100%;
              }
            }
          }
        }
        h1 {
          margin: 0 0 25px;
          border-top: solid 1px #e5e5e5;
          position: relative;
          img {
            margin-top: -33px;
            display: block;
            //width: 348px;
            height: 45px;
            position: absolute;
          }
        }
        h2 {
          font-size: 50px;
          line-height: 65px;
          font-weight: 700;
          text-align: left;
          margin-bottom: 30px;
          @media screen and (max-width: 1070px) {
            text-align: center;
            font-size: 40px;
            line-height: 52px;
          }
        }
        h3 {
            font-weight: 700;
            color: #fff;
            text-align: center;
            padding: 10px;
            background-color: #0054ac;
            border-radius: 5px;
        }
        h4 {
          font-size: 25px;
          line-height: 30px;
        }
        p {
          margin-left: 0;
          //width: 575px;
          text-align: left;
        }
        .btn {
          width: 90%;
          padding: 0 20px;
          height: 84px;
          font-size: 30px;
          line-height: 36px;
          font-weight: 700;
          background-color: #e42014;
          box-shadow: 0  2px 4px rgba(0, 0, 0, 0.6);
          border: 1px solid #c91b12;
          border-radius: 6px;
          padding: 11px 20px;
          &:hover {
            background-color: #c91b12;
          }
          &:active {
            background-color: #e42014;
            box-shadow: 0  1px 2px rgba(0, 0, 0, 0.3);
          }
          span {
            font-size: 20px;
            line-height: 26px;
            display: block;
            letter-spacing: -0.05em;
          }
        }
        .btn-disable {
          width: 90%;
          height: 84px;
          display: inline-block;
          font-size: 30px;
          border-radius: 6px;
          background-color: #ddd;
          color: #666;
          line-height: 84px;
          font-size: 26px;
        }
        li {
          width: 35%;
          padding: 0;
          border: none;
          background: initial;

          @media screen and (max-width: 1070px) {
            float: none;
            margin-right: auto;
            margin-left: auto;
            width: 650px;
          }
          @media screen and (max-width: $break) {
            width: 100%;
            h2 {
              font-size: 24px;
            }
            h3 {
              font-size: 18px;
            }
            h4 {
              font-size: 16px;
            }
            p {
              padding: 0;
            }
          }
          h4 {
            font-weight: 700;
            margin-bottom: 15px;
          }
          h5 {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 10px;
          }
          .quiz {
            margin: 0 0 20px;
            width: 100%;
          }
          .quiz-pkg {
            margin-top: 70px;
            @media screen and (max-width: $break) {
              margin-top: 0;
            }
          }
          
        }
        &.campaign-fin {
          position: relative;
          & > * {
            opacity: 0.3;
          }
          &:after {
            content: "第1弾は終了しました";
            display: block;
            width: 700px;
            height: 200px;
            border: 20px solid #bf0000;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.7);
            color: #bf0000;
            font-size: 60px;
            font-weight: 700;
            letter-spacing: -0.05em;
            line-height: 160px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -330px;
            margin-top: -100px;
            transform: rotate(-15deg);
            opacity: 0.8;
            @media screen and (max-width: 1070px) {
              width: 280px;
              height: 80px;
              font-size: 24px;
              line-height: 64px;
              border-width: 8px;
              margin-left: -140px;
              margin-top: -80px;
              
            }
          }
        }
      }
      &.campaign-2 {
        .lead-para {
          font-size: 20px;
          background-color: #fff9c6;
          border: 3px solid #2472b3;
          border-radius: 10px;
          padding: 40px 50px;
          margin-bottom: 20px;
          color: #333;
          line-height: 1.5;
          @media screen and (max-width: $break) {
            padding: 40px 30px;
          }
        }
        .btn {
          width: 500px;
          @media screen and(max-width: $break) {
            width: 90%;
          }
        }
      }
      &.partner {
        h1 {
          margin-bottom: 50px;
        }
        ul {
          li {
            border: none;
            background-color: transparent;
            margin-bottom: 50px;
            padding: 0;
            @media screen and (max-width: $break) {
              margin-bottom: 60px;
              border-bottom: 1px solid #ccc;
              padding-bottom: 60px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            &.comingsoon {
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                margin: 0;
                font-weight: 700;
                font-style: italic;
              }
            }
          }
          dl {
            dt {
              text-align: left;
              font-size: 15px;
              line-height: 1.3em;
              margin-bottom: 15px;
              color: #555;
              span {
                //font-size: 12px;
                //line-height: 2em;
                //margin-bottom: 2px;
              }
            }
            dd {
              text-align: left;
              margin-bottom: 20px;
            }
          }
          img {
            width: 100%;
          }
          .btn {
            @media screen and (max-width: 970px) {
              width: 80%;
            }
          }
        }
      }
      &.notice {
        h2 {
          font-size: 18px;
          margin: 30px 0 10px;
          text-align: left;
        }
        p {
          margin-bottom: 15px;
        }
        li {
          text-align: left;
          margin-left: 1.5em;
          margin-bottom: 10px;
          list-style: disc;
          list-style-position: outside;
          color: #666;
        }
        .privacy {
          li {
            list-style: none;
            text-indent: -1.5em;
            i {
              text-indent: 0;
              margin-right: 0.2em;
            }
          }
        }
      }
    }
  }
}