body.events {
  #news {
    width: 932px;
    padding-left: 0;
    padding-right: 0;
    @media screen and (max-width: 932px) {
      width: 100%;
    }
    > .container {
      min-width: auto;
      padding-left: 20px;
      padding-right: 20px;
      @media screen and (max-width: 972px) {
        width: 100%;
        min-width: 380px;
        margin-top: 0;
      }
      > p {
        text-align: center;
        > a#show-past-button {
          display: inline-block;
          width: 180px;
          padding: 4px;
        }
      }
      > h1 {
        color: #2472b3;
        font-size: 36px;
        line-height: 36px;
        margin: 0 0 50px;
        text-align: left;
        padding: 0;
        @media screen and (max-width: $break) {
          box-sizing: border-box;
          font-size: 32px;
        }
      }
      .events-more {
        background: none;
        border: none;
        white-space: nowrap;
      }
      .button_text {
        font-size: 14px;
        color: #666666;
        display: inline-block;
        vertical-align: text-bottom;
      }
      .button_img {
        opacity: 0.5;
      }
      .events-entries {
        margin-bottom: 14px;

        > .events-entry {
          border-bottom: 1px solid #ccc;

          > th {

            float: left;
            padding: 12px 20px;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            color: #666;
            @media screen and (max-width: $break) {
              padding: 15px 0 0 10px;
              text-align: left;
              width: 100px;

            }
          }
          > .events-entry-comment {
            width: 100%;

          }
          > .price {
            vertical-align: middle;
            text-align: right;
            white-space: nowrap;

          }
          > .status_column {
            width: 150px;
          }
          > td {
            margin-left: 120px;
            padding: 12px 10px;
            padding-left: 0px;
            font-size: 13px;
            line-height: 20px;
            color: #666;
            font-weight: bold;
            text-align: left;
            vertical-align: top;
            word-wrap: break-word;
            overflow-wrap: break-word;
            @media screen and (max-width: $break) {
              margin-left: 0;
              padding-top: 4px;
            }
            > .events-entry-comment-news {
              display: block;
            }
            > span.category-on, > span.category-finished, > span.status-on, > span.status-finished {
              width: 150px;
              text-align: center;
              font-size: 12px;
              padding: 6px 10px;
              margin-right: 15px;
              display: inline-block;
              border-radius: 2px;
              line-height: 12px;
              float: left;
              @media screen and (max-width: $break) {
                float: none;
                margin-bottom: 3px;

              }
            }
            > span.category-on {
              color: #ffffff;
              background-color: #6EB063;
              margin-bottom: 5px;
              @media screen and (max-width: $break) {
                float: none;
                margin-top: 8px;
              }

            }
            > span.category-finished {
              color: #666666;
              background-color: #e3e3e3;
              margin-bottom: 5px;
              @media screen and (max-width: $break) {
                float: none;
                margin-top: 8px;
              }
            }
            > span.status-on {
              color: #6eb063;
              padding: 4px 10px;
              background-color: #ffffff;
              font-weight: 700;
              border: solid 2px #6eb063;
            }
            > span.status-finished {
              color: #ffffff;
              background-color: #666666;
            }

          }

        }
      }

      ul.events-submenu {
        text-align: center;
        margin: 22px 0 30px 0;
        > li {
          display: inline-block;
          width: 120px;
          height: 36px;
          border: 1px solid #ccc;
          border-right-width: 0px;
          background-color: #fdfdfd;
          margin-left: -1px;
          &.current {
            background-color: #2472b2;
            border-color: #004680;
            > a {
              color: white;
              font-weight: bold;
            }
          }
          &:first-child {
            border-radius: 4px 0 0 4px;
            margin-left: 0px;
          }
          &:last-child {
            border-radius: 0 4px 4px 0;
            border-right-width: 1px;
          }
          > a {
            line-height: 40px;
            width: 108px;
            display: inline-block;
            color: #666;
            &:link, &:visited, &:active, &:hover {
              text-decoration: none;
            }
          }
        }
      }
      p.events-attension {
        margin: 0;
        padding: 0;
        color: #d40004;
        line-height: 18px;
        font-size: 13px;
        font-weight: bold;
        > img {
          border: none;
          vertical-align: text-bottom;
          line-height: 18px;
        }
      }
      ul.events-tabs {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        font-size: 0px;
        text-align: center;
        height: 50px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
        &.attension {
          margin-bottom: 0px;
        }
        & > li {
          margin: 0;
          padding: 0;
          font-size: 16px;
          display: table;
          vertical-align: bottom;
          position: relative;
          width: 200px;
          height: 50px;
          background-color: #eee;
          border: none;
          margin-top: 0px;
          border-bottom: 1px solid #ccc;
          @media screen and (max-width: $break) {
            width: 190px;
          }
          &:first-child {
            border-radius: 4px 0 0 0;
          }

          &:last-child {
            border-radius: 0 4px 0 0;
          }

          &.current {
            height: 55px;
            background-color: white;
            border: 1px solid #ccc;
            border-bottom: 2px solid white;
            font-weight: bold;
            margin-top: -4px;
            > a {
              color: #0062b2;
            }
          }
          &.attension > a {
            color: #d40004;
            font-weight: bold;
          }
          > a {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #333;
            display: table-cell;
            line-height: normal;
            padding: 0 10px;
            vertical-align: middle;
            text-decoration: none;
            width: 100%;
            height: 100%;
          }
          > a:link, > a:visited {
            text-decoration: none;
          }
          > a:hover {
            text-decoration: underline;
          }
          > img.attension {
            position: absolute;
            left: 184px;
            top: -12px;
          }
        }
      }
    }
  }
  .lang-en .events-nav {
    span, a {
      font-size: 12px !important;
      margin: 0 0 0 12px !important;
    }
  }
}

body.events #news > .container.news-updates .events-entries > .events-entry > dl {
  > dt {
    @media screen and (max-width: $break) {
      float: none;
    }
  }
  > dd {
    @media screen and (max-width: $break) {
      padding-top: 0;
    }
  }
}