html[lang=ja] body.features-html5 {
    .v2-section--keyvisual {
        // In PC mode
        @media screen and (min-width: $v2-break-tablet + 1) {
            background-color: #1a1a1a;

            > .v2-section--keyvisual__wrapper {
                box-sizing: border-box;
                margin: 0 auto;
                padding: 170px 40px;
                max-width: 1920px;
                height: 509px;
                background-color: #333333;
                //background-image: url('/img/index-v2/keyvisual.jpg');
                background-position: center center;
                background-repeat: no-repeat;

                > .v2-section--keyvisual__subtitle {
                    color: white;
                    font-size: 41px;
                    font-weight: 700;
                }
                > .v2-section--keyvisual__title {
                    color: white;
                    font-size: 59px;
                    font-weight: 700;
                }
            }
        }
        // In smartphone/tablet mode
        @media screen and (max-width: $v2-break-tablet) {
            background-color: #1a1a1a;

            > .v2-section--keyvisual__wrapper {
                box-sizing: border-box;
                margin: 0 auto;
                padding: 76px 32px;
                height: 380px;
                background-color: #333333;
                background-image: url('/img/index-v2/keyvisual_sp.jpg');
                background-position: center center;
                background-repeat: no-repeat;

                > .v2-section--keyvisual__subtitle {
                    color: white;
                    font-size: 21.5px;
                    font-weight: 700;
                }
                > .v2-section--keyvisual__title {
                    color: white;
                    font-size: 28px;
                    font-weight: 700;
                }
                > .v2-section--keyvisual__description {
                    margin-top: 4px;
                    color: white;
                    font-size: 15.5px;
                    font-weight: 400;
                }
                > button.v2-section--keyvisual__trial-button {
                    margin-top: 27px;
                    border: none;
                    border-radius: 3px;
                    padding: 13px 26px;
                    background-color: #fa6800;
                    color: white;
                    font-size: 22px;
                    font-weight: 700;
                    transition: background-color .4s ease;

                    &:hover {
                        background-color: #ea5600;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                > .v2-section--keyvisual__app-development {
                    margin-top: 26px;
                    color: white;
                    font-size: 15.5px;

                    a {
                        color: white;
                    }
                    a:hover, a:focus {
                        text-decoration: none;
                        opacity: 0.9;
                    }
                }
            }
        }
        // In smartphone mode
        @media screen and (max-width: $v2-break-smartphone) {
            > .v2-section--keyvisual__wrapper {
                padding: 96px 20px;

                > button.v2-section--keyvisual__trial-button {
                    display: none;
                }
                > .v2-section--keyvisual__app-development {
                    margin-top: 48px;
                }
            }
        }
        // Fix for w=320px devices
        @media screen and (max-width: 374px) {
            > .v2-section--keyvisual__wrapper {
                > .v2-section--keyvisual__subtitle {
                    font-size: 20px;
                }
                > .v2-section--keyvisual__title {
                    font-size: 24px;
                }
            }
        }
    }
}
