html[lang=ja] body.features-monaca {
    .v2-section--keyvisual {
        // In PC mode
        @media screen and (min-width: $v2-break-tablet + 1) {
            background-color: #1a1a1a;

            > .v2-section--keyvisual__wrapper {
                box-sizing: border-box;
                margin: 0 auto;
                padding: 230px 40px;
                max-width: 1920px;
                height: 569px;
                background-color: #333333;
                background-position: center center;
                background-repeat: no-repeat;

                > .v2-section--keyvisual__subtitle {
                    color: white;
                    font-size: 41px;
                    font-weight: 700;
                }
                > .v2-section--keyvisual__title {
                    color: white;
                    font-size: 59px;
                    font-weight: 700;
                }
            }
        }
        // In smartphone/tablet mode
        @media screen and (max-width: $v2-break-tablet) {
            background-color: #1a1a1a;

            > .v2-section--keyvisual__wrapper {
                box-sizing: border-box;
                margin: 0 auto;
                padding: 156px 32px;
                height: 380px;
                background-color: #333333;
                background-position: center center;
                background-repeat: no-repeat;

                > .v2-section--keyvisual__subtitle {
                    color: white;
                    font-size: 21.5px;
                    font-weight: 700;
                }
                > .v2-section--keyvisual__title {
                    color: white;
                    font-size: 28px;
                    font-weight: 700;
                }
            }
        }
        // Fix for w=320px devices
        @media screen and (max-width: 374px) {
            > .v2-section--keyvisual__wrapper {
                padding-left: 20px;
                padding-right: 20px;

                > .v2-section--keyvisual__subtitle {
                    font-size: 20px;
                }
                > .v2-section--keyvisual__title {
                    font-size: 24px;
                }
            }
        }
    }
}
