html[lang=ja] body.free-plan {
    a {
        color: #0054ac;
        cursor: pointer;
    }
    a:hover, a:focus {
        color: #0054ac;
        text-decoration: none;
        opacity: 0.8;
    }

    .v2-section--free-plan {
        // In PC/tablet/smartphone mode
        @media screen {
            background-color: white;
            padding-bottom: 110px;
            border-bottom: 1px solid #f0f0f0;
            
            > .v2-section--free-plan__wrapper {
                box-sizing: border-box;
                margin: 0 auto;
                padding: 0 32px;
                max-width: 1024px;

                > .v2-section--free-plan__navigation {
                    margin-top: 58px;
                    padding: 0 32px;
                    font-size: 16.5px;
                    text-align: left;
                }

                > .v2-section--free-plan__title {
                    margin-top: 112px;
                    padding: 0 32px;
                    font-size: 35px;
                    font-weight: 700;
                    color: #444;
                    text-align: left;
                }

                > .v2-section--free-plan__description {
                    margin: 0 auto;
                    margin-top: 37px;
                    padding: 0 32px;
                    font-size: 16px;
                    line-height: 32px;
                    color: #6f777f;
                    text-align: left;

                    p {
                        margin-bottom: 32px;
                    }
                    p:last-of-type {
                        margin-bottom: 0;
                    }
                }

                > .v2-section--free-plan__features {
                    margin-top: 48px;
                    
                    ul {
                        margin-left: 85px;
                        text-align: left;
                        list-style: disc;

                        li {
                            margin: 9px 0;
                            padding-left: 10px;
                            font-size: 16.2px;
                            color: #444444;

                            em {
                                font-style: normal;
                                font-weight: 700;
                            }
                        }
                    }
                }

                > .v2-section--free-plan__description-after {
                    margin: 0 auto;
                    margin-top: 48px;
                    padding: 0 32px;
                    font-size: 16px;
                    line-height: 32px;
                    color: #6f777f;
                    text-align: left;

                    p {
                        margin-bottom: 32px;
                    }
                    p:last-of-type {
                        margin-bottom: 0;
                    }
                }

                > button.v2-section--free-plan__button {
                    margin-top: 51px;
                    border: none;
                    border-radius: 3px;
                    padding: 15px 31px;
                    background-color: #468fff;
                    color: white;
                    font-size: 24px;
                    font-weight: 700;
                    transition: opacity .2s ease;
                    opacity: 1;

                    &:hover {
                        opacity: 0.8;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        // In tablet/smartphone mode
        @media screen and (max-width: $v2-break-tablet) {
            padding-bottom: 51px;

            > .v2-section--free-plan__wrapper {
                > .v2-section--free-plan__navigation {
                    margin-top: 50px;
                    padding: 0;
                    font-size: 16.5px;
                    text-align: left;
                }

                > .v2-section--free-plan__title {
                    padding: 0;
                    margin-top: 55px;
                    font-size: 25.5px;
                }

                > .v2-section--free-plan__description {
                    margin-top: 14px;
                    padding: 0;
                }

                > .v2-section--free-plan__features {
                    margin-top: 18px;
                    
                    ul {
                        margin-left: 53px;

                        li {
                            margin: 9px 0;
                            padding-left: 10px;
                            font-size: 16.2px;
                            color: #444444;
                        }
                    }
                }

                > .v2-section--free-plan__description-after {
                    margin-top: 20px;
                    padding: 0;
                }

                > button.v2-section--free-plan__button {
                    display: none;
                }
            }
        }
        // In smartphone mode
        @media screen and (max-width: $v2-break-smartphone) {
            > .v2-section--free-plan__wrapper {
                padding: 0 16px;

                > .v2-section--free-plan__features {
                    margin-top: 18px;
                    
                    ul {
                        margin-left: 45px;

                        li {
                            line-height: 26px;
                        }
                    }
                }

                > .v2-section--free-plan__description-after {
                    margin-top: 35px;
                }
            }
        }
    }
}
