html body.migration-from-app-builder {
    .main {
        h2,h4 {color: #575e66;}
        p {color: #8d98a6;}
    }


    h1 {
        color:  #000000;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        line-height: 1.2em;
          @media screen and (max-width: $break) {
              font-size: 34px;
          }
        margin: 100px auto 50px auto;
        max-width: 800px;
      }


    .keyvisual {
      font-family: Helvetica;
      text-align: left;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      min-height: 456px;
      transform: scaleY(1.0015);
	  height: 600px;

      @media screen and (max-width: 1100px) {
        height: 1200px;
      }

      > div {
        padding: 10px 0 0 20px;
        width: 450px;
        @media screen and (max-width: 1100px) {
            width: 100%;
            max-width: 100%;
            padding: 10px 32px 20px;
        }
        &.pic {
            padding-top: 62px;
            @media screen and (max-width: 1100px) {
                padding-top: 22px;
            }
            width: 635px;
        }

        p {
          color:  #000000;
          font-size: 18px;
          line-height: 140%;
          font-weight: 400;
          transform: scaleX(1.001);
          margin-bottom: 17px;

          @media screen and (max-width: 1300px) {
            font-size: 16px;
          }
        }

        div.try-it-out {
		  @media screen and (max-width: 1100px) {
          }
          
          ul {
            max-width: 540px;
            //height: 75px;
            margin-left: 10px;
            padding: 13px 25px 15px;
            list-style: none;
			border-radius: 2px;
		    @media screen and (max-width: 1100px) {
			  max-width: 100%;
			}

            li {
                margin-bottom: 10px;
                font-size: 15px;
                list-style: disc;
                transform: scaleY(1.0004);
                vertical-align: middle;
            }
          }
        }
      }
      > div.buttons {
        margin-top: -140px;
        padding: 0;
        width: 100%;
        max-width: 1065px;
        @media screen and (max-width: 1100px) {
            width: 80%;
            text-align: center;
            margin-top: 40px;
        }

        a {
            display: inline-block;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0 15px 20px 0;
            padding: 0 17px;
            height: 60px;
            border-radius: 3px;
            cursor: pointer;
            letter-spacing: 1px;
            text-decoration: none;
            font-size: 22px;
            font-weight: 400;
            line-height: 60px;
            background-color: #468fff;
            border: 1px solid #468fff;
            color: #fff;
            opacity: 1;

            &:hover, &:active, &:focus {
                opacity: 0.8;
            }
        }
      }
    }

    div.section.benefits {
        @extend .fixed-bg;
        background-color: #fff;
        color: #575e66;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 0px;
        p {
            text-align: center;
            width: auto;
            max-width: 825px;
            opacity: 0.8;
            font-size: 18px;
            line-height: 1.5;
            margin: 0 auto 40px;
            @media screen and (min-width: $break + 1px) and (max-width: 1000px) {
            }
            @media screen and (max-width: $break) {
                font-size: 16px;
            }
            @media screen and (max-width: $break-xs) {
                font-size: 16px;
            }
        }
    }

    .section.subfeatures {
        padding: 90px 0 60px 0;
        border-bottom: 1px solid #ddd;
        margin-bottom: 90px;
        max-width: 1170px;
        ol li {
            max-width: 350px;
            float: left;
            height: 300px;
            &:after {
                content: "";
                clear: both;
                display: block;
            }
            h3.maintitle {
                text-align: center;
                margin-bottom: 24px;
            }
            h4.subtitle {
                font-size: 18px;
                margin-bottom: 24px;
                color: #575e66;
                font-weight: 700;
                @media screen and (max-width: $break) {
                }
            }
            p {
                margin-bottom: 0;
                max-width: none;
                overflow: hidden;
                font-size: 15px;
            }
            &:nth-child(1) {
                margin-right:30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                    margin-left: 30px;
                }
                @media screen and (max-width: $break-xs) {
                    height: 300px;
                }
            }
            &:nth-child(2) {
                margin-right: 30px;
                margin-left: 30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                }
                @media screen and (max-width: $break-xs) {
                }
            }
            &:nth-child(3) {
                margin-left: 30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                    margin-right: 30px;
                }
                @media screen and (max-width: $break-xs) {
                }
            }
            &:nth-child(4) {
                margin-right: 30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                    margin-left: 30px;
                }
                @media screen and (max-width: $break-xs) {
                }
            }
            &:nth-child(5) {
                margin-right: 30px;
                margin-left: 30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                }
                @media screen and (max-width: $break-xs) {
                }
            }
            &:nth-child(6) {
                margin-left: 30px;
                @media screen and (max-width: 1383px) {
                }
                @media screen and (max-width: $break-xl) {
                    margin-right: 30px;
                }
                @media screen and (max-width: $break-xs) {
                }
            }
            @media (max-width: 1383px) and (min-width: 780px){
                padding-left: 5%;
                padding-right: 5%;
                height: 300px;
                max-width: 45%;
                &:nth-child(odd){
                    margin-right: 7px;
                    margin-left: 15px;
                }
                &:nth-child(even){
                    margin-right: 15px;
                    margin-left: 7px;
                }
            }
            @media screen and (max-width: 781px) and (min-width: 752px) {
                padding-left: 3%;
                padding-right: 3%;
                margin-right: 0px;
                margin-left: 0px;
                max-width: 40%;
                height: 300px;
            }
            @media screen and (max-width: 751px) {
                max-width: 630px;
                padding-left: 3%;
                padding-right: 3%;
                margin: 0px 20px 0px 20px;
                height: 300px;
            }
        }
        @media (max-width: 1383px) and (min-width: 768px) {
            max-width: 1169px;
            padding-left: 5%;
            padding-right: 5%;
            margin-bottom: 100px;
        }
        @media screen and (max-width: $break) and (min-width: 752px) {
            padding-bottom: 70px;
            margin-bottom: 70px;
        }
        @media screen and (max-width: 751px) {
            max-width: 630px;
            padding-bottom: 35px;
            margin-bottom: 70px;
        }
    }

    div.migration {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      min-height: 415px;
      padding-top: 80px;

      font-family: Helvetica;
      color:  #8d98a6;
      font-size: 16px;
      font-weight: 400;
      line-height: 25.6px;
      text-align: left;
      transform: scaleY(1.0015);

      > div:nth-child(1) {
        padding: 0 25px;
        width: 100%;
        max-width: 1065px;
        margin-right: 40px;
        margin-bottom: 24px;

        h2 {
          margin-bottom: 24px;

          color:  #444;
          font-size: 28px;
          font-weight: 700;
          transform: scaleX(1.0008);
        }

        h3 {
            color:  #666;
            font-size: 22px;
            margin-bottom: 16px;
        }

        p {
            margin-bottom: 2em;

            code {
                font-size: 14px;
            }
        }
      }
    }

    div.about-monaca {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-top: 60px;
      padding-bottom: 20px;

      font-family: Helvetica;
      color:  #8d98a6;
      background-color: #f7f7f7;
      font-size: 16px;
      font-weight: 400;
      line-height: 25.6px;
      text-align: left;
      transform: scaleY(1.0015);

      > div {
        padding: 0 25px;
        width: 100%;
        max-width: 1065px;
        margin-right: 40px;
        margin-bottom: 24px;

        h2 {
          margin-bottom: 24px;

          color:  #444;
          font-size: 28px;
          font-weight: 700;
          transform: scaleX(1.0008);
        }

        p {
            margin-bottom: 2em;

            code {
                font-size: 14px;
            }
        }
      }
    }

    div.questions {
        text-align: center;
        padding-top: 90px;
        padding-bottom: 40px;
    }

}


html[lang=en] body.migration-from-app-builder {
    .section.subfeatures {
        ol li {
            &:nth-child(1) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 25px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 30px;
                }
            }
            &:nth-child(2) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 60px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 75px;
                }
            }
            &:nth-child(3) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 40px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 70px;
                }
            }
            &:nth-child(4) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 60px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 100px;
                }
            }
            &:nth-child(5) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 70px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 100px;
                }
            }
            &:nth-child(6) {
                @media screen and (max-width: 460px) {
                    margin-bottom: 30px;
                }
                @media screen and (max-width: 320px) {
                    margin-bottom: 80px;
                }
            }
            @media (max-width: 1383px) and (min-width: 780px){
                height: 300px;
            }
            @media screen and (max-width: 781px) and (min-width: 752px) {
                height: 300px;
            }
            @media screen and (max-width: 751px) {
                height: 300px;
            }
            @media screen and (max-width: 320px) {
                height: 300px;
            }
        }
    }
}