html body.phonegap_enterprise_notification {
    .main {
        h2,h4 {color: #575e66;}
        p {color: #8d98a6;}
    }


    h1 {
        color:  #000000;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        line-height: 1.2em;
          @media screen and (max-width: $break) {
              font-size: 34px;
          }
        margin: 100px auto 50px auto;
        max-width: 800px;
      }

    form.phonegap-e-form input {
        font-size: 14px;
        padding: 5px 10px;
        min-width: 400px;
        @media screen and (max-width: 480px) {
          min-width: 200px;        
        }
        border: none;
        border-radius: 3px;
        color: #747a79;
        background-color: #E9E9E9;
        height:40px;
    }

    form.phonegap-e-form button {
        font-size: 13px;
        font-weight: 700;
        box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
        outline: 0;
        letter-spacing: .04em;
        transition: all .15s ease;
        cursor: pointer;
        height: 40px;
        margin: 0px;
        border-radius: 3px;
    }


    div.about-monaca {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-top: 60px;
      padding-bottom: 20px;

      font-family: Helvetica;
      color:  #8d98a6;
      background-color: #f7f7f7;
      font-size: 16px;
      font-weight: 400;
      line-height: 25.6px;
      text-align: left;
      transform: scaleY(1.0015);

      > div {
        padding: 0 25px;
        width: 100%;
        max-width: 1065px;
        margin-right: 40px;
        margin-bottom: 24px;

        h2 {
          margin-bottom: 24px;

          color:  #444;
          font-size: 28px;
          font-weight: 700;
          transform: scaleX(1.0008);
        }

        p {
            margin-bottom: 2em;

            code {
                font-size: 14px;
            }
        }
      }
    }

    div.questions {
        text-align: center;
        padding-top: 90px;
        padding-bottom: 40px;
    }

}