html[lang=ja] body.platform {
  
  .v2-section--logos {
    // override from _index.scss
    border-top: none;
    border-bottom: none;
  }

  .v2-section--keyvisual {

    > .v2-section--keyvisual__wrapper {
        position: relative;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 143px 40px;
        max-width: 1285px;
        height: 513px;
        background-image: url('/img/platform/platform_background.svg');
        background-position: center center;
        background-repeat: no-repeat;

        > .title {
            position: absolute;
            left: 170px;
            top: 65px;
            text-align: left;
            color: white;

            > .v2-section--keyvisual__subtitle {
                font-size: 20px;
                line-height: 34px;
                font-weight: 600;
            }

            .long {
                display: inline-block;
            }

            .short {
                display: none;
            }

            > .v2-section--keyvisual__title {
                font-size: 46px;
                line-height:78px;
                font-weight: 600;
            }
            > .v2-section--keyvisual__description {
                font-size: 14px;
                line-height: 24px;
                font-weight: 600px;
                opacity: 0.5;

                > .wide-screen {
                    display: block;
                }
            }
        }

        > .box {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: 240px;
            display: flex;
            flex-direction: row;
            max-width: 864px;
            min-width: 864px;
            min-height: 240px;
            background-color: #FFFFFF;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
            text-align: left;
            padding: 30px;
            border-radius: 4px;

            .box-button {
                position: absolute;
                bottom: 0px;
                max-height: 40px;
                border: none;
                border-radius: 3px;
                padding: 12px 20px;
                color: white;
                font-size: 16px;
                font-weight: 600;
                line-height: 27px;
                cursor: pointer;
                transition: background-color .4s ease;
                display: inline-flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
            }

            .title {
                font-weight: bold;
                color: #444444;
                font-size: 20px;
                font-weight: 600;
                line-height: 26px;
                padding-bottom: 10px;
            }

            .description {
                color: #6F777F;
                font-size: 14px;
                font-weight: 600px;
                line-height: 21px;
            }

            > .trial {
                position: absolute;
                box-sizing: border-box;
                max-width: 375px;
                min-height: 180px;
                padding-right: 10px;

                > a.v2-section--keyvisual__trial-button {
                    width: 160px;
                    height: 40px;
                    background-color: #fa6800;
    
                    &:hover {
                        background-color: #ea5600;
                        text-decoration: none;
                    }
                    &:focus {
                        outline: none;
                        text-decoration: none;
                    }
                }

            }

            > .app {
                position: absolute;
                box-sizing: border-box;
                max-width: 375px;
                min-height: 180px;
                padding-left: 10px;
                right: 30px;

                > .v2-section--keyvisual__app-development {
                    width: 200px;
                    height: 40px;
                    background-color: #468FFF;
        
                    &:hover {
                        background-color: #468FFF;
                        text-decoration: none;
                    }
                    &:focus {
                        outline: none;
                        text-decoration: none;
                    }
                }
            }

        }

    }

    // In smartphone mode - 640-925px
    @media screen and (max-width: 925px) {
        > .v2-section--keyvisual__wrapper {

            > .title {
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                top: 20px;
                text-align: center;
                color: white;
                min-width: 450px;

                > .v2-section--keyvisual__subtitle {
                    font-size: 18px;
                }
                > .v2-section--keyvisual__title {
                    font-size: 36px;
                    font-weight: bold;
                }

                .long {
                    display: none;
                }

                .short {
                    display: inline-block;
                }

                > .v2-section--keyvisual__description {
                    font-size: 12px;
                }
            }

            > .box {
                min-width: 630px;
                min-height: 250px;
                padding: 10px;
                
                .title {
                    font-size: 20px;
                    padding-bottom: 10px;
                }

                .description {
                    font-size: 14px;
                }

                > .trial {
                    max-width: 300px;
                    min-height: 230px;
                    padding-right: 10px;
                }

                > .app {
                    max-width: 300px;
                    min-height: 230px;
                    padding-left: 10px;
                    right: 10px;
                }
            }
        }
    }

    // In smartphone mode - 640px
    @media screen and (max-width: $v2-break-smartphone) {
        > .v2-section--keyvisual__wrapper {
            padding: 126px 20px;
            height: 737px;
            background-image: url('/img/platform/platform_background_mobile.svg');

            > .title {
                text-align: center;
                color: white;
                top: 10px;
                left: 50%;
                transform: translate(-50%);
                min-width: 260px;
                padding-left: 35px;
                padding-right: 35px;

                > .v2-section--keyvisual__subtitle {
                    font-size: 12px;
                    line-height: 20px;
                }
                > .v2-section--keyvisual__title {
                    font-size: 24px;
                    line-height: 31.2px;
                    padding-top: 5px;
                    padding-bottom: 10px;
                }

                .long {
                    display: none;
                }

                .short {
                    display: inline-block;
                }

                > .v2-section--keyvisual__description {
                    font-size: 12px;
                    line-height: 20px;

                    > .wide-screen {
                        display: none;
                    }
                }
            }

            > .box {
                top: 215px;
                display: flex;
                flex-direction: column-reverse;
                min-width: 276px;
                max-width: 276px;
                min-height: 505px;
                max-height: 505px;
                text-align: center;

                .box-button {
                    position: absolute;
                    left: 0px;
                }

                .title {
                    color:#6F777F;
                    font-size: 16px;
                    line-height: 20.8px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                }

                .description {
                    font-size: 13px;
                    line-height: 19.5px;
                    text-align: left;
                    padding-bottom: 5px;
                }

                > .trial {
                    min-width: 216px;
                    max-width: 216px;
                    min-height: 210px;
                    max-height: 210px;
                    left: 30px;
                    bottom: 30px;

                    > a.v2-section--keyvisual__trial-button {
                        min-width: 216px;
                        background-color: #B3B3B3;
                        &:hover {
                            background-color: #B3B3B3;
                            text-decoration: none;
                        }
                        &:focus {
                            outline: none;
                            text-decoration: none;
                        }
                    }

                }

                > .app {
                    min-width: 216px;
                    max-width: 216px;
                    min-height: 195px;
                    max-height: 195px;
                    top: 30px;
                    left: 30px;

                    > .v2-section--keyvisual__app-development {
                        min-width: 216px;
                        background-color: #B3B3B3;
                        &:hover {
                            background-color: #B3B3B3;
                            text-decoration: none;
                        }
                        &:focus {
                            outline: none;
                            text-decoration: none;
                        }
                    }
                }

            }

        }
    }

  }
}
