html body.rpg-tkool {
    header {
        .navbar-collapse {
            position: relative;
            .nav-docu {
                @media screen and (min-width: $break) {
                    display: block!important;
                }
            }
        }
        .navbar-right,
        .navbar-toggle {
            display: none!important;
        }
        .navbar-header {
            .nav-docu {
                a {
                    text-decoration: none;
                }
                @media screen and (max-width: $break) {
                    display: block!important;
                    padding-right: 16px;
                    font-size: 12px;
                }
            }
        }
        .nav-docu {
            font-size: 14px;
            position: absolute;
            top: 0;
            right: 0;
            a {
                color: #fff;
                line-height: 50px;
                transition: 0.4s;
                &:hover {
                    color: #7cdaff;
                    text-decoration: none;
                }
            }
        }
    }
    .btn {
        border-radius: 32px;
        padding: 0 50px;
        @media screen and (max-width: $break-xs) {
            font-size: 22px;
            padding: 0 35px;
        }
    }
    .btn-green {
        &:hover {
            background-color: #8de527;
            opacity: 1;
        }
    }
    h2 {
        font-size: 32px;
        color: #333;
    }
    h3 {
        font-size: 21px;
        line-height: 1.2;
        color: #333;
    }
    p {
        font-size: 14px;
        line-height: 24px;
        color: #666;
    }
    a {
        transition: 0.4s;
        &:hover {
            opacity: 0.9;
        }
    }
    .section-full {
        width: 100%;
        height: 367px;
    }
    .section-vshort {
        padding: 60px 5% 0;
    }
    footer.common ul {
        display: none;
    }
    footer.common ul.rpg-footer {
        display: block!important;
    }
    .keyvisual {
        margin-top: 50px;
        height: auto;
        background: url(/img/rpg-tkool/img_keyvisual.jpg) no-repeat;
        background-size: cover;
        .keyvisual-container {
            width: 100%;
            background: -moz-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(0,0,0,0.68) 80%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0.68) 80%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
            //background: linear-gradient(to bottom, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0.68) 80%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
            h2 {
                padding-top: 90px;
                font-size: 40px;
                line-height: 1.4;
                color: #fff;
                @media screen and (max-width: 1030px) {
                    font-size: 36px;
                }
                @media screen and (max-width: 920px) {
                    font-size: 30px;
                }
                @media screen and (max-width: $break-xs) {
                    padding-top: 75px;
                }
            }
            .box-try {
                padding: 54px 0 80px;
            }
        }
    }
    .features {
        border-bottom: 1px solid #ccc;
        padding-bottom: 50px;
        h2 {
            margin-bottom: 80px;
        }
        h3 {
            margin: 30px 0 20px;
        }
        .column-3 {
            padding-right: 5%;
            padding-left: 5%;
            li {
                width: 25%;
                margin-right: 12%;
                &:last-child {
                    margin-right: 0;
                    @media screen and (max-width: 1300px) {
                        margin-right: 0;
                    }
                }
                @media screen and (max-width: 1000px) {
                    float: none;
                    width: 60%;
                    margin: 0 auto 70px!important;
                }
                @media screen and (max-width: $break) {
                    width: 90%;
                }
                img {
                    width: 54%;
                    @media screen and (max-width: 1000px) {
                        width: 147px;
                    }
                }
            }
        }
    }
    .rpg-image {
        height: 370px;
        background-color: #a2d144;
        padding: 0;
        position: relative;
        overflow: hidden;
        @media screen and (max-width: $break-xs) {
            height: calc(370px * 0.7);
        }
        @media screen and (max-width: $break-xs) {
            height: 220px;
        }
        &:before {
            width: 50%;
            height: 100%;
            background-color: #0098f8;
            position: absolute;
            left: 50%;
            top: 0;
        }
        &:after {
            position: absolute;
            left: 50%;
            top: -1px;
            margin-left: -28px;
            width: 0;
            height: 0;
            border-top: 28px solid #fff;
            border-right: 28px solid transparent;
            border-left: 28px solid transparent;
        }
        img {
            width: 770px;
            max-width: initial;
            height: 324px;
            padding: 0;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -384px;
            @media screen and (max-width: $break) {
                width: 616px; // 770px * 0.8
                height: 259px; //324px * 0.8
                margin-left: -307px;
            }
            @media screen and (max-width: $break-xs) {
                width: 385px; //770px * 0.5
                height: 162px; //324px * 0.5
                margin-left: -192px;
            }
        }
    }
    .showcase {
        border-bottom: 1px solid #ccc;
        @media screen and (max-width: $break) {
            padding-bottom: 0;
        }
        > h2 {
            margin-bottom: 45px;
        }
        > p {
            margin-bottom: 110px;
        }
        dl {
            margin-bottom: 100px;
        }
        dt {
            width: 46%;
            margin-right: 5%;
            clear: left;
            float: left;
            @media screen and (max-width: 1000px) {
                float: none;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 20px;
                img {
                    width: 100%;
                }
            }
            @media screen and (max-width: $break) {
                width: 80%;
            }
            @media screen and (max-width: $break) {
                width: 90%;
            }
        }
        dd {
            width: 48%;
            float: right;
            text-align: left;
            @media screen and (max-width: 1000px) {
                float: none;
                width: 80%;
                margin: 0 auto;
            }
            @media screen and (max-width: $break) {
                width: 80%;
            }
            @media screen and (max-width: $break) {
                width: 90%;
            }
            .icon {
                margin-bottom: 20px;
            }
            h3 {
                font-size: 28px;
                margin-bottom: 15px;
            }
            h4 {
                font-size: 20px;
                color: #818181;
                margin-bottom: 25px;
                text-indent: -0.5em;
                @media screen and (max-width: $break-xs) {
                    margin-bottom: 10px;
                }
            }
            p {
                margin-bottom: 60px;
                @media screen and (max-width: 1000px) {
                    padding: 0;
                    margin-bottom: 20px;
                    max-width: initial;
                }
            }
            .btn-area {
                a {
                    &:hover {
                        opacity: 0.7;
                    }
                    &:active {
                        opacity: 1;
                    }
                    &:first-child {
                        margin-right: 25px;
                        @media screen and (max-width: $break-xs) {
                            margin-right: 4%;
                        }
                    }
                    img {
                        @media screen and (max-width: $break-xs) {
                            width: 47%;
                        }
                    }
                }
            }
        }
    }
    .pricing {
        h2 {
            margin-bottom: 45px;
        }
        .m-table {
            width: 680px;
            margin: 0 auto 20px;
            @media screen and (max-width: $break) {
                width: 90%;
            }
            th {
                &:nth-child(1) {
                    padding-left: 30px;
                    width: 55%;
                }
                &:nth-child(2) {
                    width: 25%;
                }
                &:nth-child(3) {
                    width: 20%;
                }
                @media screen and (max-width: $break) {
                    &:nth-child(1) {
                        padding-left: 20px;
                        width: 50%;
                    }
                    &:nth-child(2) {
                        width: 25%;
                    }
                    &:nth-child(3) {
                        width: 25%;
                    }
                    
                }
            }
            td {
                font-size: 22px;
                padding: 25px 10px;
                &:first-child {
                    padding-left: 30px;
                }
                @media screen and (max-width: $break) {
                    font-size: 18px;
                }
            }
        }
        .attention {
            width: 680px;
            margin: 0 auto;
            text-align: left;
            @media screen and (max-width: $break) {
                width: 90%;
            }
            li {
                color: #666;
                line-height: 24px;
                text-indent: -0.6em;
                margin-left: 0.6em;
            }
        }
    }
    .requirement {
      border-bottom: 1px solid #ccc;
        h2 {
            margin-bottom: 45px;
        }
        ul {
            width: 680px;
            margin: 0 auto;
            @media screen and (max-width: $break) {
                width: 90%;
            }
            li {
                text-align: left;
                list-style: disc;
                margin-bottom: 10px;
                margin-left: 1em;
                color: #61ad00;
                @media screen and (max-width: $break) {
                    margin-bottom: 20px;
                }
                span {
                    font-size: 16px;
                    font-weight: 800;
                    color: #666;
                    margin-left: 0.3em;
                    @media screen and (max-width: $break) {
                        display: block;
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .trial {
        background: url(/img/rpg-tkool/img_04.jpg) no-repeat;
        background-size: cover;
        height: auto;
        .box-try {
            padding: 0;
        }
    }
    .rpgtkoolmv {
        width: 940px;
        min-width: initial;
        @media screen and (max-width: 1300px) {
            padding-right: 0;
            padding-left: 0;
        }
        @media screen and (max-width: 1000px) {
            width: 100%;
        }
        @media screen and (max-width: $break) {
            width: 90%;
            padding-right: 5%;
            padding-left: 5%;
        }
        dl {
            @media screen and (max-width: 1000px) {
                margin-bottom: 60px;
            }
            @media screen and (max-width: $break) {
                margin-bottom: 100px;
            }
        }
        dt {
            width: 30%;
            @media screen and (max-width: 1000px) {
                float: none;
                width: 227px;
            }
        }
        dd {
            width: 564px;
            float: left;
            @media screen and (max-width: 1000px) {
                width: 680px;
                margin: 0 auto;
                float: none;
            }
            @media screen and (max-width: $break) {
                width: 100%;
            }
            p {
                @media screen and (max-width: $break) {
                    margin-bottom: 40px;
                }
            }
        }
        .box-try {
            padding: 0;
            @media screen and (max-width: 1000px) {
                text-align: center;
            }
            .btn {
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                padding: 0 20px;
            }
        }
    }
}
.m-table {
    border: 1px solid #ccc;
    table-layout: fixed;
    th {
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        color: #98a4b2;
        padding: 10px;
    }
    td {
        font-size: 14px;
        color: #333;
        padding: 10px;
    }
}