html[lang="en"] body.service {
  min-width: 1170px;
  @media screen and (max-width: $break-lg) {
    width: 100%;
  }
  .main {
      h2 {
      color: #3e5c7f;
      font-size: 24px;
      line-height: 1.1em;
      margin-bottom: calc(1.1em + 8px);
    }
    p {
      color: #98a4b2;
      font-size: 14px;
      line-height: 1.6em;
      margin-bottom: 62px;
    }
    .container {
      margin: 0 auto;
      width: 980px;
      min-width: 0;
      padding: 0;
      @media screen and (max-width: 1170px) and (min-width: 971px) {
        width: 100%;
      }
      @media screen and (max-width: $break-lg) {
        width: 100%;
      }
    }
    .keyvisual {
      background-color: #03a9f4;
      height: auto;
      margin: 0 auto 100px;
      min-height: 220px;
      padding-top: 90px;
      padding-bottom: 30px;
      h1 {
        color: #fff;
        font-size: 36px;
        margin-bottom: 20px;
        text-align: center;
      }
      p {
        color: #fff;
        font-size: 16px;
        line-height: 1.2;
        margin: 0 auto;
        text-align: center;
        width: 640px;
      }
    }
    .column-2 {
      margin: 0 auto;
      width: 980px;
      h2.row2 {
        margin: 0 0 8px 0;
      }
      li {
        float: left;
        margin-bottom: 20px;
        margin-right: 4.2735%;
        width: 47.8632%;
      }
      .box-1.community-forum {
        p:nth-of-type(1) {
          margin-bottom: 15px;
        }
        p:nth-of-type(2) {
          color: #3e5c7f;
          font-size: 15px;
          margin-bottom: 42px;
          text-indent: 0.1em;
        }
        .box-try {
          padding: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          a {
            margin-right: 10px;
            min-width: 140px;
            &:hover {
              background: #609eff;
              border: solid 1px #609eff;
            }
          }

        }
      }
      .box-1 {
        background-color: #fff;
        border: medium none;
        margin: 0 43px 100px;
        padding: 0;
        position: relative;
        text-align: left;
        width: 404px;
        .box-try {
          bottom: 0;
          left: 0;
          position: absolute;
          padding: 0;
          a {
            font-size: 14px;
            font-weight: 700;
            height: 40px;
            line-height: 40px;
            margin: 0;
            min-width: 170px;
            padding: 0 20px;
            &:hover {
              background: #609eff;
              border: solid 1px #609eff;
            }
            img {
              color: #fff;
              margin-right: 5px;
              margin-top: 1px;
              vertical-align: text-top;
              width: 18px;
            }
          }
        }
      }
    }
  }
  .additional-container {
    border-top: 1px solid #ddd;
    margin: 0 auto;
    padding: 50px 40px;
    position: relative;
    width: 980px;
  }
  .additional-container.docs {
      h2 {
          margin-bottom: 15px;
      }
      p {
        margin: 0 auto 15px;
        width: 600px;
      }
      ul {
        margin: 0 auto;
        width: 600px;
        li {
          display: inline-block;
          margin-right: 20px;
        }
      }
    }
    .additional-container.trial {
      padding: 50px 80px;
      position: relative;
      text-align: left;
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 0;
      }
      .box-try {
        margin-bottom: -25px;
        padding: 0;
        position: absolute;
        right: 80px;
        bottom: 50%;
        a {
          font-size: 18px;
          height: 50px;
          line-height: 50px;
          font-weight: bold;
          margin: 0;
          min-width: 170px;
          padding: 0 20px;
        }
      }
    }
  }

body.service {
  #news {
    width: 932px;
    padding-left: 0;
    padding-right: 0;
    @media screen and (max-width: 932px) {
      width: 100%;
    }
    > .container {
      min-width: auto;
      padding-left: 20px;
      padding-right: 20px;
      @media screen and (max-width: 972px) {
        width: 100%;
        min-width: 380px;
        margin-top: 0;
      }
      @media screen and (max-width: $break) {
        padding-left: 5%;
        padding-right: 5%;
        min-width: 0;
        box-sizing: border-box;
      }
      > p {
        text-align: center;
        > a#show-past-button {
          display: inline-block;
          width: 180px;
          padding: 4px;
        }
      }
      .events-more {
        background: none;
        border: none;
        white-space: nowrap;
      }
      .button_text {
        font-size: 14px;
        color: #666666;
        display: inline-block;
        vertical-align: text-bottom;
      }
      .button_img {
        opacity: 0.5;
      }
      .events-entries {
        margin-bottom: 14px;

        > .events-entry {
          border-bottom: 1px solid #ccc;

          > th {

            float: left;
            padding: 12px 20px;
            font-size: 10px;
            font-weight: 400;
            line-height: 20px;
            color: #666;
            @media screen and (max-width: $break) {
              padding: 15px 0 0 0;
              text-align: left;
              width: 100%;

            }
          }
          > .events-entry-comment {
            width: 100%;

          }
          > .price {
            vertical-align: middle;
            text-align: right;
            white-space: nowrap;

          }
          > .status_column {
            width: 150px;
          }
          > td {
            margin-left: 120px;
            padding: 12px 10px;
            padding-left: 0px;
            font-size: 13px;
            line-height: 20px;
            color: #666;
            font-weight: bold;
            text-align: left;
            vertical-align: top;
            word-wrap: break-word;
            overflow-wrap: break-word;
            @media screen and (max-width: $break) {
              margin-left: 0;
              padding: 4px 0 6px 5px;
              font-size: 12px;
            }
            > .events-entry-comment-news {
              display: block;
            }
            > span.category-on, > span.category-finished, > span.status-on, > span.status-finished {
              width: 150px;
              text-align: center;
              font-size: 12px;
              padding: 6px 10px;
              margin-right: 15px;
              display: inline-block;
              border-radius: 2px;
              line-height: 12px;
              float: left;
              @media screen and (max-width: $break) {
                padding: 5px;
                float: none;
                margin-bottom: 3px;
                width: 100%;
                font-size: 9px;
              }
            }
            > span.category-on {
              color: #ffffff;
              background-color: #6EB063;
              margin-bottom: 5px;
              @media screen and (max-width: $break) {
                float: none;
                margin-top: 8px;
                font-size: 9px;
              }

            }
            > span.category-finished {
              color: #666666;
              background-color: #e3e3e3;
              margin-bottom: 5px;
              @media screen and (max-width: $break) {
                float: none;
                padding: 4px 3px;
                margin-top: 8px;
              }
            }
            > span.status-on {
              color: #6eb063;
              padding: 4px 10px;
              background-color: #ffffff;
              font-weight: 700;
              border: solid 2px #6eb063;
              @media screen and (max-width: $break) {
                float: none;
                padding: 4px 3px;
                font-size: 9px;
              }
            }
            > span.status-finished {
              color: #ffffff;
              background-color: #666666;
            }

          }

        }
      }

      ul.events-submenu {
        text-align: center;
        margin: 22px 0 30px 0;
        > li {
          display: inline-block;
          width: 120px;
          height: 36px;
          border: 1px solid #ccc;
          border-right-width: 0px;
          background-color: #fdfdfd;
          margin-left: -1px;
          &.current {
            background-color: #2472b2;
            border-color: #004680;
            > a {
              color: white;
              font-weight: bold;
            }
          }
          &:first-child {
            border-radius: 4px 0 0 4px;
            margin-left: 0px;
          }
          &:last-child {
            border-radius: 0 4px 4px 0;
            border-right-width: 1px;
          }
          > a {
            line-height: 40px;
            width: 108px;
            display: inline-block;
            color: #666;
            &:link, &:visited, &:active, &:hover {
              text-decoration: none;
            }
          }
        }
      }
      p.events-attension {
        margin: 0;
        padding: 0;
        color: #d40004;
        line-height: 18px;
        font-size: 13px;
        font-weight: bold;
        > img {
          border: none;
          vertical-align: text-bottom;
          line-height: 18px;
        }
      }
      ul.events-tabs {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        font-size: 0px;
        text-align: center;
        height: 50px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
        &.attension {
          margin-bottom: 0px;
        }
        & > li {
          margin: 0;
          padding: 0;
          font-size: 16px;
          display: table;
          vertical-align: bottom;
          position: relative;
          width: 200px;
          height: 50px;
          background-color: #eee;
          border: none;
          margin-top: 0px;
          border-bottom: 1px solid #ccc;
          @media screen and (max-width: $break) {
            width: 50%;
          }
          &:first-child {
            border-radius: 4px 0 0 0;
          }

          &:last-child {
            border-radius: 0 4px 0 0;
          }

          &.current {
            height: 55px;
            background-color: white;
            border: 1px solid #ccc;
            border-bottom: 2px solid white;
            font-weight: bold;
            margin-top: -4px;
            > a {
              color: #0062b2;
            }
          }
          &.attension > a {
            color: #d40004;
            font-weight: bold;
          }
          > a {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #333;
            display: table-cell;
            line-height: normal;
            padding: 0 10px;
            vertical-align: middle;
            text-decoration: none;
            width: 100%;
            height: 100%;
          }
          > a:link, > a:visited {
            text-decoration: none;
          }
          > a:hover {
            text-decoration: underline;
          }
          > img.attension {
            position: absolute;
            left: 184px;
            top: -12px;
          }
        }
      }
    }
  }
  #news > .container.news-updates .events-entries > .events-entry > dl {
  > dt {
      @media screen and (max-width: $break) {
        float: none;
      }
    }
    > dd {
      @media screen and (max-width: $break) {
        padding-top: 0;
      }
    }
  }
  header {
    background-color: #222;
    border-bottom: 1px solid #080808;
    position: relative;
    z-index: 100;
  }
  .navbar {
    margin: 0;
    .navbar-header {
      @media screen and (max-width: 970px) {
        margin: 0;
      }
    }
  }
  .navbar-right {
    margin-right: 0;
  }
  .navbar-header {
    margin: 0 0 0 10px;
    @media screen and (max-width: 1170px) {
      margin: 0;
    }
  }
  header > .container {
    // border-bottom: medium none;
    // box-sizing: border-box;
    // margin: 0 auto;
    // padding: 0;
    // width: 1170px;
    // // z-index: 101;
    // @media screen and (max-width: 1184px) {
    //   width: auto;
    // }
    @media screen and (max-width: 1170px) {
      width: 95%;
    }
    @media screen and (max-width: $break-lg) {
      width: 90%;
    }
    @media screen and (max-width: $break) {
      width: 100%;
      box-sizing: border-box;
    }
    .navbar-right {
      margin-right: 0;
    }
  }
  section {
    padding: 0;
    width: 100%;
    border: none;
    p {
      max-width: 100%;
    }
  }
  #support-tech {
    > .container {
      margin-bottom: 60px;
      width: 700px;
      @media screen and (max-width: $break) {
        padding: 0 3%;
        width: auto;
      }
      > p {
        font-size: 13px;
        line-height: 20px;
        color: #666;
      }
      > ul {
        margin-left: 25px;
        margin-bottom: 30px;
        > li {
          line-height: 1.7;
          list-style-position: inside;
        }
      }
      > h1 {
        color: #2472b3;
        font-size: 36px;
        line-height: 36px;
        margin: 50px 0;
        text-align: left;
        padding: 0;
        @media screen and (max-width: $break) {
          font-size: 28px;
        }
      }
      > div.support-tech-caution {
        > h2 {
          margin: 50px 0 32px 0;
          text-align: center;
          font-size: 24px;
          line-height: 24px;
          font-weight: bold;
          color: #666;

          > img {
            vertical-align: middle;
            display: inline-block;
            margin-bottom: 4px;
          }
        }
        > p {
          margin: 0 130px;
          font-size: 13px;
          line-height: 24px;
          color: #666;
          @media screen and (max-width: $break) {
            margin: 0 auto;
          }
        }
        > div.support-tech-caution-footer {
          margin-top: 60px;
          text-align: center;

          > a.btn-blue {
            height: 40px;
            line-height: 40px;
            width: 240px;
          }
        }
      }
      > form > table {
        td {
          padding: 4px 0;
          > img.user-icon {
            vertical-align: middle;
            border: 1px solid #333;
            margin-right: 8px;
          }
          > span.user-info {
            font-size: 13px;
            line-height: 20px;
            font-weight: bold;
            color: #666;
          }
          > label.device-label {
            display: inline-block;
            width: 260px;
            margin-top: 10px;
          }
          > label.other-device-label {
            display: block;
            margin-top: 17px;
            > input.target-device {
              box-sizing: border-box;
              width: 400px;
              margin-top: 0;
              margin-left: 12px;
              @media screen and (max-width: $break) {
                margin-left: 0;
                width: 100%;
              }
            }
          }
          > textarea#support-text {
            box-sizing: border-box;
            display: block;
            width: 95%;
            height: 140px;
            margin-bottom: 0;
            @media screen and (max-width: $break) {
              width: 100%;
            }
          }
          > div.support-text-footer {
            text-align: right;
            > span.expand-button {
              display: inline-block;
              cursor: pointer;
              font-size: 11px;
              line-height: 19px;
              color: #fff;
              background-color: #999;
              border-radius: 0 0 4px 4px;
              margin-right: 20px;
              padding: 0 8px;
              height: 19px;

              &:hover {
                background-color: #555;
              }
            }
          }
          > a.help {
            width: 21px;
            height: 21px;
            display: inline-block;
            cursor: pointer;
            background-image: url(../img/service/ico_q_21px.png);
            vertical-align: middle;
            &:hover {
              background-position: left 21px;
            }
          }
          > div.balloon-wrapper {
            position: relative;
            display: inline-block;
            width: 0;
            height: 0;
            > div.balloon {
              background-color: #525253;
              border: 1px solid #333;
              border-radius: 8px;
              position: absolute;
              top: -200px;
              left: -34px;
              width: 270px;
              min-height: 100px;
              font-size: 13px;
              line-height: 16px;
              color: #ccc;
              padding: 14px 15px;
              /*@include box-shadow(0 1px 0 rgba(255, 255, 255, .2) inset, 0px 4px 8px rgba(0, 0, 0, 0.3));*/
              -webkit-box-shadow: (0px 1px 0px rgba(255, 255, 255, .2)inset,0px 4px 8px rgba(0, 0, 0, 0.3));
              -moz-box-shadow: (0px 1px 0px rgba(255, 255, 255, .2)inset,0px 4px 8px rgba(0, 0, 0, 0.3));
              box-shadow: (0px 1px 0px rgba(255, 255, 255, .2)inset,0px 4px 8px rgba(0, 0, 0, 0.3));
              &:after {
                content: '';
                position: absolute;
                border-top: 8px solid #525253;
                border-right: 8px solid transparent;
                border-left: 8px solid transparent;
                bottom: -8px;
                left: 15px;
              }
            }
          }
          > select {
            min-width: 200px;
          }
        }
        td.label {
          width: 130px;
          vertical-align: top;
          @media screen and (max-width: $break) {
            width: 64px;
          }
        }
        td.form-item {
          padding-bottom: 28px;
        }
        td > span.input-label {
          font-size: 13px;
          line-height: 20px;
          color: #333;
          font-weight: bold;
          display: inline-block;
        }
        td > strong.ticket-retain {
          font-weight: bold;
          color: #333;
          font-size: 16px;
          line-height: 21px;
          margin: 0 4px;
        }
      }
      div.form-footer {
        margin-top: 10px;
        text-align: center;
        > input[type=submit] {
          height: 40px;
          width: 200px;
          line-height: 30px;
        }
      }
    }
  }

  #support-inquiry {
    padding: 50px 0 30px 0;
    width: 700px;
    @media screen and (max-width: $break) {
      width: 100%;
    }
    > .container {
      width: 700px;
      min-width: auto;
      @media screen and (max-width: $break) {
        padding: 0 3%;
        width: auto;
      }
      > h1 {
        color: #2472b3;
        font-size: 36px;
        line-height: 36px;
        margin: 0 0 70px;
        text-align: left;
        padding: 0;
        @media screen and (max-width: $break) {
          font-size: 28px;
          margin-bottom: 30px;
        }
      }
      > #content {
        width: auto;
        padding: 0;
        margin: 0;
        color: black;
        font-size: 12px;
        overflow-y: auto;
        z-index: -100;
        .feedback-form {
          select {
            background-color: #fff;
            border: 1px solid #9c9c9c;
            border-radius: 4px;
            color: #3f3e3d;
            height: 30px;
            margin-bottom: 30px;
            padding: 0 7px;
            width: 50%;
            vertical-align: middle;
          }
          input[type="radio"] {
            height: 20px;
            margin: 0 5px 0 40px;
            width: 20px;
            vertical-align: middle;
          }
          textarea {
            background: #fff none repeat scroll 0 0;
            border: 1px solid #cccccc;
            border-radius: 4px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
            color: #666666;
            display: inline-block;
            font-size: 14px;
            margin: 0 0 9px;
            outline: medium none;
            padding: 5px;
            height: 226px;
          }
          p {
            font-weight: normal;
            line-height: 150%;
            margin: 0 0 10px;
            color: #333;
            padding: 0;
            a {
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
            &.form-error, &.form-error-detail {
              color: #f55b56;
            }
            &.form-error {
              margin: 0 0 0 130px;
              float: left;
              text-align: left;
              width: 100%;
              box-sizing: border-box;
              @media screen and (max-width: $break) {
                margin: 0 0 10px 0;
              }
            }
            &.form-error-detail {
              text-align: left;
              width: 100%;
              box-sizing: border-box;
            }
          }
        }

        h2 {
          font-weight: bold;
          text-align: left;
        }
        label {
          font-weight: normal;
          line-height: 30px;
        }
        .feedback-item {
          padding-left: 30px;
          border-radius: 2px;
          margin-bottom: 30px;
          width: 670px;
          @media screen and (max-width: $break) {
            padding-left: 0;
            width: 100%;
          }
          .required {
            color: #f55b56;
            padding-left: 3px;
          }
        }
        .feedback-item .form-label-inline {
          text-align: right;
          padding-right: 10px;
          width: 120px;
          float: left;
          @media screen and (max-width: $break) {
            text-align: left;
            margin-left: 0;
            padding-right: 0;
            width: 340px;
          }
        }
        .feedback-item.feedback-item-radio {
          padding-top: 42px;
          > ul {
            margin-left: 100px;
            text-align: left;
            @media screen and (max-width: $break) {
              margin-left: 0px;
            }
          }
        }
        .feedback-item.service-item {
          @media screen and (max-width: $break) {
            margin-right: 30px;
          }
          input[type="text"] {
            width: 210px;
            float: left;
          }
          h2 {
            margin-bottom: 40px;
          }
          label {
            width: 130px;
          }
          div {
            margin-bottom: 26px;
            @media screen and (max-width: $break) {
              height: auto;
              margin-bottom: 16px;
              width: 85%;
              margin: 0 auto;
            }
            label {
              vertical-align: middle;
            }
            input[type="text"] {
              margin-right: 6px;
              margin-bottom: 0;
              @media screen and (max-width: $break) {
                margin-bottom: 5px;
                width: 100%;
                font-size: 16px;
              }
              & + span {
                display: block;
                margin-left: 1  0px;
                @media screen and (max-width: $break) {
                  margin-left: 0px;
                }
              }
            }
            &:last-child {
              margin-bottom: 46px;
            }
          }
          table {
            @media screen and (max-width: $break) {
              padding-right: 30px;
            }
            label {
              line-height: 1.4;
              .row-indent {
                margin-right: 0.5em;
                display: inline-block;
              }
            }
            td {
              @media screen and (max-width: $break) {
                display: block;
                text-align: left;
                width: 85%;
                margin: 0 auto;
                textarea {
                  font-size: 16px;
                }
              }
              &.label {
                width: 130px;
                padding: 0 10px 0 0;
                @media screen and (max-width: $break) {
                  text-align: left;
                  padding: 0;
                  margin: 0 0 0 7%;
                }
              }
              p {
                @media screen and (max-width: $break) {
                  padding: 10px 0 0;
                }
              }
            }
          }
        }
        > form > .feedback-item {
          table {
            width: 100%;
            td {
              vertical-align: middle;
              width: auto;
              margin: 0;
              padding: 0;
            }
            td.label {
              width: 140px;
              text-align: right;
              padding: 4px 10px;
              margin: 0;
              color: #333;
              font-size: 95%;
              font-weight: normal;
              display: block;
              @media screen and (max-width: $break) {
                width: auto;
              }
            }
          }
        }
        input[type="text"] {
          box-sizing: border-box;
          width: 540px;
          background: #fff none repeat scroll 0 0;
          border: 1px solid #cccccc;
          border-radius: 4px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
          color: #666666;
          display: inline-block;
          font-size: 14px;
          margin: 0 0 9px;
          outline: medium none;
          padding: 3px;
          @media screen and (max-width: $break) {
            width: 100%;
          }
        }
        textarea {
          margin: 0 0 20px 0;
        }
        textarea, input[type=text]#device_os {
          box-sizing:border-box;
          width: 540px;
          @media screen and (max-width: $break) {
            width: 100%;
          }
        }
        .form-footer {
          text-align: center;
          width: 700px;
          .btn-blue {
            font-weight: 700;
          }
          @media screen and (max-width: $break) {
            width: 100%;
          }
          > input[type=submit] {
            height: 40px;
            width: 200px;
            line-height: 30px;
          }
        }
      }
    }
  }

  #support-index {
    > .container {
      padding: 0;
      margin-bottom: 70px;
      width: 980px;
      min-width: 980px;
      @media screen and (max-width: 1170px) and (min-width: 971px) {
        padding: 0 5%;
        width: 100%;
        box-sizing: border-box;
      }
      @media screen and (max-width: $break-lg) {
          padding: 0 5%;
          width: 100%;
          box-sizing: border-box;
          min-width: 0;
        }
      @media screen and (max-width: $break) {
        width: 100%;
      }
      > h1 {
        color: #2472b3;
        font-size: 36px;
        line-height: 36px;
        margin: 50px 0;
        text-align: left;
        padding: 0;
        @media screen and (max-width: $break) {
          box-sizing: border-box;
          padding-left: 10px;
        }
        @media screen and (max-width: $break-xl) {
          padding-left: 0;
          font-size: 32px;
        }
      }
      .flex-container {
        margin: 0 auto;
        width: 980px;
        @media screen and (max-width: 1170px) and (min-width: 1070px) {
          margin: 0 auto;
          width: 950px;
        }
        @media screen and (max-width: 1069px) and (min-width: 971px) {
          margin: 0 auto;
          width: 890px;
        }
        @media screen and (max-width: $break-lg) {
          margin: 0 auto;
          width: 640px;
          box-sizing: border-box;
        }
        @media screen and (max-width: $break) {
          width: 570px;
        }
        @media screen and (max-width: $break-xs) {
          width: 100%;
        }
      }
      section.support-index-box {
        width: 300px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        min-height: 150px;
        padding: 30px;
        margin: 0 40px 40px 0;
        text-align: center;
        border-radius: 12px;
        position: relative;
        float: left;
        height: 716px;
        &.box-02 {
            padding: 57px 30px 30px 30px;
          }
        &.box-03 {
            margin: 0 0 40px 0;
          }
        &.box-06 {
            padding: 57px 30px 30px 30px;
          }
        @media screen and (max-width: 1170px) and (min-width: 1070px) {
         margin: 0 20px 40px 0;
        }
        @media screen and (max-width: 1069px) and (min-width: 971px) {
          margin: 0 10px 40px 0;
          width: 290px;
          height: 765px;
          &.box-02 {
            padding: 30px;
          }
        &.box-06 {
            padding: 57px 30px 30px 30px;
          }
        }
        @media screen and (max-width: $break-lg) {
          width: 300px;
          margin: 0 40px 40px 0;
          &.box-03 {
            margin: 0 40px 40px 0;
          }
          &.box-01 {
            margin: 0 0 40px 0;
          }
          &.box-02 {
            padding: 30px;
            margin: 0 0 40px 0;
          }
        }
        @media screen and (max-width: $break) {
          width: 280px;
          height: 846px;
        }
        @media screen and (max-width: $break-xs) {
          padding: 10% 5% 5%;
          width: 100%;
          height: auto;
        }
        @media screen and (max-width: $break) {
          margin: 0 auto 40px;
          &.box-04,
          &.box-05 {
            margin: 0 10px 40px 0;
          }
          &.box-02 {
            margin: 0 0 40px 0;
            height: 710px;
          }
          &.box-03 {
            margin: 0 10px 40px 0;
            height: 710px;
          }
          &.box-05,
          &.box-06 {
            height: 560px;
          }
        }
        &.box-01:before, &.box-02:before {
          content: url("/img/service/ico_support_tag_free.png");
          position: absolute;
          left: 111px;
          top: -14px;
          @media screen and (max-width: $break) {
            left: 38%;
          }
        }

        &.box-04:before {
          content: url("/img/service/ico_support_ticket.png");
          position: absolute;
          left: 106px;
          top: -16px;
          @media screen and (max-width: $break) {
            left: 38%;
          }
        }
        &.box-05 {
          padding: 42px 30px 30px 30px;
          h2 {
            margin: 12px 0 28px 0;
            padding: 0;
            font-size: 21px;
            line-height: 26px;
            font-weight: bold;
            color: #333;
            text-align: center;

            &.row2-title {
              margin: 0 0 29px 0px;
            }
          }
        }
        @media screen and (max-width: $break-xs) {
          &.box-01,
          &.box-02,
          &.box-03,
          &.box-04,
          &.box-05,
          &.box-06 {
            margin: 0 0 40px 0;
            height: auto;
          }
          &.box-05 {
            padding: 10% 5% 5%;
          }
        }
        @media screen and (min-width: $break + 1px) {
          &:last-child {
            margin-right: 0;
          }
        }
        > h2 {
          margin: 12px 0 28px 0;
          padding: 0;
          font-size: 21px;
          line-height: 26px;
          font-weight: bold;
          color: #333;
          text-align: center;
          &.row2-title {
            margin: 0 0 15px;
          }
        }
        img {
          margin-bottom: 15px;
        }
        > div.support-index-box-description {
          margin-bottom: 100px;
          > p {
            font-size: 13px;
            line-height: 22px;
            color: #666;
            text-align: left;
            margin: 0 0 10px 0;
            @media screen and (max-width: $break){
              padding: 0;
            }
            a {
              color: #666;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        > div.support-index-box-detail-description {
          background-color: #eee;
          margin: 1em 0;
          padding: 1em;
          > h3 {
            font-size: 15px;
            margin: 0 0 12px 0;
            font-weight: bold;
            color: #333;
          }
        }
        > div.support-index-box-footer {
          width: 240px;
          position: absolute;
          bottom: 30px;
          @media screen and (max-width: $break){
            width: 220px;
          }
          @media screen and (max-width: $break-xs){
            width: 240px;
            position: relative;
            margin: 0 auto;
          }

          > a {
            vertical-align: middle;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0;
            &:hover {
              opacity: 1.0;
              user-select: none;
              -moz-user-select: none;
              -webkit-user-select: none;
              -ms-user-select: none;
            }
            > img {
              margin-bottom: 2px;
              margin-left: 4px;
            }
          }
          > a.btn {
           @extend .btn-big;
           @media screen and (max-width: $break){
            width: 100%;
           }
         }
       }
       section .box-00 {
        margin-right: 0;
      }
    }
    > div.support-index-box-detail-description {
     background-color: #eee;
     margin: 0 auto;
     padding: 30px 30px 15px;
     border-radius: 12px;
     width: 980px;
     text-align: left;
     @media screen and (max-width: 1170px) and (min-width: 971px) {
      width: 100%;
     }
     @media screen and (max-width: $break-lg) {
      width: 100%;
     }
     @media screen and (max-width: $break) {
       width: 100%;
     }
     @media screen and (max-width: $break-xs) {
       padding: 30px 15px 15px;
     }
     > h3 {
      font-size: 15px;
      margin: 0 0 12px 0;
      font-weight: bold;
      color: #333;
    }
    > p {
      font-size: 13px;
      line-height: 22px;
      margin: 0 0 10px 0;
      @media screen and (max-width: $break) {
        padding: 0;
      }
    }
    .support-ticket-description{
      margin: 10px;
      font-size: 13px;
      line-height: 22px;
      color: #666;
    }
  }
}
.box-02 div.support-index-box-footer {
  a {
    width: 90%;
    &:first-child {
      margin-bottom: 7px;
    }
  }
}
}

section#support {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 700px;
  h1 {
    background: url(/img/service/va_bg.png) no-repeat top left;
    border-bottom: 1px solid #ddd;
    /*@include box-sizing();*/
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    height: 188px;
    padding: 7px 0 0 240px;
    text-align: left;
    em {
      color: #333;
      font-size: 46px;
      font-style: normal;
      line-height: 95px;
    }
  }
  p {
    color: #666;
    font-size: 13px;
    line-height: 24px;
  }
  ul.support-list {
    li {
      background: none no-repeat 0 30px;
      list-style-type: none;
      padding: 25px 0 25px 175px;

      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
      strong {
        color: #6677ff;
        font-weight: 400;
      }
      &.support-list-item-1 {
        background-image: url(/img/support/img_1.png);
        background-position: 0 50px;
        border-bottom: 1px solid #ddd;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      &.support-list-item-2 {
        background-image: url(/img/support/img_2.png);
      }
      &.support-list-item-3 {
        background-image: url(/img/support/img_3.png);
      }
      &.support-list-item-ticket {
        background-color: #ccc;
        padding: 30px 40px 20px;
        h2 {
          font-size: 15px;
          line-height: 20px;
          margin-bottom: 10px;
        }
      }
      &.support-list-item-4 {
        background-image: url(/img/support/img_4.png);
        background-position: 30px 35px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 50px;
      }
      &.support-list-item-5 {
        background-image: url(/img/support/img_5.png);
        background-position: 30px center;
        padding-top: 50px;
      }
      &.support-list-item-6 {
        background-image: url(/img/support/img_6.png);
        background-position: 30px center;
      }
      h2 {
        color: #333;
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
}

body.lang-en section#support {
  h1 {
    padding-top: 17px;
    em {
      line-height: 74px;
    }
  }
}
#training {
  position: relative;
  z-index: 0;
  border: none;
  @media screen and (max-width: $break) {
    width: 100%;
  }
  h3 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 27px;
    text-align: center;
  }
  h4 {
    @extend h3;
    font-size: 26px;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    color: #666;
    line-height: 1.8;
  }
  li {
    list-style: none;
  }

  a {
    color: #44b6ff;
  }
  .last-sec {
   margin-bottom: 30px;
 }
 .cleafix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.training-header {
  height: 434px;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  box-sizing: border-box;
  overflow: hidden;
  @media screen and (max-width: 1170px) {
    height: auto;
  }
  @media screen and (max-width: $break-lg) {
    height: auto;
  }
  @media screen and (max-width: $break) {
      margin: 0 0 10%;
      height: auto;
    }
  .training-wrapper {
    width: 100%;
    height: 400px;
    background-color: #0092bf;
    @media screen and (max-width: 1170px) {
      height: auto;
      background: none;
    }
    @media screen and (max-width: $break-lg) {
      height: auto;
      background: none;
    }
    @media screen and (max-width: $break) {
      height: auto;
    }
    .training-contents {
      position: relative;
      width: 1170px;
      margin: 0 auto;
      @media screen and (max-width: 1170px) {
        width: 100%;
      }
      @media screen and (max-width: $break-lg) {
        width: 100%;
      }
      @media screen and (max-width: $break) {
        width: 100%;
      }
      &:after {
        content: url(/img/service/woman.png);
        position: absolute;
        right: -95px;
        top: -26px;
        z-index: 200;
        @media screen and (max-width: 1170px) {
          content: none;
        }
        @media screen and (max-width: $break-lg) {
          content: none;
        }
        @media screen and (max-width: $break) {
          content: none;
        }
      }
      .title {
        margin: 0 -339px;
        z-index: 0;
        @media screen and (max-width: 1170px) {
          margin: 0;
        }
        @media screen and (max-width: $break-lg) {
          margin: 0;
        }
        @media screen and (max-width: $break) {
          margin: 0;
        }
      }
      .pc {
          display: block;
            @media screen and (max-width: $break) {
            display: none;
          }
        }
        .sp {
          display: none;
          @media screen and (max-width: $break) {
            display: block;
            width: 100%;
            img {
              width: 100%;
              display: block;
            }
          }
        }
    }
  }
}

.training-outline {
  width: 1170px;
  margin: 0 auto;
  padding: 0 95px;
  position: relative;
  display: flex;
  @media screen and (max-width: 1170px) {
    width: 945px;
    margin: 30px auto 40px;
  }
  @media screen and (max-width: $break-lg) {
    padding: 0 5%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding-bottom: 20px;
  }
  @media screen and (max-width: $break) {
    padding: 0 5%;
    width: 100%;
    box-sizing: border-box;
  }
  .text {
    margin: 0 30px 80px 0;
    @media screen and (max-width: 1170px) {
      //margin: 0 auto 80px;
      width: 1070px;
    }
    @media screen and (max-width: $break-lg) {
      padding: 0;
      margin: 5% auto 20px 0;
      width: 100%;
      box-sizing: border-box;
      //float: none;
    }
    @media screen and (max-width: $break) {
      margin: 0 0 20px 0;
      width: 100%;
      box-sizing: border-box;
      //float: left;
    }
    p {
      margin-bottom: 15px;
    }
    .last-sec {
      margin-bottom: 30px;
    }
  }
  .outline-pic {
    width: 270px;
    height: 210px;
    @media screen and (max-width: $break-lg) {
      margin-bottom: 80px;
    }
  }
  .iframe-content {
    margin: 0px 95px 60px 0;
    width: 350px;
    height: 650px;
    position: relative;
    float: left;
    z-index: 100;
    @media screen and (max-width: 1170px) {
      margin: 0px;
    }
    @media screen and (max-width: $break-lg) {
      margin: 5% auto 10%;
      width: 100%;
      display: block;
      box-sizing: border-box;
    }
    @media screen and (max-width: $break) {
      margin: 0 auto 5%;
      width: 100%;
      display: block;
      box-sizing: border-box;
    }
    @media screen and (max-width: $break-xs) {
      margin: 0 auto 20%;
      width: 100%;
    }
    @media screen and (max-width: 600px) {
      margin: 0 auto 5%;
      width: 100%;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // @media screen and (max-width: 450px) {
      //   -moz-transform: scale(1.0,1.0);
      //   -webkit-transform: scale(1.0,1.0);
      //   -o-transform: scale(1.0,1.0);
      //   -ms-transform: scale(1.0,1.0);
      //   left: -15px;
      // }
      // @media screen and (max-width: 320px) {
      //   -moz-transform: scale(0.8,0.8);
      //   -webkit-transform: scale(0.8,0.8);
      //   -o-transform: scale(0.8,0.8);
      //   -ms-transform: scale(0.8,0.8);
      //   left: -35px;
      // }
    }
  }

}
.training-table {
  border-collapse: collapse;
  border-left: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  color: #666;
  table-layout: fixed;
  /*margin-bottom: 10px;*/
  @media screen and (max-width: 1170px) {
    margin: 0 auto;
    width: 100%;
  }
  @media screen and (max-width: $break-lg) {
    margin: 0 0 5%;
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    width: 100%;
  }
  @media screen and (max-width: $break) {
    margin: 0 0 5%;
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
  }
  &.mb0 {
    margin-bottom: 0;
    @media screen and (max-width: $break-lg) {
      margin: 0 0 5%;
    }
    @media screen and (max-width: $break) {
      margin: 5% 0 5%;
    }
  }
  h3 {
    margin-bottom: 0;
  }
  tr.last {
    th {
      border-bottom: 1px solid #dbdbdb;
    }
    td {
      border-bottom: 1px solid #dbdbdb;
    }
  }
  th, td {
    border-collapse: collapse;
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    padding: 25px;
    vertical-align: middle;
    @media screen and (max-width: $break-lg) {
      border: none;
      border-bottom: 1px solid #dbdbdb;
    }
    @media screen and (max-width: $break) {
      border: none;
      border-bottom: 1px solid #dbdbdb;
    }
    .btn-mini {
      font-size: 11px;
      font-weight: bold;
      height: 25px;
      line-height: 24px;
      padding: 0 10px;
    }
    .btn-blue {
      background-color: #468fff;
      border: 1px solid #468fff;
      color: #fff;
      font-weight: 400;
      text-shadow: none;
      text-align: center;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      text-decoration: none;
      @media screen and (max-width: $break-lg) {
        padding: 3% 0;
        width: 220px;
        line-height: 0;
        font-size: 18px;
      }
      @media screen and (max-width: $break) {
        padding: 4% 0;
        width: 220px;
        line-height: 0;
        font-size: 18px;
      }
      @media screen and (max-width: $break-xs) {
        padding: 6% 0;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  th {
    text-align: center;
  }
  .category-title {
    background-color: #f7f7f7;
    h3 {
      font-size: 24px;
      line-height: 1.2;
      font-weight: normal;
    }
  }
  .course-title {
    word-break: break-all;
    width: 234px;
    @media screen and (max-width: 1170px) {
      width: 20%;
    }
    @media screen and (max-width: $break-lg) {
      width: 100%;
      display: block;
    }
    @media screen and (max-width: $break) {
      width: 100%;
      display: block;
    }
    .break-xs {
      display: none;
      @media screen and (max-width: $break-xs) {
        display: block;
      }
    }
    h4 {
      font-size: 18px;
      line-height: 1.4;
      color: #363636;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 970px) {
        .br-hidden {
          display: none;
        }
      }
      @media screen and (max-width: 350px) {
        .br-hidden-1 {
          display: inline;
        }
      }
      @media screen and (max-width: $break) {
        font-size: 24px;
      }
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &.basic-course h4 {
    margin-bottom: 0;
  }
  .theme {
    width: 590px;
    padding-bottom: 19px;
    @media screen and (max-width: 1170px) {
      width: 50%;
    }
    @media screen and (max-width: $break-lg) {
      width: 100%;
      display: block;
    }
    @media screen and (max-width: $break) {
      width: 100%;
      display: block;
    }
    h5 {
      font-size: 14px;
      line-height: 1.4;
      font-weight: bold;
    }
    p {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 10px;
    }
    .tag-container {
      list-style: none;
      padding-left: 10px;
      li {
        font-size: 10px;
        line-height: 20px;
        height: 20px;
        box-sizing: border-box;
        color: #363636;
        padding: 0px 10px 0px 10px;
        margin: 0 10px 6px 0;
        background-color: #e5e4df;
        border-radius: 0 4px 4px 0;
        display: inline-block;
        position: relative;
        &:before {
          content: " ";
          width: 5px;
          height: 5px;
          border-radius: 2.5px;
          background-color: #fff;
          position: absolute;
          left: 0px;
          top: 7px;
        }
        &:after {
          content: " ";
          height: 0px;
          width: 0px;
          border: 10px solid #f2baba;
          border-color:transparent;
          border-right-color:#e5e4df;
          position: absolute;
          left: -20px;
          top: 0;
        }
      }
    }
  }
  .theme-short {
    width: 530px;
    @media screen and (max-width: 1170px) {
      width: 20%;
    }
    @media screen and (max-width: $break-lg) {
      width: 100%;
    }
    @media screen and (max-width: $break) {
      width: 100%;
    }
  }
  .price {
    width: 180px;
    @media screen and (max-width: 1170px) {
      width: 200px;
    }
    @media screen and (max-width: $break-lg) {
      width: 100%;
      display: block;
    }
    @media screen and (max-width: $break) {
      width: 100%;
      display: block;
    }
    ul {
      list-style: none;
      li {
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 6px;
        span {
          font-size: 15px;
          color: #666;
          font-weight: bold;
        }
        &:last-child {
          margin-bottom: 0;
        }
        .ico-star {
          font-size: 19px;
          color: #e1a20c;
          font-weight: bold;
          letter-spacing: 0.05em;
        }
      }
    }
  }
  .price-long {
    width: 240px;
    @media screen and (max-width: 1170px) {
      width: 20%;
    }
    @media screen and (max-width: $break-lg) {
      width: 100%;
    }
    @media screen and (max-width: $break) {
      width: 100%;
    }
  }
}

.table-cap-palegray {
  font-size: 14px;
  line-height: 1.4;
  padding: 10px 40px 40px;
  background-color: #e5e5e5;
  border: 1px solid #dcdcdc;
  margin-top: 0px;
  @media screen and (max-width: $break-lg) {
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
  }
  @media screen and (max-width: $break) {
    border-bottom: 1px solid #dcdcdc;
  }
  h3 {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
  }
  h4 {
    font-size: 16px;
    border: none;
    margin: 15px 30px 10px;
  }
  p, ul {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  p, li {
    font-size: 14px;
  }
  li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1em;
    margin-bottom: 6px;
    font-weight: 800;
  }
  .btxt {
    font-weight: 800;
  }
  .map {
    margin: 10px 30px 20px;
  }
  iframe {
    border: 1px solid #68217a;
  }
  p:last-child {
    margin-top: 10px;
  }
}

.table-purple {
  th, td {
    /*border: 1px solid #68217a;*/
  }
  .theme {
    width: 580px;
    @media screen and (max-width: 1170px) {
      width: 60%;
    }
    @media screen and (max-width: $break-lg) {
      width: 100%;
    }
    @media screen and (max-width: $break) {
      width: 100%;
    }
  }
  .price {
    width: 220px;
    @media screen and (max-width: $break-lg) {
      width: 100%;
    }
    @media screen and (max-width: $break) {
      width: 100%;
    }
  }
}
.table-cap {
  list-style: none;
  font-size: 14px;
  line-height: 1.4;
  text-indent: -1.3em;
  padding: 20px 20px 15px 38px;
  margin-top: 25px;
  background-color: #666;
  position: relative;
  text-align: left;
  &:after {
    content: " ";
    height: 0px;
    width: 0px;
    border-width: 20px;
    border-style: solid;
    border-color:transparent transparent #666 transparent;
    border-right-color: rgba(102, 102, 102, 0);
    border-left-color: rgba(102, 102, 102, 0);
    border-top-color: rgba(102, 102, 102, 0);
    margin-left: -10px;
    position: absolute;
    left: 50%;
    top: -39px;
  }
  li {
    margin-bottom: 5px;
    color: #d9d9d9;
    span {
      font-weight: bold;
      font-size: 16px;
      color: #fff;
    }
  }
}

.training-table-container {
  width: 1170px;
  margin: 0 auto 60px;
  box-sizing: border-box;
  padding: 0 95px;
  @media screen and (max-width: 1170px) {
    width: 945px;
    box-sizing: border-box;
  }
  @media screen and (max-width: $break-lg) {
    padding: 0 5%;
    width: 100%;
    box-sizing: border-box;
  }
  @media screen and (max-width: $break) {
    padding: 0 5%;
    width: 100%;
    box-sizing: border-box;
  }
  &.divider {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 100px;
    padding-bottom: 100px;
    @media screen and (max-width: $break-lg) {
      padding-bottom: 0;
      margin-bottom: 10%;
      border: none;
    }
    @media screen and (max-width: $break) {
      padding-bottom: 0;
      margin-bottom: 10%;
      border: none;
    }
  }
  p {
    margin: 0;
    max-width: 100%;
  }
  p.last-sec {
    margin-bottom: 30px;
  }
}

.btn-container {
  @extend .training-table-container;
  text-align: center;
  margin-bottom: 150px;
  &.divider {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 100px;
    padding-bottom: 100px;
  }
}
.btn-container.detail {
  margin-bottom: 60px;
}
.btn-h56 {
  @extend %flat-btn;
  color: white;
  font-size: 24px;
  background-color: #468fff;
  border: none;
  height: 56px;
  line-height: 56px;
  &:hover {
    opacity: 0.8;
  }
}
.movie-container {
  @extend .training-table-container;
  text-align: center;

  iframe:nth-child(2) {
    margin-right: 50px;
  }
}
.gray-bg-container {
  @extend .training-table-container;
  margin-bottom: 120px;
  @media screen and (max-width: $break-lg) {
    margin-bottom: 14%;
  }
  @media screen and (max-width: $break) {
    margin-bottom: 14%;
  }

  .gray-bg {
    width: 800px;
    padding: 35px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-radius: 4px;
    text-align: left;
    color: #666;
    @media screen and (max-width: $break-lg) {
      width: 100%;
    }
    @media screen and (max-width: $break) {
      padding: 10px;
      width: 100%;
    }
    @media screen and (max-width: $break-xs) {
      padding: 20px;
      width: 100%;
    }
    li {
      font-size: 16px;
      line-height: 2;
      font-weight: bold;
      list-style: disc;
      margin-left: 1.5em;
    }
  }
  .trainee-voice-title {
    position: relative;
    &:after {
      content: url("/img/service/bg_user_voice_fukidashi.png");
      display: block;
      width: 160px;
      height: 30px;
      position: absolute;
      left: 90px;
      bottom: -27px;
      @media screen and (max-width: $break) {
        left: -1px;
        bottom: -27px;
      }
    }
  }
  .trainee-voice {
    @extend .gray-bg;
    border-radius: 0 4px 4px 4px;
    position: relative;
    @media screen and (max-width: $break) {
      padding: 5% 5% 10%;
      min-width: 100%;
      height: 100%;
      &::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
    div {
      text-align: center;
      line-height: 1.6;
      height: 80px;
      width: 730px;
      font-size: 20px;
      font-weight: normal;
      @media screen and (max-width: $break-lg) {
        margin: 0 auto;
        width: 600px;
      }
      @media screen and (max-width: $break) {
        padding: 0;
        margin: 0;
        width: 96%;
        text-align: left;
        font-size: 18px;
        height: 100%;
      }
      @media screen and (max-width: $break-xs) {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
      }
      .slick-track {
        @media screen and (max-width: $break) {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .slick-slider {
        @media screen and (max-width: $break) {
          height: auto;
          display: inline-block;
          vertical-align: middle;
        }
      }
      span {
        display: inline-block;
        padding: 4px 0 4px 60px;
        margin-left: -30px;
        background: url(/img/service/dubble_quote.png) no-repeat 0 0;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .pc {
          @media screen and (max-width: $break) {
            display: none;
          }
        }
        @media screen and (max-width: $break-lg) {
          background-size: 30px;
        }
        @media screen and (max-width: $break) {
          top: 0;
          padding: 0 0 0 10%;
          margin: 0 auto;
          background-size: 20px;
          box-sizing: border-box;
          line-height: 1.4;
          width: 100%;
          min-width: 100%;
          height: 100%;
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}
.academic-container {
  @extend .training-table-container;
  text-align: center;
  margin-bottom: 120px;
  img {
    margin-bottom: 26px;
  }
  p {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: $break) {
      width: 100%;
    }
  }
}

.corporate-container {
  @extend .training-table-container;
  .corporate-wrapper {
    margin-bottom: 60px;
  }
  p {
    margin: 0 auto;
    width: 700px;
    @media screen and (max-width: $break) {
      width: 100%;
    }
  }
  .training-results {
    width: 700px;
    margin: 0 auto;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 50px 0 25px;
    box-sizing: border-box;
    text-align: center;
    @media screen and (max-width: $break) {
      padding: 30px 0 25px;
      width: 100%;
    }
    li {
      display: inline-block;
      margin: 0 30px 25px 0;
      @media screen and (max-width: $break) {
        margin: 0 2% 0 0;
        width: 20%;
        box-sizing: border-box;
      }
      &:nth-of-type(2) {
        width: 45%;
      }
      &:last-child {
        width: 15%;
        margin-right: 0;
      }
      img {
        width: 100%;
        float: none;
        vertical-align: middle;
      }
    }
  }
}
}
}

html[lang="en"] {
  body.service {
    #support-index .container section.box-02 {
      div.support-index-box-description {
        margin-bottom: 70px;
      }
      div.support-index-box-footer {
        a {
          width: 40%;
          margin-bottom: 0;
          display: inline-block;
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
