body.showcase-index {
    min-width: 1200px;
    @media screen and (max-width: $break-xs) {
        min-width: 0;
    }
    header.navbar {
        min-width: 1200px;
        @media screen and (max-width: $break-xs) {
            min-width: 0;
        }
    }
    article.main {
        margin: 0 auto;
        padding-top: 140px;
        width: 1080px;
        @media screen and (max-width: $break-xs) {
            padding-left: 5%;
            padding-right: 5%;
            width: auto;
        }
        > h1 {
            font-size: 50px;
            font-weight: 400;
            margin-bottom: 40px;
            text-align: center;
            @media screen and (max-width: $break-xs) {
                font-size: 48px;
            }
        }
    }
    .carousel-indicators {
        margin: 40px 0 80px;
        position: static;
        bottom: auto;
        left: auto;
        width: auto;
        li {
            background-color: #808080;
            margin: 0 7px;
            &.active {
                background-color: #468fff;
                width: 14px;
                height: 14px;
                vertical-align: -2px;
            }
        }
    }
    .cases-category {
        border-bottom: 1px solid #d4d4d4;
        margin-bottom: 50px;
        text-align: center;
        @media screen and (max-width: $break-xs) {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
        li {
            border-bottom: 2px solid transparent;
            color: #666;
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            padding: 30px 22px;
            transition: color 160ms;
            @media screen and (max-width: $break-xs) {
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
            }
            &:hover {
                color: #888;
            }
            &.active {
                border-bottom-color: #08c;
                color: #08c;
                font-weight: 700;
            }
        }
    }
    .cases {
        min-height: 200px;
        &:after { content: ""; clear: both; display: block; }
        li {
            float: left;
            margin-bottom: 90px;
            text-align: left;
            width: percentage(320px/1080px);
            @media screen and (min-width: $break-xs + 1px) {
                margin-right: percentage(60px/1080px);
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
            @media screen and (max-width: $break-xs) {
                margin-right: percentage(40px/600px);
                width: percentage(280px/600px);
                &:nth-of-type(even) {
                    margin-right: 0;
                }
            }
            .thumb {
                background-color: #fafafa;
                border: 1px solid #d4d4d4;
                display: block;
                margin-bottom: 18px;
                &:hover {
                    opacity: 0.8;
                }
            }
            p {
                color: #333;
                font-size: 14px;
                @media screen and (max-width: $break-xs) {
                    font-size: 16px;
                }
            }
            .title {
                color: #08c;
                font-size: 20px;
                line-height: 1.2;
                margin-bottom: 2px;
                @media screen and (max-width: $break-xs) {
                    font-size: 24px;
                }
                a {
                    color: #08c;
                    &:hover {
                        color: #19d;
                        text-decoration: none;
                    }
                }
            }
            .category {
                color: #999;
                font-size: 18px;
                margin-bottom: 6px;
            }
        }
    }
    article.main > .contact {
        border-top: 1px solid #ccc;
        padding: 80px 0;
        text-align: center;
        p {
            color: #666;
            font-size: 30px;
            margin-bottom: 40px;
            @media screen and (max-width: $break-xs) {
                font-size: 20px;
            }
        }
        a {
            margin: 0 20px;
        }
        .btn-big {
            font-size: 24px;
            height: 60px;
            line-height: 61px;
            padding: 0 45px;
        }
    }
}


body.showcase {
    min-width: 1170px;
    -webkit-text-size-adjust: 100%;
    header.navbar {
        min-width: 1170px;
    }
    article.main {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin: 0 auto;
        padding: 110px 0px 0;
        text-align: left;
        width: 1080px;
        header {
            background: none no-repeat left top;
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 20px;
            padding: 10px 0 0 112px;
            min-height: 100px;
            max-height: 100%;
            em {
                color: #57a100;
                display: block;
                font-size: 32px;
                font-weight: 400;
                max-height: 100%;
            }
        }
        section {
            border-bottom: none;
            text-align: left;
            width: 1080px;
        }
        h1 {
            margin-bottom: 34px;
            text-align: left;
            max-height: 100%;
        }
        > h1 {
            font-size: 54px;
            line-height: 1.3;
            margin-bottom: 40px;
        }
        h2 {
            max-height: 100%;
        }
        p {
            color: #666;
            max-height: 100%;
            /* width: auto; */
            max-width: initial;
            max-width: auto;
        }
        em {
            color: #333;
            font-style: normal;
            font-weight: 700;
        }
        a {
            outline: none;
        }
        figure {
            figcaption {
                color: #666;
                font-size: 14px;
                margin-top: 8px;
            }
        }
        .info {
            $border-color: #d4d4d4;
            border: 1px solid $border-color;
            margin: 0 auto;
            padding: 0;
            max-height: 1080px;
            dl {
                margin-bottom: 4px;
                dt {
                    display: inline-block;
                    font-weight: 700;
                    width: 110px;
                }
                dd {
                    display: inline-block;
                }
            }
            h2 {
                font-size: 14px;
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 0;
            }
            .keyvisual {
                vertical-align: bottom;
                width: 1078px;
                height: 448px;
            }
            .info-header {
                width: 1078px;
                height: 448px;
                position: relative;
                h1 {
                    background-color: rgba(0, 0, 0, 0.7);
                    width: 100%;
                    margin: 0;
                    padding: 20px 30px;
                    color: #ccc;
                    line-height: 1.3;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
            .info-cont {
                border-top: 1px solid $border-color;
                padding: 30px 30px 25px;
                h1 {
                    margin-bottom: 5px;
                }
            }
            .note {
                font-size: 12px;
                margin-top: 10px;
                width: auto;
            }
            .developer {
                h2 {
                    color: #57a100;
                    margin-bottom: 15px;
                }
                .logo {
                    display: block;
                    margin-bottom: 10px;
                }
                .url {
                    margin-left: 30px;
                }
            }
        }
        .backstory {
            padding: 90px 0 40px;
            &:after {
                content: "";
                clear: both;
                display: block;
            }
            p {
                line-height: 1.85;
                margin-bottom: 7px;
            }
            .alignleft, .alignright {
                width: percentage(400px/1080px);
            }

        }
        .effect {
            background: url(/img/hitachitool/bg_effect.jpg) no-repeat center top;
            color: white;
            padding: 40px;
            h1 {
                margin-bottom: 30px;
            }
            ul {
                padding-left: 4px;
                li {
                    font-size: 20px;
                    margin-bottom: 10px;
                    max-height: 100%;
                    &:before {
                        content: "ãƒ»";
                        padding-left: -1em;
                        text-indent: -1em;
                    }
                }
            }
        }
        .interview {
            padding: 90px 0 40px;
            h2 {
                color: #57a100;
                font-size: 20px;
                margin-bottom: 8px;
                text-indent: -1.7em;
                margin-left: 1.7em;
            }
            p {
                line-height: 1.85;
                margin-bottom: 30px;
                margin-left: 34px;
            }
            figure {
                width: percentage(365px/1080px);
            }
        }
        > .download, > .contact {
            border-top: 1px solid #ccc;
            padding: 80px 0;
            text-align: center;
            p {
                font-size: 24px;
                margin-bottom: 40px;
            }
            a {
                margin: 0 15px;
            }
            .btn-big {
                font-size: 24px;
                height: 60px;
                line-height: 61px;
                padding: 0 45px;
            }
        }
        .alignleft {
            float: left;
            margin-right: 40px;
        }
        .alignright {
            float: right;
            margin-left: 40px;
        }
        .nowrap {
            overflow: hidden;
        }
    }
    .container {
        min-width: 1080px;
    }
    .ls-500 {
        letter-spacing: -0.5em;
    }
    .ls-400 {
        letter-spacing: -0.4em;
    }
    .ls-300 {
        letter-spacing: -0.3em;
    }
    .ls-200 {
        letter-spacing: -0.2em;
    }
    .ls-150 {
        letter-spacing: -0.15em;
    }
    .ls-100 {
        letter-spacing: -0.1em;
    }
    .ls400 {
        letter-spacing: 0.4em;
    }
    .ls300 {
        letter-spacing: 0.3em;
    }
    .ls200 {
        letter-spacing: 0.2em;
    }
    .ls150 {
        letter-spacing: 0.15em;
    }
    .ls100 {
        letter-spacing: 0.1em;
    }
    .ls50 {
        letter-spacing: 0.05em;
    }
    .glyphicon-new-window {
        font-size: 0.84rem;
    }
}
body.showcase.hitachitool {
    article.main header {
        background-image: url(/img/hitachitool/icn_hitachi_ja.png);
    }
}
body.showcase.jnb {
    article.main header {
        background-image: url(/img/jnb/icn_jnb_ja.png);

    }
    article.main .info .info-header h1 {
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(40%,rgba(0,0,0,0.7)), color-stop(70%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

    }
    article.main .app-info {
        padding: 90px 0 40px;
        background: url(/img/jnb/img_1.jpg) no-repeat right bottom;
        min-height: 611px;
        div p {
            margin: 0 0 15px;
            &:nth-of-type(2) {
                margin-bottom: 0;
            }   
        }
    }
    article.main .effect {
        background: url(/img/jnb/bg_effect.jpg) no-repeat center top;
    }
    article.main figure figcaption {
        margin-bottom: 40px;
    }
    article.main .interview {
        .alignleft, .alignright {
            width: 285px;
        }
    }
}
body.showcase.proto {
    article.main header {
        background-image: url(/img/proto/icn_proto_ja.png);
        em {
            margin-left: 2px;
        }

    }
    article.main .info .info-header h1 {
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(40%,rgba(0,0,0,0.7)), color-stop(70%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

    }
    article.main .info .info-cont h1 {
        margin-bottom:  15px;
    }
    article.main .backstory {
        background: url(/img/proto/img_1.jpg) no-repeat right bottom;
        .nowrap p:nth-child(2) {
            margin-bottom: 50px;
            max-width: 360px;
            margin-left: 0;
        }
        .nowrap p:nth-child(4) {
            max-width: 600px;
            margin-left: 0;
        }
        .nowrap p:nth-child(5) {
            margin-bottom: 80px;
            max-width: 600px;
            margin-left: 0;
        }
        .alignright {
            width: 699px;
        }
    }
    article.main .effect {
        background: url(/img/proto/bg_effect.jpg) no-repeat center top;
    }
    article.main figure figcaption {
        margin-bottom: 40px;
    }
    article.main .interview {
        .alignleft, .alignright {
            width: 285px;
        }
    }
}
body.showcase.tvasahi {
    article.main header {
        background-image: url(/img/tvasahi/icn_tvasahi_ja.png);

    }
    article.main .info .info-header h1 {
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0.4) 70%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(40%,rgba(0,0,0,0.7)), color-stop(70%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

    }
    article.main .app-info {
        padding: 90px 0 40px;
        background: url(/img/tvasahi/img_1.jpg) no-repeat right bottom;
        min-height: 611px;
        div p {
            margin: 0 650px 15px 0;
            &:nth-of-type(2) {
                margin-bottom: 0;
            }   
        }
    }
    article.main .backstory {
        img {
            margin-top: 0;
        }
    }
    article.main .effect {
        background: url(/img/tvasahi/bg_effect.jpg) no-repeat center top;
    }
    article.main figure figcaption {
        margin-bottom: 40px;
    }
    article.main .interview {
        .alignleft, .alignright {
            width: 285px;
        }
        p:nth-of-type(1) {
            margin-left: 230px;
        }
        h2:nth-of-type(2) {
            clear: both;
        }
        .qa {
            img {
                float: left;
                margin: 8px 0 40px 34px;
            }
        }
    }
}
body.showcase.tokyocalendar {
    article.main header {
        background-image: url(/img/tokyocalendar/icn_tokyo_calendar_ja.png);

    }
    article.main .info .info-header h1 {
        font-size: 38px;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0.4) 70%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(40%,rgba(0,0,0,0.7)), color-stop(70%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 40%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    }
    article.main .app-info {
        padding: 90px 0 40px;
        background: url(/img/tokyocalendar/img_1.jpg) no-repeat right bottom;
        min-height: 611px;
        div p {
            margin: 0 650px 15px 0;
            &:nth-of-type(2) {
                margin-bottom: 0;
            }   
        }
    }
    article.main .backstory {
        img {
            margin-top: 0;
        }
    }
    article.main .effect {
        background: url(/img/tokyocalendar/bg_effect.jpg) no-repeat center top;
    }
    article.main .interview {
        .alignleft, .alignright {
            width: 285px;
        }
    }
}

