body.solution-partner {
  .cf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .cf {
    display: inline-block;
    min-height: 1%;
  }

  /* Hides from IE-mac \*/
  * html .clearfix {
    height: 1%;
  }

  .cf {
    display: block;
  }
    color: #666666;
    section {
      width: 100%;
      border: none;
    }
    header {
      border-bottom: 1px solid #080808;
      position: relative;
      z-index: 100;
      .navbar {
        margin: 0;
      }
    }
    header > .container {
      border-bottom: medium none;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 0;
      width: 1170px;
      z-index: 101;
      @media screen and (max-width: $break-xl) {
        width: 90%;
      }
      @media screen and (max-width: $break-lg) {
        width: 90%;
      }
      @media screen and (max-width: $break) {
        width: 100%;
      }
    }
    .partner {
      p {
        font-size: 14px;
        line-height: 22px;
        color: #333;
        margin-bottom: 10px;
      }
    }
    .outline-list {
        color: #666;
        font-size: 14px;
        line-height: 22px;
        margin: 0px auto 25px auto;
        text-align: left;
        padding: 0;
        width: 790px;
        border: none;
        @media screen and (min-width: 800px) and (max-width: $break-xl) {
          width: 790px;
        }
        @media screen and (min-width: 700px) {
          width: 90%;
        }
        @media screen and (max-width: $break) {
          width: 100%;
        }
        p {
          max-width: 790px;
          color: #666;
          font-size: 16px;
          @media screen and (max-width: $break) {
            max-width: 100%;
            padding: 0;
          }
        }
        a {
          color: $_link-color;
          text-decoration: underline;
        }
        a:hover {
          text-decoration: none;
        }
        div{
          color: #666;
        }
    }
    .list-container {
        color: #666;
        font-size: 14px;
        line-height: 22px;
        margin: 0px auto 25px auto;
        text-align: left;
        padding: 0;
        width: 790px;
        border: none;
        margin-bottom: 50px;
        @media screen and (max-width: 850px) {
          width: 90%;
        }
        @media screen and (max-width: $break) {
          width: 100%;
        }
        .link-list {
            margin: 0 0 30px 40px;
            @media screen and (max-width: $break) {
              margin: 0 0 8% 0;
            }
            li {
                display: inline-block;
                min-width: 280px;
                margin-right: 0.5em;
                font-size: 16px;
                line-height: 2.5;
                color: #2472b3;
                @media screen and (max-width: $break) {
                  margin: 0 0 6%;
                  min-width: 100%;
                  line-height: 1.5;
                }
            }
            a {
                color: #2472b3;
                text-decoration: none;
                padding: 6px 18px;
                border-radius: 20px;
                @media screen and (max-width: $break) {
                  padding: 6px 10px;
                }

                &:hover {
                    color: #fff;
                    background-color: #2472b3;
                    transition: .4s ease-in-out;
                      -webkit-transition: .4s ease-in-out;
                      -moz-transition: .4s ease-in-out;
                      -ms-transition: .4s ease-in-out;
                    i {
                        color: #fff;
                    }

                }
            }
            i {
                color: #2472b3;
            }
        }
        .logo-list {
            border-top: 1px solid #ececec;
            border-bottom: 1px solid #ececec;
            padding: 34px 0 34px 30px;
            overflow: hidden;
            @media screen and (max-width: $break) {
              padding: 30px 0 30px 20px;
            }

            div {
                 height: 90px;
                 @media screen and (max-width: 850px) {
                   img {
                     width: 85%;
                   }
                 }
                 @media screen and (max-width: $break) {
                  height: auto;
                  max-height: 90px;
                  width: 100%;
                  img {
                    width: 90%;
                  }
                 }
            }
        }
    }
    .partner-item {
        margin: 0px auto;
        text-align: left;
        padding: 30px;
        width: 790px;
        border: solid 1px #e5e5e5;
        border-radius: 4px;
        @media screen and (max-width: 850px) {
          width: 90%;
          padding: 5%;
        }
        @media screen and (max-width: $break) {
          padding: 5%;
          width: 100%;
        }
        a {
          text-decoration: underline;
          color: $_link-color;
        }
        a:hover {
          text-decoration: none;
        }
    }
    .partner-head {
        width: 730px;
        margin: 0px;
        padding: 0px 0px 14px 0px;
        border-bottom: solid 1px #e5e5e5;
        @media screen and (max-width: 850px) {
          width: 100%;
        }
        @media screen and (max-width: $break) {
          width: 100%;
          box-sizing: border-box;
        }
        &:after{
          content: "";
          clear: both;
          display: block;
        }
    }
    .partner-logo {
        float: left;
        margin: 0px 0px 0px 0px;
        @media screen and (max-width: $break) {
          img {
            width: auto;
            height: 70px;
            vertical-align: middle;
            display: table-cell;
          }
        }
    }
    .partner-info {
        width: 590px;
        margin: 0px 20px 0px 90px;
        @media screen and (max-width: 850px) {
          width: auto;
        }
        @media screen and (max-width: $break) {
          padding: 0;
          margin: 0;
          width: 100%;
          box-sizing: border-box;
        }
    }
    .partner-name {
        width: 590px;
        color: #363636;
        font-size: 24px;
        line-height: 120%;
        text-align: left;
        margin-bottom: 6px;
        @media screen and (min-width: $break + 1px) and (max-width: 850px) {
          width: auto;
        }
        @media screen and (max-width: $break) {
          padding: 0 0 0 5%;
          margin: 0 0 7%;
          height: 70px;
          display:table-cell;
          vertical-align: middle;
          font-size: 20px;
          box-sizing: border-box;
        }
        @media screen and (min-width: 320px) and (max-width: 374px) {
          font-size: 18px;
        }
    }
    .partner-location {
        color: #666;
        font-size: 12px;
        line-height: 18px;
        text-align: left;
        width: 610px;
        @media screen and (max-width: 850px) {
          width: auto;
        }
        @media screen and (max-width: $break) {
          margin: 3% 0 0;
          width: 100%;
          box-sizing: border-box;
        }
    }


    .partner-content {
        width: 730px;
        margin: 0px;
        padding: 0px;
        @media screen and (max-width: 850px) {
          width: 100%;
        }
        @media screen and (max-width: $break) {
          width: 100%;
          box-sizing: border-box;
        }
        &:after{
          content: "";
          clear: both;
          display: block;
        }
    }
    .partner-content-left {
        float: left;
        width: 430px;
        margin: 0px 40px 0px 0px;
        padding: 0px;
        @media screen and (max-width: 850px) {
          width: calc(100% - 300px);
        }
        @media screen and (max-width: $break) {
          float: none;
          width: 100%;
          box-sizing: border-box;
        }
    }
    .partner-abstract {
    color: #666;
        font-size: 13px;
        line-height: 160%;
        width: 430px;
        margin: 21px 0px 36px 0px;
        padding: 0px;
        @media screen and (max-width: 850px) {
          width: 100%;
        }
        @media screen and (max-width: $break) {
          width: 100%;
          box-sizing: border-box;
        }
    }
    .partner-field {
        color: #666;
        font-size: 13px;
        line-height: 160%;
        width: 430px;
        padding: 0px;
        @media screen and (max-width: 850px) {
          width: 100%;
        }
        @media screen and (max-width: $break) {
          margin: 0 0 10%;
          width: 100%;
          box-sizing: border-box;
        }
        .bold-headline {
          float: none;
          @media screen and (max-width: $break) {
            width: 100%;
            box-sizing: border-box;
            float: none;
          }
        }
    }
    .partner-content-right {
        float: right;
        width: 260px;
        margin: 0px;
        padding: 0px;
        @media screen and (max-width: $break) {
          float: none;
          width: 100%;
          box-sizing: border-box;
          border-top: 1px solid #e5e5e5;
        }
    }

    .partner-works {
        width: 260px;
        margin: 0px;
        padding: 0px;
        @media screen and (max-width: $break) {
          padding: 5% 0 0;
          width: 100%;
        }
    }
    .partner-work-item {
        width: 260px;
        margin: 0px;
        padding: 17px 0px 20px 0px;
        border-top: solid 1px #e5e5e5;
        @media screen and (max-width: $break) {
          padding: 4% 0 0;
          margin: 0 0 5%;
          width: 100%;
          position: relative;
          box-sizing: border-box;
        }
        .preparation {
            position: relative;
            display: inline-block;
            padding: 90px 0;
            text-align: center;
            background-color: #F2F2F2;
            border-radius: 0px;
            width: 100%;
            box-sizing: border-box;
            color: #c3c3c3;
            @media screen and (max-width: $break) {
              padding: 5% 0;
            }
          &:after,
          &:before {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
          }
          &:after {
            top: -20px;
            left: 5px;
            border: 10px solid transparent;
            border-bottom: 15px solid #F2F2F2; /*13px*/
          }
          &:before {
            top: -20px;
            left: 5px;
            border: 10px solid transparent;
            border-bottom: 10px solid #ffffff; /*10px*/
            }
          }
        &:after{
          content: "";
          clear: both;
          display: block;
        }
        .bold-headline-title {
          @media screen and (max-width: $break) {
            padding: 0 0 0 70px;
            height: 60px;
            box-sizing: border-box;
            display: table-cell;
            vertical-align: middle;

          }
        }
    }
    .work-item-prof {
        color: #666;
        font-size: 13px;
        line-height: 140%;
        margin: 7px 0px 0px 0px;
        padding: 0px;
        &:after{
          content: "";
          clear: both;
          display: block;
        }
    }
    .work-item-ico {
        float: left;
        width: 60px;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        @media screen and (max-width: $break) {
          height: 60px;
          position: absolute;
          top: 16px;
        }
        @media screen and (min-width: 320px) and (max-width: 374px) {
          top: 10px;
        }
        @media screen and (min-width: 375px) and (max-width: 413px) {
          top: 12px;
        }
        @media screen and (min-width: 414px) and (max-width: 500px) {
          top: 13px;
        }
    }
    .work-item-info {
        margin: 0px 0px 0px 68px;
        padding: 0px;
        @media screen and (max-width: $break) {
          margin: 0;
        }
        a {
          line-height: 160%;
          @media screen and (max-width: $break) {
            line-height: 2.5;
          }
       }
    }
    .partner-contact {
        float:left;
        background-color: #f2f2f2;
        font-size: 12px;
        line-height: 140%;
        width: 260px;
        margin: 30px 0px 0px 0px;
        padding: 0px;
        border-radius: 2px;
        @media screen and (max-width: $break) {
          width: 100%;
        }
    }
    .partner-contact-list {
        margin: 11px 15px 11px 15px;
        padding: 0px;
        &:after{
          content: "";
          clear: both;
          display: block;
        }
    }
    .partner-contact-item {
        width: 230px;
        margin: 0px;
        padding: 0px;
        &:after{
          content: "";
          clear: both;
          display: block;
        }
    }
    .partner-contact-content {
        text-align: left;
        word-wrap: break-word;
        word-break: break-word;
        width: 171px;
        margin: 0px 15px 0px 44px;
        padding: 0px;
        @media screen and (max-width: $break) {
          width: 100%;
        }
    }
    p.btn-btt {
        width: 790px;
        max-width: 790px;
        margin: 7px auto 50px;
        text-align: right;
        font-size: 12px;
        line-height: 14px;
        height: 14px;
        @media screen and (max-width: 850px) {
          width: 90%;
        }
        @media screen and (max-width: $break) {
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
        }
        a {
            text-decoration: none;
            color: #2472b3;

            &:hover {
                opacity: 0.85;
            }
        }
        img {
            vertical-align: middle;
            margin-bottom: 1px;
        }
    }


    .menuimg {
        margin: -7px 0px 0px 0px;
    }
    .bold-headline {
        margin-right:12px;
        color: #2472b3;
        font-weight: bold;
        float: left;
        @media screen and (max-width: $break) {
          margin: 0;
          width: 18%;
        }
    }
    .detail-text {
      @media screen and (max-width: $break) {
        float: left;
        width: 82%;
      }
    }
    .two-line {
      float: left;
      width: 90%;
      @media screen and (max-width: $break) {
        width: 80%;
      }
    }

    .bold-headline-title {
        color: #2472b3;
        font-weight: bold;
        font-size: 14px;
        line-height: 17.8px;

    }
    i{
        color: #2472b3;
        font-size: 13px;
    }


    .btn-white {
      background: linear-gradient(to bottom, #ffffff, #eeeeee);
      &:hover{
        opacity: 1.0;
      }
      &:active{
        opacity: 1.0;
        background: linear-gradient(to top, #ffffff, #eeeeee);
      }
    }

.partner-list {
    .container {
      h1 {
        font-size: 40px;
        line-height: 1.2;
      }
      width: auto;
      line-height: 1.8;
      .sp-br {
        display: none;
      }
      @media screen and (max-width: $break) {
        .sp-br {
          display: block;
        }
        padding-right: 5%;
        padding-left: 5%;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }

  h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,div,section,article {
    margin: 0;
    padding: 0;
  }

  ul,ol,li,dl,dt,dd {
    list-style-type: none;
  }

  h1 {
    color: #2472b3;
    font-size: 36px;
    line-height: 36px;
    margin: 50px auto;
    text-align: left;
    padding: 0;
    width: 790px;
    border: none;
    @media screen and (max-width: $break-lg) {
        margin: 13px auto 40px;
        width: 90%;
      }
    @media screen and (max-width: $break) {
        margin: 13px auto 40px;
        width: 90%;
        line-height: 1.1;
      }
    .break {
      display: none;
      @media screen and (max-width: $break) {
        display: block;
      }
    }
    @media screen and (max-width: $break) {
      margin: 7% auto;
      width: 100%;
      font-size: 30px;
      line-height: 1.3;
    }
  }
  h1.ti-partner {
    @media screen and (max-width: $break) {
        margin: 13px auto 40px;
        width: 90%;
        line-height: 1.1;
      }
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #333;
    margin-bottom: 50px;
  }
  .faq h2 {
    font-size: 26px;
    font-weight: normal;
    line-height: 26px;
    text-align: left;
    color: #2472b3;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
  }
  h3 {
    font-size: 22px;
    line-height: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  .title-small {
    font-size: 20px;
    letter-spacing: -0.05em;
  }

  .outline {
    background-color: #f9f9f9;
    padding: 10px 0 30px;
    margin-bottom: 100px;

      .contents {
        width: 790px;
        margin: 0 auto;
        @media screen and (max-width: $break-lg) {
          width: 90%;
          box-sizing: border-box;
        }
        @media screen and (max-width: $break) {
          width: 100%;
          box-sizing: border-box;
        }
        .btn-area {
          .btn-blue {
            margin: 0 10px;
            font-size: 17px;
            width: 250px;
            box-sizing: border-box;
            line-height: 1.5;
            @media screen and (max-width: $break-lg) {
              padding: 4% 0;
              font-size: 26px;
              width: 290px;
              line-height: 0 !important;
              &:nth-of-type(1) {
                margin: 0 10px 0;
              }
            }
            @media screen and (max-width: $break) {
              padding: 4% 0;
              margin: 0 auto;
              width: 280px;
              font-size: 24px;
              line-height: 0;
              box-sizing: border-box;
              &:nth-of-type(1) {
                margin: 0 15px 0;
              }
            }
            @media screen and (max-width: $break-xs) {
              padding: 7% 0;
              font-size: 24px;
              width: 80%;
              line-height: 0;
              &:nth-of-type(1) {
                margin: 0 auto 2%;
              }
              &:nth-of-type(2) {
                margin: 0 auto 3%;
              }
            }
          }
        }
      }
      .logo-partner {
        margin: 50px 0 30px 0;
        float: left;
        @media screen and (max-width: $break) {
          margin: 50px 0 10px 4.5%;
          float: none;
        }
      }
      .outline-text {
        margin: 0 0 30px 0;
          p {
            margin: 0 0 10px 0;
            float: right;
            width: 480px;
            @media screen and (max-width: $break-lg) {
              width: 55%;
              &:nth-of-type(2) {
                margin: 0 0 7% 0;
              }
            }
            @media screen and (max-width: $break) {
              margin: 0 auto;
              float: none;
              width: 90%;
              box-sizing: box-sizing;
              &:nth-of-type(2) {
                margin: 0 auto;
              }
            }
          }
      }
  }
  .merit {
    width: 790px;
    margin: 0 auto;
    @media screen and (max-width: $break-lg) {
      padding: 0 5%;
      width: 100%;
      box-sizing: border-box;
    }
    @media screen and (max-width: $break) {
      padding: 0 5%;
      width: 100%;
      box-sizing: border-box;
    }
  }
  .merit-item {
    position: relative;
    background: url(/img/partner/line_dotted_vertical.png) repeat-y center top;
    @media screen and (max-width: $break) {
      background: none;
    }
    @media screen and (max-width: $break-lg) {
      background: url(/img/partner/line_dotted_vertical.png) repeat-y center top;
    }
    @media screen and (max-width: $break-xs) {
      background: none;
    }
    &:before {
      content: " ";
      width: 790px;
      height: 1px;
      position: absolute;
      left: 0;
      top: -1px;
      background: url(/img/partner/line_dotted_horizon.png) no-repeat 0 0;
      @media screen and (max-width: $break-lg) {
        width: 100%;
      }
      @media screen and (max-width: $break) {
        width: 100%;
        box-sizing: border-box;
      }
    }
    li {
      box-sizing: border-box;
      width: 395px;
      padding: 50px 0 30px;
      text-align: center;
      background-position: 0 0;
      float: left;
      @media screen and (max-width: $break) {
        width: 100%;
        box-sizing: border-box;
      }
      @media screen and (max-width: $break-lg) {
        padding: 5% 7%;
        width: 50%;
        box-sizing: border-box;
      }
      @media screen and (max-width: $break-xs) {
        width: 100%;
      }
    }
    p {
      text-align: left;
      width: 315px;
      margin: 0 auto 10px;
      @media screen and (max-width: $break-lg) {
        width: 100%;
      }
      @media screen and (max-width: $break) {
        width: 100%;
      }
    }
    &.free-item {
      background: url(/img/partner/line_dotted_bg.png) no-repeat right 0;
      @media screen and (max-width: $break) {
        background: none;
      }
      @media screen and (max-width: $break-lg) {
        background: url(/img/partner/line_dotted_vertical_bottom.png) repeat-y center top;
      }
      @media screen and (max-width: $break-xs) {
        background: none;
      }
    }
  }
  .notes {
    margin: 30px 0 70px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-align: left;
    font-size: 16px;
    a {
      text-decoration: underline;
      color: $_link-color;
    }
    a:hover {
        text-decoration: none;
      }
  }
  .faq {
    width: 790px;
    margin: 0 auto 100px;
    text-align: left;
    @media screen and (max-width: $break-lg) {
      padding: 0 5%;
      width: 100%;
      box-sizing: border-box;
    }
    @media screen and (max-width: $break) {
        padding: 0 5%;
        width: 100%;
        box-sizing: border-box;
      }
    dt {
      font-size: 16px;
      line-height: 22px;
      font-weight: bold;
      color: #333;
      margin-bottom: 5px;
      padding-left: 1.6em;
      text-indent:-1.6em;
      &:before {
        content: "Q:";
        color: #2472b3;
        font-size: 20px;
        margin-right: 0.2em;
      }
    }
    dd {
      padding-left: 1.6em;
      font-size: 16px;
      line-height: 22px;
      color: #666;
      margin-bottom: 30px;
    }
  }

  .partner-list {
    .inquiry {
      @media screen and (max-width: $break) {
        margin: 0 auto;
      }
    }
  }
  .inquiry {
    background-color: #f9f9f9;
    padding: 30px;
    .btn-blue {
      margin: 0 10px;
      padding: 0 4px;
      font-size: 17px;
      width: 250px;
      line-height: 3;
      @media screen and (max-width: $break-lg) {
        padding: 4% 0;
        width: 290px;
        font-size: 26px;
        line-height: 0 !important;
        &:nth-of-type(1) {
          margin: 0 15px 0;
        }
      }
      @media screen and (max-width: $break) {
        padding: 4% 0;
        margin: 0 auto;
        width: 280px;
        font-size: 24px;
        line-height: 0!important;
        box-sizing: border-box;
      }
      @media screen and (max-width: $break-xs) {
        padding: 5% 0;
        margin: 0 auto;
        width: 95%;
        line-height: 0;
        font-size: 20px;
        &:nth-of-type(1) {
          margin: 0 auto 2%;
        }
      }
      @media screen and (max-width: 450px) {
        padding: 7% 0;
      }
  }
}
  .btn-area {
    text-align: center;
    clear: both;
  }
  .btn-big {
    height: auto;
    min-height: 54px;
    min-width: 210px;
    font-weight: normal;
    font-size: 22px;
    height: 43px;
    line-height: 1.2;
    margin: 0 7px;
    padding: 12px 36px;
    vertical-align: text-bottom;
    display: inline-block;
    @media screen and (max-width: $break) {
      padding: 0 0;
      margin: 0;
      height: auto;
      min-height: 48px;
      width: 100%;
      font-size: 16px;
      line-height: 3;
      &:first-child {
        margin: 0 0 5%;
      }
    }
  }
}
.partner-ribbon1 {
  background: url(/img/partner/ribbon01.png) no-repeat;
  @media screen and (max-width: $break) {
    background-size: 30px;
  }
}
.partner-ribbon2 {
  background: url(/img/partner/ribbon02.png) no-repeat;
  @media screen and (max-width: $break) {
    background-size: 30px;
  }
}
.partner-ribbon3 {
  background: url(/img/partner/ribbon03.png) no-repeat;
  @media screen and (max-width: $break) {
    background-size: 30px;
  }
}
.partner-ribbon4 {
  background: url(/img/partner/ribbon04.png) no-repeat;
  @media screen and (max-width: $break) {
    background-size: 30px;
  }
}
.partner-ribbon5 {
  background: url(/img/partner/ribbon05.png) no-repeat;
  @media screen and (max-width: $break) {
    background-size: 30px;
  }
}
.partner-ribbon6 {
  h3 {
    font-weight: bold;
  }
}
.partner-ribbon2,
.partner-ribbon4 {
  @media screen and (max-width: $break) {
    border-top: dotted 1px #ccc;
  }
  @media screen and (max-width: $break-lg) {
    border-top: none;
  }
  @media screen and (max-width: $break-xs) {
    border-top: dotted 1px #ccc;
  }
}
.partner-ribbon6 {
  @media screen and (max-width: $break) {
    border-top: dotted 1px #ccc;
    border-bottom: dotted 1px #ccc;
    background: #f9f9f9;
  }
  @media screen and (max-width: $break-lg) {
    border-top: none;
    border-bottom: none;
    background: #fff;
  }
  @media screen and (max-width: $break-xs) {
    border-top: dotted 1px #ccc;
    border-bottom: dotted 1px #ccc;
  }
}
