$break-xs: 640px;
/* Subpage */
.subpage {
  p {
        max-width: 980px;
  }
  .container {
    font-size: 16px;
    width: 980px;
    padding: 0;
    margin-bottom: 46px;
    @media screen and (max-width: $break) {
    font-size: 1rem;
    width: 100%;
    p {
      padding-left: 10%;
      padding-right: 10%;
    }
    }
    h1 {
      color: #2472b3;
      font-size: 36px;
      line-height: 36px;
      margin: 80px 0 50px;
      text-align: center;
      padding: 0;
      border: none;
      span {
        font-size: 18px;
      }
      @media screen and (max-width: $break) {
        font-size: 24px;
      }
    }
    h2 {
      font-size: 14px;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 12px;
      margin-bottom: 7px;
    }
    p {
      margin: 0 auto 10px auto;
      line-height: 26px;
    }
    a.info {
      color: #666;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .headline-nav {
      margin-bottom: 40px;
      text-align: center;
      span,a {
        margin: 0 12px;
        color: #999;
      }
      a:link, a:visited {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .current {
        background-color: #FF754A;
        color: white;
        font-weight: bold;
        padding: 6px 8px;
        line-height: 24px;
        border-radius: 4px;
      }
    }
  }
  .error.status {
    padding-top: 150px;
    text-align: center;
    img {
      margin-bottom: 10px;
    }
    h1 {
      font-size: 44px;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 25px;
      margin-top: 0;
      color: #4c4c4c;
      -webkit-font-smoothing: antialiased;
      @media screen and (max-width: $break) {
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 15px;
      }
    }
    p {
      line-height: 1.5;
      color: #666;
      font-size: 14px;
      margin-bottom: 50px;
    }
  }
  .container.error {
    margin-top: 0;
    margin-bottom: 080px;
  }
}

.subpage-700 {
  .container {
    padding: 0 3%;
    width: 700px;
    @media screen and (max-width: 700px) {
      width: auto;
    }
  }
}

.subpage-560 {
  .container {
    padding: 0 3%;
    width: 560px;
    @media screen and (max-width: 560px) {
      width: auto;
    }
  }
}

.sent-pass {
  .container {
    text-align: center;
    margin-bottom: 100px;
  }
}

#privacy {
  .container {
    p {
      margin-bottom: 20px;
    }
  }
}

#company, #companyTeam {
  .container {
    h1 {
      margin: 50px 0 30px;
    }

    p {
      margin-bottom: 0;
    }
    ul {
      li {
        line-height: 140%;
        list-style-position: inside;
      }
    }
    table {
      margin-bottom: 50px;
      tr {
        td {
          padding: 0 4% 30px 0;
          width: 26%;
          &.wide {
            padding-right: 0;
            width: 48%;
          }
          &.narrow {
            width: 20%;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/* Key Visual */
.monaca-team {
  background: url(/img/company/About_Us_header.png) no-repeat center bottom, url(/img/company/keyvisual_bg.png) repeat-x left bottom;
  background-color: #126faa;
  height: 318px;
  margin: 0 auto;
}


section#lostpassword,
section#resetpassword {
  h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
  }
  .link-login {
    text-align: center;
  }
  input[type="email"] {
    margin-top: 0;
  }
  @media screen and (max-width: $break) {
    h1 {
      margin-top: 0;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    th {
      width: 40%;
    }
    td {
      width: 60%;
    }
  }
  input#email,
  input#choose-psswd,
  input#confirm-psswd {
    box-sizing: border-box;
    width: 220px;
    @media screen and (max-width: $break) {
      width: 100%;
    }
  }
}

#news {
  > .container {
    width: 932px;
    @media screen and (max-width: $break) {
      margin-top: 20px;
      width: 100%;
    }

    > p {
      text-align: center;
      > a#show-past-button {
        display: inline-block;
        width: 180px;
        padding: 4px;
      }
    }

    > h1 {
      color: #2472b3;
      font-size: 36px;
      line-height: 36px;
      margin: 0 0 50px;
      text-align: left;
      padding: 0;
      @media screen and (max-width: $break) {
        box-sizing: border-box;
        font-size: 28px;
        padding-left: 5%;
      }
    }

    .headline-entries {
      margin-bottom: 50px;

      > .headline-entry-submit {
        border-bottom: 1px solid #ccc;
        text-align: right;
        padding: 1em;
        @media screen and (max-width: $break) {
          padding-bottom: 40px;
          .btn-blue {
            font-size: 16px;
          }
        }
      }

      > .headline-entry {
        border-bottom: 1px solid #ccc;
        &:first-child {
          border-top: 1px solid #ccc;
        }

        > .headline-entry-toggle {
          float: right;
          width: 16px;
          height: 16px;
          margin: 14px 10px;
          cursor: pointer;
        }

        > dl {
          > dt {
            width: 80px;
            float: left;
            padding: 12px 10px;
            font-size: 13px;
            line-height: 20px;
            color: #666;
          }

          > dd {
            margin-left: 100px;
            padding: 12px 10px;
            font-size: 13px;
            line-height: 20px;
            color: #666;
            font-weight: bold;

            > .headline-entry-comment {
              display: block;
              margin-left: 70px;
              @media screen and (max-width: $break) {
                margin-left: 0;
              }
            }
            > .headline-entry-comment-news {
              display: block;
            }

            > span.status-solved, > span.status-fixing, > span.status-reported {
              font-size: 12px;
              padding: 6px 10px;
              margin-right: 10px;
              display: inline-block;
              border-radius: 2px;
              line-height: 12px;
              float: left;
              @media screen and (max-width: $break) {
                float: none;
                margin-bottom: 3px;
              }
            }

            > span.status-solved {
              color: #e0f1e5;
              background-color: #6EB063;
            }
            > span.status-fixing {
              color: white;
              background-color: #d35052;
            }
            > span.status-reported {
              color: #66571b;
              background-color: #e5c43c;
            }
          }
        }

        > .headline-sub-entries {
          > dl {
            margin-left: 60px;
            border-top: 1px solid #eee;
            @media screen and (max-width: $break) {
              margin-left: 10px;
              margin-right: 10px;
            }
            > dt {
              float: left;
              overflow: hidden;
              padding: 12px 10px;
              font-size: 13px;
              line-height: 20px;
              color: #666;
              width: 90px;
              @media screen and (max-width: $break) {
                float: none;
              }
            }

            > dd {
              margin-left: 180px;
              padding: 12px 10px;
              font-size: 13px;
              line-height: 20px;
              color: #666;
              @media screen and (max-width: $break) {
                margin-left: 0;
                padding-top: 0;
              }
            }

            &:last-child > dd {
              padding-bottom: 15px;
            }

          }
        }
      }

    }

    ul.headline-submenu {
      text-align: center;
      margin: 22px 0 30px 0;

      > li {
        display: inline-block;
        width: 120px;
        height: 36px;
        border: 1px solid #ccc;
        border-right-width: 0px;
        background-color: #fdfdfd;
        margin-left: -1px;

        &.current {
          background-color: #2472b2;
          border-color: #004680;
          > a {
            color: white;
            font-weight: bold;
          }
        }

        &:first-child {
          border-radius: 4px 0 0 4px;
          margin-left: 0px;
        }

        &:last-child {
          border-radius: 0 4px 4px 0;
          border-right-width: 1px;
        }

        > a {
          line-height: 40px;
          width: 108px;
          display: inline-block;
          color: #666;
          &:link, &:visited, &:active, &:hover {
            text-decoration:none;
          }
        }

      }
    }

    p.headline-attension {
      margin: 0;
      padding: 0;
      color: #d40004;
      line-height: 18px;
      font-size: 13px;
      font-weight: bold;

      > img {
        border: none;
        vertical-align: text-bottom;
        line-height: 18px;
      }
    }

    ul.headline-tabs {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      font-size: 0px;
      text-align: center;
      height: 50px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 50px;
      &.attension {
        margin-bottom: 10px;
      }

      & > li {
        margin: 0;
        padding: 0;
        font-size: 16px;
        display: table;
        vertical-align: bottom;
        position: relative;
        width: 200px;
        height: 50px;
        background-color: #eee;
        border: none;
        margin-top: 0px;
        border-bottom: 1px solid #ccc;
        @media screen and (max-width: $break) {
          width: 30%;
        }
        &:first-child {
          border-radius: 4px 0 0 0;
        }

        &:last-child {
          border-radius: 0 4px 0 0;
        }

        &.current {
          height: 54px;
          background-color: white;
          border: 1px solid #ccc;
          border-bottom: 1px solid white;
          font-weight: bold;
          > a {
            color: #0062b2;
          }
          margin-top: -5px;
        }
        &.attension > a {
          color: #d40004;
          font-weight: bold;
        }

        > a {
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          color: #333;
          display: table-cell;
          line-height: 1.1;
          padding: 0 10px;
          vertical-align: middle;
          text-decoration: none;
          width: 100%;
          height: 100%;
        }

        > a:link, > a:visited {
          text-decoration: none;
        }

        > a:hover {
          text-decoration: underline;
        }

        > img.attension {
          position: absolute;
          left: 184px;
          top: -12px;
        }

      }

    }
  }

  .lang-en .headline-nav {
    span,a {
      font-size: 12px !important;
      margin: 0 0 0 12px !important;
    }
  }
}

body.lang-en #support-index {
  > .container {
    section.support-index-box.box-05 h2 {
      margin: 12px 0 28px;
    }
  }
}