$break-xs: 640px;
/* Subpage */

body.terms-of-service {
  color: #666;
    a > img:hover {
      opacity: 0.7;
    }
    header {
      background-color: #222;
      border-bottom: 1px solid #080808;
      height: 50px;
      position: relative;
      z-index: 100;
      &.navbar {
        margin: 0;
      }
    }
    section {
      padding: 0;
      border: none;
    }
.subpage {
  p {
        max-width: 980px;
  }
  .container {
    font-size: 16px;
    width: 980px;
    padding: 0;
    margin-bottom: 46px;
    @media screen and (max-width: $break) {
    font-size: 1rem;
    width: 100%;
    p {
      padding-left: 10%;
      padding-right: 10%;
    }
    }
    h1 {
      color: #2472b3;
      font-size: 36px;
      line-height: 36px;
      margin: 80px 0 50px;
      text-align: center;
      padding: 0;
      border: none;
      span {
        font-size: 18px;
      }
      @media screen and (max-width: $break) {
        font-size: 24px;
      }
    }
    h2 {
      font-size: 14px;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 12px;
      margin-bottom: 7px;
    }
    p {
      margin: 0 auto 10px auto;
      line-height: 26px;
    }
    a.info {
      color: #666;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .headline-nav {
      margin-bottom: 40px;
      text-align: center;
      span,a {
        margin: 0 12px;
        color: #999;
      }
      a:link, a:visited {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .current {
        background-color: #FF754A;
        color: white;
        font-weight: bold;
        padding: 6px 8px;
        line-height: 24px;
        border-radius: 4px;
      }
    }
  }
  .error.status {
    padding-top: 150px;
    text-align: center;
    img {
      margin-bottom: 10px;
    }
    h1 {
      font-size: 44px;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 25px;
      margin-top: 0;
      color: #4c4c4c;
      -webkit-font-smoothing: antialiased;
      @media screen and (max-width: $break) {
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 15px;
      }
    }
    p {
      line-height: 1.5;
      color: #666;
      font-size: 14px;
      margin-bottom: 50px;
    }
  }
  .container.error {
    margin-top: 0;
    margin-bottom: 080px;
  }

  .law-table {
    margin: auto;
    border: solid 1px #bbb;
    border-collapse: collapse;

    td, th {
      border: solid 1px #bbb;
      padding: 15px;
    }
    th {
      text-align: center;
    }
  }
}

#privacy {
  .container {
    p {
      margin-bottom: 20px;
    }
  }
}

  .lang-en .headline-nav {
    span,a {
      font-size: 12px !important;
      margin: 0 0 0 12px !important;
    }
  }
}

body.lang-en #support-index {
  > .container {
    section.support-index-box.box-05 h2 {
      margin: 12px 0 28px;
    }
  }
}
