body.visualstudio {
    .keyvisual {
        background: url(../img/visualstudio/keyvisual.png) no-repeat center bottom, url(../img/visualstudio/keyvisual_bg.png) repeat-x left bottom;
        color: #000;
        padding-bottom: 0;
        position: relative;
        @media screen and (max-width: $break) {
            padding-bottom: 40px;
        }
        h1 {
            font-weight: 400;
            margin-bottom: 10px;
            padding-top: 160px;
            text-shadow: 0 0 10px rgba(255, 255, 255, 1);
            letter-spacing: -0.03em;
            font-size: 50px;
            line-height: 1.2;
            padding-right: 200px;
            @media screen and (max-width: 1020px) {
                font-size: 48px;
                padding-top: 100px;
                padding-right: 0px;
            }
            .space-400 {
                letter-spacing: -0.4em;
            }
            img {
                vertical-align: -10px;
                margin-bottom: 16px;
            }
        }
        .box-try {
            text-align: left;
            padding: 40px 0 0;
        }
        .btns {
            padding: 20px 0 40px;
            line-height: 64px;
            .btn {
                padding: 0 20px;
                min-width: 240px;
            }
            @media screen and (max-width: $break-xs) {
                text-align: center;
            }
        }
    }
    article.main {
        section {
            border-bottom: 1px solid #ccc;
            padding-top: 90px;
            padding-bottom: 80px;
            &:nth-of-type(1) {
                padding-top: 60px;
            }
            h1 {
                line-height: 1.3;
                text-align: center;
                margin-bottom: 50px;
                -webkit-font-smoothing: antialiased;
                @media screen and (max-width: $break) {
                    font-size: 34px;
                    font-weight: 400;
                    margin-bottom: 40px;
                }
                @media screen and (max-width: $break-xs) {
                    font-size: 24px;
                }
            }
            p {
                margin-bottom: 30px;
                text-align: left;
            }
            &.debug {
                background: url(../img/localkit/img_3.png) no-repeat center bottom;
                background-size: 110%;
                padding-bottom: 53%;
                @media screen and (min-width: $break-xl) {
                    padding-bottom: 630px;
                }
                @media screen and (max-width: $break) {
                    background-position: center bottom;
                }
            }
            .outline {
                margin-bottom: 100px;
                font-size: 12px;
            }
            .box-full > * {
                width: 1080px;
                @media screen and(max-width: 1300px) {
                    padding-left: 5%;
                    padding-right: 5%;
                    width: 100%;
                }
                li {
                    border: none;
                    img {
                        margin-bottom: 40px;
                        @media screen and (max-width: $break) {
                            height: 130px;
                            margin-bottom: 30px;
                        }
                    }
                    &.box-1 {
                        background-color: transparent;
                    }
                    div {
                        border-top: 1px solid #d4d5d7;
                        padding-top: 40px;
                        text-align: left;
                        h2 {
                            margin-bottom: 5px;
                        }
                        p {
                            width: 100%;
                            margin-bottom: 0;
                            &.link {
                                margin-bottom: 20px;
                            }
                            &.name {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        section.voices {
            ul {
                @include display(flex);
                @include flex-direction(row);
                li {
                    margin: 0 0 20px;
                    width: 50%;
                }
            }
            @media screen and (max-width: $break-lg) {
                ul {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            @media screen and (max-width: $break) {
                padding-bottom: 0;
                .box-full {
                    padding: 0;
                }
                h1 {
                    margin-bottom: 30px;
                }
                h2 {
                    font-size: 24px;
                    font-weight: 400;
                }
                ul {
                    @include display(block);
                    li {
                        margin: 0 auto 20px;
                        padding-left: 0;
                        padding-right: 0;
                        width: 100%;
                        h2 {
                            text-align: center;
                        }
                        .link {
                            text-align: center;
                        }
                    }
                }
            }
        }
        .keyvisual + section {
            @media screen and (min-width: $break) {
                padding-top: 100px;
            }
            p {
                width: 680px;
                @media screen and (max-width: $break) {
                    width: 100%;
                }
            }
        }
        .box-try {
            padding: 40px 0 40;
            @media screen and (max-width: $break-xs) {
                padding-top: 40px;
            }
            @media screen and (max-width: $break) {
                padding-top: 50px;
            }
            .btn {
                font-size: 24px;
                padding: 10px 20px;
                margin: 0 20px 20px 0;
                min-width: 210px;
                height: auto;
                span {
                    font-size: 20px;
                }
                a {
                    color: #ffffff;
                    &:hover {
                        text-decoration: none;
                    }
                }
                @media screen and (max-width: $break-xs) {
                    font-size: 16px;
                    margin: 40px auto 20px;
                    padding: 13px 0;
                    width: 100%;
                    max-width: 300px;
                    line-height: 24px;
                    text-align: center;
                    padding: 10px 40px;
                    font-size: 18px;
                }
                @media screen and (min-width: $break-xs) {
                    br.opt {
                        display: none;
                    }
                }
            }
            .notes {
                margin-top: 30px;
            }
        }
    }
    a {
        outline: none;
    }
}

html[lang="en"] body.visualstudio {
    .keyvisual {
        background: url(../img/visualstudio/keyvisual_01.png) no-repeat center bottom, url(../img/visualstudio/keyvisual_bg.png) repeat-x left bottom;
        color: #000;
        padding-bottom: 0;
        position: relative;
        height: 650px;
        @media screen and (max-width: $break) {
            padding-bottom: 30px;
            height: auto;
        }
    }
    h2 {
        font-size: 40px;
        font-weight: 400;
    }
    h3 {
        font-size: 28px;
        font-weight: 400;
    }
    .box-try {
        padding: 40px 0 0;
        @media screen and (max-width: $break) {
            padding-top: 50px;
        }
        @media screen and (max-width: $break-xs) {
            padding-top: 40px;
        }
        .btn {
            font-size: 24px;
            line-height: 1.2em;
            padding: 14px 20px;
            min-width: 210px;
            span {
                font-size: 20px;
            }
            a {
                color: #ffffff;
                &:hover {
                    text-decoration: none;
                }
            }
            @media screen and (max-width: $break $break-xs) {
                margin: 0 auto 40px;
                width: 100%;
                max-width: 300px;
                padding: 10px 40px;
                line-height: 1.0em;
            }
            @-moz-document url-prefix() {
                @media screen and (max-width: $break) {
                    margin: 0 auto 40px;
                    width: 100%;
                    max-width: 300px;
                    padding: 10px 40px;
                    line-height: 0.5em;
                }
                @media screen and (max-width: $break-xs) {
                    margin: 0 auto 40px;
                    width: 100%;
                    max-width: 300px;
                    padding: 10px 40px;
                    line-height: 1.0em;
                }
            }
        }
    }
    section {
        clear: both;
        ul {
            @include display(flex);
            li div {
                border-top: 0px;
                border-bottom: 0px;
                padding-top: 40px;
                text-align: left;
            }
            li {
                margin: 0 0 20px;
            }
        }
        
        @media screen and (max-width: $break-lg) {
            ul {
                padding-left: 0;
                padding-right: 0;
            }
        }
        @media screen and (max-width: $break) {
            padding-bottom: 0;
            .box-full {
                padding: 0;
            }
            h2 {
                font-size: 40px;
                font-weight: 400;
                @media screen and (max-width: $break-xs) {
                    margin-bottom: 0px;
                }
            }
            h3 {
                font-size: 28px;
                font-weight: 400;
            }
            ul {
                @include display(block);
                li {
                    margin: 0 auto 20px;
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                    h3 {
                        text-align: center;
                    }
                    .link {
                        text-align: center;
                    }
                }
            }
        }
    }
    h2 {
        text-align: center;
        color: #333;
        @media screen and (max-width: $break-xs) {
            font-size: 30px;
        }
    }
    h3 {
        text-align: left;
        color: #333;
        @media screen and (max-width: $break-xs) {
            font-size: 22px;
            text-align: center;
        }
    }
    section.content_btm,
    section.content_end
    {
        @media screen and (max-width: $break-xs) {
            padding: 60px 0px 40px;
        }
        h2 {
            text-align: center;
            color: #333;
            @media screen and (max-width: $break-xs) {
                font-size: 30px;
            }
        }
        h3 {
            text-align: center;
            color: #333;
            @media screen and (max-width: $break-xs) {
                font-size: 22px;
            }
        }
        a {
            &:hover {
                text-decoration: none;
            }
        }
        .box-try {
            padding: 0;
        }
    }
    section, section.content_btm {
        border-bottom: 1px solid #ccc;
    }
    section, section.content_end {
        border-bottom: 0px;
        #go_dwl a {
            color: #fff;
        }
    }

    .section.subfeatures {
        padding-top: 100px;
        padding-bottom: 0;
        .maintitle {
            margin-bottom: 6px;
        }
        li {
            border-bottom: 1px solid #d9d9d9;
            padding: 70px 5%;
            &:after {
                content: "";
                clear: both;
                display: block;
            }
            p {
                margin-bottom: 0;
                max-width: none;
                overflow: hidden;
            }
            .experience,
            .onsentools-xs {
                h2 {
                    text-align: center;
                    color: #333;
                    @media screen and (max-width: $break-xs) {
                        font-size: 30px;
                    }
                }
                h3 {
                    text-align: left;
                    color: #333;
                    @media screen and (max-width: $break-xs) {
                        font-size: 22px;
                        text-align: center;
                    }
                }
            }
            &:nth-child(1) {
                padding: 10px 10% 0px;
                border-bottom: 0px solid #d9d9d9;
                p{
                    width: 600px;
                    margin-bottom: 100px;
                }
                @media screen and (max-width: $break) {
                    padding-left: 5%;
                    padding-right: 5%;
                    p{
                        width: 600px;
                        margin-bottom: 100px;
                    }
                }
                @media screen and (max-width: $break-xs) {
                    p {
                        padding-left: 0;
                        padding-right: 0;

                        width: 100%;
                    }
                }
            }
            &:nth-child(2) {
                padding: 26px 5%;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                display: table;
                border-bottom: none;
                border-bottom: 1px solid #d9d9d9;
                padding-bottom: 80px;
                .thumb {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                    width: 50%;
                    img {
                        width: 100%;
                    }
                }
                .onsentools-lg {
                    display: table-cell;
                    padding: 0 0 30px 20px;
                    overflow: hidden;
                    vertical-align: middle;
                    width: 46%;
                }
                .onsentools-xs {
                    display: none;
                }
                @media screen and (max-width: $break-xs) {
                    display: block;
                    p {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .onsentools-xs {
                        display: block;
                        margin-top: 0;
                        margin-bottom: 40px;
                        padding: 0;
                        width: auto;
                    }
                    .onsentools-lg {
                        display: none;
                    }
                    .thumb {
                        display: block;
                        float: none;
                        margin-right: 0;
                        text-align: center;
                        width: auto;
                    }
                }
            }
            &:nth-child(3) {
                display: table;
                padding-top: 60px;
                padding-bottom: 80px;
                .legwork {
                    display: table-cell;
                    padding-right: 20px;
                    vertical-align: middle;
                    text-align: left;
                    width: 46%;
                }
                .thumb {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: right;
                }
                @media screen and (max-width: $break-xs) {
                    display: block;
                    .legwork {
                        display: block;
                        width: auto;
                        text-align: center;
                        p {
                            padding: 0 0 40px;
                        }
                    }
                    .thumb {
                        display: block;
                        margin-left: 0;
                        text-align: center;
                        width: auto;
                    }
                }
            }
        }
    }
}

