@import "../constants";
@import "../button";

body.logos article.main {
    padding: 0px 3%;
    section {
        max-width: 790px;
        margin-bottom: 85px;
        padding: 0;
        h2 {
            font-size: 30px;
            margin-bottom: 60px;
            padding: 0;
        }
        @media screen and (max-width: $break) {
            h2 {
                font-size: 25px;
                margin-bottom: 30px;
                padding: 0;
            }
        }
        p {
            max-width: 790px;
            margin: 0;
            padding: 0;
        }
        img {
            margin-bottom: 38px;
        }
        p.button{
            text-align: center;
            clear: both;
        }
    }
    @media screen and (max-width: $break) {
        section {
            margin-bottom: 45px;
        }
    }
    section#pageguide,
    section#guideline{
        border-bottom: none;
    }
    section#pageguide{
        margin-top: 70px;
        h1 {
            color: #444444;
            font-size: 40px;
            line-height: 48px;
            margin: 0 0 70px;
            text-align: center;
            padding: 0;
        }
        @media screen and (max-width: $break) {
            h1 {
                font-size: 30px;
                margin: 0 0 30px;
            }
        }
    }
    section#asiallogo {
        border-bottom: none;
        p.button{
            margin-bottom: 120px;
        }
        @media screen and (max-width: $break) {
            p.button{
                margin-bottom: 90px;
            }
        }
    }

    section#pageguide,
    section#productlogo,
    section#guideline {
        h3 {
            font-size: 23px;
            text-align: left;
        }
        @media screen and (max-width: $break) {
            h3 {
                font-size: 20px;
            }
        }
        h3#titlemonaca{
            border-bottom: 1px solid #007bff;
        }
        h3#titleonsenui{
            border-bottom: 1px solid #ff4d35;
        }
        p.button{
            margin-bottom: 80px;
        }

    }

    section#asiallogo,
    section#productlogo {
        li {
            float: left;
            max-width: 380px;
            margin: 0;
            padding: 0;
            img {
                margin-bottom: 0;
                width: 100%;
            }
        }
    }

    section#productlogo {
		ul {
			margin-bottom: 20px;
			li {
				margin-bottom: 20px;
				@media screen and (max-width: $break) {
					margin-bottom: 10px;
				}
			}
			li:nth-child(1), li:nth-child(3) {
				margin-right: 30px;
			}
			@media screen and (max-width: 840px) {
				li {
					width: 48%;
					&:nth-child(1) {
						margin-right: 4%;
					}
					&:nth-child(3) {
						margin-right: 4%;
					}
				}
				li:first-child {
					//margin-right: 30px;
				}
			}
        }
        .btn-red{
            border-radius: 3px;
            box-sizing: border-box;
            cursor: pointer;
            display: inline-block;
            font-size: 18px;
            letter-spacing: 1px;
            margin: 0;
            padding: 0 14px;
            height: 40px;
            line-height: 41px;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            transition-property: background-color, border-color, color;
            transition-duration: 80ms,80ms,80ms;

            background-color: #ff4d35;
            border: 1px solid #ff4d35;
            font-weight: 400;
            text-shadow: none;
            color: #fff;
            -moz-user-select: none;
            -webkit-user-select: none;
            &:hover {
                background-color: lighten(#ff4d35, $hover-intensity);
            }
        }
    }
    section#guideline {
        clear: both;
        h4 {
            font-weight: bold;
            text-align: left;
            margin-bottom: 20px
        }
        ul{
            margin-bottom: 48px;
            li{
                list-style-position: inside;
                list-style-type: disc;
                text-align: left;
            }
        }
    }
}
