<footer class="v2-section--footer">
  <div class="v2-section--footer__sitemap-wrapper">
    <div class="v2-section--footer__sitemap">
      <div class="v2-section--footer__sitemap-block">
        <div class="v2-section--footer__sitemap-category">
          <div class="v2-section--footer__sitemap-category-header">特徴<span class="caret"></span></div>
          <div class="v2-section--footer__sitemap-item"><a href="/features/html5.html">HTML5とは？</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/features/">Monacaの特徴</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/dev-support.html">サポート体制</a></div>
        </div>
        <div class="v2-section--footer__sitemap-category">
          <div class="v2-section--footer__sitemap-category-header">実績<span class="caret"></span></div>
          <div class="v2-section--footer__sitemap-item"><a href="/showcase/">導入事例</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/great-apps.html">アプリ事例</a></div>
        </div>
        <div class="v2-section--footer__sitemap-category">
          <div class="v2-section--footer__sitemap-category-header">料金プラン<span class="caret"></span></div>
          <div class="v2-section--footer__sitemap-item"><a href="/pricing.html">プラン一覧</a></div>
        </div>
      </div>
      <div class="v2-section--footer__sitemap-block">
        <div class="v2-section--footer__sitemap-category">
          <div class="v2-section--footer__sitemap-category-header">導入支援<span class="caret"></span></div>
          <div class="v2-section--footer__sitemap-item"><a href="/faq.html">よくあるご質問</a></div>
          <div class="v2-section--footer__sitemap-item section-header"><a href="/events/">イベント情報</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/service/training.html">トレーニング情報</a></div>
          <div class="v2-section--footer__sitemap-item section-header"><a href="/solution-partner/">開発パートナー制度</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/solution-partner/list.html">開発パートナー一覧</a></div>
          <div class="v2-section--footer__sitemap-item section-header"><a href="/product-partner/index.html">連携サービス一覧</a></div>
          <div class="v2-section--footer__sitemap-item section-header"><a href="/appkit">アプリ開発のご相談</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="https://edu.monaca.io/" target="_blank">教育機関でのご利用</a></div>
          <div class="v2-section--footer__sitemap-item section-header"><a href="/support/inquiry.html">お問い合わせ</a></div>
        </div>
      </div>
      <div class="v2-section--footer__sitemap-block">
        <div class="v2-section--footer__sitemap-category">
          <div class="v2-section--footer__sitemap-category-header">開発リソース<span class="caret"></span></div>
          <div class="v2-section--footer__sitemap-item"><a href="https://docs.monaca.io/ja/" target="_blank">ドキュメント</a></div>
          <div class="v2-section--footer__sitemap-item section-header"><a href="/headline/">お知らせ</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/headline/fault.html">障害・不具合情報</a></div>
          <div class="v2-section--footer__sitemap-item section-header"><a href="https://press.monaca.io/" target="_blank">ブログ</a></div>
          <div class="v2-section--footer__sitemap-item section-header"><a href="https://teratail.com/tags/monaca" target="_blank">公式コミュニティ</a></div>
          <div class="v2-section--footer__sitemap-item section-header"><a href="/book/support/">公式ガイドブック</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="book/001/">公式入門書</a></div>
          <div class="v2-section--footer__sitemap-item section-header"><a href="/debugger.html">Monaca デバッガー</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/localkit.html">Monaca Localkit</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/ci.html">Monaca CI</a></div>
          <div class="v2-section--footer__sitemap-item section-header"><a href="/service/">テクニカルサポート受付</a></div>
        </div>
      </div>
      <div class="v2-section--footer__sitemap-block">
        <div class="v2-section--footer__sitemap-category">
          <div class="v2-section--footer__sitemap-category-header">Monaca について<span class="caret"></span></div>
          <div class="v2-section--footer__sitemap-item"><a href="/terms-of-service/">利用規約</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/terms-of-service/privacy.html">プライバシーポリシー</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/logos.html">ロゴの利用について</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/about-us.html">運営会社</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/careers.html">採用情報</a></div>
          <div class="v2-section--footer__sitemap-item"><a href="/terms-of-service/law.html">特定商取引法に基づく表記</a></div>
        </div>
        <div class="v2-section--footer__language-switch"><a href="https://monaca.io/">English</a></div>
      </div>
    </div>
  </div>
  <div class="v2-section--footer__copyright">
    Copyright © {{currentYear}}&nbsp;<a href="http://www.asial.co.jp/" target="_blank">Asial Corporation</a>. All rights reserved.
  </div>
</footer>

<div id="modal-overlay"></div>

<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-PTNKTG7':true});</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-526750-34', 'auto', { 'allowLinker': true });
  ga('require', 'linker');
  ga('require', 'displayfeatures');
  ga('require', 'linkid', 'linkid.js');
  ga('linker:autoLink', ['monaca.io','ja.monaca.io', 'monaca.mobi']);
  ga('require', 'GTM-PTNKTG7');
  ga('send', 'pageview');

  ga('create', 'UA-526750-32', 'auto', { name: 'original'} );
  ga('original.require', 'displayfeatures');
  ga('original.require', 'linkid', 'linkid.js');
  ga('original.send', 'pageview');

  {{#is language "ja"}}
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:58216,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  {{else}}
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:58214,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  {{/is}}
</script>

<script>
  // Toggle category in footer (in smartphone/tablet mode)
  document.addEventListener('DOMContentLoaded', function() {
    jQuery('.v2-section--footer__sitemap-category-header').on('click', function(e) {
      var category = e.target.parentNode;
      if (!category.classList.contains('open')) {
        category.classList.add('open');
      } else {
        category.classList.remove('open');
      }
    });
  });
</script>
