<footer class="common">
    <ul>
        <li><a href="/en/features">Features</a></li>
        <li><a href="http://docs.monaca.mobi/en/">Docs</a></li>
        <li><a href="http://monaca.mobi/en/blog/" target="_blank">Blog</a></li>
        <li><a href="/en/headline">Updates</a></li>
        <li><a href="/en/page/license">Terms</a></li>
        <li><a href="/en/page/company">About Us</a></li>
        <li><a href="/en/page/policy">Privacy Policy</a></li>
        <li><a href="/ja/">日本語</a></li>
    </ul>

    <p>
        <a href="https://twitter.com/monaca_io" target="_blank" class="footer-social-icon"><img src="/img/footer/icn_tw.png" alt="Twitter" width="44" height="39"></a>
        <a href="https://github.com/monaca" target="_blank" class="footer-social-icon"><img src="/img/footer/icn_gh.png" alt="GitHub" width="48" height="44"></a>
        <a href="https://www.facebook.com/monaca.io" target="_blank" class="footer-social-icon"><img src="/img/footer/icn_fb.png" width="39" height="39"></a>
    </p>

    <p class="copyright">Copyright &copy; 2014 <a href="http://www.asial.co.jp/en" target="_blank">Asial Corporation</a>. All rights reserved.</p>
</footer>