<footer class="common">
    <ul>
        <li><a href="http://docs.monaca.mobi/ja/">ドキュメント</a></li>
        <li><a href="http://monaca.mobi/ja/showcase">事例</a></li>
        <li><a href="http://monaca.mobi/ja/headline">お知らせ</a></li>
        <li><a href="http://monaca.mobi/ja/page/license">利用規約</a></li>
        <li><a href="http://monaca.mobi/ja/page/company">運営会社</a></li>
        <li><a href="http://monaca.mobi/ja/page/policy">プライバシーポリシー</a></li>
        <li><a href="http://monaca.mobi/en/">English</a></li>
    </ul>

    <p>
        <a href="https://twitter.com/monaca_io" target="_blank" class="footer-social-icon"><img src="/img/footer/icn_tw.png" alt="Twitter" width="44" height="39"></a>
        <a href="https://github.com/monaca" target="_blank" class="footer-social-icon"><img src="/img/footer/icn_gh.png" alt="GitHub" width="48" height="44"></a>
        <a href="https://www.facebook.com/monaca.io" target="_blank" class="footer-social-icon"><img src="/img/footer/icn_fb.png" width="39" height="39"></a>
    </p>

    <p class="copyright">Copyright &copy; 2014 <a href="http://www.asial.co.jp/en" target="_blank">Asial Corporation</a>. All rights reserved.</p>
</footer>