<footer class="ja-footer">
  <div class="ja-footer__column ja-footer__column--company" style="font-size: 11px;">
    <div style="font-size: 10px;">運営会社</div>
    <div style="margin-bottom: 2px; margin-top: 2px;"><a href="https://asial.co.jp/" target="_blank" rel="noopener"><img src="/img/logos/Asial_Logo.svg" alt="Asial" width="79" /></a></div>
    <div style="font-weight: bold;"><a href="https://asial.co.jp/" target="_blank" rel="noopener">アシアル株式会社</a></div>
    <div>〒113-0034</div>
    <div>東京都文京区湯島2-31-14</div>
    <div>ファーストジェネシスビル</div>
    <div>TEL： 03-5875-6862</div>
    <div style="position: relative; top: -3px;">（受付時間：11:00～15:00）</div>
    <div>FAX： 03-5875-6216</div>
  </div>
  <div class="ja-footer__column ja-footer__column--main">
    <div class="ja-footer__menu-group"><a href="/">ホーム</a></div>
    <div class="ja-footer__menu-group"><a href="/why-monaca/">Monacaを選ぶ理由</a></div>
    <div class="ja-footer__menu-group">
      <span style="cursor: default;">エコシステム</span>
      <div class="ja-footer__menu-subgroup"><a href="/solution-partner/">開発パートナー</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/product-partner/">プロダクトパートナー</a></div>
    </div>
    <div class="ja-footer__menu-group blogs">
      <span style="cursor: default;">ブログ</span>
      <div class="ja-footer__menu-subgroup"><a href="https://blog.asial.co.jp/" target="_blank" rel="noopener">アシアルブログ<img class="ja-footer__menu-exlink" src="/img/ja-footer/icn_arrow_r.svg" /></a></div>
      <div class="ja-footer__menu-subgroup"><a href="https://press.monaca.io/" target="_blank" rel="noopener">モナカプレス<img class="ja-footer__menu-exlink" src="/img/ja-footer/icn_arrow_r.svg" /></a></div>
      <div class="ja-footer__menu-subgroup"><a href="https://medium.com/the-web-tub" target="_blank" rel="noopener">The Web Tub<img class="ja-footer__menu-exlink" src="/img/ja-footer/icn_arrow_r.svg" /></a></div>
      <div class="ja-footer__menu-subgroup"><a href="https://note.asial.co.jp/" target="_blank" rel="noopener">アシアルnote<img class="ja-footer__menu-exlink" src="/img/ja-footer/icn_arrow_r.svg" /></a></div>
    </div>
    <div class="ja-footer__menu-group">
      <span style="cursor: default;">Monacaについて</span>
      <div class="ja-footer__menu-subgroup"><a href="/terms-of-service/">利用規約</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/terms-of-service/privacy.html">プライバシーポリシー</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/logos.html">ロゴの利用について</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/careers.html">採用情報</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/terms-of-service/law.html">特定商取引法に基づく表記</a></div>
    </div>
  </div>
  <div class="ja-footer__column ja-footer__column--solutions">
    <div class="ja-footer__menu-group">
      <span style="cursor: default;">ソリューション</span>
      <div class="ja-footer__menu-subgroup solution">・<a href="/dev-support/">アプリ開発支援サービス</a></div>
      <div class="ja-footer__menu-subgroup solution">・<a href="/devops/">エンタープライズDevOps</a></div>
      <div class="ja-footer__menu-subgroup solution">・<a href="https://edu.monaca.io/" target="_blank" rel="noopener">プログラミング教育<img class="ja-footer__menu-exlink" src="/img/ja-footer/icn_arrow_r.svg" /></a></div>
      <div class="ja-footer__menu-subgroup solution platform">
        ・<a href="/platform/">アプリ開発プラットフォーム</a>
        <div class="ja-footer__menu-subsubgroup">
          <span style="cursor: default;">特徴</span>
          <div><a href="/features/html5.html">HTML5とは？</a></div>
          <div><a href="/features/">Monacaの利点</a></div>
        </div>
        <div class="ja-footer__menu-subsubgroup">
          <span style="cursor: default;">Monacaを知る</span>
          <div><a href="/headline/">最新情報</a></div>
          <div><a href="/faq.html">よくあるご質問</a></div>
          <div><a href="/headline/fault.html">障害・不具合情報</a></div>
        </div>
        <div class="ja-footer__menu-subsubgroup">
          <span style="cursor: default;">学習ガイド</span>
          <div><a href="/service/">サポート＆学習ガイド</a></div>
          <div><a href="https://docs.monaca.io/ja/" target="_blank" rel="noopener">ドキュメント<img class="ja-footer__menu-exlink" src="/img/ja-footer/icn_arrow_r.svg" /></a></div>
          <div><a href="/book/support/">関連書籍</a></div>
          <div><a href="https://teratail.com/tags/monaca" target="_blank" rel="noopener">公式フォーラム<img class="ja-footer__menu-exlink" src="/img/ja-footer/icn_arrow_r.svg" /></a></div>
          <div><a href="https://monacaug.mobi/" target="_blank" rel="noopener">公式コミュニティ<img class="ja-footer__menu-exlink" src="/img/ja-footer/icn_arrow_r.svg" /></a></div>
          <div><a href="/events/training.html">トレーニング</a></div>
        </div>
        <div class="ja-footer__menu-subsubgroup"><a href="/pricing.html">料金プラン</a></div>
        {{!-- <div class="ja-footer__menu-subsubgroup">ログイン</div> --}}
        {{!-- <div class="ja-footer__menu-subsubgroup">サインアップ</div> --}}
      </div>
    </div>
  </div>
  <div class="ja-footer__column ja-footer__column--showcase" style="flex: unset; width: 400px;">
    <div class="ja-footer__menu-group">
      <a href="/showcase">導入事例</a>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/fujitec.html">フジテック - モバイル出勤簿アプリ他</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/hitachi.html">日立 - ○○○○○○○○プラットフォーム</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/smbc.html">三井住友フィナンシャルグループ - hoops link pass</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/kavli.html">東京大学国際高等研究所 - Kavli IPMU Mobile App</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/monex.html">マネックス証券 - マネックス証券アプリ</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/secondfactory.html">セカンドファクトリー - 七福神アプリ</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/ezsoft.html">イージーソフト株式会社 - eKeihi</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/ctp.html">ケンブリッジ・テクノロジー・パートナーズ - セキュアショット</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/jotv.html">Japan Open Television - 番組配信アプリ</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/ill.html">アイル - CROSS TALK for STAFF</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/uhas.html">人間総合科学大学 - 中西ゼミ「卒業研究」</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/ocj.html">オープン・コーポレイツ・ジャパン - マイ広報紙</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/shogi.html">日本将棋連盟 - 棋譜記録アプリ・対局時計アプリ</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/pscsrv.html">ピープルソフトウェア - BaaS@rakuza</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/wfp.html">国連WFP協会 - FOODeliver</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/clubood.html">クラボード - cPost</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/kddi-web.html">KDDIウェブコミュニケーションズ - 内線アプリ</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/jtrust.html">Ｊトラストシステム株式会社 - JトラストIR</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/etajimacity.html">江田島市観光協会 - 物語の島江田島×兵姫ストライク</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/netmarketing.html">ネットマーケティング - 新感覚スカウト型転職アプリ「Switch」</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/kdl.html">神戸デジタル・ラボ - スマートプレジャー</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/jmac.html">ジェイマックシステム - 頭痛Click®</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/teu.html">東京工科大学メディア学部 - 講座名：「スマートサービスデザイン」</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/proroutemarumitsu.html">プロルート丸光 - プロルート丸光アプリ</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/doshisha.html">同志社中学校・高等学校 - 高校3年生「情報特論」</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/flexion.html">フレクションコンサルティング - TeamOn</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/naganobank.html">長野銀行 - NaganoBank Total Assist Book</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/nijibox.html">ニジボックス - レシポ！</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/fusionnagaike.html">NPOフュージョン長池 - スマートパークアイ</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/estcorporation.html">EST corporation - ソクミテ</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/tokyocalendar.html">東京カレンダー - 東京グルメ検索アプリ</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/tvasahi.html">テレビ朝日 - みんながカメラマン</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/proto.html">プロトコーポレーション - MOTOR GATE</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/jnb.html">ジャパンネット銀行 - 残高確認</a></div>
      <div class="ja-footer__menu-subgroup"><a href="/showcase/hitachitool.html">三菱日立ツール - 切削工具商品カタログ</a></div>
    </div>
  </div>
</footer>

<div id="modal-overlay"></div>

<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-PTNKTG7':true});</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-526750-34', 'auto', { 'allowLinker': true });
  ga('require', 'linker');
  ga('require', 'displayfeatures');
  ga('require', 'linkid', 'linkid.js');
  ga('linker:autoLink', ['monaca.io','ja.monaca.io', 'monaca.mobi']);
  ga('require', 'GTM-PTNKTG7');
  ga('send', 'pageview');

  ga('create', 'UA-526750-32', 'auto', { name: 'original'} );
  ga('original.require', 'displayfeatures');
  ga('original.require', 'linkid', 'linkid.js');
  ga('original.send', 'pageview');

  {{#is language "ja"}}
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:58216,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  {{else}}
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:58214,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  {{/is}}
</script>

