---
component: navbar
---
{{!-- New global nav (from May 2020) --}}
<div class="ja-globalnav">
    常に表示
</div>
<div class="ja-sidebar">
    横幅 970 px 以下のときトグル可能
</div>

<script>
    (function() {
    }());
</script>
