---
component: navbar
---
{{!-- New global nav (from May 2020) --}}
<div class="ja-globalnav">
    <div class="ja-globalnav__logo">
        <a href="/">
            <svg class="monaca-logo" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.11 40">
                <title>img_logo</title>
                <symbol style="display: none;">
                    <g id="logo">
                        <path d="M32.34,0H7.66A7.69,7.69,0,0,0,0,7.66V32.34A7.69,7.69,0,0,0,7.66,40H32.34A7.69,7.69,0,0,0,40,32.34V7.66A7.69,7.69,0,0,0,32.34,0ZM27.78,27.78H12.22V12.22H27.78Z" transform="translate(0)"/>
                    </g>
                    <g id="logo_text">
                        <path d="M74.46,31.26H72.38s0-1.6,0-2.21V15.18L66.3,25.69a6.9,6.9,0,0,1-1,1.37,2.43,2.43,0,0,1-1.64.54A2.47,2.47,0,0,1,62,27.06a5,5,0,0,1-1-1.37L54.62,15.18V29c0,.61,0,2.21,0,2.21H52.54a1.93,1.93,0,0,1-1.47-.66A2.25,2.25,0,0,1,50.5,29V11.79a3.1,3.1,0,0,1,.78-2.1,2.52,2.52,0,0,1,2-.91h1.13a2.45,2.45,0,0,1,1.57.57,5,5,0,0,1,1,1.34l6.73,11.4,6.44-11.4a6.3,6.3,0,0,1,1-1.34,2.26,2.26,0,0,1,1.57-.57h1.13a2.51,2.51,0,0,1,2,.91,3.1,3.1,0,0,1,.78,2.1V29a2.25,2.25,0,0,1-.57,1.55A1.93,1.93,0,0,1,74.46,31.26Z" transform="translate(0)"/>
                        <path d="M90.52,31.45a8.45,8.45,0,0,1-6.76-3,11.33,11.33,0,0,1-2.52-7.64,11.33,11.33,0,0,1,2.52-7.64,9.2,9.2,0,0,1,13.51,0,11.43,11.43,0,0,1,2.52,7.64,11.42,11.42,0,0,1-2.52,7.64A8.52,8.52,0,0,1,90.52,31.45Zm0-17a4.68,4.68,0,0,0-4.68,3.38,8.53,8.53,0,0,0-.48,3,8.5,8.5,0,0,0,.48,3,5.71,5.71,0,0,0,1.21,2,4.52,4.52,0,0,0,1.64,1.08,4.88,4.88,0,0,0,3.62,0A4.84,4.84,0,0,0,94,25.87a6.92,6.92,0,0,0,1.7-5,6.89,6.89,0,0,0-1.71-5A4.61,4.61,0,0,0,90.52,14.43Z" transform="translate(0)"/>
                        <path d="M118.82,31.26h-2V18.61a5.38,5.38,0,0,0-.78-3.12,2.81,2.81,0,0,0-2.49-1c-1.8,0-3.52,1.12-5.12,3.32V29c0,.61,0,2.21,0,2.21h-2.08a1.93,1.93,0,0,1-1.47-.66,2.25,2.25,0,0,1-.57-1.55V12.71a2.3,2.3,0,0,1,.57-1.59,1.93,1.93,0,0,1,1.47-.66,2,2,0,0,1,1.48.65,2.27,2.27,0,0,1,.6,1.6V13A9.53,9.53,0,0,1,110,11.6a7.44,7.44,0,0,1,4-1.34,6.76,6.76,0,0,1,3.13.65,6.27,6.27,0,0,1,2.09,1.76,8.88,8.88,0,0,1,1.72,5.56V29a2.2,2.2,0,0,1-.6,1.56A2,2,0,0,1,118.82,31.26Z" transform="translate(0)"/>
                        <path d="M131,31.45a6,6,0,0,1-4.29-1.66,6.09,6.09,0,0,1-1.8-4.55,5.94,5.94,0,0,1,2.1-4.8,9.56,9.56,0,0,1,6.28-1.87h3.65a4.29,4.29,0,0,0-1-3.08,4.39,4.39,0,0,0-3.12-.95,13.42,13.42,0,0,0-4.39.89h0a2.78,2.78,0,0,1-.75.1,1.52,1.52,0,0,1-1.08-.56,2.23,2.23,0,0,1-.51-1.58,1.82,1.82,0,0,1,1.18-1.71,14.28,14.28,0,0,1,6.18-1.42,7.09,7.09,0,0,1,5.8,2.55A8.28,8.28,0,0,1,141,18.27V29a2.21,2.21,0,0,1-.6,1.56,2,2,0,0,1-1.48.65h-2v-2a11.82,11.82,0,0,1-1.74,1.22A8.27,8.27,0,0,1,131,31.45Zm2.71-9.1a8.23,8.23,0,0,0-3.58.63A1.89,1.89,0,0,0,129,24.86c0,1.09.33,2.55,3.13,2.55a5.05,5.05,0,0,0,2.73-.8,8.84,8.84,0,0,0,2-1.74V22.35Z" transform="translate(0)"/>
                        <path d="M154.45,31.45a9.13,9.13,0,0,1-6.77-2.82,10.72,10.72,0,0,1-2.89-7.78,10.72,10.72,0,0,1,2.88-7.78,9.13,9.13,0,0,1,6.77-2.82,8.83,8.83,0,0,1,3.58.63,12.56,12.56,0,0,1,2.2,1.21,2.06,2.06,0,0,1,1,1.66,2.38,2.38,0,0,1-.48,1.48,1.47,1.47,0,0,1-1.15.69,2.78,2.78,0,0,1-1.46-.46,6.48,6.48,0,0,0-3.41-1,5.33,5.33,0,0,0-4.28,1.71,6.83,6.83,0,0,0-1.52,4.64,6.83,6.83,0,0,0,1.52,4.64,5.33,5.33,0,0,0,4.28,1.71,6.48,6.48,0,0,0,3.41-1,2.62,2.62,0,0,1,1.36-.45,1.56,1.56,0,0,1,1.25.69,2.39,2.39,0,0,1,.48,1.48,2.06,2.06,0,0,1-1,1.66A9.69,9.69,0,0,1,154.45,31.45Z" transform="translate(0)"/>
                        <path d="M171,31.45a6,6,0,0,1-4.29-1.66,6.09,6.09,0,0,1-1.8-4.55,5.94,5.94,0,0,1,2.1-4.8,9.56,9.56,0,0,1,6.28-1.87H177a4.29,4.29,0,0,0-1-3.08,4.39,4.39,0,0,0-3.12-.95,13.41,13.41,0,0,0-4.39.89h0a2.79,2.79,0,0,1-.75.1,1.51,1.51,0,0,1-1.08-.56,2.22,2.22,0,0,1-.51-1.58,1.82,1.82,0,0,1,1.18-1.71,14.28,14.28,0,0,1,6.18-1.42,7.09,7.09,0,0,1,5.8,2.55,8.27,8.27,0,0,1,1.83,5.46V29a2.21,2.21,0,0,1-.6,1.56,2,2,0,0,1-1.48.65h-2v-2a11.9,11.9,0,0,1-1.74,1.22A8.27,8.27,0,0,1,171,31.45Zm2.71-9.1a8.23,8.23,0,0,0-3.58.63,1.89,1.89,0,0,0-1.09,1.88c0,1.09.33,2.55,3.13,2.55a5,5,0,0,0,2.73-.8,8.84,8.84,0,0,0,2-1.74V22.35Z" transform="translate(0)"/>
                    </g>
                </symbol>
                <g class="color logo_color">
                    <use xlink:href="#logo" />
                </g>
                <g class="color">
                    <use xlink:href="#logo_text" />
                </g>
            </svg>
        </a>
    </div>
    <ul class="ja-globalnav__menu-list">
        <li class="ja-globalnav__menu{{#_or (_is page.class "platform") (_is page.class "devops") (_is page.class "dev-support")}} selected{{/_or}}">
            {{#_or (_is page.class "platform") (_is page.class "devops") (_is page.class "dev-support")}}<div class="ja-globalnav__menu-subtitle">ソリューション</div>{{/_or}}
            <div class="ja-globalnav__menu-title">
                <a href="/">
                    {{#_nor (_is page.class "platform") (_is page.class "dev-support") (_is page.class "devops")}}ソリューション{{/_nor}}
                    {{#is page.class "platform"}}アプリ開発プラットフォーム{{/is}}
                    {{#is page.class "dev-support"}}アプリ開発支援サービス{{/is}}
                    {{#is page.class "devops"}}エンタープライズDevOps{{/is}}
                </a>
                <span class="ja-globalnav__caret"></span>
            </div>
        </li>
        <li class="ja-globalnav__menu">
            <div class="ja-globalnav__menu-title"><a href="/">Monacaを選ぶ理由</a></div>
        </li>
        <li class="ja-globalnav__menu">
            <div class="ja-globalnav__menu-title"><a href="/">導入事例</a></div>
        </li>
        <li class="ja-globalnav__menu{{#_or (_is page.class "solution-partner") (_is page.class "product-partner")}} selected{{/_or}}">
            {{#_or (_is page.class "solution-partner") (_is page.class "product-partner")}}<div class="ja-globalnav__menu-subtitle">エコシステム</div>{{/_or}}
            <div class="ja-globalnav__menu-title">
                <a href="/">
                    {{#_nor (_is page.class "solution-partner") (_is page.class "product-partner")}}エコシステム{{/_nor}}
                    {{#is page.class "solution-partner"}}開発パートナー{{/is}}
                    {{#is page.class "product-partner"}}プロダクトパートナー{{/is}}
                </a>
                <span class="ja-globalnav__caret"></span>
            </div>
        </li>
        <li class="ja-globalnav__menu">
            <div class="ja-globalnav__menu-title"><a href="/">ブログ</a><span class="ja-globalnav__caret"></span></div>
        </li>
        <li class="ja-globalnav__menu">
            <div class="ja-globalnav__menu-title"><a href="/">お問い合わせ</a></div>
        </li>
    </li>
</div>
<div class="ja-sidebar">
    横幅 970 px 以下のときトグル可能
</div>

<script>
    (function() {
    }());
</script>
