<div id="notificationHeader" style="display:none">
  <div class="monaca_info visible-xs visible-sm visible-md visible-lg">
    {{#is language "ja"}}
      <a href="http://monaca.mobi/ja/headline/fault">
        <span id="ja-notification-header-content"></span>
      </a>
    {{else}}
      <a href="http://monaca.mobi/en/headline/fault">
        <span id="en-notification-header-content"></span>
      </a>
    {{/is}}
    </a>
  </div>
</div>