<div id="notificationHeader" style="display:none">
  {{#is language "ja"}}
    <a href="http://monaca.mobi/ja/headline/fault">
      <div class="monaca_info visible-xs visible-sm visible-md visible-lg">
        <span id="ja-notification-header-content"></span>
      </div>
    </a>
  {{else}}
    <a href="http://monaca.mobi/en/headline/fault">
      <div class="monaca_info visible-xs visible-sm visible-md visible-lg">
        <span id="en-notification-header-content"></span>
      </div>
    </a>
  {{/is}}
</div>