<section class="partner-item" id="detail-lateral" style="padding:30px 30px 75px;">
  <div class="partner-head">
    <div class="partner-logo">
      <img src="/img/partner/logo_lateral.png" />
    </div>

    <div class="partner-info">
      <div class="partner-name">ラテラル・シンキング株式会社</div>
      <div class="partner-location clearfix">
        <div class="bold-headline">所在地</div>
        <div class="detail-text two-line">
          〒060-0002 札幌市中央区北2条西2丁目1-5 リージェントビル8F<br>
          〒103-0001 東京都中央区日本橋小伝馬町15-18 EDGE小伝馬町ビル8F（旧ユニゾ小伝馬町ビル）<br>
          〒460-0003 名古屋市中区錦1丁目13-26 名古屋伏見スクエアビル10F<br>
          〒810-0001 福岡市中央区天神3-9-33 KG天神ビル5F
        </div>
        <div class="bold-headline">URL</div>
        <div class="detail-text two-line">
          <a class="company-url" href='https://www.lateral-t.co.jp/' target="_blank"
            rel="nofollow">https://www.lateral-t.co.jp/</a>
        </div>
      </div>
    </div>
  </div>
  <a class="toggle"><i></i></a>
  <div class="partner-content" style="padding: 65px 0 0;">
    <div class="partner-content-left">
      <div class="partner-abstract">
        札幌・東京を開発拠点とし、ハイブリット開発はもちろんの事、アプリのネイティブ開発やWebシステムの開発を行っています、「アイディアを形にする」をテーマにお客様の立場で考え開発する会社です。<br />
        東京のみならず札幌にも開発拠点がございますので、特に北海道エリアでアプリ開発依頼先をお探しの場合はぜひ当社までご連絡下さい。
      </div>
      <div class="partner-field">
        <div class="bold-headline" style='margin-bottom:3px;'>得意領域</div>
        ・iOS/Androidアプリ<br />
        ・業務系webシステム<br />
        ・AR<br />
        ・ハイブリッド開発<br />
        <br />
        開発規模：2人月〜15人月
      </div>
    </div>
    <div class="partner-content-right">
      <img src="/img/partner/ribbon_works.png" alt="works" class="menuimg" style='display:block;' />
      <div class="partner-works">
        <div class="partner-work-item" style="border-top: none;">
          <div class="bold-headline-title">バーコードリーダー在庫管理アプリ（仮称）</div>
          <div class='work-item-prof'>
            <div class="work-item-ico">
              <img src="/img/partner/ico_preparation.png" />
            </div>
            <div class="work-item-info">
              スマホで在庫品のバーコードを読み取り、在庫の状況と入出荷、廃棄の管理を行うアプリです。在庫情報はクラウド上で管理されるので簡単・便利な上、専用の高価なハンディ端末も不要です。
            </div>
          </div>
        </div>
        <div class="partner-work-item">
          <div class="bold-headline-title">サロン向け会員アプリ（仮称）</div>
          <div class='work-item-prof'>
            <div class="work-item-ico">
              <img src="/img/partner/ico_preparation.png" />
            </div>
            <div class="work-item-info">
              サロン向け会員アプリ。サロン会員はアプリを通して予約やクーポン、ポイントが確認できます。
            </div>
          </div>
        </div>
        <div class="partner-work-item">
          <div class="bold-headline-title">予約管理・レジアプリ（仮称）</div>
          <div class='work-item-prof'>
            <div class="work-item-ico">
              <img src="/img/partner/ico_preparation.png" />
            </div>
            <div class="work-item-info">
              従業員のスケジュール管理機能とカルテ、レジ等の機能搭載した店舗向けアプリです。
            </div>
          </div>
        </div>
        <div class="partner-work-item">
          <div class="bold-headline-title">建築関連原価管理システム（仮称）</div>
          <div class='work-item-prof'>
            <div class="work-item-ico">
              <img src="/img/partner/ico_preparation.png" />
            </div>
            <div class="work-item-info">
              建築現場における原価管理から日報、ファイル共有まで、一元管理ができるWebシステムです。
            </div>
          </div>
        </div>

        <div class="partner-contact">
          <img src="/img/partner/ribbon_contact.png" alt="contact" class="menuimg" style='display:block;' />
          <div class="partner-contact-list">
            <div class='partner-contact-item'>
              <div style='float:left;margin-bottom:6px;' class="bold-headline">URL</div>
              <div class='partner-contact-content'>
                <a href='https://www.lateral-t.co.jp/contact.html' target="_blank" rel="nofollow">お問い合わせページ</a> <i
                  class="glyphicon glyphicon-new-window"></i>
              </div>
            </div>
            <div class='partner-contact-item'>
              <div style='float:left;margin-bottom:6px;' class="bold-headline">Email</div>
              <div class='partner-contact-content'>
                <a href='mailto:kaihatsu@lateral-t.co.jp' rel="nofollow">kaihatsu@lateral-t.co.jp</a>
              </div>
            </div>
            <div class='partner-contact-item'>
              <div style='float:left;margin-bottom:6px;' class="bold-headline">TEL</div>
              <div class='partner-contact-content'>
                011-252-9199(札幌)</div>
              <div class='partner-contact-content'>
                03-6661-9682(東京)</div>
            </div>
          </div>
        </div>
      </div><!-- /.partner-works -->
    </div><!-- /.partner-content-right -->
  </div><!-- /.partner-content -->
</section>