<section class="partner-item" id="detail-kps">
  <div class="partner-head">
    <div class="partner-logo" style="width:100px;margin:0 0 15px -22px;">
      <img src="/img/partner/logo_systena.jpg"/>
    </div>

    <div class="partner-info">
      <div class="partner-name">株式会社システナ</div>
      <div class="partner-location clearfix">
        <div>
          <div class="bold-headline">所在地</div>
          <div class="detail-text">〒105-0022 東京都港区海岸1-2-20 汐留ビルディング14F</div>
        </div>
        <div>
          <div class="bold-headline">URL</div>
          <div class="detail-text"><a class="company-url" href="https://www.systena.co.jp" target="_blank"
              rel="nofollow">https://www.systena.co.jp</a></div>
        </div>
      </div>
    </div>
  </div>
  <a class="toggle"><i></i></a>
  <div class="partner-content">
    <div class="partner-content-left">
      <div class="partner-abstract">
        株式会社システナは、業務/Webシステムの企画提案・設計、基盤構築、開発、運用保守に至るまでをワンストップで提供するシステム開発会社です。
        精密かつ安全性が強く求められる金融系での豊富な実績を軸として、堅牢で品質の高いシステムを構築します。<br><br>
        当社に在籍する従業員約3000人の大半がシステム開発や運用に携わっており、常に顧客満足度の向上を意識して業務に取り組んでいます。
        お客様のお困りごとや課題を丁寧に聞き出し、お客様に寄り添いながらその解決策を一緒に考えて取り組んでいくこと、これが当社の基本姿勢です。<br><br>
        お客様のお悩みに合わせた柔軟な対応を取ることが可能ですので、まずはお気軽にご相談ください。
      </div>
      <div class="partner-field">
        <div class="bold-headline" style='margin-bottom:3px;'>得意領域</div>
        ・Webシステム開発<br>
        大規模〜小規模なシステムまで対応可能です。お客様の規模や業種業態を問わず幅広い分野においてシステム開発を行います。<br><br>
        ・スマホアプリ開発<br>
        規模を問わずご相談ください。スタートアップ企業や成長企業の業務をサポートするシステム構築もお手伝いしています。<br><br>
        ※事業内容<br>
        - 基幹系／基盤系システムの企画提案・設計、開発、運用保守<br>
        - サーバー、PC,周辺機器、ソフトウェアなどのIT関連製品の企業向け販売<br>
        - システム・ネットワーク運用保守・監視、ヘルプデスクなどのITサービス<br>
      </div>
    </div>
    <div class="partner-content-right">
      <img src="/img/partner/ribbon_works.png" alt="works" class="menuimg" style='display:block;' />
      <div class="partner-works">
        <div class="partner-work-item" style="border-top: none;">
          <div class="bold-headline-title">サービス/ソリューション</div>
          <div class='work-item-prof'>
             <a href='https://www.systena.co.jp/service' targe='_blank'>https://www.systena.co.jp/service</a>
          </div>
        </div>
        <div class="partner-work-item" style="border-top: none;">
          <div class="bold-headline-title">情報システム部門向け総合コンサルティングサービス(情シスSKET)</div>
          <div class='work-item-prof'>
            <div>
              <img src="/img/partner/work_item_systena_1.png" />
            </div>
             <a href='https://sket.systena.co.jp/' targe='_blank'>https://sket.systena.co.jp</a>
          </div>
        </div>
        <div class="partner-contact">
          <img src="/img/partner/ribbon_contact.png" alt="contact" class="menuimg" style='display:block;' />
          <div class="partner-contact-list">
            <div class='partner-contact-item'>
              <div style='float:left;margin-bottom:6px;' class="bold-headline">Email</div>
              <div class='partner-contact-content'>
                <a href='mailto:east-business-fwdsi-ml@systena.co.jp' rel="nofollow">east-business-fwdsi-ml@systena.co.jp</a>
              </div>
            </div>
            <div class='partner-contact-item'>
              <div style='float:left;margin-bottom:6px;' class="bold-headline">TEL</div>
              <div class='partner-contact-content'>03-6367-3848</div>
            </div>
          </div>
        </div>
      </div><!-- /.partner-works -->
    </div><!-- /.partner-content-right -->
  </div><!-- /.partner-content -->
</section>