<section class="partner-item" id="detail-tyrellsys">
  <div class="partner-head">
    <div class="partner-logo">
      <img src="/img/partner/logo_tyrell.jpg" / style="width: 70px;">
    </div>

    <div class="partner-info">
      <div class="partner-name">株式会社タイレルシステムズ</div>
      <div class="partner-location clearfix">
        <div class="bold-headline">所在地</div>
        <div class="detail-text two-line">
          〒113-0033 東京都文京区本郷3-38-1 本郷信徳ビル2F
        </div>
        <div class="bold-headline">URL</div>
        <div class="detail-text two-line">
          <a class="company-url" href='https://www.tyrellsys.com/' target="_blank"
            rel="nofollow">http://www.tyrellsys.com/</a>
        </div>
      </div>
    </div>
  </div>
  <a class="toggle"><i></i></a>
  <div class="partner-content" style="padding: 65px 0 0;">
    <div class="partner-content-left">
      <div class="partner-abstract">
        タイレルシステムズは、ネット系サービス開発を得意としており、20周年を迎えるまで豊富な実績を保持しております。<br><br>
        お客様プロジェクト参加に際し、「価値創造とクライアント・ユーザーの満足」のためにチーム全員が当事者として考え、
        行動することを社是としています。<br>

        マルチデバイス対応やfacebookアプリ等の各種ソーシャル連携、オムニチャネル展開など、技術的にもサービス的にも変化するトレンドを理解し、最新技術も取り入れて最適・有効なソリューションをご提案します。
        マレーシア拠点もありますので英語圏に向けたアプリケーション開発なども可能です。<br><br>
        アプリ開発では、アプリ利用シーンとユーザ体験の向上を考慮したうえで、Monacaを使ったハイブリットアプリ開発を軸としつつ、場合によりネイティブ開発も含め最適でコストパフォーマンスに優れたご提案を心がけております。
        また昨今進化を続けるAWSやクラウドの積極的活用、膨大に増加する各種データの有効活用を目的に、ビッグデータ基盤として高い評価を得る、トレジャーデータ社サービスを基盤としたアドテクノロジー系サービス開発等、様々な先端技術を取り入れたサービス構築を実現します。
      </div>
      <div class="partner-field">
        <div class="bold-headline" style='margin-bottom:3px;'>得意領域</div>
        B2Cサービス開発を軸としつつ、レガシーな業務システムのWeb化をはじめとして開発だけではなく様々なUI/UX改善等、
        デザイン領域を含む多くの実績を保有しています。<br><br>

        ハイブリット開発では【Monaca】を標準に定め、アプリにとどまらず、
        平行展開されるWebシステムを含めた総合的な展開をサポートいたします。<br><br>

        フロントエンジニアリングにおけるJavaScript実装でも、ライブラリ選定
        （MonacaのOnsenUI以外にもBackbone.js/AngularJS等）をはじめに適切なアプリケーションアーキテクチャの選定から行い、
        パフォーマンスの高い最適なUI/UXを実現します。<br><br>

        サーバサイドの基本言語については、PHP（CakePHP）を中心に、
        用途に応じ必要な言語選択を行うことで要望の実現を第一に一貫したソリューション提供を行います。
      </div>
    </div>
    <div class="partner-content-right">
      <img src="/img/partner/ribbon_works.png" alt="works" class="menuimg" style='display:block;' />
      <div class="partner-works">
        <div class="partner-work-item" style="border-top: none;">
          <div class="bold-headline-title">マッチングアプリ</div>
          <div class='work-item-prof'>
            <div class="work-item-ico">
              <img src="/img/partner/ico_preparation.png" />
            </div>
            <div class="work-item-info">
              C2Cマッチングを目的としたスマートフォンアプリ<br>「Monaca」を使用し開発全般を担当いたしました。
            </div>
          </div>
        </div>
        <div class="partner-work-item">
          <div class="bold-headline-title">自動車カタログアプリ</div>
          <div class='work-item-prof'>
            <div class="work-item-ico">
              <img src="/img/partner/ico_preparation.png" />
            </div>
            <div class="work-item-info">
              プロモーション用途のアプリを開発
            </div>
          </div>
        </div>
        <div class="partner-work-item">
          <div class="bold-headline-title">某健康保険組合向けポータルサイト</div>
          <div class='work-item-prof'>
            <div class="work-item-ico">
              <img src="/img/partner/ico_preparation.png" />
            </div>
            <div class="work-item-info">
              ヘルスケアアプリを開発
            </div>
          </div>
        </div>
        <div class="partner-work-item">
          <div class="bold-headline-title">バイオマス暖房機用制御システム</div>
          <div class='work-item-prof'>
            <div class="work-item-ico">
              <img src="/img/partner/ico_preparation.png" />
            </div>
            <div class="work-item-info">
              業務用機器制御（IoT）アプリを開発
            </div>
          </div>
        </div>



        <div class="partner-contact">
          <img src="/img/partner/ribbon_contact.png" alt="contact" class="menuimg" style='display:block;' />
          <div class="partner-contact-list">
            <div class='partner-contact-item'>
              <div style='float:left;margin-bottom:6px;' class="bold-headline">URL</div>
              <div class='partner-contact-content'>
                <a href='http://www.tyrellsys.com/contact/' target="_blank" rel="nofollow">お問い合わせページ</a> <i
                  class="glyphicon glyphicon-new-window"></i>
              </div>
            </div>
            <div class='partner-contact-item'>
              <div style='float:left;margin-bottom:6px;' class="bold-headline">Email</div>
              <div class='partner-contact-content'>
                <a href='mailto:info@tyrellsys.com' rel="nofollow">info@tyrellsys.com</a>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.partner-works -->
    </div><!-- /.partner-content-right -->
  </div><!-- /.partner-content -->
</section>