<section class="partner-item" id="detail-beat-tech">
  <div class="partner-head">
    <div class="partner-logo" style="display: flex; justify-content: center; max-width:78px; height:70px;">
      <img src="/img/partner/logo_beat-tech.png" style="margin: auto;"/>
    </div>

    <div class="partner-info">
      <div class="partner-name">ビートテック株式会社</div>
      <div class="partner-location clearfix">
        <div class="bold-headline">所在地</div>
        <div class="detail-text two-line">
          〒141-0031　東京都品川区西五反田7-20-9　KDX西五反田6F
        </div>
        <div class="bold-headline">URL</div>
        <div class="detail-text two-line">
          <a class="company-url" href='https://beat-tech.co.jp/' target="_blank"
            rel="nofollow">https://beat-tech.co.jp/</a>
        </div>
      </div>
    </div>
  </div>
  <a class="toggle"><i></i></a>
  <div class="partner-content" style="padding: 65px 0 0;">
    <div class="partner-content-left">
      <div class="partner-abstract">
        ビートテック株式会社の強みは対応できる分野の幅広さです。<br> 
        Webシステムの開発はもとより、各種スマホアプリ開発、
        Salesforceのアプリケーション開発、コミュニケーションロボットのアプリ開発、
        インフラの構築・運用、組み込み制御系ソフト開発、自動車関連のソフト開発など、
        多様な分野にわたる実績を有します。<br><br>
        幅広い分野での実績により培われた技術力、スキル、ノウハウ、経験を基に、
        2,000社を超えるパートナー企業との連携で、柔軟な開発体制、開発リソースで
        お客様の経営課題を丁寧に解決いたします。
      </div>
      <div class="partner-field">
        <div class="bold-headline" style='margin-bottom:3px;'>得意領域</div>
        ・金融系アプリ<br>
        ・業務系開発<br>
        ・各種Webアプリケーション<br><br>
        開発規模：５人月～５０人月程度
      </div>
    </div>
    <div class="partner-content-right">
      <img src="/img/partner/ribbon_works.png" alt="works" class="menuimg" style='display:block;' />
      <div class="partner-works">
        <div style="margin: 13px;">
        ・某医療系Webシステム<br>
        ・某車メーカー業務系システム<br>
        ・某メーカーチャットボット<br>
        ・某医療系健康管理アプリ　　など
        </div>
 
        {{!-- <div class="partner-work-item" style="border-top: none;">
          <div class="bold-headline-title">バーコードリーダー在庫管理アプリ（仮称）</div>
          <div class='work-item-prof'>
            <div class="work-item-ico">
              <img src="/img/partner/ico_preparation.png" />
            </div>
            <div class="work-item-info">
              スマホで在庫品のバーコードを読み取り、在庫の状況と入出荷、廃棄の管理を行うアプリです。在庫情報はクラウド上で管理されるので簡単・便利な上、専用の高価なハンディ端末も不要です。
            </div>
          </div>
        </div> --}}

        <div class="partner-contact">
          <img src="/img/partner/ribbon_contact.png" alt="contact" class="menuimg" style='display:block;' />
          <div class="partner-contact-list">
            <div class='partner-contact-item'>
              <div style='float:left;margin-bottom:6px;' class="bold-headline">Email</div>
              <div class='partner-contact-content'>
                <a href='mailto:a-ogata@beat-tech.co.jp' rel="nofollow">a-ogata@beat-tech.co.jp</a>
              </div>
            </div>
            <div class='partner-contact-item'>
              <div style='float:left;margin-bottom:6px;' class="bold-headline">TEL</div>
              <div class='partner-contact-content'>03-6685-2512</div>
            </div>
          </div>
        </div>
      </div><!-- /.partner-works -->
    </div><!-- /.partner-content-right -->
  </div><!-- /.partner-content -->
</section>