<div class="v2-section--specials">
    <div class="v2-section--specials__wrapper">
        <div class="v2-section--specials__item-container">
            <div class="v2-section--specials__item">
                <a href="/service/training.html">
                    <div class="v2-section--specials__item-inner">
                        <div class="v2-section--specials__item-image" style="background-image: url('/img/common-v2/img_seminar.jpg');"></div>
                        <div class="v2-section--specials__item-title">セミナーに参加</div>
                        <div class="v2-section--specials__item-description"><span>イベント概要や日程を確認</span></div>
                    </div>
                </a>
            </div>
            <div class="v2-section--specials__item">
                <a href="/appkit">
                    <div class="v2-section--specials__item-inner">
                        <div class="v2-section--specials__item-image" style="background-image: url('/img/common-v2/img_consultation.jpg');"></div>
                        <div class="v2-section--specials__item-title">アプリ開発のご相談</div>
                        <div class="v2-section--specials__item-description"><span>開発会社の紹介や見積依頼</span></div>
                    </div>
                </a>
            </div>
            <div class="v2-section--specials__item">
                <a href="/support/inquiry.html">
                    <div class="v2-section--specials__item-inner">
                        <div class="v2-section--specials__item-image" style="background-image: url('/img/common-v2/img_contact-us.jpg');"></div>
                        <div class="v2-section--specials__item-title">お問い合わせ</div>
                        <div class="v2-section--specials__item-description"><span>製品導入、提携等のご相談</span></div>
                    </div>
                </a>
            </div>
            <div class="v2-section--specials__item">
                <a href="https://edu.monaca.io/">
                    <div class="v2-section--specials__item-inner">
                        <div class="v2-section--specials__item-image" style="background-image: url('/img/common-v2/img_Institution.jpg');"></div>
                        <div class="v2-section--specials__item-title">教育機関でのご利用</div>
                        <div class="v2-section--specials__item-description"><span>教育・研究機関向けプラン</span></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
