<div class="v2-section--monaca">
    <div class="v2-section--monaca__wrapper">
        <div class="v2-section--monaca__title">Monacaがアプリ開発者に選ばれる理由</div>
        <div class="v2-section--monaca__feature-container">
            <a href="/features/#cloud-development">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img1-cloud.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        開発環境の構築が不要
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        エディタやビルド環境は全てクラウドに用意されています。
                    </div>
                </div>
            </a>
            <a href="/features/#cloud-editor">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img2-editor.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        高機能なクラウドエディタ
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        ブラウザ上で快適にプログラミングできます。
                    </div>
                </div>
            </a>
            <a href="/features/#debugger">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img3-debug.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        超高速実機デバッグ
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        実機でアプリの動作を確認しながら開発できます。
                    </div>
                </div>
            </a>
            <a href="/features/#plugin">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img4-plugin.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        強力なプラグインを提供
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        アプリロジック暗号化など、需要の高い機能を揃えています。
                    </div>
                </div>
            </a>
            <a href="/features/#local-development">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img5-local.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        クラウドでもローカルでも開発
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        ローカルでファイルを編集することもできます。
                    </div>
                </div>
            </a>
            <a href="/features/#onsen-ui">
                <div class="v2-section--monaca__feature">
                    <div class="v2-section--monaca__feature-icon" style="background-image: url('/img/index-v2/img6-ui.svg');">
                    </div>
                    <div class="v2-section--monaca__feature-title">
                        高品質なUIを実現
                    </div>
                    <div class="v2-section--monaca__feature-description">
                        iOSとAndroidの画面を簡単に再現できます。
                    </div>
                </div>
            </a>
        </div>
        <div class="v2-section--monaca__navigation">
            <a href="/features/">Monacaについてもっと詳しく<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
        </div>
    </div>
</div>
