/*
#### Reset CSS and global variables in _init.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: none; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

del {
  color: #333; }

ins {
  background: #fff9c0;
  text-decoration: none; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 24px;
  margin-bottom: 1.714285714rem; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

small {
  font-size: smaller; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

pre {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word; }

p {
  margin-bottom: 1em;
  word-wrap: break-word; }

html {
  font: 14px/1.3 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif; }

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  min-width: 1170px; }
  @media screen and (max-width: 1300px) {
    body {
      min-width: 0; } }

img, iframe, object {
  max-width: 100%; }

/*
#### %btn for button template
*/
.btn-orange, .btn-black {
  border: none;
  display: inline-block;
  letter-spacing: 1px;
  height: 32px;
  text-align: center;
  padding: 0 14px;
  font-size: 13px;
  line-height: 32px;
  text-decoration: none !important;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-weight: 500; }
  .btn-orange:hover, .btn-black:hover {
    cursor: pointer;
    outline: none; }
  [disabled].btn-orange, [disabled].btn-black {
    cursor: default;
    opacity: 0.3;
    filter: alpha(opacity=30); }

.btn-blue, .btn-green, .btn-white, .btn-darkgray, .btn-line-white {
  border-radius: 3px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  padding: 0 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 40px;
  line-height: 41px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  transition-property: background-color, border-color, color;
  transition-duration: 80ms, 80ms, 80ms; }
  .btn-blue:hover, .btn-green:hover, .btn-white:hover, .btn-darkgray:hover, .btn-line-white:hover {
    text-decoration: none; }
  .btn-blue:focus, .btn-green:focus, .btn-white:focus, .btn-darkgray:focus, .btn-line-white:focus {
    outline: none; }
  .btn-blue:active, .btn-green:active, .btn-white:active, .btn-darkgray:active, .btn-line-white:active {
    opacity: 1;
    outline: none; }
  [disabled].btn-blue, [disabled].btn-green, [disabled].btn-white, [disabled].btn-darkgray, [disabled].btn-line-white {
    cursor: default;
    opacity: 0.4;
    pointer-events: none; }
    [disabled].btn-blue:hover, [disabled].btn-green:hover, [disabled].btn-white:hover, [disabled].btn-darkgray:hover, [disabled].btn-line-white:hover {
      opacity: 0.4; }
    [disabled].btn-blue:active, [disabled].btn-green:active, [disabled].btn-white:active, [disabled].btn-darkgray:active, [disabled].btn-line-white:active {
      opacity: 0.4; }

/*
# Blue button

Use with "btn" class

```
<a href="#" class="btn btn-blue">Test</a>
```
*/
.btn-blue {
  background-color: #468fff;
  border: 1px solid #468fff;
  color: #fff;
  font-weight: 400;
  text-shadow: none; }
  .btn-blue:hover {
    background-color: #5f9eff;
    color: #fff; }

/*
# Green button

```
<a href="#" class="btn btn-green">Test</a>
```
*/
.btn-green {
  background-color: #8bcc37;
  border: 1px solid #8bcc37;
  color: #fff;
  font-weight: 400;
  text-shadow: none; }
  .btn-green:hover {
    background-color: #9bd353;
    color: #fff; }

/*
# White button

```
<a href="#" class="btn btn-white">Test</a>
```
*/
.btn-white {
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
  color: #505763; }
  .btn-white:hover {
    color: #5b6371; }

/*
# Dark gray button

```
<a href="#" class="btn btn-darkgray">Test</a>
```
*/
.btn-darkgray {
  background-color: #4d5868;
  color: #ffffff; }
  .btn-darkgray:hover {
    background-color: #5e6c7f;
    color: #ffffff; }

/*
# White button with border

```
<div style="background-color: #333; padding: 30px;">
  <a href="#" class="btn btn-line-white">Test</a>
</div>
```
*/
.btn-line-white {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: #ffffff; }
  .btn-line-white:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff; }

/*
# Orange button

```
<a href="#" class="btn btn-orange">Test</a>
```
*/
.btn-orange {
  background-color: #ff8b24;
  border: 1px solid #ec761f;
  color: #fff;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.1); }
  .btn-orange[disabled] {
    opacity: 0.2; }
  .btn-orange:not([disabled]):hover {
    background-color: #ff993e;
    border-color: #ff8f4b;
    opacity: 0.85; }
  .btn-orange:not([disabled]):active {
    background-color: #f07100; }
  .btn-orange .small {
    font-size: 0.88rem; }

/*
# Black button

```
<a href="#" class="btn btn-black">Test</a>
```
*/
.btn-black {
  background-color: #505763;
  border: 1px solid #373d47;
  color: #fff;
  font-size: 13px;
  font-weight: 700; }
  .btn-black[disabled]:hover {
    opacity: 0.2; }
  .btn-black[disabled]:active {
    opacity: 0.2; }
  .btn-black:hover {
    opacity: 0.85; }
  .btn-black:active {
    opacity: 1; }

body {
  text-align: left; }

/*# sourceMappingURL=button.css.map */