---
title: Monaca - 開発パートナー制度
class: solution-partner
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<div id="main-wrap">
  <section class="partner">
    <div class="container">
      <h1 class="ti-partner">Monaca<br class="break">開発パートナー制度</h1>
      <div class="outline">
        <div class="contents">
          <img class="logo-partner" src="/img/partner/logo_monaca_partner.png" alt="Monaca Development Parterロゴ" />
          <section class="outline-text">
            <p>Monaca開発パートナー制度は、アシアルが提供するMonacaを利用したHTML5ハイブリッドアプリケーションの開発を手がけるアプリ開発企業やアプリ企画企業などに向けた開発パートナー制度です。</p>
            <p>アシアルでは日々拡大するアプリ開発需要に答えるため、「Monaca」を基盤としたHTML5ハイブリッドアプリに関するエコシステムの構築を目指しています。営業・マーケティングと技術の両面からパートナー様のアプリ受託開発ビジネスをサポートしパートナー様のビジネス拡大に貢献します。</p>
          </section>
          <!-- .text -->
          <div class="btn-area">
            <a href="/solution-partner/list.html" class="btn-blue btn-big">パートナー企業紹介</a>
            <a href="/support/inquiry.html" class="btn-blue btn-big">お問い合わせ</a>
          </div>
        </div>
        <!-- .contents -->
      </div>
      <!-- .outline -->
      <section class="merit">
        <h2>Monaca開発パートナーへの登録メリット</h2>

        <ul class="merit-item clearfix">
          <li class="partner-ribbon1">
            <h3>Monaca公式サイトでご紹介</h3>
            <p style="margin-bottom: 42px;">会社概要、アプリ開発実績、得意分野等をご紹介させていただきます。</p>
            <img src="/img/partner/merit01.png" alt="Monaca HP" />
          </li>
          <li class="partner-ribbon2">
            <h3>共同マーケティング</h3>
            <p style="margin-bottom: 20px;">共同プレスリリース、共同セミナー、展示会出展などを通じて開発パートナー様のアプリ開発事業の拡大をご支援いたします。</p>
            <img src="/img/partner/merit02.png" alt="Monaca HP" />
          </li>
        </ul>
        <ul class="merit-item clearfix">
          <li class="partner-ribbon3">
            <h3>パートナーロゴの利用</h3>
            <p style="margin-bottom: 40px;">パートナーロゴを自社サイトやその他販促物にご利用頂く事が可能です。</p>
            <img src="/img/partner/merit03.png" alt="Monaca HP" />
          </li>
          <li class="partner-ribbon4">
            <h3>アプリ開発の技術サポート</h3>
            <p style="margin-bottom: 20px;">Monacaを用いたアプリ開発の技術支援やプラグイン開発のお手伝いをいたします。</p>
            <img src="/img/partner/merit04.png" alt="Monaca HP" />
          </li>
        </ul>
        <ul class="merit-item free-item clearfix">
          <li class="partner-ribbon5" style="padding-top: 38px;">
            <h3 class="title-small">トレーニングプログラム<br>50%割引提供</h3>
            <p style="margin-bottom: 20px;">開発パートナー様向けにアシアルが提供するHTML5モバイルアプリ開発講座を50％割引で提供いたします。</p>
            <img src="/img/partner/merit05.png" alt="Monaca HP" />
          </li>
          <li class="partner-ribbon6">
            <h3>パートナー登録は実質無料！</h3>
            <p style="margin-bottom: 20px;">登録料は、Monaca Goldプランの1年間分のご利用料金込みで年間5万円（税抜き）です。つまり実質無料で登録ができます。</p>
            <img src="/img/partner/merit06.png" alt="Monaca HP" />
          </li>
        </ul>

        <ul class="notes">
          <li>※ サービス内容には実施検討中のものも含まれております。</li>
          <li>※ サービス内容によっては有償で提供されるものもございます。</li>
          <li>※ Monaca開発パートナー規約は<a href="/terms-of-service/partner.html">こちら</a>をご覧ください。</li>
        </ul>
      </section>
      <!-- .merit -->
      <section class="faq">
        <h2>よくある質問</h2>
        <dl>
          <dt>登録費用はいくらですか？</dt>
          <dd>登録料はMonaca Goldプランの1年間分のご利用料金込みで年間5万円です。<br />つまり実質無料で登録ができます。</dd>
          <dt>Monaca開発パートナーへの申込条件を教えてください。</dt>
          <dd>Monacaを利用してアプリ開発を事業を行う企業（法人）が申し込み対象となります。</dd>
          <dt>Monaca開発パートナーへの申込方法を教えてください。</dt>
          <dd>申込書に必要事項をご記入の上、Fax、E-mailにて弊社パートナー窓口にお送りください。弊社にてお申込み頂いた内容の確認と審査を行います。審査結果によっては登録のお断りをさせていただく場合がございます。あらかじめご了承ください。</dd>
          <dt>営業・マーケティングに使えるロゴ等の画像はありますか？</dt>
          <dd>Monaca開発パートナーロゴをご用意しています。</dd>
          <dt>パートナーサイト経由で相談を受けた案件は必ずMonacaで開発する必要がありますか？</dt>
          <dd>本パートナー制度は、パートナーの皆様のMonacaの利用を強要するものではありません。開発するアプリに適切な開発ツール、開発手法をご選択ください。</dd>
        </dl>
      </section>
      <!-- .faq -->
      <section class="inquiry">
        <div class="btn-area">
          <a href="/solution-partner/list.html" class="btn-blue btn-big">パートナー企業紹介</a>
          <a href="/support/inquiry.html" class="btn-blue btn-big">お問い合わせ</a>
        </div>
      </section>
      <!-- .inquiry -->
    </div>
    <!-- .container -->
  </section>


  <script src="/js/moment.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script>

    $(window).load(function() {
     var fadeInSpeed = 400;
     $('div.solution-partner span#github-published_at').hide();
     $.ajax({
      url: 'https://api.github.com/repos/monaca/Localkit/releases',
      dataType: 'jsonp',
      success: function(res) {
       $("div.solution-partner span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
       $('div.solution-partner span#github-published_at a strong').text(res.data[0].name);
       var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
       $('div.solution-partner span#github-published_at span').text(dateJa);
       $('div.solution-partner span#github-published_at').fadeIn(fadeInSpeed);
     },
     error: function() {
       $('div.solution-partner span#github-published_at').hide();
     }
   });
   });
  </script>

