---
title: 障害・不具合報告 | MonacaでHTML5モバイルアプリ開発
class: support
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<section id="support-tech" class="subpage">
  <div class="container">
    <h1>障害・不具合報告</h1>
      <p class="notification">お問い合わせいただく前に、<a href='/ja/headline/fault' target='_blank' class='link-blue'>障害・不具合情報</a>をご確認ください。</p>
      <br/>

    <form method="post" action="/ja/support/technical/bugs">
      <input value="bugs" type="hidden" name="support[support_type]" id="support_support_type" />
      <input type="hidden" name="support[user_name]" value="" id="support_user_name" />
      <input type="hidden" name="support[user_email]" value="m.kashiwazaki@live.jp" id="support_user_email" />
      <input type="hidden" name="support[_csrf_token]" value="f5fc7d01ba95e4de2ee0ed766d570b57" id="support__csrf_token" />
      <table>
        <tr>
          <td class="label"><span class="input-label">送信者：</span></td>
          <td class="form-item">
            <img src="https://secure.gravatar.com/avatar/2ab53d9ed79b8019fbd3287fc2b5d4bc?s=24&d=mm" class="user-icon"><span class="user-info">m.kashiwazaki@live.jp</span>
          </td>
        </tr>

        <tr>
          <td class="label"><span class="input-label">対象製品</span><span class="required">*</span></td>
          <td class="form-item">
            <select name="support[product_type]" id="support_product_type">
              <option value="default">選択してください</option>
              <option value="cloud_ide">Monaca クラウド IDE</option>
              <option value="localkit">Monaca Localkit</option>
              <option value="localkit_cli">Monaca Localkit CLI</option>
              <option value="visual_studio">Monaca for Visual Studio</option>
              <option value="android_debugger">Monaca Androidデバッガー</option>
              <option value="ios_debugger">Monaca iOSデバッガー</option>
              <option value="enterprise">Monaca エンタープライズ</option>
              <option value="onsen_ui">Onsen UI</option>
              <option value="other">その他</option>
            </select>
            <span class="error">エラー内容が入ります。</span>
          </td>
        </tr>

        <tr>
          <td class="label"><span class="input-label">件名</span><span class="required">*</span></td>
          <td class="form-item">
            <select name="support[subject]" id="support_subject">
              <option value="default">選択してください</option>
              <option value="code_review">ソースコードレビュー依頼について</option>
              <option value="plugin">プラグインの動作について</option>
              <option value="application_build">アプリのビルドについて</option>
              <option value="setting_ios_certificates">iOSの証明書の設定について</option>
              <option value="onsen_ui">Onsen UIについて</option>
              <option value="monaca_push_notification">プッシュ通知について</option>
              <option value="service_integration">外部サービス連携について</option>
              <option value="other">その他</option>
            </select>
            <span class="error">エラー内容が入ります。</span>
          </td>
        </tr>

        <tr>
          <td colspan="2"><span class="input-label">お問い合わせ内容を記入してください：</span> <span class="error"></span></td>
        </tr>

        <tr>
          <td class="label"></td>
          <td class="form-item">
            <textarea rows="4" cols="30" name="support[message]" id="support-text" placeholder="ここに内容を記入して下さい"></textarea>
            <!--<div class="support-text-footer"><span class="expand-button">拡大 <img src="/img/inquiry/ico_tri_downward_7px.png"></span></div>-->
          </td>
        </tr>

        <tr>
          <td colspan="2"><span class="input-label">対象プロジェクトを選択してください（任意）：</span> <span class="error"></span></td>
        </tr>

        <tr>
          <td class="label"></td>
          <td class="form-item">
            <select name="support[project_id]" id="support_project_id">
              <option value="0">選択してください</option>
              <option value="56a70756fd1734745c6107e2">Hello World App</option>
            </select>
          </td>
        </tr>

        <tr>
          <td colspan="2"><span class="input-label">現象が発生する端末を選択もしくは入力してください（任意）：</span> <span class="error"></span></td>
        </tr>

        <tr>
          <td class="label"></td>
          <td class="form-item">
             <label class="other-device-label">入力してください：<input type="text" name="support[device_os_other]" class="target-device" id="support_device_os_other" /></label>
          </td>
        </tr>

        <tr>
            <td class="label"></td>
            <td class="form-item">
              <p><label><input type="checkbox" name="support[agree_support]" id="support_agree_support" /><a href='/terms-of-service/support.html' target='_blank'>サポート規約</a>について理解しました。</label> <span class="error"></span></p>
            </td>
        </tr>
      </table>

      <div class="form-footer"><input type="submit" name="submit" class="btn-blue" value="送信する"></div>
    </form>

  </div>
</section>