---
title: Advanced Technical support | HTML5 cross-platform mobile app development with Monaca
class: support
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
---

<section id="loading" class="subpage"><img src="/img/common/loading_large.gif" /></section>

<section id="support-tech" class="subpage">
  <div class="container" id="login-error-container" style="display: none;">
    <h1 class="for-technical">Advanced Technical support</h1>
    <h1 class="for-bugs">Report Issue</h1>

    <div class="support-tech-caution">
      <h2><img src="/img/common/ico_exclamation_30px.png" width="30" height="30"> Please login first.</h2>

      <p style="text-align: center;">Please login to continue.</p>

      <div class="support-tech-caution-footer">
        <a id="exec-login-for-support" class="btn-blue">Login</a>
      </div>
    </div>
  </div>

  <div class="container" id="plan-error-container" style="display: none;">
    <h1 class="for-technical">Advanced Technical support</h1>
    <h1 class="for-bugs">Report Issue</h1>

    <div class="support-tech-caution">
      <h2><img src="/img/common/ico_exclamation_30px.png" width="30" height="30"> Plan upgrade is required.</h2>

      <p style="text-align: center">You need to upgrade your plan to request a technical support.</p>

      <div class="support-tech-caution-footer">
        <a href="https://{{site.monaca_api}}/en/pricing" class="btn-blue">Upgrade Plan</a>
      </div>
    </div>
  </div>

  <div class="container" id="form-container" style="display: none;">
    <h1 class="for-technical">Advanced Technical support</h1>
    <h1 class="for-bugs">Report Issue</h1>

    <p>For instant answers, input the keyword of your question in the textbox. For example: Android Build, Monaca CLI, Backend, etc. If you couldn't get the right answer, please fill in the form below. </p>
    <div class="aside-search" id="aside-search" style="padding-top: 10px; padding-bottom: 20px;">
      <input type="search" id="technical-search-doc" placeholder="Question Keyword"><br />
    </div>

    <p class="notification for-technical">Technical support requires a valid subscription.<br>
    You need to have at least Personal Plan and a Support ticket to ask for support.</p>

    <hr class="for-technical">
    <p class="for-bugs">Before reporting a issue, please check <a href="/headline/fault.html">Status and Known Issues.</a></p>

    <form id="support-form">
      <p class="form-error" id="-csrf-token-error">Please reload this page and try again.</p>

      <table>
        <tr>
          <td class="label title-label"><span class="input-label">Your <br class="hidden-lg" />Name:</span></td>
          <td class="form-item block-item">
            <img class="user-icon" id="gravatar"><span class="user-info" id="email"></span>
          </td>
        </tr>
        <tr class="for-technical">
          <td class="label title-label"><span class="input-label">Type of <br class="hidden-lg" />Support:</span>
          </td>
          <td class="form-item block-item">
            <select name="support[support_type]" id="support-type"></select>
            <p class="form-error" id="support-type-error">adafafsa</p>
          </td>
        </tr>
        <tr>
          <td class="label title-label">
              <span class="input-label">Applicable <br class="hidden-lg" />product</span><span class="required">*</span>
          </td>
          <td class="form-item block-item">
            <select name="support[product_type]" id="product-type"></select>
            <p class="form-error" id="product-type-error"></p>
          </td>
        </tr>
        <tr>
          <td class="label title-label">
              <span class="input-label">Subject</span><span class="required">*</span>
          </td>
          <td class="form-item block-item">
            <select name="support[subject]" id="subject"></select>
            <p class="form-error" id="subject-error"></p>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="label title-label"><span class="input-label">Please enter your request in detail:</span>
          </td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item block-item separate-table-block-item">
            <textarea rows="4" cols="30" name="support[message]" id="message" class="support-text" placeholder="Input description here."></textarea>
            <p class="form-error" id="message-error"></p>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="label title-label">
            <span class="input-label">Please specify target project if necessary:</span>
          </td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item block-item separate-table-block-item">
            <select name="support[project_id]" id="project-id"></select>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="label title-label"><span class="input-label">Please specify target device if necessary:</span></td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item block-item separate-table-block-item">
            <ul id="device-checkbox"></ul>
            <label class="other-device-label"><input type="text" name="support[device_os_other]" class="target-device" id="device-os-other" placeholder="other" /></label>
          </td>
        </tr>
        <tr class="for-technical">
          <td colspan="2" class="label title-label"><span class="input-label">You have：</span><strong class="ticket-retain"></strong>tickets <a id="show-support-ticket" class="link-blue">Show my tickets</a>
            <div class="balloon-wrapper" id="support-ticket-balloon" style="display: none;">
              <div class="balloon">
                <table class="ticket-table">
                  <tr id="ticket-title-tr">
                    <th>Date Created</th>
                    <th>Expire Date</th>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr class="for-technical">
          <td class="label no-label"></td>
          <td class="form-item block-item separate-table-block-item">
            <p>1 support ticket will be used when responding to the question unless it is not a user issue.</p>
          </td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item">
            <p class="agree-state-p">
              <label><input type="checkbox" name="support[agree_support]" id="agree-support" />I acknowledge the Monaca <a href='/terms-of-service/support.html' target='_blank'>support policy.</a></label>
            </p>
            <p class="form-error" id="agree-support-error"></p>
          </td>
        </tr>
      </table>

      <div class="form-footer"><input type="button" name="submit" class="btn-blue submit-btn" value="Submit" id="send"></div>
    </form>

  </div>
</section>

<section id="support-index" class="subpage" style="display: none;">
  <div class="container">
    <h1>Support & Service</h1>

    <div class="flex-container">
      <section class="support-index-box box-03">
        <h2>Documents</h2>
        <img src="/img/support/ico_support_pro.png" alt="Professional Service">

        <div class="support-index-box-description">
          <p>The fastest way to find answers to general product questions is using our Docs. We prepared various tutorials, samples, references and FAQ sections for your immediate assistance.</p>
        </div>
        <div class="support-index-box-footer">
          <a class="btn btn-blue"
             href="https://docs.monaca.io/en/">Documents</a>
        </div>
      </section>

      <section class="support-index-box box-01">
        <h2>Stack Overflow</h2>
        <img src="/img/support/ico_support_forum.png" alt="Monaca Forum">

        <div class="support-index-box-description">
          <p>We are monitoring all StackOverflow submissions with “monaca” tag and will help you solve your issues and provide prompt answers.</p>
        </div>
        <div class="support-index-box-footer">
          <a class="btn btn-blue" href="http://stackoverflow.com/questions/tagged/monaca">Monaca Forum</a>
        </div>
      </section>

      <section class="support-index-box box-03">
        <h2>General Questions</h2>
        <img src="/img/support/ico_support_question.png" alt="General Questions">

        <div class="support-index-box-description">
          <p>We accept general questions, including plan upgrades, volume discount and partnership ideas.</p>
        </div>
        <div class="support-index-box-footer">
          <a class="btn btn-blue"
             href="/support/inquiry.html">Contact Us</a>
        </div>
      </section>
    </div>
  </div>
</section>

<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
  {{#is language "ja"}}
      docsearch({
      apiKey: 'cb8771194cfef15ef3d6578f488656b7',
      indexName: 'monaca',
      inputSelector: '#technical-search-doc',
      algoliaOptions: { 'facetFilters': ["language:ja"] },
      debug: false // Set debug to true if you want to inspect the dropdown
    });
  {{else}}
      docsearch({
      apiKey: 'cb8771194cfef15ef3d6578f488656b7',
      indexName: 'monaca',
      inputSelector: '#technical-search-doc',
      algoliaOptions: { 'facetFilters': ["language:en"] },
      debug: false // Set debug to true if you want to inspect the dropdown
    });
  {{/is}}
</script>
