---
title: Advanced Technical support | HTML5 cross-platform mobile app development with Monaca
class: support
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
---

<section id="support-tech" class="subpage">
  <div class="container">
    <h1>Advanced Technical support</h1>

    <p class="notification">Technical support requires a valid subscription.<br>
    You need to have at least Personal Plan and a Support ticket to ask for support.</p>
    <hr>


    <form id="support-form">
      <p class="form-error error" id="-csrf-token-error">Please reload this page and try again.</p>

      <table>
        <tr>
          <td class="label title-label"><span class="input-label">Your <br class="hidden-lg" />Name:</span></td>
          <td class="form-item block-item">
            <img class="user-icon" id="gravatar"><span class="user-info" id="email"></span>
          </td>
        </tr>
        <tr>
          <td class="label title-label"><span class="input-label">Type of <br class="hidden-lg" />Support:</span>
          </td>
          <td class="form-item block-item">
            <select name="support[support_type]" id="support-type"></select>
            <p class="form-error error" id="support-type-error">adafafsa</p>
          </td>
        </tr>
        <tr>
          <td class="label title-label">
              <span class="input-label">Applicable <br class="hidden-lg" />product</span><span class="required">*</span>
          </td>
          <td class="form-item block-item">
            <select name="support[product_type]" id="product-type"></select>
            <p class="form-error error" id="product-type-error"></p>
          </td>
        </tr>
        <tr>
          <td class="label title-label">
              <span class="input-label">Subject</span><span class="required">*</span>
          </td>
          <td class="form-item block-item">
            <select name="support[subject]" id="subject"></select>
            <p class="form-error error" id="subject-error"></p>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="colspan-title"><span class="input-label">Please enter your request in detail:</span>
          </td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item">
            <textarea rows="4" cols="30" name="support[message]" id="message" placeholder="Input description here."></textarea>
            <p class="form-error error" id="message-error"></p>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="colspan-title">
            <span class="input-label">Please specify target project if necessary:</span>
          </td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item">
            <select name="support[project_id]" id="project-id"></select>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="colspan-title"><span class="input-label">Please specify target device if necessary:</span></td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item">
            <div id="device-checkbox"></div>
            <label class="other-device-label"><input type="text" name="support[device_os_other]" class="target-device" id="device-os-other" placeholder="other" /></label>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="colspan-title"><span class="input-label">You have：</span><strong class="ticket-retain"></strong>tickets <a id="show-support-ticket" class="link-blue" href="#">Show my tickets</a>
            <div class="balloon-wrapper" id="support-ticket-balloon" style="display: none;">
              <div class="balloon">
                <table>
                  <tr id="ticket-title-tr">
                    <th>Date Created</th>
                    <th>Expire Date</th>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item">
            <p>1 support ticket will be used when responding to the question unless it is not a user issue.</p>
          </td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item">
            <p>
              <label><input type="checkbox" name="support[agree_support]" id="agree-support" />I acknowledge the Monaca<a href='/terms-of-service/support.html' target='_blank'>support policy.</a></label>
              <p class="error form-error" id="agree-support-error"></p>
            </p>
          </td>
        </tr>
      </table>

      <div class="form-footer"><input type="button" name="submit" class="btn-blue" value="Submit" id="send"></div>
    </form>

  </div>
</section>

<!--script>
  window.addEventListener("load", function() {
    $('body').click(function(e){
      $target = $(e.target);

      //support-ticket-balloon
      if($target.is('#show-support-ticket')){
        $('#support-ticket-balloon').toggle();
        return false;
      } else if($(e.target).parents('#support-type-balloon').length == 0){
        $('#support-ticket-balloon').hide();
      }
    }
    );
  });
</script-->