---
title: テクニカルサポート | MonacaでHTML5モバイルアプリ開発
class: support
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
show_ja_globalnav: true
---
<section class="nav clearfix">
  <a href="/support" class="back"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">お問い合わせトップ</a>
</section>

<section id="loading" class="subpage"><img src="/img/common/loading_large.gif" /></section>

<section id="support-tech" class="subpage">
  <div class="container" id="login-error-container" style="display: none;">
    <h1 class="for-technical">テクニカルサポート</h1>
    <h1 class="for-bugs">障害・不具合報告</h1>

    <div class="support-tech-caution">
      <h2><img src="/img/common/ico_exclamation_30px.png" width="30" height="30">ログインして下さい</h2>

      <p style="text-align: center;">続けるにはログインして下さい。</p>

      <div class="support-tech-caution-footer">
        <a id="exec-login-for-support" class="btn-blue">Login</a>
      </div>
    </div>
  </div>

  <div class="container" id="plan-error-container" style="display: none;">
    <h1 class="for-technical">テクニカルサポート</h1>
    <h1 class="for-bugs">障害・不具合報告</h1>

    <div class="support-tech-caution">
      <h2><img src="/img/common/ico_exclamation_30px.png" width="30" height="30">プランのアップグレードが必要です</h2>

      <p style="text-align: center">テクニカルサポートを受けるには、プランのアップグレードが必要です。</p>

      <div class="support-tech-caution-footer">
        <a href="https://monaca.mobi/ja/pricing" class="btn-blue">アップグレード</a>
      </div>
    </div>
  </div>


  <div class="container" id="form-container" style="display: none;">
    <h1 class="for-technical">テクニカルサポート</h1>
    <h1 class="for-bugs">障害・不具合報告</h1>

    <p class="notification for-technical">
      開発サポートはもちろん、トレーニングや開発依頼など、技術に関することをお気軽にお問い合わせください。
    </p>
    <p class="sub-notification for-technical">
      ※ テクニカルサポートは有償サービスです。利用には、Proプラン以上の加入とサポートチケットが必要です。
    </p>
    <p class="notification for-bugs">
      障害・不具合についての報告は、こちらからお願いいたします。
    </p>
    <p class="sub-notification for-bugs"></p>

    <hr class="for-technical">

    <form id="support-form">
      <p class="form-error" id="-csrf-token-error">このページを再読み込みしてやり直して下さい。</p>

      <table>
        <tr>
          <td class="label title-label"><span class="input-label">送信者</span></td>
          <td class="form-item block-item">
            <img class="user-icon" id="gravatar" /><span class="user-info" id="email"></span>
          </td>
        </tr>
        <tr class="for-technical">
          <td class="label title-label"><span class="input-label">サポートの種類</span><span class="required">*</span>
          </td>
          <td class="form-item block-item">
            <select name="support[support_type]" id="support-type"></select>
            <p class="form-error" id="support-type-error">adafafsa</p>
          </td>
        </tr>
        <tr>
        <tr>
          <td class="label title-label">
            <span class="input-label">対象製品</span><span class="required">*</span>
          </td>
          <td class="form-item block-item">
            <select name="support[product_type]" id="product-type"></select>
            <p class="form-error" id="product-type-error"></p>
          </td>
        </tr>
        <tr>
          <td class="label title-label">
            <span class="input-label">件名</span><span class="required">*</span>
          </td>
          <td class="form-item block-item">
            <select name="support[subject]" id="subject"></select>
            <p class="form-error" id="subject-error"></p>
          </td>
        </tr>
        <tr>
          <td class="label title-label">
            <span class="input-label">対象プロジェクト<span class="required">*</span></span>
          </td>
          <td class="form-item block-item">
            <select name="support[project_id]" id="project-id"></select>
            <p class="form-error" id="project-id-error"></p>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="label title-label"><span class="input-label">お問い合わせ内容</span>
          </td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item block-item separate-table-block-item">
            <textarea rows="4" cols="30" name="support[message]" id="message" class="support-text" placeholder="ここに内容を記入して下さい"></textarea>
            <p class="form-error" id="message-error"></p>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="label title-label">
            <span class="input-label">現象が発生する端末を入力してください（任意）</span></td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item block-item separate-table-block-item">
            <ul id="device-checkbox"></ul>
            <label class="other-device-label"><input type="text" name="support[device_os_other]" class="target-device" id="device-os-other" placeholder="入力してください" /></label>
          </td>
        </tr>
        <tr class="for-technical">
          <td colspan="2" class="label title-label">
            <span class="input-label">保有しているサポートチケット</span>
            <strong class="ticket-retain"></strong>枚 <a id="show-support-ticket" class="link-blue">所有チケットの詳細を表示</a>
            <div class="balloon-wrapper" id="support-ticket-balloon" style="display: none;">
              <div class="balloon">
                <table class="ticket-table">
                  <tr id="ticket-title-tr">
                    <th>付与日</th>
                    <th>有効期限</th>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr class="for-technical">
          <td class="label no-label"></td>
          <td class="form-item block-item separate-table-block-item">
            <p>テクニカルサポートの返信の際に1枚のチケットが減算されます。ただし、ユーザー由来の問題でない場合にはその限りではありません。</p>
          </td>
        </tr>
        <tr>
          <td class="label no-label"></td>
          <td class="form-item">
            <p class="agree-state-p">
              <label><input type="checkbox" name="support[agree_support]" id="agree-support" /><a href='/terms-of-service/support.html' target='_blank'>サポート規約</a>に同意します。</label>
            </p>
            <p class="form-error" id="agree-support-error"></p>
          </td>
        </tr>
      </table>
      <div class="form-footer"><input type="button" name="submit" class="btn-blue submit-btn" value="送信する" id="send"></div>
    </form>
  </div>
</section>

<section id="support-index" class="subpage" style="display: none;">
  <div class="container">
    <h1>サポート＆サービス</h1>

    <div class="flex-container">
      <section class="support-index-box box-03">
        <h2>ドキュメント</h2>
        <img src="/img/support/ico_support_pro.png" alt="Professional Service">

        <div class="support-index-box-description">
          <p>初心者向けのMonacaアプリ開発チュートリアルです。サンプルアプリの解説や逆引き集を揃えています。</p>
        </div>
        <div class="support-index-box-footer">
          <a class="btn btn-blue"
             href="https://docs.monaca.io/ja/">ドキュメント</a>
        </div>
      </section>

      <section class="support-index-box box-01">
        <h2>teratail</h2>
        <img src="/img/support/ico_support_forum.png" alt="Monaca Forum">

        <div class="support-index-box-description">
          <p>Q＆A基盤であるteratail上にてMonaca開発に際して役に立つ情報を他のユーザーと共有できます。</p>
        </div>
        <div class="support-index-box-footer">
          <a class="btn btn-blue" href="https://teratail.com/tags/monaca">Monacaフォーラム</a>
        </div>
      </section>

      <section class="support-index-box box-03">
        <h2>一般的なお問い合わせ</h2>
        <img src="/img/support/ico_support_question.png" alt="General Questions">

        <div class="support-index-box-description">
          <p>各種ご利用プランのご相談など、Monacaに関する一般的なお問い合わせを受け付けております。</p>
        </div>
        <div class="support-index-box-footer">
          <a class="btn btn-blue"
             href="/support/inquiry.html">お問い合わせ</a>
        </div>
      </section>
    </div>
  </div>
</section>

