---
title: Advanced Technical support | HTML5 cross-platform mobile app development with Monaca
class: support
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
---

<section id="support-tech" class="subpage">
  <div class="container">
    <h1>Advanced Technical support</h1>

      <p class="notification">Technical support requires a valid subscription.<br>
      You need to have at least Personal Plan and a Support ticket to ask for support.</p>
      <hr>

    <form method="post" action="/ja/support/technical">
    <input type="hidden" name="support[user_name]" value="" id="support_user_name" />
    <input type="hidden" name="support[user_email]" value="mohimeg@gmail.com" id="support_user_email" />
    <input type="hidden" name="support[_csrf_token]" value="1fcef097bb55f6af9c374a340200198d" id="support__csrf_token" />
    <table>
      <tr>
        <td class="label"><span class="input-label">Your <br class="hidden-lg" />
        Name:</span></td>
        <td class="form-item">
          <img src="https://secure.gravatar.com/avatar/9b9e30f9722f42ef5c65d8f24ccf9935?s=24&d=mm" class="user-icon"><span class="user-info">mohimeg@gmail.com</span>
        </td>
      </tr>
      <tr>
        <td class="label"><span class="input-label">Type of <br class="hidden-lg" />
        Support:</span>
        </td>
        <td class="form-item">
          <select name="support[support_type]" id="support_support_type">
            <option value="technical">Advanced Technical support</option>
            <option value="review">Code review</option>
            <option value="bugs">Bug Report</option>
          </select>
          <span class="error">エラー内容が入ります。</span>
        </td>
      </tr>
      <tr>
        <td class="label"><span class="input-label">Applicable <br class="hidden-lg" />product</span><span class="required">*</span></td>
        <td class="form-item">
          <select name="support[product_type]" id="support_product_type">
            <option value="default">Select...</option>
            <option value="cloud_ide">Monaca Cloud IDE</option>
            <option value="localkit">Monaca Localkit</option>
            <option value="localkit_cli">Monaca Localkit CLI</option>
            <option value="visual_studio">Monaca for Visual Studio</option>
            <option value="android_debugger">Monaca Android Debugger</option>
            <option value="ios_debugger">Monaca iOS Debugger</option>
            <option value="enterprise">Monaca Enterprise</option>
            <option value="onsen_ui">Onsen UI</option>
            <option value="other">Other</option>
          </select>
          <span class="error">エラー内容が入ります。</span>
        </td>
      </tr>
      <tr>
        <td class="label"><span class="input-label">Subject</span><span class="required">*</span></td>
        <td class="form-item">
          <select name="support[subject]" id="support_subject">
            <option value="default">Select...</option>
            <option value="code_review">Code Review</option>
            <option value="plugin">Plugin</option>
            <option value="application_build">Application build</option>
            <option value="setting_ios_certificates">Setting iOS Certificates</option>
            <option value="onsen_ui">Onsen UI</option>
            <option value="monaca_push_notification">Monaca Push Notification</option>
            <option value="service_integration">Service Integration</option>
            <option value="other">Other</option>
          </select>
          <span class="error">エラー内容が入ります。</span>
        </td>
      </tr>
      <tr>
        <td colspan="2"><span class="input-label">Please enter your request in detail:</span>
        </td>
      </tr>
      <tr>
        <td class="label"></td>
        <td class="form-item">
          <textarea rows="4" cols="30" name="support[message]" id="support-text" placeholder="Input description here."></textarea>
          <!--<div class="support-text-footer"><span class="expand-button">拡大 <img src="/img/inquiry/ico_tri_downward_7px.png"></span></div>-->
        </td>
      </tr>
      <tr>
        <td colspan="2"><span class="input-label">Please specify target project if necessary:</span>
        </td>
      </tr>
      <tr>
        <td class="label"></td>
        <td class="form-item">
          <select name="support[project_id]" id="support_project_id">
            <option value="0">Select...</option>
            <option value="56a6d64c7e2193c06ac9997f">Hello Worldアプリ</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2"><span class="input-label">Please specify target device if necessary:</span> <span class="error"></span></td>
      </tr>
      <tr>
        <td class="label"></td>
        <td class="form-item">
          <label class="device-label"><input type="checkbox" value="iPhone" name="support[device_os][]">iPhone/9.2</label>
          <label class="device-label"><input type="checkbox" value="Nexus 5X" name="support[device_os][]">Nexus 5X/6.0</label>
          <label class="device-label"><input type="checkbox" value="iPod touch" name="support[device_os][]">iPod touch/8.1.3</label>
          <label class="other-device-label">Other:<input type="text" name="support[device_os_other]" class="target-device" id="support_device_os_other" /></label>
        </td>
      </tr>
      <tr>
          <td colspan="2"><span class="input-label">You have：</span><strong class="ticket-retain">2</strong>tickets <a id="show_support_ticket" class="link-blue" href="#">Show my tickets</a>
            <div class="balloon-wrapper" id="support-ticket-balloon" style="display: none;">
              <div class="balloon">
                <table>
                  <tr><th style="padding-right: 12px;">Date Created</th><th>Expire Date</th></tr>
                  <tr>
                    <td>+ 2016/01/27</td>
                    <td>2016/01/31</td>
                  </tr>
                  <tr>
                    <td>+ 2016/01/27</td>
                    <td>2016/01/31</td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
      <tr>
        <td class="label"></td>
        <td class="form-item">
          <p>1 support ticket will be used when responding to the question unless it is not a user issue.</p>
        </td>
      </tr>
      <tr>
        <td class="label"></td>
        <td class="form-item">
          <p>
            <label><input type="checkbox" name="support[agree_support]" id="support_agree_support" />I acknowledge the Monaca<a href='/terms-of-service/support.html' target='_blank'>support policy.</a></label>
            <span class="error">エラー内容が入ります。</span>
          </p>
        </td>
      </tr>
    </table>

    <div class="form-footer"><input type="submit" name="submit" class="btn-blue" value="Submit"></div>
    </form>

  </div>
</section>

<script>
  window.addEventListener("load", function() {
    $('body').click(function(e){
      $target = $(e.target);

      //support-type-balloon
      if($target.is('#show_support_type')){
        $('#support-type-balloon').toggle();
        return false;
      } else if($(e.target).parents('#support-type-balloon').length == 0){
        $('#support-type-balloon').hide();
      }

      //support-ticket-balloon
      if($target.is('#show_support_ticket')){
        $('#support-ticket-balloon').toggle();
        return false;
      } else if($(e.target).parents('#support-type-balloon').length == 0){
        $('#support-ticket-balloon').hide();
      }
    }
    );
  });
</script>