---
title: Monaca - 関連書籍
class: book-support
description: Monaca - 関連書籍
layout: src/templates/layouts/default.hbs
show_ja_globalnav: true
show_ja_subnav: true
---

<div class="book-support-header">
    <h1>関連書籍</h1>
    <div class="description">
        <div class="text">
            Monaca（アシアル社員著作）の書籍をご紹介します。<br>
            高校のプログラミング教育で使用されている書籍から、これからアプリを開発したい方向けの書籍までをご用意しております。
        </div>
    </div>
</div>

<div class="container section book-support">
    <div class="book-support-list">
        <div class="book-support-list-item">
            <a class="book-cover" href="http://www.amazon.co.jp/dp/4798140287">
                <img src="/img/book/001/book.png" alt="Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」"/>
            </a>
            <div class="summary">
                一般のお客様はBookWay書店よりお求め下さい。
                法人や教育機関の方が5冊以上まとめて購入する場合はアシアルから直接購入することができます。請求書払いもご相談に応じます。お問い合わせよりご連絡下さい。
            </div>
            <div class="links">
                <a href="https://www.amazon.co.jp/dp/4865840990/" class="link">Amazonで購入</a>
                <a href="http://localhost:3011/support/inquiry.html" class="link">アシアルで購入（法人限定）</a>
                <a href="https://bookway.jp/modules/zox/index.php?main_page=product_info&products_id=763&cPath=33"
                   class="link">BookWayで購入</a>
            </div>
            <div class="description">
                アプリ開発を通じてプログラミングの基礎を学べる入門書です。フルカラーで初心者にも分かりやすい内容となっており、プログラミング教育の一環として○○県や○○県などの高等学校の教育現場で使用されています。
                <br><a href="https://edu.monaca.io/wp-content/uploads/book001_typeb_1-4.pdf" target="_blank">1章～4章の内容をPDFで公開しております。</a>
                <br><a href="/book/support/sample.html">連携サービスのサンプル教材はこちら</a>
            </div>
            <div class="details">
                ISBN：978-4-86584-099-5<br>
                価格：3,000円（税抜）<br>
                著者：アシアル株式会社、生形可奈子、岡本雄樹<br>
                出版社：アシアル株式会社<br>
                <a href="https://docs.google.com/spreadsheets/d/1-m4ZOHf5fRALgMBiBUs7WH635SfQn0u2TKuzEl9ltsE/edit?usp=sharing">正誤表はこちら<img
                        src="/img/common-v2/ico_next_arrow2.svg"></a><br>
                <a href="http://localhost:3011/book/001/additional_document.pdf">Monacaのアップデートに伴う追加資料<img
                        src="/img/common-v2/ico_next_arrow2.svg"></a>
            </div>
        </div>
        <div class="book-support-list-item">
            <a class="book-cover" href="https://www.amazon.co.jp/dp/4865840990/">
                <img src="/img/book/support/book.png" alt="Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」"/>
            </a>
            <div class="summary"></div>
            <div class="links center">
                <a href="http://www.amazon.co.jp/dp/4798140287" class="link">Amazonで購入</a>
            </div>
            <div class="description">
                アプリ作成の基本テクニックのほかCordovaプラグインによるiOS/Androidネイティブ機能の活用方法、Onsen UI/AngularJSを利用してリッチなUIを構築する方法について学べます。
            </div>
            <div class="details">
                SBN：978-4798140285<br>
                価格：3,000円（税抜）<br>
                著者：永井 勝則（著）、アシアル株式会社（監修）<br>
                出版社：翔泳社<br>
                <a href="http://www.shoeisha.co.jp/book/detail/9784798140285">正誤表はこちら<img
                        src="/img/common-v2/ico_next_arrow2.svg"></a>
            </div>
        </div>
    </div>
</div>
