---
title: Monaca - Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」
class: book-support
description: 本書は、無料で使えるクラウド型の開発環境MonacaクラウドでiOS/Androidハイブリッドアプリを作る解説書です。HTML5/JavaScriptでアプリを作りながら、基本テクニックからCordovaプラグインによるネイティブ機能活用、Onsen UI/AngularJSでのUI構築を学びます。
image: https://ja.monaca.io/img/book/support/ogimage.jpg
layout: src/templates/layouts/default.hbs
---

<div class="keyvisual box-full"><div class="clearfix">
    <div class="right-column">
      <h2>Monaca公式ガイドブック</h2>
      <h1><span class="key">「クラウドでできる<br class="hidden-xs hidden-sm" />HTML5ハイブリッド<br class="hidden-xs hidden-sm hidden-md" />アプリ開発」</span></h1>
      <ul class="book-data hidden-xs hidden-sm">
         <li>ISBN：978-4798140285</li>
         <li>価格：3,240円<span class="txt-80">（税込）</span></li>
         <li>著者：永井 勝則<span class="txt-80">（著）</span>　アシアル株式会社<span class="txt-80">（監修）</span></li>
         <li>出版社：翔泳社</li>
      </ul>
    </div>
    <div class="left-column">
      <a href="http://www.amazon.co.jp/dp/4798140287"><img src="/img/book/support/book.png" alt="Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」" /></a>
      <div class="box-try">
          <a href="http://www.amazon.co.jp/dp/4798140287" class="btn btn-darkgray">Amazonで購入</a>
      </div>
    </div>
    <!-- <div class="official-badge hidden-xs hidden-sm hidden-md"><img src="/img/book/support/ico_official.png" alt="Monaca公式ガイドブック" /></div> -->
    <p class="errata"><a href="http://www.shoeisha.co.jp/book/detail/9784798140285" target="_blank">正誤表はこちら</a> <i class="glyphicon glyphicon-circle-arrow-right"></i></p>
</div></div>

<div class="container section sample-apps box-full">

  <ul class="column-2 banners">
      <li>
          <a href="/book/caravan.html"><img src="/img/book/support/caravan.jpg" /></a>
      </li>
      <li>
          <a href="/book/campaign.html"><img src="/img/book/support/campaign.jpg" /></a>
      </li>
  </ul>

  <h2>本書で扱う<br class="visible-xs" />サンプルアプリ</h2>
  <p>本書で解説するサンプルアプリは、Monacaデバッガーを使って実機上でそのまま実行できます。各画面下の「Monacaにインポート」をクリックしてください。ダウンロードしたzipパッケージを、Monacaのプロジェクト作成画面でインポートすることで、そのままMonacaのプロジェクトとして作成できます。</p>

  <ul id="apps" class="grid apps-item">
    <li class="item-1">
      <figure>
        <img src="/book/screenshot/3-1.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第3章 3-1</span>今年は<br class="visible-xs" />平成何年？</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/3-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第3章 3-1</span>今年は平成何年？</h3>
      <a href="/book/zip/3-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-2">
      <figure>
        <img src="/book/screenshot/3-2.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第3章 3-2</span>Monaca<br class="visible-xs" />カウンター</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/3-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第3章 3-2</span>Monacaカウンター</h3>
      <a href="/book/zip/3-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-3">
      <figure>
        <img src="/book/screenshot/4-1.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-1</span>フレーム<br />アニメーション</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-1</span>フレームアニメーション</h3>
      <a href="/book/zip/4-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-4">
      <figure>
        <img src="/book/screenshot/4-2.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-2</span>往復アニメーション</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-2</span>往復アニメーション</h3>
      <a href="/book/zip/4-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-5">
      <figure>
        <img src="/book/screenshot/4-3.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-3</span>周回アニメーション</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-3.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-3</span>周回アニメーション</h3>
      <a href="/book/zip/4-3.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-6">
      <figure>
        <img src="/book/screenshot/4-4.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-4</span>線の描画</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-4.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-4</span>線の描画</h3>
      <a href="/book/zip/4-4.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-7">
      <figure>
        <img src="/book/screenshot/4-5.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-5</span>線のカラーと<br />太さの変更</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-5.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-5</span>線のカラーと太さの<br class="visible-xs" />変更</h3>
      <a href="/book/zip/4-5.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-8">
      <figure>
        <img src="/book/screenshot/4-6.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-6</span>塗りと塗りの<br />カラーの変更</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-6.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-6</span>塗りと塗りのカラーの<br class="visible-xs" />変更</h3>
      <a href="/book/zip/4-6.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-9">
      <figure>
        <img src="/book/screenshot/4-7.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-7</span>矩形の描画と<br />矩形の抜き</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-7.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-7</span>矩形の描画と矩形の<br class="visible-xs" />抜き</h3>
      <a href="/book/zip/4-7.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-10">
      <figure>
        <img src="/book/screenshot/4-8.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-8</span>円と円弧の描画</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-8.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-8</span>円と円弧の描画</h3>
      <a href="/book/zip/4-8.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-11">
      <figure>
        <img src="/book/screenshot/4-9.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-9</span>グラデーション<br class="visible-xs" />塗り</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-9.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-9</span>グラデーション塗り</h3>
      <a href="/book/zip/4-9.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-12">
      <figure>
        <img src="/book/screenshot/4-10.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-10</span>パターン塗り</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-10.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-10</span>パターン塗り</h3>
      <a href="/book/zip/4-10.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-13">
      <figure>
        <img src="/book/screenshot/4-11.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-11</span>お絵かきアプリ1号</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-11.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-11</span>お絵かきアプリ1号</h3>
      <a href="/book/zip/4-11.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-14">
      <figure>
        <img src="/book/screenshot/4-12.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-12</span>お絵かきアプリ2号</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-12.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-12</span>お絵かきアプリ2号</h3>
      <a href="/book/zip/4-12.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-15">
      <figure>
        <img src="/book/screenshot/4-13.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章 4-13</span>お絵かきアプリの完成</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/4-13.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章 4-13</span>お絵かきアプリの完成</h3>
      <a href="/book/zip/4-13.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-16">
      <figure>
        <img src="/book/screenshot/5-1.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第5章　5-1</span>Onsen UI<br class="visible-xs" />最小限の<br class="visible-s" />テンプレート</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/5-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第5章　5-1</span>Onsen UI最小限の<br class="hidden-xs" />テンプレート</h3>
      <a href="/book/zip/5-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-17">
      <figure>
        <img src="/book/screenshot/5-2.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第5章 5-2</span>Onsen UI Master-Detail<br class="visible-xs" />テンプレート</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/5-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第5章 5-2</span>Onsen UI Master-Detailテンプレート</h3>
      <a href="/book/zip/5-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-18">
      <figure>
        <img src="/book/screenshot/5-3.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第5章 5-3</span>Onsen UIの<br class="visible-xs" />主なコンポーネント</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/5-3.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第5章 5-3</span>Onsen UIの主な<br />コンポーネント</h3>
      <a href="/book/zip/5-3.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-19">
      <figure>
        <img src="/book/screenshot/5-4.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第5章 5-4</span>CSSコンポーネントを使った<br class="visible-xs" />ページの<br />カスタマイズ</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/5-4.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第5章 5-4</span>CSSコンポーネントを<br />使ったページの<br />カスタマイズ</h3>
      <a href="/book/zip/5-4.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-20">
      <figure>
        <img src="/book/screenshot/6-1.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第6章 6-1</span>ページ初期化の<br class="visible-s" />イベント</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/6-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第6章 6-1</span>ページ初期化の<br class="visible-xs" />イベント</h3>
      <a href="/book/zip/6-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-21">
      <figure>
        <img src="/book/screenshot/6-2.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第6章 6-2</span>ページ遷移を用いたサンプル</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/6-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第6章 6-2</span>ページ遷移を用いた<br />サンプル</h3>
      <a href="/book/zip/6-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-22">
      <figure>
        <img src="/book/screenshot/6-3.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第6章 6-3</span>&lt;ons-tabbar&gt;のprechange/postchangeイベント</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/6-3.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第6章 6-3</span>&lt;ons-tabbar&gt;のprechange/postchangeイベント</h3>
      <a href="/book/zip/6-3.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-23">
      <figure>
        <img src="/book/screenshot/6-4.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第6章 6-4</span>ドラッグを受け取る</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/6-4.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第6章 6-4</span>ドラッグを受け取る</h3>
      <a href="/book/zip/6-4.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-24">
      <figure>
        <img src="/book/screenshot/6-5.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第6章 6-5</span>ドラッグ中、イメージを半透明にする</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/6-5.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第6章 6-5</span>ドラッグ中、イメージを半透明にする</h3>
      <a href="/book/zip/6-5.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-25">
      <figure>
        <img src="/book/screenshot/6-6.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第6章 6-6</span>回転を受け取る</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/6-6.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第6章 6-6</span>回転を受け取る</h3>
      <a href="/book/zip/6-6.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-26">
      <figure>
        <img src="/book/screenshot/6-7.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第6章 6-7</span>イメージの<br class="visible-xs" />拡大縮小</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/6-7.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第6章 6-7</span>イメージの拡大縮小</h3>
      <a href="/book/zip/6-7.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-27">
      <figure>
        <img src="/book/screenshot/6-8.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第6章 6-8</span>重なりの変更</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/6-8.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第6章 6-8</span>重なりの変更</h3>
      <a href="/book/zip/6-8.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-28">
      <figure>
        <img src="/book/screenshot/6-9.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第6章 6-9</span>フォトビューア<br class="visible-s" />アプリの作成</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/6-9.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第6章 6-9</span>フォトビューアアプリの作成</h3>
      <a href="/book/zip/6-9.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-29">
      <figure>
        <img src="/book/screenshot/7-1.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第7章 7-1</span>ユーザーに<br class="visible-s" />確認を求める</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/7-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第7章 7-1</span>ユーザーに確認を<br class="visible-xs" />求める</h3>
      <a href="/book/zip/7-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-30">
      <figure>
        <img src="/book/screenshot/7-2.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第7章 7-2</span>ダイアログを<br class="visible-s" />表示する</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/7-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第7章 7-2</span>ダイアログを表示する</h3>
      <a href="/book/zip/7-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-31">
      <figure>
        <img src="/book/screenshot/7-3.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第7章 7-3</span>モーダル</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/7-3.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第7章 7-3</span>モーダル</h3>
      <a href="/book/zip/7-3.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-32">
      <figure>
        <img src="/book/screenshot/7-4.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第7章　7-4</span>処理中の状態にする</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/7-4.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第7章　7-4</span>処理中の状態にする</h3>
      <a href="/book/zip/7-4.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-33">
      <figure>
        <img src="/book/screenshot/7-5.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第7章 7-5</span>ポップオーバー</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/7-5.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第7章 7-5</span>ポップオーバー</h3>
      <a href="/book/zip/7-5.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-34">
      <figure>
        <img src="/book/screenshot/7-6.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第7章 7-6</span>パターン集からMonacaアプリを作る</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/7-6.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第7章 7-6</span>パターン集からMonacaアプリを作る</h3>
      <a href="/book/zip/7-6.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-35">
      <figure>
        <img src="/book/screenshot/7-7.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第7章 7-7</span>基本的な使い方</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/7-7.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第7章 7-7</span>基本的な使い方</h3>
      <a href="/book/zip/7-7.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-36">
      <figure>
        <img src="/book/screenshot/7-8.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第7章 7-8</span>画面サイズに応じてレイアウトを変更する</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/7-8.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第7章 7-8</span>画面サイズに応じてレイアウトを変更する</h3>
      <a href="/book/zip/7-8.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-37">
      <figure>
        <img src="/book/screenshot/7-9.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第7章 7-9</span>ons-if-orientationの使用</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/7-9.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第7章 7-9</span>ons-if-orientationの<br />使用</h3>
      <a href="/book/zip/7-9.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-38">
      <figure>
        <img src="/book/screenshot/8-1.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第8章 8-1</span>現在位置を計測し、地図で表示するアプリ</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/8-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第8章 8-1</span>現在位置を計測し、地図で表示するアプリ</h3>
      <a href="/book/zip/8-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-39">
      <figure>
        <img src="/book/screenshot/8-2.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第8章 8-2</span>加速度センサーを使った水準器アプリ</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/8-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第8章 8-2</span>加速度センサーを使った水準器アプリ</h3>
      <a href="/book/zip/8-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-40">
      <figure>
        <img src="/book/screenshot/8-3.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第8章 8-3</span>画像変換機能付きカメラアプリ</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/8-3.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第8章 8-3</span>画像変換機能付き<br class="hidden-xs" />カメラアプリ</h3>
      <a href="/book/zip/8-3.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-41">
      <figure>
        <img src="/book/screenshot/9-1.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第9章　9-1</span>AngularJSの<br class="visible-xs" />基本</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/9-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第9章　9-1</span>AngularJSの基本</h3>
      <a href="/book/zip/9-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-42">
      <figure>
        <img src="/book/screenshot/9-2.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第9章 9-2</span>白馬の<br class="visible-xs" />野の花便り</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/9-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第9章 9-2</span>白馬の野の花便り</h3>
      <a href="/book/zip/9-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-43">
      <figure>
        <img src="/book/screenshot/10-1.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第10章 10-1</span>天気予報アプリ</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/10-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第10章 10-1</span>天気予報アプリ</h3>
      <a href="/book/zip/10-1.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
    <li class="item-44">
      <figure>
        <img src="/book/screenshot/10-2.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第10章 10-2</span>バーコードスキャナーアプリ</h3>
          <a class="btn-import btn-darkgray" href="/book/zip/10-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第10章 10-2</span>バーコードスキャナー<br />アプリ</h3>
      <a href="/book/zip/10-2.zip"><i class="glyphicon glyphicon-save glyphicon-fw"></i>ダウンロード</a>
    </li>
  </ul>
</div>

<div class="container section book-outline box-full">
  <h2>本書の概要</h2>
  <div class="grid">
    <div class="contents grid-item">
      <h3><span>目次</span></h3>
      <ul >
        <li>第１章 HTML5ハイブリッドアプリ開発とMonaca</li>
        <li>第２章 Monacaの使い方</li>
        <li>第３章 はじめてのMonacaアプリ</li>
        <li>第４章 CSSアニメーションと描画機能</li>
        <li>第５章 Onsen UIコンポーネント</li>
        <li>第６章 イベントとインタラクション</li>
        <li>第７章 画面のパターンと構成</li>
        <li>第８章 Cordovaとデバイス機能</li>
        <li>第９章：AngularJS入門</li>
        <li>第１０章：本格的なアプリ開発</li>
      </ul>
    </div>
    <div class="outline grid-item">
      <h3><span>概要</span></h3>
      <div>
        <p>近年、HTML5/JavaScriptを使ってモバイルアプリを開発する手法である「HTML5ハイブリッドアプリ開発」が注目を浴びています。<br><br>
        本書は、無料で使えるクラウド型の開発環境Monacaクラウドを利用して、iOS/Android両プラットフォームで動作するハイブリッドアプリを作る方法を解説する書籍です。Monacaクラウドではアプリ開発環境がクラウドサービスとして提供されるため、開発環境のセットアップは不要。ブラウザがあればすぐに開発を始められます。<br><br>
        このMonacaクラウドを使って、HTML5/JavaScriptでいくつかのアプリを作りながら、ハイブリッドアプリ作成の基本テクニックのほか、CordovaプラグインによるiOS/Androidネイティブ機能の活用方法、Onsen UI/AngularJSを利用してリッチなUIを構築する方法について詳しく学びます。<br><br>
        iOS/Android両対応のアプリを開発したい、あるいはHTML5ハイブリッド開発に興味があるものの敷居が高そうと感じていた方など、Web技術でハイブリッドアプリ開発をしたいと考えている方すべてにおすすめの一冊です。</p>
      </div>
    </div>
  </div>


<div class="container box-try">
    <a href="http://www.amazon.co.jp/dp/4798140287" class="btn btn-darkgray">Amazonで購入</a>
</div>

<script>
window.addEventListener("load", function() {
  "use strict";

  var resizeTimer = null;
  var touchFlag = false;

  function onResize() {
   if (window.innerWidth >= 992) {
     $("#apps li").tile(4);
   } else {
     $("#apps li").tile(2);
   }
  }

  $(function() {
    onResize();
    window.onresize = function() {
      if (resizeTimer) clearTimeout(resizeTimer);
      resizeTimer = setTimeout(onResize, 100);
    }

    $("#apps li figure").on({
      "mouseenter": function(e) {
        $(this).addClass("on");
      },
      "mouseleave": function(e) {
        $(this).removeClass("on");
      },
      "touchstart": function(e) {
        touchFlag = true;
        setTimeout(function() {
          touchFlag = false;
        }, 500);

        if ($(this).hasClass("on")) {
          $(this).removeClass("on");
        } else {
          $("#apps li figure").removeClass("on");
          $(this).addClass("on");        
        }
      },
    });

    $("#apps figure .btn-import").on({
      "touchstart": function(e) {
        e.stopPropagation();
      },
      "click": function(e) {
        if (touchFlag) e.preventDefault();
      }
    })

  })
})
</script>