---
title: Monaca - Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」
class: book-support
layout: src/templates/layouts/default.hbs
---

<div class="keyvisual box-full"><div class="clearfix">
    <div class="right-column">
      <h2>Monaca公式ガイドブック</h2>
      <h1><span class="key">「クラウドでできる<br class="hidden-xs hidden-sm" />HTML5ハイブリッド<br class="hidden-xs hidden-sm hidden-md" />アプリ開発」</span></h1>
      <ul class="book-data hidden-xs hidden-sm">
         <li>ISBN：978-4798140285</li>
         <li>価格：3,240円<span class="txt-80">（税込）</span></li>
         <li>著者：永井 勝則<span class="txt-80">（著）</span>　アシアル株式会社<span class="txt-80">（監修）</span></li>
         <li>出版社：翔泳社</li>
      </ul>
    </div>
    <div class="left-column">
      <img src="/img/book/support/book.png" alt="Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」" />
      <div class="box-try">
          <a href="http://www.amazon.co.jp/dp/4798140287" class="btn btn-darkgray">Amazonで購入</a>
      </div>
    </div>
    <!-- <div class="official-badge hidden-xs hidden-sm hidden-md"><img src="/img/book/support/ico_official.png" alt="Monaca公式ガイドブック" /></div> -->
    <p class="errata"><a href="http://www.shoeisha.co.jp/book/detail/9784798140285" target="_blank">正誤表はこちら</a> <i class="fa fa-chevron-circle-right"></i></p>
</div></div>

<div class="container section sample-apps box-full">

  <ul class="column-2 banners">
      <li>
          <a href="/book/caravan/"><img src="/img/book/support/caravan.jpg" /></a>
      </li>
      <li>
          <a href="/book/campaign/"><img src="/img/book/support/campaign.jpg" /></a>
      </li>
  </ul>

  <h2>本書で扱う<br class="visible-xs" />サンプルアプリ</h2>
  <p>本書で解説するサンプルアプリは、Monacaデバッガーを使って実機上でそのまま実行できます。各画面下の「Monacaにインポート」をクリックしてください。ダウンロードしたzipパッケージを、Monacaのプロジェクト作成画面でインポートすることで、そのままMonacaのプロジェクトとして作成できます。</p>

  <ul id="apps" class="grid apps-item">
    <li class="item-1">
      <figure>
        <img src="/img/book/support/3-1.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第3章　3-1</span>今年は平成何年？</h3>
          <a class="btn-import btn-darkgray" href="#">Monacaに<br class="visible-xs" />インポート <i class="fa fa-angle-right"></i></a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第3章　3-1</span>今年は平成何年？今年は平成何年？今年は平成何年？</h3>
      <a href="#">Monacaにインポート <i class="fa fa-angle-right"></i></a>
    </li>
    <li class="item-2">
      <figure>
        <img src="/img/book/support/3-15A.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第3章　3-5</span>Monacaカウンター</h3>
          <a class="btn-import btn-darkgray" href="#">Monacaに<br class="visible-xs" />インポート <i class="fa fa-angle-right"></i></a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第3章　3-5</span>Monacaカウンター</h3>
      <a href="#">Monacaにインポート <i class="fa fa-angle-right"></i></a>
    </li>
    <li class="item-3">
      <figure>
        <img src="/img/book/support/4-1A.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章　4-1-1</span>フレームアニメーション</h3>
          <a class="btn-import btn-darkgray" href="#">Monacaに<br class="visible-xs" />インポート <i class="fa fa-angle-right"></i></a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章　4-1-1</span>フレームアニメーション</h3>
      <a href="#">Monacaにインポート <i class="fa fa-angle-right"></i></a>
    </li>
    <li class="item-4">
      <figure>
        <img src="/img/book/support/4-3B.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章　4-1-2</span>往復アニメーション</h3>
          <a class="btn-import btn-darkgray" href="#">Monacaに<br class="visible-xs" />インポート <i class="fa fa-angle-right"></i></a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章　4-1-2</span>往復アニメーション</h3>
      <a href="#">Monacaにインポート <i class="fa fa-angle-right"></i></a>
    </li>
    <li class="item-5">
      <figure>
        <img src="/img/book/support/4-3B.png" alt="" />
        <figcaption>
          <h3><span class="chapter">第4章　4-1-2</span>往復アニメーション</h3>
          <a class="btn-import btn-darkgray" href="#">Monacaに<br class="visible-xs" />インポート <i class="fa fa-angle-right"></i></a>
        </figcaption>
      </figure>
      <h3><span class="chapter">第4章　4-1-2</span>往復アニメーション</h3>
      <a href="#">Monacaにインポート <i class="fa fa-angle-right"></i></a>
    </li>
  </ul>
</div>

<div class="container section book-outline box-full">
  <h2>本書の概要</h2>
  <div class="grid">
    <div class="contents grid-item">
      <h3><span>目次</span></h3>
      <ul >
        <li>第１章 HTML5ハイブリッドアプリ開発とMonaca</li>
        <li>第２章 Monacaの使い方</li>
        <li>第３章 はじめてのMonacaアプリ</li>
        <li>第４章 CSSアニメーションと描画機能</li>
        <li>第５章 Onsen UIコンポーネント</li>
        <li>第６章 イベントとインタラクション</li>
        <li>第７章 画面のパターンと構成</li>
        <li>第８章 Cordovaとデバイス機能</li>
        <li>第９章：AngularJS入門</li>
        <li>第１０章：本格的なアプリ開発</li>
      </ul>
    </div>
    <div class="outline grid-item">
      <h3><span>概要</span></h3>
      <div>
        <p>近年、HTML5/JavaScriptを使ってモバイルアプリを開発する手法である「HTML5ハイブリッドアプリ開発」が注目を浴びています。<br><br>
        本書は、無料で使えるクラウド型の開発環境Monacaクラウドを利用して、iOS/Android両プラットフォームで動作するハイブリッドアプリを作る方法を解説する書籍です。Monacaクラウドではアプリ開発環境がクラウドサービスとして提供されるため、開発環境のセットアップは不要。ブラウザがあればすぐに開発を始められます。<br><br>
        このMonacaクラウドを使って、HTML5/JavaScriptでいくつかのアプリを作りながら、ハイブリッドアプリ作成の基本テクニックのほか、CordovaプラグインによるiOS/Androidネイティブ機能の活用方法、Onsen UI/AngularJSを利用してリッチなUIを構築する方法について詳しく学びます。<br><br>
        iOS/Android両対応のアプリを開発したい、あるいはHTML5ハイブリッド開発に興味があるものの敷居が高そうと感じていた方など、Web技術でハイブリッドアプリ開発をしたいと考えている方すべてにおすすめの一冊です。</p>
      </div>
    </div>
  </div>


<div class="container box-try">
    <a href="http://www.amazon.co.jp/dp/4798140287" class="btn btn-darkgray">Amazonで購入</a>
</div>

<script type="text/javascript">
var resizeTimer = null;
var touchFlag = false;

function onResize() {
  if (window.innerWidth >= 992) {
    $("#apps li").tile(4);
  } else {
    $("#apps li").tile(2);   
  }
}

$(function() {
  onResize();
  window.onresize = function() {
    if (resizeTimer) clearTimeout(resizeTimer);
    resizeTimer = setTimeout(onResize, 100);
  }

  $("#apps li figure").on({
    "mouseenter": function(e) {
      $(this).addClass("on");
    },
    "mouseleave": function(e) {
      $(this).removeClass("on");
    },
    "touchstart": function(e) {
      touchFlag = true;
      setTimeout(function() {
        touchFlag = false;
      }, 500);

      if ($(this).hasClass("on")) {
        $(this).removeClass("on");
      } else {
        $("#apps li figure").removeClass("on");
        $(this).addClass("on");        
      }
    },
  });

  $("#apps figure .btn-import").on({
    "touchstart": function(e) {
      e.stopPropagation();
    },
    "click": function(e) {
      if (touchFlag) e.preventDefault();
    }
  })

})
</script>