---
title: Monaca - 連携サービスのアプリと提供企業紹介
class: book-sample
description: Monaca - 連携サービスのアプリと提供企業紹介
layout: src/templates/layouts/default.hbs
show_ja_globalnav: true
show_ja_subnav: true
---

<div class="book-sample-header">
    <a href="/books.html" class="nav-back">
        <img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">
        <span class="prev-page">Previous</span>
        <span class="page-name">関連書籍</span>
    </a>
    <h1>連携サービスのアプリと提供企業紹介</h1>
    <div class="description">
        <div class="text">
            □□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■
        </div>
    </div>
</div>

<div class="book-sample">
    <div class="book-sample-list">
        <div class="book-sample-list-item">
            <div class="header">
                <img class="logo" src="/img/book/001/fukudokuhon_logo_microsoft.gif">
                <div class="title">Microsoft Azurespan<span class="subtitle">提供元：マイクロソフト</span></div>
                <a class="action"
                   href="https://ja.monaca.io/book/001/azure-01.pdf?_ga=2.49228897.678237920.1585045358-1066351798.1585045358"
                   target="_blank">PDF教材をダウンロード</a>
            </div>
            <div class="content">Microsoft
                Azureは、Webサイトを公開するための「Webサーバー」や、大量のデータを蓄積・選別し、必要に応じて引き出す技術である「SQLデータベース」などクラウド上で利用できるさまざまな機能を包括したサービスの総称です。モバイルアプリで利用するデータを管理する機能は「App
                Service」という名称で提供されています。App Serviceは、学生が無償利用できる「Microsoft Azure for DreamSpark」からも利用可能です。
            </div>
            <div class="introduction"><strong>サンプル紹介</strong><br>ユーザーが回答したアンケートを収集する『アンケートアプリ』と、ユーザー間でコミュニケーションを行うための『匿名SNS』アプリを提供しています。
            </div>
        </div>
        <div class="book-sample-list-item">
            <div class="header">
                <img class="logo" src="/img/book/001/fukudokuhon_logo_nifcloud.png">
                <div class="title">ニフクラ mobile backend<span class="subtitle">提供元：富士通クラウドテクノロジーズ株式会社</span></div>
                <a class="action"
                   href="https://ja.monaca.io/book/001/ncmb-01.pdf?_ga=2.113722560.678237920.1585045358-1066351798.1585045358"
                   target="_blank">PDF教材をダウンロード</a>
            </div>
            <div class="content">ニフクラ mobile
                backendはモバイルアプリの「サーバー」側機能を、APIで提供するものです。スマートフォンへの通知を送る「プッシュ通知」、ログイン・ログアウトを行う「会員管理」、データの保存ができる「データストア」、写真・動画等のファイルを保存する「ファイルストア」、SNS認証を行う「SNS連携」、データストア上で位置情報の保存・管理が行える「位置情報検索」、簡易的なプログラムを配置して実行できる「スクリプト」などの機能を提供しています。
            </div>
            <div class="introduction"><strong>サンプル紹介</strong><br>ランキング機能を組み込んだ『ブロック崩しアプリ』と様々な人が訪れた場所を地図上に登録する『あしあとマップアプリ』を提供しています。ランキングのスコアやGPSで取得した位置情報を、ニフクラ
                mobile backendの「データストア」に保存します。
            </div>
        </div>
        <div class="book-sample-list-item">
            <div class="header">
                <img class="logo" src="/img/book/001/fukudokuhon_logo_onsen.gif">
                <div class="title">Onsen UI<span class="subtitle">提供元：アシアル株式会社</span></div>
                <a class="action"
                   href="https://ja.monaca.io/book/001/onsen-01.pdf?_ga=2.113722560.678237920.1585045358-1066351798.1585045358"
                   target="_blank">PDF教材をダウンロード</a>
            </div>
            <div class="content">Onsen
                UIは、独自のHTMLタグを記述するだけで簡単にモバイルアプリの画面を作ることができるUIフレームワークです。ボタンやテキストボックスなどの入力項目や、ツールバーやタブバーといった画面のレイアウトを構成するパーツが豊富に用意されています。
            </div>
            <div class="introduction"><strong>サンプル紹介</strong><br>『Yes/Noチャート式
                性格診断アプリ』と『道路標識暗記アプリ』の2点を提供しています。これらのサンプルアプリは複数の画面から構成されており、Onsen UIの機能によってアニメーション付きで画面が遷移します。
            </div>
        </div>
    </div>
</div>
