---
title: Monaca - Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」
class: book-school
description: 本書は、無料で使えるクラウド型の開発環境MonacaクラウドでiOS/Androidハイブリッドアプリを作る解説書です。HTML5/JavaScriptでアプリを作りながら、基本テクニックからCordovaプラグインによるネイティブ機能活用、Onsen UI/AngularJSでのUI構築を学びます。
image: https://ja.monaca.io/img/book/support/ogimage.jpg
layout: src/templates/layouts/default.hbs
---

<div class="keyvisual box-full"><div class="clearfix">
    <div class="right-column">
      <h2>スマートフォンアプリ開発を通じてプログラミングの基礎を学ぶ</h2>
      <h1><span class="key">「Monacaで学ぶはじめての<br class="hidden-xs hidden-sm" />プログラミング<br class="hidden-xs hidden-sm" />～モバイルアプリ入門編」</span></h1>
      <ul class="book-data hidden-xs hidden-sm">
         <li>ISBN：準備中</li>
         <li>価格：3,240円<span class="txt-80">（税込）</span></li>
         <li>著者：アシアル株式会社、生形可奈子、岡本雄樹<span class="txt-80">（著）</span></li>
         <li>出版社：小野高速出版</li>
      </ul>
    </div>
    <div class="left-column">
      <a href="http://www.amazon.co.jp/dp/4798140287"><img src="/img/book/school/book.png" alt="Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」" /></a>
      <div class="box-try">
          <a href="#how-to-buy" class="btn btn-darkgray">購入方法へ</a>
      </div>
    </div>
    <!-- <div class="official-badge hidden-xs hidden-sm hidden-md"><img src="/img/book/support/ico_official.png" alt="Monaca公式ガイドブック" /></div> -->
</div></div>

<div class="container section sample-apps box-full">

  <ul class="column-2 banners">
      <li>
          <a href="/book/caravan.html"><img src="/img/book/school/bnr.jpg" /></a>
      </li>
  </ul>

  <h2>本書で扱う<br class="visible-xs">サンプルアプリ</h2>
  <p>本書で解説するサンプルアプリは、Monacaデバッガーを使って実機上でそのまま実行できます。各画面下の「Monacaにインポート」をクリックしてください。ダウンロードしたzipパッケージを、Monacaのプロジェクト作成画面でインポートすることで、そのままMonacaのプロジェクトとして作成できます。</p>

  <ul id="apps" class="grid apps-item">
    <li class="item-1">
      <img class="no-image" src="/img/book/school/no_image.png" alt="" />
    </li>
    <li class="item-2">
      <img class="no-image" src="/img/book/school/no_image.png" alt="" />
    </li>
    <li class="item-3">
      <img class="no-image" src="/img/book/school/no_image.png" alt="" />
    </li>
    <li class="item-4">
      <img class="no-image" src="/img/book/school/no_image.png" alt="" />
    </li>
  </ul>

  <h2>発展的な<br class="visible-xs">サンプルアプリ</h2>
  <p>本書で解説するサンプルアプリは、Monacaデバッガーを使って実機上でそのまま実行できます。各画面下の「Monacaにインポート」をクリックしてください。ダウンロードしたzipパッケージを、Monacaのプロジェクト作成画面でインポートすることで、そのままMonacaのプロジェクトとして作成できます。</p>

  <ul id="apps" class="grid apps-item">
    <li class="item-1">
        <img class="no-image" src="/img/book/school/no_image.png" alt="" />
    </li>
    <li class="item-2">
        <img class="no-image" src="/img/book/school/no_image.png" alt="" />
    </li>
    <li class="item-3">
        <img class="no-image" src="/img/book/school/no_image.png" alt="" />
    </li>
    <li class="item-4">
        <img class="no-image" src="/img/book/school/no_image.png" alt="" />
    </li>
  </ul>
</div>

<div class="container section book-outline box-full">
  <h2>本書の概要</h2>
  <div class="grid">
    <div class="contents grid-item">
      <h3><span>目次</span></h3>
      <ul >
        <li>はじめに だれでも今日からアプリ開発！</li>
        <li>第一章 Monacaでモバイルアプリを開発しよう</li>
        <li>第二章 HTML入門</li>
        <li>第三章 CSS入門</li>
        <li>第四章 JavaScript入門</li>
        <li>第五章　条件分岐</li>
        <li>第六章　関数</li>
        <li>第七章　イベント</li>
        <li>第八章　DOM</li>
        <li>第九章　フォーム</li>
        <li>第十章　いろいろな演算子</li>
        <li>第十一章　配列</li>
        <li>第十二章　繰り返し</li>
      </ul>
      <ul>
        <li>付録一<span class="fs-12">：Monacaの使い方</span></li>
      </ul>
      <ul>
        <li>付録二：<span class="fs-12">ハードウェア機能の使い方</span></li>
        <li><span class="fs-12">位置情報取得機能</span></li>
        <li><span class="fs-12">カメラ機能</span></li>
        <li><span class="fs-12">加速度センサー機能</span></li>
      </ul>
      <ul>
        <li>付録三：<span class="fs-12">連携サービス</span></li>
        <li><span class="fs-12">Microsoft Azure</span></li>
        <li><span class="fs-12">IBM Bluemix</span></li>
        <li><span class="fs-12">ニフティクラウド mobile backend</span></li>
        <li><span class="fs-12">Onsen UI</span></li>
      </ul>
    </div>
    <div class="outline grid-item">
      <h3><span>概要</span></h3>
      <div>
        <p>プログラミングを学ぶためには興味を持てる内容に挑戦することが大切です。最近ではスマートフォンなどのモバイルアプリ開発に興味を持っている人が増えています。本書はアプリ開発を通じてプログラミングの基礎を学べる入門書です。<br><br>
        一般的にアプリ開発はハードルが高いものだと考えられています。iOSやAndroidといったモバイルOSはOS毎に標準の開発言語やツールが異なり、またバージョンアップなどの変化が多いため開発者は常に最新の状況に追従できるように備える必要があります。<br><br>
        しかし、クラウドの開発環境ならツールのアップデートをクラウド側で行うため開発者はツールのセットアップから解放されます。また、HTML5やJavaScriptといった標準化された言語を応用したハイブリッドアプリ開発手法を用いることで複数のOSへの対応は容易になります。<br><br>
        本書ではクラウド開発環境Monacaを採用することで、プログラミング未経験者でも挫折せずにアプリ開発を学習できる本です。また、Monacaはハイブリッドアプリ開発手法に対応しているため、開発したアプリは各種モバイルOS用のアプリとしてアプリストアに登録することもできます。<br><br>
        またMonacaには無料のBASICプランが用意されているのですが本書ではBASICプランの方が教育用の特別プランを3ヶ月分利用できる『アクティベーションコード』を3ヶ月分付録としてセットいたしました。<br><br>
        これからプログラミングを学びたい方にお勧めの一冊です。</p>
      </div>
    </div>
  </div>
</div>

<div class="container section sample-apps box-full company">
  <h2>連携サービスのアプリと提供企業紹介</h2>
  <div class="company-detail">
    <ul class="clearfix">
      <li><img src="/img/book/school/logo_onsenUI.png"></li>
      <li>Microsoft Azure</li>
      <li><span class="company-name">提供元：<br class="visible-xs">マイクロソフト</span></li>
    </ul>
    <dl>
      <dt>サービス紹介</dt>
      <dd>
        Microsoft　Azureは、Webサイトを公開するための「Webサーバー」や、大量のデータを蓄積・選別し、必要に応じて引き出す技術である「SQLデータベース」などクラウド上で利用できるさまざまな機能を包括したサービスの総称です。モバイルアプリで利用するデータを管理する機能は「Mobile Apps」という名称で提供されています。<br>
        Mobile Apps は、学生が無償利用できる「Microsoft Azure for DreamSpark」からも利用可能です。ぜひ、登録して、利用してみてください。
      </dd>
    </dl>
    <dl>
      <dt>サンプル紹介</dt>
      <dd>
        『メモアプリ』と『クイズアプリ』を提供しています。<br>
        Microsoft Azureの Mobile Appsを利用することでメモデータを保存したり、クイズアプリの出題内容をいつでも変更できるようになっています。
      </dd>
    </dl>
  </div>

  <div class="company-detail">
    <ul class="clearfix">
      <li><img src="/img/book/school/logo_onsenUI.png"></li>
      <li>ニフティクラウド mobile backend</li>
      <li><span class="company-name">提供元：<br class="visible-xs">ニフティ株式会社</span></li>
    </ul>
    <dl>
      <dt>サービス紹介</dt>
      <dd>
        ニフティクラウドmobile backendはモバイルアプリでよく利用される「サーバー」機能を提供するものです。スマートフォンへの通知を送る「プッシュ通知」、ログイン・ログアウトを行う「会員管理」、データの保存ができる「データストア」、写真・動画等サイズの大きいファイルを保存する「ファイルストア」、SNS認証を行う「SNS連携」、データストア上で位置情報の保存・管理が行える「位置情報検索」などの機能を提供しています。
      </dd>
    </dl>
    <dl>
      <dt>サンプル紹介</dt>
      <dd>
        ランキング機能を組み込んだ『ブロック崩しアプリ』と『』様々な人が訪れた場所を地図上に登録する『あしあとマップ』アプリを提供しています。ランキングのスコアやGPSで取得した位置情報を、ニフティクラウド mobile backendの「データストア」に保存します。
      </dd>
    </dl>
  </div>

</div>

<div id="how-to-buy" class="container section book-outline box-full howto">
  <h2>購入方法</h2>
    <p>スマートフォン向けアプリケーション開発では、iOS、Androidの両プラットフォームへの対応が求められることが多い一方、それぞれに対応することは、Objective-C、Javaによる異なる開発スキルが必要です。そこで現在注目されているのが、HTML5によるハイブリッドアプリです。本書では、フレームワークApache Cordovaによるアプリ開発。</p>
    <div class="coming-soon">COMING SOON</div>
</div>


<script>
window.addEventListener("load", function() {
  "use strict";

  var resizeTimer = null;
  var touchFlag = false;

  function onResize() {
   if (window.innerWidth >= 992) {
     $("#apps li").tile(4);
   } else {
     $("#apps li").tile(2);
   }
  }

  $(function() {
    onResize();
    window.onresize = function() {
      if (resizeTimer) clearTimeout(resizeTimer);
      resizeTimer = setTimeout(onResize, 100);
    }

    $("#apps li figure").on({
      "mouseenter": function(e) {
        $(this).addClass("on");
      },
      "mouseleave": function(e) {
        $(this).removeClass("on");
      },
      "touchstart": function(e) {
        touchFlag = true;
        setTimeout(function() {
          touchFlag = false;
        }, 500);

        if ($(this).hasClass("on")) {
          $(this).removeClass("on");
        } else {
          $("#apps li figure").removeClass("on");
          $(this).addClass("on");
        }
      },
    });

    $("#apps figure .btn-import").on({
      "touchstart": function(e) {
        e.stopPropagation();
      },
      "click": function(e) {
        if (touchFlag) e.preventDefault();
      }
    })

  })
})
</script>