---
title: 事例を登録する | MonacaでHTML5モバイルアプリ開発
class: showcase
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---
<div id="main-wrap">
  <section id="case_add" class="subpage">
    <div class="container">
      <h1>事例を登録する</h1>
      <p>あなたのアプリを事例ページで宣伝しませんか?<br />
      (<span class="required">*</span>印は必須項目です)</p>

      <div class="form-error" id="estimate-form-errors"></div>
      <div class="form-error" id="unknown-error">エラーが発生しました。ページをリロードしてやり直して下さい。</div>

      <form>
        <table>
          <tr>
            <th>会社名</th>
            <td>
              <input type="text" name="form[company]" id="company" /><br />
              <span class="annotation">アプリはこの会社名とともに紹介されます。</span>
            </td>
          </tr>
          <tr>
            <th>氏名<span class="required">*</span></th>
            <td>
              <input type="text" name="form[developer]" id="developer" /><br />
              <span class="annotation">アプリはこのお名前とともに紹介されます。</span>
            </td>
          </tr>
          <tr>
            <th>開発者名<span class="required">*</span></th>
            <td>
              <input type="text" name="form[name]" id="name" /><br />
              <span class="annotation">アプリはこのお名前とともに紹介されます。</span>
            </td>
          </tr>
          <tr>
            <th>連絡先メールアドレス<span class="required">*</span></th>
            <td>
              <input class="wide" type="text" name="form[email]" id="email" /><br />
              <span class="annotation">ご連絡のため、メールアドレスは必要です。</span>
            </td>
          </tr>
          <tr>
            <th>AppStoreでのアプリのURL</th>
            <td><input type="text" name="form[url_appstore]" class="wide" id="url-appstore" /><br />
            <span class="annotation">例： http://itunes.apple.com/jp/app/monaca/id550941371</span></td>
          </tr>
          <tr>
            <th>Google Playストアでの<br />アプリのURL</th>
            <td><input type="text" name="form[url_googleplay]" class="wide" id="url-googleplay" /><br />
            <span class="annotation">例： https://play.google.com/store/apps/details?id=mobi.monaca.debugger</span></td>
          </tr>
          <tr>
            <th>Cordovaバージョン: </th>
            <td>
              <select style="height: 25px;" name="form[cordova_version]" class="wide" id="cordova_version">
                <option value="none">未選択</option>
                <option value="6.2">6.2</option>
                <option value="5.2">5.2</option>
                <option value="4.2">4.2</option>
                <option value="3.5">3.5</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>使用したCordovaプラグイン<br /><font size="-3">(サードパーティー製Cordovaプラグイも含む)</font></th>
            <td><textarea class="tarea" name="form[plugins]" id="plugins" ></textarea><br />
            <span class="annotation">例： BarCodeScanner, Cameraなど.</span></td>
          </tr>
          <tr>
            <th><div style="vertical-align:top; position:relative;">使用フレームワーク名と<br/>バージョン</div></th>
            <td><textarea class="tarea" name="form[framework]" id="framework" ></textarea>
            <br/><span class="annotation">例： Onsen UI 2.0.5など</span><br/>
            </td>
          </tr>
          <tr>
            <th>使用JavaScriptライブラリーと<br/>バージョン</th>
            <td><textarea class="tarea" name="form[java_script]" id="java_script"></textarea>
                <br /><span class="annotation">例： jQuery 3.1.1など</span><br/>
            </td>
          </tr>
          <tr>
            <th></th>
            <td><p>・アプリが事例ページに掲載されるかどうかは、Monacaチームによって判断されます。<br />
            ・アプリのスクリーンショットや紹介文はMonacaチームによって記述されます。<br />
            ・登録したアプリは必ず事例ページに掲載されるわけではないことをご了承ください。</p></td>
          </tr>
          <tr>
            <th></th>
            <td><input class="btn-black" id="send" type="button" value="事例を登録する" /></td>
          </tr>
        </table>
      </form>
    </div>
  </section>
</div>
