---
title: Submit Your App | HTML5 cross-platform mobile app development with Monaca
class: showcase
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
---
<div id="main-wrap">
  <section id="case_add" class="subpage">
    <div class="container">
      <h1>Submit Your App</h1>
      <p>Let the World Discover Your App in the Showcase!<br />
        (<span class="required">*</span> Required field)</p>

      <div class="form-error" id="estimate-form-errors"></div>
      <div class="form-error" id="unknown-error">Please reload this page and try again.</div>

      <form>
        <table>
          <tr>
            <th>Developer's Name<span class="required">*</span></th>
            <td>
              <input type="text" name="form[name]" id="name" /><br />
              <span class="annotation">This name will be included with the app.</span>
            </td>
          </tr>
          <tr>
            <th>App Store URL</th>
            <td><input type="text" name="form[url_appstore]" class="wide" id="url-appstore" /><br />
              <span class="annotation">Example: http://itunes.apple.com/jp/app/monaca/id550941371</span></td>
          </tr>
          <tr>
            <th>Google Play URL</th>
            <td><input type="text" name="form[url_googleplay]" class="wide" id="url-googleplay" /><br />
              <span class="annotation">Example: https://play.google.com/store/apps/details?id=mobi.monaca.debugger</span></td>
          </tr>
          <tr>
            <th></th>
            <td><p>
              - The Monaca Team will review your app and decide whether to include it in the Showcase.
              - Monaca Team will create the app's screenshot and description.
              - Please note that not all submitted apps will be eligible for inclusion in the Showcase.
            </p></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <input class="btn-black" id="send" type="button" value="Submit Your App" />
              <input class="btn-orange show_loginpopup" id="login-required" style="display:none" type="button" value="Login required" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </section>
</div>
