---
title: Monaca導入事例：株式会社スタジオキャンビー
class: showcase canbe
description: 海外インターン受入れをきっかけにバス運行情報アプリでタンザニア市場へ進出
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    株式会社スタジオキャンビー
  <em>BongoFaster</em>
</header>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">海外インターン受入れをきっかけにバス運行情報アプリ<br>でタンザニア市場へ進出</h1>
      <img src="/img/canbe/keyvisual.png" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">海外インターン受入れをきっかけにバス運行情報アプリ<br>でタンザニア市場へ進出</h1>

    <div class="info-cont">
        <h1><img src="/img/canbe/logo_canbe.png" alt="株式会社スタジオキャンビー" /></h1>

        <dl>
            <dt>名称</dt>
            <dd><em>株式会社スタジオキャンビー</em></dd>
        </dl>
        <dl>
            <dt>代表取締役</dt>
            <dd>神戸 貴弘</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2002年3月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="https://www.studio-canbe.com/" target="_blank">https://www.studio-canbe.com/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成31年1月現在）</a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>「BongoFaster」は、タンザニアの最大の都市ダルエスサラームで近年構築されたバス高速輸送システム「BRT（Bus-Rapid-Transit）」の運行システムの情報検索アプリです。神戸情報大学院大学へのタンザニアから留学生のジェームス・ムマリ氏と共同開発が行われ、現在はベータ版がリリースされています。</p><br>
        <p>アプリ内の機能としては<br>
            <ul class="function_list">
                <li>バスのルートと詳細検索</li>
                <li>バス停検索</li>
                <li>タイムテーブル検索</li>
                <li>バスの現在地検索</li>
                <li>バス会社オペレーターによるニュース、案内受信</li>
                <li>バス会社オペレーターおよびアプリ開発者へのフィードバック</li>
            </ul>
        </p>
        <p>が提供されています。</p>
        <img class="sp-img" src="/img/01/img_1.png" alt="">
    </div>
</section>

<section class="app-info backstory-pc">
    <div class="nowrap">
        <h1>ハイブリッドアプリ開発を選択した経緯</h1>
        <p>神戸情報大学院大学ICTイノベータコースへのタンザニアからの留学生のジェームス・ムマリ氏をインターンシップで受け入れたことをきっかけに「BongoFaster」の開発が始まりました。ムマリ氏の出身地タンザニア最大の都市ダルエスサラームでは、産業振興と交通渋滞の緩和を目的に、専用レーンを走る路線バスシステムBRT（バス・ラピッド・トランジット）が近年構築されましたが、バスの運行情報やバス停の位置などが分かりづらいため利用者が伸びないという課題を抱えていました。</p>
        <p>ムマリ氏は留学中に見た日本のバス運行情報システムに感銘を受け、同様のシステムをタンザニアでも普及しているスマホ向けのアプリとして提供できれば、BRTが抱える多くの課題を解決できると考え開発に至りました。</p>
        <p>6ヶ月間というインターンシップ実施期間の中でアプリ開発が未経験のムマリ氏がiOSとAndroidのアプリを同時にリリースする必要があったため、同社でも開発実績のあったMonacaでのハイブリッドアプリ開発を選択しました。</p>
    </div>
    <img src="/img/canbe/img_2.png" alt="" class="nowrap sp-img" />
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/canbe/interview_1.png" alt="神戸 貴弘氏" />
        <figcaption>株式会社スタジオキャンビー<br>代表取締役 兼 CTO<br>神戸 貴弘氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>株式会社スタジオキャンビーの代表取締役兼CTOの神戸貴弘氏に、インターンの受け入れやアプリ開発プロジェクトについて、またタンザニアでの活動などについておたずねしました。</p>

        <h2>Q1. アフリカ諸国からの社会人留学生を受け入れられているのですね。</h2>
        <p><b>神戸氏</b>　アフリカの若者のための産業人材育成を目的とした「ABEイニシアティブ」というプログラムがあり、神戸情報大学院大学で留学生の受け入れを行っています。当社では同大学院での就学後の留学生をインターン生としてうけいれており、ハイブリッドアプリ開発を学んでもらっています。2017年からこれまで6人のインターン生を受け入れてきました。</p>

        <h2>Q2. タンザニアのBRTが抱えている課題を詳しく教えてください。</h2>
        <p><b>神戸氏</b>　従来型のタンザニアの路線バスでは時刻表の記載がなく、また都市部の渋滞も激しいため、利用者は「バスは、バス停に来て待っているといつか来る」という認識でした。また、バスステーションにルート案内もなく、どのバスがどこに行くかがとても分かりづらいのです。</p>
        <p>新しくできた「BRT」は専用道路を走り渋滞の影響も受けにくいものなのですが、利用者からは従来の路線バスとの違いがあまり認知されていませんでした。</p>
        <p>留学生が日本で時刻表に則って正確に運行されている日本の路線バス事情を知って、タンザニアのBRTの課題を解決するためにモバイルアプリで情報提供をしようと考えたようです。スマートフォンは、現地でもかなり普及をしているようです。</p>

        <img src="/img/canbe/qa_img.png" alt="">

        <h2>Q3. BRTとの連携はどのように行っているのでしょうか？APIなどで情報を得られるのですか？</h2>
        <p><b>神戸氏</b>　データが一般公開されているようなものではなく、留学生を通じて直接BRTの運行会社へ提案・交渉を行い、データをご提供いただいています。運行データはサーバーからアプリにダウンロードし、変更があったときには都度データ更新する、という仕組みを採っています。日本のように通信環境が整備されていなので、アプリ内にデータを保存しオフラインでも使える方が利便性が高いと判断しました。</p>

        <h2>Q4. 「BongoFaster」の正式版の公開はいつ頃になりそうですか?</h2>
        <p><b>神戸氏</b>　「BongoFaster」をきっかけに、当社もアフリカでのビジネス展開の検討を始めています。JICAの海外展開支援事業にも採択され2019年から本格的な現地調査を実施します。</p>
        <p>GPSや車内モニターなどBRTに敷設されているはずのシステムが実際には機能していなかったりするのですが、その辺りの稼働状況も調査してアプリと連携をさせたいと思っています。</p>
        <p>また、現地の自治体からもBRT公式アプリの承認もとりたいと思っています。<br>これらが整ってくればタンザニア政府公認の「BongoFaster」正式版のリリースができるのではないかと考えています。</p>

        <h2>Q5. 今後どのようなビジネス展開を考えているのでしょうか？</h2>
        <p><b>神戸氏</b>　「BongoFaster」を軸に、BRT周辺の広告ビジネスが展開出来るのではないかと考えています。現地の企業以外にも、今後タンザニアへ進出したい日本企業から出稿してもらえるように動きたいと考えてはいます。</p>
        <p>その他にもアフリカはモバイルアプリを含むICT関連での市場参入はしやすい状況だと思います。日本で何か新しいサービスを始めようと思っても、競合が激しくそれらを上回るのは大変です。しかしアフリカではまだ競争も少なく、チャンスがたくさんあると考えています。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/canbe/interview_1.png" alt="神戸 貴弘氏" /></dt>
            <dd><figcaption>株式会社スタジオキャンビー<br>代表取締役 兼 CTO<br>神戸 貴弘氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container download">
    <p>「BongoFaster」のダウンロードはこちらから</p>
    <a href="https://itunes.apple.com/jp/app/bongofaster/id1338603772?mt=8" alt="App Store" target="_blank"><img src="/img/hitachitool/bnr_appstore.png" alt="App Store"></a>
    <a href="https://play.google.com/store/apps/details?id=tz.co.bongofaster.app&hl=ja" target="_blank"><img src="/img/hitachitool/bnr_googleplay.png" alt="Google Play"></a>
</div>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
    <a class="list-back" href="/showcase/">事例一覧に戻る</a>
</div>