---
title: Monaca導入事例：株式会社クラボード
class: showcase clubood
description: ネイティブ開発に比較して2倍の開発生産性を実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    株式会社クラボード
    <em>cPost</em>
</header>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">ネイティブ開発に比較して2倍の開発生産性を実現</h1>
      <img src="/img/clubood/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">ネイティブ開発に比較して2倍の開発生産性を実現</h1>

    <div class="info-cont">
        <h1><img src="/img/clubood/logo_clubood.png" alt="株式会社クラボード" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社クラボード</em></dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2010年5月18日</dd>
        </dl>
        <dl>
            <dt>資本金</dt>
            <dd>1,080万円（資本準備金含む）</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://clubood.co.jp/" target="_blank">http://clubood.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成28年12月末現在）</a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>「cPost」は、お店がお客様と一緒にホームページを作り上げることができるスマホ・アプリサービスです。cPost加盟店は募集テーマとインセンティブとなるデジタルクーポンを用意するだけで、ホームページに掲載できる投稿型コンテンツを簡単に集めることができます。お店以外でも展示イベントなどでも活用されています。</p>
        <img class="sp-img" src="/img/clubood/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/clubood/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>株式会社クラボードは、企業の業務システムとして利用されるモバイルアプリ開発の多くの実績があり、特にiOS向けのアプリ開発を得意としていました。しかし、今回開発を行った「cPost」は、一般消費者が使うアプリのためiOSアプリとAndroidアプリの両方が必要でした。さらに開発開始時点でβテストの実施が決まっていた展示イベントの開催日が迫っていたこともあり、iOS、Android向けのアプリが同時開発できるMonacaの採用にいたりました。</p>
    </div>
    <img src="/img/clubood/img_2.jpg" alt="" class="alignright nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>1ヶ月という短期間でβテスト用のアプリがリリースできた</li>
        <li>HTMLなのでデザイナーが画面のコーディングまで担当できた</li>
        <li>ネイティブ開発と比較して少なくとも2倍の開発生産性が出せた</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/clubood/img_clubood_uemura.jpg" alt="&#39641;橋 克己 氏" />
        <figcaption>株式会社クラボード<br />代表取締役<br>上村 公彦 氏</figcaption>
        <img src="/img/clubood/img_clubood_hayashi.jpg" alt="峰松 浩樹 氏" />
        <figcaption>株式会社クラボード<br />取締役<br>林 宗漢 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「cPost」の開発元である株式会社クラボード代表取締役の上村 公彦氏と取締役の林 宗漢氏にお話をうかがいました。</p>
        <h2>Q1.cPostの開発経緯を教えてください。</h2>
        <p><span class="name">上村氏</span>　以前から、リセラーを通じた販売方法にてモバイルサイト専用のCMSの展開を行っていました。その中で、多くの企業がコンテンツの管理以上に、コンテンツの企画や制作に悩まれていることに気付き、お客様の声などを集めてコンテンツ化する仕組みとしてcPostを企画しました。
        <br>
        実際cPostのβサービスをある展示会で実施したのですが、多数の来場者の声をWebコンテンツ化することができ大変好評でした。</p>

        <h2>Q2.Monacaの第一印象について教えてください。</h2>
        <p><span class="name">上村氏</span>　cPostは一般消費者にご利用いただくアプリなので、iOS、Androidの両対応が必須でした。弊社ではiOSアプリ開発の経験が豊富な一方でAndroidアプリ開発の経験が少なく、クロスプラットフォームツールを探していたところ、展示会でMonacaを見つけました。個人で頻繁に使っている某アプリもMonaca製のアプリだということを知り、すぐに開発を担当する林に技術調査を指示しました。</p>
        <p><span class="name">林氏</span>　以前、別のクロスプラットフォームツールを使った経験があったので、Monacaを採用することへの抵抗は特にありませんでした。当初はクラウドIDEで調査を始めたのですが、ソースコードを保存するだけですぐにMonacaデバッガーで動作確認ができたのに驚きました。またドキュメントとサンプルコードが充実していたので安心感がありました。</p>

        <h2>Q3.Monacaの使い勝手はいかがでしたでしょうか？</h2>
        <p><span class="name">林氏</span>　本番開発では、Monaca Localkitを使って開発を行いました。普段から使っているPhpStorm IDEやBitbucketなどと組み合わせてMonacaが使えたのが良かったです。開発生産性を考えるとこれは非常に重要なポイントでした。
        <br>
        また、画面もHTMLで作れるため画面デザインをHTML化するところまでをデザイナーの作業分担にできたことで開発サイドの効率があげられました。
        <br>
        開発生産性はネイティブ開発と比較すると軽く倍はあったという感覚です。</p>

        <h2>Q4.御社のモバイルアプリ関連のビジネスの展望について教えて下さい。</h2>
        <p><span class="name">上村氏</span>　cPostについては、応用範囲も広いこともあり正式リリース後に様々な引き合いをいただいています。今後の展開については、色々な可能性を模索中です。また今回のプロジェクトでMonacaがiOS、Androidの両対応アプリを開発する上で非常に有用な開発ツールだということが実証できたので、業務アプリ開発の受託プロジェクトについてもマルチプラットフォーム対応の要件が出てきたらMonacaを積極的に活用していきたいと考えています。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/clubood/img_clubood_uemura.jpg" alt="&#39641;橋 克己 氏" /></dt>
            <dd><figcaption>株式会社クラボード<br />代表取締役<br>上村 公彦 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/clubood/img_clubood_hayashi.jpg" alt="峰松 浩樹 氏" /></dt>
            <dd><figcaption>株式会社クラボード<br />取締役<br>林 宗漢 氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container download">
    <p>「cPost」のダウンロードはこちらから</p>
    <a href="https://itunes.apple.com/jp/app/cpost-shiposuto/id1136297605?mt=8" target="_blank"><img src="/img/jtrust/bnr_appstore.png" alt="App Store"></a>
    <a href="https://play.google.com/store/apps/details?id=jp.co.clubood.cpost&hl=ja" target="_blank"><img src="/img/jtrust/bnr_googleplay.png" alt="Google Play"></a>
</div>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>
