---
title: Monaca導入事例：ケンブリッジ・テクノロジー・パートナーズ株式会社
class: showcase ctp
description: 社内ハッカソンから生まれた情報漏洩防止カメラアプリ
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    ケンブリッジ・テクノロジー・パートナーズ株式会社
  <em>セ<span class="ls-100">キュ</span>ア<span class="ls-100">ショッ</span>ト</em>
</header>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">社内<span class="ls-100">ハッカソン</span>から生まれた<br />情報漏洩防止<span class="ls-100">カメラアプリ</span></h1>
      <img src="/img/ctp/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">社内ハッカソンから生まれた情報漏洩防止カメラアプリ</h1>

    <div class="info-cont">
        <h1><img src="/img/ctp/logo_ctp.png" alt="ケンブリッジ・テクノロジー・パートナーズ株式会社" /></h1>

        <dl>
            <dt>名称</dt>
            <dd><em>ケンブリッジ・テクノロジー・パートナーズ株式会社</em></dd>
        </dl>
        <dl>
            <dt>代表取締役社長</dt>
            <dd>鈴木 努</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1997年6月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="https://www.ctp.co.jp/" target="_blank">https://www.ctp.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成29年12月現在）</a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>「セキュアショット」はスマートデバイスで撮影した機密情報を含む写真をデバイスに一切残さず、安全に業務で利用できるアプリです。スマートデバイスで撮影した機密情報を含む写真を端末に保存せず、簡単操作で予め登録したメールアドレスに送付することができます。これによりスマートデバイス紛失における写真の情報漏洩リスクを完全に排除できます。</p>
        <img class="sp-img" src="/img/ctp/img_1.png" alt="">
    </div>
</section>

<section class="app-info backstory-pc">
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>日本ユニシスグループでファシリテーション型コンサルティングサービスを提供するケンブリッジ・テクノロジー・パートナーズ株式会社では、コンサルティング業務を通じて顧客の機密情報を扱う機会が多く、特に会議の際にスマートデバイスで撮影した板書の写真の扱いが問題になっていました。社内ハッカソンを通じてこの問題を解決するカメラアプリ「セキュアショット」が発表され評価が高かったため製品化が決定しました。</p>
        <p>iOS、Androidの両OSに対応したアプリを短期間でリリースが必要だった点と、担当エンジニアがWebアプリ開発の経験があったことから、学習コストを抑えてモバイルアプリ開発が行えるMonacaの採用に至りました。</p>
    </div>
    <img src="/img/ctp/img_2.png" alt="" class="nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>ハッカソンから生まれたアイデアを短期間で製品化</li>
        <li>初のアプリ開発挑戦も学習コストを抑えてiOS、Android同時開発</li>
        <li>Monacaデバッガーで遠隔地でもすぐにアプリのUIチェック</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/ctp/img_ctp_morishita.jpg" alt="森下 氏" />
        <figcaption>ケンブリッジ・テクノロジー・<br />パートナーズ株式会社<br />シニアコンサルタント　森下 直樹 氏</figcaption>
        <img src="/img/ctp/img_ctp_miyata.jpg" alt="宮田 氏" />
        <figcaption>ケンブリッジ・テクノロジー・<br />パートナーズ株式会社<br />コンサルタント　宮田 康治 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「セキュアショット」の企画・開発を担当されたケンブリッジ・テクノロジー・パートナーズ株式会社の森下直樹氏、宮田康治氏にお話をお聞きしました。</p>
        <h2>Q1.「セキュアショット」の企画・開発背景を教えてください。</h2>
        <p><span class="name">森下氏</span>　我々はコンサルティング業務を通じてお客様の機密情報を扱う機会が多く、特に会議の際にスマートデバイスで撮影した板書の写真の扱いが問題になっていました。そんな課題を解決する「スマートフォンに写真が残らないカメラアプリ」を日本ユニシスグループの社内ハッカソンの際に提案したところ入賞し、それを引き継ぐ形で本格的に開発に入りました。</p>
        <p>また我々はコンサルタントとしてクライアントの事業創造をお手伝いしているので、我々自身も製品化の経験を社内に蓄積するという狙いもあり、社内ツールではなく外販も行う製品として世の中に出すことになりました。</p>

        <h2>Q2.アプリ開発ツールにMonacaを採用した理由を教えてください。</h2>
        <p><span class="name">宮田氏</span>　モバイルアプリの開発の経験がない中で非常に短い期間でiOS、Androidの両方のアプリをリリースする必要がありました。私は前職でPHPを使ったWebサービスの開発をやっていた経験があったので、MonacaであればWebサービスの延長でJavaScriptは習得しながらでも開発を早期に開始できると思いました。とにかく開発スピードを重視していました。</p>
        <p>他のクロスプラットフォームツールとも比較しましたが、Monacaが圧倒的に学習コストや開発環境の準備にかかる手間が少なかったのが決め手になりました。</p>

        <h2>Q3.「セキュアショット」の成果について教えて下さい。</h2>
        <p><span class="name">森下氏</span>　「セキュアショット」を弊社コンサルタント全員が必ず使うツールとして利用を徹底することで、スマホの写真のセキュリティ問題が解決できました。また、日経産業新聞に記事掲載されたり、展示会に出展する中で、徐々に販売実績も上がってきています。</p>
        <p>またもう一つの目的であった、実際に製品を企画しリリースするという一連の流れを社内の経験値として蓄積できたことも非常に大きいと感じています。</p>

        <h2>Q4.Monacaでのアプリ開発で工夫をした点があれば教えて下さい。</h2>
        <p><span class="name">宮田氏</span>　シンプルなUIを目指し、機能を最小限にとどめることで使い勝手の向上と短期間でのサービスリリースを両立しました。この狙い通り、モバイルアプリ開発は今回が初めてでしたが、非常にスムーズに開発プロジェクトは進みました。一番苦労したのは開発ではなくてApp Storeへの申請だったかもしれません。</p>
        
        <h2>Q5.Monacaの使い勝手はいかがでしたか？</h2>
        <p><span class="name">宮田氏</span>　学習コストが低くiOS、Androidのアプリを同時に開発することができたので、主要機能は1ヶ月程度で完成させることができました。カメラ機能もCordova標準のプラグインで実現できました。この開発スピードはMonacaを使っていなかったら出せなかったと思います。また、Monacaデバッガーでアプリの動作確認がすぐにできるのは便利でした。遠隔地にいるディレクターにもMonacaデバッガーを通じてすぐにアプリの使い勝手を確認してもらえたのは助かりました。</p>
        
        <h2>Q6.今後の展開について教えて下さい。</h2>
        <p><span class="name">森下氏</span>　セキュアショットはシンプルな機能にとどめたためユーザーからは板書をOCRでテキストにしてほしいなどの要望をもらっています。このような要望に応えていくことは今後検討していきたいと思います。</p>
        <p>また、スマホでのカメラ撮影のセキュリティレベルを上げるという機能は汎用的なものなので、別のシステムの一機能として提供するというような相談も受けております。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/ctp/img_ctp_miyata.jpg" alt="宮田 氏" /></dt>
            <dd><figcaption>ケンブリッジ・テクノロジー・パートナーズ株式会社<br />プラットフォーム推進課<br>課長<br>宮田 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/ctp/img_ctp_morishita.jpg" alt="森下 氏" /></dt>
            <dd><figcaption>ケンブリッジ・テクノロジー・パートナーズ株式会社<br />CROSS営業1課<br>係長<br>森下 氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container download">
    <p>「セキュアショット」のダウンロードはこちらから</p>
    <a href="https://itunes.apple.com/jp/app/%E3%82%BB%E3%82%AD%E3%83%A5%E3%82%A2%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88/id1142556909?mt=8" alt="App Store" target="_blank"><img src="/img/hitachitool/bnr_appstore.png" alt="App Store"></a>
    <a href="https://play.google.com/store/apps/details?id=com.kaigicamera.app&hl=ja" target="_blank"><img src="/img/hitachitool/bnr_googleplay.png" alt="Google Play"></a>
</div>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
    <a class="list-back" href="/showcase/">事例一覧に戻る</a>
</div>