---
title: Monaca - 導入事例：同志社中学校・高等学校
class: showcase doshisha
description: プログラミングが初めての生徒たちがアプリ開発を通じて「作る喜び」を実感
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---
<header>
    <div class="image-wrapper">
        <img src="/img/doshisha/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1>
        プログラミングが初めての生徒たちが<br />アプリ開発を通じて「作る喜び」を実感
    </h1>
    <div class="info-cont">
        <img class="img-lg" src="/img/doshisha/logo_doshisha.png" alt="同志社中学校・高等学校" />
        <h3>同志社中学校・高等学校</h3>
        <hr>
        <ul>
            <li>鈴木 潤先生</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="proroutemarumitsu.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">株式会社プロルート丸光</a>
    <a href="flexion.html" class="next">株式会社フレクションコンサルティング<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1>授業の紹介</h1>
        <p>高等学校で普通教科「情報」がスタートし、同志社高校1年の必修科目「社会と情報」の中でOfficeソフトの使い方やネットワークの仕組み、知的財産権の学習などを行われていました。<br />コンピューターを活用するためには、ソフトウェアの利用方法だけではなく原理や仕組みを理解し自分自身で作り出していく力が必要だ、という考えに基づき、2014年よりカリキュラム変更にあわせて高校３年の自由選択科目として「情報特論」を設置。「情報特論」では、主にプログラムやアルゴリズム、データベースの学習が行われています。</p>
        <img class="sp-img" src="/img/doshisha/img_1.jpg" alt="">
    </div>
</section>

<section class="app-info backstory-tablet">
    <div>
        <h1>Monaca採用の背景</h1>
        <p>プログラミングの授業を実施するにあたり、情報特論で重視していたのは生徒たちに「自分自身で作ったものが動く喜びを感じさせる」ということでした。教育向けプログラミング言語など複数検討した結果、より実践的な学習ができるMonacaが採用されました。また、クラウド上の開発環境がすぐに使えるというMonacaの特徴も、授業の進行のしやすさ、生徒の予習、復習のしやすさという観点で高く評価されました。</p>
        <img class="sp-img" src="/img/doshisha/img_2.jpg" alt="">
    </div>
</section>


<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>アプリ開発を通じて、自分自身で作ったものが動く喜びを感じてもらえた</li>
        <li>ログインするだけで開発環境がつかえるので授業進行がスムーズになった</li>
        <li>開発環境がクラウド上にあるので、帰宅後の予習復習がやりやすくなった</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/doshisha/img_portrait_suzuki.jpg" alt="" />
        <figcaption>同志社中学校・高等学校<br />鈴木 潤 先生</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>授業にMonacaを採用された意図や、その効果について同志社中高情報科の鈴木潤先生に<br />お話をおうかがいしました。</p>
        <h2>Q1.Monacaを活用した授業の目的について教えてください。</h2>
        <p>受講した生徒に「自分自身で作ったものが動く喜びを感じさせる」というのが授業の大きな目的です。カリキュラムの関係で「情報特論」を受講できる生徒は主に文系の進路を考えている生徒に限られます。今までプログラミングを経験したことがない生徒がほとんどです。最近の生徒の一番身近なコンピューターはスマホです。スマホ上で動くアプリを作る体験ができれば、プログラミング自体にも、もっと深い興味を持ってもらえると考えました。</p>

        <h2>Q2.Monaca以外に検討されたプログラミングツールはありますか？</h2>
        <p>LOGOやSqueak、Scratchなどの教育用のプログラミングも検討しましたが、これらはプログラミング体験や概念の理解をするには適切ですが、より実践的な経験を積ませるためには物足りないと感じました。一方で、私がプログラミングを学んだ頃の授業ではサンプルコードをひたすら打つという授業が多かったのですが、その様なやり方では、多くの生徒はソースコードの写経で終わってしまうと考えました。「自分自身で作ったものが動く喜びを感じさせる」という目的に一番合致していたのがMonacaでした。</p>

        <h2>Q3.実際にMonacaを使ってよかった点を教えて下さい。</h2>
        <p>開発環境がクラウド上にあるというのは画期的でした。学校の授業では開発環境を整えるだけでも一苦労です。さらに、学校以外の環境でも予習、復習を行う必要も出てきます。Monacaではブラウザでログインをするだけで開発を行うことができますし、続きを家に帰ってから行うこともできます。さらには自分の持っているスマホで動作確認までできます。これらは、プログラミングの授業をスムーズに進めるための大きな助けになりました。</p>

        <h2>Q4.授業を通じてどのようなアプリが誕生しましたか？</h2>
        <p>野球の個人成績管理、陸上競技のラップタイム計測、アーチェリーのスコア管理など部活動に関するものや、本のレビュー管理、健康管理、カードゲームの得点計算など生徒の身近な課題を解決するアプリが多数生み出されました。</p>
    </div>
    <img src="/img/doshisha/img_3.png" alt="授業を通じて誕生した多数のアプリ（一部）" />
    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/doshisha/img_portrait_suzuki.jpg" alt="" /></dt>
            <dd><figcaption>同志社中学校・高等学校<br />鈴木 潤 先生</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/doshisha/logo_doshisha.png" alt="同志社中学校・高等学校" /></h1>

        <dl>
            <dt>学校名</dt>
            <dd><em>同志社中学<span class="ls-200">校・</span>高等学校</em></dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1875年（同志社英学校）</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://js.doshisha.ac.jp/" target="_blank">http://js.doshisha.ac.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <!-- <p class="note">(平成27年3月31日現在)</p> -->
    </div>
</section>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
    <a class="list-back" href="/showcase/">事例一覧に戻る</a>
</div>
