---
title: Monaca導入事例：株式会社EST corporation
class: showcase estcorporation
description: オフショアでのネイティブ開発からの転換！　社内のモバイルアプリ開発未経験者が1か月でリリース
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---

<header>
    株式会社EST corporation
    <em>ソクミテ　〜すいてる診療所がひと目でわかる〜</em>
</header>


<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">オフショアでのネイティブ開発からの転換！<br />社内のモバイルアプリ開発未経験者が1か月でリリース</h1>
      <img src="/img/estcorporation/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">オフショアでのネイティブ開発からの転換！<br />社内のモバイルアプリ開発未経験者が1か月でリリース</h1>
    <div class="info-cont">
        <h1><img src="/img/estcorporation/logo_est_corporation.png" alt="株式会社EST corporation" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社EST corporation（エストコーポレーション）</em></dd>
        </dl>
        <dl>
            <dt>代表取締役</dt>
            <dd>清水 史浩</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2007年7月12日</dd>
        </dl>
        <dl>
            <dt>資本金</dt>
            <dd>5億498万円（資本準備金含む）</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://est-corporation.jp/" target="_blank">http://est-corporation.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成27年8月末日現在)</p>
    </div>
</section>

<section class="app-info">
    <div>
        <h1><span class="ls-100">ア</span><span class="ls-150">プリ</span>の紹介</h1>
        <p>ソクミテは内科に特化した、今すいている医院が探せる無料のメディカルアプリです。現在、iOS版とAndroid版の配信をしています。2015年8月末日現在の対象エリアは新宿、渋谷、港区となり、合計200以上の医院の内科の混雑状況を把握できています。今後も随時対象エリアを拡大していく予定です。<br />ソクミテ公式サイト：<a href="http://www.sokumite.com/" target="_blank">http://www.sokumite.com/ <i class="glyphicon glyphicon-new-window"></i></a></p>
        <img class="sp-img" src="/img/estcorporation/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/estcorporation/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>もともとはネイティブアプリとして「ソクミテ」の開発は進んでいました。当時はオフショアを使って開発を進めていましたが、要件定義にも時間がかかり、開発されたアプリの品質も低く、機能追加をするために再度作り直さなければならない状況でした。ネイティブアプリ開発プロジェクトの失敗の経験から自社で一から開発することになりましたが、社内でのモバイルアプリ開発経験も乏しかったので、Web技術で開発ができるHTML5ハイブリッドアプリに注目しました。複数のHTML5ハイブリットアプリ開発環境が検討の後、2015年7月に「Monaca」の採用が決定。そのわずか1か月後には無事「Monaca」で一から開発された「ソクミテ」がリリースされました。</p>
    </div>
    <img class="sp-img" src="/img/estcorporation/img_2.jpg" alt="">
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>アプリ開発未経験者によって1か月という短期間でアプリがリリースできた</li>
        <li>iOS、Android対応のアプリを同時開発することができた</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/estcorporation/img_portrait_fukuhara.jpg" alt="" />
        <figcaption>株式会社EST corporation<br />Creative Lab. / Chief Engineer<br />福原 信貴 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>メディカルアプリ「ソクミテ」について株式会社EST corporationのCreative Lab Chief engineer 福原信貴氏にお話をおうかがいしました。</p>
        <h2>Q1.Monacaの第一印象はいかがでしたでしょうか？</h2>
        <p>「Monaca」を少し触ってみて、まず「これならモバイルアプリが手軽に作れそうだ」という印象を持ちました。実機確認がすぐにできるのにも驚きました。また、国内での実績も多数あり、日本語のドキュメントも豊富に提供されていたので安心感もありました。</p>

        <h2>Q2.Monacaを使ったHTML5ハイブリッドアプリ開発の習得にどれくらいの期間が必要でしたか？</h2>
        <p>今回プロジェクトを担当した開発者は、Webサイト開発の経験が5年ほどありましたがモバイルアプリの開発経験はありませんでした。アプリ初挑戦ですぐに開発に取り掛かることができ、開発、デバッグとテスト期間を含めて1か月ほどで開発することができました。</p>

        <h2>Q3.開発現場のMonacaの評価はいかがでしょうか？</h2>
        <p>Monacaを開いてすぐに評価ができ、開発のしやすさとテストのしやすさを感じました。高額なサービスでもなかったので、社内承認もすぐに得られMonaca Goldプランを使って開発を始められました。今回はとにかく時間がなかったので、MonacaクラウドIDEで開発をしました。開発環境はブラウザ上で動いているとは思えないほど快適でした。</p>

        <h2>Q4.今後の展望に関して教えて下さい。</h2>
        <p>リリースしたアプリの改善を繰り返すために、ユーザー分析ツールやクラッシュレポートツールを活用したいと考えています。Monacaから各種ツールを簡単に組み込めるようになると嬉しいです。</p>
    </div>
    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/estcorporation/img_portrait_fukuhara.jpg" alt="" /></dt>
            <dd><figcaption>株式会社EST corporation<br />Creative Lab. / Chief Engineer<br />福原 信貴 氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container download">
    <p>「ソクミテ　〜すいてる診療所がひと目でわかる〜」のダウンロードはこちらから</p>
    <a href="https://itunes.apple.com/jp/app/sokumite-suiteru-zhen-liao/id998076584?l=ja&ls=1&mt=8" alt="App Store" target="_blank"><img src="/img/hitachitool/bnr_appstore.png" alt="App Store"></a>
    <a href="https://play.google.com/store/apps/details?id=jp.estcorporation.sokumite&hl=ja" target="_blank"><img src="/img/hitachitool/bnr_googleplay.png" alt="Google Play"></a>
</div>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>