---
title: Monaca - 導入事例：江田島市観光協会 日本ユニシス株式会社
class: showcase unisys
<!-- viewport: width=1024px -->
description: 観光協会向けアプリプロジェクトで開発サイクル全般の効率化を実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---
<header>
    <div class="image-wrapper">
        <picture>
          <source media="(max-width: 768px)" srcset="/img/unisys/m_keyvisual.png">
          <img src="/img/unisys/keyvisual.jpg" alt="" class="keyvisual">
        </picture>
    </div>
    <h1 class="flipped">
        観光協会向けアプリプロジェクトで<br>開発サイクル全般の効率化を実現
    </h1>
    <div class="info-cont flipped">
        <img src="/img/unisys/logo_edashima.png" alt="江田島市観光協会" />
        <h3>江田島市観光協会</h3>
        <hr>
        <ul>
            <li class="label-dev-company">開発会社</li>
            <li>日本ユニシス株式会社</li>
            <li>総合技術研究所 技術開発室</li>
            <li>松本 太郎氏、</li>
            <li>アドバンスド技術統括部　ビジネスPF開発部 開発技術室</li>
            <li>市瀬 豊大氏</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="jtrust.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">Ｊトラストシステム株式会社</a>
    <a href="netmarketing.html" class="next">株式会社ネットマーケティング<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>2016年4月から12月まで、広島県江田島市で開催されている「物語の島 江田島、スタンプラリー」専用のモバイルアプリです。「物語の島 江田島、スタンプラリー」は江田島市観光協会が地方創生事業の一環として実施している、交流人口拡大を目的とした江田島市内全域を周遊するプログラムです。市内の総延長70km余りのバス路線上にある指定のバス停に貼り付けられたカメレオンコード（Chameleon Code<sup>&reg;</sup>）を、スマートフォンアプリ「物語の島 江田島」で読み取り、画面上でスタンプしていくことができます。</p>
        <img class="sp-img" src="/img/unisys/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/unisys/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>江田島市観光協会から「物語の島 江田島、スタンプラリーシステム」の構築を受託している日本ユニシスでは、これまでiOS、Androidの各OS向けのそれぞれネイティブ言語でのモバイルアプリ開発が主流でした。今回のプロジェクトでは、今後のアプリ開発需要増も見据えて、近年注目されているクロスプラットフォーム開発について、開発効率と生産性向上を見込んで、HTML5ハイブリッド型の開発手法を採用しました。開発環境にはMonacaを、UI開発にはOnsen UIを採用することで、アプリ開発のライフサイクル全般の効率化を実現しています。</p>
    </div>
    <img src="/img/unisys/img_2.jpg" alt="" class="nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>OSとAndroidのネイティブエンジニアが確保できなくても、HTML5等のWebエンジニアでアプリ開発ができるため、エンジニア確保が容易になり、アプリ開発に対する技術的ハードルを下げることに貢献</li>
        <li>Onsen UIを活用することでネイティブ並みのUIを容易に実現</li>
        <li>豊富なプラグインによる開発効率の向上と、カスタムプラグイン開発(カメレオンコード解析)による独自機能も組み込める柔軟性</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>


    <figure class="alignright nowrap">
        <img src="/img/unisys/img_unisys_matsumoto.jpg" alt="松本 太郎 氏" />
        <figcaption>日本ユニシス株式会社<br />総合技術研究所 技術開発室<br>松本 太郎 氏</figcaption>
        <img src="/img/unisys/img_unisys_ichise.jpg" alt="市瀬 豊大 氏" />
        <figcaption>日本ユニシス株式会社<br />アドバンスド技術統括部<br>ビジネスPF開発部 開発技術室<br>チーフSE<br>市瀬 豊大 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「物語の島 江田島、スタンプラリーシステム」の企画支援・開発を担当された、日本ユニシス株式会社総合技術研究所の松本太郎氏とアドバンスド技術統括部の市瀬 豊大氏にお話をお伺いしました。</p>
        <h2>Q1.Monaca導入前はどのようにモバイルアプリの開発を行っていましたか？</h2>
        <p>Monacaを採用する前は、個別にネイティブ言語でiOS／Android対応アプリケーションを開発していました。クロスプラットフォーム開発には注目していましたが、端末固有の機能や独自の機能によるアプリ開発が多く、Monacaなどのツールを使う必要性は低いのではないかと考えていました。しかし、昨今アプリ開発需要が急増する中で、全てをネイティブエンジニアだけで対応していくことが難しくなり、HTML5ハイブリッドアプリ開発にも注目をするようになりました。</p>

        <h2>Q2.Monaca採用に際してどのような検討を行いましたでしょうか？</h2>
        <p>今回のプロジェクトでは、ネイティブで開発するか、HTML5ハイブリッド型で開発するかの検討を行いました。当時の判断としては、本プロジェクトは細かなUIデザインの修正が多数発生することが予想されたため、UIはHTML5に決めました。iOS／Android のUI共通化により、修正に対して柔軟かつスピーディに対応することが出来ました。また、フロントエンドの最新技術をキャッチアップしていきたかったというのもありました。<br>
        HTML５ハイブリッド型の開発では、独自にCordova環境を構築するという選択肢もありましたが、Monacaであればクラウド環境で開発し、そのままクラウド経由でアプリ公開ができるため、クライアントに開発環境を用意する必要がないことは大きなメリットでした。<br>
        今回のアプリでは、カメレオンコード解析が必要だったこともあり、カスタムプラグインの開発が必須条件でしたが、カスタムプラグインも問題なく実現できました。</p>

        <h2>Q3.Onsen UIもご利用されたとのことですが、導入効果はありましたか？</h2>
        <p>Onsen UIは非常に便利でした。UIコンポーネントが全てHTMLのタグで提供されるので、アプリ開発に不慣れなエンジニアでもすぐに使えるような印象を受けました。またOnsen UIにはナビゲーションなど、アニメーションを伴ったUIコンポーネントも用意されていて、比較的容易にネイティブ言語での開発に近いUXを実現することができました。正直ここまでHTML5ベースで開発できるとは思いませんでした</p>

        <h2>Q4.Monacaをどのように活用していこうと思われていますでしょうか？</h2>
        <p>今後ますますモバイルアプリの開発依頼が増えることが予想されます。一方でiOS、Androidのネイティブエンジニアを育成・確保することは容易ではありません。アプリ開発の需要増や開発規模が大きくなった際など、ネイティブエンジニアだけで体制を作るのは困難になります。弊社やパートナー企業様にはJavaScriptなどWeb技術の経験のあるエンジニアが豊富におりますので、企業向けの業務アプリやソリューションのネィティブ対応など、今後需要が拡大してくると予想されるエンタープライズ向けのモバイルアプリ開発プロジェクトなどにも、Monacaを積極的に活用していきたいです。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/unisys/img_unisys_matsumoto.jpg" alt="松本 太郎 氏" /></dt>
            <dd><figcaption>日本ユニシス株式会社<br />総合技術研究所 技術開発室<br>松本 太郎 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/unisys/img_unisys_ichise.jpg" alt="市瀬 豊大 氏" /></dt>
            <dd><figcaption>日本ユニシス株式会社<br />アドバンスド技術統括部<br>ビジネスPF開発部 開発技術室<br>チーフSE<br>市瀬 豊大 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/unisys/logo_edashima.png" alt="江田島市観光協会" /></h1>

        <dl>
            <dt>団体名</dt>
            <dd><em>江田島市観光協会</em></dd>
        </dl>
        <dl>
            <dt>所在地</dt>
            <dd>広島県江田島市</dd>
        </dl>
    </div>

    <div class="developer info-cont clearfix">
        <h2>担当開発会社</h2>
        <img class="logo" src="/img/unisys/logo_unisys.png" alt="日本ユニシス株式会社" />
        <em>日本ユニシス株式会社</em> <a href="http://www.unisys.co.jp/" target="_blank" class="url">http://www.unisys.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a>
    </div>
</section>

<div class="container download">
    <span>「物語の島江田島×兵姫ストライク」のダウンロードはこちらから</span>
    <a href="https://play.google.com/store/apps/details?id=jp.etajimakankou.monogatari"><img src="/img/common/bnr_googleplay.svg" alt=""></a>
    <a href="https://itunes.apple.com/jp/app/wu-yuno-dao-jiang-tian-dao/id1088200218?l=ja&ls=1&mt=8"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="monex.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="smbc.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>
