---
title: Monaca導入事例：株式会社フレクションコンサルティング
class: showcase flexion
description: 「Monacaがなければアプリのリリースはできなかった！」アプリ開発未経験チームがわずか３ヶ月間で開発
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---
<header>
    <div class="image-wrapper">
        <img src="/img/flexion/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="">
        <span>注目事例</span>
        「Monacaがなければアプリのリリースはできなかった！」<br />アプリ開発未経験チームがわずか3ヶ月間で開発
    </h1>
    <div class="info-cont">
        <img src="/img/flexion/logo_flexion.png" alt="株式会社フレクションコンサルティング" />
        <h3>株式会社フレクションコンサルティング</h3>
        <ul>
            <li>代表取締役</li>
            <li>松明 陽氏</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="doshisha.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">同志社中学校・高等学校</a>
    <a href="naganobank.html" class="next">株式会社長野銀行<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1><span class="ls-100">ア</span><span class="ls-150">プリ</span>の紹介</h1>
        <p>チームオン(TeamOn)は、「チームの仕事、これ1つで。」をコンセプトとする業務効率向上のためのクラウドコミュニケーション無料サービスです。日ごろの仕事に必要なスケジュール管理、タスク管理、グループチャット、プロジェクト管理、ビデオ会議やファイル共有を一つに統合。PC向けWebアプリケーションに加えて、iOSアプリとAndroidアプリが提供されています。</p>
        <img class="sp-img" src="/img/flexion/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/flexion/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>Web制作会社として500サイト以上の制作に携わってきたフレクションコンサルティングが、「実務で使える」プロジェクト管理ツールとしてスタートした企画がTeamOnでした。当初はPCブラウザ向けのβ版としてリリースされたのですが、ユーザーからのニーズが高かったiOS、Androidアプリに関しては社内に開発経験者がいなかったため開発の目処は立っていませんでした。<br />そこで見つけたのが、Onsen UIとMonacaでした。Web標準技術でアプリ開発ができたため、アプリ開発未経験の開発チームにもかかわらず、わずか3ヶ月間でiOS、Androidアプリのリリースを実現することができました。<br />現在、TeamOnは12ヶ国語に対応。海外ユーザー比率7割という、世界中で使われているアプリとなっています。</p>
    </div>
    <img src="/img/flexion/img_2.jpg" alt="" class="sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>アプリ開発未経験チームがiOS、Androidアプリを3ヶ月間でリリースできた</li>
        <li>クラウド上の開発環境に接続するだけで、どこでも開発・確認ができた</li>
        <li>日本語でのドキュメントが豊富だったので開発の立ち上がりが早かった</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/flexion/img_portrait_matsuaki.jpg" alt="" />
        <figcaption>株式会社フレクションコンサルティング<br />代表取締役<br />松明 陽 氏 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>TeamOnアプリの開発に関して、株式会社フレクションコンサルティング代表取締役の松明陽氏にお話をおうかがいしました。</p>
        <h2>Q1.TeamOnアプリの開発にHTML5ハイブリッド開発を採用した理由を教えてください。</h2>
        <p>初期PCブラウザ版のTeamOnをリリースした際にアプリが欲しいという声は多数いただいたのですが、社内にiOS、Androidアプリの開発経験者はいませんでした。調査の過程でOnsen UIを見つけ、必要そうなUIコンポーネントが一通りあったので、これであれば我々にもモバイルアプリ開発ができそうだという期待感がありました。</p>

        <h2>Q2.Monaca以外にどのような開発環境を検討しましたか？</h2>
        <p>Onsen UIの採用が先に決まっていたので、Monacaにはすぐに試してみました。Cordovaの開発環境を自分たちで用意することも考えたのですが、我々にはハードルが高かったです。Monacaは、日本語のドキュメントが豊富で、さらに日本語でサポートが受けられるので安心感がありました。</p>

        <h2>Q3.開発現場でのMonacaの評価はいかがでしょうか？</h2>
        <p>クラウド上に開発環境があるため、社内外の複数のマシンから開発、確認ができるというのが便利でした。Monacaデバッガーでアプリの動作確認をしながら開発を進めるというMonacaの開発スタイルも開発効率の向上効果が相当あったと思います。他のプロジェクトの掛け持ちの開発チームで、わずか3ヶ月間でiOS、Androidの両アプリのリリースにこぎつけたのですが、Monacaがなければこのアプリはリリースできていなかったと思います。</p>

        <h2>Q4.今後の展望に関して教えてください。</h2>
        <p>TeamOnは12ヶ国語に対応しており、すでにユーザーの7割が海外ユーザーなのですが、グローバル市場への展開はさらに加速したいと思っています。その中でWindows版やChrome Appsなど別プラットフォームへの展開も広げていきたいです。</p>
    </div>
    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/flexion/img_portrait_matsuaki.jpg" alt="" /></dt>
            <dd><figcaption>株式会社フレクションコンサルティング<br />代表取締役<br />松明 陽 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/flexion/logo_flexion.png" alt="株式会社フレクションコンサルティング" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社フレクションコンサルティング</em></dd>
        </dl>
        <dl>
            <dt>代表取締役社長</dt>
            <dd>松明 陽</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2001年3月12日</dd>
        </dl>
        <dl>
            <dt>資本金</dt>
            <dd>1,700万円</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.teamoncloud.com/ja/" target="_blank">http://www.teamoncloud.com/ja/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成27年11月末日現在)</p>
    </div>
</section>

<div class="container download">
    <span>「TeamOn」のダウンロードはこちらから</span>
    <a href="https://play.google.com/store/apps/details?id=com.teamoncloud.app"><img src="/img/common/bnr_googleplay.svg" alt=""></a>
    <a href="https://itunes.apple.com/jp/app/teamon/id973832391?l=ja&ls=1&mt=8"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>
