---
title: Monaca導入事例：フジテック株式会社
class: showcase fujitec
description: モバイルファーストな情報システム内製化基盤をMonacaとmBaaSで短期に実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    フジテック株式会社
    <em>モバイル出勤簿アプリ他</em>
</header>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">モバイルファーストな情報システム内製化基盤をMonacaとmBaaSで短期に実現</h1>
      <img src="/img/fujitec/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">モバイルファーストな情報システム内製化基盤をMonacaとmBaaSで短期に実現</h1>

    <div class="info-cont">
        <h1><img src="/img/fujitec/logo_fujitec.png" alt="フジテック株式会社" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>フジテック株式会社</em></dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1948年2月</dd>
        </dl>
        <dl>
            <dt>資本金</dt>
            <dd>125億3,393万円</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.fujitec.co.jp/" target="_blank">http://www.fujitec.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成29年2月末現在）</a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>システムの概要</h1>
        <p>2015年より本格的にモバイルファーストな情報システムの展開を図ってきたフジテック株式会社では、モバイルアプリを効率的にかつスピーディーに開発するためMonacaと企業向けmBaaSであるAppPotを活用したアプリ開発基盤を構築しました。<br>
        <br>
        この開発基盤を活用し、非常に短期間で「モバイル出勤簿アプリ」、「現場写真共有アプリ」、「内線番号検索アプリ」を始めとして、これまでに6つのモバイルアプリをリリースし現場からも大変好評を得ています。</p>
        <img class="sp-img" src="/img/fujitec/img_1.jpg" alt="">
    </div>
</section>

<section class="fujitec-img">
    <img src="/img/fujitec/img_fujitec.png" alt="システム概要">
</section>

<section class="backstory">
    <img src="/img/fujitec/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>エレベーターやエスカレーターなどの昇降機専業メーカーであるフジテック株式会社では、自社の事業形態にマッチした情報システムによる競争力強化のため従来から情報システムの内製開発を行っていました。事業の特性上多くの現場スタッフは事務所を離れ現場に出ていることが多く、従来のPC利用前提のシステムから脱却し、現場完結で仕事ができることを目指し、2015年よりモバイルファーストでのシステム構築という方針を打ち出し、従来システム同様にモバイルアプリの内製開発に着手しました。<br>
        <br>
        開発ツールの選定においては「Web標準技術でクロスプラットフォーム開発が行える」という点でCordovaベースのソリューションを複数検討。「開発者ライセンスのみで利用可能」というコスト面や「クラウド上の開発環境を即時に使える」手軽さ、また「日本語ドキュメントやサンプルの充実」などサポート面など総合的に評価しMonacaの採用にいたりました。</p>
    </div>
    <img src="/img/fujitec/img_2.jpg" alt="" class="alignright nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>初のモバイルアプリ開発ながら学習期間1ヶ月間でアプリ内製化を実現できた</li>
        <li>開発環境がクラウドにあるのでPCやChromebookで場所を選ばず開発できた</li>
        <li>アプリ数やユーザー数に制限がないライセンス体系なので低コストでアプリを現場の多数の利用者に提供できた</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/fujitec/img_fujitec_shoanji.jpg" alt="小庵寺 氏" />
        <figcaption>フジテック株式会社<br />情報システム部 主事<br>小庵寺 良剛 氏</figcaption>
        <img src="/img/fujitec/img_fujitec_sekiai.jpg" alt="堰合 氏" />
        <figcaption>フジテック株式会社<br />情報システム部 主務<br>堰合 宏史 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>今回、Monacaの導入及びアプリ開発を主導したフジテック株式会社情報システム部の小庵寺 良剛氏と堰合 宏史 氏にお話をお伺いしました。</p>
        <h2>Q1.モバイルアプリの内製開発に至った経緯を教えてください。</h2>
        <p><span class="name">小庵寺氏</span>　従来から情報システム部では当社の事業形態にマッチしたシステムを小回りよく現場に提供することで企業競争力を高めてきました。当社では事業の特性上フィールドエンジニアや営業など事務所の外で業務を行うスタッフ比率が高く、事務所利用前提のシステムから、いつでもどこでも使えるシステムが求められるようになってきました。そこで2015年からBYODと会社配布のモバイル端末を併用する形でモバイルファーストなシステムの提供に本格的に取り組み始めました。</p>

        <h2>Q2.Monacaの採用に至った理由を教えてください。</h2>
        <p><span class="name">小庵寺氏</span>　これまでモバイルアプリの開発経験は全くなかったため、Webシステム開発の延長でアプリ開発ができること、またBYODを進めているためクロスプラットフォーム開発が必須だったため、まずCordovaでの開発を行う方針が決まりました。<br>
        <br>
        その後、Cordovaに対応する各社のソリューションを比較検討した結果、開発者ライセンスのみでアプリ数やユーザー数の制限がないというコストメリットや、クラウドで開発環境が提供されるという導入の手軽さ、また日本語のドキュメントやサンプルアプリの充実やテクニカルサポートなどの安心感など総合的な評価からMonacaの導入に至りました。</p>

        <h2>Q3.御社におけるモバイルアプリ関連のシステム構成を教えてください。</h2>
        <p><span class="name">小庵寺氏</span>　フロントアプリの開発はMonacaクラウドIDEを主に使っていますが今後ローカル開発や他の開発支援ツールとの連携を図るためLocalkitやCLIも活用していきたいと考えています。現在バージョン管理はSubversionが中心ですが、徐々にGithubを導入しておりMonacaとGithubの連携機能を利用して効率的な開発を進めています。<br>
        <br>
        アプリのサーバーサイド開発も効率化するため企業向けmBaaSのAppPotをAmazon EC2上に導入し、社内システムとモバイルアプリ連携も容易にできるようになりました。またアプリ管理やデバイス管理にはMDM/MAMツールとしてVMware AirWatchを導入しています。</p>

        <h2>Q4.Monaca / Onsen UIの評価を教えてください。</h2>
        <p><span class="name">堰合氏</span>　もともとWebシステムの開発も行っていたので、HTML5など Web標準技術でモバイルアプリ開発できるという点は学習コストも非常に低く抑えられて良かったです。1ヶ月ぐらいで実際のアプリ開発に入れたと記憶しています。また開発環境がクラウド提供されるというのは思いのほか便利でした。開発環境のセットアップもメンテナンスもいりませんし、出先からChromebookでMonacaにアクセスをして開発を行うなんてこともできてしまいます。そして、PC上のエミュレーターではなくデバイス上ですぐにアプリの動作確認ができるMonacaデバッガーの存在も見逃せません。<br>
        <br>
        UI開発にはOnsen UIを活用しています。デザイナーがいなくても、モバイルアプリ向けのセンスの良いUIに仕上がるのでとても重宝しています。</p>

        <h2>Q5.リリースされたアプリと現場からの評価について教えてください。</h2>
        <p><span class="name">堰合氏</span>　MonacaとmBaaSを導入したことで、導入初期の短期間に「モバイル出勤簿アプリ」、「現場写真共有アプリ」、「内線番号検索アプリ」の3つのアプリをリリースすることができました。<br>
        最初にリリースした「モバイル出勤簿アプリ」については、従来の勤怠管理システムでは社内からしかアクセスできなかったため出勤簿をつけるだけのために事務所に戻るということがあったのですが、モバイルアプリ化により現場直行直帰が可能となり、時短労働の推進にもつながり非常に好評です。<br>
        それに加え、従来システムでは手入力で検索していた訪問現場情報について、GPS機能で最寄りの現場が自動検索されるという、モバイル化ならではの便利機能も提供することができました。すでに1500人を超えるスタッフが利用をして日常の業務では外せないアプリになりました。<br>
        <br>
        「現場写真共有アプリ」も、従来は現場のエレベーターやエスカレーターの写真をデジカメで撮影していたため、わざわざ事務所に戻ってPCで写真のアップロードを行う必要がありましたが、モバイルアプリにすることで、撮ったその場で現場を特定して次々とアップロードできるようになるため作業効率がアップすると期待しています。<br>
        <br>
        「内線番号検索アプリ」については、本当に短期間でアプリが作れたのでちょっとしたニーズに対してもアプリの提供が可能だということが実感できました。</p>

        <h2>Q6.今後の展望について教えてください。</h2>
        <p><span class="name">小庵寺氏</span>　今後新しく作るシステムは基本的にモバイルファーストで開発を行っていくため、社内でモバイルアプリを開発できるメンバーを増やしていきたいです。<br>
        また、これまではモバイルから社内システムを使えるようにすることが主でしたが、モバイルならではのGPSや各種センサーなどを活用してより業務革新につながるシステムを提供していきたいと考えています。例えば、今度リリースする交通費精算用のアプリでは、将来的には交通系ICカードの利用履歴をNFC機能を使って簡単に読み込む機能などにも対応する計画です。さらに、外勤スタッフについては、モバイルファーストを超えてモバイルオンリーで業務が完結するような業務環境を整備することを目標にしたいと思っています。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/fujitec/img_fujitec_shoanji.jpg" alt="小庵寺 氏" /></dt>
            <dd><figcaption>フジテック株式会社<br />情報システム部 主事<br>小庵寺 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/fujitec/img_fujitec_sekiai.jpg" alt="堰合 氏" /></dt>
            <dd><figcaption>フジテック株式会社<br />情報システム部 主務<br>堰合 氏</figcaption></dd>
        </dl>
    </div>
</section>


<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>
