---
title: Monaca導入事例：特定非営利活動法人 NPOフュージョン長池
class: showcase fusionnagaike
description: アプリ活用により、152カ所の公園管理作業の見える化・効率化・情報共有化を実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---

<header>
    特定非営利活動法人 NPOフュージョン長池
    <em>スマートパークアイ</em>
</header>


<section class="info">
    <div class="info-header">
      <h1 class="pc-copy"><span class="ls-100">アプリ</span>活用<span class="l-200">によ</span><span class="ls-150">り</span><span class="ls-500">、</span>152カ所の公園管理作業の<br />見<span class="ls-100">える</span><span class="ls-200">化・</span>効率<span class="ls-200">化・</span>情報共有<span class="ls-100">化を</span>実現</h1>
      <img src="/img/fusionnagaike/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy"><span class="ls-100">アプリ</span>活用<span class="l-200">によ</span><span class="ls-150">り</span><span class="ls-500">、</span>152カ所の公園管理作業の<br />見<span class="ls-100">える</span><span class="ls-200">化・</span>効率<span class="ls-200">化・</span>情報共有<span class="ls-100">化を</span>実現</h1>
    <div class="info-cont">
        <h1><img src="/img/fusionnagaike/logo_fusion.png" alt="特定非営利活動法人 NPOフュージョン長池" /></h1>

        <dl>
            <dt>名称</dt>
            <dd><em>特定非営利活動法人 NPOフュージョン長池</em></dd>
        </dl>
        <dl>
            <dt>会長</dt>
            <dd>富永 一夫</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1999年12月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.pompoco.or.jp/index.htm" target="_blank">http://www.pompoco.or.jp/index.htm <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <!-- <p class="note">(平成27年8月末日現在)</p> -->
    </div>
</section>

<section class="app-info">
    <div>
        <h1><span class="ls-100">ア</span><span class="ls-150">プリ</span>の紹介</h1>
        <p>スマートパークアイとは、NPOフュージョン長池も構成団体の一員となっている「八王子市都市公園指定管理者：スマートパークス由木」が、2014年4月より八王子市東部地区の152公園・緑地の管理運営にあたることになったことをきっかけに、日常業務の効率化と情報共有化のために開発された公園管理システムです。<br />緑地管理に従事する造園会社の職人さんから、作業の前後にモバイルアプリから写真を送信してもらうだけで業務報告が完了し、現場作業の見える化と管理業務の省力化を実現しています。また、公園設備の不具合やゴミ投棄情報の報告にもスマートパークアイは活用されています。</p>
        <img class="sp-img" src="/img/fusionnagaike/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/fusionnagaike/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monacaを<span class="ls-100">使っ</span>た<span class="ls-100">アプリ</span>開<span class="ls-100">発の</span>背景</h1>
        <p>NPOフュージョン長池は、2006年より八王子市長池公園の都市公園指定管理者として公園管理業務に関わってきた実績を背景に、2014年4月から八王子市東部地区の公園・緑地の都市公園指定管理者の連合体組織の一員になり、152の公園・緑地を管理することになりました。公園管理の最大の課題は、152の公園・緑地のどこで、何が起きているのかを、正しく迅速に把握することにありました。<br />富永氏が、NHKがクローズアップ現代で放送した「ガバメント2.0」を視て「市民が落書きをスマホで撮影して行政に通報するアプリの存在」を知り、その公園管理版にあたるシステムを思いつき、開発に着手をしました。スマートパークアイのアプリを実際に利用するのは、主に造園会社の職人さん達なので、出来るだけ簡単に使えるようにシンプルな画面にすることにこだわったそうです。<br />約1年の試行期間を経て、本年度より本格稼働し従来の業務報告書は全廃。現在では、毎日の作業の見える化と情報共有のために欠かせないシステムになっています。</p>
    </div>
    <img class="sp-img" src="/img/fusionnagaike/img_2.jpg" alt="">
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>152の公園・緑地管理作業の見える化と情報共有化を実現</li>
        <li>AndriodとiPhoneの両対応のアプリを低予算で同時開発</li>
        <li>細かい修正を繰り返し誰でも使えるシンプルなUIを実現</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/fusionnagaike/img_portrait_tominaga.jpg" alt="" />
        <figcaption>特定非営利活動法人<br />NPOフュージョン長池<br />富永 一夫 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>スマートパークアイについてNPOフュージョン長池の富永一夫氏にお話をうかがいました。</p>
        <h2>Q1.スマートパークアイの開発にあたって最も意識した点は何ですか？</h2>
        <p>現場の皆さんが使えるシステムじゃないと意味がないので、できるだけシンプルで簡単に使えるものを意識しました。少なくとも、私が難しいと感じるようなものは現場の職人さん達には使ってもらえません。基本的には、場所と作業を選んで写真をとるだけのアプリにして、余計なものは一切排除しました。この1年間は現場で実際に使ってもらいながら、何度も修正を行い現在の形になりました。</p>

        <h2>Q2.スマートパークアイは、どのような体制で開発されたのですか？</h2>
        <p>私自身は、システム開発については素人なのですが、こういうアプリが必要なのだというイメージはできていました。幸い、過去にNPOの活動として地域にインターネットブロードバンド回線の導入や、インターネット生中継など行った関係で、地域に住む専門家の方とも繋がっていました。今回は、長年システム関連の会社を経営されていた石倉さんと、ITエンジニアの岡崎さんの協力を得て、スマートパークアイを完成させることができました。</p>

        <h2>Q3.スマートパークアイは業務報告以外にはどのような使われ方をしていますか？</h2>
        <p>スマートパークアイは単なる業務日報システムではありません。公園管理スタッフの目を、皆さんが持ち歩くスマートフォンで拡張しているイメージです。例えば、清掃中に遊具に不具合を見つけた際に、すぐに対応できなくてもスマートパークアイで報告をしておけば本部スタッフに伝わります。また、公園内で見つけた絶滅危惧種の動植物などもスマートパークアイを活用してデータベース化したりしています。</p>

        <h2>Q4.今後の取り組みについて教えて下さい。</h2>
        <p>すでに複数の自治体や指定管理者からスマートパークアイの導入に関する問い合わせを受けています。我々のノウハウとセットでスマートパークアイが全国に広まり、公園管理のレベルが上がると嬉しいです。また、このシステムを他の用途に使いたいという相談も受けているので、そういった声にもできるだけ対応していきたいです。</p>
    </div>
    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/fusionnagaike/img_portrait_tominaga.jpg" alt="" /></dt>
            <dd><figcaption>特定非営利活動法人<br />NPOフュージョン長池<br />富永 一夫 氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>