---
title: Monaca導入事例：三菱日立ツール株式会社
class: showcase hitachitool
description: iOSとAndroidのハイブリッドアプリを同時開発し開発コストを半減。「開発コストはざっと想像しただけでも、通常と比べても半分以下になったように感じます。そもそもMonacaがなければ、ハイブリッドアプリの開発自体を諦めていたかもしれません。」
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---
<header>
    <div class="image-wrapper">
        <img src="/img/hitachitool/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1>
        <span>注目事例</span>
        iOSとAndroidのハイブリッドアプリを<br />同時開発により開発コストを半減
    </h1>
    <div class="info-cont">
        <img src="/img/hitachitool/logo_hitachitool.png" alt="日立ツール株式会社" />
        <h3>日立ツール株式会社</h3>
        <ul>
            <li>。。。</li>
            <li>。 。</li>
            <li>。。 。。</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="jnb.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">株式会社ジャパンネット銀行</a>
    <a href="seikyoren.html" class="next">全国生活協同組合連合会<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="backstory">
    <img src="/img/hitachitool/img_1.jpg" alt="" class="alignright nowrap hidden-xs" style="margin-top:4px;" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>今回、三菱日立ツール株式会社の「三菱日立ツール 切削工具商品カタログ」を開発した株式会社スタジオキャンビーはお客様の様々なご要望にお応えし、最適化されたウェブシステムをスクラッチ開発で構築してきた技術力のある会社です。</p>
        <p>お客様の評価が高いこともあり、これまでもモバイルアプリ開発のご相談もあったそうです。しかし、その分野のアプリ開発は開発時及びメンテナンス時のコストが見合わないと言う理由からお受けしないことが多かったそうです。</p>
        <p>そのような中、HTML5を活用したモバイルアプリの開発環境であるMonacaを採用いただきました。株式会社スタジオキャンビーのMonaca採用理由はHTML5でiOSとAndroid両対応のアプリを同時開発できるため、開発コストとメンテナンスコストを圧縮できることでした。<em>「開発コストはざっと想像しただけでも、通常と比べても半分以下になったように感じます。そもそもMonacaがなければ、ハイブリッドアプリの開発自体を諦めていたかもしれません。」</em>との評価をいただいています。</p>
        <p>また、Monacaは株式会社スタジオキャンビーの得意とするHTML、CSS、JavaScriptなどのウェブ技術を活かして、モバイルアプリを開発できるので採用のハードルも低かったそうです。</p>
    </div>
    <img src="/img/hitachitool/img_1.jpg" alt="" class="sp-img" style="margin-top:4px;" />
</section>

<section class="effect">
    <h1>Monaca採用効果</h1>
    <ul>
        <li>従来の開発コストを約半分に圧縮できた。</li>
        <li>ウェブシステムの開発技術の延長でマスターできた。</li>
        <li>一つのコードでiOS版とAndroid版の両方を開発できた。</li>
    </ul>
</section>

<section class="interview">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/hitachitool/img_portrait.jpg" alt="" />
        <figcaption>株式会社スタジオキャンビー<br />代表取締役　神戸 貴弘 氏</figcaption>
    </figure>

    <div class="nowrap">
        <h2>Q1.Monacaの第一印象</h2>
        <p>キーボードひとつにおいても、そのタッチ感が変わるだけでも、違和感によって生産性を落とす事があります。Monacaはブラウザベースという限られた条件でIDEを提供されていますが、入力補完やシンタックスチェック、強調機能なども充実しており、検討当時の第一印象として、違和感なくスッと使える印象を持ちました。</p>

        <h2>Q2.お客様と開発会社のご関係と今回開発されたアプリケーションのご紹介</h2>
        <p>三菱日立ツール株式会社とは10年来のお付き合いで、これまで、コトブキアーツ株式会社と3社協業で時代の変化に合わせ柔軟にエンドユーザーさまへのサービスを提供してきました。<br />今回、Monacaで開発した「三菱日立ツール 切削工具商品カタログ」アプリケーションは、エンドユーザー向けのカタログ冊子の代替としてご利用されるだけでなく、営業ツールとしても利用されています。従来の冊子からカタログアプリケーションに変更することで、ほしい商品を簡単に検索できるようになり、高い評価を得ています。また、コンテンツのメンテナンス性が向上したため、iOS、Android版、ウェブ版とこれらの英語版も容易に運用できています。</p>

        <h2>Q3.今後のMonacaの活用について</h2>
        <p>プログラマーにとってデバイスごとにコードが異なる事がメンテナンス上、大きな負担となります。Monacaはコードの差を極力抑えて開発ができる為、非常に保守性の高いシステムを開発できます。<br />スタジオキャンビーは主に企業様向けのシステム開発を行っております。今後、ビジネス用で活用できるスマートデバイス・アプリケーションは今後増加していきます。特に営業ツールのアプリケーション開発の機会はとても多いように感じます。今後もMonacaを活用して効率的にスマートデバイス用、PC用のアプリケーションを開発していきたいと考えています。</p>
    </div>
    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/hitachitool/img_portrait.jpg" alt="" /></dt>
            <dd><figcaption>株式会社スタジオキャンビー<br />代表取締役　神戸 貴弘 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/hitachitool/logo_hitachitool.png" alt="日立ツール株式会社" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>三菱日立ツール株式会社 (Mitsubishi Hitachi Tool Engineering,Ltd.)</em></dd>
        </dl>
        <dl>
            <dt>代表者</dt>
            <dd>代表取締役社長 増田 照彦</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.mmc-hitachitool.co.jp/" target="_blank">http://www.mmc-hitachitool.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成26年12月現在)</p>
    </div>

    <div class="developer info-cont">
        <h2>担当開発会社</h2>
        <img src="/img/hitachitool/logo_studiocanbe.png" alt="Studio Canbe" class="logo" />
        <em>株式会社スタジオキャンビー</em> <a href="http://www.studio-canbe.com/" target="_blank" class="url">http://www.studio-canbe.com/ <i class="glyphicon glyphicon-new-window"></i></a>
    </div>
</section>

<div class="container download">
    <span>「三菱日立ツール 切削工具商品カタログ」のダウンロードはこちらから</span>
    <a href="https://play.google.com/store/apps/details?id=jp.co.hitachitool.data.HitachiToolCuttingToolsProductsCatalogue&hl=ja"><img src="/img/common/bnr_googleplay.svg" alt=""></a>
    <a href="https://itunes.apple.com/jp/app/ri-litsuru-qie-xue-gong-ju/id802611888?mt=8"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>
