---
title: Monaca導入事例：株式会社アイル
class: showcase ill
description: Monacaを活用しカスタマイズ可能な人材派遣業界向けコミュニケーションアプリを展開
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    <img src="/img/ill/keyvisual.jpg" alt="" class="keyvisual">
    <h1 class="flipped">
        <span>注目事例</span>
        Monacaを活用しカスタマイズ可能な人材派遣業界向けコミュニケーションアプリを展開
    </h1>
    <div class="info-cont flipped">
        <img src="/img/ill/logo_ill.png" alt="株式会社アイル" />
        <h3>株式会社アイル</h3>
        <ul>
            <li>。。。</li>
            <li>。 。</li>
            <li>。。 。。</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="jotv.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">株式会社 Japan Open Television</a>
    <a href="uhas.html" class="next">人間総合科学大学 <img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>CROSS TALK for STAFFは人材派遣会社と登録スタッフのためのコミュニケーションアプリです。電話やメールなどの従来型の手段での登録スタッフとの連絡がとりにくくなってきたことを背景に生まれました。本アプリを使うことによって、登録スタッフはメールやLINEなどの個人の連絡先を使わずに人材派遣会社との連絡を取ることができるため、情報伝達をより手軽に・確実に行うことができます。CROSS TALK for STAFFは人材派遣会社ごとにデザインカスタマイズなどが可能で、各社の専用アプリとしてアプリストアで配布することができます。</p>
        <img class="sp-img" src="/img/ill/img_1.png" alt="">
    </div>
</section>

<section class="app-info backstory-pc">
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>株式会社アイルでは、別のモバイルアプリをネイティブ言語での開発を行った経験からネイティブ開発を行った場合のソースコードの管理やカスタマイズの効率など運用上の効率が低いことが課題となっていました。今回の「CROSS TALK for STAFF」については、クライアント毎にカスタマイズされた多くのアプリを開発、運用することが予想されたため、開発や運用の効率化を図るためプラットフォーム開発ツールの導入を検討されました。ノンコーディング型のアプリCMSやその他開発ツールなどと比較検討を行った結果、開発の自由度の高さと既存のエンジニアのスキルセットとの相性の良さ、そしてMac不要でiOSアプリ開発ができる点など総合的な評価を行った結果Monacaを採用しアプリ開発を進めることになりました。</p>
    </div>
    <img src="/img/ill/img_2.png" alt="" class="nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>iOSアプリの開発環境を整備するのにMacが不要</li>
        <li>社内のWebエンジニアによるアプリのカスタマイズや運用を実現</li>
        <li>リリースまでの工数は約半減し、カスタマイズ対応も容易に</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/ill/img_ill_taniguchi.jpg" alt="谷口 幸義 氏" />
        <figcaption>株式会社アイル<br />CROSS事業部　プラットフォーム推進課<br>課長<br>谷口 幸義 氏</figcaption>
        <img src="/img/ill/img_ill_hoshi.jpg" alt="星 圭祐 氏" />
        <figcaption>株式会社アイル<br />CROSS事業部　CROSS営業1課<br>係長<br>星 圭祐 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「CROSS TALK for STAFF」の企画・開発を担当された株式会社アイルの谷口幸義氏、星圭祐氏にMonacaを活用したアプリ開発プロジェクトについてお聞きしました。</p>
        <h2>Q1.「CROSS TALK for STAFF」の企画・開発背景を教えてください。</h2>
        <p><span class="name">星氏</span>　弊社では、これまでも人材派遣業界向けのITソリューションを展開してきました。その延長で人材派遣企業が登録スタッフとの間で従来型の電話やメールを使ったコミュニケーションがとりにくくなっているという課題を発見し、これを解決するために登録スタッフとの連絡専用アプリとして「CROSS TALK for STAFF」を提案させてもらっています。</p>
        <p>2017年３月に販売開始をしたのですが、リリース直後から引き合いのお問合せも好調で、すでに数社でご利用いただいております。</p>

        <h2>Q2.HTML5ハイブリッドアプリ開発を選択した理由を教えてください。</h2>
        <p><span class="name">谷口氏</span>　数年前の別プロジェクトでは、HTML5ハイブリッドアプリのUIパフォーマンスの問題などから、それぞれiOS、 Androidのネイティブ開発をすることを選択しました。しかし、OSのアップデート対応などアプリの運用・管理に非常にコストがかかっていました。</p>
        <p>今回のプロジェクトでは、当時課題だったUIパフォーマンスの問題もスマホ端末やその他の環境進化によってほぼ解消されていることが確認できたためHTML5ハイブリッドアプリ開発を選択しました。弊社はCROSS MALLやCROSS POINTといったクラウドサービスを提供しており、Webシステムの開発や運用サポートを得意としている会社であり、社内にWebエンジニアも多く、エンジニアリソースの調整という点でも大きなメリットがあります。</p>

        <h2>Q3.Monacaの導入効果について教えてください。</h2>
        <p><span class="name">谷口氏</span>　Monacaは学習コストが低くモバイルアプリ開発を始めることができる一方で開発の自由度が高いのが魅力でした。また開発者毎にMacを用意する必要もない点も弊社にとっては大きな導入メリットとなっています。実際に、案件毎にアプリのカスタマイズなどが発生するのですが、リリースまでの工数はネイティブ開発に比較して半減できていると感じています。</p>
        <p>また、今回はOnsen UIを使ってUI開発を行ないましたがUIパフォーマンスにも非常に満足しています。「CROSS TALK for STAFF」のような業務支援系のアプリのUIであればネイティブ開発と遜色のないUIが実装できますね。</p>

        <h2>Q4.「CROSS TALK for STAFF」の今後の展開について教えてください。</h2>
        <p><span class="name">星氏</span>　まずは市場へのリーチのしやすさから人材派遣業界向けから始めた「CROSS TALK」シリーズですが、今後は他の用途にも横展開をしていきたいと考えています。例えば学校や塾と親の間での連絡網的な使い方だったり、企業間での連絡手段だったりと実際に別業界からの引き合いも来ています。</p>
        <p><span class="name">谷口氏</span>　弊社は、これまでも様々な業界向けにカスタマイズ可能なパッケージ型の業務支援システムを展開してきています。今後モバイルの展開の強化も予定しており、業務支援アプリ開発にどんどんMonacaを使っていきたいと考えています。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/ill/img_ill_taniguchi.jpg" alt="谷口 幸義 氏" /></dt>
            <dd><figcaption>株式会社アイル<br />CROSS事業部　プラットフォーム推進課<br>課長<br>谷口 幸義 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/ill/img_ill_hoshi.jpg" alt="星 圭祐 氏" /></dt>
            <dd><figcaption>株式会社アイル<br />CROSS事業部 CROSS営業1課<br>係長<br>星 圭祐 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/ill/logo_ill.png" alt="株式会社アイル" /></h1>

        <dl>
            <dt>名称</dt>
            <dd><em>株式会社アイル</em></dd>
        </dl>
        <dl>
            <dt>代表取締役社長</dt>
            <dd>岩本哲夫</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1991年</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.ill.co.jp/" target="_blank">http://www.ill.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成29年6月現在）</a>
    </div>
</section>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>