---
title: Monaca - 導入事例
class: showcase-index
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---

<div id="carousel-showcase" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item fujitec active">
            <a href="/showcase/fujitec.html"><div class="img"></div></a>
            <div class="cover-text">
                <div class="container">
                    <div class="text">
                        <span class="category">注目事例</span>
                        <span class="title">モバイルファーストな情報システム内製化基盤を<br>MonacaとmBaaSで短期に実現</span>
                        <span class="misc">フジテック株式会社</span>
                        <span class="misc">情報システム部 小庵寺 良剛氏、堰合 宏史氏</span>
                    </div>
                </div>
            </div>
            <button class="btn-long detail-pg" type="button" onclick="location.href='/showcase/fujitec.html'">
                事例を見る
            </button>
        </div>
        <div class="item monex">
            <a href="/showcase/monex.html"><span class="img"></span></a>
            <div class="cover-text">
                <div class="container">
                    <div class="text">
                        <span class="category">注目事例</span>
                        <span class="title">既存Webアプリのスマホアプリ化で、<br>スマホユーザーの利便性を大幅に向上</span>
                        <span class="misc">マネックス証券株式会社</span>
                        <span class="misc">執行役員　大平 幸典氏</span>
                    </div>
                </div>
            </div>
            <button class="btn-long detail-pg" type="button" onclick="location.href='/showcase/monex.html'">
                事例を見る
            </button>
        </div>
        <div class="item smbc">
            <a href="/showcase/smbc.html"><span class="img"></span></a>
            <div class="cover-text">
                <div class="container">
                    <div class="text">
                        <span class="category">注目事例</span>
                        <span class="title">オープンイノベーションを加速させる！<br>イノベーターがつながる拠点「hoops link tokyo」の<br>専用アプリをMonacaで開発</span>
                        <span class="misc">株式会社三井住友フィナンシャルグループ</span>
                        <span class="misc">ITイノベーション推進部　三嶋 英城氏、郷田 悠未氏</span>
                    </div>
                </div>
            </div>
            <button class="btn-long detail-pg" type="button" onclick="location.href='/showcase/smbc.html'">
                事例を見る
            </button>
        </div>
    </div>

    <div class="btn-zone">
        <button class="next" data-target="#carousel-showcase" data-slide="next">
            >
        </button>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#carousel-showcase" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-showcase" data-slide-to="1"></li>
        <li data-target="#carousel-showcase" data-slide-to="2"></li>
    </ol>
</div>

<div class="container cases">
    <ul class="cases">
        <li class="case">
            <a href="fujitec.html" class="companyItem">
                <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
                <span class="title">フジテック株式会社</span>
                <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="monex.html" class="companyItem">
                <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
                <span class="title">マネックス証券株式会社</span>
                <a href="monex.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="smbc.html" class="companyItem">
                <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
                <span class="title">株式会社三井住友フィナンシャルグループ</span>
                <a href="smbc.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="seikyoren.html" class="companyItem">
                <img src="/img/showcase/buttons/04-asset.jpg" alt="" class="thumb">
                <span class="title">全国生活協同組合連合会</span>
                <a href="seikyoren.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="canbe.html" class="companyItem">
                <img src="/img/showcase/buttons/05-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社スタジオキャンビー</span>
                <a href="monex.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="kavli.html" class="companyItem">
                <img src="/img/showcase/buttons/06-asset.jpg" alt="" class="thumb">
                <span class="title">東京大学国際高等研究所 カブリ数物連携宇宙研究機構</span>
                <a href="smbc.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="secondfactory.html" class="companyItem">
                <img src="/img/showcase/buttons/07-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社セカンドファクトリー</span>
                <a href="secondfactory.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="ezsoft.html" class="companyItem">
                <img src="/img/showcase/buttons/08-asset.jpg" alt="" class="thumb">
                <span class="title">イージーソフト株式会社</span>
                <a href="ezsoft.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="ctp.html" class="companyItem">
                <img src="/img/showcase/buttons/09-asset.jpg" alt="" class="thumb">
                <span class="title">ケンブリッジ・テクノロジー・パートナーズ株式会社</span>
                <a href="ctp.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="jotv.html" class="companyItem">
                <img src="/img/showcase/buttons/10-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社 Japan Open Television</span>
                <a href="jotv.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="ill.html" class="companyItem">
                <img src="/img/showcase/buttons/11-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社アイル</span>
                <a href="ill.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="uhas.html" class="companyItem">
                <img src="/img/showcase/buttons/12-asset.jpg" alt="" class="thumb">
                <span class="title">人間総合科学大学 人間科学部 健康栄養学科</span>
                <a href="uhas.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="ocj.html" class="companyItem">
                <img src="/img/showcase/buttons/13-asset.jpg" alt="" class="thumb">
                <span class="title">一般社団法人オープン・コーポレイツ・ジャパン</span>
                <a href="ocj.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="shogi.html" class="companyItem">
                <img src="/img/showcase/buttons/14-asset.jpg" alt="" class="thumb">
                <span class="title">公益社団法人 日本将棋連盟</span>
                <a href="shogi.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="pscsrv.html" class="companyItem">
                <img src="/img/showcase/buttons/15-asset.jpg" alt="" class="thumb">
                <span class="title">ピープルソフトウェア株式会社</span>
                <a href="pscsrv.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="wfp.html" class="companyItem">
                <img src="/img/showcase/buttons/16-asset.jpg" alt="" class="thumb">
                <span class="title">国連WFP協会</span>
                {{!-- <a href="pscsrv.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a> --}}
                <a href="wfp.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="clubood.html" class="companyItem">
                <img src="/img/showcase/buttons/17-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社クラボード</span>
                <a href="clubood.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="kddi-web.html" class="companyItem">
                <img src="/img/showcase/buttons/18-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社KDDIウェブコミュニケーションズ</span>
                <a href="kddi-web.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="etajimacity.html" class="companyItem">
                <img src="/img/showcase/buttons/20-asset.jpg" alt="" class="thumb">
                <span class="title">江田島市観光協会 / 日本ユニシス株式会社</span>
                <a href="etajimacity.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="netmarketing.html" class="companyItem">
                <img src="/img/showcase/buttons/21-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社ネットマーケティング</span>
                <a href="netmarketing.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="kdl.html" class="companyItem">
                <img src="/img/showcase/buttons/22-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社 神戸デジタル・ラボ</span>
                <a href="kdl.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="jmac.html" class="companyItem">
                <img src="/img/showcase/buttons/23-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社ジェイマックシステム</span>
                <a href="jmac.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="teu.html" class="companyItem">
                <img src="/img/showcase/buttons/24_teu_2.jpg" alt="" class="thumb">
                <span class="title">東京工科大学メディア学部</span>
                <a href="teu.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="proroutemarumitsu.html" class="companyItem">
                <img src="/img/showcase/buttons/25_proroutemarumitsu_2.jpg" alt="" class="thumb">
                <span class="title">株式会社プロルート丸光</span>
                <a href="proroutemarumitsu.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="doshisha.html" class="companyItem">
                <img src="/img/showcase/buttons/26_doshisha_2.jpg" alt="" class="thumb">
                <span class="title">同志社中学校・高等学校</span>
                <a href="doshisha.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="flexion.html" class="companyItem">
                <img src="/img/showcase/buttons/27-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社フレクションコンサルティング</span>
                <a href="flexion.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="naganobank.html" class="companyItem">
                <img src="/img/showcase/buttons/28-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社長野銀行</span>
                <a href="naganobank.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="nijibox.html" class="companyItem">
                <img src="/img/showcase/buttons/29-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社ニジボックス</span>
                <a href="nijibox.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="fusionnagaike.html" class="companyItem">
                <img src="/img/showcase/buttons/30-asset.jpg" alt="" class="thumb">
                <span class="title">特定非営利活動法人 NPOフュージョン長池</span>
                <a href="fusionnagaike.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="estcorporation.html" class="companyItem">
                <img src="/img/showcase/buttons/31-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社EST corporation</span>
                <a href="estcorporation.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="tokyocalendar.html" class="companyItem">
                <img src="/img/showcase/buttons/32-asset.jpg" alt="" class="thumb">
                <span class="title">東京カレンダー株式会社</span>
                <a href="tokyocalendar.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="tvasahi.html" class="companyItem">
                <img src="/img/showcase/buttons/33-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社テレビ朝日</span>
                <a href="tvasahi.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="proto.html" class="companyItem">
                <img src="/img/showcase/buttons/34-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社プロトコーポレーション</span>
                <a href="proto.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="jnb.html" class="companyItem">
                <img src="/img/showcase/buttons/35-asset.jpg" alt="" class="thumb">
                <span class="title">株式会社ジャパンネット銀行</span>
                <a href="jnb.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
        <li class="case">
            <a href="hitachitool.html" class="companyItem">
                <img src="/img/showcase/buttons/36-asset.jpg" alt="" class="thumb">
                <span class="title">三菱日立ツール株式会社</span>
                <a href="hitachitool.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
            </a>
        </li>
    </ul>
</div>

<div class="container">
    <div class="movie">
        <div class="clearfix">
            {{!-- <div class="sp-cf"> --}}
                <div class="headline">
                    <h2>お客様インタビュー動画</h2>
                    <a href="https://vimeo.com/channels/monaca" target="_blank">» 事例動画一覧へ <i
                            class="glyphicon glyphicon-new-window"></i></a>
                </div>
            {{!-- </div> --}}
            <div class="vimeo">
                <button class="js-modal-btn-vimeo" data-video-id="215604307"></button>
                <iframe src="https://player.vimeo.com/video/215604307" width="373" height="210" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <button class="js-modal-btn-vimeo" data-video-id="215604151"></button>
                <iframe src="https://player.vimeo.com/video/215604151" width="373" height="210" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            <div class="vimeo-medium">
                <button class="js-modal-btn-vimeo" data-video-id="215604307"></button>
                <iframe src="https://player.vimeo.com/video/215604307" width="600" height="338" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="vimeo-medium md">
                <button class="js-modal-btn-vimeo" data-video-id="215604151"></button>
                <iframe src="https://player.vimeo.com/video/215604151" width="600" height="338" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            <div class="break-vimeo firstVid">
                <button class="js-modal-btn-vimeo" data-video-id="215604151"></button>
            </div>
            <div class="break-vimeo mr">
                <button class="js-modal-btn-vimeo" data-video-id="215604307"></button>
            </div>
            <div class="break-vimeo-list-url">
                <a href="https://vimeo.com/channels/monaca" target="_blank">事例動画一覧へ <i
                        class="glyphicon glyphicon-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<script>
    $('.js-modal-btn-vimeo').modalVideo({ channel: 'vimeo' });
    $('.next').click(function(){
        let href
        let $this   = $(this)
        let $target = $($this.attr('data-target') || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, '')) // strip for ie7
        if (!$target.hasClass('carousel')) return
        let slideSide = $this.attr('data-slide-to')

        if (slideSide) {
            slideSide.toString().toLowerCase() === 'next' ?
                    $target.data('bs.carousel').next() :
                    $target.data('bs.carousel').prev()
        }
    });
    document.addEventListener('DOMContentLoaded', function() {
        // $('.break-vimeo iframe').hide();
        let widthSize = $(window).width() * 0.9;
        let heightSize = widthSize/1.77777;
        let opts = 'frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen';
        let size = `width = "${widthSize}" height = "${heightSize}"`;
        let iframe1 = `<iframe class="right-vimeo" src="https://player.vimeo.com/video/215604307" ${size} ${opts} ></iframe>`;
        let iframe2 = `<iframe class="left-vimeo" src="https://player.vimeo.com/video/215604151" ${size} ${opts}></iframe>`;
        $('.break-vimeo.mr').append(iframe2);
        $('.firstVid').append(iframe1);
    });
</script>
