---
title: Monaca導入事例
class: showcase-index
---

<h1>Monaca導入事例</h1>

<div id="carousel-showcase" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="/showcase/shogi.html"><img src="/img/showcase/keyvisual_24.jpg" alt="アプリ開発初挑戦の社内スタッフがプロ公式戦の棋譜記録のアプリ化を実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/pscsrv.html"><img src="/img/showcase/keyvisual_23.jpg" alt="ピープルソフトウェア株式会社：「BaaS@rakuza」のフロントエンド開発環境として「Monaca」を採用、開発効率を５〜6倍に向上"></a>
        </div>
        <div class="item">
            <a href="/showcase/wfp.html"><img src="/img/showcase/keyvisual_22.jpg" alt="国連WFP協会：SalesforceのSales Cloud連携のNPO支援者向けiOS、Androidアプリを同時開発"></a>
        </div>
        <div class="item">
            <a href="/showcase/fujitec.html"><img src="/img/showcase/keyvisual_21.jpg" alt="フジテック株式会社：モバイルファーストな情報システム内製化基盤をMonacaとmBaaSで短期に実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/clubood.html"><img src="/img/showcase/keyvisual_20.jpg" alt="株式会社クラボード：ネイティブ開発に比較して2倍の開発生産性を実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/kddi-web.html"><img src="/img/showcase/keyvisual_19.jpg" alt="株式会社KDDIウェブコミュニケーションズ：クラウド電話API「Twilio」を活用して社員のスマートフォンの内線電話化を2ヶ月間で実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/jtrust.html"><img src="/img/showcase/keyvisual_18.jpg" alt="Ｊトラストシステム株式会社：「Monaca」初挑戦ながらIRアプリを1か月でリリース"></a>
        </div>
        <div class="item">
            <a href="/showcase/etajimacity.html"><img src="/img/showcase/keyvisual_17.jpg" alt="江田島市観光協会 / 日本ユニシス株式会社：観光協会向けアプリプロジェクトで開発サイクル全般の効率化を実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/netmarketing.html"><img src="/img/showcase/keyvisual_16.jpg" alt="株式会社ネットマーケティング：新感覚転職アプリ「Siwtch」をMonacaで開発、短納期での開発とメンテナンスコストの低減を実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/kdl.html"><img src="/img/showcase/keyvisual_15.jpg" alt="株式会社 神戸デジタル・ラボ：店舗販促支援向けセミオーダータイプのスマホアプリ開発ソリューションをMonacaとOnsen UIで提供"></a>
        </div>
        <div class="item">
            <a href="/showcase/jmac.html"><img src="/img/showcase/keyvisual_14.jpg" alt="株式会社ジェイマックシステム：開発環境構築期間、開発工数を大幅に短縮。人材確保も容易になり、スムーズなプロジェクト運営を実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/teu.html"><img src="/img/showcase/keyvisual_13.jpg" alt="東京工科大学メディア学部：クラウド開発環境の利点を最大限活用した効率的な授業運営を実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/proroutemarumitsu.html"><img src="/img/showcase/keyvisual_12.jpg" alt="株式会社プロルート丸光：創業明治33年の老舗企業がアプリでお客様とのコミュニケーション変革に挑む"></a>
        </div>
        <div class="item">
            <a href="/showcase/doshisha.html"><img src="/img/showcase/keyvisual_10.jpg" alt="同志社中学校・高等学校：プログラミングが初めての生徒たちがアプリ開発を通じて「作る喜び」を実感"></a>
        </div>
        <div class="item">
            <a href="/showcase/flexion.html"><img src="/img/showcase/keyvisual_11.jpg" alt="株式会社フレクションコンサルティング：「Monacaがなければアプリのリリースはできなかった！」アプリ開発未経験チームがわずか３ヶ月間で開発"></a>
        </div>
        <div class="item">
            <a href="/showcase/naganobank.html"><img src="/img/showcase/keyvisual_9.jpg" alt="株式会社長野銀行：Monacaの活用で開発期間を2/3に短縮し、将来に向けた優れた柔軟性も実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/nijibox.html"><img src="/img/showcase/keyvisual_8.jpg" alt="株式会社ニジボックス：MonacaとOnsen UIを活用し実工数2週間でのアプリリリースを実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/fusionnagaike.html"><img src="/img/showcase/keyvisual_7.jpg" alt="特定非営利活動法人 NPOフュージョン長池：アプリ活用により、152カ所の公園管理作業の見える化・効率化・情報共有化を実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/estcorporation.html"><img src="/img/showcase/keyvisual_6.jpg" alt="株式会社EST corporation：フショアでのネイティブ開発からの転換！ 社内のモバイルアプリ開発未経験者が1か月でリリース"></a>
        </div>
        <div class="item">
            <a href="/showcase/tokyocalendar.html"><img src="/img/showcase/keyvisual_5.jpg" alt="東京カレンダー株式会社：HTML5ハイブリッド開発で開発人員増にも柔軟に対応、開発工数20%、テスト工数50%削減を実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/tvasahi.html"><img src="/img/showcase/keyvisual_4.jpg" alt="株式会社テレビ朝日：アプリ化で投稿数約３倍増！スクープ映像投稿アプリをiOS、Android同時開発"></a>
        </div>
        <div class="item">
            <a href="/showcase/proto.html"><img src="/img/showcase/keyvisual_3.jpg" alt="株式会社プロトコーポレーション：中古車販売店向けアプリCMSをわずか4ヶ月間でサービスイン"></a>
        </div>
        <div class="item">
            <a href="/showcase/jnb.html"><img src="/img/showcase/keyvisual_2.jpg" alt="株式会社ジャパンネット銀行：1秒ログインを実現する残高照会ハイブリッドアプリ"></a>
        </div>
        <div class="item">
            <a href="/showcase/hitachitool.html"><img src="/img/showcase/keyvisual_1.jpg" alt="日立ツール株式会社：iOSとAndroidのハイブリッドアプリを同時開発により開発コストを半減"></a>
        </div>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#carousel-showcase" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-showcase" data-slide-to="1"></li>
        <li data-target="#carousel-showcase" data-slide-to="2"></li>
        <li data-target="#carousel-showcase" data-slide-to="3"></li>
        <li data-target="#carousel-showcase" data-slide-to="4"></li>
        <li data-target="#carousel-showcase" data-slide-to="5"></li>
        <li data-target="#carousel-showcase" data-slide-to="6"></li>
        <li data-target="#carousel-showcase" data-slide-to="7"></li>
        <li data-target="#carousel-showcase" data-slide-to="8"></li>
        <li data-target="#carousel-showcase" data-slide-to="9"></li>
        <li data-target="#carousel-showcase" data-slide-to="10"></li>
        <li data-target="#carousel-showcase" data-slide-to="11"></li>
        <li data-target="#carousel-showcase" data-slide-to="12"></li>
        <li data-target="#carousel-showcase" data-slide-to="13"></li>
        <li data-target="#carousel-showcase" data-slide-to="14"></li>
        <li data-target="#carousel-showcase" data-slide-to="15"></li>
        <li data-target="#carousel-showcase" data-slide-to="16"></li>
        <li data-target="#carousel-showcase" data-slide-to="17"></li>
        <li data-target="#carousel-showcase" data-slide-to="18"></li>
        <li data-target="#carousel-showcase" data-slide-to="19"></li>
        <li data-target="#carousel-showcase" data-slide-to="20"></li>
        <li data-target="#carousel-showcase" data-slide-to="21"></li>
        <li data-target="#carousel-showcase" data-slide-to="22"></li>
    </ol>
</div>

<ul class="cases">
    <li data-category="npo">
        <a href="shogi.html"><img src="/img/showcase/btn_shogi.png" alt="" class="thumb"></a>
        <p class="title title-small"><a href="shogi.html">公益社団法人 日本将棋連盟</a></p>
        <p class="category">公益法人</p>
        <p>アプリ開発初挑戦の社内スタッフがプロ公式戦の棋譜記録のアプリ化を実現</p>
    </li>
    <li data-category="media">
        <a href="pscsrv.html"><img src="/img/showcase/btn_pscsrv.png" alt="" class="thumb"></a>
        <p class="title title-small"><a href="pscsrv.html">ピープルソフトウェア株式会社</a></p>
        <p class="category">ソフトウェア</p>
        <p>「BaaS@rakuza」のフロントエンド開発環境として「Monaca」を採用、開発効率を５〜6倍に向上</p>
    </li>
    <li data-category="npo">
        <a href="wfp.html"><img src="/img/showcase/btn_wfp.png" alt="" class="thumb"></a>
        <p class="title title-small"><a href="wfp.html">国連WFP協会</a></p>
        <p class="category">NPO</p>
        <p>SalesforceのSales Cloud連携のNPO支援者向けiOS、Androidアプリを同時開発</p>
    </li>
    <li data-category="media">
        <a href="fujitec.html"><img src="/img/showcase/btn_fujitec.png" alt="" class="thumb"></a>
        <p class="title title-small"><a href="fujitec.html">フジテック株式会社</a></p>
        <p class="category">製造</p>
        <p>モバイルファーストな情報システム内製化基盤をMonacaとmBaaSで短期に実現</p>
    </li>
    <li data-category="media">
        <a href="clubood.html"><img src="/img/showcase/btn_clubood.png" alt="" class="thumb"></a>
        <p class="title title-small"><a href="clubood.html">株式会社クラボード</a></p>
        <p class="category">メディア</p>
        <p>ネイティブ開発に比較して2倍の開発生産性を実現</p>
    </li>
    <li data-category="media">
        <a href="kddi-web.html"><img src="/img/showcase/btn_kddi-web.png" alt="" class="thumb"></a>
        <p class="title title-small"><a href="kddi-web.html">株式会社KDDIウェブコミュニケーションズ</a></p>
        <p class="category">通信</p>
        <p>クラウド電話API「Twilio」を活用して社員のスマートフォンの内線電話化を2ヶ月間で実現</p>
    </li>
    <li data-category="media">
        <a href="jtrust.html"><img src="/img/showcase/btn_jtrust.png" alt="" class="thumb"></a>
        <p class="title"><a href="jtrust.html">Ｊトラストシステム株式会社</a></p>
        <p class="category">金融</p>
        <p>「Monaca」初挑戦ながらIRアプリを1か月でリリース</p>
    </li>
    <li data-category="municipality">
        <a href="etajimacity.html"><img src="/img/showcase/btn_unisys.png" alt="" class="thumb"></a>
        <p class="title title-small"><a href="etajimacity.html">江田島市観光協会 / 日本ユニシス株式会社</a></p>
        <p class="category">自治体</p>
        <p>観光協会向けアプリプロジェクトで開発サイクル全般の効率化を実現</p>
    </li>
    <li data-category="media">
        <a href="netmarketing.html"><img src="/img/showcase/btn_netmarketing.png" alt="" class="thumb"></a>
        <p class="title"><a href="netmarketing.html">株式会社ネットマーケティング</a></p>
        <p class="category">メディア</p>
        <p>新感覚転職アプリ<span class="ml">「</span>Switch」<span class="ml">を</span>Monacaで開発、短納期での開発とメンテナンスコストの低減を実現</p>
    </li>
    <li data-category="media">
        <a href="kdl.html"><img src="/img/showcase/btn_kdl.png" alt="" class="thumb"></a>
        <p class="title"><a href="kdl.html">株式会社 神戸デジタル・ラボ</a></p>
        <p class="category">ソフトウェア</p>
        <p>店舗販促支援向けセミオーダータイプのスマホアプリ開発ソリューションをMonacaとOnsen UIで提供</p>
    </li>
    <li data-category="medical">
        <a href="jmac.html"><img src="/img/showcase/btn_jmac.png" alt="" class="thumb"></a>
        <p class="title"><a href="jmac.html">株式会社ジェイマックシステム</a></p>
        <p class="category">医療</p>
        <p>開発環境構築期間、開発工数を大幅に短縮。人材確保も容易になり、スムーズなプロジェクト運営を実現</p>
    </li>
    <li data-category="education">
        <a href="teu.html"><img src="/img/showcase/btn_teu.png" alt="" class="thumb"></a>
        <p class="title"><a href="teu.html">東京工科大学メディア学部</a></p>
        <p class="category">教育機関</p>
        <p>クラウド開発環境の利点を最大限活用した効率的な授業運営を実現</p>
    </li>
    <li data-category="apparel">
        <a href="proroutemarumitsu.html"><img src="/img/showcase/btn_proroute.png" alt="" class="thumb"></a>
        <p class="title"><a href="proroutemarumitsu.html">株式会社プロルート丸光</a></p>
        <p class="category">卸売</p>
        <p>創業明治33年の老舗企業がアプリでお客様とのコミュニケーション変革に挑む</p>
    </li>
    <li data-category="education">
        <a href="doshisha.html"><img src="/img/showcase/btn_doshisha.png" alt="" class="thumb"></a>
        <p class="title"><a href="doshisha.html">同志社中学校・高等学校</a></p>
        <p class="category">教育機関</p>
        <p>プログラミングが初めての生徒たちがアプリ開発を通じて「作る喜び」を実感</p>
    </li>
    <li data-category="media">
        <a href="flexion.html"><img src="/img/showcase/btn_flexion.png" alt="" class="thumb"></a>
        <p class="title title-small"><a href="flexion.html">株式会社フレクションコンサルティング</a></p>
        <p class="category">ソフトウェア</p>
        <p>「Monacaがなければアプリのリリースはできなかった！」アプリ開発未経験チームがわずか３ヶ月間で開発</p>
    </li>
    <li data-category="finance">
        <a href="naganobank.html"><img src="/img/showcase/btn_naganobank.png" alt="" class="thumb"></a>
        <p class="title"><a href="naganobank.html">株式会社長野銀行</a></p>
        <p class="category">金融</p>
        <p>Monacaの活用で開発期間を2/3に短縮し、将来に向けた優れた柔軟性も実現</p>
    </li>
    <li data-category="media">
        <a href="nijibox.html"><img src="/img/showcase/btn_nijibox.png" alt="" class="thumb"></a>
        <p class="title"><a href="nijibox.html">株式会社ニジボックス</a></p>
        <p class="category">メディア</p>
        <p>MonacaとOnsen UIを活用し実工数2週間でのアプリリリースを実現</p>
    </li>
    <li data-category="npo">
        <a href="fusionnagaike.html"><img src="/img/showcase/btn_fusionnagaike.png" alt="" class="thumb"></a>
        <p class="title title-small"><a href="fusionnagaike.html">特定非営利活動法人 NPOフュージョン長池</a></p>
        <p class="category">NPO</p>
        <p>アプリ活用により、152カ所の公園管理作業の見える化・効率化・情報共有化を実現</p>
    </li>
    <li data-category="media">
        <a href="estcorporation.html"><img src="/img/showcase/btn_est_corporation.png" alt="" class="thumb"></a>
        <p class="title"><a href="estcorporation.html">株式会社EST corporation</a></p>
        <p class="category">メディア</p>
        <p>オフショアでのネイティブ開発からの転換！社内のモバイルアプリ開発未経験者が1か月でリリース</p>
    </li>
    <li data-category="media">
        <a href="tokyocalendar.html"><img src="/img/showcase/btn_tc.png" alt="" class="thumb"></a>
        <p class="title"><a href="tokyocalendar.html">東京カレンダー株式会社</a></p>
        <p class="category">メディア</p>
        <p>HTML5ハイブリッド開発で開発人員増にも柔軟に対応、開発工数20%、テスト工数50%削減を実現</p>
    </li>
    <li data-category="media">
        <a href="tvasahi.html"><img src="/img/showcase/btn_tvasahi.png" alt="" class="thumb"></a>
        <p class="title"><a href="tvasahi.html">株式会社テレビ朝日</a></p>
        <p class="category">メディア</p>
        <p>アプリ化で投稿数約３倍増！スクープ映像投稿アプリをiOS、Android同時開発</p>
    </li>
    <li data-category="media">
        <a href="proto.html"><img src="/img/showcase/btn_proto.png" alt="" class="thumb"></a>
        <p class="title"><a href="proto.html">株式会社プロトコーポレーション</a></p>
        <p class="category">メディア</p>
        <p>中古車販売店向けアプリCMSをわずか4ヶ月間でサービスイン</p>
    </li>
    <li data-category="finance">
        <a href="jnb.html"><img src="/img/showcase/btn_jnb.png" alt="" class="thumb"></a>
        <p class="title"><a href="jnb.html">株式会社ジャパンネット銀行</a></p>
        <p class="category">金融</p>
        <p>1秒ログインを実現する残高照会HTML5ハイブリッドアプリ</p>
    </li>
    <li data-category="manufacture">
        <a href="hitachitool.html"><img src="/img/showcase/btn_hitachitool.png" alt="" class="thumb"></a>
        <p class="title"><a href="hitachitool.html">三菱日立ツール株式会社</a></p>
        <p class="category">製造</p>
        <p>iOSとAndroidのハイブリッドアプリを同時開発により開発コストを半減</p>
    </li>
</ul>


<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>

<script>
$(function() {
    var cases = $(".cases li");
    var selectors = $(".cases-category li");

    selectors.click(function() {
        selectors.removeClass("active");
        $(this).addClass("active");

        var cat = this.dataset["category"];

        cases.each(function() {
            if ((cat === "all") || (cat === this.dataset["category"])) {
                $(this).show();
            } else {
                $(this).hide()
            }
        });
    });
});
</script>
