---
title: Monaca導入事例
class: showcase-index
viewport: width=640
---

<h1>Monaca導入事例</h1>

<div id="carousel-showcase" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="/showcase/naganobank.html"><img src="/img/showcase/keyvisual_9.jpg" alt="株式会社長野銀行：Monacaの活用で開発期間を2/3に短縮し、将来に向けた優れた柔軟性も実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/nijibox.html"><img src="/img/showcase/keyvisual_8.jpg" alt="株式会社ニジボックス：MonacaとOnsen UIを活用し実工数2週間でのアプリリリースを実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/fusionnagaike.html"><img src="/img/showcase/keyvisual_7.jpg" alt="特定非営利活動法人 NPOフュージョン長池：アプリ活用により、152カ所の公園管理作業の見える化・効率化・情報共有化を実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/estcorporation.html"><img src="/img/showcase/keyvisual_6.jpg" alt="株式会社EST corporation：フショアでのネイティブ開発からの転換！ 社内のモバイルアプリ開発未経験者が1か月でリリース"></a>
        </div>
        <div class="item">
            <a href="/showcase/tokyocalendar.html"><img src="/img/showcase/keyvisual_5.jpg" alt="東京カレンダー株式会社：HTML5ハイブリッド開発で開発人員増にも柔軟に対応、開発工数20%、テスト工数50%削減を実現"></a>
        </div>
        <div class="item">
            <a href="/showcase/tvasahi.html"><img src="/img/showcase/keyvisual_4.jpg" alt="株式会社テレビ朝日：アプリ化で投稿数約３倍増！スクープ映像投稿アプリをiOS、Android同時開発"></a>
        </div>
        <div class="item">
            <a href="/showcase/proto.html"><img src="/img/showcase/keyvisual_3.jpg" alt="株式会社プロトコーポレーション：中古車販売店向けアプリCMSをわずか4ヶ月間でサービスイン"></a>
        </div>
        <div class="item">
            <a href="/showcase/jnb.html"><img src="/img/showcase/keyvisual_2.jpg" alt="株式会社ジャパンネット銀行：1秒ログインを実現する残高照会ハイブリッドアプリ"></a>
        </div>
        <div class="item">
            <a href="/showcase/hitachitool.html"><img src="/img/showcase/keyvisual_1.jpg" alt="日立ツール株式会社：iOSとAndroidのハイブリッドアプリを同時開発により開発コストを半減"></a>
        </div>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#carousel-showcase" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-showcase" data-slide-to="1"></li>
        <li data-target="#carousel-showcase" data-slide-to="2"></li>
        <li data-target="#carousel-showcase" data-slide-to="3"></li>
        <li data-target="#carousel-showcase" data-slide-to="4"></li>
        <li data-target="#carousel-showcase" data-slide-to="5"></li>
        <li data-target="#carousel-showcase" data-slide-to="6"></li>
        <li data-target="#carousel-showcase" data-slide-to="7"></li>
        <li data-target="#carousel-showcase" data-slide-to="7"></li>
    </ol>
</div>

<ul class="cases">
    <li data-category="media">
        <a href="naganobank.html"><img src="/img/showcase/btn_naganobank.png" alt="" class="thumb"></a>
        <p class="title"><a href="naganobank.html">株式会社長野銀行</a></p>
        <p class="category">金融</p>
        <p>Monacaの活用で開発期間を2/3に短縮し、将来に向けた優れた柔軟性も実現</p>
    </li>
    <li data-category="media">
        <a href="nijibox.html"><img src="/img/showcase/btn_nijibox.png" alt="" class="thumb"></a>
        <p class="title"><a href="nijibox.html">株式会社ニジボックス</a></p>
        <p class="category">メディア</p>
        <p>MonacaとOnsen UIを活用し実工数2週間でのアプリリリースを実現</p>
    </li>
    <li data-category="npo">
        <a href="fusionnagaike.html"><img src="/img/showcase/btn_fusionnagaike.png" alt="" class="thumb"></a>
        <p class="title title-small"><a href="fusionnagaike.html">特定非営利活動法人 NPOフュージョン長池</a></p>
        <p class="category">NPO</p>
        <p>アプリ活用により、152カ所の公園管理作業の見える化・効率化・情報共有化を実現</p>
    </li>
    <li data-category="media">
        <a href="estcorporation.html"><img src="/img/showcase/btn_est_corporation.png" alt="" class="thumb"></a>
        <p class="title"><a href="estcorporation.html">株式会社EST corporation</a></p>
        <p class="category">メディア</p>
        <p>HTML5ハイブリッド開発で開発人員増にも柔軟に対応、開発工数20%、テスト工数50%削減を実現</p>
    </li>
    <li data-category="media">
        <a href="tokyocalendar.html"><img src="/img/showcase/btn_tc.png" alt="" class="thumb"></a>
        <p class="title"><a href="tokyocalendar.html">東京カレンダー株式会社</a></p>
        <p class="category">メディア</p>
        <p>HTML5ハイブリッド開発で開発人員増にも柔軟に対応、開発工数20%、テスト工数50%削減を実現</p>
    </li>
    <li data-category="media">
        <a href="tvasahi.html"><img src="/img/showcase/btn_tvasahi.png" alt="" class="thumb"></a>
        <p class="title"><a href="tvasahi.html">株式会社テレビ朝日</a></p>
        <p class="category">メディア</p>
        <p>アプリ化で投稿数約３倍増！スクープ映像投稿アプリをiOS、Android同時開発</p>
    </li>
    <li data-category="media">
        <a href="proto.html"><img src="/img/showcase/btn_proto.png" alt="" class="thumb"></a>
        <p class="title"><a href="proto.html">株式会社プロトコーポレーション</a></p>
        <p class="category">メディア</p>
        <p>中古車販売店向けアプリCMSをわずか4ヶ月間でサービスイン</p>
    </li>
    <li data-category="finance">
        <a href="jnb.html"><img src="/img/showcase/btn_jnb.png" alt="" class="thumb"></a>
        <p class="title"><a href="jnb.html">株式会社ジャパンネット銀行</a></p>
        <p class="category">金融</p>
        <p>1秒ログインを実現する残高照会HTML5ハイブリッドアプリ</p>
    </li>
    <li data-category="manufacture">
        <a href="hitachitool.html"><img src="/img/showcase/btn_hitachitool.png" alt="" class="thumb"></a>
        <p class="title"><a href="hitachitool.html">三菱日立ツール株式会社</a></p>
        <p class="category">製造</p>
        <p>iOSとAndroidのハイブリッドアプリを同時開発により開発コストを半減</p>
    </li>
</ul>


<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="https://monaca.mobi/ja/support/inquiry" class="btn btn-big btn-blue">お問い合わせ</a>
</div>

<script>
$(function() {
    var cases = $(".cases li");
    var selectors = $(".cases-category li");
    
    selectors.click(function() {
        selectors.removeClass("active");
        $(this).addClass("active");
        
        var cat = this.dataset["category"];

        cases.each(function() {
            if ((cat === "all") || (cat === this.dataset["category"])) {
                $(this).show();
            } else {
                $(this).hide()
            }
        });
    });
});
</script>