---
title: Monaca導入事例
class: showcase-index
---

<div id="carousel-showcase" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item seikyoren active">
            <div class="cover-text">
                <div class="container">
                    <div class="text">
                        <span class="category">注目事例</span>
                        <span class="title">モバイルファーストな情報システム内製化基盤を<br>MonacaとmBaaSで短期に実現</span>
                        <span class="misc">フジテック株式会社</span>
                        <span class="misc">情報システム部 小庵寺 良剛氏、堰合 宏史氏</span>
                    </div>
                </div>
            </div>
            <a href="/showcase/seikyoren.html"><span class="img"></span></a>
        </div>
        <div class="item canbe">
            <div class="cover-text">
                <div class="container">
                    <div class="text">
                        <span class="category">注目事例</span>
                        <span class="title">既存Webアプリのスマホアプリ化で、<br>スマホユーザーの利便性を大幅に向上</span>
                        <span class="misc">マネックス証券株式会社</span>
                        <span class="misc">執行役員　大平 幸典氏</span>
                    </div>
                </div>
            </div>
            <a href="/showcase/canbe.html"><span class="img"></span></a>
        </div>
        <div class="item kavli">
            <div class="cover-text">
                <div class="container">
                    <div class="text">
                        <span class="category">注目事例</span>
                        <span class="title">オープンイノベーションを加速させる！<br>イノベーターがつながる拠点「hoops link tokyo」の<br>専用アプリをMonacaで開発</span>
                        <span class="misc">株式会社三井住友フィナンシャルグループ</span>
                        <span class="misc">ITイノベーション推進部　三嶋 英城氏、郷田 悠未氏</span>
                    </div>
                </div>
            </div>
            <a href="/showcase/kavli.html"><span class="img"></span></a>
        </div>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#carousel-showcase" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-showcase" data-slide-to="1"></li>
        <li data-target="#carousel-showcase" data-slide-to="2"></li>
    </ol>
</div>

<div class="container cases">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/btn_seikyoren.png" alt="" class="thumb">
            <span class="title">全国生活協同組合連合会</span>
            <a href="seikyoren.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_canbe.png" alt="" class="thumb">
            <span class="title">株式会社スタジオキャンビー</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_kavli.png" alt="" class="thumb">
            <p class="title">東京大学国際高等研究所 カブリ数物連携宇宙研究機構</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_kavli.png" alt="" class="thumb">
            <p class="title">東京大学国際高等研究所 カブリ数物連携宇宙研究機構</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_smbc.png" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="smbc.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_fujitec.png" alt="" class="thumb">
            <p class="title">フジテック株式会社</p>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_monex.png" alt="" class="thumb">
            <p class="title">マネックス証券株式会社</p>
            <a href="monex.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_secondfactory.png" alt="" class="thumb">
            <p class="title">株式会社セカンドファクトリー</p>
            <a href="secondfactory.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_ezsoft.png" alt="" class="thumb">
            <p class="title">イージーソフト株式会社</p>
            <a href="ezsoft.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li data-category="consulting">
            <img src="/img/showcase/btn_ctp.png" alt="" class="thumb">
            <p class="title">ケンブリッジ・テクノロジー・パートナーズ株式会社</p>
            <a href="ctp.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_jotv.png" alt="" class="thumb">
            <p class="title">株式会社 Japan Open Television</p>
            <a href="jotv.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_ill.png" alt="" class="thumb">
            <p class="title">株式会社アイル</p>
            <a href="ill.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_uhas.png" alt="" class="thumb">
            <p class="title">人間総合科学大学 人間科学部 健康栄養学科</p>
            <a href="uhas.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_ocj.png" alt="" class="thumb">
            <p class="title">一般社団法人オープン・コーポレイツ・ジャパン</p>
            <a href="ocj.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_shogi.png" alt="" class="thumb">
            <p class="title">公益社団法人 日本将棋連盟</p>
            <a href="shogi.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_pscsrv.png" alt="" class="thumb">
            <p class="title">ピープルソフトウェア株式会社</p>
            <a href="pscsrv.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_wfp.png" alt="" class="thumb">
            <p class="title">国連WFP協会</p>
            <a href="wfp.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_fujitec.png" alt="" class="thumb">
            <p class="title">フジテック株式会社</p>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_clubood.png" alt="" class="thumb">
            <p class="title">株式会社クラボード</p>
            <a href="clubood.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_kddi-web.png" alt="" class="thumb">
            <p class="title">株式会社KDDIウェブコミュニケーションズ</p>
            <a href="kddi-web.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_jtrust.png" alt="" class="thumb">
            <p class="title">Ｊトラストシステム株式会社</p>
            <a href="jtrust.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_unisys.png" alt="" class="thumb">
            <p class="title title-small">江田島市観光協会 / 日本ユニシス株式会社</p>
            <a href="etajimacity.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_netmarketing.png" alt="" class="thumb">
            <p class="title">株式会社ネットマーケティング</p>
            <a href="netmarketing.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_kdl.png" alt="" class="thumb">
            <p class="title">株式会社 神戸デジタル・ラボ</p>
            <a href="kdl.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_jmac.png" alt="" class="thumb">
            <p class="title">株式会社ジェイマックシステム</p>
            <a href="jmac.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_teu.png" alt="" class="thumb">
            <p class="title">東京工科大学メディア学部</p>
            <a href="teu.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_proroute.png" alt="" class="thumb">
            <p class="title">株式会社プロルート丸光</p>
            <a href="proroutemarumitsu.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_doshisha.png" alt="" class="thumb">
            <p class="title">同志社中学校・高等学校</p>
            <a href="doshisha.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_flexion.png" alt="" class="thumb">
            <p class="title">株式会社フレクションコンサルティング</p>
            <a href="flexion.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_naganobank.png" alt="" class="thumb">
            <p class="title">株式会社長野銀行</p>
            <a href="naganobank.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_nijibox.png" alt="" class="thumb">
            <p class="title">株式会社ニジボックス</p>
            <a href="nijibox.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_fusionnagaike.png" alt="" class="thumb">
            <p class="title">特定非営利活動法人 NPOフュージョン長池</p>
            <a href="fusionnagaike.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_est_corporation.png" alt="" class="thumb">
            <p class="title">株式会社EST corporation</p>
            <a href="estcorporation.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_tc.png" alt="" class="thumb">
            <p class="title">東京カレンダー株式会社</p>
            <a href="tokyocalendar.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_tvasahi.png" alt="" class="thumb">
            <p class="title">株式会社テレビ朝日</p>
            <a href="tvasahi.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_proto.png" alt="" class="thumb">
            <p class="title">株式会社プロトコーポレーション</p>
            <a href="proto.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_jnb.png" alt="" class="thumb">
            <p class="title">株式会社ジャパンネット銀行</p>
            <a href="jnb.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/btn_hitachitool.png" alt="" class="thumb">
            <p class="title">三菱日立ツール株式会社</p>
            <a href="hitachitool.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>

<div class="container">
    <div class="movie">
        <div class="clearfix">
            <div class="sp-cf">
                <div class="headline">
                    <h2>お客様インタビュー動画</h2>
                    <a href="https://vimeo.com/channels/monaca" target="_blank">» 事例動画一覧へ <i
                            class="glyphicon glyphicon-new-window"></i></a>
                </div>
            </div>
            <div class="vimeo">
                <button class="js-modal-btn-vimeo" data-video-id="215604307"></button>
                <iframe src="https://player.vimeo.com/video/215604307" width="415" height="233" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <button class="js-modal-btn-vimeo" data-video-id="215604151"></button>
                <iframe src="https://player.vimeo.com/video/215604151" width="415" height="233" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            <div class="break-vimeo">
                <button class="js-modal-btn-vimeo" data-video-id="215604151"></button>
                <iframe class="left-vimeo" src="https://player.vimeo.com/video/215604151" frameborder="0"
                        webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <div class="break-vimeo mr">
                <button class="js-modal-btn-vimeo" data-video-id="215604307"></button>
                <iframe class="right-vimeo" src="https://player.vimeo.com/video/215604307" frameborder="0"
                        webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>

<script>
    $('.js-modal-btn-vimeo').modalVideo({ channel: 'vimeo' });
</script>
