---
title: Monaca導入事例：株式会社ジェイマックシステム
class: showcase jmac
description: 開発環境構築期間、開発工数を大幅に短縮。人材確保も容易になり、スムーズなプロジェクト運営を実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---
<header>
    <div class="image-wrapper">
        <img src="/img/jmac/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="">
        <span>注目事例</span>
        開発環境構築期間、開発工数を大幅に短縮。人材確保も<br>容易になり、スムーズなプロジェクト運営を実現
    </h1>
    <div class="info-cont">
        <img src="/img/jmac/logo_jmac.png" alt="株式会社ジェイマックシステム" />
        <h3>株式会社ジェイマックシステム</h3>
        <ul>
            <li>。。。</li>
            <li>。 。</li>
            <li>。。 。。</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="kdl.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">株式会社 神戸デジタル・ラボ</a>
    <a href="teu.html" class="next">東京工科大学メディア学部<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1><span>アプリの</span>紹介</h1>
        <p>「頭痛Click<sup>&#174;</sup>」は北里研究所病院と株式会社ジェイマックシステムが共同開発した頭痛患者向け診療支援アプリです。スマートフォンアプリ、PCから簡単に頭痛・服薬を記録し、クラウド上で保管したデータを患者様と医師が情報共有可能な新しい診療支援アプリです。<br>
        従来は紙に記録していた頭痛・服薬記録を、頭痛Click<sup>&#174;</sup>によって、いつでもどこでも入力が可能になったため、より正確に記録・分析ができるようになりました。患者様が登録したデータを元に、頭痛との関連が疑われる気圧・天気・コンディションなどとともに情報を医師が多角的に分析可能なことから診療効率の向上が期待されます。</p>
        <img class="sp-img" src="/img/jmac/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/jmac/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monacaの活用メリット</h1>
        <p>今回のプロジェクトでは各開発段階や進捗状況によってエンジニアの人数を増減させる必要がありました。Monacaを活用することで、スマートフォンアプリの開発経験がないWebエンジニアでも開発が行えました。これにより、プロジェクトメンバーの確保が容易になりメンバーのアサイン自由度の高いプロジェクト進行が実現できました。
        <br>
        また一般的なスマートフォンアプリ開発だと、環境設定を含めて開発開始まで1週間程度かかりますが、Monacaならすぐに開発を開始でき、iOSアプリ開発でもMacが不要であるため、開発の立ち上がりが速い点も評価されています。</p>
    </div>
    <img src="/img/jmac/img_2.jpg" alt="" class="sp-img" />
</section>


<section class="effect">
    <h1>Monacaの採用効果</h1>
    <ul>
        <li>MacなしでiOS向けアプリが開発できた</li>
        <li>開発開始までの期間を大幅に短縮できた</li>
        <li>Web標準技術なので開発要員の調整が行いやすかった</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>


    <figure class="alignright nowrap">
        <img src="/img/jmac/img_jmac_yamamuro.jpg" alt="山室 雅嗣 氏" />
        <figcaption>株式会社ジェイマックシステム<br />社長室 室長 事業企画推進担当<br>山室 雅嗣 氏</figcaption>
        <img src="/img/jmac/img_jmac_murakami.jpg" alt="村上 雄佑 氏" />
        <figcaption>株式会社ヘッドウォータース<br />サービスプロデュース事業部<br>ディレクター<br>村上 雄佑 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「頭痛Click<sup>&#174;</sup>」の企画を担当された株式会社ジェイマックシステム 社長室 室長の山室雅嗣氏と開発を担当された株式会社ヘッドウォータース ITインキュベーション事業部 ディレクターの村上雄佑氏にお話をお伺いしました。</p>
        <h2>Q1.Monacaの開発現場の評価はいかがでしたでしょうか？</h2>
        <p><span class="name">村上氏</span>　今回のプロジェクトでは、Monacaを活用することで、スマートフォンアプリ開発の経験がないWebエンジニアでも容易にスマートフォンアプリ開発ができたため、メンバーのアサイン面で自由度の高いプロジェクト進行ができました。従来だと、スマートフォンアプリ開発は専用のスキルを持ったメンバーでチームを組まなくてはならなかったので、それと比較するとプロジェクト運営効率が大幅に改善できました。スマートフォンアプリを開発した経験がない開発者でもMonacaがあればすぐに戦力になったのが良かったです。<br>
        実際の開発プロジェクトではAndoroidアプリからiOSに展開するときに、ブラウザの解釈がAndroidとiOSでは違うので、若干の調整が必要でしたが、それ以外は大変スムーズにプロジェクトを進めることができました。</p>

        <h2>Q2.「頭痛Click<sup>&#174;</sup>」開発において工夫した点をお教えください。</h2>
        <p><span class="name">山室氏</span>　一つはオフラインでの入力です。頭痛はいつ発症するかわかりません。飛行機の中など通信状況が悪い時にも、オフラインで入力でき、データの整合性を図れるよう開発しました。<br>
        また、「頭痛Click<sup>&#174;</sup>」は患者様が頭痛を発症した時に使うアプリなので、UIはダーク系の色調を採用し刺激を減らすと共に、入力負荷を抑える工夫もしました。</p>

        <h2>Q3.「頭痛Click<sup>&#174;</sup>」の今後の展開についてお教えください。</h2>
        <p><span class="name">山室氏</span>　頭痛と同様に日常生活における症状の記録が必要な疾病に「頭痛Click<sup>&#174;</sup>」の技術とノウハウを展開していきたいです。患者様自身が発症パターンを知り、有効に治療、投薬できるようになる事で、多くの方が救われると考えています。例えば、患者様の行動記録と食事を登録することで、アレルギーの発症要因の特定に活かせるかもしれません。このような取り組みは、医療業界の効率化にもつながると考えています。</p>

        <h2>Q4.どのようなプロジェクトにMonacaを活用したいですか？</h2>
        <p><span class="name">村上氏</span>　最近当社では、Webアプリでは実現できないスマートフォンアプリならではのUI／UXを求められることが多いのですが、Web以外のスキルを持ったiOS・Androidのアプリエンジニアがとても少ないために、これまではそのようなご要望に頻繁にお応えすることができませんでした。Monacaは、Webの技術でAndroidアプリとiOSアプリを開発できるため、iOS・Androidのアプリエンジニアが不足していても、そういったご要望にお応えできる可能性を高めてくれると思っています。また、Webと共通の技術を利用するという観点で、Webアプリの延長でスマートフォンアプリが必要になるプロジェクトでは特に活きると思います。さらに、保守運用を続ける必要があるプロジェクトでは、エンジニアリソースや開発環境維持などの観点でMonacaは有効なソリューションだと思います。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/jmac/img_jmac_yamamuro.jpg" alt="山室 雅嗣 氏" /></dt>
            <dd><figcaption>株式会社ジェイマックシステム<br />社長室 室長 事業企画推進担当<br>山室 雅嗣 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/jmac/img_jmac_murakami.jpg" alt="村上 雄佑 氏" /></dt>
            <dd><figcaption>株式会社ヘッドウォータース<br />サービスプロデュース事業部<br>ディレクター<br>村上 雄佑 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/jmac/logo_jmac.png" alt="株式会社ジェイマックシステム" /></h1>

        <dl class="clearfix">
            <dt>商号</dt>
            <dd><em>株式会社ジェイマックシステム（英名：J-MAC SYSTEM, INC.）</em></dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1989年（平成元年）7月12日</dd>
        </dl>
        <dl>
            <dt>資本金</dt>
            <dd>3,000万円</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.j-mac.co.jp/" target="_blank">http://www.j-mac.co.jp/<i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成28年5月末日現在)</p>
    </div>

    <div class="developer info-cont clearfix">
        <h2>担当開発会社</h2>
        <img src="/img/jmac/logo_headwaters.png" alt="株式会社ヘッドウォータース" class="logo" />
        <em>株式会社ヘッドウォータース</em>
        <a class="url" href="http://www.headwaters.co.jp/" target="_blank">http://www.headwaters.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a>
    </div>
</section>

<div class="container download">
    <span>「頭痛Click<sup>&#174;</sup>」のダウンロードはこちらから</span>
    <a href="https://play.google.com/store/apps/details?id=jmac.vitalnote.jp.zutsuclick&hl=ja"><img src="/img/common/bnr_googleplay.svg" alt=""></a>
    <a href="https://itunes.apple.com/jp/app/tou-tongclick/id1082981460?mt=8"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>
