---
title: Monacaエンタープライズ導入事例：株式会社ジャパンネット銀行
class: showcase jnb
description: 1秒ログインを実現する残高照会HTML5ハイブリッドアプリ「残高確認　ジャパンネット銀行」
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---
<header>
    <div class="image-wrapper">
        <img src="/img/jnb/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1>
        <span>注目事例</span>
        1秒ログインを実現する残高照会<br />HTML5ハイブリッドアプリ
    </h1>
    <div class="info-cont">
        <img src="/img/jnb/logo_jnb.png" alt="株式会社ジャパンネット銀行" />
        <h3>株式会社ジャパンネット銀行</h3>
        <ul>
            <li>IT本部開発三部</li>
            <li>島崎 建氏</li>
            <li>岩田 里紗子氏</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="proto.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">株式会社プロトコーポレーション</a>
    <a href="hitachitool.html" class="next">三菱日立ツール株式会社<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1><span class="ls-100">ア</span><span class="ls-150">プリ</span>の紹介</h1>
        <p>残高確認アプリは、ジャパンネット銀行の公式アプリです。<br />外出先でもカンタンに残高や最新明細がご確認いただけます。</p>
        <p>■アプリでご確認いただける内容</p>
        <ul>
            <li>・普通預金口座の残高</li>
            <li>・最新10件の取引明細</li>
        </ul>
    </div>
    <img src="/img/jnb/img_1.jpg" alt="" class="sp-img" />
</section>

<section class="backstory">
    <img src="/img/jnb/img_2.jpg" alt="" class="alignright nowrap pc-img" style="margin-top:44px;" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>昨今のスマートフォンの普及により、スマートフォンから当社のサービスを利用されるお客様が増えています。スマートフォンからの利用動向分析などを行ったところ、PCからの利用に比べ、残高照会や取引明細照会のみを目的とした短時間のお取引が多いということが分かりました。またVisaデビット付キャッシュカードのご利用が増加していることで、外出先からスマートフォンによる残高照会が増えることも予想できました。当社ではスマートフォン向けにはスマートフォン用Webサイトを中心にサービス提供を行っていますが、機能を特化したアプリを提供する事によって、利便性を更に向上出来るのではないかと考えました。</p>
        <p>そこで、当社は残高照会を簡単かつセキュアに行えるアプリをお客様に提供をすることにいたしました。</p>
        <p>本システムの開発を依頼するにあたり、「iOSとAndroid向けのクロスプラットフォーム対応であること」や将来的に「自社内でのアプリの改修を行えること」、「シンプルな機能のみの提供となること」などのアプリの要件から、「HTML５ハイブリッドアプリ」に開発手法を絞り、数社に提案を依頼しました。</p>
        <p>アシアル社のご提案は、「Monacaによる生産性の高い開発による費用と開発期間」や「Onsen UIを使ったネイティブ開発に劣らない操作感の実現」といった、同分野での保有技術の高さと開発経験の豊富さに裏打ちされた内容であり、当社の要件にも最も合致していたため採用いたしました。</p>
    </div>
    <img src="/img/jnb/img_2.jpg" alt="" class="sp-img" />
</section>

<section class="effect">
    <h1>Monacaエンタープライズの導入効果</h1>
    <ul>
        <li>アプリ開発の効率化による開発・運用コストの低減</li>
        <li>直感的かつスムーズな操作感のUIを実現</li>
        <li>アプリのセキュリティレベルの向上</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/jnb/img_portrait_shimazaki.jpg" alt="" />
        <figcaption>ジャパンネット銀行　<br />IT本部開発三部長　島崎 建 氏</figcaption>

        <img src="/img/jnb/img_portrait_iwata.jpg" alt="" />
        <figcaption>ジャパンネット銀行<br />IT本部開発三部　Web開発グループ<br />岩田 里紗子 氏</figcaption>
    </figure>

    <div class="nowrap">
        <h2>Q1.アプリの操作感で特に留意した点を教えてください。</h2>
        <p>外出先でもすぐに残高を確認できるように、ログイン操作や残高を確認する画面にこだわりました。特にログイン画面は直感的操作で極めて短い時間でログインできるよう設計しました。滑らかなUI表現の実現に関しては、HTML5を採用する上での懸念点だったのですが、Onsen UIを活用することで、当社が期待する操作感を実現できたと感じています。</p>

        <h2>Q2.HTML5ハイブリッドアプリ開発を選択された理由を教えてください。</h2>
        <p>iOS用とAndroid用のアプリケーションを開発する場合、ネイティブ言語で開発を行うと、それぞれに開発コストがかかります。HTML5ハイブリッドアプリであれば、ソースコードの共通化ができるため初期の開発コストや改修コストが大幅に削減できると考えました。また、スマートフォンアプリはリリース後も短いスパンで改良を重ねる必要があるため、我々でもメンテナンスができるWeb技術を採用するということは、大きなメリットがあると考えています。</p>

        <h2>Q3.セキュリティについて留意した点についてお教えください。</h2>
        <p>お客様の大事な情報を扱うアプリケーションになりますので、セキュリティの考慮はとても重要です。アプリ側は単純なビュー機能に限定させ、セキュリティに関わる重要な処理は全てサーバー側で行なっています。さらにMonacaの機能でアプリ側のリソースファイルも暗号化をするという2段構えの対策を行っています。これらにより、HTML5ハイブリッドアプリに関するセキュリティ面の懸念点はクリアされると考えています。</p>

        <h2>Q4.今後の展開について教えてください。</h2>
        <p>今後は社内でのアプリのメンテナンス体制に移行し、アプリの日々の改善など、様々な施策を迅速に行い、より利便性の高いサービスをお客様に提供したいと考えています。</p>
    </div>
    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/jnb/img_portrait_shimazaki.jpg" alt="" /></dt>
            <dd><figcaption>ジャパンネット銀行　<br />IT本部開発三部長　島崎 建 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/jnb/img_portrait_iwata.jpg" alt="" /></dt>
            <dd><figcaption>ジャパンネット銀行<br />IT本部開発三部　Web開発グループ<br />岩田 里紗子 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/jnb/logo_jnb.png" alt="株式会社ジャパンネット銀行" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社ジャパンネット銀行（英名：The Japan Net Bank, Limited)</em></dd>
        </dl>
        <dl>
            <dt>代表者</dt>
            <dd>代表取締役社長 小村 充広</dd>
        </dl>
        <dl>
            <dt>住所</dt>
            <dd>本社・本店営業部・各支店　　東京都新宿区西新宿2-1-1</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>平成12年9月19日</dd>
        </dl>
        <dl>
            <dt>開業</dt>
            <dd>平成12年10月12日</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.japannetbank.co.jp/" target="_blank">http://www.japannetbank.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成27年4月現在)</p>
    </div>
</section>

<div class="container download">
    <span>「残高確認　ジャパンネット銀行」のダウンロードはこちらから</span>
    <a href="https://play.google.com/store/apps/details?id=jp.co.japannetbank.smtapp.balance"><img src="/img/common/bnr_googleplay.svg" alt=""></a>
    <a href="https://itunes.apple.com/jp/app/id935061691"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="monex.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="smbc.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>
