---
title: Monaca導入事例：Ｊトラストシステム株式会社 JトラストIR
class: showcase jtrust
<!-- viewport: width=1200px -->
description: Monaca初挑戦ながらIRアプリを「Monaca」を活用して1か月でリリース
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    Ｊトラストシステム株式会社
    <em>JトラストIR</em>
</header>


<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">Monaca初挑戦ながらIRアプリを<br><span class="ml">「</span>Monaca」<span class="ml">を</span>活用して1か月でリリース</h1>
      <img src="/img/jtrust/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">Monaca初挑戦ながらIRアプリを<span class="ml">「</span>Monaca」<span class="ml">を</span>活用して1か月でリリース</h1>

    <div class="info-cont">
        <h1><img src="/img/jtrust/logo_jtrust.png" alt="Jトラストシステム株式会社" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>Ｊトラストシステム株式会社</em></dd>
        </dl>
        <dl>
            <dt>拠点</dt>
            <dd>本社・東京ソリューションセンター、西日本ソリューションセンター</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd>http://jtrustsystem.co.jp</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2009年5月</dd>
        </dl>
        <dl>
            <dt>決算期</dt>
            <dd>3月31日</dd>
        </dl>
        <dl>
            <dt>資本金</dt>
            <dd>8,000万円</dd>
        </dl>
        <p class="note">(平成28年10月末日現在)</p>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>「JトラストIR」は、Jトラスト株式会社が最新ニュースリリースや決算発表等の最新IR情報をお届けするアプリです。主な機能として以下が提供されています。<br>
        ・新着ニュースの通知<br>
        ・ニュース＆トピックス閲覧<br>
        ・IR資料(決算短信、説明会資料、アニュアルレポート等)の閲覧<br>
        ・イベントスケジュール閲覧<br>
        ・株価、チャートの閲覧</p>
        <img class="sp-img" src="/img/jtrust/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/jtrust/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>Ｊトラストシステム株式会社は、東証2部上場「Jトラストグループ」のシステム会社として、グループ内外のWebサイト構築や金融システムなどを中心としたITソリューション提供しています。従来からモバイルアプリの開発依頼はあり、これまでAndroidアプリのネイティブ開発の実績は多くあった一方で、iOSアプリに関しては開発者を探すのに苦労をすることが多かったとのことです。このような背景からクロスプラットフォーム開発ツールに注目し、複数のツールを検討した結果、学習コストの低さ、開発効率の高さ、サポート・ドキュメントの充実度など総合的に判断して「Monaca」の採用にいたりました。</p>
    </div>
    <img src="/img/jtrust/img_2.jpg" alt="" class="alignright nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>Web技術者が1ヶ月間でiOS、Androidアプリを同時にリリース</li>
        <li>Monacaデバッガーで動作確認をすることで開発効率を大幅に向上</li>
        <li>モバイルアプリ開発を新たな外販ソリューションとして展開</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>


    <figure class="alignright nowrap">
        <img src="/img/jtrust/img_jtrust_matsumoto.jpg" alt="松本 英樹 氏" />
        <figcaption>Ｊトラストシステム株式会社<br />取締役<br>松本 英樹 氏</figcaption>
        <img src="/img/jtrust/img_jtrust_nagano.jpg" alt="長野 義孝 氏" />
        <figcaption>Ｊトラストシステム株式会社<br>長野 義孝 氏</figcaption>
        <img src="/img/jtrust/img_jtrust_sakurai.jpg" alt="櫻井 健太郎 氏" />
        <figcaption>Ｊトラストシステム株式会社<br>櫻井 健太郎 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>MonacaについてＪトラストシステム株式会社取締役の松本英樹氏、長野義孝氏、櫻井健太郎氏にお話をお伺いしました。</p>
        <h2>Q1.「Monaca」の印象はいかがでしょうか？</h2>
        <p>最初は「クラウド上での開発環境で大丈夫か？」と思っていましたが、すぐになれました。実際に開発を進めていく中ですぐにMonacaの開発効率の高さは実感できました。Web技術でiOS、Androidの向けのアプリが同時開発できる点はもちろんのこと、「Monacaデバッガー」には驚きました。開発したものをコンパイルせずにすぐに端末上で確認できるのでとても重宝しています。<br>
        Onsen UIは少し癖があり最初苦労しましたが、一度使い方が理解できればとても便利なツールだと思います。</p>

        <h2>Q2.「Monaca」を活用したプロジェクトについて教えて下さい。</h2>
        <p>2016年の春には「JトラストIRアプリ」の企画が固まり、その1ヶ月後にはアプリのリリースを行わなくてはならないという超短納期のプロジェクトでした。iOS向けのアプリ開発の経験が多くなかったのと、アサインできるメンバーがJavaScriptやPHPの経験のあるいわゆるWebエンジニアだったのでMonacaでの開発を行うことになりました。<br>
        Monacaでのアプリ開発はWebエンジニアにとっての学習コストも低くすぐにアプリ開発に入れました。Monacaの開発効率の硬さにも助けられ、1ヶ月間で無事アプリのリリースを行うことができました。</p>

        <h2>Q3.今後のビジネス展開についてお教えください。</h2>
        <p>弊社では開発は基本的に内製化するという方針なので、これまで経験のあったAndroid向けアプリ開発に加えて、MonacaによってiOS向けのアプリ開発にも取り組めるようになったのは大きな事業機会だと考えています。グループ内のシステム開発だけでなくIR関連システムや金融関連システムといったこれまでの経験が活かせる分野でアプリ開発を外販ビジネスとして展開していきたいと考えています。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/jtrust/img_jtrust_matsumoto.jpg" alt="松本 英樹 氏" /></dt>
            <dd><figcaption>Ｊトラストシステム株式会社<br />取締役<br>松本 英樹 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/jtrust/img_jtrust_nagano.jpg" alt="長野 義孝 氏" /></dt>
            <dd><figcaption>Ｊトラストシステム株式会社<br>長野 義孝 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/jtrust/img_jtrust_sakurai.jpg" alt="櫻井 健太郎 氏" /></dt>
            <dd><figcaption>Ｊトラストシステム株式会社<br>櫻井 健太郎 氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container download">
    <p>「JトラストIRアプリ」のダウンロードはこちらから</p>
    <a href="https://itunes.apple.com/jp/app/jtorasutoir/id1135699724" target="_blank"><img src="/img/jtrust/bnr_appstore.png" alt="App Store"></a>
    <a href="https://play.google.com/store/apps/details?id=jp.jt.ir.app&hl=ja" target="_blank"><img src="/img/jtrust/bnr_googleplay.png" alt="Google Play"></a>
</div>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>
