---
title: Monaca導入事例：東京大学国際高等研究所 カブリ数物連携宇宙研究機構
class: showcase kavli
description: スマホアプリ開発未経験者が2か月でアプリをリリース！研究施設のガイドアプリで業務効率化
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    <img src="/img/kavli/keyvisual.jpg" alt="" class="keyvisual">
    <h1><span>注目事例</span>スマホアプリ開発未経験者が2か月でアプリをリリース！<br>研究施設のガイドアプリで業務効率化</h1>
    <div class="info-cont">
        <img src="/img/kavli/logo_kavli.png" alt="東京大学国際高等研究所 カブリ数物連携宇宙研究機構" />
        <h3>東京大学国際高等研究所 カブリ数物連携宇宙研究機構</h3>
        <ul>
            <li>。。。</li>
            <li>。 。</li>
            <li>。。 。。</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="canbe.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">株式会社スタジオキャンビー</a>
    <a href="smbc.html" class="next">株式会社三井住友フィナンシャルグループ<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>東京大学カブリ数物連携宇宙研究機構（Kavli IPMU）は宇宙への根源的な疑問に答えるために設立された国際的研究機関です。世界中から最高レベルの研究者を集めて宇宙と物質の起源に迫るべく日夜研究活動が行われています。<br>千葉県柏市の東京大学柏キャンパス内にあるKavli IPMUは、数学者、物理学者、天文学者が融合して研究を行えるように施設内では『各階』という概念がないスパイラル構造になっています。この構造はとてもユニークですが、一方、部屋番号と階数に規則性がない、階数で表せない中間層がある事で場所の特定が容易ではありませんでした。<br>そのため年間700〜800人のKavli IPMUへの来訪者や、新任の研究者は構内で迷うことが多く、分かりやすい案内表示や情報提供の個別対応が求められていました。<br>そこで教職員および来訪者の利便性向上を目的として「Kavli IPMU Mobile App」が企画・開発されました。「Kavli IPMU Mobile App」では、人物や場所を検索表示し施設情報を案内するナビゲーションやイベント情報などが提供されています。</p>
        <img class="sp-img" src="/img/kavli/img_1.png" alt="">
    </div>
</section>

<section class="app-info backstory-pc">
    <div class="nowrap">
        <h1>Monacaを選択した経緯</h1>
        <p>「Kavli IPMU Mobile App」の開発に際して、利用者の利用端末が特定できないためiOS系・Android系の両方に対応するアプリが必要でした。一方でセキュリティ確保のため外部から閲覧できないように、棟内WiFi接続に限定した提供情報の制御などOS毎のAPIを使う機能が必須の機能要件としてありました。さらに予算の都合上、外部に開発を委託するのではなく、内部スタッフによる開発・メンテナンスを行う方法を検討していました。<br>スマホのOSに依存せずにアプリを開発する方法を調査したところ、Monacaを使えばHTMLやJavaScriptといった習得しやすい技術でアプリの開発ができるということを知りました。そこで早速、アシアル社が開催するトレーニングを受講、アシアル社による技術サポートを受けつつMonacaでのアプリの開発を選択しました。</p>
    </div>
    <img src="/img/kavli/img_2.png" alt="" class="nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>技術サポートを受けながらアプリ開発未経験者が2ヶ月間でアプリをリリース</li>
        <li>WiFi接続によるコンテンツ制御などネイティブAPIを利用した機能も実現</li>
        <li>クラウド開発環境を使うことで開発場所を選ばずに開発</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/kavli/interview_1.png" alt="田村 利恵子 氏" />
        <figcaption>東京大学国際高等研究所<br>カブリ数物連携宇宙研究機構<br>総務・人事担当<br>田村 利恵子 氏</figcaption>
        <img src="/img/kavli/interview_2.png" alt="井下 聡子 氏" />
        <figcaption>東京大学国際高等研究所<br>カブリ数物連携宇宙研究機構 ITチーム<br>井下 聡子 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「Kavli IPMU Mobile App」の開発にあたって、東京大学 国際高等研究所 カブリ数物連携宇宙研究機構 総務担当の田村 利恵子氏、ITチームの井下聡子氏にお話を伺いました。</p>

        <h2>Q1. Monacaでアプリ開発を行うことへの不安・課題はありましたか？</h2>
        <p><b>田村氏</b>　同様の施設アプリが他大学からリリースされていることを知っていましたので、実現出来ないということはないだろうと思っていました。私にアプリ開発についての経験や知識があったわけではなく、そのタイミングでは井下をはじめとするKavli IPMUのITスタッフがアプリ開発を実行できる技術や知識を持っているのかどうかも知りませんでしたが、、、（笑）</p>
        <p><b>井下氏</b>　Webサイトの修正などを行っていたのでHTMLは知っていました。ExcelのマクロやCOBOL・C・VBAといったプログラムの技術はありましたが、モバイルアプリ開発のスキルはありませんでした。でも、アシアルのトレーニングを受講して初心者でも比較的簡単にモバイルアプリの開発ができることがわかりました。技術サポートの提案もしていただいたので、いざとなったら質問できるというのは心強かったですね。</p>

        <h2>Q2. 講習を受けてすぐ開発に入られたそうですね。開発の期間や苦労話などをお聞かせください。</h2>
        <p><b>井下氏</b>　1月から講習を受けて2月中旬から開発をスタート、4月中旬にはAndroid版をリリースできました。iOS版はApp Storeへの公開に手こずり少し時間がかかりましたが、7月には公開できました。この期間、他の業務も並行しながらアプリ開発に取り組んでいました。<br>クラウド上でプレビュー画面を使って動作を確認しながら開発できるので、スキマ時間をうまく使って場所を選ばずに少しずつ開発できるのがありがたかったです。</p>
        <p>最初の2週間くらいはJavaScriptでのアプリ開発の作法を学ぶという点で苦労しましたが、インターネット上に参考になるHTMLやJavaScriptのコードが公開されていたので随分助かりました。アプリ開発において公開されている情報が多いという点は、大きな利点だったと思います。懸案だったWiFi接続によるコンテンツ接続制御も、モナカプレスの記事を参考にしてCordovaプラグインを利用することで対応できました。</p>
        <p><b>田村氏</b>　当初はビーコンを使って建物内をGPSナビゲーションできる機能を実現しようと試みたのですが、スパイラル構造は中間層の設定が複雑なため、また研究員の聞き取りではエレベーターホールからの行き方が分かれば十分との意見が多かったため、平面画像での案内に切り替えました。</p>

        <h2>Q3. アシアルの技術サポートはいかがでしたか？</h2>
        <p><b>井下氏</b>　何か困った時に技術的な質問ができるというのは安心感がありました。実際に質問をすると、毎回適切な内容が戻ってきたので非常に助かりました。サポートへの満足度はとても高いです。もっと開発につまずいて、いろいろとアシアルさんのサポートを受けるかと思っていたのですが、意外とアプリ開発がスムーズに進みました（笑）。</p>
        <p>技術サポートだけでなく、Monacaの公式ドキュメントやモナカプレスの記事にも助けられました。初心者にとって使える情報をネットで簡単に検索できるのは有り難かったです。</p>

        <h2>Q4. アプリユーザーからの評価や評判を教えてください。</h2>
        <p><b>田村氏</b>　ビジターや新規採用者には事前にアプリをダウンロードしてもらう事で成田から柏キャンパスまでスムーズに到着しています。またKavli IPMUに到着後は、機構のWi-Fiに接続、自分の名前を入力すれば居室までアプリが案内してくれます。事務手続きに関しても問い合わせ担当者をキーワードで検索し案内する事が可能になり、ナビゲーションにより複雑な棟内でも右往左往する研究員やビジターがなくなりました。</p>
        <p>また、日々のセミナーやシンポジウムの案内、場所の表示、事務職員含めて約180名の教職員と学生の居室案内が可能になったことで、棟内で働く全ての人にとって便利なアプリとして役立っています。アプリ提供による情報提供と研究環境のスマート化が業務の効率化にも繋がりました。</p>

        <h2>Q5. 今後の展開について何かありますか？</h2>
        <p><b>田村氏</b>　自分の研究分野をキーワードとして登録する事によって、日々のセミナーやシンポジウムを毎日ポップアップさせるプッシュ機能を付け加えたいと考えています。</p>
        <p>また今年初めて柏キャンパスの一般公開アプリをリリースしましたが、今回は情報提供がメインでした。そこにKavli IPMUの研究内容や宇宙の不思議を、小さな子供でもゲーム感覚で楽しみながら学べるAR（拡張現実）を使ったコンテンツを来年の一般公開までにリリースできれば嬉しいです。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/kavli/interview_1.png" alt="田村 利恵子 氏" /></dt>
            <dd><figcaption>東京大学国際高等研究所<br>カブリ数物連携宇宙研究機構<br>総務・人事担当<br>田村 利恵子 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/kavli/interview_2.png" alt="井下 聡子 氏" /></dt>
            <dd><figcaption>東京大学国際高等研究所<br>カブリ数物連携宇宙研究機構 ITチーム<br>井下 聡子 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/kavli/logo_kavli.png" alt="東京大学国際高等研究所 カブリ数物連携宇宙研究機構" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>東京大学国際高等研究所 カブリ数物連携宇宙研究機構（Kavli IPMU）</em></dd>
        </dl>
        <dl>
            <dt>機構長</dt>
            <dd>大栗 博司</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2007年10月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="https://www.ipmu.jp/ja" target="_blank">https://www.ipmu.jp/ja <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成30年12月現在）</a>
    </div>
</section>

<div class="container download">
    <span>「Kavli IPMU Mobile App」のダウンロードはこちらから</span>
    <a href="https://play.google.com/store/apps/details?id=jp.ipmu.irsa"><img src="/img/common/bnr_googleplay.svg" alt=""></a>
    <a href="https://itunes.apple.com/jp/app/kavli-ipmu-mobile-app/id1405491216?mt=8"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>