---
title: Monaca導入事例：株式会社KDDIウェブコミュニケーションズ 有限会社ランカードコム
class: showcase kddi-web
description: クラウド電話API「Twilio」を活用して社員のスマートフォンの内線電話化を2ヶ月間で実現現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    株式会社KDDIウェブコミュニケーションズ
    <em>内線アプリ</em>
</header>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">クラウド電話API<span class="ml">「</span>Twilio」<span class="ml">を</span>活用して<br>社員のスマートフォンの内線電話化を2ヶ月間で実現</h1>
      <img src="/img/kddi-web/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">クラウド電話APII<span class="ml">「</span>Twilio」<span class="ml">を</span>活用して社員のスマートフォンの内線電話化を2ヶ月間で実現</h1>

    <div class="info-cont">
        <h1><img src="/img/kddi-web/logo_kddi-web.png" alt="株式会社KDDIウェブコミュニケーションズ" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社KDDIウェブコミュニケーションズ</em></dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1987年2月25日</dd>
        </dl>
        <dl>
            <dt>資本金</dt>
            <dd>6,500万円</dd>
        </dl>
        <dl>
            <dt>web</dt>
            <dd><a href="http://www.kddi-webcommunications.co.jp/" target="_blank">http://www.kddi-webcommunications.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成28年11月末現在）</a>
    </div>

    <div class="developer info-cont clearfix">
        <h2>担当開発会社</h2>
        <img class="logo" src="/img/kddi-web/logo_lancard.png" alt="有限会社ランカードコム" />
        <em>有限会社ランカードコム</em> <a href="https://www.lancard.com/" target="_blank" class="url">https://www.lancard.com/ <i class="glyphicon glyphicon-new-window"></i></a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>クラウド電話APIのTwilioを国内展開する株式会社 KDDI ウェブコミュニケーションズでは、2016年9月のオフィス移転に際して場所にとらわれない働き方を推進するため、個人のスマートフォンを内線端末化するアプリ「内線アプリ」を開発しました。従来型のPBXを使わずにTwilio社が提供するオープンソースの電話システムOpen VBXを採用。内線アプリを使って、従業員がどこにいてもオフィスの電話の着信、転送、留守番電話の確認などができるようになりました。</p>
        <img class="sp-img" src="/img/kddi-web/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/kddi-web/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>今回のオフィス移転プロジェクトでTwilioを使った内線システムに移行することが決定されたため、国内で唯一Open VBXのローカライズの実績があった有限会社ランカードコムに本システムの開発相談が入りました。Open VBXには標準のモバイルアプリがあったものの、仕様が日本の環境にマッチしておらず、また完成度も低かったため採用を見送り、スクラッチでアプリ開発を行うことになりました。<br>
        本プロジェクトでは、2ヶ月間という短期間でiOS、Androidの両対応のアプリのリリースを行う必要があったため、CordovaベースのMonacaを採用。アシアルよりTwilio SDKのCordovaプラグイン化の開発支援が得られるということもMonaca採用の決め手の一つになりました。</p>
    </div>
    <img src="/img/kddi-web/img_2.jpg" alt="" class="alignright nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>iOS、Android両対応の内線アプリをわずか2ヶ月でリリース</li>
        <li>Monaca CLIをつかったテストの自動化で作業効率を大幅に向上</li>
        <li>WebエンジニアがUIデザインからアプリ実装までを一人で担当</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/kddi-web/img_kddiweb_takahashi.jpg" alt="&#39641;橋 克己 氏" />
        <figcaption>株式会社KDDIウェブコミュニケーションズ<br />カタチ想造事業本部 Twilio事業部<br>&#39641;橋 克己 氏</figcaption>
        <img src="/img/kddi-web/img_kddiweb_minematsu.jpg" alt="峰松 浩樹 氏" />
        <figcaption>有限会社ランカードコム<br />代表取締役<br>峰松 浩樹 氏</figcaption>
        <img src="/img/kddi-web/img_kddiweb_haraguchi.jpg" alt="原口 健吾 氏" />
        <figcaption>有限会社ランカードコム<br />オープンシステム部<br>原口 健吾 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>内線アプリの企画責任者である株式会社 KDDI ウェブコミュニケーションズ Twilio事業部の&#39641;橋克己氏と本プロジェクトの開発を担当した有限会社ランカードコムの峰松浩樹氏、原口健吾氏にお話をおうかがいしました。</p>
        <h2>Q1.今回のプロジェクトについてのご評価を教えて下さい。</h2>
        <p><span class="name">&#39641;橋氏</span>　ファーストリリースとしては概ね満足しています。今回はオフィスの移転の日程に間に合わせるため2ヶ月間という超短期間のプロジェクトになりました。本来倍ぐらいの時間をかけてやるべき規模感だったので、かなり難易度の高いプロジェクトだったと思います。なんとか満足いく形でアプリのリリースができたのはランカードコムのメンバーの皆さんの頑張りとMonacaを採用したおかげだと思っています。<br>
        すでに社内では50人以上のメンバーがこのアプリを使っていて、会議室や外出先で内線が使えて利便性が上がったと大変評判が良いです。活用するなかでユーザーからリクエストも色々と上がってきたので、今後より使いやすいものにしていきたいと考えています。</p>

        <h2>Q2.Monacaの使い勝手はいかがでしたか？</h2>
        <p><span class="name">原口氏</span>　開発期間が短かったのでマルチOSのアプリをワンソースで開発できるというのは大変魅力的でした。また、開発環境の構築がすぐにできたので、開発の立ち上がりが非常に早かったです。また、Monaca CLIを活用して、Jenkins、Github、DeployGateなど外部のツールを使ったテストの自動化を行うなどして開発の効率化を図りました。<br>
        今回のプロジェクトをネイティブ言語で開発した場合、それぞれの開発者の調整なども考えると3倍ぐらいの時間がかかったかもしれません。</p>

        <h2>Q3.今回のプロジェクトではOnsen UIはご利用になりましたか？</h2>
        <p><span class="name">原口氏</span>　はい。Onsen UIにも大変助けられました。プロジェクト開始当初1週間ぐらいの期間でOnsen UIでアプリのプロトタイプを作って、それを元にアプリの仕様を詰めて行きました。このスピード感はネイティブ開発では難しかったと思います。<br>
        また、今回はWebエンジニアがアプリ開発のメイン担当だったのですが、彼女がデザインからアプリ開発まで一気通貫で行えたのもスピードを上げられた要因だったと思います。</p>

        <h2>Q4.Monacaのサポートについてはいかがでしたか？</h2>
        <p><span class="name">原口氏</span>　アシアルさんには、Cordovaのプラグイン周りで色々と助けられました。特にTwilioがモバイルアプリ用のSDKをCordovaプラグイン形式で提供していなかったので、この開発をアシアルさんに委託できたのが大きかったです。<br>
        CordovaはOSSなので基本的には自己責任で解決すべきものではありますが、いざという時にはアシアルの専門チームの技術サポートを受けられるという安心感はありました。</p>

        <h2>Q5.今後の展開について教えて下さい。</h2>
        <p><span class="name">&#39641;橋氏</span>　社内ツールとしてより利便性の高いものにしていくのはもちろんなのですが、更に今回のプロジェクトで、Monacaを活用することでTwilioのソリューションの活用の幅が大きく広げられることがわかりました。<br>
        今後もランカードコムさんの協力をいただきながら、Twilioを活用した新たな企業のコミュケーションスタイルを提案していきたいと思います。<br>
        <br>
        <span class="name">峰松氏</span>　弊社では、Twilio関連のビジネスとしてOpen VBXをクラウドサービスとして展開していく計画があるので、今回のプロジェクトの事例を活用してMonacaを使ったアプリ提供も含めたソリューションとしてPRしていきたいと思っています。<br>
        その他、自社で展開しているWebサービスがいくつかあります。それらのサービスをMonacaを使ってモバイルアプリ対応していきたいと考えています。
        </p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/kddi-web/img_kddiweb_takahashi.jpg" alt="&#39641;橋 克己 氏" /></dt>
            <dd><figcaption>株式会社KDDIウェブコミュニケーションズ<br />総カタチ想造事業本部 Twilio事業部<br>&#39641;橋 克己 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/kddi-web/img_kddiweb_minematsu.jpg" alt="峰松 浩樹 氏" /></dt>
            <dd><figcaption>有限会社ランカードコム<br />代表取締役<br>峰松 浩樹 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/kddi-web/img_kddiweb_haraguchi.jpg" alt="原口 健吾 氏" /></dt>
            <dd><figcaption>有限会社ランカードコム<br />オープンシステム部<br>原口 健吾 氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>
