---
title: Monaca導入事例：株式会社 神戸デジタル・ラボ
class: showcase kdl
description: 店舗販促支援向けセミオーダータイプのスマホアプリ開発ソリューションをMonacaとOnsen UIで提供
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<div class="clearfix"><a class="pc-back" href="/showcase/">« 事例一覧に戻る</a></div>
<header>
    株式会社 神戸デジタル・ラボ
    <em><img src="/img/kdl/logo_smartpleasure.png" alt="スマートプレジャー" /></em>
</header>
<div class="clearfix"><a class="sp-back" href="/showcase/">« 事例一覧に戻る</a></div>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">店舗販促支援向けセミオーダータイプのスマホアプリ開発ソリューションをMonacaとOnsen UIで提供</h1>
      <img src="/img/kdl/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">店舗販促支援向けセミオーダータイプのスマホアプリ開発ソリューションをMonacaとOnsen UIで提供</h1>

    <div class="info-cont">
        <h1><img src="/img/kdl/logo_kdl.png" alt="株式会社 神戸デジタル・ラボ" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社 神戸デジタル・ラボ</em></dd>
        </dl>
        <dl>
            <dt>住所</dt>
            <dd>神戸市中央区京町72番地</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1995年10月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.kdl.co.jp/" target="_blank">http://www.kdl.co.jp/<i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成28年5月末日現在)</p>
    </div>

</section>

<section class="app-info">
    <div>
        <h1>サービスの紹介</h1>
        <p>「スマートプレジャー」は神戸デジタル・ラボが提供するセミオーダータイプの店舗の販促支援アプリを提供するソリューションです。プッシュ通知機能や地図機能などの、汎用的に使われる機能は標準機能としてWeb API化し、アプリのデザインなど店舗がオリジナリティを打ち出したい部分はカスタマイズ性の高いテンプレートを提供し、低コスト、短納期で店舗ごとのオリジナルのアプリを開発することができます。</p>
        <img class="sp-img" src="/img/kdl/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/kdl/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>「スマートプレジャー」では、以下のサービス構成図で示す通り、店舗販促アプリに必要となる汎用的な機能をWebAPIとして提供することで、アプリのサーバーサイドの開発コストを抑えています。一方でフロントエンド開発もアプリの性格上、iOS、Androidの両OSへの対応しつつ、低コストでカスタムアプリを提供する必要がありました。この要件を満たすのがMonacaとOnsen UIでした。機能ごとにアプリのテンプレートを用意することで、アプリの開発期間とコストを大幅に削減しています。また、Onsen UIで画面をつくるため、各店舗の特色を出せる高品質なUIのモバイルアプリが提供できるようになりました。</p>
    </div>
    <img src="/img/kdl/img_2.jpg" alt="" class="sp-img" />
</section>

<img class="" src="/img/kdl/img_service.jpg" alt="クラウド(サービス基盤)">


<section class="effect">
    <h1>Monacaの採用効果</h1>
    <ul>
        <li>アプリのテンプレート化によって低コストでアプリを量産できる仕組みができた</li>
        <li>Onsen UIを使用することで高品質かつカスタマイズ性の高いアプリUIが実現できた</li>
        <li>Webの技術で開発できるため、開発チーム内でのエンジニアの調整が取りやすかった</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>


    <figure class="alignright nowrap">
        <img src="/img/kdl/img_kdl_yamanaka.jpg" alt="山中克容 氏" />
        <figcaption>株式会社 神戸デジタル・ラボ<br />ICT事業部 ビジネスソリューション部<br>ITスペシャリスト<br>山中 克容 氏</figcaption>
        <img src="/img/kdl/img_kdl_oka.jpg" alt="岡 龍弘　氏" />
        <figcaption>株式会社 神戸デジタル・ラボ<br />ICT事業部<br>サービス推進 ITストラテジスト<br>岡 龍弘　氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「スマートプレジャー」の企画・開発を担当された、株式会社神戸デジタル・ラボ山中克容氏と岡龍弘氏にお話をお伺いしました。</p>
        <h2>Q1.「スマートプレジャー」をMonacaとOnsen UIを活用して開発したビジネス的な効果はいかがでしょうか？</h2>
        <p>MonacaとOnsen UIを活用することでセミオーダー型のアプリサービスが、安価に提供できるようになったのが大きいです。「スマートプレジャー」を提供できるようになったことで案件の成約までのリードタイムが大幅に短縮できました。また、お客様がテンプレートをベースに機能やデザインを検討するため、アプリの完成イメージがつかみやすく、結果として顧客満足度も向上しています。</p>

        <h2>Q2.MonacaやOnsen UIの開発現場における評価はいかがでしたでしょうか？</h2>
        <p>Monacaでモバイルアプリを開発することで、サーバーサイドとフロントエンドの開発チームを、同じWebエンジニアのチームで構成することができました。これによって開発の段階に合わせてチーム内でエンジニアの融通をすることができたのは大きなメリットでした。<br>
        また、お客様とのお打合せの際に、Monacaデバッガーを使ってお客様に動作確認をいただきながら画面の修正することもできるのも非常に効果的でした。</p>

        <h2>Q3.「スマートプレジャー」の今後の展開・展望について教えて下さい。</h2>
        <p>「スマートプレジャー」の提供を通じてセミオーダー型のスマホアプリ開発サービスへのニーズが高いことがわかりました。このニーズは店舗販促に限らず他の分野にも転用できそうなので、WebAPIやアプリのテンプレートをさらに拡充して横展開を進めています。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/kdl/img_kdl_yamanaka.jpg" alt="山中克容 氏" /></dt>
            <dd><figcaption>株式会社 神戸デジタル・ラボ<br />ICT事業部 ビジネスソリューション部<br>ITスペシャリスト<br>山中 克容 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/kdl/img_kdl_oka.jpg" alt="岡 龍弘　氏" /></dt>
            <dd><figcaption>株式会社 神戸デジタル・ラボ<br />ICT事業部<br>サービス推進 ITストラテジスト<br>岡 龍弘　氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
    <a class="list-back" href="/showcase/">事例一覧に戻る</a>
</div>
