---
title: Monaca導入事例：株式会社 KDDI ウェブコミュニケーションズ
class: showcase jtrust
<!-- viewport: width=1200px -->
description: クラウド電話API「Twilio」を活用して社員のスマートフォンの内線電話化を2ヶ月間で実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    株式会社 KDDI ウェブコミュニケーションズ
    <em>アプリ名を入れる</em>
</header>


<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">クラウド電話API「Twilio」を活用して社員のスマートフォンの内線電話化を2ヶ月間で実現</h1>
      <img src="/img/jtrust/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">クラウド電話API「Twilio」を活用して社員のスマートフォンの内線電話化を2ヶ月間で実現</h1>

    <div class="info-cont">
        <h1><img src="/img/jtrust/logo_jtrust.png" alt="株式会社 KDDI ウェブコミュニケーションズ" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社 KDDI ウェブコミュニケーションズ</em></dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1987年2月25日</dd>
        </dl>
        <dl>
            <dt>資本金</dt>
            <dd>6,500万円</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.kddi-webcommunications.co.jp/">http://www.kddi-webcommunications.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">(平成28年11月末日現在)</p>
    </div>

    <div class="developer info-cont clearfix">
        <h2>担当開発会社</h2>
        <img class="logo" src="/img/unisys/logo_unisys.png" alt="日本ユニシス株式会社" />
        <em>有限会社ランカードコム</em> <a href="https://www.lancard.com/" target="_blank" class="url">https://www.lancard.com/ <i class="glyphicon glyphicon-new-window"></i></a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>
          クラウド電話APIのTwilioを国内展開する株式会社 KDDI ウェブコミュニケーションズでは、2016年9月のオフィス移転に際して場所にとらわれない働き方を推進するため、個人のスマートフォンを内線端末化するアプリ「アプリ名入れる 」を開発しました。従来型のPBXを使わずにTwilio社が提供するオープンソースの電話システムOpen VBXを採用。「アプリ名入れる」を使って、従業員
          がどこにいてもオフィスの電話の着信、転送、留守番電話の確認などができるようになりました。
        </p>
        <img class="sp-img" src="/img/jtrust/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/jtrust/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>
          今回のオフィス移転プロジェクトでTwilioを使った内線システムに移行することが決定されたため、国内で唯一Open VBXのローカライズの実績があった有限会社ランカードコムに本システムの開発相談が入りました。Open VBXには標準のモバイルアプリがあったものの、仕様が日本の環境にマッチしておらず、また完成度も低かったため採用を見送り、スクラッチでアプリ開発を行うことになりました。<br />
          本プロジェクトでは、2ヶ月間という短期間でiOS、Androidの両対応のアプリのリリースを行う必要があったため、CordovaベースのMonacaを採用。アシアルよりTwilio SDKのCordovaプラグイン化の開発支援が得られるということもMonaca採用の決め手の一つになりました。
        </p>
    </div>
    <img src="/img/jtrust/img_2.jpg" alt="" class="alignright nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>iOS、Android両対応の内線アプリをわずか2ヶ月でリリース</li>
        <li>Monaca CLIをつかったテストの自動化で作業効率を大幅に向上</li>
        <li>WebエンジニアがUIデザインからアプリ実装までを一人で担当</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>


    <figure class="alignright nowrap">
        <img src="/img/jtrust/img_jtrust_matsumoto.jpg" alt="松本 英樹 氏" />
        <figcaption>株式会社 KDDI ウェブコミュニケーションズ<br />Twilio事業部<br>髙橋 克己 氏</figcaption>
        <img src="/img/jtrust/img_jtrust_nagano.jpg" alt="長野 義孝 氏" />
        <figcaption>有限会社ランカードコム<br>峰松 浩樹 氏</figcaption>
        <img src="/img/jtrust/img_jtrust_sakurai.jpg" alt="櫻井 健太郎 氏" />
        <figcaption>有限会社ランカードコム<br>原口 健吾 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「アプリ名入れる」の企画責任者である株式会社 KDDI ウェブコミュニケーションズ Twilio事業部の髙橋克己氏と本プロジェクトの開発を担当した有限会社ランカードコムの峰松浩樹氏、原口健吾氏にお話をおうかがいしました。</p>
        <h2>Q1.今回のプロジェクトについてのご評価を教えて下さい。</h2>
        <p>ファーストリリースとしては概ね満足しています。今回はオフィスの移転の日程に間に合わせるため2ヶ月間という超短期間のプロジェクトになりました。本来倍ぐらいの時間をかけてやるべき規模感だったので、かなり難易度の高いプロジェクトだったと思います。なんとか満足いく形でアプリのリリースができたのはランカードコムのメンバーの皆さんの頑張りとMonacaを採用したおかげだと思っています。すでに社内では50人以上のメンバーがこのアプリを使っていて、会議室や外出先で内線が使えて利便性が上がったと大変評判が良いです。活用するなかでユーザーからリクエストも色々と上がってきたので、今後より使いやすいものにしていきたいと考えています。</p>

        <h2>Q2.Monacaの使い勝手はいかがでしたか？</h2>
        <p>開発期間が短かったのでマルチOSのアプリをワンソースで開発できるというのは大変魅力的でした。また、開発環境の構築がすぐにできたので、開発の立ち上がりが非常に早かったです。また、Monaca CLIを活用して、Jenkins、Github、DeployGateなど外部のツールを使ったテストの自動化を行うなどして開発の効率化を図りました。今回のプロジェクトをネイティブ言語で開発した場合、それぞれの開発者の調整なども考えると3倍ぐらいの時間がかかったかもしれません。</p>

        <h2>Q3.今回のプロジェクトではOnsen UIはご利用になりましたか？</h2>
        <p>はい。Onsen UIにも大変助けられました。プロジェクト開始当初1週間ぐらいの期間でOnsen UIでアプリのプロトタイプを作って、それを元にアプリの仕様を詰めて行きました。このスピード感はネイティブ開発では難しかったと思います。また、今回はWebエンジニアがアプリ開発のメイン担当だったのですが、彼女がデザインからアプリ開発まで一気通貫で行えたのもスピードを上げられた要因だったと思います。</p>

        <h2>Q4.Monacaのサポートについてはいかがでしたか？</h2>
        <p>アシアルさんには、Cordovaのプラグイン周りで色々と助けられました。特にTwilioがモバイルアプリ用のSDKをCordovaプラグイン形式で提供していなかったので、この開発をアシアルさんに委託できたのが大きかったです。CordovaはOSSなので基本的には自己責任で解決すべきものではありますが、いざという時にはアシアルの専門チームの技術サポートを受けられるという安心感はありました。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/jtrust/img_jtrust_matsumoto.jpg" alt="松本 英樹 氏" /></dt>
            <dd><figcaption>Ｊトラストシステム株式会社<br />取締役<br>松本 英樹 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/jtrust/img_jtrust_nagano.jpg" alt="長野 義孝 氏" /></dt>
            <dd><figcaption>Ｊトラストシステム株式会社<br>長野 義孝 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/jtrust/img_jtrust_sakurai.jpg" alt="櫻井 健太郎 氏" /></dt>
            <dd><figcaption>Ｊトラストシステム株式会社<br>櫻井 健太郎 氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container download">
    <p>「JトラストIRアプリ」のダウンロードはこちらから</p>
    <a href="https://itunes.apple.com/jp/app/jtorasutoir/id1135699724" target="_blank"><img src="/img/jtrust/bnr_appstore.png" alt="App Store"></a>
    <a href="https://play.google.com/store/apps/details?id=jp.jt.ir.app&hl=ja" target="_blank"><img src="/img/jtrust/bnr_googleplay.png" alt="Google Play"></a>
</div>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>
---
title: Monaca導入事例：Ｊトラストシステム株式会社 JトラストIR
class: showcase jtrust
<!-- viewport: width=1200px -->
description: Monaca初挑戦ながらIRアプリを「Monaca」を活用して1か月でリリース
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    Ｊトラストシステム株式会社
    <em>JトラストIR</em>
</header>


<section class="info">
    <div class="info-header">
      <h1 class="pc-copy"><span class="ml">「</span>Monaca」<span class="ml">初</span>挑戦ながらIRアプリを<br>
      1か月でリリース</h1>
      <img src="/img/jtrust/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy"><span class="ml">「</span>Monaca」<span class="ml">初</span>挑戦ながらIRアプリを1か月でリリース</h1>

    <div class="info-cont">
        <h1><img src="/img/jtrust/logo_jtrust.png" alt="Jトラストシステム株式会社" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>Ｊトラストシステム株式会社</em></dd>
        </dl>
        <dl>
            <dt>拠点</dt>
            <dd>本社・東京ソリューションセンター、西日本ソリューションセンター</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://jtrustsystem.co.jp">http://jtrustsystem.co.jp <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2009年5月</dd>
        </dl>
        <dl>
            <dt>決算期</dt>
            <dd>3月31日</dd>
        </dl>
        <dl>
            <dt>資本金</dt>
            <dd>8,000万円</dd>
        </dl>
        <p class="note">(平成28年10月末日現在)</p>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>「JトラストIR」アプリは、東証2部に上場するJトラスト株式会社のIR情報を投資家の皆様にタイムリーにお届けするアプリです。ニュースリリースや決算発表等の最新IR情報をお届けするアプリとしてダウンロード数も徐々に伸びています。<br>
        主な機能<br>
        ・新着ニュースの通知<br>
        ・ニュース＆トピックス閲覧<br>
        ・IR資料(決算短信、説明会資料、アニュアルレポート等)の閲覧<br>
        ・イベントスケジュール閲覧<br>
        ・リアルタイム株価、チャートの閲覧
        </p>
        <img class="sp-img" src="/img/jtrust/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/jtrust/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>Ｊトラストシステムは、Jトラストのグループ内だけでなく、外部に対してもWebサイトや銀行を含む金融システムを中心にITソリューションを提供しています。従来からモバイルアプリの開発実績はあり、これまでAndroidアプリのネイティブ開発の実績は多くあった一方で、iOSアプリに関しては開発者を探すのに苦労したことが課題でした。このような背景からクロスプラットフォーム開発ツールに注目し、複数のツールを検討した結果、学習コストの低さ、開発効率の高さ、サポート・ドキュメントの充実度など総合的に判断し「Monaca」の採用にいたりました。</p>
    </div>
    <img src="/img/jtrust/img_2.jpg" alt="" class="alignright nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>Web技術者が1ヶ月間でiOS、Androidアプリを同時にリリース</li>
        <li>Monacaデバッガーで動作確認をすることで開発効率を大幅に向上</li>
        <li>モバイルアプリ開発を新たな外販ソリューションとして展開</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>


    <figure class="alignright nowrap">
        <img src="/img/jtrust/img_jtrust_matsumoto.jpg" alt="松本 英樹 氏" />
        <figcaption>Ｊトラストシステム株式会社<br />取締役<br>松本 英樹 氏</figcaption>
        <img src="/img/jtrust/img_jtrust_nagano.jpg" alt="長野 義孝 氏" />
        <figcaption>Ｊトラストシステム株式会社<br>長野 義孝 氏</figcaption>
        <img src="/img/jtrust/img_jtrust_sakurai.jpg" alt="櫻井 健太郎 氏" />
        <figcaption>Ｊトラストシステム株式会社<br>櫻井 健太郎 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>MonacaについてＪトラストシステム株式会社取締役の松本英樹氏、長野義孝氏、櫻井健太郎氏にお話をお伺いしました。</p>
        <h2>Q1.「Monaca」の印象はいかがでしょうか？</h2>
        <p>最初は「クラウド上での開発環境で大丈夫か？」と思っていましたが、すぐになれました。実際に開発を進めていく中ですぐにMonacaの開発効率の高さは実感できました。Web技術でiOS、Androidの向けのアプリが同時開発できる点はもちろんのこと、「Monacaデバッガー」には驚きました。開発したものをコンパイルせずにすぐに端末上で確認できるのでとても重宝しています。<br>
        Onsen UIは少し癖があり最初苦労しましたが、一度使い方が理解できればとても便利なツールだと思います。</p>

        <h2>Q2.「Monaca」を活用したプロジェクトについて教えて下さい。</h2>
        <p>2016年の春には「JトラストIRアプリ」の企画が固まり、その1ヶ月後にはアプリのリリースを行わなくてはならないという超短納期のプロジェクトでした。iOS向けのアプリ開発の経験が多くなかったのと、アサインできるメンバーがJavaScriptやPHPの経験のあるいわゆるWebエンジニアだったのでMonacaでの開発を行うことになりました。<br>
        Monacaでのアプリ開発はWebエンジニアにとっての学習コストも低くすぐにアプリ開発に入れました。Monacaの開発効率の硬さにも助けられ、1ヶ月間で無事アプリのリリースを行うことができました。</p>

        <h2>Q3.今後のビジネス展開についてお教えください。</h2>
        <p>弊社では開発は基本的に内製化するという方針なので、これまで経験のあったAndroid向けアプリ開発に加えて、MonacaによってiOS向けのアプリ開発にも取り組めるようになったのは大きな事業機会だと考えています。グループ内のシステム開発だけでなくIR関連システムや金融関連システムといったこれまでの経験が活かせる分野でアプリ開発を外販ビジネスとして展開していきたいと考えています。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/jtrust/img_jtrust_matsumoto.jpg" alt="松本 英樹 氏" /></dt>
            <dd><figcaption>Ｊトラストシステム株式会社<br />取締役<br>松本 英樹 氏</figcaption></dd>

            
        </dl>
        <dl>
            <dt><img src="/img/jtrust/img_jtrust_nagano.jpg" alt="長野 義孝 氏" /></dt>
            <dd><figcaption>Ｊトラストシステム株式会社<br>長野 義孝 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/jtrust/img_jtrust_sakurai.jpg" alt="櫻井 健太郎 氏" /></dt>
            <dd><figcaption>Ｊトラストシステム株式会社<br>櫻井 健太郎 氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container download">
    <p>「JトラストIRアプリ」のダウンロードはこちらから</p>
    <a href="https://itunes.apple.com/jp/app/jtorasutoir/id1135699724" target="_blank"><img src="/img/jtrust/bnr_appstore.png" alt="App Store"></a>
    <a href="https://play.google.com/store/apps/details?id=jp.jt.ir.app&hl=ja" target="_blank"><img src="/img/jtrust/bnr_googleplay.png" alt="Google Play"></a>
</div>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>
