---
title: Monaca - 導入事例：マネックス証券株式会社
class: showcase monex
description: 既存Webアプリのスマホアプリ化で、スマホユーザーの利便性を大幅に向上
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---

<header>
    <div class="image-wrapper">
        <picture>
          <source media="(max-width: 768px)" srcset="/img/monex/m_keyvisual.png">
          <img src="/img/monex/keyvisual.jpg" alt="" class="keyvisual">
        </picture>
    </div>
    <h1 class="flipped">
        <span>注目事例</span>
        既存Webアプリのスマホアプリ化で、<br>スマホユーザーの利便性を大幅に向上
    </h1>
    <div class="info-cont flipped">
        <img class="img-lg" src="/img/monex/logo_monex.png" alt="マネックス証券株式会社" />
        <h3>マネックス証券株式会社</h3>
        <hr>
        <ul>
            <li>執行役員 大平 幸典氏</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="fujitec.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">フジテック株式会社</a>
    <a href="secondfactory.html" class="next">株式会社セカンドファクトリー<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>「マネックス証券アプリ」は、マネックス証券が提供するマーケット情報の閲覧や注文を、より快適に行うためのアプリケーションです。これまで、株式やFX等の取引専用アプリは提供されていたものの、マネックス証券のサービスを一気通貫で使えるアプリは提供されていませんでした。加えて、Webブラウザー版（以下、Webアプリ）では、提供しているサービスが非常に多く、メニューが探しづらいなどのUI上の課題がありました。<br>今回開発した「マネックス証券アプリ」は、UIの改善に加え指紋認証や顔認証によるログインにも対応することで、利便性を向上させました。マネックス証券が提供するサービスの軸となるアプリです。そのため、株式取引専用のアプリやFX取引専用のアプリなどに簡単に遷移できるようになっています。</p>
        <img class="sp-img" src="/img/monex/img_1.jpg" alt="">
    </div>
</section>

<section class="app-info backstory-pc">
    <div class="nowrap">
        <h1>Monacaでのハイブリッドアプリ開発を選択した経緯</h1>
        <p>「マネックス証券アプリ」の開発に際しては、iOSとAndroid向けのアプリをそれぞれのネイティブで行うことも検討しましたが、開発スケジュールやコスト、開発後のメンテナンスの点からハイブリッド開発を選択しました。特に、今回のプロジェクトでは、Webアプリがスマホ向けに最適化されたUIを持っていたため、そのUIを活用できるという大きなメリットもありました。</p>
        <p>加えて、将来の機能追加、法改正への対応、ユーザビリティの改善等の修正は、ネイティブアプリよりハイブリッドアプリの方がスムーズだという点も高く評価しました。</p>
        <p>開発ツールとしては、ハイブリッドアプリ開発で実績のあるMonacaを採用しました。</p>
    </div>
    <img src="/img/monex/img_2.jpg" alt="" class="nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monaca・ハイブリッドアプリの導入効果</h1>
    <ul>
        <li>既存Webアプリの有効活用</li>
        <li>指紋認証や顔認証などアプリならではの機能提供でユーザビリティを向上</li>
        <li>アプリのスピーディな開発と運用コストの低減を両立</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/monex/img_monex_shibuya.jpg" alt="大平 幸典 氏" />
        <figcaption>マネックス証券株式会社<br />執行役員<br>大平 幸典 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>マネックス証券アプリの開発プロジェクトについて、マネックス証券株式会社 執行役員大平幸典様にお話を伺いました。</p>
        <h2>Q1. ハイブリッドアプリ開発を選択した理由を教えてください</h2>
        <p>　ネイティブアプリは、アプリの動作速度などパフォーマンス面でメリットがありますが、iOSとAndroid向けのアプリをそれぞれ開発、運用していかなくてはならないため、コストや開発スケジュールの面で大きな課題がありました。スマホ向けにUIを最適化したWebアプリがあったので、既存のWebアプリを有効活用することで、より効率的にアプリ開発ができるのではないかと考え、ハイブリッドアプリ開発を選択しました。<br>Webアプリと共通化している部分も多いので、リリース後の修正、機能追加が機動的に行えるというのもハイブリッドアプリ開発のメリットだと考えています。特に法改正に伴うアプリの修正が遅れることは、我々にとって大きなリスクとなります。</p>

        <h2>Q2. ハイブリッドアプリ開発を行うことに対し、不安や課題はありましたか？</h2>
        <p>　決断時点では特にありませんでしたが、開発中にWebアプリでは動作してもハイブリッドアプリではうまく動作しない機能が出てきました。例えば、子ウィンドウを立ち上げて、子ウィンドウで操作した結果を親ウィンドウに反映させるような処理です。</p>
        <p>　こういった処理に関しては、既存のWebアプリの仕様を変更して対応しました。このような対応をきっかけに、スマホユーザー向けのユーザビリティを改善する、という効果もありました。</p>

        <h2>Q3. 「マネックス証券アプリ」を利用されるお客様からの反応はいかがでしょうか？</h2>
        <p>　「マネックス証券アプリ」のリリース後、徐々にユニークユーザー数が増えているので、一定の評価をいただていると判断しています。指紋認証や顔認証に対応しログインが簡単になったことで、ログインするお客様は徐々に増加しています。また、他の端末と比較して週末の利用者率が高いという特徴があります。</p>

        <h2>Q4. 今後の展開について教えてください</h2>
        <p>　マネックス証券で口座を開設してくださったお客様が、「マネックス証券アプリ」を使うことで、様々なサービスをシームレスに利用できるようにしたいと考えています。また、既にアプリに実装しているプッシュ通知などの機能を使って、タイムリーに情報を提供し、お客様の利便性を上げるようにしていきたいと思っています。</p>
        <p>　今後は、マネックス証券がリリースしているすべてのアプリがシングルサインオンで利用できるようにし、その核に「マネックス証券アプリ」がある、というのが理想です。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/monex/img_monex_shibuya.jpg" alt="大平 幸典 氏" /></dt>
            <dd><figcaption>マネックス証券株式会社<br>大平 幸典 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/monex/logo_monex.png" alt="マネックス証券株式会社" /></h1>

        <dl>
            <dt>名称</dt>
            <dd><em>マネックス証券株式会社（Monex, Inc.）</em></dd>
        </dl>
        <dl>
            <dt>代表取締役</dt>
            <dd>松本 大</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>平成11年5月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="https://www.monex.co.jp/" target="_blank">https://www.monex.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成30年6月現在）</a>
    </div>
</section>

<div class="container download">
    <span>「マネックス証券アプリ」のダウンロードはこちらから</span>
    <a href="https://play.google.com/store/apps/details?id=jp.co.monex.comprehensive&hl=ja"><img src="/img/common/bnr_googleplay.svg" alt=""></a>
    <a href="https://itunes.apple.com/jp/app/id1317164503?mt=8"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="monex.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="smbc.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>
