---
title: Monaca導入事例：株式会社長野銀行
class: showcase naganobank
description: Monacaの活用で開発期間を2/3に短縮し、将来に向けた優れた柔軟性も実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    <img src="/img/naganobank/keyvisual.jpg" alt="" class="keyvisual">
    <h1 class="flipped">
        <span>注目事例</span>
        Monacaの活用で開発期間を2/3に短縮し、<br />将来に向けた優れた柔軟性も実現
    </h1>
    <div class="info-cont flipped">
        <img src="/img/naganobank/logo_nagano_bank.png" alt="株式会社長野銀行" />
        <h3>株式会社長野銀行</h3>
        <ul>
            <li>。。。</li>
            <li>。 。</li>
            <li>。。 。。</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="flexion.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">株式会社フレクションコンサルティング</a>
    <a href="nijibox.html" class="next">株式会社ニジボックス<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1><span class="ls-100">ア</span><span class="ls-150">プリ</span>の紹介</h1>
        <p>「NaganoBank Total Assist Book（以下、N-TAB）」はフューチャーアーキテクトによって設計・開発・導入された長野銀行の渉外業務向けタブレットシステムで、長野銀行の約400名の渉外担当者が日々の業務で使用しています。Monacaで開発された同システムのタブレットアプリは、直感的なユーザ・インタフェースデザインで目標・実績、顧客情報など渉外活動に必要な情報を見える化し、営業支援システムとのリアルタイム接続、モバイルプリンタでの預り証の発行など、営業力強化、業務効率化・堅確化を実現する目的で開発されました。</p>
        <img class="sp-img" src="/img/naganobank/img_1.jpg" alt="">
    </div>
</section>

<section class="app-info backstory-tablet">
    <div>
        <h1>Monaca採用の背景</h1>
        <p>「N-TAB」の開発を行ったフューチャーアーキテクトはIT戦略パートナーとして長野銀行の融資・渉外支援を中心とした銀行業務のシステム化に長年携わってきました。そのような中、長野銀行では、更なる、営業力強化、業務の効率化・堅確化を進めるべく、タブレットを活用したシステムの検討を2014年夏より開始し、2015年6月に同システムをリリースしました。</p>
        <p>当初N-TABの開発手法としてシンクライアント、ブラウザベース、ネイティブアプリ、セキュアブラウザ、ハイブリッドアプリの選択肢がありましたが、操作性、セキュリティ面、運用コスト、技術要員の確保の容易さ、標準的な技術を採用できるかなど総合的に検討し、HTML5ハイブリッド開発を選択。開発環境はデバッグのしやすさや、Mac環境が不要なこと、テスト工数的にも工期短縮が期待できることなどの理由でMonacaを採用いただきました。</p>
        <img class="sp-img" src="/img/naganobank/img_2.jpg" alt="">
    </div>
</section>


<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>開発期間を通常の開発手法と比較して、約2/3に短縮</li>
        <li>デバイス依存が少なく、柔軟性の高いシステムを実現</li>
        <li>HTML5を使用するため、開発者スキル属人化を解消</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/naganobank/img_portrait_matsumoto.jpg" alt="" />
        <figcaption>フューチャーアーキテクト株式会社<br />金融ビジネス本部<br />エグゼクティブマネジャー<br />松本 野歩 氏</figcaption>
        <img src="/img/naganobank/img_portrait_wada.jpg" alt="" />
        <figcaption>フューチャーアーキテクト株式会社<br />金融ビジネス本部<br />シニアコンサルタント<br />和田 翔平 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「N-TAB」について導入を担当された、フューチャーアーキテクト株式会社 金融ビジネス本部 エグゼクティブマネジャー 松本野歩氏と同本部 シニアコンサルタント 和田翔平氏にお話をお伺いしました。</p>
        <h2>Q1.HTML5ハイブリッドアプリを提案した理由について詳しくお聞かせいただけますでしょうか？</h2>
        <p>当初、Webアプリ、セキュアブラウザ、シンクライアント、ネイティブアプリ、HTML5ハイブリッドアプリの5択で検討を行いました。「N-TAB」は、渉外担当者が日常業務の中で使いこなしてこそ効果が出るため、タブレットならではの操作性を実現したUI/UXを重視しました。そのため、ネイティブアプリかHTML5ハイブリッドアプリに絞られました。ネイティブ開発については、操作性は評価できるものの、開発及び運用コストが高く、デバイスやOSにロックインされるということが懸念されました。結果として、これら懸念をクリア可能な、HTML5ハイブリッドアプリを採用しました。</p>

        <h2>Q2.Monacaの開発現場の評価はいかがでしたでしょうか？</h2>
        <p>Monacaはドキュメントが充実しているので、修得しやすいです。また、Monacaでの開発は、プレビュー画面で確認しながら画面デザインの調整をしたり、Monacaデバッガーで即時に動作確認をしながら開発できたり、CordovaプラグインがGUIで追加できたりと、非常に開発効率が高く、短期でのシステムのリリースに貢献しました。<br />
        またプロジェクト期間中に開発人員の増減があったのですが、開発環境のセットアップが容易なためすぐに開発に入れました。<br />
        さらに、iOSアプリの開発がOSを選ばず可能なことは、コスト面でも開発者の慣れの面でも助かりました。</p>

        <h2>Q3.御社の金融業界向けの取り組みとMonacaとの関連について一言いただけますでしょうか。</h2>
        <p>弊社は現在、金融機関様に、経営課題の解決を目的とした、業務・システム両面のコンサルティングを実施していますが、地方金融機関様のビジネス環境下では、「より多くのチャネル（スマートデバイス）へ、よりスピーディー」なサービス展開が求められるようになっております。<br />
        このような状況下、Monacaを活用したHTML5ハイブリッドアプリ開発は、我々のクライアントである金融機関様、またその先のエンドユーザー様のニーズに応えるための強力な武器となると考えております。</p>
    </div>
    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/naganobank/img_portrait_matsumoto.jpg" alt="" /></dt>
            <dd><figcaption>フューチャーアーキテクト株式会社<br />金融ビジネス本部<br />エグゼクティブマネジャー<br />松本 野歩 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/naganobank/img_portrait_wada.jpg" alt="" /></dt>
            <dd><figcaption>フューチャーアーキテクト株式会社<br />金融ビジネス本部<br />シニアコンサルタント<br />和田 翔平 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/naganobank/logo_nagano_bank.png" alt="株式会社長野銀行" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社長野銀行（THE NAGANOBANK, LTD）</em></dd>
        </dl>
        <dl>
            <dt>本店所在地</dt>
            <dd>松本市渚2丁目9番38号</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="https://www.naganobank.co.jp/" target="_blank">https://www.naganobank.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成27年3月31日現在)</p>
    </div>

    <div class="developer info-cont">
        <h2>担当開発会社</h2>
        <img src="/img/tokyocalendar/logo_future.png" alt="フューチャーアーキテクト株式会社" class="logo" />
        <dl>
            <dt>商号</dt>
            <dd><em>フューチャーアーキテクト株式会社 (英文標記：Future Architect, Inc.)</em></dd>
        </dl>
        <dl>
            <dt>代表取締役会長</dt>
            <dd>金丸 恭文</dd>
        </dl>
        <dl>
            <dt>代表取締役社長</dt>
            <dd>東 裕二</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.future.co.jp/" target="_blank">http://www.future.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
    </div>
</section>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>