---
title: Monaca導入事例：株式会社ネットマーケティング
class: showcase netmarketing
description: 新感覚転職アプリ「Siwtch」をMonacaで開発、短納期での開発とメンテナンスコストの低減を実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    <img src="/img/netmarketing/keyvisual.jpg" alt="" class="keyvisual">
    <h1 class="">
        <span>注目事例</span>
        新感覚転職アプリ「Switch」をMonacaで開発、<br>短納期での開発とメンテナンスコストの低減を実現
    </h1>
    <div class="info-cont">
        <img src="/img/netmarketing/logo_netmarketing.png" alt="株式会社ネットマーケティング" />
        <h3>株式会社ネットマーケティング</h3>
        <ul>
            <li>。。。</li>
            <li>。 。</li>
            <li>。。 。。</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="etajimacity.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">江田島市観光協会</a>
    <a href="kdl.html" class="next">株式会社 神戸デジタル・ラボ<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1>サービス紹介</h1>
        <p>「Switch」は、転職希望者が企業の求人情報にFacebookで「いいね！」をすることにより、企業人事担当者に匿名プロフィールが目に留まり、スカウトメールが届く新感覚のスカウト型転職サイトです。Web業界を中心に数多くの企業が求人に活用しています。Facebookアプリとして展開されていた「Switch」に新たに追加されたiOS版アプリとAndroid版アプリをMonaca開発パートナーである株式会社ケアリッツ・アンド・パートナーズが開発しました。</p>
        <img class="sp-img" src="/img/netmarketing/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/netmarketing/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monacaの活用メリット</h1>
        <p>「Switch」プロジェクトは、株式会社ケアリッツ・アンド・パートナーズにとって初めてiPhoneアプリ、Androidアプリ、モバイルWebアプリ開発を同時で進めるプロジェクトとなりました。Webエンジニアを中心とするチームで開発を進めるためにMonacaが採用されました。Monaca及びOnsen UIでの開発は日本語の技術情報が充実していたこともあり、教育コストも低く、すぐに実開発に入ることができたそうです。</p>
        <p>また、本プロジェクトでは短期間にiOS、Android、Webアプリを並行して開発する必要がありましたが、Monacaの活用によりソースコードの多くを共通化することにより、短期での開発を実現しています。同時に、リリース後のメンテナンスの手間も大幅な軽減に成功されています。</p>
    </div>
    <img src="/img/netmarketing/img_2.jpg" alt="" class="nowrap sp-img" />
</section>


<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>Webエンジニア中心のチームでモバイルアプリの開発を行うことができた</li>
        <li>開発効率が高く、短納期のプロジェクトでも余裕をもって進められた</li>
        <li>モバイルアプリとWebアプリのソース共通化ができてメンテナンス負荷が軽減できた</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>


    <figure class="alignright nowrap">
        <img src="/img/netmarketing/img_netmarketing_kawashima.jpg" alt="川嶋 弘文 氏" />
        <figcaption>株式会社ケアリッツ・アンド・パートナーズ<br>IT事業本部 本部長<br>川嶋 弘文 氏</figcaption>
        <img src="/img/netmarketing/img_netmarketing_arai.jpg" alt="荒井 信之 氏" />
        <figcaption>株式会社ケアリッツ・アンド・パートナーズ<br>IT事業本部 リーダー<br>荒井 信之 氏</figcaption>
        <img src="/img/netmarketing/img_netmarketing_ishikawa.jpg" alt="石川 智史 氏" />
        <figcaption>株式会社ケアリッツ・アンド・パートナーズ<br>IT事業本部　アーキテクト<br>石川 智史 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>今回「Switch」の開発を担当された株式会社ケアリッツ・アンド・パートナーズ IT事業本部の川嶋 弘文氏、荒井 信之氏、石川 智史氏にMonacaを使用して開発をされた感想をインタビューしました。</p>
        <h2>Q1.Monacaの採用のきっかけと第一印象はいかがでしたでしょうか。</h2>
        <p>「Switch」の運営元のネットマーケティング様からスマホアプリの開発の相談を受けたのがきっかけでした。当初はCordovaでの開発を行うことを念頭に調査を進めているうちにMonacaにたどり着きました。実際に触ってみると、Cordovaアプリの開発に必要なものはMonacaやOnsen UIで用意されており、Webの技術が分かっている技術者であればすぐに開発が開始できる印象を持ちました。「こんなに手軽にモバイルアプリが作れるんだ」というのがMonacaの第一印象でした。</p>

        <h2>Q2.Monacaでのアプリ開発の教育コストはどれくらいかかりましたか？</h2>
        <p>今回のプロジェクトでは最大6人のメンバーがMonacaを使用し開発を行いました。6名は若年層から年配のベテランまで幅広いWebエンジニアでモバイルアプリの経験はありませんでした。チームの中にAngularJSの経験者がいたこともあり、特に教育コストや教育のための時間がほとんどかからずに、すぐに開発に取り掛かることができました。</p>

        <h2>Q3.Monacaを活用したプロジェクトは実際いかがでしたでしょうか？</h2>
        <p>今回が弊社において、初めてiOS、Android、Webアプリを同時で進めるプロジェクトでしたが、MonacaとOnsen UIを活用することにより、大きなトラブルもなく、スケジュール通り無事納品することができました。最初にOnsen UIでプロトタイプを作り、お客様のフィードバックを得てすぐに修正する、というサイクルで開発を行ったのが良かったと思います。お陰様でお客様からも対応が早いという評価もいただきました。</p>

        <h2>Q4.Onsen UIについては、どのような印象を持ちましたでしょうか？ </h2>
        <p>Onsen UIはとても使いやすい印象があります。最初にタグを覚えてしまえば、あとはすごく楽に使いこなせたと思います。また、必要な部品で基本的なものが用意されていて、画面の微調整などCSSで対応できるのが良かったです。Android版、iOS版、Web版のアプリのソースコードの多くを共通化することができたので、メンテナンスの負荷も大幅に軽減できていると思います。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/netmarketing/img_netmarketing_kawashima.jpg" alt="山中克容 氏" /></dt>
            <dd><figcaption>株式会社ケアリッツ・アンド・パートナーズ<br>IT事業本部 本部長<br>川嶋 弘文 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/netmarketing/img_netmarketing_arai.jpg" alt="岡 龍弘　氏" /></dt>
            <dd><figcaption>株式会社ケアリッツ・アンド・パートナーズ<br>IT事業本部 リーダー<br>荒井 信之 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/netmarketing/img_netmarketing_ishikawa.jpg" alt="岡 龍弘　氏" /></dt>
            <dd><figcaption>株式会社ケアリッツ・アンド・パートナーズ<br>IT事業本部　アーキテクト<br>石川 智史 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/netmarketing/logo_netmarketing.png" alt="株式会社ネットマーケティング" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社ネットマーケティング</em></dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2004年7月9日</dd>
        </dl>
        <dl>
            <dt>資本金</dt>
            <dd>1億3682万円</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.net-marketing.co.jp/" target="_blank">http://www.net-marketing.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成28年7月末日現在)</p>
    </div>

    <div class="developer info-cont clearfix">
        <h2>担当開発会社</h2>
        <img src="/img/netmarketing/logo_careritz.png" alt="株式会社ヘッドウォータース" class="logo" />
        <em>株式会社ケアリッツ・アンド・パートナーズ</em>
        <a class="url" href="https://www.careritz.co.jp/it/" target="_blank">https://www.careritz.co.jp/it/ <i class="glyphicon glyphicon-new-window"></i></a>
    </div>
</section>

<div class="container download">
    <span>「Switch」のダウンロードはこちらから</span>
    <a href="https://play.google.com/store/apps/details?id=bz.sw"><img src="/img/common/bnr_googleplay.svg" alt=""></a>
    <a href="https://itunes.apple.com/jp/app/id1103622800?l=jp&mt=8"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>