---
title: Monaca導入事例：株式会社ニジボックス
class: showcase nijibox
description: MonacaとOnsen UIを活用し実工数2週間でのアプリリリースを実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---
<header>
    <div class="image-wrapper">
        <img src="/img/nijibox/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="">
        <span>注目事例</span>
        MonacaとOnsen UIを活用し<br />実工数2週間でのアプリリリースを実現
    </h1>
    <div class="info-cont">
        <img src="/img/nijibox/logo_nijibox.png" alt="株式会社ニジボックス" />
        <h3>株式会社ニジボックス</h3>
        <ul>
            <li>。。。</li>
            <li>。 。</li>
            <li>。。 。。</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="naganobank.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">株式会社長野銀行</a>
    <a href="fusionnagaike.html" class="next">特定非営利活動法人 NPOフュージョン長池<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1><span class="ls-100">ア</span><span class="ls-150">プリ</span>の紹介</h1>
        <p>「レシポ！」は、ニジボックスが提供する消費者をコンビニ、スーパーなどのリアル店舗での自社商品の購入を保証するO2O型サンプリングサービスで、すでに毎月50万人以上が使う注目サービスです。<br />サービスの利用者は、「レシポ！」に掲載されている商品の商品名が記載されているレシートの画像を送るだけでポイントを貯めることができます。<br />「レシポ！」公式アプリを使うとレシート画像をより手軽に送信することができます。<br />レシポ公式サイト：<a href="https://recipo.jp/" target="_blank">https://recipo.jp/ <i class="glyphicon glyphicon-new-window"></i></a></p>
        <img class="sp-img" src="/img/nijibox/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/nijibox/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>2014年10月にPC向け及びスマホ向けのWebサイトとしてサービス開始をしたレシポ！は、当初よりレシートの画像アップの手間などから専用のスマホアプリが望まれていました。<br />Webサイトのリソースを有効活用するためアプリ開発においてもHTML5ハイブリッッド型での開発を行う方針で複数のツールを検討し、Monacaの採用にいたりました。Monacaの採用の決め手はMonacaデバッガーを使ったクイックな開発スタイルと、Web標準技術でアプリ開発ができるということでした。<br />実際に、Monacaでのアプリ開発は順調に進み、エンジニア1名の体制で、実工数わずか2週間でiOS、Androidのアプリをリリースすることができました。</p>
    </div>
    <img class="sp-img" src="/img/nijibox/img_2.jpg" alt="">
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>エンジニア1名の体制で実工数2週間という短期間で開発を完了できた</li>
        <li>Onsen UIを活用することでアプリっぽいUIを実現できた</li>
        <li>Monacaデバッガーを使ったユーザーテストでUIが劇的に改善できた</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/nijibox/img_portrait_fujiwara.jpg" alt="" />
        <figcaption>株式会社ニジボックス<br />開発室 マネジャー　藤原 裕司 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「レシポ！」公式アプリを開発したニジボックスの藤原裕司氏にインタビューをいたしました。</p>
        <h2>Q1.Monacaでの開発の第一印象を教えてください。</h2>
        <p>開発環境のセットアップをせずにアプリ開発が行えたのは良かったです。また、Monacaデバッガーを初めて使った時には、ソースコードを保存するだけですぐに実機で動作確認できることに衝撃を受けました。これがアプリ開発の新しいスタイルだと直感しました。</p>

        <h2>Q2.レシポ！公式アプリの開発にOnsen UIを採用された理由を教えてください。</h2>
        <p>GUIを効かせてスムーズなアニメーションをアプリのUIに採用したかったのでOnsen UIを採用しました。Onsen UIでは、HTMLファイルを分割してファイル管理できるのも便利でした。</p>

        <h2>Q3.レシポ！公式アプリでとくにこだわった点について教えてください。</h2>
        <p>トップページにはお得な商品情報をずらっと並べるため、どうしても画像の数が多くなります。それでも使い易いように工夫しました。また、様々な画面サイズの端末に対応するために画像の表示サイズなどはピクセル指定を使わずに全てパーセント指定を行いました。</p>

        <h2>Q4.開発中のエピソードがあれば教えてください。</h2>
        <p>アプリのリリース前に社内メンバーにアプリを触ってもらうお試し会を開催しました。メンバーにMonacaデバッガーを通じてプロジェクトを共有し、アプリを操作してもらい、その場で議論をして、その後すぐに修正版を再配布し評価してもらうというサイクルを数回繰り返しました。これで、アプリのUIが相当改善されたという実感があります。従来のやり方でいちいちアプリをビルドして再配布を行っていたら、1~2週間程度かかっていたと思います。</p>

        <h2>Q5.今後もアプリ開発にMonacaを活用したいですか？</h2>
        <p>軽めの要件のアプリ開発には絶対に使いたいと思いますし、他の開発メンバーにも広めていきたいと思っています。おおよそのアプリの機能はWeb技術やCordovaで対応ができます。そのような要件のアプリを開発するには開発効率の面でMonacaがベストチョイスだと思います。逆にARアプリなどには向いていないと思います。</p>
    </div>
    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/nijibox/img_portrait_fujiwara.jpg" alt="" /></dt>
            <dd><figcaption>株式会社ニジボックス<br />開発室 マネジャー　藤原 裕司 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/nijibox/logo_nijibox.png" alt="株式会社ニジボックス" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社ニジボックス（NIJIBOX Co.,Ltd.）</em></dd>
        </dl>
        <dl>
            <dt>代表取締役社長 兼 CEO</dt>
            <dd>麻生 要一</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2010年11月　※ 株式会社リクルートのR&amp;D機関メディアテクノロジーラボより分社独立</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://nijibox.jp/" target="_blank">http://nijibox.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成27年9月末日現在)</p>
    </div>
</section>

<div class="container download">
    <span>「レシポ！」のダウンロードはこちらから</span>
    <a href="https://play.google.com/store/apps/details?id=jp.co.nijibox.recipo"><img src="/img/common/bnr_googleplay.svg" alt=""></a>
    <a href="https://itunes.apple.com/jp/app/reshipo!/id1004938586?l=ja&ls=1&mt=8"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>
