---
title: Monaca導入事例：一般社団法人オープン・コーポレイツ・ジャパン
class: showcase ocj
description: MonacaとWordPress連携で20自治体の広報紙のアプリ化を低コストで実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<div class="clearfix"><a class="pc-back" href="/showcase/">事例一覧に戻る</a></div>

<header>
    一般社団法人オープン・コーポレイツ・ジャパン
    <em>マイ広報紙</em>
</header>

<div class="clearfix"><a class="sp-back" href="/showcase/">» 事例一覧に戻る</a></div>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">MonacaとWordPress連携で20自治体の広報紙のアプリ化を低コストで実現</h1>
      <img src="/img/ocj/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">MonacaとWordPress連携で20自治体の広報紙のアプリ化を低コストで実現</h1>

    <div class="info-cont">
        <h1><img src="/img/ocj/logo_ocj.png" alt="一般社団法人オープン・コーポレイツ・ジャパン" /></h1>

        <dl>
            <dt>名称</dt>
            <dd><em>一般社団法人オープン・コーポレイツ・ジャパン</em></dd>
        </dl>
        <dl>
            <dt>代表理事</dt>
            <dd>中島　洋</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2014年2月25日</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="https://www.opencorporates.jp/" target="_blank">https://www.opencorporates.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成29年4月末現在）</a>
    </div>
    <div class="developer info-cont clearfix">
        <h2>担当開発会社</h2>
        <img class="logo" src="/img/ocj/logo_communitycom.png" alt="株式会社コミュニティコム" />
        <em>株式会社コミュニティコム</em> <a href="https://www.communitycom.jp/" target="_blank" class="url">https://www.communitycom.jp/ <i class="glyphicon glyphicon-new-window"></i></a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>マイ広報紙は、自治体等が発行する広報紙を記事ごとにデータ化し、インターネットで無料配信するサービスでパソコンやスマホで誰でもいつでも利用できます。一般社団法人オープン・コーポレイツ・ジャパンが自治体広報紙のオープンデータ利活用実証研究として開発され、各自治体（広報課）の協力の下で運営されています。現在316の自治体の広報紙が掲載されており、そのうち地域オリジナルサイトをもつ20自治体では自治体ごとのスマホアプリも提供されプッシュ通知での新着情報を受け取ることなどができます。</p>
        <img class="sp-img" src="/img/ocj/img_1.png" alt="">
    </div>
</section>

<section class="app-info backstory-pc">
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>マイ広報紙オリジナルのアプリを提供するマイ広報紙地域版プロジェクトは、WordPressベースの既存Webサイトの構築、運用を担当してきたコミュニティコムがアプリの開発も担当するという体制で進められました。本プロジェクトは、20自治体のiOS、Android向けのアプリを同時に開発する必要があったこと、また開発担当者がWeb技術に明るかったことなどからHTML5ハイブリッド型の開発を行う方針に決定。各種開発環境を比較検討するなかで、セットアップや開発環境のメンテナンスが不要な点や技術サポートが受けられる点などを評価されMonacaが採用されました。また、WordPress及びmBaaSと連携を行うことでプッシュ通知の自動化が簡単に行えることも大きな評価ポイントになりました。</p>
    </div>
    <img src="/img/ocj/img_2.png" alt="" class="nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>20自治体向けのiOS、Android両対応アプリを低コストで開発、運用</li>
        <li>既存のWebサイトのWordPressをアプリでもそのまま活用</li>
        <li>ニフティクラウド mobile backendとの連携でプッシュ通知を自動配信</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/ocj/img_ocj_fujii.jpg" alt="藤井 博之 氏" />
        <figcaption>一般社団法人オープン・コーポレイツ・ジャパン<br />常務理事<br>藤井 博之 氏</figcaption>
        <img src="/img/ocj/img_communitycom_hoshino.jpg" alt="星野 邦敏 氏" />
        <figcaption>株式会社コミュニティコム<br />代表取締役<br>星野 邦敏 氏</figcaption>
        <img src="/img/ocj/img_communitycom_yoshida.jpg" alt="吉田 裕介 氏" />
        <figcaption>株式会社コミュニティコム<br />プログラマー<br>吉田 裕介 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>マイ広報紙アプリのプロジェクト企画・運営・開発を行っているＯＣＪ常務理事の藤井博之氏とコミュニティコム代表取締役 星野邦敏氏、プログラマー 吉田裕介氏にマイ広報紙アプリ開発プロジェクトについてお話をお聞きしました。</p>
        <h2>Q1.マイ広報紙アプリの開発にいたった経緯を教えてください。</h2>
        <p><span class="name">藤井氏</span>　OCJは法人情報のオープンデータ化を推進することを目的として３年前に設立したのですが、行政のオープンデータ推進のニーズが強かったため設立当初から行政のオープンデータ化の支援も行っています。その中で比較的オープンデータ化が積極的に行われてきた広報紙情報のオープンデータ利活用実証研究として全国の広報紙の情報が閲覧できるWebサイト「マイ広報紙」を2年ほど前にリリースしました。その後、スマホの急速な普及に伴い自治体ごとの広報紙アプリへのニーズの高まりに答える形で、スマホアプリの開発にいたりました。現在では20の自治体がそれぞれマイ広報紙アプリを提供しています。</p>

        <h2>Q2.Monacaを導入する決め手になったポイントを教えて下さい。</h2>
        <p><span class="name">吉田氏</span>　iOS、Androidの両対応のアプリが必要だったのとWeb開発の経験が長かったためPhoneGapとの比較の結果Monacaを採用しました。開発環境のセットアップやメンテナンス不要でアプリ開発ができる点やアプリのビルド設定がGUIでできる手軽さが良かったです。また、開発元が日本にあるのでいざとなったら直接サポートを受けられるのも安心感がありました。</p>
        <p>まだ実施はできていないのですが、20個のアプリを運用しているのでアプリの改修などを行った際にMonaca CLIを使ったビルドの自動化なども行いたいと考えています。</p>

        <h2>Q3.Monacaと組み合わせて使った開発ツールやサービスなどがあれば教えて下さい。</h2>
        <p><span class="name">吉田氏</span>　マイ広報紙のWebサイトはWordPressで構築していたため、アプリのバックエンドもそのままWordPressを使っています。またニフティクラウド mobile backendを活用しWordPressの記事更新のタイミングで自動的にアプリにプッシュ通知が送られる仕組みを構築しました。WordPressもニフティクラウド mobile backendも非常に簡単にMonacaと連携することができました。</p>

        <h2>Q4.今後の展開について教えて下さい。</h2>
        <p><span class="name">藤井氏</span>　広報紙データをオープンデータとしてマイ広報紙以外でも他のサービス、メディアで活用されるようにすることで広報紙情報の到達率をもっと上げていきたいです。また、マイ広報紙の仕組みの延長で行政と市民とのコンタクトをより良いものにしていきたいです。例えば行政が提供している講座や制度などへの申込や届出をできるようにすることなどを考えています。</p>
        <p><span class="name">星野氏</span>　コミュニティコムはWordPressサイトの制作をこれまで多数手がけてきているので、今回のマイ広報紙アプリのようにクライアントに対してWebサイトのアプリ化の提案を積極的に行っていきたいです。これまでWebサイト制作中心の事業領域だったので、これをアプリ開発にまで提案範囲を広げられるのは強みになると期待しています。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/ocj/img_ocj_fujii.jpg" alt="藤井 博之 氏" /></dt>
            <dd><figcaption>一般社団法人オープン・コーポレイツ・ジャパン<br />常務理事<br>棋士五段<br>藤井 博之 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/ocj/img_communitycom_hoshino.jpg" alt="星野 邦敏 氏" /></dt>
            <dd><figcaption>株式会社コミュニティコム<br />代表取締役<br>星野 邦敏 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/ocj/img_communitycom_yoshida.jpg" alt="吉田 裕介 氏" /></dt>
            <dd><figcaption>株式会社コミュニティコム<br />プログラマー<br>吉田 裕介 氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container download">
    <p>「マイ広報紙」のダウンロードはこちらから</p>
    <a href="https://itunes.apple.com/jp/developer/%E3%83%9E%E3%82%A4%E5%BA%83%E5%A0%B1%E7%B4%99%E9%96%8B%E7%99%BA%E3%83%81%E3%83%BC%E3%83%A0/id1135149521" target="_blank"><img src="/img/hitachitool/bnr_appstore.png" alt="App Store"></a>
    <a href="https://play.google.com/store/apps/developer?id=%E3%83%9E%E3%82%A4%E5%BA%83%E5%A0%B1%E7%B4%99%E9%96%8B%E7%99%BA%E3%83%81%E3%83%BC%E3%83%A0&hl=ja" target="_blank"><img src="/img/hitachitool/bnr_googleplay.png" alt="Google Play"></a>
</div>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>