---
title: Monaca導入事例：株式会社プロルート丸光
class: showcase proroutemarumitsu
viewport: width=1200px
description: 創業明治33年の老舗企業がアプリでお客様とのコミュニケーション変革に挑む
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---

<header>
    株式会社プロルート丸光
    <em>プロルート丸光アプリ</em>
</header>


<section class="info">
    <div class="info-header">
      <h1>創業明治33<span class="ls-50">年の</span>老舗企業が<span class="ls-50">アプ</span><span class="ls-100">リで</span><br />お客<span class="ls-100">様とのコミュ</span>ニケー<span class="ls-100">ショ</span>ン変革に挑む</h1>
      <img src="/img/proroutemarumitsu/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <div class="info-cont">
        <h1><img src="/img/proroutemarumitsu/logo_proroute.png" alt="株式会社プロルート丸光" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社プロルート丸光（Proroute Marumitsu Corporation）</em></dd>
        </dl>
        <dl>
            <dt>代表取締役社長</dt>
            <dd>安田 康一</dd>
        </dl>
        <dl>
            <dt>住所</dt>
            <dd>大阪市中央区久太郎町二丁目1番5号</dd>
        </dl>
        <dl>
            <dt>創業</dt>
            <dd>明治33年</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.proroute.co.jp/" target="_blank">http://www.proroute.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
    
        <!-- <p class="note">(平成27年3月31日現在)</p> -->
    </div>

    <div class="developer info-cont">
        <h2>担当開発会社</h2>
        <img src="/img/hitachitool/logo_studiocanbe.png" alt="Studio Canbe" class="logo" />
        <em>株式会社スタジオキャンビー</em> <a href="http://www.studio-canbe.com/" target="_blank" class="url">http://www.studio-canbe.com/ <i class="glyphicon glyphicon-new-window"></i></a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1><span class="ls-100">ア</span><span class="ls-150">プリ</span>の紹介</h1>
        <p>創業明治33年の衣料品を中心とする会員制総合卸売業の株式会社プロルート丸光では、豊富な品揃えに加え売れ筋等の情報提供により、会員の小売業者様から大きな信頼を得てきました。これまでダイレクトメールを使ってお客様への情報提供をしてきましたが、お客様とのよりタイムリーで効果的なコミュニケーションを行うために開発されたのがプロルート丸光アプリでした。お客様が各担当バイヤーから送られる売れ筋情報などをタイムライン風の画面で見ながら、気になった情報にはバイヤーと個別にチャットでやりとりができる仕組みが提供されています。</p>
    </div>
</section>

<section class="backstory">
    <img src="/img/proroutemarumitsu/img_2.jpg" alt="" class="alignright nowrap" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>2015年4月ごろにお客様との新たなコミュニケーションツールの構想が生まれ、プロルート丸光として社内初のモバイルアプリの開発プロジェクトがスタートしました。アプリの要件を詰めるなかで、iPhoneとAndroidの両プラットフォームへの対応が必須要件となり、ワンソースでの開発ができるMonacaの採用にいたりました。また、お客様とのメッセージの送受信をリアルタイムに通知するためにPush通知機能が必要であったため、ニフティクラウドmobile backendと連携していたことも魅力だったそうです。結果としては構想から、わずか5ヶ月後にはiPhone向け、Android向けの両アプリを予定通りリリース。お客様からの評判も良くDL数も順調に伸び、新たなコミュニケーション基盤として定着しつつあるそうです。</p>
    </div>
</section>


<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>3ヶ月間という短期間でiOS、Android向けのアプリを同時に開発できた</li>
        <li>ニフティクラウド mobile backend連携でプッシュ通知がすぐに実装できた</li>
        <li>Onsen UIを活用しシンプルで直感的なUIを実現できた</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>
    

    <figure class="alignright nowrap">
        <img src="/img/proroutemarumitsu/img_portrait_masuda.jpg" alt="" />
        <figcaption>株式会社プロルート丸光<br />営業本部長室 営業企画 販促担当<br />増田 康行 氏</figcaption>
        <img src="/img/proroutemarumitsu/img_portrait_kanbe.jpg" alt="" />
        <figcaption>株式会社スタジオキャンビー<br />代表取締役　神戸 貴弘 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>Monacaでのアプリ開発に関して、アプリの企画責任者の株式会社プロルート丸光の増田康行氏と開発を担当された株式会社スタジオキャンビーの神戸貴弘氏にお話をおうかがいいたしました。</p>
        <h2>Q1.アプリの導入で苦労された点を教えてください。</h2>
        <p><span class="name">増田様</span>　アプリの導入も開発も初めての事ばかりだったので色々と苦労しました。お客さまの年齢が比較的高いためアプリのUIについてはシンプルで直感的に操作できるものにこだわりました。また、各バイヤーがメールやLineなど独自にお客様とのやりとりの手段を持っていたので、アプリに一本化するために説得するのが大変でしたが、まずは使ってもらいバイヤーやお客様からの意見を反映していきたいと思っています。</p>

        <h2>Q2.アプリ開発で特に留意された点はありますか？</h2>
        <p><span class="name">神戸様</span>　アプリの内部で非同期通信を行っているのですが、その動作方法によってバッテリーの消費が大きくなってしまうことがあります。開発中にはなかなか気づきにくい点なのですが、バッテリー消費量に関してはかなり注意して開発を行いました。</p>

        <h2>Q3.Monaca及びニフティクラウド mobile backendの導入効果はいかがでしたか？</h2>
        <p><span class="name">神戸様</span>　Monacaは別プロジェクトでも使ったことがあり、HTML5ハイブリッド型のアプリ開発の特徴も把握をしていたためスムーズに開発を進めることができました。また、UI開発においてはOnsen UIにかなり助けられました。ニフティクラウド mobile backendは、今回初めて使ったのですが、SDKがMonacaにあらかじめ組み込まれていますし、ドキュメントやサンプルも充実していたので予定通りの機能が組み込めました。</p>

        <h2>Q4.プロルート丸光アプリの成果と今後の展望について教えて下さい。</h2>
        <p><span class="name">増田様</span>　まだ始まったばかりですが、想定を上回る利用率になっています。概ねお客様からの評判は良いですね。特に、国内遠方のお客様、人出が足りず店を離れられないお客様は、生の情報が何よりも大事ですから、よくご利用いただいています。また、最近、台湾、香港、中国本土からの海外バイヤーのお客様が増えているのですが、渡航前に情報が得られるということで大変喜ばれています。今後は翻訳機能もつけて、国内・海外バイヤーとも簡単に密にコミュニケーション出来るようなツールに進化させていきたいです。</p>
    </div>
</section>

<div class="container download">
    <p>「プロルート丸光アプリ」のダウンロードはこちらから</p>
    <a href="https://itunes.apple.com/jp/app/puroruto-wan-guangapuri/id980449891" alt="App Store" target="_blank"><img src="/img/hitachitool/bnr_appstore.png" alt="App Store"></a>
    <a href="https://play.google.com/store/apps/details?id=jp.co.proroute.MarumitsuApp" target="_blank"><img src="/img/hitachitool/bnr_googleplay.png" alt="Google Play"></a>
</div>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="https://monaca.mobi/ja/support/inquiry" class="btn btn-big btn-blue">お問い合わせ</a>
</div>