---
title: Monacaエンタープライズ導入事例：株式会社プロトコーポレーション
class: showcase proto
description: 中古車販売店向けアプリCMSをわずか4ヶ月間でサービスイン
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<div class="clearfix"><a class="pc-back" href="/showcase/">» 事例一覧に戻る</a></div>
<header>
    株式会社プ<span class="ls-100">ロ</span><span class="ls-150">ト</span>コーポレー<span class="ls-100">ショ</span>ン
    <em><img src="/img/proto/logo_motor_gate.png" alt="MOTOR GATE"></em>
</header>
<div class="clearfix"><a class="sp-back" href="/showcase/">» 事例一覧に戻る</a></div>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">中古車販売店向けアプ<span class="ls-100">リ</span>CMSを<br />わずか4<span class="ls-200">ヶ</span>月間でサービスイン</h1>
      <img src="/img/proto/keyvisual.jpg" alt="" class="keyvisual">
      <h1 class="sp-copy">中古車販売店向けアプ<span class="ls-100">リ</span>CMSをわずか4<span class="ls-200">ヶ</span>月間でサービスイン</h1>
    </div>
    <div class="info-cont">
        <h1><img src="/img/proto/logo_proto.png" alt="株式会社プロトコーポレーション" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社プロトコーポレーション（英名：PROTO CORPORATION）</em></dd>
        </dl>
        <dl>
            <dt>住所</dt>
            <dd>（本社）愛知県名古屋市中区葵1-23-14  プロト葵ビル、（東京本社）東京都文京区本郷2-22-2  プロト本郷ビル</dd>
        </dl>
        <dl>
            <dt>創業</dt>
            <dd>昭和52年10月</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>昭和54年6月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.proto-g.co.jp/" target="_blank">http://www.proto-g.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成27年5月現在)</p>
    </div>
</section>

<section class="backstory">
    <div class="nowrap">
        <h1><span class="ls-100">ア</span><span class="ls-150">プリ</span>の紹介</h1>
        <p>株式会社プロトコーポレーションは、これまで中古車販売店向けの販売支援、顧客管理、事務処理、在庫管理を提供する支援ツール『MOTOR GATE（モーターゲート）』を提供してきました。同社は中古車販売店の販売支援を強化するべく、中古車販売店のオウンドメディアとなる自社スマートフォンアプリを通じた顧客サービスの提供をできるよう、アプリを簡易に生成できる自動車販売店アプリCMSを開発しました。</p>
        <h1>Monaca採用の背景</h1>
        <p>株式会社プロトコーポレーションは1万店（2015年3月時点）を超える提携先中古車販売店がエンドユーザーに、よりきめ細かいサービスを提供し、売上を向上させる仕組みを検討していました。Goo-netを利用するユーザーの多数がスマートデバイスに移行するなかで、中古車販売店が独自に顧客サービス用のアプリを持てる仕組みとしてアプリCMS提供するということが2014年8月頭に決定されました。</p>
        <p>当初、汎用的なアプリCMSをカスタマイズする案や全てスクラッチで開発する案も検討されましたが、アプリ生成、デバッグ部分にMonacaのAPIを活用し、アプリのUIにOnsen UIを採用することにより、アプリCMSの開発期間・運用コストを大幅に圧縮しながら、高品質なHTML5ハイブリッドアプリを提供することができると判断いただき、採用につながりました。</p>
    </div>
    <img class="sp-img" src="/img/proto/img_1.jpg" alt="">
</section>

<section class="effect">
    <h1>Monaca採用効果</h1>
    <ul>
        <li>アプリ生成CMSをわずか4ヶ月でサービスリリース</li>
        <li>ITリテラシーが低いユーザーでも使用できる直感的なアプリUIを実現</li>
        <li>MonacaのAPIを活用することで既存システムとシームレスな連携</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/proto/img_portrait_mizuno.jpg" alt="" />
        <figcaption>株式会社プロトコーポレーション<br />ITソリューション戦略室<br />係長 水野 正和 氏</figcaption>

        <img src="/img/proto/img_portrait_ishida.jpg" alt="" />
        <figcaption>株式会社プロトコーポレーション<br />ITソリューション2部<br />石田 佳祐 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>MOTOR GATEアプリCMSの開発プロジェクトについて株式会社プロトコーポレーションの水野正和氏、石田佳祐氏にお話をおうかがいしました。</p>
        <h2>Q1.アプリの操作感で特に留意した点を教えてください。</h2>
        <p>中古自動車販売店の先にいらっしゃるエンドユーザー様の中にはPCやスマートデバイスになれていない方もいらっしゃいます。そのような方々でも直感的かつスムーズに使いこなせるように分かりやすくシンプルな画面で実践的な機能をエンドユーザー様の視点で設計し、提供しました。</p>

        <h2>Q2.中古自動車販売店の方からの評価はいかがでしょうか？</h2>
        <p>中古自動車販売店の方々からの評判はものすごく良いです。自社のアプリを通じて中古自動車購入から整備、買い替えまでのサイクルで適切な情報を効率的に顧客に提供できるため、顧客満足度を向上させ、リピートにつながり、収益向上に貢献できそうだという期待がよせられています。</p>

        <h2>Q3.OnsenUI、HTML5の印象を教えてください。</h2>
        <p>Onsen UIを活用することで、当初の想定よりもHTML5で高度なUI表現を実現できるということが分かりました。初期バージョンのアプリはシンプルに使いやすいUIを意識しましたが、デザイン的にリッチにしていく要望にも応えられる印象を持ちました。</p>

        <h2>Q4.今後の取り組みについて教えてください。</h2>
        <p>この世界はとにかくスピードが重要です。初期開発では、Monacaを活用することで新しいソリューションを最短期間でマーケットに届けることができました。今後は、モバイルアプリとしての機能拡張を行っていくことはもちろんのこと、ウェアラブルやIoTなど新しい技術を積極的に取り込んで、中古自動車販売店の収益向上につなげる施策につなげていきたいと思っています。Monacaが新しい技術、プラットフォームにタイムリーに対応してくれることを期待しています。</p>
    </div>
    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/proto/img_portrait_mizuno.jpg" alt="" /></dt>
            <dd><figcaption>株式会社プロトコーポレーション<br />ITソリューション戦略室<br />係長 水野 正和 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/proto/img_portrait_ishida.jpg" alt="" /></dt>
            <dd><figcaption>株式会社プロトコーポレーション<br />ITソリューション2部<br />石田 佳祐 氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>