---
title: Monaca導入事例：ピープルソフトウェア株式会社
class: showcase pscsrv
description: 「BaaS@rakuza」のフロントエンド開発環境として「Monaca」を採用、開発効率を５〜6倍に向上
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    ピープルソフトウェア株式会社
    <em>BaaS@rakuza</em>
</header>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy"><span class="ml">「</span>BaaS@rakuza」<span class="ml">の</span>フロントエンド開発環境として<span class="ml">「</span>Monaca」<span class="ml">を</span>採用、<span class="ml">開</span>発効率を５〜6倍に向上</h1>
      <img src="/img/pscsrv/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">「BaaS@rakuza」のフロントエンド開発環境として「Monaca」を採用、開発効率を５〜6倍に向上</h1>

    <div class="info-cont">
        <h1><img src="/img/pscsrv/logo_pscsrv.png" alt="ピープルソフトウェア株式会社" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>ピープルソフトウェア株式会社</em></dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>昭和57年12月</dd>
        </dl>
        <dl>
            <dt>資本金</dt>
            <dd>9,800万円</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.pscsrv.co.jp/" target="_blank">http://www.pscsrv.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成29年1月末現在）</a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>ソリューションのご紹介</h1>
        <p>同社が展開しているBaaS@rakuzaは、スマホアプリ構築に必要なサーバーサイドの各種機能を提供するクラウドサービスです。会員管理やプッシュ通知といった標準的な機能だけでなく、ビーコン機能やスタンプ・ポイント機能、行動履歴把握機能など、O2Oアプリケーション向けの機能を提供していることから、観光情報アプリやイベント用アプリでの多数の実績があります。<br>
        <br>
        Monacaとの連携も実現しており、アプリ開発者は「簡単に」「安価に」「短時間」でO2Oアプリを開発することが可能です。<br>
        <br>
        詳細は以下をご覧ください。<br>
        <a href="http://www.raku-za.jp/baas/" target="_blank">http://www.raku-za.jp/baas/</a></p>
        <img class="sp-img" src="/img/pscsrv/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/pscsrv/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>同社は約5年前からスマートフォン向けアプリケーション開発の受託開発に参入し、当初はiOS、Android共にネイティブ言語での開発を中心に進めていました。アプリ開発の経験を重ねる中で、社内で蓄積してきたノウハウをBaaS@rakuzaとして製品化し、Beacon機能を提供することで、さらに商談が順調に増えていきました。そこで次に課題になったのがアプリ開発者のリソース不足と開発作業の効率化でした。<br>
        <br>
        Monacaを評価したところ、これらの課題を解決でき、更に幅広いお客様へのアプリ提供が可能になると判断しフロントエンドの開発ツールとしてMonacaの採用に踏み切りました。また、BaaS@rakuzaのMonaca連携用のプラグインを提供し、BaaS＠rakuzaのMonaca開発者への普及も狙っています。</p>
    </div>
    <img src="/img/pscsrv/img_2.jpg" alt="" class="alignright nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>Web系技術者によるモバイルアプリ開発が行えるため開発リソース管理が柔軟にできるようになった</li>
        <li>従来型の開発に比較して開発効率を最大で5〜6倍高めることができた</li>
        <li>BaaS@rakuzaをMonaca開発者への普及が狙えるようになった</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/pscsrv/img_pscsrv_nakai.jpg" alt="中井 昌之 氏" />
        <figcaption>ピープルソフトウェア株式会社<br />営業本部 東日本営業グループ 課長<br>中井 昌之 氏</figcaption>
        <img src="/img/pscsrv/img_pscsrv_igumi.jpg" alt="井汲 俊介 氏" />
        <figcaption>ピープルソフトウェア株式会社<br />営業本部 東日本営業グループ<br>井汲 俊介 氏</figcaption>
        <img src="/img/pscsrv/img_pscsrv_yamashita.jpg" alt="山下 拓峰 氏" />
        <figcaption>ピープルソフトウェア株式会社<br />ITビジネス本部 東日本事業部 1課<br>山下 拓峰 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「BaaS@rakuza」を担当するピープルソフトウェア株式会社の中井 昌之氏、井汲 俊介氏、山下 拓峰氏にお話をうかがいました。</p>
        <h2>Q1.「Monaca」の第一印象はいかがでしたでしょうか？</h2>
        <p>我々が出展した展示会でよく「Monaca」が展示されていたので以前から気になっていました。当時から「Monaca」にはプラットフォームとしての勢いを感じていました。当時はネイティブ開発中心だったのですが、その後開発案件も順調に増加しエンジニア不足の課題解決のために「Monaca」を採用することにいたしました。「Monaca」であればWeb系技術者によるモバイルアプリ開発ができるため、開発要員の調整が非常に楽になりました。</p>

        <h2>Q2.「Monaca」を活用することで開発効率が向上したとお聞きしました。</h2>
        <p>モバイルアプリ開発の経験がない技術者でも「Monaca」を使うことによってすぐに戦力になりました。さらに、一つのソースコードでiOS用とAndroid用の二つのアプリケーションを同時開発できることがとても大きいです。またビルドをせずに「Monacaデバッガー」上でWebアプリを開発する様にデバッグできたのは衝撃でした。各種設定をGUIで設定できるのもアプリ開発の入門者としては使いやすいと思います。<br>
        <br>
        初期の学習コストを含めると、同じものをネイティブで開発した場合に比べて5〜6倍は開発効率が良かったと思います。</p>

        <h2>Q3.富士通ネットワークソリューションズ株式会社に貴社で開発したアプリを納入したとお聞きしました。</h2>
        <p>富士通ネットワークソリューションズ株式会社様は、位置情報を活用したクラウドサービス「POSIGEO*（ポシジオ）」や情報配信型ビーコン「BEACONETS**（ビーコネッツ）」というサービスを提供されています。今回当社は、富士通ネットワークソリューションズ株式会社様の「BEACONETS」と「BaaS＠rakuza」を利用した観光客向けクイズラリーアプリのプロトタイプを、「Monaca]で開発し納品いたしました。<br>
        <br>
        <span class="caoution">注）*、**；「POSIGEO」、「BEACONETS」は、いずれも富士通ネットワークソリューションズ株式会社の登録商標です。</span></p>

        <h2>Q4.最後に、今後の展開について教えて下さい。</h2>
        <p>当社は自社サービスを行っているところが強みです。自社サービスを展開することで、モバイルの最新技術に対応した新しいサービスを開発し、お客様に直接提供できるようになります。実戦力とでも言いましょうか、このサイクルで培われるノウハウがまさに当社の強みだと思っています。<br>
        <br>
        当社は今後、「BaaS@rakuza」を体験型サービス業に注力したBaaSとして育てていきたいと考えています。フロント部分は「Monaca」を活用してクイズラリーなどのアプリを広げていきたいです。2020年開催の東京オリンピックに向けて、観光用のアプリケーション開発やスポーツ関連の開発の依頼も増えています。もともと当社はスポーツ関係の実績も多いことから、このオリンピック開催の波を活かして、「BaaS@rakuza」を観光アプリや店舗向けソリューションに代表されるO２Oソリューション向けBaaSとしてポジションを確立していきたいです。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/pscsrv/img_pscsrv_nakai.jpg" alt="中井 昌之 氏" /></dt>
            <dd><figcaption>ピープルソフトウェア株式会社<br />営業本部 東日本営業グループ 課長<br>中井 昌之 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/pscsrv/img_pscsrv_igumi.jpg" alt="井汲 俊介 氏" /></dt>
            <dd><figcaption>ピープルソフトウェア株式会社<br />営業本部 東日本営業グループ<br>井汲 俊介 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/pscsrv/img_pscsrv_yamashita.jpg" alt="山下 拓峰 氏" /></dt>
            <dd><figcaption>ピープルソフトウェア株式会社<br />ITビジネス本部 東日本事業部 1課<br>山下 拓峰 氏</figcaption></dd>
        </dl>
    </div>
</section>


<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>
