---
title: Monaca導入事例：株式会社セカンドファクトリー
class: showcase secondfactory
description: IoT活用で糖尿病患者の生活改善を目指す健康管理アプリをiOS版、Android版同時開発
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    <img src="/img/secondfactory/keyvisual.jpg" alt="" class="keyvisual">
    <h1><span>注目事例</span>IoT活用で糖尿病患者の生活改善を目指す健康管理アプリをiOS版、Android版同時開発</h1>
    <div class="info-cont">
        <img src="/img/secondfactory/logo_secondfactory.png" alt="セカンドファクトリ" />
        <h3>セカンドファクトリ</h3>
        <ul>
            <li>。。。</li>
            <li>。 。</li>
            <li>。。 。。</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="monex.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">マネックス証券株式会社</a>
    <a href="ezsoft.html" class="next">イージーソフト株式会社<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>「七福神アプリ」(「健康応援七福神アプリ」として商標登録の申請中)は、あいち健康の森健康科学総合センター長の津下一代医師が考案、愛知県健康づくり振興事業団やアビームコンサルティング株式会社などが協力する産官学が連携したプロジェクトで使用するアプリです。「IoT活用による糖尿病重症化予防法の開発を目指した研究」への参加者は「七福神アプリ」を通じて、活動量計や体組成計、血圧計と連動して血圧、体重、歩数、身体活動量(EX量)を取得し、その測定・登録したデータに応じて七福神から指導や評価が伝えられることで、参加者の健康管理のモチベーションを保ちます。</p>
        <img class="sp-img" src="/img/secondfactory/img_1.jpg" alt="">
    </div>
</section>

<section class="app-info backstory-pc">
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>「七福神アプリ」(初代)では、糖尿病の方の行動や検査値に改善がみられるなど効果が確認されました。しかし、七福神のメッセージに慣れてしまうと、中にはだんだん測定しなくなる人がいることも見えてきました。そのため七福神アプリ」(2代目)には、利用者が日常行動を変えて生活習慣の改善を根気よく続けられるよう、飽きさせずにモチベーションを保つものにしたいというミッションがありました。</p>
        <p>そこで津下一代医師が考案した「活動量計などのデータを閲覧するだけでなく、七福神からの健康に関する個々に応じた適切なメッセージ」というアイディアに加え、セカンドファクトリーでは活動量計データと連動したアバターの成長、オムロンコネクト利用回数と連動した東海道五十三次を参加者との競争しながら進むといったゲーミフィケーションの要素を取り入れたUX（ユーザー体験）を提案しました。</p>
        <p>「七福神アプリ」は実験参加者が自身のスマホで使うことを想定したアプリのためiOSとAndroid双方で利用できるアプリを同時にリリースする必要があったためクロスプラットフォームツールの採用を検討。想定されるアプリ機能がHTML5ハイブリッドアプリ開発でも十分に実現できるものだったので、最終的にMonacaが採用されました。</p>
        <p>Monacaは開発者が日常的に使っていた開発言語や開発環境をそのまま使ってモバイルアプリ開発ができるという点も、学習コストの低さという面で評価されました。</p>
    </div>
    <img src="/img/secondfactory/img_2.jpg" alt="" class="nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>Onsen UIを採用し、シンプルで使い勝手の良いアプリUIを実現</li>
        <li>グラフ表示をJavaScriptライブラリChart.jsを活用して実装</li>
        <li>短期間でiOS、Androidアプリを同時リリース</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/secondfactory/img_secondfactory_shibuya.jpg" alt="澁谷 高札 氏" />
        <figcaption>株式会社セカンドファクトリー<br />アーキテクト＆エンジニアリンググループ<br>アプリケーションアーキテクト<br />澁谷 高札 氏</figcaption>
        <img src="/img/secondfactory/img_secondfactory_akamine.jpg" alt="赤嶺 幸一 氏" />
        <figcaption>株式会社セカンドファクトリー<br />アーキテクト＆エンジニアリンググループ<br />赤嶺 幸一 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>七福神アプリの開発について株式会社セカンドファクトリーの澁谷 高札（たかのり）氏、赤嶺 幸一氏にお話を伺いました。</p>
        <h2>Q1.今回のアプリリニューアルのポイントを教えてください。</h2>
        <p><span class="name">澁谷氏</span>　以前のバージョンの「七福神アプリ」は、分析結果をもとに送られる七福神キャラクターからのメッセージを表示するためのアプリでした。しかし、メッセージの表現や評価の段階も少なかったため、日頃から頑張っている人にはいつもほめられっぱなしで、飽きてしまうし、この機会を機に頑張り始めた人は、多少の頑張りではメッセージが変化せず、評価されないため、利用者のモチベーションが上がらないということが課題でした。今回のアプリは2年間という長い時間をかけて数値を取得することで活動量計や体組成計、血圧計のデータ集めつつ、血糖高値者の治療に役立てるアプリですので、利用者が飽きずに楽しんで生活習慣の改善をしてもらえるように、今回アプリの見直しを行いました。</p>
        <p>具体的には、以前のバージョンの結果を踏まえて研究者の方による指示でユーザーが飽きずに続けられるよう、メッセージの表現や内容がこまめに変化するように改善を行いました。<br>セカンドファクトリーでは東海道五十三次を七福神とともに巡るという企画でゲーム要素を取り入れ、小さな目標を到達するごとアバターが成長したり宿場町の写真がもらえたりと、リワードを受けることを繰り返しながら大きな目標に向かってもらえるようにゲームバランスを考えました。</p>
        <p>また、他の利用者が東海道五十三次のどの宿場町に居るのかを確認することができ、ほかの利用者に負けまいとする競争心を持ってもうらえるような仕組みも 取り入れました。<br>アプリ外の体験としては3か月に1度の医師との診察があり、保健指導と目標の再設定を行います。小さな目標を立ててクリア数を増やして頂くことで習慣化を図りたいという狙いがあります。<br>また、アプリ外の体験としては3か月に1度の医師との診察があり、保健指導と目標の再設定を行います。小さな目標を立ててクリア数を増やして頂くことで習慣化を図りたいという狙いがあります。また、アプリ外の体験としては3か月に1度の医師との診察があり、保健指導と目標の再設定を行います。小さな目標を立ててクリア数を増やして頂くことで習慣化を図りたいという狙いがあります。</p>

        <h2>Q2.アプリのUIの工夫について教えてください。</h2>
        <p><span class="name">赤嶺氏</span>　AndroidとiOSで同じUIにしたいということ、短期間でユーザーが使いやすいインターフェースにしたいということもあり、Onsen UIを採用してUI開発をしました。1から作りこむのではなくOnsen UIのサンプルを参考にしながら、すでに提供されているものを最大限活用しようと思いました。また、シンプルなUIを実現することを意識し、余計なエフェクトなどは極力排除するようにしました。</p>

        <h2>Q3.Monacaの使い勝手はいかがでしたか？</h2>
        <p><span class="name">赤嶺氏</span>　Monacaはストアに公開を申請するところまでクラウドでできるのでスピードアップになりました。Windows環境での開発でしたが、iOSの申請についてもWindowsとMonacaのクラウドで完結したのは便利でしたね。</p>
        <p>コーディングもそれぞれの開発者が使いやすいエディタを使うことができましたし、グラフの表示にChart.jsを活用するなどWeb開発に使われるリソースを活用することができたのも助かりました。</p>

        <h2>Q4.今後どのような案件でMonacaが活用できそうでしょうか？</h2>
        <p><span class="name">澁谷氏</span>　実はすでに次のアプリ開発の案件が入っているのですが、そちらのプロジェクトでもMonacaで開発する予定です。街の活性化をテーマにしたアプリで、利用者と地域のつながりをデザインしなおした実証実験用のアプリです。機能的にはカメラや地図アプリと連動させたりするものですので、Monacaで開発するのに適していると考えています。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/secondfactory/img_secondfactory_shibuya.jpg" alt="澁谷 高札 氏" /></dt>
            <dd><figcaption>株式会社セカンドファクトリー<br />アーキテクト＆エンジニアリンググループ<br>アプリケーションアーキテクト<br />澁谷 高札 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/secondfactory/img_secondfactory_akamine.jpg" alt="赤嶺 幸一 氏" /></dt>
            <dd><figcaption>株式会社セカンドファクトリー<br />アーキテクト＆エンジニアリンググループ<br />赤嶺 幸一 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/secondfactory/logo_secondfactory.png" alt="イージーソフト株式会社" /></h1>

        <dl>
            <dt>名称</dt>
            <dd><em>株式会社セカンドファクトリー</em></dd>
        </dl>
        <dl>
            <dt>代表取締役</dt>
            <dd>大関 興治</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1998年1月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.2ndfactory.com/" target="_blank">http://www.2ndfactory.com/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成30年3月現在）</a>
    </div>
</section>

<div class="container download">
    <span>「七福神アプリ」のダウンロードはこちらから</span>
    <a href="https://play.google.com/store/apps/details?id=com.sfc.sevengods2&hl=ja"><img src="/img/common/bnr_googleplay.svg" alt=""></a>
    <a href="https://itunes.apple.com/jp/app/%E4%B8%83%E7%A6%8F%E7%A5%9E%E3%82%A2%E3%83%97%E3%83%AA/id1136138887?mt=8"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>