---
title: Monaca導入事例：公益社団法人 日本将棋連盟
class: showcase shogi
description: アプリ開発初挑戦の社内スタッフがプロ公式戦の棋譜記録のアプリ化を実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    公益社団法人 日本将棋連盟
    <em>棋譜記録アプリ・対局時計アプリ</em>
</header>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">アプリ開発初挑戦の社内スタッフがプロ公式戦の棋譜記録のアプリ化を実現</h1>
      <img src="/img/shogi/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">アプリ開発初挑戦の社内スタッフがプロ公式戦の棋譜記録のアプリ化を実現</h1>

    <div class="info-cont">
        <h1><img src="/img/shogi/logo_shogi.png" alt="公益社団法人 日本将棋連盟" /></h1>

        <dl>
            <dt>名称</dt>
            <dd><em>公益社団法人 日本将棋連盟</em></dd>
        </dl>
        <dl>
            <dt>会長</dt>
            <dd>佐藤 康光</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1924年9月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="https://www.shogi.or.jp/" target="_blank">https://www.shogi.or.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成29年3月末現在）</a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>日本将棋連盟では従来プロの公式戦では棋譜を手書きで棋譜用紙に記録を行なっていました。記録係がより効率的に正確に棋譜を記録するために、2014年10月よりAndroidタブレットを使って棋譜入力を行う「棋譜記録アプリ」と対局者が時間を確認する「対局時計アプリ」が導入されました。<br>
        <br>
        記録係の作業が効率化されただけでなく、インターネットやモバイルアプリでの棋譜中継サービスなどを通じて棋譜をリアルタイムに提供できるようになり、ファンからの大変高い評価を得ています。</p>
        <img class="sp-img" src="/img/shogi/img_1.jpg" alt="">
    </div>
</section>

<section class="app-info backstory-tablet">
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>従来、日本将棋連盟では外部関係者へ開発委託を行ない対局のライブ中継アプリなどを提供していました。「棋譜記録アプリ」の企画に関しては、プロトタイプを作りながら改良を進めていくため、社内スタッフでの開発プロジェクトを開始しました。社内にはエンジニアがいなかったため、学習コストの低いHTML5、JavaScriptでのアプリ開発を選択。<br>
        開発環境のセットアップが不要であることや日本語ドキュメントが豊富であることからアプリ開発環境としてMonacaの採用に至りました。</p>
    </div>
    <img src="/img/shogi/img_2.jpg" alt="" class="alignright nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>アプリ開発初挑戦ながらプロの対局で使えるアプリをリリース</li>
        <li>開発環境のメンテナンスが不要なため運用の手間が省けた</li>
        <li>Androidバージョン差の問題をMonacaが吸収してくれた</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/shogi/img_shogi_toyama.jpg" alt="遠山 雄亮 氏" />
        <figcaption>公益社団法人 日本将棋連盟<br />プロデューサー/モバイル編集長<br>棋士五段<br>遠山 雄亮 氏</figcaption>
        <img src="/img/shogi/img_shogi_kusadome.jpg" alt="草留 翔平 氏" />
        <figcaption>公益社団法人 日本将棋連盟<br />主任<br>草留 翔平 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「棋譜記録アプリ」と「対局時計アプリ」の企画・開発を担当された日本将棋連盟のプロ棋士の遠山雄亮氏と職員の草留翔平氏にMonacaを活用したアプリ開発プロジェクトについてお聞きしました。</p>
        <h2>Q1.「棋譜記録アプリ」と「対局時計アプリ」の企画開発背景を教えてください。</h2>
        <p><span class="name">遠山氏</span>　コンピューターとプロの棋士が戦う「電王戦」が注目を集めている一方で、対戦以外でのデジタル化という点ではかなり遅れていました。棋譜の記録に関しても従来は記録係が手で記入しており、それを改めてコンピューター入力しデータベース化するということを行っていました。タブレットでこの棋譜記録をより正確に効率的に行ない、さらにリアルタイムにファンの皆さんに提供できるのではないかと考え「棋譜記録アプリ」と「対局時計アプリ」を企画しました。</p>

        <h2>Q2.今回が初めてのモバイルアプリ開発だとお聞きしましたが。</h2>
        <p><span class="name">草留氏</span>　以前も日本将棋連盟では外部関係者に開発委託を行い業務アプリの開発を行っていましたが、私自身はモバイルアプリ開発どころかプログラミング自体がほぼ初めての経験でした。当時、遠山さんから「棋譜記録アプリ」のアイデアを相談され、プログラミングの勉強を兼ねてプロトタイプから開発してみましょうという話になりました。<br>
        <br>
        HTMLやJavaScriptなどを勉強しながら半年ぐらいで動くものを作れたのですが、そこから改良を重ねて実戦投入が出来るようになるまでは２年ぐらいかかりました。当時、私はアプリ開発の専任ではなかったですし、棋士や棋戦スポンサーとの調整や記録係の皆さんへの研修など開発以外の部分での苦労も多かったです。</p>

        <h2>Q3.アプリの導入効果について教えてください。</h2>
        <p><span class="name">遠山氏</span>　棋譜と消費時間がリアルタイムに配信出来るようになり、中継をみているファンの皆さんからは大変好評いただいています。また、これまで手作業で棋譜を書いていた記録係の皆さんからは、以前よりも正確に効率的に棋譜記録ができるようになったと、とても喜ばれています。</p>

        <h2>Q4.Monacaの評価について教えてください。</h2>
        <p><span class="name">草留氏</span>　Monacaに出会わなかったら「棋譜記録アプリ」と「対局時計アプリ」は完成がかなり遅れていたと思います。当初PhoneGapを使えばHTML5でモバイルアプリが開発できると知って試してみたのですが、開発環境の構築に手間取りました。<br>
        <br>
        その後、Monacaの存在を知り試してみると、ブラウザでログインするだけですぐにアプリ開発が始められたのに驚きました。プログラミングの初心者にとってはとてもありがたかったです。サンプルアプリなどを触ってみて「これならいけそうだ」という感覚を得られたのを覚えています。公式ドキュメントが日本語で提供されていたので安心感がありました。また、Androidのバージョン差の問題をMonacaが解決してくれたのも助かりました。</p>

        <h2>Q5.今後の展望について教えてください。</h2>
        <p><span class="name">遠山氏</span>　モバイルアプリは様々なシーンで活用できると思います。特に人工知能をつかって初心者向けの対局アプリとか学習アプリなど将棋の普及に活かしていきたいですね。</p>
        <p><span class="name">草留氏</span>　機会があれば、アマ大会用の対局時計など、アマチュアの皆さんにも使ってもらえるようにするなど活用範囲を広げていきたいですね。また、現在は別の部署に所属しているのですが、せっかくプログラミングが出来るようになったので業務の効率化などにも役立ててみたいです。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/shogi/img_shogi_toyama.jpg" alt="遠山 雄亮 氏" /></dt>
            <dd><figcaption>公益社団法人 日本将棋連盟<br />プロデューサー/モバイル編集長<br>棋士五段<br>遠山 雄亮 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/shogi/img_shogi_kusadome.jpg" alt="草留 翔平 氏" /></dt>
            <dd><figcaption>公益社団法人 日本将棋連盟<br />主任<br>草留 翔平 氏</figcaption></dd>
        </dl>
    </div>
</section>


<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>
