---
title: Monaca - 導入事例：株式会社三井住友フィナンシャルグループ
class: showcase smbc
description: オープンイノベーションを加速させる！イノベーターがつながる拠点「hoops link tokyo」の専用アプリをMonacaで開発
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---
<header>
    <div class="image-wrapper">
        <img src="/img/smbc/keyvisual.png" alt="" class="keyvisual">
    </div>
    <h1><span>注目事例</span>
    オープンイノベーションを加速させる！<br>イノベーターがつながる拠点「hoops link tokyo」<br>の専用アプリをMonacaで開発</h1>
    <div class="info-cont">
        <img src="/img/smbc/logo_smbc.png" alt="株式会社三井住友フィナンシャルグループ" />
        <h3>株式会社三井住友フィナンシャルグループ</h3>
        <hr>
        <ul>
            <li>ITイノベーション推進部</li>
            <li>三嶋 英城氏</li>
            <li>郷田 悠未氏</li>
        </ul>
    </div>
</header>

<section class="showcase-nav">
    <a href="kavli.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">東京大学国際高等研究所</a>
    <a href="seikyoren.html" class="next">全国生活協同組合連合会<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>hoops link passは三井住友フィナンシャルグループ（SMBCグループ）が運営するオープンイノベーション拠点「hoops link tokyo」の会員同士のつながりを促進し、新しいビジネスや技術を共創するきっかけにするためのアプリです。<br>2017年9月にオープンしてから1周年のタイミングで会員制に移行。これに合わせて本アプリもリリースされました。</p>
        <img class="sp-img" src="/img/smbc/img_1.png" alt="">
    </div>
</section>
<section class="app-info info2">
    <div>
        <p>hoops link tokyoでは、オープンイノベーションに関する多数のイベントが開催されており、アプリでイベント情報やニュース情報を確認できます。<br>また、来場者は受付のビーコンを利用しアプリでチェックインを行います。チェックインした来場者の一覧は、hoops link tokyoの外にいる会員でも確認できるなど新しいビジネスに必要な人材とのコンタクトを取りやすい工夫をアプリに組み込んでいます。</p>
        <img class="sp-img" src="/img/smbc/img_1-1.png" alt="">
    </div>
</section>
<section class="app-info backstory-pc">
    <div class="nowrap">
        <h1>Monacaでのアプリ開発を選択した経緯</h1>
        <p>hoops link passの開発にあたって、予算が制約やリリーススケジュールの兼ね合いから、費用や工数を削減できる技術の採用を検討していました。<br>hoops link passは、人々の交流を促進する目的とするアプリであり、ゲームのような複雑な動きを求めるものではなかったため、ハイブリッドアプリでの開発を選択。<br>開発ツールとしてはハイブリッドアプリ開発において金融機関でも実績豊富なMonacaを選定されました。</p>
    </div>
    <img src="/img/smbc/img_2.png" alt="" class="nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>ネイティブ開発に比較した開発費用の削減</li>
        <li>およそ2か月程度の短期間開発でのリリース</li>
        <li>デザイン性の高いリッチなUI表現を実現</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/smbc/interview_1.png" alt="三嶋 英城 氏" />
        <figcaption>ITイノベーション推進部 部長代理<br>三嶋 英城 氏</figcaption>
        <img src="/img/smbc/interview_2.png" alt="郷田 悠未 氏" />
        <figcaption>ITイノベーション推進部<br>郷田 悠未 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>hoops link tokyoアプリの開発のポイントやご苦労された点などにつきまして、三井住友フィナンシャルグループ ITイノベーション推進部 部長代理の三嶋 英城様と、同ITイノベーション推進部の郷田 悠未様にお話を伺いました。</p>

        <h2>Q1. hoops link passの開発背景について教えて下さい</h2>
        <p><b>郷田氏</b>　hoops link tokyoのオープン当初は、ハッカソンや勉強会などのイベントをきっかけに多くの方に来場をしてもらうことに注力して運営を行ってきた結果、累計来場者も1万人を超えました。この度、hoops link tokyoの当初の目的である「新たなビジネスの創出」を実現するため、新規事業の開発に熱意を持って取り組んでいる方々にフォーカスした会員制に移行しました。これに伴い、会員同士のつながりを促進し、新しいビジネスや技術を共創するきっかけにするためのアプリhoops link passの開発プロジェクトがスタートしました。</p>

        <h2>Q2. Monacaでアプリ開発を行うことへの不安・課題はございましたか？</h2>
        <p><b>三嶋氏</b>　Monacaのハイブリッドアプリ開発であればこの機能は実装できるだろう、という想定は最初からあったので特に不安はありませんでした。開発ツールの認知度も高まっており、金融機関での採用も豊富にあったため社内での説明もスムーズに進みました。</p>

        <h2>Q3. Monaca以外に、hoops link passに採用した特徴的な技術について教えて下さい</h2>
        <p><b>三嶋氏</b>　開発期間の短縮や運用費用の抑制を狙い、サーバーサイドはAWS Lambdaを活用してサーバレスな開発を行いました。また、タグキャストという既存のビーコン製品を採用し、それでチェックイン・チェックアウト機能を実現しています。標準でCordova向けのSDKが提供されていたのが採用の決め手となりました。</p>
        <img src="/img/smbc/QA_img.png" alt="タグキャスト" />

        <h2>Q4. アプリのリリース後の評価などはいかがでしたでしょうか？</h2>
        <p><b>郷田氏</b>　会員化に移行したためアプリの公開と同時にhoops link tokyoの運営が変わりましたが、とてもスムーズに新しいオペレーションが実現できています。また、会員の方や入会希望者には在室一覧者を表示する機能の評判がとても良いですね。人と人を結びつける場というコンセプトをうまく表現できた機能だと、手応えを感じています。</p>

        <h2>Q5. 今後のアプリの展開について教えて下さい。</h2>
        <p><b>三嶋氏</b>　UI/UXの改善はこれからも継続的に行っていきたいと思っています。ユーザーニーズを収集した上で、特にコミュニケーションやネットワーキングを促進する仕掛けは追加していきたいですね。<br><br>
        　また、SMBCグループでは生体認証プラットフォーム「Polarify」を初め、様々なビジネスを創出していますので、本アプリに機能導入する事で、我々の取組みを手に取って触れて頂くような事にもチャレンジしていきたいと思っています。
        </p>
        <aside class="qr_box">
            <div>
                <h4>hoops link tokyo ホームページ</h4>
                <a href="https://hoops-link-tokyo.com" target="_blank">https://hoops-link-tokyo.com <i class="glyphicon glyphicon-new-window"></i></a>
                <img src="/img/smbc/QR_HP.png" alt="hoops link tokyo ホームページQR">
            </div>
            <div>
                <h4>hoops link tokyo Facebookページ</h4>
                <a href="https://facebook.com/hoopslinktokyo" target="_blank">https://facebook.com/hoopslinktokyo <i class="glyphicon glyphicon-new-window"></i></a>
                <img src="/img/smbc/QR_Facebook.png" alt="hoops link tokyo FacebookページQR">
            </div>
        </aside>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/smbc/interview_1.png" alt="三嶋 英城 氏" /></dt>
            <dd><figcaption>ITイノベーション推進部 部長代理<br>三嶋 英城 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/smbc/interview_2.png" alt="郷田 悠未 氏" /></dt>
            <dd><figcaption>ITイノベーション推進部<br>郷田 悠未 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/smbc/logo_smbc.png" alt="株式会社三井住友フィナンシャルグループ" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>株式会社三井住友フィナンシャルグループ</em></dd>
        </dl>
        <dl>
            <dt>執行役社長グループCEO</dt>
            <dd>國部 毅</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2002年12月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.smfg.co.jp/" target="_blank">http://www.smfg.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成30年11月現在）</a>
    </div>
</section>

<div class="container download">
    <span>「hoops link tokyo」のダウンロードはこちらから</span>
    <a href="https://play.google.com/store/apps/details?id=com.hoops.link.tokyo.app"><img src="/img/common/bnr_googleplay.svg" alt=""></a>
    <a href="https://itunes.apple.com/us/app/hoops-link-pass/id1425757612"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="monex.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="smbc.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>
