---
title: Monaca導入事例：東京工科大学メディア学部
class: showcase teu
description: クラウド開発環境の利点を最大限活用した効率的な授業運営を実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<div class="clearfix"><a class="pc-back" href="/showcase/">« 事例一覧に戻る</a></div>
<header>
    東京工科大学メディア学部
    <em>講座<span class="ls-200">名</span><span class="ls-700">：</span>「スマートサービスデザイン」</em>
</header>
<div class="clearfix"><a class="sp-back" href="/showcase/">« 事例一覧に戻る</a></div>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy"><span class="ls-50">ク</span>ラ<span class="ls-100">ウ</span>ド開発環境の利点を最大限活用した<br />効率的な授業運営を実現</h1>
      <img src="/img/teu/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy"><span class="ls-50">ク</span>ラ<span class="ls-100">ウ</span>ド開発環境の利点を最大限活用した効率的な授業運営を実現</h1>
    <div class="info-cont">
        <h1><img src="/img/teu/logo_teu.png" alt="東京工科大学メディア学部" /></h1>

        <dl>
            <dt>学校名</dt>
            <dd><em>東京工科大学メディア学部（Tokyo University of Technology）</em></dd>
        </dl>
        <dl>
            <dt>学長</dt>
            <dd>軽部 征夫</dd>
        </dl>
        <dl>
            <dt>住所</dt>
            <dd>東京都八王子市片倉町1404−１</dd>
        </dl>
        <dl>
            <dt>開学</dt>
            <dd>1986年</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.teu.ac.jp/" target="_blank">http://www.teu.ac.jp/<i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成28年3月末日現在)</p>
    </div>

</section>

<section class="app-info">
    <div>
        <h1><span>授業</span>紹介</h1>
        <p>東京工科大学メディア学部では、3年次生を対象に、4年次の卒業研究に向けて必要となる技術や手法を修得するメディア専門演習を行っています。専門演習の一つのテーマとしてスマートデバイス用のアプリケーションの企画・構築する講座「スマートサービスデザイン」を行っています。</p>
        <img class="sp-img" src="/img/teu/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/teu/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>東京工科大学メディア学部では、2013年にスマートフォンアプリ開発を題材にした講座を実施することが決定されました。当初はJava言語とEclipseを使って本格的にAndroidアプリ開発の基礎から学ぶという案が検討されていたのですが、学生達にいきなりJavaを学ばせることのハードルの高さと、開発環境の整備が問題になっていました。<br>
        <br>
        そんな時にあるセミナーでMonacaの存在を知りました。Monacaはクラウド上で開発ができるため学生用の開発環境の準備が簡単な点、日本語の情報が充実している点、サンプルプログラムやチュートリアルが豊富な点が、教育用の環境としての高い評価をいただいたそうです。</p>
    </div>
    <img src="/img/teu/img_2.jpg" alt="" class="sp-img" />
</section>


<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>授業で使用する開発環境の煩雑な管理からの解放</li>
        <li>ペアプログラミングによる授業の効率化</li>
        <li>短期間で学生がアプリ開発の基礎を習得</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>


    <figure class="alignright nowrap">
        <img src="/img/teu/img_teu_fujisawa.jpg" alt="" />
        <figcaption>東京工科大学メディア学部<br />藤澤 公也 先生</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>授業にMonacaを採用された意図や、その効果について東京工科大学の藤澤公也先生にお話をおうかがいしました。</p>
        <h2>Q1.Monacaをアプリケーション開発講座のツールとして採用した意図を教えてください。</h2>
        <p>アプリケーションの開発方法の学習だけでなく、アプリケーションの企画やコンテンツを作り込むことに学生にも時間を割いてほしいと考えました。このため、開発環境のセットアップやIDEの利用方法の学習に割く時間は極力省きたいと考えていました。</p>

        <h2>Q2.講義のペアプログラミングを実施しているとおききましたが。</h2>
        <p>MonacaのEducationプランでは、学生同士でプロジェクトを共有し閲覧・編集できるので、グループワークやペアプログラミングを手軽に行うことができます。また、プロジェクトを講師と共有設定することで、講師側は学生の課題進捗も把握しやすいですし、質問を受けた際にもすぐにソースコードを確認してアドバイスをしてあげられます。</p>

        <h2>Q3.サンプルやチュートリアルを活用されていますでしょうか？</h2>
        <p>特にOnsen UIのサンプルは講座の中でもかなり使用しています。学生にとってサンプルが豊富なことは理解のしやすさにつながるため、とても助かっています。またサンプルやチュートリアルは、学生が授業の復習や予習をする際の補助教材としても有効です。</p>

        <h2>Q4.授業を通じてどのようなアプリが誕生しましたか？</h2>
        <p>学内のWi-Fi強度を共有するアプリケーションや、学内に多く存在している銅像マップアプリ、アイドルの追っかけ用のリマインダーアプリ、加速度センサーを使ったダイエット支援アプリ、学生向けの家計簿アプリなど、学生の日々の生活で必要なアプリケーションが多く誕生しています。</p>
    </div>
    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/teu/img_teu_fujisawa.jpg" alt="" /></dt>
            <dd><figcaption>東京工科大学メディア学部<br />藤澤 公也 先生</figcaption></dd>
        </dl>
    </div>
</section>


<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>
