---
title: Monaca - Hybrid mobile development cloud for cross-platform app
class: service
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
---

<section id="support-inquiry" class="subpage">
  <div class="container">
    <h1>Submit Your App</h1>
    <p>Thank you for submitting your app!</p>
  </div>
</section>
