---
title: Monaca - 導入事例：東京カレンダー株式会社
class: showcase tokyocalendar
description: HTML5ハイブリッド開発で開発人員増にも柔軟に対応、開発工数20%、テスト工数50%削減を実現
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---
<header>
    <div class="image-wrapper">
        <img src="/img/tokyocalendar/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1>
        <span>注目事例</span>
        HTML5ハイブリッド開発で開発人員増にも柔軟に<br />対応、開発工数20%、テスト工数50%削減を実現
    </h1>
    {{!-- <div class="info-cont">
        <img src="/img/tokyocalendar/logo_tc.png" alt="東京カレンダー株式会社" />
        <h3>東京カレンダー株式会社</h3>
        <ul>
            <li>。。。</li>
            <li>。 。</li>
            <li>。。 。。</li>
        </ul>
    </div> --}}
</header>

<section class="showcase-nav">
    <a href="estcorporation.html" class="prev"><img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg">株式会社EST corporation</a>
    <a href="tvasahi.html" class="next">株式会社テレビ朝日<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
</section>

<section class="app-info">
    <div>
        <h1><span class="ls-100">ア</span><span class="ls-150">プリ</span>の紹介</h1>
        <p>2015年1月にリニューアルされた月刊誌「東京カレンダー」の公式サイトは、世界一のグルメシティ東京の人気レストラン、料理を徹底取材したデートやビジネスに役立つグルメ情報が満載の情報サイトです。<br />Monacaで開発されたiPhone向け東京カレンダーアプリは、テーマやシーンなど利用者の嗜好に合わせて、数多くの至高のレストランやグルメストーリーから選択し、簡単に予約ができます。</p>
        <img class="sp-img" src="/img/tokyocalendar/img_1.jpg" alt="">
    </div>
</section>

<section class="backstory">
    <img src="/img/tokyocalendar/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>東京カレンダー株式会社では、月刊誌「東京カレンダー」の公式サイトにレストラン検索機能や予約機能を加える大幅なリニューアルが計画されました。当初はPC及びスマホ向けのWebサイトのみの予定でしたが、急遽スマホ向けにはアプリの提供も必要だという判断になりアプリ開発を行うことになりました。</p>
        <p>開発環境にはネイティブ開発や他のクロスプラットフォームツールも検討の末、Webサイト側のリソースを再利用できることや、iPhone用アプリを開発する際にMacが不要であることなどが評価されMonacaが選択されました。</p>
    </div>
    <img class="sp-img" src="/img/tokyocalendar/img_2.jpg" alt="">
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>開発期間を1か月短縮し4か月で完成、テスト工数の50%削減</li>
        <li>Macを使わずにiPhone向けアプリ開発ができた</li>
        <li>Web開発者にとって学習コストが極めて低かった</li>
        <li>開発人員の増減に柔軟に対応できた</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/tokyocalendar/img_portrait_hoshi.jpg" alt="" />
        <figcaption>フューチャーアーキテクト株式会社<br />テクノロジーイノベーショングループ<br />シニアスペシャリスト<br />星 賢一 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>スマートフォンアプリ「東京カレンダー」についてフューチャーアーキテクト株式会社の星賢一氏にお話をおうかがいしました。</p>
        <h2>Q1.Monacaの第一印象はいかがでしたでしょうか？</h2>
        <p>Monacaデバッガーを使って開発したアプリをすぐに確認できるのが良いです。インスペクター機能を使ってWebアプリを作るような感覚でアプリ開発ができました。テストツールが充実しているので、テスト効率が良い印象を受けました。また、使う前には、すぐに開発が始められる簡易ツールというイメージがあったのですが、実際に触ってみて「ここまでできちゃうんだ」という印象も持ちました。</p>

        <h2>Q2.Monacaを使ったHTML5ハイブリッドアプリ開発の習得にどれくらいの期間が必要でしたか？</h2>
        <p>開発の主担当者はアプリ開発経験のない技術者だったのですが、1か月もかからずMonacaを使いこなして開発できるようになった印象があります。プロジェクトの後半でメンバーを追加したのですが、こちらもすんなりと開発に入ることができました。Web開発経験がある技術者であれば技術面の問題はなく、すぐに使えるイメージです。<br />初挑戦でもモバイルアプリをストアに公開できるようなレベルになるまでに、1か月ぐらいあれば十分だと思います。</p>

        <h2>Q3.東京カレンダーアプリで留意した点はどこでしょうか？</h2>
        <p>PC版とスマホ版のWebサイト、そしてスマホアプリを同じ世界観で作りたいと考え、どのデバイスでも共通の操作感を実現しました。アプリの開発技術としてWeb技術を採用することによって容易に実現することができました。ユーザーはどのデバイスで利用しても操作に迷うことはないと思います。<br />アプリらしさという点では、アプリ特有の機能としてプッシュ通知を効果的使うことを意識しました。</p>

        <h2>Q4.開発現場のMonacaの評価はいかがでしょうか？</h2>
        <p>開発スタート時は1名で開始し、最終フェーズでは5名ほどの開発体制に増やしました。4か月程度で開発しましたが、Monacaを使用せずに素のCordovaのみで開発をしていたら、追加工数が1か月はかかったと思います。<br />
        アプリのテスト作業の効率も良く、実機確認がMonaca上でできるのが特に便利で現場からの評価が高いです。テスト工数は50％以上削減できたように思えます。<br />
        Monacaのように開発効率が上がるツールというのは、現場に受け入れられやすいと感じます。日本語のドキュメントが充実しているのも喜ばれました。</p>
    </div>
    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/tokyocalendar/img_portrait_hoshi.jpg" alt="" /></dt>
            <dd><figcaption>フューチャーアーキテクト株式会社<br />テクノロジーイノベーショングループ<br />シニアスペシャリスト<br />星 賢一 氏</figcaption></dd>
        </dl>
    </div>
</section>

<section class="info">
    <div class="info-cont">
        <h1><img src="/img/tokyocalendar/logo_tc.png" alt="東京カレンダー株式会社" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>東京カレンダー株式会社(Tokyo Calendar Inc.)</em></dd>
        </dl>
        <dl>
            <dt>代表取締役</dt>
            <dd>菅野 祐介</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>2006年10月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="https://tokyo-calendar.jp/" target="_blank">https://tokyo-calendar.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>

        <p class="note">(平成27年4月現在)</p>
    </div>

    <div class="developer info-cont">
        <h2>担当開発会社</h2>
        <img src="/img/tokyocalendar/logo_future.png" alt="フューチャーアーキテクト株式会社" class="logo" />
        <dl>
            <dt>商号</dt>
            <dd><em>フューチャーアーキテクト株式会社 (英文標記：Future Architect, Inc.)</em></dd>
        </dl>
        <dl>
            <dt>代表取締役会長</dt>
            <dd>金丸 恭文</dd>
        </dl>
        <dl>
            <dt>代表取締役社長</dt>
            <dd>東 裕二</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.future.co.jp/" target="_blank">http://www.future.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
    </div>
</section>

<div class="container download">
    <span>東京カレンダー -東京グルメ検索アプリ</span>
    <a href="https://itunes.apple.com/jp/app/dong-jingkarenda-dong-jinggurume/id942349300?mt=8"><img src="/img/common/bnr_appstore.svg" alt=""></a>
</div>
<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-gray">お問い合わせ</a>
</div>

<h2 class="other_case_studies">他の導入事例</h2>

<div class="case-container">
    <ul class="cases">
        <li class="case">
            <img src="/img/showcase/buttons/01-fujitec.jpg" alt="" class="thumb">
            <span class="title">フジテック株式会社</span>
            <a href="fujitec.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/02-monex.jpg" alt="" class="thumb">
            <span class="title">マネックス証券株式会社</span>
            <a href="canbe.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
        <li class="case">
            <img src="/img/showcase/buttons/03-smbc.jpg" alt="" class="thumb">
            <p class="title">株式会社三井住友フィナンシャルグループ</p>
            <a href="kavli.html">詳しく見る<img class="icon-arrow" src="/img/common-v2/ico_next_arrow2.svg"></a>
        </li>
    </ul>
</div>
