---
title: Monaca導入事例：人間総合科学大学 人間科学部 健康栄養学科
class: showcase uhas
description: 管理栄養士を目指す学生が問題解決の手段としてアプリ開発を実施
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    人間総合科学大学 人間科学部 健康栄養学科
    <em>中西ゼミ「卒業研究」</em>
</header>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">管理栄養士を目指す学生が問題解決の<br>手段としてアプリ開発を実施</h1>
      <img src="/img/uhas/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">管理栄養士を目指す学生が問題解決の手段としてアプリ開発を実施</h1>

    <div class="info-cont">
        <h1><img src="/img/uhas/logo_uhas.png" alt="人間総合科学大学 人間科学部 健康栄養学科" /></h1>

        <dl>
            <dt>学校名</dt>
            <dd><em>人間総合科学大学</em></dd>
        </dl>
        <dl>
            <dt>学長</dt>
            <dd>久住 眞理</dd>
        </dl>
        <dl>
            <dt>住所</dt>
            <dd>埼玉県さいたま市岩槻区馬込1288（蓮田キャンパス）</dd>
        </dl>
        <dl>
            <dt>開学</dt>
            <dd>1953年（早稲田医療学園）</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.human.ac.jp/" target="_blank">http://www.human.ac.jp/ <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成29年3月末現在）</a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>授業紹介</h1>
        <p>人間総合科学大学 人間科学部 健康栄養学科では、学生全員が管理栄養士の国家試験を受験します。<br>
        中西ゼミでは卒業研究として、通学中などに手軽に試験勉強をするための試験対策アプリを制作しました。</p>
        <img class="sp-img" src="/img/uhsa/img_1.jpg" alt="">
    </div>
</section>

<section class="app-info backstory-pc">
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>昨今のプログラミング教育必修化の流れなどもあり、今後はプログラミングスキルが求められる世の中になっていくのではないかという予感がありました。学生のうちに少しでもプログラミングに触れておくことで、将来必要になったときに心理的なハードルが下がるのではないかと考えました。<br>
        しかし教員自身もプログラミングの専門家ではないため何から始めれば良いのか悩んでいたところ、アシアル社主催の教員限定プログラミング研修会でMonacaを知りました。Monaca Educationには教員のためのセミナーや動画教材の提供など手厚いサポートがあったため、専門外の分野でも学生の指導にあたることができました。</p>
    </div>
    <img src="/img/uhas/img_2.jpg" alt="" class="nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>プログラミング未経験の学生でもアプリを制作できた</li>
        <li>自分達が試験勉強をするためのアプリをテーマに設定することで、<br class="pc-br">目的意識を持つことができた</li>
        <li>教員へのサポートが手厚く、専門の教員でなくても学生への指導ができた</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/uhas/img_uhas_nakanishi.jpg" alt="中西 由季子先生" />
        <figcaption>人間総合科学大学<br />人間科学部<br>健康栄養学科<br>中西 由季子 先生</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>授業にMonacaを採用された意図や、その効果について人間総合科学大学の中西 由季子先生にお話を伺いました。</p>
        <h2>Q1.Monaca採用の理由について教えて下さい。</h2>
        <p>アシアル社主催の教員限定研修会の募集をたまたま見つけたのがきっかけです。研修会でMonacaを触ってみて意外と簡単だったので、これくらいであれば頭の柔らかい学生ならできるのではないかと感じました。そこでまずは私のゼミの卒業研究テーマとして、管理栄養士の試験対策アプリを作らせることにしました。</p>

        <h2>Q2.卒業研究ではどのような成果が得られましたか。</h2>
        <p>クイズアプリのサンプルプログラムを頂いたので、管理栄養士試験の過去問題を埋め込むだけですぐにアプリが制作できました。その後、複数回答形式への対応や問題のグループ分けなどを、学生が自主的に行っていました。自分達が試験勉強のために使うアプリを開発するということが、目的意識に繋がって作り甲斐を感じられたようです。</p>

        <h2>Q3.学生のモチベーションに変化はありましたか。</h2>
        <p>学部の授業ではワードやエクセルなどのOfficeソフトの利用くらいしか行っておらず、そもそも学生は自分達でアプリ開発ができるとは思っていなかったようです。最初は不安そうでしたが、Monacaではアプリが動くところを即座に確認できるので、徐々に自信がついていったようです。なによりも学生が楽しそうに一生懸命取り組んでいたのが良かったと思います。</p>

        <h2>Q4.学生への指導はどのように行いましたか。</h2>
        <p>私自身もHTMLやJavaScriptの書き方を知らなかったので、書籍「Monacaで学ぶはじめてのプログラミング」や、動画教材には非常に助けられました。書籍は少ないコード量で少しずつアプリが出来上がっていく様子を体験できる構成になっていた点が良かったです。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/uhas/img_uhas_nakanishi.jpg" alt="中西 由季子先生" /></dt>
            <dd><figcaption>人間総合科学大学<br />人間科学部<br>健康栄養学科<br>中西 由季子 先生</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>