---
title: Monaca導入事例：国連WFP協会
class: showcase wfp
description: SalesforceのSales Cloud連携のNPO支援者向けiOS、Androidアプリを同時開発
keywords: Monaca,HTML5,Cordova,PhoneGap,クラウド,セキュリティ
---
<header>
    国連WFP協会
    <em>FOODeliver</em>
</header>

<section class="info">
    <div class="info-header">
      <h1 class="pc-copy">SalesforceのSales Cloud連携のNPO支援者向けiOS、Androidアプリを同時開発</h1>
      <img src="/img/wfp/keyvisual.jpg" alt="" class="keyvisual">
    </div>
    <h1 class="sp-copy">SalesforceのSales Cloud連携のNPO支援者向けiOS、Androidアプリを同時開発</h1>

    <div class="info-cont">
        <h1><img src="/img/wfp/logo_wfp.png" alt="国連WFP協会" /></h1>

        <dl>
            <dt>商号</dt>
            <dd><em>認定NPO法人　国連WFP協会</em>（正式名称：特定非営利活動法人 国際連合世界食糧計画WFP協会）</dd>
        </dl>
        <dl>
            <dt>設立</dt>
            <dd>1999年1月</dd>
        </dl>
        <dl>
            <dt>Web</dt>
            <dd><a href="http://www.wfp.org/jp" target="_blank">http://www.wfp.org/jp <i class="glyphicon glyphicon-new-window"></i></a></dd>
        </dl>
        <p class="note">（平成29年2月末現在）</a>
    </div>
    <div class="developer info-cont clearfix">
        <h2>担当開発会社</h2>
        <img class="logo" src="/img/wfp/logo_tambourine.png" alt="株式会社タンバリン" />
        <em>株式会社タンバリン</em> <a href="https://www.tam-bourine.co.jp/" target="_blank" class="url">https://www.tam-bourine.co.jp/ <i class="glyphicon glyphicon-new-window"></i></a>
    </div>
</section>

<section class="app-info">
    <div>
        <h1>アプリの紹介</h1>
        <p>国連WFP協会は、飢餓と貧困の撲滅を使命とするWFP 国連世界食糧計画を支援する認定NPO法人で、日本における民間協力の公式支援窓口を担っています。<br>
        <br>
        国連WFP協会では、国連WFPの「飢餓ゼロ」を目指す活動を身近に感じ簡単に寄付ができるようにすることや、緊急事態が発生した際にすぐに活動状況をお知らせし、支援の依頼を行うことなどを目的としたモバイルアプリ「FOODeliver」を支援者向けに提供しています。<br>
        <br>
        「FOODeliver」は、国連WFPの活動について「知り」、そして「参加」できるアプリです。支援現場からの情報はもちろん、緊急時には活動の開始をいち早く通知されます。また、スマホから簡単に寄付ができるため、いつどこにいても、命の危機にさらされた人々へ食糧を届けることができます。</p>
        <img class="sp-img" src="/img/wfp/img_1.jpg" alt="">
    </div>
</section>


<section class="backstory">
    <img src="/img/wfp/img_2.jpg" alt="" class="alignright nowrap pc-img" />
    <div class="nowrap">
        <h1>Monaca採用の背景</h1>
        <p>国連WFP協会では支援者管理システムやオンライン寄付システムをSalesforceのSalesCloudやAWSを活用して構築していました。今回の「FOODeliver」プロジェクトでは、既存のシステムとの連携や追加開発が必要だったため既存のWebシステムの開発を担当してきたチームで開発を行うことになりました。モバイルアプリ開発の経験がない開発チームだったため、Web標準技術でiOS、Android両対応のモバイルアプリ開発ができるMonacaの採用にいたりました。</p>
    </div>
    <img src="/img/wfp/img_2.jpg" alt="" class="alignright nowrap sp-img" />
</section>

<section class="effect">
    <h1>Monacaの導入効果</h1>
    <ul>
        <li>短納期ながらiOS、Androidアプリを同時リリースできた</li>
        <li>既存Webシステムの開発チームでモバイルアプリの開発ができた</li>
        <li>Onsen UIで画面周りの工数が削減できバックエンドの開発に注力できた</li>
    </ul>
</section>

<section class="interview clearfix">
    <h1>Q&amp;A</h1>

    <figure class="alignright nowrap">
        <img src="/img/wfp/img_wfp_takamatsu.jpg" alt="高松 氏" />
        <figcaption>国連WFP協会<br>事業部 アシスタントマネジャー<br>高松 美穂 氏</figcaption>
        <img src="/img/wfp/img_wfp_makino.jpg" alt="牧野 氏" />
        <figcaption>株式会社タンバリン<br>テクニカルディレクター<br>牧野 由依 氏</figcaption>
    </figure>

    <div class="nowrap qa">
        <p>「FOODeliver」の企画を担当された国連WFP協会の高松美穂氏と開発を担当された株式会社タンバリンの牧野由依氏に今回のプロジェクトについてお話をお聞きしました。</p>
        <h2>Q1.「FOODeliver」プロジェクトの体制について教えて下さい。</h2>
        <p><span class="name">高松氏</span>　以前よりタンバリンさんに協力いただき支援者管理のシステムやオンライン寄付のシステムをSalesforceのSalesCloudやAWS活用して構築していました。今回の、「FOODeliver」プロジェクトでもこれらのシステムとの連携や追加開発が必要なためタンバリンさんにご協力をいただきました。おおよそアプリのリリースまでは5ヶ月ほどのプロジェクトでした。</p>
        <p><span class="name">牧野氏</span>　既存のシステムへの理解が必要だったため、これまで開発に関わっていたWebエンジニア1名、デザイナー1名、ディレクションに関わるメンバー2名の計4名の体制でした。モバイルアプリの開発経験があるメンバーはおりませんでした。</p>

        <h2>Q2.Monacaの評価についておしえてください。</h2>
        <p><span class="name">牧野氏</span>　モバイルアプリ開発の経験がない中でiOSアプリとAndroidアプリを同時リリースしなくてはならないという厳しい条件のプロジェクトでした。そこでWeb技術で両OS向けのアプリが開発できるMonacaを採用することになりました。開発前はアプリの操作性などでネイティブ開発に劣るかもしれないという懸念がありました。しかしOnsen UIを使って簡単なモックアップを作ってたところ高い操作性のアプリが開発できることが実感でき懸念点は払拭されました。<br>
        <br>
        Monacaに加えてニフティクラウドmobile backendやHerokuといったmBaaSやPaaS環境を駆使して短期間でiOS、Android向けの両アプリを同時にリリースできました。</p>

        <h2>Q3.「FOODeliver」の評判について教えて下さい。</h2>
        <p><span class="name">高松氏</span>　昨年の6月のアプリリリース以降、既存の国連WFPの支援者を中心に順調にアプリのダウンロード数は伸びてきています。寄付のリピートにも徐々に寄与してきています。支援者の皆さんからも「日本のニュースでは取り上げられない飢餓、困窮を助けるチャンスが得られた」とか「気軽に飢餓撲滅運動に参加できるのが良い」といった高い評価をいただいています。</p>

        <h2>Q4.今後の展開について教えて下さい。</h2>
        <p><span class="name">高松氏</span>　ダウンロード数は伸びてきているものの既存の支援者の数を考えるとまだまだ伸ばせると思っています。また、緊急情報の配信などアプリの運用をしっかりと行っていくことで、「FOODeliver」をきっかけにした寄付の機会を増やしたいと考えています。</p>
        <p><span class="name">牧野氏</span>　今回の「FOODeliver」のプロジェクトを通じて、MonacaがWebシステムの延長でモバイルアプリを開発する際に非常に効果を発揮する開発ツールだということがわかりました。今後ECや小売店向けのモバイルアプリなどでも活用していきたいと考えています。</p>
    </div>

    <div class="sp-interview clearfix">
        <dl>
            <dt><img src="/img/wfp/img_wfp_takamatsu.jpg" alt="高松 氏" /></dt>
            <dd><figcaption>国連WFP協会<br>事業部 アシスタントマネジャー<br>高松 美穂 氏</figcaption></dd>
        </dl>
        <dl>
            <dt><img src="/img/wfp/img_wfp_makino.jpg" alt="牧野 氏" /></dt>
            <dd><figcaption>株式会社タンバリン<br>テクニカルディレクター<br>牧野 由依 氏</figcaption></dd>
        </dl>
    </div>
</section>

<div class="container download">
    <p>「FOODeliver」のダウンロードはこちらから</p>
    <a href="https://itunes.apple.com/jp/app/foodeliver/id1120062123?mt=8" target="_blank"><img src="/img/jtrust/bnr_appstore.png" alt="App Store"></a>
    <a href="https://play.google.com/store/apps/details?id=org.jawfp.foodeliver&hl=ja" target="_blank"><img src="/img/jtrust/bnr_googleplay.png" alt="Google Play"></a>
</div>


<div class="container contact">
    <p>Monaca導入のご相談、お見積り、資料請求はお気軽に<br />こちらからお問い合わせください。</p>
    <a href="/support/inquiry.html" class="btn btn-big btn-blue">お問い合わせ</a>
</div>