---
title: 書籍「Monacaで学ぶはじめてのプログラミング」特設ページ
class: book-school
description: プログラミング学習教材『Monacaで学ぶはじめてのプログラミング ～モバイルアプリ入門編～』の特設ページです。サンプルアプリのダウンロード方法や書籍の入手・活用方法ご紹介しております。
image: https://ja.monaca.io/img/book/school/ogimage.jpg
layout: src/templates/layouts/default.hbs
---

<div class="keyvisual box-full"><div class="clearfix">
    <div class="right-column">
      <h2>スマートフォンアプリ開発を通じて<br class="hidden-sm"/>プログラミングの基礎を学ぶ</h2>
      <h1><span class="key">「Monacaで学ぶ<br class="hidden-sm hidden-md visible-xs-block visible-lg-block" />はじめてのプログラミング<br class="hidden-xs hidden-sm" />～モバイルアプリ入門編〜」</span></h1>
      <ul class="book-data hidden-xs hidden-sm">
         <li>ISBN：978-4-86584-099-5</li>
         <li>価格：3,000円<span class="txt-80">（税抜）</span></li>
         <li>著者：アシアル株式会社、生形可奈子、岡本雄樹</li>
         <li>出版社：アシアル株式会社</li>
      </ul>
    </div>
    <div class="left-column">
      <a href="#how-to-buy"><img src="/img/book/001/book.png" alt="Monaca公式ガイドブック「クラウドでできるHTML5ハイブリッドアプリ開発」" /></a>
      <div class="box-try">
          <a href="#how-to-buy" class="btn btn-darkgray">購入方法へ</a>
      </div>
    </div>
    <p class="errata"><a href="https://docs.google.com/spreadsheets/d/1-m4ZOHf5fRALgMBiBUs7WH635SfQn0u2TKuzEl9ltsE/edit?usp=sharing" target="_blank">正誤表はこちら</a> <i class="glyphicon glyphicon-circle-arrow-right"></i></p>
    <p class="errata"><a href="/book/001/additional_document.pdf" target="_blank">Monacaのアップデートに伴う追加資料</a> <i class="glyphicon glyphicon-circle-arrow-right"></i></p>
    </div></div>

<div class="container section sample-apps box-full">

  <ul class="column-1 banners">
      <li>
          <a href="https://form.k3r.jp/asial/book1" target="_blank"><img src="/img/book/001/bnr.jpg" alt="教育機関限定 無償配布 先着100校" /></a>
      </li>
  </ul>



  <h2>サンプルアプリ紹介</h2>
  <p>本書ではプログラミングの基礎からモバイルアプリの開発方法を一冊で学べます。また、サンプルアプリ集を活用することで「カメラアプリ」「おみくじアプリ」「英単語学習アプリ」「宝当てゲームアプリ」などを開発できます。</p>

  <ul id="apps" class="grid apps-item">
    <li class="item-1">
      <img class="no-image" src="/img/book/001/sample_app_item1.png" alt="" />
    </li>
    <li class="item-2">
      <img class="no-image" src="/img/book/001/sample_app_item2.png" alt="" />
    </li>
    <li class="item-3">
      <img class="no-image" src="/img/book/001/sample_app_item3.png" alt="" />
    </li>
    <li class="item-4">
      <img class="no-image" src="/img/book/001/sample_app_item4.png" alt="" />
    </li>
  </ul>

  <h2>連携サービス<br class="visible-xs">アプリの紹介</h2>
  <p>Monacaは外部のクラウドサービスやフレームワークと連携したアプリも開発できます。本書では「あしあと地図アプリ」「匿名SNS」「オンラインランキング機能付きブロック崩しアプリ」「Yes/Noチャート式 性格診断アプリ」などのアプリの開発方法を付録として提供いたします。</p>

  <ul id="apps" class="grid apps-item">
    <li class="item-1">
        <img class="no-image" src="/img/book/001/cooperation_services_item1.png" alt="" />
    </li>
    <li class="item-2">
        <img class="no-image" src="/img/book/001/cooperation_services_item2.png" alt="" />
    </li>
    <li class="item-3">
        <img class="no-image" src="/img/book/001/cooperation_services_item3.png" alt="" />
    </li>
    <li class="item-4">
        <img class="no-image" src="/img/book/001/cooperation_services_item4.gif" alt="" />
    </li>
  </ul>
</div>

<div class="container book-outline box-full">
  <h2>ダウンロード</h2>
    <div class="download">
      <h3 class="overview"><span>本章</span></h3>
      <div class="clearfix">
        <dl><span>第２章</span>
          <dt>HTML入門</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/2a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/2z.zip">完成版</a></dd>
        </dl>
        <dl><span>第３章</span>
          <dt>CSS入門</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/3z.zip">完成版</a></dd>
        </dl>
        <dl><span>第４章</span>
          <dt>JavaScript入門</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/4z.zip">完成版</a></dd>
        </dl>
        <dl><span>第５章</span>
          <dt>条件分岐</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/5z.zip">完成版</a></dd>
        </dl>
      </div>
      <div class="clearfix">
        <dl><span>第６章</span>
          <dt>関数</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/6z.zip">完成版</a></dd>
        </dl>
        <dl><span>第７章</span>
          <dt>イベント</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/7a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/7z.zip">完成版</a></dd>
        </dl>
        <dl><span>第８章</span>
          <dt>DOM</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/8a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/8z.zip">完成版</a></dd>
        </dl>
        <dl><span>第９章</span>
          <dt>フォーム</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/9a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/9z.zip">完成版</a></dd>
        </dl>
      </div>
      <div class="clearfix">
        <dl><span>第１０章</span>
          <dt>いろいろな演算子</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/10a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/10z.zip">完成版</a></dd>
        </dl>
        <dl><span>第１１章</span>
          <dt>配列</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/11a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/11z.zip">完成版</a></dd>
        </dl>
        <dl><span>第１２章</span>
          <dt>繰り返し</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/12a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/12z.zip">完成版</a></dd>
        </dl>
      </div>
      <h3 class="overview"><span>付録</span></h3>
      <div class="clearfix">
        <dl>
          <dt>位置情報取得機能</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/21a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/21z.zip">完成版</a></dd>
        </dl>
        <dl>
          <dt>カメラ機能</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/22a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/22z.zip">完成版</a></dd>
        </dl>
        <dl>
          <dt>加速度センサー機能</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/23a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/23z.zip">完成版</a></dd>
        </dl>
        <dl>
          <dt>おみくじアプリ</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/31a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/31z.zip">完成版</a></dd>
        </dl>
      </div>
      <div class="clearfix">
        <dl>
          <dt>宝当てゲーム</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/32a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/32z.zip">完成版</a></dd>
        </dl>
        <dl>
          <dt>英単語学習アプリ</dt>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/33a.zip">ひな形</a></dd>
          <dd class="glyphicon glyphicon-download-alt"><a href="/book/001/33z.zip">完成版</a></dd>
        </dl>
      </div>
    </div>
</div>

<div class="container section book-outline box-full">
  <h2>本書の概要</h2>
  <div class="grid">
    <div class="contents grid-item">
      <h3><span>目次</span></h3>
      <ul >
        <li>はじめに</li>
        <li>第1章　アプリ開発入門</li>
        <li>第2章　HTML入門</li>
        <li>第3章　CSS入門</li>
        <li>第4章　JavaScript入門</li>
        <li>第5章　条件分岐</li>
        <li>第6章　関数</li>
        <li>第7章　イベント</li>
        <li>第8章　DOM</li>
        <li>第9章　フォーム</li>
        <li>第10章　いろいろな演算子</li>
        <li>第11章　配列</li>
        <li>第12章　繰り返し</li>
      </ul>
      <ul class="appendix">
        <li>付録1　Monacaの使い方</li>
      </ul>
      <ul class="appendix">
        <li>付録2　エラーの確認方法</li>
      </ul>
      <ul class="appendix">
        <li>付録3　ハードウェア機能の使い方</li>
      </ul>
      <ul class="appendix">
        <li>付録4　サンプルアプリ集</li>
      </ul>
      <ul class="appendix">
        <li>付録5　連携サービスの紹介</li>
      </ul>
    </div>
    <div class="outline grid-item">
      <h3><span>概要</span></h3>
      <div>
        <p>プログラミングを学ぶためには興味を持てる内容に挑戦することが大切です。最近ではスマートフォンなどのモバイルアプリ開発に興味を持っている人が増えています。本書はアプリ開発を通じてプログラミングの基礎を学べる入門書です。<br><br>
        一般的にアプリ開発はハードルが高いものだと考えられています。iOSやAndroidといったモバイルOSはOS毎に標準の開発言語やツールが異なり、またバージョンアップなどの変化が多いため開発者は常に最新の状況に追従できるように備える必要があります。<br><br>
        しかし、クラウドの開発環境ならツールのアップデートをクラウド側で行うため開発者はツールのセットアップから解放されます。また、HTML5やJavaScriptといった標準化された言語を応用したハイブリッドアプリ開発手法を用いることで複数のOSへの対応は容易になります。<br><br>
        本書ではクラウド開発環境Monacaを採用することで、プログラミング未経験者でも挫折せずにアプリ開発を学習できる本です。また、Monacaはハイブリッドアプリ開発手法に対応しているため、開発したアプリは各種モバイルOS用のアプリとしてアプリストアに登録することもできます。<br><br>
        教育用のEducationプランを利用できる『アクティベーションコード』を6ヶ月分付録としてセットいたしました。
        ※Monacaの基本機能は無料プランでも無期限で利用可能です。<br><br>
        これからプログラミングを学びたい方にお勧めの一冊です。</p>
      </div>
    </div>
  </div>
</div>
<div class="container section sample-apps box-full company">
  <h2>連携サービスのアプリと提供企業紹介</h2>

  <div class="company-detail">
    <div class="company-info clearfix">
      <div class="company-logo">
        <img src="/img/book/001/fukudokuhon_logo_microsoft.gif">
      </div>
      <ul>
        <li>Microsoft Azure</li>
        <li><span class="company-name">提供元：マイクロソフト</span></li>
      </ul>
    </div>
    <dl>
      <dt>サービス紹介</dt>
      <dd>
        Microsoft Azureは、Webサイトを公開するための「Webサーバー」や、大量のデータを蓄積・選別し、必要に応じて引き出す技術である「SQLデータベース」などクラウド上で利用できるさまざまな機能を包括したサービスの総称です。モバイルアプリで利用するデータを管理する機能は「App Service」という名称で提供されています。App Serviceは、学生が無償利用できる「Microsoft Azure for DreamSpark」からも利用可能です。
      </dd>
    </dl>
    <dl>
      <dt>サンプル紹介</dt>
      <dd>
        ユーザーが回答したアンケートを収集する『アンケートアプリ』と、ユーザー間でコミュニケーションを行うための『匿名SNS』アプリを提供しています。
      </dd>
    </dl>
    <dl>
      <dd>
        <a class="btn btn-darkgray" href="https://ja.monaca.io/book/001/azure-01.pdf" target="_blank">PDF教材ダウンロード</a>
      </dd>
    </dl>
  </div>

  <div class="company-detail">
    <div class="company-info clearfix">
      <div class="company-logo">
        <img src="/img/book/001/fukudokuhon_logo_nifcloud.png">
      </div>
      <ul>
        <li>ニフクラ mobile backend</li>
        <li><span class="company-name">提供元：富士通クラウドテクノロジーズ株式会社</span></li>
      </ul>
    </div>
    <dl>
      <dt>サービス紹介</dt>
      <dd>
        ニフクラ mobile backendはモバイルアプリの「サーバー」側機能を、APIで提供するものです。スマートフォンへの通知を送る「プッシュ通知」、ログイン・ログアウトを行う「会員管理」、データの保存ができる「データストア」、写真・動画等のファイルを保存する「ファイルストア」、SNS認証を行う「SNS連携」、データストア上で位置情報の保存・管理が行える「位置情報検索」、簡易的なプログラムを配置して実行できる「スクリプト」などの機能を提供しています。
      </dd>
    </dl>
    <dl>
      <dt>サンプル紹介</dt>
      <dd>
        ランキング機能を組み込んだ『ブロック崩しアプリ』と様々な人が訪れた場所を地図上に登録する『あしあとマップアプリ』を提供しています。ランキングのスコアやGPSで取得した位置情報を、ニフクラ mobile backendの「データストア」に保存します。
      </dd>
    </dl>
    <dl>
      <dd>
        <a class="btn btn-darkgray" href="https://ja.monaca.io/book/001/ncmb-01.pdf" target="_blank">PDF教材ダウンロード</a>
      </dd>
    </dl>
  </div>

  <div class="company-detail">
    <div class="company-info clearfix">
      <div class="company-logo">
        <img src="/img/book/001/fukudokuhon_logo_onsen.gif">
      </div>
      <ul>
        <li>Onsen UI</li>
        <li><span class="company-name">提供元：アシアル株式会社</span></li>
      </ul>
    </div>
    <dl>
      <dt>サービス紹介</dt>
      <dd>
        Onsen UIは、独自のHTMLタグを記述するだけで簡単にモバイルアプリの画面を作ることができるUIフレームワークです。ボタンやテキストボックスなどの入力項目や、ツールバーやタブバーといった画面のレイアウトを構成するパーツが豊富に用意されています。
      </dd>
    </dl>
    <dl>
      <dt>サンプル紹介</dt>
      <dd>
        『Yes/Noチャート式 性格診断アプリ』と『道路標識暗記アプリ』の2点を提供しています。これらのサンプルアプリは複数の画面から構成されており、Onsen UIの機能によってアニメーション付きで画面が遷移します。
      </dd>
    </dl>
    <dl>
      <dd>
        <a class="btn btn-darkgray" href="https://ja.monaca.io/book/001/onsen-01.pdf" target="_blank">PDF教材ダウンロード</a>
      </dd>
    </dl>
  </div>
</div>

<div id="how-to-buy" class="container section book-outline box-full howto">
  <h2>購入方法</h2>
    <p>一般のお客様はBookWay書店よりお求め下さい。</p>
    <p class="last">法人や教育機関の方が5冊以上まとめて購入する場合はアシアルから直接購入することができます。請求書払いもご相談に応じます。お問い合わせよりご連絡下さい。</p>
    <div class="container box-try">
        <a href="https://www.amazon.co.jp/dp/4865840990/" class="btn btn-darkgray" target="_blank">Amazonで購入</a>
        <a href="https://bookway.jp/modules/zox/index.php?main_page=product_info&products_id=763&cPath=33" class="btn btn-darkgray" target="_blank">BookWayで購入</a>
        <a href="/support/inquiry.html" class="btn btn-darkgray">アシアルで購入（法人限定）</a>
    </div>
</div>


<script>
window.addEventListener("load", function() {
  "use strict";

  var resizeTimer = null;
  var touchFlag = false;

  function onResize() {
   if (window.innerWidth >= 992) {
     $("#apps li").tile(4);
   } else {
     $("#apps li").tile(2);
   }
  }

  $(function() {
    onResize();
    window.onresize = function() {
      if (resizeTimer) clearTimeout(resizeTimer);
      resizeTimer = setTimeout(onResize, 100);
    }

    $("#apps li figure").on({
      "mouseenter": function(e) {
        $(this).addClass("on");
      },
      "mouseleave": function(e) {
        $(this).removeClass("on");
      },
      "touchstart": function(e) {
        touchFlag = true;
        setTimeout(function() {
          touchFlag = false;
        }, 500);

        if ($(this).hasClass("on")) {
          $(this).removeClass("on");
        } else {
          $("#apps li figure").removeClass("on");
          $(this).addClass("on");
        }
      },
    });

    $("#apps figure .btn-import").on({
      "touchstart": function(e) {
        e.stopPropagation();
      },
      "click": function(e) {
        if (touchFlag) e.preventDefault();
      }
    })

  })
})
</script>
