---
title: Monaca - プロダクトパートナー一覧
class: product-partner
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
viewport: width=1200px
---

<div id="main-wrap">
  <section id="productsPartner">
    <div class="productsPartner-header">
      <div class="productsPartner-contents">
        <div class="productsPartner-txt">
          <h2 class="title"><img src="/img/product-partner/bg_keyvisual_title_en.png" alt="Monacaプロダクトパートナー　HTML5モバイルアプリ開発ツールMonacaを使って、HTML5、JavaScriptによるハイブリッド型のモバイルアプリ（ハイブリッドアプリ）開発を行います。"></h2>
        </div>
      </div>
    </div>

    <div class="cate">
      <ul class="cate-link">
        <li>
          <a href="#pp-backend">
            <div class="cate-img backend-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> Backend</p>
          </a>
        </li>
        <li>
          <a href="#pp-test">
            <div class="cate-img test-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> Test support</p>
          </a>
        </li>
        <li>
          <a href="#pp-ad">
            <div class="cate-img ad-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> Utilities</p>
          </a>
        </li>
        <li>
          <a href="#pp-analytics">
            <div class="cate-img analytics-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> Analysis</p>
          </a>
        </li>
      </ul>
    </div>

    <div class="list-contents">
      <h3 id="pp-backend">Backend</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_kii.png" alt="Kii Cloud">
            <a class="btn-gray-line" href="http://documentation.kii.com/en/starts/" target="_blank">more details</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Kii Cloud</h4>
              <p>Kii Corporation is focused on addressing the high-performance demands of innovation in the connected world with an end-to-end cloud platform optimized for the IoT.<br>Kii Cloud is an MBaaS (Mobile Backend as a Service) provided by Kii Corporation. MBaaS is a service that provides various server-side features for mobile application development with common APIs. By leveraging these APIs, you can develop your mobile applications without worrying about the server-side implementations and operations.</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>Kii Corporation</h5></li>
              <li class="mail link-area"><a href="mailto:support@kii.com?subject=Monacaプロダクトパートナーについて">Contact us by e-mail <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="https://kii.com" target="_blank">Website <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

      <h3 id="pp-test">Test Support</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_remote_testkit.png" alt="Remote Testkit">
            <a class="btn-gray-line" href="https://secure.appkitbox.com/agencies/affiliate?ref=aa1069441222" target="_blank">more details</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Remote Testkit</h4>
              <p>Remote TestKit is a cloud-based testing solution for mobile app development.<br>Remote gives you access to actual smart devices in an NTT secure data center reduces costs and improves app quality and productivity.<br>Using Remote TestKit makes it possible to significantly reduce the cost of purchasing and managing devices in order to develop and test mobile apps and the Web sites. With over 350 popular models to choose from, you can use Remote TestKit to remotely rent a wide variety of Android and iOS smartphones from around the world.</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>NTT Resonant Inc.</h5></li>
              <li class="tantou">Smart navigation department<br>Remote TestKit</li>
              <li class="form link-area"><a href="https://help.goo.ne.jp/cc/app/m/129400/" target="_blank">Inquiry form <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="https://secure.appkitbox.com/agencies/affiliate?ref=aa1069441222" target="_blank">Website <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

      <h3 id="pp-ad">Utilities</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_dolby.png" alt="appC cloud" style="margin: -30px 0 0;">
            <a class="btn-gray-line" href="http://developer.dolby.com/tools-tech.aspx" target="_blank">more details</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Dolby Developer</h4>
              <p>Dolby Developer has come up with some cool solutions for App and Game Developers.<br>Dolby has worked with many OEMs to integrate Dolby Audio supporting Dolby Digital Plus into phones and tablets. As a developer you can deliver Dolby premium quality content by including the content into your Web projects using Dolby Audio API and Dolby Audio Plug-in for Cordova. </p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>Dolby Laboratories</h5></li>
              <li class="tantou">Dolby Developer</li>
              
              <li class="form link-area"><a href="http://developer.dolby.com/contact.aspx" target="_blank">Contact us <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="http://developer.dolby.com/" target="_blank">Website <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

      <h3 id="pp-analytics">Analysis</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_repro.png" alt="Repro" style="margin: -30px 0 0;">
            <a class="btn-gray-line" href="https://repro.io/" target="_blank">more details</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Repro</h4>
              <p>Repro is a growth platform for mobile apps empowered by the following features: easy and flexible analytics, qualitative study of users with play-by-play user action videos, marketing strategies such as push notification or in-app message, and so much more.<br>Try the Repro SDK for iOS and Android. It's simple and free.</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>Repro Inc.</h5></li>
              <li class="form link-area"><a href="https://support.repro.io/hc/ja/requests/new" target="_blank">Contact us <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="https://repro.io/" target="_blank">Website <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_amazon.png" alt="Amazon Mobile Analytics">
            <a class="btn-gray-line" href="http://aws.amazon.com/jp/mobileanalytics/" target="_blank">more details</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Amazon Mobile Analytics</h4>
              <p>With Amazon Mobile Analytics, you can measure app usage and app revenue.<br>By tracking key trends such as new vs. returning users, app revenue, user retention, and custom in-app behavior events, you can make data-driven decisions to increase engagement and monetization for your app.<br>You can view key charts in the Mobile Analytics console and automatically export your app event data to Amazon S3 and Amazon Redshift to run custom analysis. </p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>Amazon Corporation</h5></li>
              <li class="form link-area"><a href="https://aws.amazon.com/jp/contact-us/aws-sales/" target="_blank">Contact us <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="http://aws.amazon.com/jp/" target="_blank">Website <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt" style="margin-bottom: 250px;"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>
    </div>
  </section>

  <script src="/js/jquery.smoothScroll.js"></script>


  <script src="/js/moment.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script>

    $(window).load(function() {
     var fadeInSpeed = 400;
     $('div.product-partner span#github-published_at').hide();
     $.ajax({
      url: 'https://api.github.com/repos/monaca/Localkit/releases',
      dataType: 'jsonp',
      success: function(res) {
       $("div.product-partner span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
       $('div.product-partner span#github-published_at a strong').text(res.data[0].name);
       var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
       $('div.product-partner span#github-published_at span').text(dateJa);
       $('div.product-partner span#github-published_at').fadeIn(fadeInSpeed);
     },
     error: function() {
       $('div.product-partner span#github-published_at').hide();
     }
   });
   });
  </script>


