---
title: Monaca - Product Partners
class: product-partner
description: Using Monaca cloud-powered tools, services, and supported valuable product partners, can improve efficiency, security and monetization of your applications.
viewport: width=1200px
---

<div id="main-wrap">
  <section id="productsPartner">
    <div class="productsPartner-header">
      <div class="productsPartner-contents">
        <div class="productsPartner-txt">
          <h2 class="title"><img src="/img/product-partner/bg_keyvisual_title_en.png" alt="Monaca Product Partners. With the support of our valuable product partners, we assure full efficiency, security and best monetization for your applications."></h2>
        </div>
      </div>
    </div>

    <div class="cate">
      <ul class="cate-link">
        <li>
          <a href="#pp-backend">
            <div class="cate-img backend-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> Backend</p>
          </a>
        </li>
        <li>
          <a href="#pp-test">
            <div class="cate-img test-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> Test support</p>
          </a>
        </li>
        <li>
          <a href="#pp-ad">
            <div class="cate-img ad-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> Utilities</p>
          </a>
        </li>
        <li>
          <a href="#pp-analytics">
            <div class="cate-img analytics-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> Analysis</p>
          </a>
        </li>
      </ul>
    </div>

    <div class="list-contents">
      <h3 id="pp-backend">Backend</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_kii.png" alt="Kii Cloud">
            <a class="btn-gray-line" href="http://documentation.kii.com/en/starts/" target="_blank">More details</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Kii Cloud</h4>
              <p>Kii Corporation is focused on addressing the high-performance demands of innovation in the connected world with an end-to-end cloud platform optimized for the IoT.<br>Kii Cloud is an MBaaS (Mobile Backend as a Service) provided by Kii Corporation. MBaaS is a service that provides various server-side features for mobile application development with common APIs. By leveraging these APIs, you can develop your mobile applications without worrying about the server-side implementations and operations.</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>Kii Corporation</h5></li>
              <li class="homepage link-area"><a href="https://en.kii.com/" target="_blank">Website <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

      <h3 id="pp-test">Test Support</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_remote_testkit.png" alt="Remote Testkit">
            <a class="btn-gray-line" href="https://appkitbox.com/en/testkit/" target="_blank">More details</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Remote Testkit</h4>
              <p>Remote TestKit is a cloud-based testing solution for mobile app development.<br>Remote gives you access to actual smart devices in an NTT secure data center reduces costs and improves app quality and productivity.<br>Using Remote TestKit makes it possible to significantly reduce the cost of purchasing and managing devices in order to develop and test mobile apps and the Web sites. With over 350 popular models to choose from, you can use Remote TestKit to remotely rent a wide variety of Android and iOS smartphones from around the world.</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>NTT Resonant Inc.</h5></li>
              <li class="tantou">Smart navigation department<br>Remote TestKit</li>
              <li class="homepage link-area"><a href="https://appkitbox.com/en/testkit/" target="_blank">Website <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

      <h3 id="pp-ad">Utilities</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_dolby.png" alt="Dolby Developers" style="margin: -30px 0 0;">
            <a class="btn-gray-line" href="http://developer.dolby.com/tools-tech.aspx" target="_blank">More details</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Dolby Developer</h4>
              <p>Dolby Developer has come up with some cool solutions for App and Game Developers.<br>Dolby has worked with many OEMs to integrate Dolby Audio supporting Dolby Digital Plus into phones and tablets. As a developer you can deliver Dolby premium quality content by including the content into your Web projects using Dolby Audio API and Dolby Audio Plug-in for Cordova. </p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>Dolby Laboratories</h5></li>
              <li class="tantou">Dolby Developer</li>

              <li class="form link-area"><a href="http://developer.dolby.com/contact.aspx" target="_blank">Contact us <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="http://developer.dolby.com/" target="_blank">Website <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

      <h3 id="pp-analytics">Analysis</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_repro.png" alt="Repro" style="margin: -30px 0 0;">
            <a class="btn-gray-line" href="https://repro.io/" target="_blank">More details</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Repro</h4>
              <p>Repro is a growth platform for mobile apps empowered by the following features: easy and flexible analytics, qualitative study of users with play-by-play user action videos, marketing strategies such as push notification or in-app message, and so much more.<br>Try the Repro SDK for iOS and Android. It's simple and free.</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>Repro Inc.</h5></li>
              <li class="homepage link-area"><a href="https://repro.io/" target="_blank">Website <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_amazon.png" alt="Amazon Mobile Analytics">
            <a class="btn-gray-line" href="https://aws.amazon.com/mobileanalytics/" target="_blank">More details</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Amazon Mobile Analytics</h4>
              <p>With Amazon Mobile Analytics, you can measure app usage and app revenue.<br>By tracking key trends such as new vs. returning users, app revenue, user retention, and custom in-app behavior events, you can make data-driven decisions to increase engagement and monetization for your app.<br>You can view key charts in the Mobile Analytics console and automatically export your app event data to Amazon S3 and Amazon Redshift to run custom analysis. </p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>Amazon Corporation</h5></li>
              <li class="homepage link-area"><a href="https://aws.amazon.com/" target="_blank">Website <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_appsflyer.png" alt="AppsFlyer Company">
            <a class="btn-gray-line" href="https://www.appsflyer.com/overview/" target="_blank">More details</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>AppsFlyer</h4>
              <p>AppsFlyer is the market leader in mobile advertising attribution and analytics, helping marketers to pinpoint their targeting, optimize their ad spend and boost their ROI.<br>AppsFlyer allows users to monitor and track application installations, downloads, and conversions. The AppsFlyer API allows developers to access and integrate the functionality of AppsFlyer with other applications.<br>For more information please contact AppsFlyer.</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>AppsFlyer Company</h5></li>
              <li class="form link-area"><a href="https://www.appsflyer.com/contact/" target="_blank">Contact us <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="https://www.appsflyer.com/" target="_blank">Website <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt" style="margin-bottom: 250px;"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>
    </div>
  </section>

  <script src="/js/jquery.smoothScroll.js"></script>


  
  <script src="/js/jquery.min.js"></script>



