---
title: Monaca - プロダクトパートナー一覧
class: product-partner
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
viewport: width=1200px
---

<div id="main-wrap">
  <section id="productsPartner">
    <div class="productsPartner-header">
      <div class="productsPartner-contents">
        <div class="productsPartner-txt">
          <h2 class="title"><img src="/img/product-partner/bg_keyvisual_title.png" alt="Monacaプロダクトパートナー　HTML5モバイルアプリ開発ツールMonacaを使って、HTML5、JavaScriptによるハイブリッド型のモバイルアプリ（ハイブリッドアプリ）開発を行います。"></h2>
        </div>
      </div>
    </div>

    <div class="cate">
      <ul class="cate-link">
        <li>
          <a href="#pp-backend">
            <div class="cate-img backend-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> バックエンド</p>
          </a>
        </li>
        <li>
          <a href="#pp-test">
            <div class="cate-img test-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> テスト支援</p>
          </a>
        </li>
        <li>
          <a href="#pp-ad">
            <div class="cate-img ad-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> 広告</p>
          </a>
        </li>
        <li>
          <a href="#pp-analytics">
            <div class="cate-img analytics-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> 分析</p>
          </a>
        </li>
        <li>
          <a href="#pp-security">
            <div class="cate-img security-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> セキュリティ</p>
          </a>
        </li>
        <li>
          <a href="#pp-iot">
            <div class="cate-img iot-img"></div>
            <p><i class="glyphicon glyphicon-chevron-down"></i> IoTデバイス</p>
          </a>
        </li>
      </ul>
    </div>

    <div class="list-contents">
      <h3 id="pp-backend">バックエンド</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_mbaas.png" alt="ニフティクラウド mobile backend">
            <a class="btn-gray-line" href="http://mb.cloud.nifty.com/monaca_mbaas/" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>ニフティクラウド mobile backend</h4>
              <p>ニフティクラウド mobile backendはスマートフォンアプリ開発のバックエンド機能をパーツとしてクラウド上から利用できるサービスです。「会員認証」「多様なPUSH通知」「SNS連携」「位置情報検索」などを簡単にアプリに組み込むことが可能。これらの機能を、安心の国産品質にて【無料から】ご利用頂けます。開発工数の削減・スピード向上に加え、サーバ運用の手間も省いて、クライアントアプリ開発に集中してください！</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>富士通クラウドテクノロジーズ株式会社</h5></li>
              <li class="form link-area"><a href="http://mb.cloud.nifty.com/support.htm" target="_blank">お問い合わせフォーム <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="http://mb.cloud.nifty.com/monaca_mbaas/" target="_blank">ホームページ <i class="fa fa-external-link"></i></a></li>

            </ul>
          </td>
        </tr>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_kii.png" alt="Kii Cloud">
            <a class="btn-gray-line" href="https://kii.com" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Kii Cloud</h4>
              <p>Kiiは、IoT機器や、モバイルアプリに必要なサーバ側の機能をクラウド (API) でご提供するサービスです。モノ管理、ユーザ管理、データ管理、プッシュ通知、位置情報、独自サーバコード、分析等の機能と、様々なOS対応のSDK（APIと通信するためのプログラムライブラリ）が揃っており、開発工数、費用を大幅に削減できます。日英中の３言語で詳細な技術資料を公開済みで、コミュニティサイトで質問したり情報共有いただくこともできます。どうぞご利用ください！</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>Kii株式会社</h5></li>
              <li class="mail link-area"><a href="mailto:support@kii.com?subject=Monacaプロダクトパートナーについて">メールでお問い合わせ <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_apppot.png" alt="AppPot">
            <a class="btn-gray-line" href="http://apppot.jp/" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>AppPot</h4>
              <p>AppPotはユーザー管理、データ管理API、Push通知などの機能をモバイルアプリやWebアプリからAPI経由で利用できるサービス、ソフトウェアです。<br>
              AppPotは企業向けに特化しており、ActiveDirectoryやGoogle Appsと連携したユーザー認証、他システムのDBやWebサービスとの連携などの企業向けの機能が用意されています。<br>
              導入にはクラウド版とオンプレミス版を選択できます。</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>NCデザイン＆コンサルティング株式会社 </h5></li>
              <li class="mail link-area"><a href="mailto:info@ncdc.co.jp?subject=Monacaプロダクトパートナーについて">メールでお問い合わせ <i class="fa fa-external-link"></i></a></li>
              <li class="tel link-area">050-3530-9791</li>
              <li class="form"><a href="http://apppot.jp/contact.html" target="_blank">お問い合わせフォーム <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_baas.png" alt="BaaS＠rakuza">
            <a class="btn-gray-line" href="http://www.raku-za.jp/baas/" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>BaaS＠rakuza</h4>
              <p>BaaS@rakuzaは、モバイルアプリの開発・運用に必要となるバックエンド機能を提供するクラウドサービスです。ユーザー管理、プッシュ通知、データ管理をベースにクーポン管理やポイント管理などのサービス業向けアプリに最適な機能とアプリの運用上必要となる管理者画面を提供しています。また、複数事業者で1アプリを提供するポータル（マルチテナント）環境での利用も可能です。提供形態はクラウド版とオンプレミス版がありますが、まずは無料体験版からBaaS@rakuzaでの簡単アプリ開発をお試しください。</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>ピープルソフトウェア株式会社 </h5></li>
              <li class="tel link-area">0120-542-070（無料）</li>
              <li class="form"><a href="http://www.raku-za.jp/baas/inquiry/" target="_blank">お問い合わせフォーム <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_kintone.png" alt="Kintone">
            <a class="btn-gray-line" href="https://kintone.cybozu.com/jp/" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>kintone（キントーン）</h4>
              <p>業務に合わせたシステムをドラッグ＆ドロップでかんたんに作成できる、サイボウズのクラウドサービスです。社員間のつながりを活性化する社内SNSとしての機能も備えているため、スピーディーにチーム間の情報共有ができます。多種多様な業務に適用できるようにkintoneには、画面をカスタマイズできるJavaScript API、データ連携がしやすいREST APIを揃えており、数多くのシステム、サービスとの連携の実績も業種職種向けに豊富です。また、実験したい開発者向けに、1年間無償で利用できる開発者ライセンスを用意しており、ユーザー同士で問題解決できるコミュニティサイトも充実しています。</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>サイボウズ株式会社 </h5></li>
              <li class="form link-area"><a href="https://kintone.cybozu.com/jp/faq/" target="_blank">お問い合わせフォーム <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_beacapp.png" alt="Beacapp">
            <a class="btn-gray-line" href="https://www.beacapp.com/" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Beacapp</h4>
              <p>アプリの Beacon 対応を簡単・迅速に実現し、現地でのユーザー体験を演出・効果測定できるクラウドサービスです。<br>
              Beaconを使うことで、GPSよりもさらに近距離・高精度の位置情報を利用することができます。<br>
              イベントアプリ、ゲームアプリ、小売店向けアプリ、行動解析など多くのアプリで採用されています。</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>株式会社ジェーエムエーシステムズ </h5></li>
              <li class="form link-area"><a href="https://www.beacapp.com/contact/" target="_blank">お問い合わせフォーム  <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="https://www.beacapp.com/" target="_blank">製品ページの URL <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

      <h3 id="pp-test">テスト支援</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_remote_testkit.png" alt="Remote Testkit">
            <a class="btn-gray-line" href="https://secure.appkitbox.com/agencies/affiliate?ref=aa1069441222" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Remote Testkit</h4>
              <p>RemoteTestKitは、NTTレゾナント社が提供する、スマートフォン実機の「リモート・レンタル・サービス」です。<br>パソコンから遠隔のスマートフォン実機にリモート接続を行い、パソコンの画面にスマートフォンの画面を表示させます。<br>そのスマートフォンの画面をパソコンから操作することで、手元に実機がなくてもアプリケーションやWebサイトの検証が簡単に実現できるソリューション型ソフトウェアです。</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>エヌ・ティ・ティ レゾナント株式会社</h5></li>
              <li class="tantou">スマートナビゲーション事業部<br>Remote TestKit担当</li>
              <li class="form link-area"><a href="https://help.goo.ne.jp/cc/app/m/129400/" target="_blank">お問い合わせフォーム <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="https://secure.appkitbox.com/agencies/affiliate?ref=aa1069441222" target="_blank">ホームページ <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

      <h3 id="pp-ad">広告</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_ad_generation.png" alt="appC cloud" style="margin: -30px 0 0;">
            <a class="btn-gray-line" href="http://www.scaleout.jp/ad-generation/" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Ad Generation（アドジェネ）</h4>
              <p>Ad Generation（アドジェネ）は複数のDSP・アドネットワークから、最も収益の高い広告を自動配信するSSPサービスです。<br />１つの広告タグを導入するだけで、手間なく20社以上のDSP・アドネットワークの様々な種類の広告が配信可能です。<br />配信状況や収益はアドジェネ管理画面で一括管理、メディア様のマネタイズを最大限サポート致します。</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>Supership株式会社</h5></li>
              <!-- <li class="tantou">営業チーム</li> -->
              <li class="mail link-area"><a href="mailto:adg-info@supership.jp?subject=Monacaプロダクトパートナーについて">メールでお問い合わせ <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

      <h3 id="pp-analytics">分析</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_repro.png" alt="Repro" style="margin: -30px 0 0;">
            <a class="btn-gray-line" href="https://repro.io/" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Repro</h4>
              <p>Reproは従来型の定量分析に加え、ユーザーの画面操作を動画で見える化する定性分析、さらには、各種分析機能からユーザーをターゲティングして、プッシュ通知やアプリ内メッセージを配信できる機能を提供するアプリの成長支援プラットフォームです。アプリへの組み込みは非常に簡単で、しかも、「無料」から御利用頂けます。</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>Repro株式会社</h5></li>
              <li class="form link-area"><a href="https://support.repro.io/hc/ja/requests/new" target="_blank">お問い合わせフォーム <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="https://repro.io/" target="_blank">ホームページ <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_amazon.png" alt="Amazon Mobile Analytics">
            <a class="btn-gray-line" href="http://aws.amazon.com/jp/mobileanalytics/" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>Amazon Mobile Analytics</h4>
              <p>Amazon Mobile Analytics を使用すると、アプリケーションの使用状況と収益を測定できます。新規ユーザーとリピートユーザー、アプリケーション収益、ユーザー定着率、カスタムのアプリケーション内動作イベントなどの主要トレンドを追跡することで、データに基づいて決定し、アプリケーションの関心度と収益力を高めることができます。Mobile Analytics コンソールで主要なグラフを表示し、アプリケーションイベントデータを Amazon S3 と Amazon Redshift に自動的にエクスポートして、カスタム分析を実行できます。</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>アマゾン株式会社</h5></li>
              <li class="form link-area"><a href="https://aws.amazon.com/jp/contact-us/aws-sales/" target="_blank">お問い合わせフォーム <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="http://aws.amazon.com/jp/" target="_blank">ホームページ <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_appsflyer.png" alt="AppsFlyer株式会社">
            <a class="btn-gray-line" href="https://www.appsflyer.com/jp/overview/" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>AppsFlyer</h4>
              <p>AppsFlyerは、モバイル広告のアトリビューション分析のマーケットリーダーです。
              ターゲットを明確にし、広告支出を最適化、そしてROIを大幅に向上できるようにマーケターを支援しています。<br>AppsFlyerのAPIを利用することで、AppsFlyerの機能をユーザーアプリにて簡単に利用および統合できます。<br>詳細情報は、AppsFlyerにご確認ください。</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>AppsFlyer株式会社</h5></li>
              <li class="form link-area"><a href="https://www.appsflyer.com/jp/contact/" target="_blank">お問い合わせフォーム <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="https://www.appsflyer.com/jp/" target="_blank">ホームページ <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

      <h3 id="pp-security">セキュリティ</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_clomo.png" alt="CLOMO" style="margin: -30px 0 0;">
            <a class="btn-gray-line" href="http://www.i3-systems.com/clomo.html" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>CLOMO（クロモ）</h4>
              <p>CLOMOは国内6年連続シェアNo.1のモバイル管理(EMM)サービスです。<br>
              CLOMOを利用すると、業務用モバイルアプリを手軽で安全にスマートデバイスに遠隔配布できます。Monacaで作成したモバイルアプリにも対応しており、アプリの強制インストール・アップデート機能などを用いて「アプリ配布の手間」を大幅に削減できます。さらに、スクリーンショット機能やUSB接続、SDメモリ利用などの制限設定も手軽に行えるため「アプリ開発時のセキュリティ対応の手間」も削減できます。</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>株式会社アイキューブドシステムズ</h5></li>
              <li class="form link-area"><a href="http://www.i3-systems.com/contact-list.html" target="_blank">お問い合わせ窓口 <i class="fa fa-external-link"></i></a></li>
              <li class="homepage"><a href="http://www.i3-systems.com/" target="_blank">ホームページ <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

      <h3 id="pp-iot">IoTデバイス</h3>
      <table>
        <tr>
          <th class="products-name">
            <img src="/img/product-partner/logo_jins.png" alt="jins-meme" style="margin: -30px 0 0;">
            <a class="btn-gray-line" href="https://jins-meme.com/" target="_blank">詳細を見る</a>
          </th>
          <td class="outline">
            <div class="outline-contents">
              <h4>JINS MEME SDK for Monaca</h4>
              <p>世界初、自分を見るメガネJINS MEME（ジンズ・ミーム）スマートフォンアプリケーションをMonacaで実装できるようになりました！<br>
              このプラグインを使い、眼の動きを利用したコントローラーから集中度測定アプリまで、あなたのアイデアひとつで世の中の役に立つ幅広いソリューション開発へ応用が可能です。<br>
              メガネの進化を促すあなたの斬新な開発アイデアを、その手で実現させてみませんか？</p>
            </div>
          </td>
          <td class="info">
            <ul>
              <li><h5>株式会社 ジェイアイエヌ</h5></li>
              <li class="mail link-area"><a href="mailto:meme-devstand@jin-co.com?subject=Monacaプロダクトパートナーについて">メールでお問い合わせ <i class="fa fa-external-link"></i></a></li>
              <li class="form link-area"><a href="https://jins-meme.com/ja/support/contact" target="_blank">お問い合わせフォーム <i class="fa fa-external-link"></i></a></li>
            </ul>
          </td>
        </tr>
      </table>
      <p class="btn-btt" style="margin-bottom: 250px;"><a href="#header-top">TOP <img src="/img/partner/ico_back_to_top.png" alt=""></a></p>

    </div>
  </section>

  <script src="/js/jquery.smoothScroll.js"></script>

  <script src="/js/moment.js"></script>
  <!-- <script src="/js/jquery.min.js"></script> -->
  <script>

    $(window).load(function() {
     var fadeInSpeed = 400;
     $('div.product-partner span#github-published_at').hide();
     $.ajax({
      url: 'https://api.github.com/repos/monaca/Localkit/releases',
      dataType: 'jsonp',
      success: function(res) {
       $("div.product-partner span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
       $('div.product-partner span#github-published_at a strong').text(res.data[0].name);
       var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
       $('div.product-partner span#github-published_at span').text(dateJa);
       $('div.product-partner span#github-published_at').fadeIn(fadeInSpeed);
     },
     error: function() {
       $('div.product-partner span#github-published_at').hide();
     }
   });
   });
  </script>
