---
title: Monaca料金プラン変更のお知らせ | Monaca
class: important-info
description: 2017年6月1日よりMonacaの料金プランを改定させていただくことになりましたのでお知らせします。
---

<div id="main-container">
    <h1>Monaca料金プラン変更のお知らせ</h1>
        <p>
            <span style="font-weight: 700; color: #CC0000;">※Monaca料金プランの改定の予定日が、下記の通り変更になりましたことをお知らせ致します。</span><br />
            2017年4月27日&nbsp;⇒&nbsp;<strike>2017年5月22日</strike> 2017年6月1日
        </p>
        <p>この度、2017年6月1日よりMonacaの料金プランを改定させていただくことになりましたので、お知らせします。<br />
        <span style="font-weight: 700; color: #CC0000;">現在ご利用いただいているMonacaの有償プランのアカウントは、プラン変更なしに引き続き現料金プランのままご利用いただくことができます。</span>
        </p>

    <section id="about-new-plan">
        <style scoped="scoped">
            #about-new-plan tbody th { width: 150px; max-width: 150px; min-width: 150px; }
            #about-new-plan tbody td:last-child { width: 550px; max-width: 550px; min-width: 550px; }
        </style>
        <h2>Monaca料金プランの改定について</h2>
            <p>Monacaはこれまで、ご利用の開発者の皆様に快適にモバイルアプリ開発を行っていただけるようサービスの提供を行ってまいりました。お陰をもちまして、登録開発者数も17万人を超え、多くの個人および企業におけるアプリ開発にご利用いただけるようになりました。<br />今後の個人利用から企業導入までの多様なニーズに応えるため、個人向け料金プランと企業向けの料金プランを分けることになりました。
            </p>
            <p>主な料金プランの改定内容は以下の通りです。
            </p>

        <h3>新設されるプラン</h3>
        <div class="scroll">
        <table>
            <thead>
                <tr><th rowspan="2">プラン名</th><th colspan="3">料金</th><th rowspan="2">内容</th></tr>
                <tr><th>月額</th><th>6ヶ月</th><th>年額</th></tr>
            </thead>
            <tbody>
                <tr><th><p>Freeプラン</p></th><td colspan="3"><b>無料</b></td>
                    <td><p>個人開発者を対象としたプランです。従来のBasicプラン同様に無料でアプリ開発を行うことが可能です。<br />Basicプランとは一部提供機能が変更になります。</p>
                        <p style="margin-top: 10px;">※現Basicプランユーザの皆様は、2017年6月1日以降はFreeプランに自動的に移行されます。</p></td></tr>
                <tr><th><p>Proプラン</p></th><td><b>2,160円</b></td><td>-</td><td><b>21,600円</b></td>
                    <td><p>高度なアプリ開発を行う個人開発者を対象としたプランです。従来、Goldプラン以上ではないとご利用いただけなかった、Monaca Localkitやカスタムプラグインなど、高度なアプリ開発機能がご利用いただけます。</p></td></tr>
                <tr><th><p>Businessプラン</p></th><td><b>7,560円〜</b></td><td><b>41,580円〜</b></td><td><b>75,600円〜</b></td>
                    <td><p>企業やチームでの導入のためのプランです。従来のMonacaクラウド全機能に加え、開発者アカウントの管理やCIチケット管理など管理機能が提供されます。また、オプションでMonacaエンタープライズプラグインのご利用も可能です。</p>
                        <p style="margin-top: 10px;">※左記料金には1開発者ライセンスが含まれます。</p>
                    </td></tr>
            </tbody>
        </table>
        </div>

        <h3>価格変更となるプラン</h3>
        <div class="scroll">
        <table>
            <thead>
                <tr><th rowspan="2">プラン名</th><th colspan="2">料金&nbsp;/&nbsp;月</th><th rowspan="2">内容</th></tr>
                <tr><th>変更後</th><th>現在(変更前)</th></tr>
            </thead>
            <tbody>
                <tr><th><p>Enterpriseプラン</p></th><td><b>108,000円〜</b></td><td>162,000円〜</td>
                    <td>
                        <p>Monaca Enterpriseプランのご利用料金が大幅に値下がりとなりました。</p>
                        <p style="margin-top: 10px;">※左記料金には5開発者ライセンスが含まれます。</p>
                    </td></tr>
            </tbody>
        </table>
        </div>

        <h3>終了となるプラン</h3>
        <p>下記プランのお申し込みは2017年5月31日で終了となります。</p>
        <p>
            <ul>
                <li>Basicプラン</li>
                <li>Personalプラン</li>
                <li>Goldプラン</li>
                <li>Platinumプラン</li>
            </ul>
        </p>

        <h3>今回変更のないプラン</h3>
        <p>下記プランは引き続きご利用いただけます。</p>
        <p>
            <ul>
                <li>Educationプラン</li>
            </ul>
        </p>
        <br />
        <br />
        <p>この度の料金プランの改定について、ご理解を賜りますよう、お願い申し上げます。</p>
    </section>

    <section id="new-plan-compare-in-detail">
        <style scoped="scoped">
            #new-plan-compare-in-detail tbody th { min-width: 221px; }
            #new-plan-compare-in-detail td { min-width: 191px; }
        </style>
        <h2>新料金プランの比較</h2>
        <p>Educationプランの料金比較は<a href="https://edu.monaca.io/price#pg-29-1" target="_blank">こちら</a>。</p>
        <p>以下の比較表は、2017年3月時点での予定です。</p>
        <br />

        <h3>料金・決済方法</h3>
        <div class="scroll">
        <table>
            <thead>
                <tr><th rowspan="2">サービス名</th><th colspan="2">個人向けプラン</th><th colspan="2">企業向けプラン</th></tr>
                <tr><th>Freeプラン</th><th>Proプラン</th><th>Businessプラン</th><th>Enterpriseプラン</th><!--th>Educationプラン</th--></tr>
            </thead>
            <tbody>
                <tr><th><p>2週間の無料トライアル</p></th>
                    <td></td>
                    <td>〇</td>
                    <td>〇<br /><small>※トライアル中のリリースビルドは不可</small></td>
                    <td></td>
                    <!--td>980<span>円</span></td--></tr>
                <tr><th><p>月額ライセンス</p></th>
                    <td></td>
                    <td>2,160<span>円</span></td>
                    <td>7,560<span>円</span></td>
                    <td>108,000<span>円</span></td>
                    <!--td>980<span>円</span></td--></tr>
                <tr><th><p>6ヶ月ライセンス</p></th>
                    <td></td>
                    <td></td>
                    <td>41,580<span>円</span></td>
                    <td>594,000<span>円</span></td>
                    <!--td></td--></tr>
                <tr><th><p>年額ライセンス</p></th>
                    <td></td>
                    <td>21,600<span>円</span></td>
                    <td>75,600<span>円</span></td>
                    <td>1,080,000<span>円</span></td>
                    <!--td>9,800<span>円</span></td--></tr>
                <tr><th><p>開発者ライセンス数</p></th>
                    <td></td>
                    <td></td>
                    <td>1<br /><small>※トライアル中は5</small></td>
                    <td>5</td>
                    <!--td></td--></tr>
                <tr><th><p>追加開発者ライセンス（月額）</p></th>
                    <td></td>
                    <td></td>
                    <td>5,400<span>円</span></td>
                    <td>10,800<span>円</span></td>
                    <!--td></td--></tr>
                <tr><th><p>クレジットカード払い</p></th>
                    <td></td>
                    <td>〇</td>
                    <td>〇</td>
                    <td></td>
                    <!--td></td--></tr>
                <tr><th><p>請求書払い</p></th>
                    <td></td>
                    <td></td>
                    <td>〇<br /><small>※6ヶ月、年額の場合のみ</small></td>
                    <td>〇</td>
                    <!--td>〇<br /><span>※契約期間一括払い</span></td--></tr>
            </tbody>
        </table>
        
        <table>
            <caption>開発ツール / 機能</caption>
            <tbody>
                <tr><th><p>クラウドIDE</p></th><td>〇</td><td>〇</td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>CLI<br />(Command Line Tool)</p></th><td></td><td>〇</td><td>〇</td><td>〇</td><!--td></td--></tr>
                <tr><th><p>Monaca Localkit</p></th><td></td><td>〇</td><td>〇</td><td>〇</td><!--td></td--></tr>
                <tr><th><p>Monaca for Visual Studio<br />(VS 全エディション対応)</p></th><td>Community版のみ</td><td>〇</td><td>〇</td><td>〇</td><!--td>Community版のみ</td--></tr>
                <tr><th><p>プロジェクト数</p></th><td>3</td><td>10</td><td>100<span>/開発者</span></td><td>100<span>/開発者</span></td><!--td>20</td--></tr>
                <tr><th><p>Monaca デバッガー</p></th><td>〇</td><td>〇</td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>Monaca デバッガー接続数</p></th><td>1</td><td>2</td><td>無制限</td><td>無制限</td><!--td>5</td--></tr>
                <tr><th><p>ソースコードバックアップ</p></th><td>1<span>バージョン</span></td><td>50<span>バージョン</span></td><td>50<span>バージョン</span></td><td>50<span>バージョン</span></td><!--td>50<span>バージョン</span></td--></tr>
                <tr><th><p>ソースコードバックアップ<br />保存期間</p></th><td>1<span>日</span></td><td>1<span>ヶ月</span></td><td>1<span>ヶ月</span></td><td>1<span>ヶ月</span></td><!--td>1<span>ヶ月</span></td--></tr>
                <tr><th><p>クラウドビルド制限</p></th><td>3<span>/日</span></td><td>無制限</td><td>無制限</td><td>無制限</td><!--td>無制限</td--></tr>
                <tr><th><p>デバッグビルド</p></th><td>〇</td><td>〇</td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>アドホックビルド</p></th><td>〇</td><td>〇</td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>リリースビルド</p></th><td>〇</td><td>〇</td><td>〇<br /><small>※トライアル期間を除く</small></td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>In-Houseビルド</p></th><td></td><td></td><td>〇</td><td>〇</td><!--td></td--></tr>
                <tr><th><p>iOSアップロード</p></th><td></td><td>〇<br /><span>※プロジェクト単位課金</span></td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>カスタムプラグイン</p></th><td></td><td>〇</td><td>〇</td><td>〇</td><!--td></td--></tr>
                <tr><th><p>プラグインバージョン選択</p></th><td></td><td>〇</td><td>〇</td><td>〇</td><!--td></td--></tr>
                <tr><th><p>エクスポート</p></th><td></td><td>〇</td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>Cordovaバージョン</p></th><td>最新2バージョンのみ</td><td>最新2バージョンのみ<!--br />オプションでステイ可能--></td><td>旧版も利用可能</td><td>旧版も利用可能</td><!--td>最新版のみ</td--></tr>
                <tr><th><p>ストレージ ※1</p></th><td>250<span>MB</span></td><td>1<span>GB</span></td><td>10<span>GB/開発者</span></td><td>10<span>GB/開発者</span></td><!--td>〇</td--></tr>
                <tr><th><p>プロジェクト自動退避 ※2</p></th><td>〇</td><td></td><td></td><td></td><!--td>?</td--></tr>
                <tr><th><p>自動退避された<br />プロジェクトの復旧</p></th><td></td><td>〇</td><td>〇</td><td>〇</td><!--td>?</td--></tr>
            </tbody>
        </table>

        <table>
            <caption>バージョン管理 (GitHub)</caption>
            <tbody>
                <tr><th><p>GitHub サポート</p></th><td>〇</td><td>〇</td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>GitHub publicレポジトリ</p></th><td>〇</td><td>〇</td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>GitHub privateレポジトリ</p></th><td></td><td>〇</td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>GitHub organization<br />レポジトリ</p></th><td></td><td></td><td>〇</td><td>〇</td><!--td></td--></tr>
            </tbody>
        </table>

        <table>
            <caption>企業向けプラン機能</caption>
            <tbody>
                <tr><th><p>開発者アカウント管理</p></th><td></td><td></td><td>〇</td><td>〇</td><!--td></td--></tr>
                <tr><th><p>サポート/CIチケット管理</p></th><td></td><td></td><td>〇</td><td>〇</td><!--td></td--></tr>
                <!--tr><th><p>アクセス制限（IP制限）</p></th><td></td><td></td><td></td><td>〇</td><td></td></tr>
                <tr><th><p>プロジェクト共有先制限</p></th><td></td><td></td><td></td><td>〇</td><td></td></tr>
                <tr><th><p>テンプレート共有</p></th><td></td><td></td><td></td><td>〇</td><td></td></tr>
                <tr><th><p>プラグイン共有</p></th><td></td><td></td><td></td><td>〇</td><td></td></tr-->
                <tr><th><p>Monaca Enterpriseプラグイン</p></th><td></td><td></td><td>〇<br /><span>※プロジェクト単位課金</span></td><td>無制限<br /><span>※同一企業内利用</span></td><!--td></td--></tr>
                <tr><th><p>企業向けプランユーザーに<br />プロジェクト共有（開発者権限）</p></th><td></td><td></td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>企業向けプランユーザーに<br />プロジェクト共有（テスター権限）</p></th><td></td><td></td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>個人向けプランユーザーに<br />プロジェクト共有（開発者権限）</p></th><td></td><td></td><td></td><td></td><!--td>〇</td--></tr>
                <tr><th><p>個人向けプランユーザーに<br />プロジェクト共有（テスター権限）</p></th><td></td><td></td><td>〇</td><td>〇</td><!--td>〇</td--></tr>

            </tbody>
        </table>

        <table>
            <caption>バックエンドサービス</caption>
            <tbody>
                <tr><th><p>プッシュ通知 ※3</p></th><td>1,000<span>/月</span></td><td>1,000<span>/月</span></td><td>100,000<span>/月</span></td><td>100,000<span>/月</span></td><!--td>1000<span>/月</span></td--></tr>
                <tr><th><p>APIコール数 ※4</p></th><td>100,000<span>/月</span></td><td>100,000<span>/月</span></td><td>5,000,000<span>/月</span></td><td>5,000,000<span>/月</span></td><!--td>10,000<span>/月</span></td--></tr>
                <tr><th><p>バックエンド数</p></th><td>3</td><td>10</td><td>無制限</td><td>無制限</td><!--td>10</td--></tr>
                <!--tr><th><p>ユーザー管理</p></th><td>〇</td><td>〇</td><td>〇</td><td>〇</td><!--td>?</td--></tr>
                <tr><th><p>データコレクション<br/>（クラウドデータベース）</p></th><td>〇</td><td>〇</td><td>〇</td><td>〇</td><!--td>?</td--></tr-->
                <tr><th><p>バックエンドマネジメントAPI</p></th><td></td><td></td><td>〇</td><td>〇</td><!--td>?</td--></tr>
            </tbody>
        </table>

        <table>
            <caption id="support-and-service">サポート & サービス</caption>
            <tbody>
                <tr><th><p>コミュニティフォーラム</p></th><td>〇</td><td>〇</td><td>〇</td><td>〇</td><!--td>〇</td--></tr>
                <tr><th><p>技術サポート</p></th><td></td><td>〇</td><td>〇</td><td>〇</td><!--td></td--></tr>
                <tr><th><p>無料サポートチケット</p></th><td></td><td>0<span>枚</span></td><td>1<span>枚/30分</span></td><td>1<span>枚/30分</span></td></tr>
                <tr><th><p>サポートチケットの追加<br />（有効期限1年間）</p></th><td></td><td>都度購入<br /><span>1枚</span>10,800<span>円/</span>30<span>分</span>
                </td><td>事前購入<br /><span>1枚</span>10,800<span>円/</span>30<span>分</span></td><td>事前購入<br /><span>1枚</span>10,800<span>円/</span>30<span>分</span></td></tr>
                <tr><th><p>サポートチケットまとめ買い<br />（有効期限1年間）</p></th>
                    <td></td><td></td><td colspan="2"><div style="display: flex; justify-content: center;">
                        <div style="text-align: left;">
                        10<span>チケットパック/</span>5<span>時間</span>:  <br />
                        50<span>チケットパック/</span>25<span>時間</span>:  <br />
                        100<span>チケットパック/</span>50<span>時間</span>: 
                        </div>
                        <div style="text-align: left; margin-left: 10px;">
                        108,000<span>円</span><br />
                        486,000<span>円</span><br />
                        864,000<span>円</span>
                        </div>
                    </div></td>
                </tr>
            </tbody>
        </table>

        <table>
            <caption id="enterprises-plugin">エンタープライズプラグイン（Businessプラン対象）</caption>
            <tbody>
                <tr><th><p>アプリロジック暗号化</p></th><td></td><td></td><td>97,200円<span>/アプリ/年</td><td rowspan="3">Enterpriseプランでは<br />契約企業内で無制限に<br />ご利用いただけます。</td></tr>
                <tr><th><p>セキュアストレージ</p></th><td></td><td></td><td>97,200円<span>/アプリ/年</td></tr>
                <tr><th><p>In-Appアップデーター</p></th><td></td><td></td><td>97,200円<span>/アプリ/年</td></tr>
            </tbody>
        </table>

        <table>
            <caption>継続的インテグレーション（CI）</caption>
            <tbody>
                <tr><th><p>利用可能回数</p></th><td>10<span>ビルド/月<span></td><td>10<span>ビルド/月<br />＋<br />追加チケット<br /></span>5,400<span>円/</span>50<span>回</span><span></td><td>30<span>ビルド/月<br />＋<br />追加チケット<br /></span>5,400<span>円/</span>50<span>回</span></td><td>30<span>ビルド/月<br />＋<br />追加チケット<br /></span>5,400<span>円/</span>50<span>回</span></td><!--td>10<span>ビルド/月<span></td--></tr>
            </tbody>
        </table>

        <table>
            <caption>その他</caption>
            <tbody>
                <tr><th><p>カスタマイズ対応</p></th><td></td><td></td><td></td><td>専用ビルドサーバー<br />一部オンプレ提供など<br />応相談</td><!--td></td--></tr>
            </tbody>
        </table>
        </div>

        <p style="font-size: 85%;">
            ※1 ストレージは共有の領域に確保されます。専用ストレージは別途お見積り下さい。<br />
            ※2 Freeプランの場合、180日以上ログインしていない利用者の方を対象にプロジェクトデータ一式がアーカイブストレージに移動され、ダッシュボードから利用できなくなります。<br />
            ※3 Monacaバックエンドからプッシュ通知を送信できる回数となります。プッシュ通知回数は送信された端末数でカウントされます。<br />
            ※4 「Monaca バックエンドAPI」「バックエンドマネジメントAPI」を呼び出せる回数となります。
        </p>
    </section>

    <!-- Q&Aよくあるご質問と回答を戻すときに、section style="border-bottom: none; margin-bottom: 60px;"のstyleをけしてください。 -->
    <section style="border-bottom: none; margin-bottom: 60px;">
        <h2>現Personalプラン、Goldプラン、Platinumプランご利用アカウントについて</h2>
        <p>現在有償プランでご利用いただいているアカウントは引き続き現在の料金プランでご利用いただけます。新料金プランに変更いただくことも可能です。</p>
        <p>新料金プランに変更後、旧プランに再度変更することはできません。</p>
        <br /><br />
    <!--/section>

    <section class="q-and-a">
        <h2>Monaca料金プラン変更に関するQ&A</h2>
        <p>Monaca料金プラン変更に関していただいたご質問と回答をご紹介します。今回の料金プラン変更に関しましてご不明な点などございましたら、お気軽にご質問ください。</p-->

        <a href="/support/inquiry.html" type="button" class="btn btn-blue">このページに関するお問い合わせ</a>

        <!--h3>Q&Aよくあるご質問と回答</h3>
        <ul><li>
            <ol><li><p><span>Q</span><span>支払い方法は、Enterpriseプラン以外はクレジットカードのみでしょうか？</span></p></li>
                <li><p><span>A</span><span>支払い方法は、Enterpriseプラン以外にBusinessプランの年額契約の場合も請求書払いが可能です。</span></p></li></ol>
    　　　　</li></ul-->
    </section>

</div>
