---
title: Monaca料金プラン変更のお知らせ | Monaca
class: important-info
description: 2017年4月27日よりMonacaの料金プランが改定されることになりましたのでお知らせします。
---

<div id="main-container">

<h1>Monaca料金プラン変更のお知らせ</h1>
<p>この度、2017年4月27日よりMonacaの料金プランが改定されることになりましたのでお知らせします。現在、Monacaの有償プランのアカウントはプラン変更なしに、引き続き現料金プランのままご利用いただくこともできます。
</p>
<h2>Monaca料金プランの改定について</h2>
<p>Monacaではこれまで、ご利用の開発者の皆様に快適にモバイルアプリ開発を行ってまいりました。お陰様をもちまして、登録開発者数も17万人を超え、多くの個人開発者、企業におけるアプリ開発にご利用いただけるようになりました。
</p>
<p>今後の個人利用から企業導入までの多様なニーズに応えるため、個人向け料金プランと企業向けの料金プランを分けることになりました。
</p>
<p>主な料金プランの改定内容は以下の通りです。
</p>
<h3>新設されるプラン</h3>
<table>
    <thead>
        <tr><th>プラン名</th><th>料金</th><th>内容</th></tr>
    </thead>
    <tbody>
        <tr><td>Monaca Free</td><td>無料</td>
            <td>個人開発者を対象としたプランです。従来のBasicプラン同様に無料でアプリ開発を行うことが可能です。<br />Basicプランとは一部提供機能が変更になります。<br />※現Basicプランユーザの皆様は、2017年4月27日以降はFreeプランに自動的に移行されます。</td></tr>
        <tr><td>Monaca Pro</td><td>2,160円/月、21,600円/年</td>
            <td>高度なアプリ開発を行う個人開発者を対象としたプランです。従来、Goldプラン以上ではないとご利用いただけなかった、Monaca Localkitやカスタムプラグインなど、高度なアプリ開発機能がご利用いただけます。</td></tr>
        <tr><td>Monaca Business</td><td>7,560円/月〜、75,600円/年〜</td>
            <td>企業やチームでの導入のためのプランです。従来のMonacaクラウド全機能に加え、開発者アカウントの管理機能など管理機能が提供されます。また、オプションでMonacaエンタープライズプラグインのご利用も可能です。</td></tr>
    </tbody>
</table>
<h3>価格変更となるプラン</h3>
<table>
    <thead>
        <tr><th>プラン名</th><th>料金</th><th>内容</th></tr>
    </thead>
    <tbody>
        <tr><td>Monaca Enterprise</td><td>108,000円/月〜</td>
            <td>Monaca Enterpriseプランのご利用料金が108,000円/月〜に大幅に値下がりになりました。</td></tr>
    </tbody>
</table>
<h3>終了となるプラン</h3>
<p>下記プランのお申し込みは2017年4月26日で終了となります。</p>
<ul>
    <li>Basicプラン</li>
    <li>Personalプラン</li>
    <li>Goldプラン</li>
    <li>Platinumプラン</li>
</ul>
<h3>今回変更のないプラン</h3>
<p>下記プランは引き続きご利用いただけます。</p>
<ul>
    <li>Educationプラン</li>
</ul>

<p>この度の料金プランの改定について、ご理解を賜りますよう、お願い申しあげます。</p>

<h2>新料金プランの機能比較</h2>
<p>// 詳細の表、Educationも入れる</p>

<h2>現Personalプラン、Goldプラン、Platinumプランご利用アカウントについて</h2>
<p>現在有償プランでご利用いただいているアカウントは引き続き現在の料金プランでご利用いただけます。新料金プランへの変更いただくことも可能です。</p>

<h2>Monaca料金プラン変更に関するQ&A</h2>
<p>Monaca料金プラン変更に関していただいたご質問と回答をご紹介します。今回の料金プラン変更に関しましてご不明な点などございましたら、お気軽にご質問ください。</p>
<button type="button">質問をする</button>
Q:<br />
A:
</div>