---
title: Monaca - HTML5モバイルアプリ開発プラットフォーム
class: support
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---

<section id="support-inquiry" class="subpage">
  <div class="container">
    <h1>ありがとうございました</h1>
    <p>
    サポート依頼を受け付けました。内容に応じて担当より返信差し上げます。
    </p>
  </div>
</section>