---
title: Monaca - HTML5モバイルアプリ開発プラットフォーム
class: register
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<section id="resend-comfirm-mail" class="subpage">
  <div class="container">
    <h1>確認メールを送信しました</h1>
    <p>5秒後に元の画面に戻ります。</p>
  </div>
</section>