---
title: Monacaへようこそ | MonacaでHTML5モバイルアプリ開発
class: register
description: さっそくMonacaを使ってみよう! - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<div id="main-wrap">
<section id="signup-start">
  <h3>さっそく<br class="hidden-sm hidden-md hidden-lg" />Monacaを<br class="hidden-sm hidden-md hidden-lg" />使ってみよう!</h3>
  <h4>クロスプラット<br class="hidden-sm hidden-md hidden-lg" />フォーム時代の<br class="hidden-sm hidden-md hidden-lg" />アプリ開発</h4>
  <div class="container">
    <h2>アカウント作成</h2>
    <form class="signup-form" method="post" action="/ja/register/start">
      <ul><li class="email"><input type="text" name="register[email]" placeholder="メールアドレス" class="email" id="register_email" /></li>
        <li><input type="password" name="register[password]" placeholder="パスワード" class="password" id="register_password" /></li>
        <li><input type="password" name="register[password_confirm]" placeholder="パスワード再入力" class="password" id="register_password_confirm" /></li>
        <li class="terms" style="font-size: 13px;"><label for="agree_policy"><a href="/terms-of-service/" target="_blank">Monacaの利用規約</a>に同意の上、アカウントの作成をお願いします。</label></li>
        <li class="right submit"><button type="submit" class="btn-orange">いますぐ登録 <small>(無料)</small></small></button></li>
      </ul>
      <input type="hidden" name="register[_csrf_token]" value="" id="register__csrf_token">
      <script>
        var csrf_token = "31ce5160833edbaf2226f6ab0a5ba3ca";
        document.getElementById("register__csrf_token").value = csrf_token;
      </script>
    </form>
  </div>
  <div class="copyright">&copy; 2011-2016 <a href="/page/company" target="_blank">Asial Corporation</a>. All rights reserved.</div>
</section>
</div>