---
title: Monaca - HTML5モバイルアプリ開発プラットフォーム
class: register
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---

<section id="resend-comfirm-mail" class="subpage">
  <div class="container">
    <h1>確認メールを送信しました</h1>

    <p>
      確認メールを<span id="register-demand-email"></span>に送信しました。<br>
      送信された確認メール内に記載されたURLにアクセスし、登録の完了をお願いいたします。<br>
      再送する場合は、以下のボタンをクリックしてください。
    </p>

    <div style="text-align: center; margin-top: 24px;">
      <form>
        <input class="btn-blue" type="button" value="確認メールを再送する" id="demand-resend-btn">
      </form>
    </div>

    <br><br>

    <p>メールアドレスの入力を間違えた場合は、ログアウト後に正しいメールアドレスでご登録ください。</p>

  </div>
</section>
