---
title: Monaca - モバイル、PC、Webアプリのクロスプラットフォーム開発
class: platform
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
show_ja_subnav: true
show_monaca_description: false # Parameter for section_monaca_ja
---

<div class="v2-section--keyvisual">
    <div class="v2-section--keyvisual__wrapper">
        <div class="title">
            <div class="v2-section--keyvisual__subtitle">Web技術 × クロスプラットフォーム</div>
            <div class="v2-section--keyvisual__title long">アプリ開発をより速く、より簡単に</div>
            <div class="v2-section--keyvisual__title short">アプリ開発ツールの決定版</div>
            <div class="v2-section--keyvisual__description">
                Monacaは20万人以上のWeb技術者に選ばれた<span class="wide-screen"></span>
                モバイル、デスクトップ、PWA向けアプリ開発環境です
            </div>
        </div>
        <div class="box">
            <div class="trial">
                <div class="title">Web技術で幅広いアプリ開発に対応！</div>
                <div class="description">モバイルアプリ（iOS、Android）だけでなく、デスクトップアプリとPWA（Progressive Web Apps）にも対応。様々なアプリ開発が同時に行えます。</div>
                <a class="box-button v2-section--keyvisual__trial-button" href="https://monaca.mobi/ja/signup" onclick="gtag('event', 'view_item', {'event_category': 'engagement','event_label': 'trial-start'});">無料トライアル</a>
            </div>
            <div class="app">
                <div class="title">アプリ開発支援サービス登場！</div>
                <div class="description">Monaca開発のスペシャリストがあなたの開発をサポートします。プラグイン開発、トレーニング、UI/UX支援、DevOps構成など、ニーズにあわせてお選びください。</div>
                <a class="box-button v2-section--keyvisual__app-development" href="/dev-support/" onclick="gtag('event', 'view_item', {'event_category': 'engagement','event_label': 'dev-inquiry'});">アプリ開発サービスへ</a>    
            </div>
        </div>
    </div>
</div>
<div class="v2-section--logos">
    <div class="v2-section--logos__wrapper">
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo1_jnb.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo2_tvasahi.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo3_fujitsu.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo4_fujitec.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo5_asics.png');"></div>
        </span>
        <span class="v2-section--logos__logo">
            <div class="v2-section--logos__logo-inner" style="background-image: url('/img/index-v2/logo6_unisys.png');"></div>
        </span>
    </div>
</div>
<div class="v2-section--html5">
    <div class="v2-section--html5__wrapper">
        <div class="v2-section--html5__left-side">
            <div class="v2-section--html5__title">
                Web技術でiOS、Android、PC向けのアプリを同時開発
            </div>
            <div class="v2-section--html5__description">
                HTML5、JavaScriptなどのWeb標準言語でモバイルアプリ開発を行うことで、開発コスト高騰や技術者不足などアプリ開発に関わる課題が解決できます。モバイルアプリだけでなく、PC（Windows、MacOS、Linux）とProgressive Web Apps（PWA）にも対応します。
            </div>
            <div class="v2-section--html5__navigation">
                <a href="/features/html5.html">Monacaの技術的な特徴<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
            </div>
        </div>
        <div class="v2-section--html5__right-side">
            <div class="v2-section--html5__image"></div>
        </div>
    </div>
</div>
{{> section_monaca_ja }}
<div class="v2-section--apps">
    <div class="v2-section--apps__wrapper">
        <div class="v2-section--apps__title">20万人の開発者による<br>9万個を超えるアプリが誕生</div>
        <div class="v2-section--apps__app-container">
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app1.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app2.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app3.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app4.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app5.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app6.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app7.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app8.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app9.png');"><a href="/great-apps.html"></a></div>
            <div class="v2-section--apps__app" style="background-image: url('/img/index-v2/ico-app10.png');"><a href="/great-apps.html"></a></div>
        </div>
        <div class="v2-section--apps__navigation">
            <a href="/great-apps.html">もっと見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
        </div>
    </div>
</div>
<div class="v2-section--customers">
    <div class="v2-section--customers__wrapper">
        <div class="v2-section--customers__title">Monacaの導入事例</div>
        <div class="v2-section--customers__description">あらゆる業種の企業や団体の<br />モバイルアプリに活用されています</div>
        <div class="v2-section--customers__customer-container">
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-fujitec@2x.png');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_fujitec.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    モバイルファーストな情報システム内製化基盤にMonacaを採用
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/fujitec.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-nijibox@2x.png');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_nijibox.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    エンジニア1名、実工数2週間でWebサービスをモバイルアプリ化
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/nijibox.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-future@2x.png');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_future.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    金融機関向けの渉外支援システムのアプリ対応工数を2/3に圧縮
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/naganobank.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
            <div class="v2-section--customers__customer">
                <div class="v2-section--customers__customer-logo" style="background-image: url('/img/index-v2/section4_logo-tvasahi@2x.png');">
                </div>
                <div class="v2-section--customers__customer-face" style="background-image: url('/img/index-v2/img_tvasahi.jpg');">
                </div>
                <div class="v2-section--customers__customer-description">
                    ネイティブ開発に比べてアプリ開発コストを半分に圧縮
                </div>
                <div class="v2-section--customers__customer-navigation">
                    <a href="/showcase/tvasahi.html">詳しく見る<img src="/img/common-v2/ico_next_arrow2.svg" style="margin-left: 7px;" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="v2-section--closing">
    <div class="v2-section--closing__wrapper">
        <div class="v2-section--closing__title">いますぐMonacaを試してみましょう。</div>
        <a class="v2-section--closing__trial-button" href="https://monaca.mobi/ja/signup">無料トライアル</a>
    </div>
</div>
{{> section_specials_ja }}