---
title: アプリ開発のご依頼
class: service
description: Monacaサポート＆サービス - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---

  <section id="support-inquiry" class="subpage">
  <div class="container">
    <h1>アプリ開発のご依頼</h1>

    <div id="content" style="overflow: hidden;">
      <form class="feedback-form service-form" method="post" action="" id="serviceForm">

        <div class="feedback-item service-item">
          <h2>以下の内容を全てご記入後、「送信する」ボタンを押してください</h2>
          <div class="clearfix">
            <label for="name" class="form-label-inline">お名前<span class="required">*</span></label>
            <input type="text" name="sei" id="name" class="half" placeholder="性" />
            <input type="text" name="mei" id="name" class="half" placeholder="名"/>
            <p class="form-error">お名前を入力してください。</p>
          </div>
          <div class="clearfix">
            <label for="name-kana" class="form-label-inline">お名前(カナ)<span class="required">*</span></label>
            <input type="text" name="sei_kana" id="name-kana" class="half" placeholder="セイ" />
            <input type="text" name="mei_kana" id="name-kana" class="half" placeholder="メイ"/>
            <p class="form-error">お名前（カナ）を入力してください。</p>
          </div>
          <div class="clearfix">
            <label for="company" class="form-label-inline">会社名<span class="required">*</span></label>
            <input type="text" name="company" id="company" class="email" />
            <p class="form-error">会社名・組織名を入力してください。</p>
          </div>
          <div class="clearfix">
            <label for="tel" class="form-label-inline">電話番号<span class="required">*</span></label>
            <input type="text" name="tel" id="tel" class="halfname" />
            <p class="form-error">電話番号を入力してください。</p>
          </div>
          <div class="clearfix">
            <label for="email" class="form-label-inline">メールアドレス<span class="required">*</span></label>
            <input type="text" name="email" id="email" class="half" />
            <p class="form-error">メールアドレスを入力してください。</p>
            <span class="feedback-form-email-notice">※法人対象サービスのため、フリーメールアドレスの入力はご遠慮ください。</span>
          </div>
          
          <div class="clearfix">
            <label for="budget" class="form-label-inline">ご予算<span class="required">*</span></label>
            <select id="budget" name="budget" class="half" style="float: left; border:1px solid #ccc;margin-bottom:0;">
              <option value="">選択してください</option>
              <option value="-500">500万円未満</option>
              <option value="500-1000">~ 1000万円</option>
              <option value="1000-1500">~ 1500万円</option>
              <option value="1500-2000">~ 2000万円</option>
              <option value="2000-">2000万円以上</option>
            </select>
            <p class="form-error">ご予算を入力してください。</p>
          </div>
        </div>

        <div class="feedback-item feedback-text service-item">
          <table>
            <tr>
              <td class="label">
                <label for="comment">ご相談<span class="required hidden-break">*</span><br class="hidden-break"><span class="row-indent">お問い合わせ内容</span></label>
              </td>
              <td>
                <p>アプリ開発に関するご相談内容をお書きください。</p>
                <p class="form-error-detail">ご相談内容を入力してください。</p>
              </td>
            </tr>
            <tr>
              <td class="label hidden-break"></td>
              <td>
                <textarea rows="4" cols="30" name="comment" id="comment" placeholder="ここに内容を記入してください"></textarea>
              </td>
            </tr>
          </table>
        </div>

        <div class="form-footer">
          <input id="send_feedback" name="submit" class="btn-blue" type="button" value="送信する" style="height: 40px; width: 200px; line-height: 30px;" />
        </div>
      </form>
    </div>
  </div>
</section>