---
title: Onsen UI 2 Tutorial Contest | Submit Your Article and Win a Prize! - Monaca
class: contest-onsenui2
description: Onsen UI 2 Tutorial Contest/Write Tutorial, Tips or Reviews! And win a prize!
viewport: width=1200px
hideHeader: true
hideFooter: true
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section class="ninja">

<div class="keyvisual">
  <h1><img src="/img/contest-onsenui2/keyvisual_201609.png" alt="Onsen UI 2 Tutorial Contest/Write Tutorial, Tips or Reviews! And win a prize!" /></h1>

  <div class="social">
    <div class="fb-like" data-href="http://monaca.mobi/en/contest/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    <a href="https://twitter.com/share" class="twitter-share-button"  rel="nofollow" data-text="Monaca x Onsen UI App Ninja Contest - Make a great hybrid app and win a prize!" data-lang="en" data-related="asialnews" data-url="http://monaca.mobi/en/contest/">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="g-plusone-wrap"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div>
    <script type="text/javascript">
      window.___gcfg = {lang: 'en'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </div><!-- /social -->
</div>
<div id="signature">
  <div class="signature-cont">
    <p>
      Did you wish you could find more info when you get started with Onsen UI? Now that you’ve got some Onsen 2 experience under your belt, let’s help other developers to learn Onsen 2.  By giving back to the developer community, you also have a chance to win a prize!
    </p>
  </div>
</div>


<div id="about" class="sec-h2">
  <div class="keyvisual-cont">
    <h2>Guideline</h2>
    <p>Feel free to write/talk about Onsen UI anywhere, in any length, language and format. Anything that helps new users start developing with Onsen UI will do!</p>

    <h3>Stage 1: From September 15th to 30th, 2016</h3>
    <p>Anything from a basic introductory content to jedi stuff :)  Basic topic examples include: “What is Onsen UI?”, “How-to: Simple app with Onsen UI”, “Why I like Onsen UI”, and “3 things you should know about Onsen UI.”</p>

    <h3>Stage 2: From October 1st to 31st, 2016</h3>
    <p>We’d love to focus more on intermediate or advanced materials in this stage, something like our blog posts. Show your deep experience of using Onsen UI!</p>

  </div>
</div>

<div id="outline-bg">
  <div id="outline" class="sec-h2">
    <h2>Contest Details</h2>

    <h3>Submission</h3>
    <ul class="submission-list">
    <li>Send the URL of your published post/article/video via online form by clicking the button on this page.</li>
    <li>You can publish it anywhere - your own blog (if you don’t blog, create one in <a href="https://pages.github.com/" target="_blank">GitHub pages</a>, <a href="https://medium.com/" target="_blank">Medium</a> or wherever you like), someone else’s blog, tech media, tutorial sites like <a href="https://www.pluralsight.com/" target="_blank">PluralSight</a>, online course like <a href="http://udemy.com" target="_blank">Udemy</a>, <a href="http://youtube.com" target="_blank">YouTube</a>, etc.</li>
    <li>Multiple submissions are permitted. More chances to win!</li>
    </ul>

    <h3>Duration</h3>
    <ul>
    <li>Stage 1: September 15 to September 30, 2016 (US Pacific Time)</li>
    <li>Stage 2: October 1 to October 31, 2016 (US Pacific Time)</li>
    </ul>

    <h3>Prizes</h3>
    <p>Each stage has its own selection of winners. Winners get to choose their prizes from:</p>

    <ul style="line-height: 140%;">
      <li>Tokyo tour guided by Onsen UI team (Airfare and accommodation not included)</li>
      <li>Amazon Gift Card (50 USD)</li>
      <li>Onsen UI team T-shirt</li>
      <li>Monaca Gold Plan subscription for 6 months</li>
      <li>Gift box from Monaca X Onsen team</li>
    </ul>
    <br />
    <ul style="line-height: 140%;">
    <li style="list-style-type: none;">+&nbsp;You will be recognized and featured in our Community Forum, Blog, Twitter etc.</li>
    </ul>
    <br />
    <p>Winners will be selected by Onsen UI team. Main considerations are overall quality and usefulness of the post/article/video. In addition, the number of social shares (e.g. likes, retweets) you get will be a big plus!</p>

  </div>
</div>

<div id="criteria" class="sec-h2"><div>
  <img src="/img/contest-onsenui2/contact_us.png" alt="contact us" />
  <p class="contactus" style="margin:30px 0 0;">Let’s help fellow developers!
Any questions? Please feel free to <a href="/support/inquiry.html" target="_blank">Contact us</a>.</p>

  <p class="btn-area">
    <a class="btn btn-blue btn-big" href="https://goo.gl/forms/eilad7PuHCApAr4s2">SUBMIT</a>
  </p>
</div></div>

</section>

<script src="/js/jquery.smoothScroll.js"></script>

<script src="/js/moment.js"></script>
<script src="/js/jquery.min.js"></script>
<script>

  $(window).load(function() {
   var fadeInSpeed = 400;
   $('div.product-partner span#github-published_at').hide();
   $.ajax({
    url: 'https://api.github.com/repos/monaca/Localkit/releases',
    dataType: 'jsonp',
    success: function(res) {
     $("div.product-partner span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
     $('div.product-partner span#github-published_at a strong').text(res.data[0].name);
     var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
     $('div.product-partner span#github-published_at span').text(dateJa);
     $('div.product-partner span#github-published_at').fadeIn(fadeInSpeed);
   },
   error: function() {
     $('div.product-partner span#github-published_at').hide();
   }
 });
 });
</script>

<script src="https://use.typekit.net/bnp1ujm.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>