---
title: Corporate Membership Terms | HTML5 cross-platform mobile app development with Monaca
class: terms-of-service
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
viewport: width=1200px
---

<div id="main-wrap">
  <section id="privacy" class="subpage">
    <div class="container">
      <h1 style="text-transform: uppercase;">Corporate Membership Terms</h1>
      <div class="headline-nav">
        <a href="/terms-of-service/">Terms of Use</a>
        <a href="/terms-of-service/support.html">Support Terms</a>
        <span class="current">Corporate Membership Terms</span>
        <a href="/terms-of-service/privacy.html">Privacy Policy</a>
      </div>

      <p>
        <b>Article 1 Application of the Terms</b><br>
        The Corporate Membership Terms (the "Terms") are applicable between the Company and any individual corporation, organization, family member, or otherwise (the "Corporate Member") that the Company designates as a user of each service (the "Service") of the development platform "Monaca" which is operated by the Asial Corporation (the "Company").<br>
        <br>
        <b>Article 2 Relationship with the Terms and the Monaca Terms of Use</b><br>
        Matters not set forth in the Terms shall be governed by the "Monaca Terms of Use". The Terms shall prevail in matters set forth in duplicate in the Terms and the "Monaca Terms of Use".<br>
        <br>
        <b>Article 3 Modification of the Terms</b><br>
        If deemed necessary, the Company shall be entitled to modify the Terms at any time without prior notice to the Corporate Member.<br>
        From the time the Terms are revised and posted on the website of the Company, any and all matters related to the Service shall be in accordance with the revised Terms.<br>
        <br>
        <b>Article 4 Application made by a Corporate Member</b><br>
        If a Corporate Member wants to allow an individual designated by the Corporate Member to use the Service, the Corporate Member shall apply for the use of the Service in accordance with the procedures set forth by the Company. The Company shall examine the information that is submitted at the time of applying for the use, and the application shall only be approved if it is determined that it is appropriate for the Corporate Member of the Service. The examination may require the submission of the certificate that the Corporate Member has registered, qualification certificate, and certified copy of the commercial registration and other documents of the Corporate Member.<br>
        <br>
        <b>Article 5 Contract Supervisor and Payment Supervisor</b><br>
        The Corporate Member shall appoint a contract supervisor and payment supervisor (hereinafter collectively referred to as the "Supervisor"), and notify the Company of the name of the Supervisor. The Supervisor shall be deemed to have been delegated the authority by the Corporate Member under the Terms, and any modification to the membership or registered content, billing for usage charges, etc., and any other communication or notifications, etc., between the Company and the Corporate Member shall be made through such Supervisor. Furthermore, if there ever is any change in the Supervisor, in accordance with the instructions of the Company, please follow the specified procedures.<br>
        <br>
        <b>Article 6 Registration of the User ID</b><br>
        The Corporate Member shall register the User ID of the individual allowed to use the Service who is designated by the Corporate Member. When it becomes necessary to change or delete the name on such User ID or add the registration of a User ID due to such reasons as the transfer, retirement, or joining of the Company by such individual (the "ID Subscriber"), please perform the prescribed procedures promptly in accordance with the instructions of the Company. Furthermore, the Company may continue to bill the prescribed user fee for such User ID until the deletion procedures of the User ID are completed.<br>
        <br>
        <b>Article 7 Compliance with the Monaca Terms of Use</b><br>
        The Corporate Member shall ensure that the ID Subscriber complies with the "Monaca Terms of Use". Should the ID Subscriber commit any act that would be in breach of the "Monaca Terms of Use", the Corporate Member shall be held jointly and severally liable with such ID Subscriber.<br>
        <br>
        <b>Article 8 Subscription Fee and Method of Payment</b><br>
        The Corporate Member shall pay a subscription fee in order for the ID Subscriber to be able to use the Service. The subscription fee and method of payment shall be as prescribed separately by the Company.<br>
        The Company may at any time modify the subscription fee, fee structure, and the method of payment, etc., without obtaining the approval of the Corporate Member.<br>
        <br>
        <b>Article 9 Disclosure of Information Used</b><br>
        The Company shall disclose by the method set forth separately by the Company at the request of he Corporate Member the subscription information exchanged with the ID Subscriber (login, logout time, and other information deemed necessary by the Company). The Corporate Member should have the ID Subscriber acknowledge this in advance.<br>
        <br>
        <b>Article 10 Disclosure of Corporate Members Information</b><br>
        If there is any voluntary inquiry about the ID Subscriber that is non-compulsory from an investigative agency, court, bar association, or other person with the legal authority, the Company may disclose to such investigative agency, etc., the trade name, address, and other limited information that the Company knows about the Corporate Member. If as a result of the disclosure there is an inquiry about the Corporate Member from such investigative agency, etc., the Corporate Member shall handle it at its own responsibility including whether or not to comply with the inquiry, and the Company shall not assume any responsibility thereafter. However, if the inquiry has legal force based on Article 218 of the Code of Criminal Procedure or otherwise, the Company may also disclose the information requested with respect to the ID Subscriber.<br>
        <br>
        <b>Article 11 Modification to Membership Information</b><br>
        Please promptly notify the Company in the prescribed manner whenever there is a change, etc., in the trade name, billing address, or the organization in association with a change in the department name, etc. Furthermore, it may be necessary to submit a copy of the commercial registration, etc., when changing the trade name.<br>
        <br>
        <b>Article 12 Suspension of Use</b><br>
        When making a request to delete any individual User ID or suspend the use of the Service (contract termination), except where the Company specifies otherwise, it shall be necessary to either submit the prescribed cancellation notice form or complete the paperwork in person at customer service. After the receipt of the cancellation notice form, the Company shall suspend the use of the User ID that is subject to cancellation on the date stated in such cancellation notice form. Except as otherwise set forth in the "Monaca Terms of Use," the Company shall not make any refund of the subscription fee that has already been received. Once the User ID has been canceled, it may not be restored.<br>
        <br>
        <b>Article 13 Loss of the Benefit of Time</b><br>
        A Corporate Member shall lose the benefit of time at such point it falls under any of the following items. In addition, the Company may immediately cancel any contract established under this Agreement without requiring any further notice and suspend use of the User ID. Furthermore, any exercise of the right to cancel above does not preclude any claims for damages.<br>
        (1) When there is a petition for provisional attachment, attachment, compulsory execution, or execution of a security right, or the party is subject to the notice or delinquency disposition set forth in Article 2 of the Act on Contract for Establishment of Security Interests by Use of Provisional Registration<br>
        (2) When a check or bill is dishonored even once which may result in suspension of transactions by the clearinghouse<br>
        (3) When the party becomes insolvent, suspends payments, or is subject to or files an application for commencement of bankruptcy, civil rehabilitation, or corporate reorganization proceedings<br>
        (4) When the party assigns to another party or suspends all or a significant portion of the business (operations), or dissolves the business for reasons other than a merger<br>
        (5) When it becomes impossible to reach the Supervisor or when the Company has determined that it is likely that it will not be possible to clarify who is in charge due to an organizational change<br>
        (6) When there is a breach of this Agreement, and it causes damage to the Company or any third party as a result of a willful act or negligence<br>
        (7) When there is any breach of this Agreement other than the aforementioned items<br>
        (8) When otherwise the Company has determined that the credit status of the party has or is likely to worsen<br>
        (9) When the party is a crime organization, member of a crime organization, an organization associated with a crime organization, an extortionist, a socially-branded racketeer, crime organization with special abilities, or affiliated with any of the above (collectively referred to as "Anti-Social Forces"), or when the Company has determined there is a transactional, personal, or financial relationship with Anti-Social Forces<br>
        (10) When the party itself or by using Anti-Social Forces uses deception, violent acts, or threatening rhetoric against the Company<br>
        <br>
        <b>Article 14 Damages</b><br>
        When damage is caused to the Corporate Member or ID Subscriber due to the willful acts or gross negligence of the Company, the Company shall compensate the Corporate Member or ID Subscriber for the damages in an amount not to exceed the subscription fees paid up to the Company by such Corporate Member for the period of one (1) year prior to the time the damages are incurred. However, the amount of damages to be paid to the Corporate Member plus the amount of damages to be paid to the ID Subscriber shall not in any case exceed ¥300,000 in total.<br>
        <br>
        <b>Article 15 No Assignment of Rights and Obligations</b><br>
        The Corporate Member shall not allow any third party to succeed the status in this Agreement nor assign to, allow the assumption by, or provide as collateral to, any third party all or part of the rights and obligations arising from the Terms.<br>
        <br>
        <b>Article 16 Governing Law and Court of Jurisdiction</b><br>
        1. The interpretation and application of this Agreement shall be governed by the laws of Japan.<br>
        2. The Tokyo District Court shall be the agreed exclusive and competent court of first instance for any and all disputes over the Service.<br>
        <br>
        <b>Article 17 Submission of the Translations of the Terms</b><br>
        The Company may submit the Terms translated into languages other than Japanese. If there should arise any discrepancy in the terms of use written in a language other than Japanese and the Terms written in Japanese, the provisions in the Terms written in Japanese shall prevail.<br>
        <br>
        September 12, 2013<br>
        Asial Corporation
      </p>


    </div>
  </section>
  <script src="/js/jquery.smoothScroll.js"></script>


  <script src="/js/moment.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script>

    $(window).load(function() {
     var fadeInSpeed = 400;
     $('div.terms-of-service span#github-published_at').hide();
     $.ajax({
      url: 'https://api.github.com/repos/monaca/Localkit/releases',
      dataType: 'jsonp',
      success: function(res) {
       $("div.terms-of-service span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
       $('div.terms-of-service span#github-published_at a strong').text(res.data[0].name);
       var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
       $('div.terms-of-service span#github-published_at span').text(dateJa);
       $('div.terms-of-service span#github-published_at').fadeIn(fadeInSpeed);
     },
     error: function() {
       $('div.terms-of-service span#github-published_at').hide();
     }
   });
   });
  </script>


