---
title: 法人会員規約 | MonacaでHTML5モバイルアプリ開発
class: terms-of-service
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
viewport: width=1200px
---

<div id="main-wrap">
  <section id="privacy" class="subpage">
    <div class="container">
      <h1>法人会員規約</h1>


      <div class="headline-nav">

        <a href="/terms-of-service/">Monaca利用規約</a>

        <a href="/terms-of-service/support.html">Monacaサポート規約</a>

        <span class="current">法人会員規約</span>


        <a href="/terms-of-service/partner.html">Monaca開発パートナー規約</a>
      </div>

      <p>
        <b>第1条　本規約の適用</b><br>
        本規約はアシアル株式会社（以下、当社）が運営する開発プラットフォーム"Monaca"の各サービス（以下、本サービス）を自己の指定する個人に利用させる法人、団体、家族等（以下、法人会員）と当社との間に適用されます。<br>
        <br>
        <b>第2条　本規約とMonaca利用規約との関係</b><br>
        本規約に定めのない事項については、「Monaca利用規約」によるものとします。本規約と「Monaca利用規約」に重複して定められた事項については本規約が優先するものとします。<br>
        <br>
        <b>第3条　規約の変更</b><br>
        当社は、必要と判断した場合には、法人会員にあらかじめ通知することなくいつでも本規約を変更することができるものとします。<br>
        変更後の本規約が当社のウェブサイトに掲載された時点から、本サービスに関する一切の事項は変更後の本規約に従うものとします。<br>
        <br>
        <b>第4条　法人会員の申込</b><br>
        法人会員は、本サービスを自己の指定する個人に利用させる場合、当社が定める手続に従って本サービスの利用を申し込むものとします。当社は利用申込の際に提出いただいた情報を審査の上、本サービスの法人会員にふさわしいと判断する場合にのみ、申込を承認いたします。審査には、法人会員の印鑑証明書、資格証明書、商業登記簿謄本その他の書類をご提出いただく場合があります。<br>
        <br>
        <b>第5条　契約担当者と支払担当者</b><br>
        法人会員は、契約担当者および支払担当者（以下、総称して、担当者）を選任し、当社に担当者の名前を通知します。担当者は、本規約に関する法人会員の権限を委任されたものと看做し、入会、登録内容の変更、利用料金等の請求、その他当社と法人会員との間の連絡、通知等は当該担当者を通じて行うものとします。なお、担当者の変更については、当社の指示に従い、所定の手続を行ってください。<br>
        <br>
        <b>第6条　利用者IDの登録</b><br>
        法人会員は、本サービスを利用させる自己の指定する個人の利用者IDを、許諾された利用者数を越えない範囲で登録することができます。当該個人（以下、ID登録者）の異動、退社、入社等により、該当する利用者IDの名義変更もしくは削除または利用者IDの追加登録が必要となった場合は、当社の指示に従い、速やかに所定の手続を行ってください。なお、利用者IDの削除手続がなされない限り、当社は、当該利用者IDについて、所定の利用料金を請求できるものとします。<br>
        <br>
        <b>第7条　Monaca利用規約の遵守</b><br>
        法人会員はID登録者に「Monaca利用規約」を遵守させるものとします。万一ID登録者が「Monaca利用規約」に違反するような行為をした場合、法人会員は、当該ID登録者と連帯して責を負います。<br>
        <br>
        <b>第8条　利用料金および支払方法</b><br>
        ID登録者による本サービスの利用に関しては、法人会員に利用料金をお支払いいただきます。利用料金およびお支払方法につきましては、別途当社が定めるとおりとします。<br>
        当社は法人会員の了承を得ることなく利用料金、料金体系およびお支払方法等を随時変更することがあります。<br>
        <br>
        <b>第9条　利用情報の開示</b><br>
        当社は、ID登録者によりやりとりされた利用情報（ログイン・ログアウト時刻、その他当社が必要と認める情報）につきましては、法人会員のご請求により当社が別途定める方法により開示いたします。法人会員はID登録者に対し予めその旨を了承させてください。<br>
        <br>
        <b>第10条　法人会員情報の開示</b><br>
        捜査機関、裁判所、弁護士会その他法律上権限を有する者から、ID登録者について強制力を伴わない任意の照会があった場合、当社は法人会員の商号、住所、その他当社が法人会員に関して知りうる情報の限りで当該捜査機関等に開示することがあります。開示の結果、当該捜査機関等から法人会員に照会等があった場合、それに応ずるか否かも含め、法人会員ご自身の責任で対応いただき、以後当社には一切の責任はないものとします。ただし、当該照会が刑事訴訟法第218条に基づく等法的強制力を伴う場合、当社はID登録者に関しても請求のあった情報を開示することがあります。<br>
        <br>
        <b>第11条　会員情報の変更</b><br>
        商号、担当者、請求書送付先、組織変更に伴う部課名等の変更等については所定の方法にて速やかに当社までご通知願います。なお、商号の変更については商業登記簿謄本、その他をご提出いただく場合があります。<br>
        <br>
        <b>第12条　利用の停止</b><br>
        個々の利用者IDの削除、本サービスのご利用の中止（契約解約）のお申出は、当社が別途定める場合を除き、所定の解約届用紙を提出するか、所定の窓口にて手続をしていただきます。当社は、解約届用紙受領後、当該解約届に記載された日を以って解約の対象となる利用者IDの利用を停止します。当社は、「Monaca利用規約」に特段の定めがある場合を除き、既に受領した利用料金の払い戻し等は一切行いません。一度削除した利用者IDを復活することはできません。<br>
        <br>
        <b>第13条　期限の利益の喪失</b><br>
        法人会員は、次の各号のいずれかに該当するときは、当該時点で期限の利益を喪失するものとします。また、当社は何らの催告を要せず直ちに本規約に基づき成立する契約を解除し、利用者IDの使用を停止することができるものとします。なお、上記解除権の行使は損害賠償の請求を妨げるものではありません。<br>
        （1）仮差押、差押、強制執行もしくは担保権実行の申立て、仮登記担保契約に関する法律第2条に定める通知または滞納処分を受けたとき<br>
        （2）手形交換所の取引停止処分の原因となる不渡を1回でも出したとき<br>
        （3）支払不能となり、支払を停止し、または破産手続開始、会社更生手続開始、民事再生手続開始もしくは特別清算手続開始の申立てを受け、ないし自らその申立てをしたとき<br>
        （4）事業（営業）の全部もしくは重要な一部を他に譲渡し、もしくは中止したとき、または合併によらず解散したとき<br>
        （5）担当者との連絡が不能となり、または組織変更その他で責任の所在が不明確になるおそれがあると当社が判断したとき<br>
        （6）本規約に違反し、故意もしくは過失により当社またはほかの第三者に損害を与えたとき<br>
        （7）前号の場合の他本規約に違反したとき<br>
        （8）その他信用状態が悪化しまたはその恐れがあると当社が判断したとき<br>
        （9）暴力団、暴力団員、暴力団関係団体、総会屋、社会運動等標榜ゴロ、特殊知能暴力集団その他これらに準ずる者もしくはそれらの関係者（以下、総称して、反社会的勢力）に該当し、または反社会的勢力との取引もしくは人的、資金的関係があると当社が判断したとき<br>
        （10）自らまたは反社会的勢力を利用して、当社に対して詐術、暴力的行為または脅迫的言辞を用いたとき<br>
        （11）支払期日までに代金を支払わないとき<br>
        <br>
        <b>第14条　損害賠償</b><br>
        当社の故意または重過失により、法人会員またはID登録者に損害が生じたときは、損害が生じた時点から遡って一年間の間に当該法人会員が当社に支払い済の利用料金を限度として、当社は、法人会員またはID登録者に対して損害を賠償するものとします。ただし、賠償額は、如何なる場合も法人会員への賠償額およびID登録者への賠償額を合算して30万円を上限とします。<br>
        <br>
        <b>第15条　権利義務譲渡の禁止</b><br>
        法人会員は、本契約の地位を第三者に承継させ、あるいは本契約から生じる権利義務の全部または一部を第三者に譲渡しもしくは引き受けさせまたは担保に供してはなりません。<br>
        <br>
        <b>第16条　準拠法および管轄裁判所</b><br>
        1. 本規約の解釈・適用は日本国の法律に準拠するものとします。<br>
        2. 本サービスに関するすべての紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。<br>
        <br>
        <b>第17条　規約の翻訳文の提示</b><br>
        当社は、本規約を日本語以外の言語に翻訳して提示することがあります。日本語以外の言語によって記述された利用規約と、日本語によって記述された本規約に齟齬が生じた場合は、日本語によって記述された本規約の記述を有効なものとして優先するものとします。<br>
        <br>
        2013年9月12日制定<br>
        2015年2月6日改定<br>
        <br>
        アシアル株式会社
      </p>


    </div>
  </section>
  <script src="/js/jquery.smoothScroll.js"></script>


  <script src="/js/moment.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script>

    $(window).load(function() {
     var fadeInSpeed = 400;
     $('div.terms-of-service span#github-published_at').hide();
     $.ajax({
      url: 'https://api.github.com/repos/monaca/Localkit/releases',
      dataType: 'jsonp',
      success: function(res) {
       $("div.terms-of-service span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
       $('div.terms-of-service span#github-published_at a strong').text(res.data[0].name);
       var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
       $('div.terms-of-service span#github-published_at span').text(dateJa);
       $('div.terms-of-service span#github-published_at').fadeIn(fadeInSpeed);
     },
     error: function() {
       $('div.terms-of-service span#github-published_at').hide();
     }
   });
   });
  </script>


