---
title: Terms of Use | HTML5 cross-platform mobile app development with Monaca
class: terms-of-service
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
viewport: width=1200px
---

<div id="main-wrap">
      <section id="privacy" class="subpage">
          <div class="container">
              <h1 style="text-transform: uppercase;">Terms of Use</h1>


              <div class="headline-nav">
                    <span class="current">Terms of Use</span>
                    <a href="/terms-of-service/support.html">Support Terms</a>
                    <a href="/terms-of-service/corporate.html">Corporate Membership Terms</a>
                    <a href="/terms-of-service/privacy.html">Privacy Policy</a>
              </div>

              <p>
<b>Article 1 Acceptance of the Terms of Use</b><br>
The Terms of Use is an agreement for the use of each Service (hereinafter the "Service") of the development platform "Monaca" operated by the Asial Corporation (hereinafter the "Company").<br>
The Subscriber stipulated in Paragraph 1 of Article 2, and the User stipulated in Paragraph 2 of the same Article shall comply with the provisions in the Terms of Use. When the Subscriber subscribes to the Service or the User uses the Service, it shall be deemed as having agreed to the Terms of Use.<br>
<br>
<b>Article 2 Definition of User</b><br>
1. Subscriber refers to a person, entity, organization, or family member entering into a service contract for the Service with the Company who has entered into a service contract for the Service with the Company for the purpose of allowing the persons it designates to use the Service.<br>
2. User refers to a person who has registered the e-mail address and password required to use the Service (hereinafter, collectively referred to as User ID).<br>
3. Only a natural person may become a User, and only one account may be obtained per natural person.<br>
4. The User shall manage the User ID and any other registration information with the due care of a good manager. The Company shall not be liable for any damage or any other adverse effects incurred by the Subscriber, User, or any other third party due to the divulging, theft, etc. of the User ID and other registration information.<br>
<br>
<b>Article 3   Prohibited Matters</b><br>
1. The following acts (including acts committed in preparation for prohibited acts as well as acts that induce prohibited acts) are prohibited in the use of the Service:<br>
 (1) Any act that violates the laws and regulations of Japan and the country/region in which the Subscriber and User are located, or any act that is contrary to public order and morals;<br>
 (2) Any act of providing information that is contrary or is likely to be contrary to fact;<br>
 (3) Any act that interferes or is likely to interfere with the smooth operation of the Service;<br>
 (4) Any act of using the Service for any purpose contrary to the original purpose for which it is provided;<br>
 (5) Any act of changing, modifying, adapting, translating, distributing, transmitting, reverse engineering, decompiling, disassembling, decrypting, imitating or hacking the app in whole or in part;<br>
 (6) Any act of allowing a third party to use your user ID;<br>
 (7) Any act that causes or is likely to cause a disadvantage or damage to the Company or any third party;<br>
 (8) Any act of reading, writing, transmitting or acquiring terminal information, personal information and other information from the terminal, adding or modifying the configuration of such terminal, or disclosing such information to any third party, without obtaining the license of the User of the developed app or beyond the extent necessary for the use and operation of the app recognized by the User. In addition, any act suspected of corresponding to each of the preceding acts.<br>
<br>
2. Prohibition of commercial use on the Free plan<br>
Use of the Service on the Free plan is restricted to Corporations for non-commercial purposes. Corporations may not use the Service for the purpose of business on the Free plan. Corporations may not use the Service in order to develop apps for consideration or for personal use on the Free plan. However, this shall not apply to use for the purpose of academic investigation and research or of evaluating introduction of the Service.<br>
<br>
<b>Article 4 Rights to Works and Trademarks</b><br>
1. The Company and the content provider reserve the right to the works and the trademarks of such content (text, images, sound, etc.) within the Service. Whether for commercial or non-profit, any duplicating, diverting, selling, altering, correcting, or adapting, etc., the content thereto beyond the scope permitted under the law is strictly prohibited without otherwise the permission of the rights holder.<br>
2. When the Company provides the Service, and when the User makes use of the Service, the Company or User may use the works in which the rights are owned by a third party other than the Company. The User adequately understands the scope of the license to use such works that is granted by the right holder, and shall use the Service within that scope so as not to infringe on the rights of such works.<br>
<br>
<b>Article 5 Application for Use; Grant of License; Suspension of Use</b><br>
1. A person who desires to use the Service shall apply to use the Service in accordance with the procedures set forth by the Company.<br>
The Company shall grant a license to use the Service only when the Company deems that a person who desires such use is suitable to use the Service.<br>
2. The Company may at any time without prior notice cancel the license to use the Service granted to the User or suspend the use of the Service provided to the User when the Subscriber or User:<br>
(1) is in breach of the prohibited matters in Article 3;<br>
(2) is deemed by the Company to be using the Service in an inappropriate manner;<br>
(3) is deemed by the Company to be likely to use the Service in an inappropriate manner;<br>
(4) is subject to a disposition to suspend trading at a clearing house, or is subject to attachment or disposition for delinquency with respect to those assets;<br>
(5) is subject to an order for the commencement of guardianship;<br>
(6) files a petition for commencement of bankruptcy proceedings, corporate reorganization proceedings, civil rehabilitation proceedings, or special liquidation; or<br>
(7) in addition to each of the preceding items, is deemed by the Company to particularly be an inappropriate Subscriber or User.<br>
3. The Company shall not be liable for any damage incurred to the Subscriber, User, and any third party in connection with any cancellation of the license to use the Service or suspension of use under the preceding paragraph.<br>
4. Even if the Company cancels the license to use the Service or suspends use under Paragraph 2, it shall not preclude the Company from claiming damages against the User or the former User. In addition, the Company shall not refund to the Subscriber or a former Subscriber or a User or a former User any prepaid usage fees for the paid service or any other monies received from the Subscriber, and if the Subscriber or former Subscriber owes the Company any payment such as outstanding usage fees for the paid Services, the Company shall seek such payment from the Subscriber or the former Subscriber.<br>
5. Except as otherwise provided, the User shall not assign nor sell to any third party the right to use the Service.<br>
<br>
<b>Article 6 Handling of Personal Information, Data, and Content</b><br>
1. Personal information obtained by the Company through the Service shall be handled in accordance with privacy policy of Monaca.<br>
2. The Company assumes no obligation to back-up recorded data including personal information, data, and content (hereinafter, "Various Types of Data) that is stored on the server managed by the Company through the Service.<br>
In addition, regardless of the cause, the Company shall not be liable for any damage arising from the corruption or destruction of Various Types of Data.<br>
3. The User shall be fully liable for the Various Types of Data, and shall not cause any trouble and damage to the Company. In addition, if the Company or any third party incurs damage due to any Various Types of Data transmitted by the User, the User shall pay compensation for that damage.<br>
4. The Company may duplicate, use, and analyze these Various Types of Data to the extent of the purpose to improve and smoothly operate the system.<br>
<br>
<b>Article 7 Smooth Operation of the Service and Protection of the System</b><br>
The Company may implement the following when the Company deems it necessary for the smooth operation of the Service and protection of the system.<br>
(1) The Company may delete Various Types of Data stored in the system for the purpose of the smooth operation of the Service and the protection of the system when, among other reasons, the Various Types of Data correspond to the prohibited acts of Article 3. However, the Company assumes no obligation to monitor and delete the Various Types of Data, and the Company assumes no liability whatsoever with respect to damage caused to the Subscriber, User, or any third party as a result of any deletion or non-deletion by the Company.<br>
(2) When there is a request from the legal authorities such as a court, public prosecutor's office, or police to disclose and provide the Various Types of Data, the Company may disclose and provide it to such legal authorities.<br>
(3) When the work required to operate the Services is contracted out to a third party, the Company may disclose and provide to such third party the Various Types of Data after taking the necessary measures for the protection of the information.<br>
(4) The Company may at its own discretion monitor whether the User is using the Service in accordance with the Terms of Use, or whether the User is breaching the Terms of Use, or committing an illegal act.<br>
<br>
<b>Article 8 Modification, Suspension, and Termination of the Service</b><br>
The Company may modify, suspend, or terminate the Service without prior notice to the Subscriber and User.<br>
The Subscriber shall consent to this prior to entering into the service contract for the Service, and the User shall consent to this prior to using the Service, and the Company shall not be liable for any damage caused to the Subscriber, User, or any third party due to any modification, suspension, or termination of the Service.<br>
If the Service is terminated, the Company shall refund to the Subscriber of the paid services any portion of the prepaid usage fees for the paid services which is equivalent to the usage fee from the month following the month of the termination date of the service (there shall be no refund on a per diem proration basis for the usage fee for the month of the termination date of the Service).<br>
<br>
<b>Article 9 Termination by the Subscriber</b><br>
If the Subscriber wants to terminate the Terms of Use, the Subscriber shall give notice to the Company by the prescribed method (submit a document, transmit on-line, etc.). If the Terms of Use is terminated, except as otherwise provided, the Company shall not refund to the Subscriber or User any prepaid usage fees for the paid service or any other monies received from the Subscriber. In addition, if the Subscriber owes the Company any payment such as outstanding usage fees for the paid Services, the Subscriber shall immediately make such payment to the Company.<br>
<br>
<b>Article 10 The Rights and Responsibilities Related to Created Programs and Data</b><br>
1. Any rights to data arising from any programs created by the User through the Service or arising from any use of such program by a User or any third party shall belong to the User and the holder of the rights to the relevant works according to the copyright laws and other relevant laws.<br>
2. If the Company incurs any damage resulting from the use of the Service or the use of the program created by the User, the Subscriber and the User shall compensate the Company for that damage.<br>
3. If any third party incurs any damage resulting from the use of the Service or the use of any programs created by the User, or should there arise any dispute between a third party and the Subscriber or the User, the Subscriber and the User shall at its own cost and responsibility be liable to compensate for any damages and resolve the dispute, and the Company shall assume no responsibility whatsoever.<br>
<br>
<b>Article 11 Disclaimer of Warranty</b><br>
1. The Company does not make any warranty as to the completeness, accuracy, reliability, usefulness, etc. of the content of the Service and the information, etc., obtained by the User through this Service.<br>
2. The Company shall provide each function of the Service as it becomes available. The Company makes no warranty to the Subscriber and User with respect to the Service, including, but not limited to, warranties: (1) that the Service is fit for the particular purpose of the User; (2) that it has the expected functionality; (3) that the expected results can be realized; (4) that it will not cause problems; (5) that it will be provided continuously; and (6) as to the results of the use.<br>
3. In no event shall the Company be liable to the Subscriber, User, or any third party for any damage sustained by the Subscriber, User, or any third party in connection with any other use of the Service, including, but not limited to, any delay, modification, suspension, or termination of providing the Service, or loss of information, etc., registered or provided through the Service.<br>
4. Except as otherwise provided for in the Terms of Use, the Company shall not be liable for any damage sustained by the Subscriber, User, or any third party as a result of the Service arising from a malfunction of the system or any other reason.<br>
<br>
<b>Article 12 Use of the Paid Services</b><br>
1. Subscribers may apply to use paid services associated with the Service in accordance with the procedures set forth by the Company. The Company shall grant a license to use such paid services only when the Company deems that such Subscriber is suitable to use the paid services. The Company may modify the charges to use the paid services and the content of the services without prior notice.<br>
2. The Subscriber of the paid services shall pay the usage fee to the Company in accordance with the procedures set forth separately by the Company, and if the payment is not completed by the due date set forth by the Company, the Company may suspend the use of the Service by the licensed User in accordance with the service contract for the Service entered into between the Company and such Subscriber.<br>
If the Subscriber of the paid services does not complete the payment of the usage fee even after the due date, such Subscriber shall pay in one lump sum in cash by the date specified by the Company as overdue interest an amount calculated by multiplying the interest at the rate of 14.6% per annum by the number of days from the day following the due date until the day of the completion of the payment. Furthermore, all costs including any bank transfer fees required to be paid under this section shall be borne by such Subscriber.<br>
3. The Subscriber of the paid services may apply to use the paid services, or modify the plan of the paid services on an individual User basis. However, in no event shall the Company be liable for any problems incurred by the Subscriber or User of the paid services in association with any modification to the plan of the paid services.<br>
<br>
<b>Article 13 Damages Caused by the Company</b><br>
1. Notwithstanding the provisions of Article 8, when damage is caused to a User of paid services as the result of the willful act or gross negligence of the Company, the Company shall compensate the User for the damage in an amount not to exceed the usage fee paid to the Company by the Subscriber of such paid services for a period of 1 (one) year after the time the damage occurred. However, in any case, the damages shall not exceed 100,000 yen.<br>
2. Notwithstanding the provisions of Article 8, when damage is caused to a User (except for the User of paid services) as the result of the willful act or gross negligence of the Company, the Company shall pay up to 10,000 yen to the User as compensation for any damage.<br>
<br>
<b>Article 14 Modification of the Terms of Use</b><br>
When deemed necessary by the Company, the Terms of Use may be modified at any time without prior notice to the User.<br>
Any and all matters pertaining to the Service shall be subject to the revised version of the Terms of Use from the time the revised version of the Terms of Use is posted on the website of the Company.<br>
<br>
<b>Article 15 Governing Law and Court of Jurisdiction</b><br>
1. The construction and application of the Terms of Use shall be governed by the laws of Japan.<br>
2. The Tokyo District Court shall be the agreed upon exclusive and competent court of jurisdiction for the first instance concerning any and all disputes over the Service.<br>
<br>
<b>Article 16 Presentation of the Translation of this Agreement</b><br>
The Company may translate the Terms of Use into languages other than Japanese and display them.<br>
If there should arise any discrepancy in the Terms of Use written in a language other than Japanese and the Terms of Use written in Japanese, the provisions in the Terms of Use written in Japanese shall prevail.<br>
<br>
<b>Article 17 Survival</b><br>
Article 4 (Rights to Works and Trademarks), Article 10 (The Rights and Responsibilities Related to Created Programs and Data), Article 13 (Damages Caused by the Company), Article 15 (Governing Law and Court of Jurisdiction), Article 16 (Presentation of the Translation of this Agreement), and this Article shall survive any suspension of the use of the Service or any termination of this Agreement, regardless of the cause of such occurrence.<br>
<br>
<br>
September 12, 2013<br>
February 6, 2014 updated<br>
June 1, 2018 updated<br>
June 6, 2018 updated<br>
<br>
Asial Corporation<br>

              </p>
          </div>
      </section>

<script src="/js/jquery.smoothScroll.js"></script>



<script src="/js/jquery.min.js"></script>



