---
title: サポート＆サービス | MonacaでHTML5モバイルアプリ開発
class: terms-of-service
description: Monacaサポート＆サービス - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
viewport: width=1200px
---

<div id="main-wrap">
    <section id="privacy" class="subpage">
      <div class="container">
        <h1>Monaca利用規約</h1>


        <div class="headline-nav">

          <span class="current">Monaca利用規約</span>


          <a href="/terms-of-service/support.html">Monacaサポート規約</a>

          <a href="/terms-of-service/corporate.html">法人会員規約</a>

          <a href="/terms-of-service/partner.html">Monaca開発パートナー規約</a>
        </div>

        <p>
<b>第1条 規約への同意</b><br>
本規約はアシアル株式会社（以下、当社）が運営する開発プラットフォームMonacaクラウドおよびMonacaエンタープライズの各サービス（以下、総称して、本サービス）の利用に関する規約です。<br>
本サービスの利用には、ウェブブラウザ上でのMonaca IDEの利用、ならびにダウンロードアプリケーションであるMonaca LocalkitおよびMonaca デバッガー、Monaca for Visual Studio（以下、本アプリ）の利用を含みます。<br>
第2条第1項に定める契約者および同条第2項に定める利用者は、本規約の規定に従うものとします。契約者が本アプリをダウンロードし、もしくは本サービスを申し込み、または利用者が本サービスを利用したときは、本規約に同意しているものとみなします。<br>
<br>
<b>第2条 利用者の定義</b><br>
1. 契約者とは、当社との間で本サービスの利用契約を締結した個人、および法人、団体、家族等で、自己の指定する者に本サービスを利用させる目的で当社との間で本サービスの利用契約を締結した者をいいます。<br>
2. 利用者とは、本サービスを利用する際に必要なメールアドレスおよびパスワード（以下、両者をあわせて、利用者ID）を登録した者をいいます。<br>
3. 利用者となれるのは自然人のみとし、1自然人ごとに1アカウントを取得することができます。<br>
4. 利用者は、善良なる管理者の注意義務をもって、利用者IDその他の登録情報を管理するものとします。当社は、利用者IDその他の登録情報の漏洩、盗用等により契約者、利用者、その他第三者に生じた損害、その他一切の結果について何ら責任を負わないものとします。<br>
<br>
<b>第3条　禁止事項</b><br>
１　本サービスの利用に際しては以下に定める行為（準備行為、誘発行為を含む）を禁止します。<br>
(1) 日本国ならびに契約者および利用者が所在する国・地域の法令に違反する行為、または公序良俗に反する行為<br>
(2) 事実に反する、またはそのおそれのある情報を提供する行為<br>
(3) 本サービスの円滑な運営を妨げる行為、または、そのおそれのある行為<br>
(4) 本サービスを本来のサービス提供の目的とは異なる目的で利用する行為<br>
(5) 本アプリの全部または一部を変更、修正、翻案、翻訳、頒布、送信、リバースエンジニアリング、逆コンパイル、逆アセンブル、暗号解読、模倣、ハッキングする行為<br>
(6) 利用者IDを他者に利用させる行為<br>
(7) 当社、または第三者に不利益もしくは損害を与える行為、またはそのおそれがある行為<br>
(8) 開発したアプリのユーザーの許諾を得ることなく、またはユーザーの認識するアプリの使用・動作に必要な範囲を超えて、端末から端末情報、個人情報その他の情報について読み取り・書き込み・発信・取得などし、または当該端末の設定の追加・変更等の動作を行い、または第三者に開示等する行為。また、これらに該当すると疑われる行為<br>
<br>
2. Freeプラン による商用利用の禁止<br>
本サービスのうち Freeプラン は、個人が非事業用の目的で利用することに限って利用を許諾するものです。法人および個人事業者が事業に供する目的で本サービスを利用することはできません。法人および個人事業者は、対価を得てアプリを開発するために利用する場合のみならず、自らが利用するアプリを開発するために本サービスを無料で利用することはできません。但し、学術的調査、研究、導入評価の目的で利用する場合はこの限りではありません。<br>
<br>
<b>第4条 著作物・商標の権利</b><br>
1. 本サービスおよび本アプリの商標またはサービスマーク、著作権その他一切の知的財産権は当社が保有します。当社は契約者および利用者に対し、明示的に規定される場合を除き、本サービスおよび本アプリにおける知的財産権を付与しません。明確に付与されていないすべての権利は当社に帰属します。<br>
2. 本サービス内のコンテンツ（テキスト・画像・音声等）の著作物・商標の権利は、当社ならびに当該コンテンツ提供者が保有しています。営利、非営利を問わず、法律上許容される範囲を超えてこれらのコンテンツの複製・転用・販売・変形・修正・翻案頒布、送信（自動公衆送信、送信可能化を含む）等を行うことは、権利保有者が特に許諾した場合を除いて禁止します。<br>
3. 当社による本サービスの提供、ならびに利用者による本サービスの利用において、当社または利用者は当社以外の第三者が権利を有する著作物を使用することがあります。利用者は、権利保有者による当該著作物の利用許諾範囲を適切に理解し、当該著作物の権利を侵害しない範囲で本サービスを利用するものとします。<br>
<br>
<b>第5条 利用申請・利用許諾・利用停止</b><br>
1. 本サービスの利用を希望する者は、当社が定める手続きにしたがって本サービスの利用を申し込むものとします。<br>
当社は、利用を希望する者が本サービスの利用にふさわしいと判断する場合にのみ本サービスの利用を許諾します。<br>
2. 当社は、契約者もしくは利用者が以下の各項の１つにでも該当する場合において、いつでも予告なく当該利用者に対する本サービスの利用の承諾を取消し、または当該利用者の本サービスの利用を停止することができるものとします。<br>
(1)第3条の禁止事項に違反した場合<br>
(2)本サービスの不適切な利用をしていると当社が判断した場合<br>
(3)本サービスの不適切な利用の恐れがあると当社が判断した場合<br>
(4)手形交換所の取引停止処分、またはその資産について差押や滞納処分を受けた場合<br>
(5)後見開始の審判を受けた場合<br>
(6)破産手続開始、会社更生手続開始、民事再生手続開始または特別清算手続開始の申立があった場合<br>
(7)暴力団、暴力団員、暴力団関係団体、総会屋、社会運動等標榜ゴロ、特殊知能暴力集団その他これらに準ずる者もしくはそれらの関係者（以下、総称して、反社会的勢力）に該当し、または反社会的勢力との取引もしくは人的、資金的関係があると当社が判断した場合<br>
(8)前各号のほか、特に当社が契約者または利用者として不適格と判断した場合<br>
3. 前項に基づく本サービスの利用の許諾の取消しまたは利用の停止に関して契約者、利用者および第三者に生じたいかなる損害についても、当社はその責を一切負わないものとします。<br>
4. 第2項に基づき、当社が本サービスの利用の許諾を取消しまたは利用を停止した場合、利用者または利用者であった者は、本サービス、構成部分、ドキュメント、およびその一切の複製物を廃棄または端末の記録媒体上から完全に消去し、使用を継続してはなりません。<br>
5. 第2項に基づき当社が本サービスの利用の許諾を取消しまたは利用を停止した場合であっても、当社が利用者または利用者であった者に対してする損害賠償請求権の行為は妨げられないものとします。また、当社は、契約者もしくは契約者であった者または利用者もしくは利用者であった者に対して、有料サービスの利用料金の前払金、その他契約者から受領した金銭を一切返金せず、契約者または契約者であった者が当社に対して有料サービスの利用料金の未払金等の債務を負担している場合、契約者もしくは契約者であった者に対し、これを請求します。<br>
6. 他に特段の定めがある場合を除き、利用者は、本サービスを利用する権利を第三者に譲渡・売買することはできないものとします。<br>
<br>
<b>第6条 個人情報・データ・コンテンツの扱い</b><br>
1. 本サービスを通じて当社が取得した個人情報についてはMonacaのプライバシーポリシーに従って取り扱われるものとします。<br>
2. 本サービスを通じて当社が管理するサーバに保存された個人情報・データ・コンテンツを含む記録データ（以下、各種データ）について、当社ではバックアップの義務を負わないものとします。<br>
また、発生の原因を問わず、各種データの破損・破棄によって生じたいかなる損害についても当社はその責を負わないものとします。<br>
3. 利用者は、各種データにつき一切の責任を負うものとし、当社に対していかなる迷惑および損害も与えないものとします。また、利用者が発信した各種データにより当社、または第三者が損害を被った場合に、利用者は、その損害を賠償するものとします。<br>
4. 当社は、本サービスの改良と円滑な運営を目的とする範囲で、それらの各種データを複製・使用・分析することができるものとします。<br>
<br>
<b>第7条 本サービスの円滑な運営とシステムの保護</b><br>
本サービスの円滑な運営とシステムの保護に必要と当社が判断する場合において、当社は以下に定める行為を実施することがあります。<br>
(1) 当社は、各種データが第3条の禁止行為に該当する場合、その他、本サービスの円滑な運営とシステムの保護を目的として、システムに記録された各種データを削除することがあります。ただし、当社は、各種データを監視・削除する義務を負わず、また、当社が削除を行い、または、行わなかったことにより契約者、利用者または第三者が被った損害について、一切責任を負わないものとします。<br>
(2) 当社は、裁判所・検察庁・警察等の法的機関から開示・提供を要求された際に、当該法的機関に対して各種データを開示・提供することがあります。<br>
(3) 当社は、本サービスの運営上必要な業務を第三者に委託する際に、情報の保護について必要な措置を講じた上で各種データを当該第三者に開示・提供することがあります。<br>
(4) 当社は、利用者が本規約に則り本サービスを利用しているか、また、本規約に違反する行為や不正な行為が行われていないかを監視する業務を、当社の裁量により行う事があります。<br>
<br>
<b>第8条 サービスの変更・停止・廃止</b><br>
当社は本サービスを契約者および利用者に事前に通知することなく変更・停止・廃止することができます。<br>
契約者はこれを予め了承した上で本サービスの利用契約を締結し、利用者はこれを予め了承した上でサービスを利用するものとし、本サービスの変更・停止・廃止によって契約者、利用者または第三者に生じるいかなる損害についても当社はその責を負わないものとします。<br>
　本サービスを廃止した場合、当社は、有料サービスの有料サービスの契約者に対し、有料サービスの利用料金の前払金のうち、本サービスの廃止日の属する月の翌月分からの利用料金相当分を返金します（本サービスの廃止日の属する月の利用料金の日割計算による返金は行いません）。<br>
<br>
<b>第9条 契約者からの解約</b><br>
契約者は、本契約を解約する場合は、所定の方法（書面の提出、オンライン上の送信等）にて当社に届け出るものとします。本契約が解約された場合、他に特段の定めがある場合を除き、当社は、契約者および利用者に対し、有料サービスの利用料金の前払金、その他契約者から受領した金銭を一切返金しません。また、解約届出の時点で契約者が当社に対して有料サービスの利用料金の未払金等の債務を負担している場合、契約者は、当社に対し、当該債務を直ちに支払うものとします。<br>
<br>
<b>第10条 作成したプログラムならびにデータに関する権利と責任</b><br>
1. 本サービスを通じて利用者が作成したプログラム、ならびに利用者または第三者による当該プログラムの利用により生じるデータの権利は、著作権法ならびに関連する法の定めに従って利用者ならびに関連する著作物の権利保有者に帰属します。<br>
2. 本サービスの利用、ならびに利用者が作成したプログラムの利用によって当社が損害を被った場合は、契約者および利用者は当社に対してその損害を賠償するものとします。<br>
3. 本サービスの利用、ならびに利用者が作成したプログラムの利用によって第三者が損害を被った場合、または契約者もしくは利用者と第三者の間に紛争が生じた場合、契約者および利用者は自己の費用負担と責任において損害を賠償および紛争を解決するものとし、当社は一切の責を負わないものとします。<br>
<br>
<b>第11条 免責</b><br>
1. 当社は、本サービスの内容および利用者が本サービスを通じて得る情報等について、その完全性、正確性、確実性、有用性等いかなる保証も行いません。<br>
2. 本サービスの各機能は、提供時点において当社が提供可能なものとします。本サービスが利用者の特定の目的に適合すること、期待する機能を有すること、期待する成果を実現すること、不具合を起こさないこと、継続的に提供されることおよび利用結果を含め、当社は、契約者および利用者に対し、本サービスに関する何らの保証も行わないものとします。<br>
3. 本サービスの提供の遅延、変更、中止または廃止、本サービスを通じて登録、提供される情報等の毀滅等、その他本サービスの利用に関連して利用者または第三者に損害が発生した場合は、当社は、契約者、利用者または第三者に生じた一切の損害について、一切責任を負わないものとします。<br>
4. 本規約に特段の定めがある場合を除き、本アプリの作動にかかる不具合、システムの不具合その他の理由により本サービスを起因として契約者、利用者または第三者に生じた損害について、当社はその責を負わないものとします。<br>
<br>
<b>第12条 有料サービスの利用</b><br>
1. 契約者は、当社が定める手続きに従って本サービスに付随する有料サービスの利用を申し込むことができます。当社は当該契約者が有料サービスの利用にふさわしいと判断する場合にのみ当該有料サービスの利用を許諾します。当社は、有料サービスの利用料金、サービス内容を予告なく変更することがあります。<br>
2. 有料サービスの契約者は、別途当社が定める手続きに従って当社に利用料金を支払うものとし、当社が定める支払期限までに支払いが完了しない場合は、当社は当社と当該契約者との間で締結した本サービスの利用契約に基づき本サービスの利用を許諾される利用者による本サービスの利用を停止することができます。<br>
有料サービスの契約者が利用料金の支払いを支払期限を過ぎても完了しない場合、当該契約者は、支払期限の翌日から支払完了の日までの日数に年14.6％の割合を乗じて計算される金額を延滞利息として、当社が指定した日までに現金にて一括して支払うものとします。なお、本項に基づく支払に必要な振込手数料その他の費用は、すべて当該契約者が負担するものとします。<br>
3. 有料サービスの契約者は、利用者毎に、有料サービスの利用を申し込み、または有料サービスのプランを変更することができます。ただし、当社は、有料サービスのプラン変更に伴い有料サービスの契約者または利用者に発生した一切の問題について、責任を負わないものとします。<br>
<br>
<b>第13条 当社の損害賠償</b><br>
1.当社の故意または重過失により、有料サービスの利用者に損害が生じたときは、第8条の定めに関わらず、損害が生じた時点から遡って一年間の間に当該有料サービスの契約者が当社に支払い済の利用料金を限度として、当社は、利用者に対して損害を賠償するものとします。ただし、賠償額は、如何なる場合も10万円を上限とします。<br>
2.当社の故意または重過失により、利用者（有料サービスの利用者を除きます。）に損害が生じたときは、第8条の定めに関わらず、当社は、利用者に対して、1万円を限度として、損害を賠償するものとします。<br>
<br>
<b>第14条 規約の変更</b><br>
当社は、必要と判断した場合には、利用者にあらかじめ通知することなくいつでも本規約を変更することができるものとします。<br>
変更後の本規約が当社のウェブサイト上に掲載された時点から、本サービスに関する一切の事項は変更後の本規約に従うものとします。<br>
<br>
<b>第15条 準拠法および管轄裁判所</b><br>
1.本規約の解釈・適用は日本国の法律に準拠するものとします。<br>
2.本サービスに関するすべての紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。<br>
<br>
<b>第16条 規約の翻訳文の提示</b><br>
当社は、本規約を日本語以外の言語に翻訳して提示することがあります。<br>
日本語以外の言語によって記述された利用規約と、日本語によって記述された本規約に齟齬が生じた場合は、日本語によって記述された本規約の記述を有効なものとして優先するものとします。<br>
<br>
<b>第17条 残存事項</b><br>
本サービスの利用を停止し、契約が完了した場合も、その発生要因を問わず、第4条 著作物・商標の権利、第10条 作成したプログラムならびにデータに関する権利と責任、第13条 当社の損害賠償、第15条 準拠法および管轄裁判所、第16条 規約の翻訳文の提示、および本条は引き続き有効とします。<br>
<br>
<br>
附則<br>
2013年9月12日制定<br>
2014年2月6日改定<br>
2015年2月6日改定<br>
2018年6月1日改定<br>
<br>
アシアル株式会社<br>
<br>



        </p>

      </div>
    </section>

<script src="/js/jquery.smoothScroll.js"></script>


<script src="/js/moment.js"></script>
<script src="/js/jquery.min.js"></script>
<script>

    $(window).load(function() {
    	var fadeInSpeed = 400;
    	$('div.terms-of-service span#github-published_at').hide();
    	$.ajax({
    		url: 'https://api.github.com/repos/monaca/Localkit/releases',
    		dataType: 'jsonp',
    		success: function(res) {
    			$("div.terms-of-service span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
    			$('div.terms-of-service span#github-published_at a strong').text(res.data[0].name);
    			var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
    			$('div.terms-of-service span#github-published_at span').text(dateJa);
    			$('div.terms-of-service span#github-published_at').fadeIn(fadeInSpeed);
    		},
    		error: function() {
    			$('div.terms-of-service span#github-published_at').hide();
    		}
    	});
    });
</script>


