---
title: Monaca開発パートナー利用規約 | MonacaでHTML5モバイルアプリ開発
class: terms-of-service
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
viewport: width=1200px
---

<div id="main-wrap">
    <section id="privacy" class="subpage">
      <div class="container">
        <h1>Monaca開発パートナー規約</h1>
        <div class="headline-nav">
          <a href="/terms-of-service/">Monaca利用規約</a>
          <a href="/terms-of-service/support.html">Monacaサポート規約</a>
          <a href="/terms-of-service/corporate.html">法人会員規約</a>
          <span class="current">Monaca開発パートナー規約</span>
          <a href="/terms-of-service/privacy.html">プライバシーポリシー</a>
      </div>

      <p>
        <b>第1条 規約への同意</b><br>
        1. 本規約はアシアル株式会社（以下、当社）が提供する「Monaca開発パートナーを対象とする各種サービス」（以下、本サービス）の利用に関する規約です。<br>
        本規約は、当社との間で本サービスの利用契約（以下、本契約）を締結し、本サービスを利用する法人、団体等（以下、パートナー）と当社との間に適用されます。なお、パートナーは当社に本サービスの利用の申込みを行った時点で本規約に同意したものとみなします。<br>
        2. パートナーが、本サービス以外の各種サービスを利用するためには、別途、当社が定める申込、登録等の手続きが必要になります。本規約は、パートナーに対し、本サービスを除く各種サービスの提供を何ら約束するものではありません。<br>
        <br>
        <br>
        <b>第2条 パートナーおよび登録料</b><br>
        1. 本契約を締結することができるパートナーは、法人、団体等に限られます。個人はパートナーとなることができません。<br>
        2. パートナーは当社に対し、当社の発行する請求書に基づき、利用許諾日（同日を含む）からその後に到来する3月31日までの年会費を初年度登録料として、支払うものとします。次年度以降の更新登録料についても同様とします。初年度登録料と更新登録料をあわせて「登録料」といいます。<br>
        3. 当社は、前項の請求書に請求金額、利用期間を記載します。<br>
        4．本サービスの利用は、年間契約とし、期間満了１ヶ月前までに、パートナーからの申出がない場合は、さらに１年間自動で延長されるものとし、以後も同様とします。<br>
        <br>
        <br>
        <b>第3条 禁止事項</b><br>
        本サービスの利用に際しては以下に定める行為（準備行為、誘発行為を含む）を禁止します。<br>
        (1)日本国ならびにパートナーが所在する国・地域の法令に違反する行為、または公序良俗に反する行為<br>
        (2)本規約、または当社とパートナーとの間の取引に関する契約書に違反する行為や犯罪行為、またはそのおそれのある行為、または、それを教唆、幇助等する行為<br>
        (3)事実に反する、またはそのおそれのある情報を提供する行為<br>
        (4)本サービスを本来のサービス提供の目的とは異なる目的で利用する行為<br>
        (5)本サービス、本サービスと同様のサービスまたは関連サービスを販売、再販、再許諾、レンタル、リースまたは譲渡する行為<br>
        (6)パートナーたる地位またはパートナーとしての権利義務を第三者に譲渡、貸与、使用もしくは承継させ、または担保に供する行為<br>
        (7)当社、または第三者に不利益もしくは損害を与える行為、またはそのおそれがある行為<br>
        (8)当社、または第三者の権利、プライバシー、財産を侵害する行為、またはそのおそれがある行為<br>
        (9)そのほか、当社が不適切と判断する行為<br>
        <br>
        <br>
        <b>第4条 利用申請・利用許諾・利用停止</b><br>
        1. 本サービスの利用を希望する者は、当社が定める手続きにしたがって本サービスの利用を申し込むものとします。当社は利用申込の際に提出いただいた情報を審査の上、本サービスのパートナーにふさわしいと判断する場合にのみ本サービスの利用を許諾します。審査には、利用申込者の印鑑証明書、資格証明書、商業登記簿謄本その他書類をご提出いただく場合があります。<br>
        2. 当社は、パートナーが以下の各項の１つにでも該当する場合において、いつでも予告なく当該パートナーに対する本サービスの利用の承諾を取消し、または当該パートナーの本サービスの利用を停止することができるものとします。<br>
        (1)パートナーが登録料を当社が定める支払期限までに支払いを行わなかった場合<br>
        (2)第3条の禁止事項に違反した場合<br>
        (3)仮差押、差押、強制執行もしくは担保権実行の申立て、仮登記担保契約に関する法律第2条に定める通知または滞納処分を受けたとき<br>
        (4)手形交換所の取引停止処分の原因となる不渡を1回でも出したとき<br>
        (5)支払不能となり、支払を停止し、または破産、民事再生もしくは会社更生手続開始の申立てを受け、ないし自らその申立てをしたとき<br>
        (6)事業（営業）の全部もしくは重要な一部を他に譲渡し、もしくは中止したとき、または合併によらず解散したとき<br>
        (7)担当者との連絡が不能となり、または組織変更その他で責任の所在が不明確になるおそれがあると当社が判断したとき<br>
        (8)その他信用状態が悪化しまたはその恐れがあると当社が判断したとき<br>
        (9)暴力団、暴力団員、暴力団関係団体、総会屋、社会活動標榜ゴロ、特殊知能暴力集団もしくはそれらの関係者（以下、総称して、反社会的勢力）に該当し、または反社会的勢力との取引もしくは人的、資金的関係があると当社が判断したとき<br>
        (10)自らまたは反社会的勢力を利用して、当社に対して詐術、暴力的行為または脅迫的言辞を用いたとき<br>
        (11)前各号のほか、特に当社がパートナーとして不適格と判断した場合<br>
        3. 前項に基づく本サービスの利用の許諾の取消しまたは利用の停止に関してパートナーおよび第三者に生じたいかなる損害についても、当社はその責を一切負わないものとします。<br>
        4. 第2項に基づき当社が本サービスの利用の許諾を取消しまたは利用を停止した場合であっても、当社がパートナーまたはパートナーであった者に対してする損害賠償請求権の行為は妨げられないものとします。また、当社は、パートナーもしくはパートナーであった者に対して、登録料および有料サービス（第10条1項に定義。以下同様）の利用料金の前払金、その他パートナーから受領した金銭を一切返金せず、パートナーであった者が当社に対して登録料および有料サービスの利用料金の未払金等の債務を負担している場合、パートナーもしくはパートナーであった者に対し、これを請求します。<br>
        <br>
        <br>
        <b>第5条　契約担当者と支払担当者</b><br>
        パートナーは、契約担当者および支払担当者（以下、担当者）を選任し、当社に担当者の名前を通知します。担当者は、本規約に関するパートナーの権限を委任されたものとみなし、入会、登録内容の変更、登録料および有料サービスの利用料金等の請求、その他当社とパートナーとの間の連絡、通知等は当該担当者を通じて行うものとします。パートナーは、担当者を含む登録内容の変更については、当社の指示に従い、所定の手続を行うものとします。なお、商号等の変更については商業登記簿謄本、その他をご提出いただく場合があります。<br>
        <br>
        <br>
        <b>第6条　通知方法</b><br>
        1. 当社からパートナーに対する通知は、別段の定めのない限り、パートナーがあらかじめ指定する電子メールアドレス宛に電子メールを送信する方法で行います。<br>
        2. 当社がパートナーに対して、前項の方法で通知した場合当該通知は到達したものとし、当該通知が現にパートナーに到達しなかったとしても、当社の責に帰すべき事由による場合を除き、当該不到達に起因して発生した損害について当社は一切責任を負わないものとします。<br>
        <br>
        <br>
        <b>第7条 情報の取り扱い</b><br>
        1. 本サービスを通じて当社が取得したパートナーの個人情報についてはMonacaのプライバシーポリシーに従って取り扱われるものとします。<br>
        2. パートナーが当社に提供したパートナーの名称、ロゴ、連絡先、業務の内容および他の該当情報（以下、「パートナー情報」）については、当社が潜在顧客に対してパートナーの紹介をする際に利用されます。パートナーは、当社に対し、パートナー情報を当社が保有するウェブサイトに掲載できる権利、ならびに他の方法で当該情報を潜在顧客に開示および提出できる権利（以下、「パートナー情報利用権」）を付与します。パートナー情報の項目は、原則として申込書に記載されているパートナーの事業名、住所、電話番号を含むものとします。パートナーは、当社に対し、パートナー情報が正確かつ完全なものであることを保証します。潜在顧客に対してパートナーを紹介するか否かまたは紹介する場合の具体的手順は、パートナーの所在地、設備、能力、提供サービスその他の事情を勘案したうえで、当社がその単独の裁量によって決定するものとし、当社は、潜在顧客に対してパートナーを紹介する義務を負いません。<br>
        3. 捜査機関、裁判所、弁護士会その他法律上権限を有する者から、パートナーについて強制力を伴わない任意の照会または強制力を伴う照会があった場合、当社はパートナーの称号、住所、その他当社がパートナーに関して知っている情報を開示することがあります。パートナーは当該開示によって不利益を被ったとしても、これを当社に請求することはできないものとします。<br>
        <br>
        <br>
        <b>第8条 当社ウェブサイトへのリンクの取り扱い</b><br>
        1.当社は、パートナーに対し、本契約の有効期間中、パートナーのウェブサイト（以下、パートナーサイト）上にMonacaのウェブサイト（URL：http://monaca.mobi　以下、Monacaサイト）へのリンクを掲載すること許可します。ただし、当社が、パートナーサイトからのMonacaサイトへのリンクが不適切と判断した場合、当該パートナーに対し、Monacaサイトへのリンクを拒否する場合があります。<br>
        2.当社は、パートナーに対し、いつでも、パートナーサイトからのMonacaサイトへのリンクの停止を求めることができます。当社がかかる請求をした場合、パートナーは、直ちに当該リンクの停止処理を行わなければなりません。<br>
        <br>
        <br>
        <b>第9条 Monacaパートナーロゴの取り扱い</b><br>
        当社は、パートナーに対し、本契約の有効期間中、「Monaca開発パートナーロゴ」（以下、本パートナーロゴ）を使用する非独占的、移転不能、譲渡不能かつ取消可能な制限つきのライセンスを付与します。なお、当該使用はMonacaに関連する場合に限られ、かつ本規約の諸条件を厳守することをその条件とします。当社は、いつでもその単独の裁量に従って本パートナーロゴを使用するパートナーの権利を取り消すことができるものとします。パートナーはいかなる形であれ本パートナーロゴに一切加工、修正または変更を加えてはなりません。パートナーは本パートナーロゴの利用に関するガイドラインを厳守して利用するものとします。<br>
        <br>
        <br>
        <b>第10条 有料サービスの利用</b><br>
        1. パートナーは、本サービスにおいて、別途有料のサービス（以下、有料サービス）を利用する場合、別途当社が定める手続きに従って申し込み手続きを行うものとします。<br>
        2. パートナーは、有料サービスを利用する場合は、別途当社が定める手続きに従って当社に利用料金を支払うものとします。パートナーが利用料金を支払期限を過ぎても完了しない場合、当該パートナーは、支払期限の翌日から支払完了の日までの日数に年14.6％の割合を乗じて計算される金額を延滞利息として、当社が指定した日までに現金にて一括して支払うものとします。なお、本項に基づく支払に必要な振込手数料その他の費用は、すべて当該パートナーが負担するものとします。<br>
        <br>
        <br>
        <b>第11条 サービスの変更・停止・廃止</b><br>
        1. 当社は本サービスをパートナーに事前に通知することなく変更・停止・廃止することができます。パートナーはこれを予め了承した上で本契約を締結し、利用するものとし、本サービスの変更・停止・廃止によってパートナーまたは第三者に生じるいかなる損害についても当社はその責を負わないものとします。<br>
        2. 本サービスを廃止した場合、当社は、パートナーに対し、登録料および有料サービスの利用料金の前払金のうち、未利用分相当分を返金します。<br>
        <br>
        <br>
        <b>第12条 パートナーからの解約</b><br>
        パートナーは、本契約を解約する場合は、所定の方法（書面の提出、オンライン上の送信等）にて当社に届け出るものとします。本契約が解約された場合、他に特段の定めがある場合を除き、当社は、パートナーに対し、登録料および有料サービスの利用料金の前払金、その他パートナーから受領した金銭を一切返金しません。また、解約届出の時点でパートナーが当社に対して登録料および有料サービスの利用料金の未払金等の債務を負担している場合、パートナーは、当社に対し、当該債務を直ちに支払うものとします。<br>
        <br>
        <br>
        <b>第13条 権利の終了</b><br>
        本規約が解約された時点で、本規約に基づいて付与されたパートナーに対する全ての権利は終了するものとし、本パートナーロゴを含む有形財産はすべて返却されるか、または破棄されなければなりません。かつ、パートナーは当人が本サービスのパートナーである旨の表明を直ちに停止しなければなりません。<br>
        <br>
        <br>
        <b>第14条 免責</b><br>
        1.当社は、本サービスの内容およびパートナーが本サービスを通じて得る情報等について、その完全性、正確性、確実性、有用性等いかなる保証も行いません。<br>
        2.本サービスの各種サービスは、提供時点において当社が提供可能なものとします。本サービスがパートナーの特定の目的に適合すること、期待する機能を有すること、期待する成果を実現すること、不具合を起こさないこと、継続的に提供されることおよび利用結果を含め、当社は、パートナーに対し、本サービスに関する何らの保証も行わないものとします。<br>
        3. 本サービスの提供の遅延、変更、中止または廃止、本サービスを通じて登録、提供される情報等の毀滅等、その他本サービスの利用に関連してパートナーまたは第三者に損害が発生した場合は、当社は、パートナーまたは第三者に生じた一切の損害について、一切責任を負わないものとします。<br>
        4.本規約に特段の定めがある場合を除き、システムの不具合その他の理由により本サービスを起因としてパートナーまたは第三者に生じた損害について、当社はその責を負わないものとします。<br>
        <br>
        <br>
        <b>第15条 当社の損害賠償</b><br>
        1.当社の故意または重過失により、パートナーに損害が生じたときは、損害が生じた時点から遡って一年間の間に当該登録料および有料サービスの利用料金として当該パートナーが当社に支払い済の料金を限度として、当社は、当該パートナーに対して損害を賠償するものとします。ただし、賠償額は、如何なる場合も10万円を上限とします。<br>
        <br>
        <br>
        <b>第16条　権利義務譲渡の禁止</b><br>
        パートナーは、本契約の地位を第三者に承継させ、あるいは本契約から生じる権利義務の全部または一部を第三者に譲渡しもしくは引き受けさせまたは担保に供してはなりません。<br>
        <br>
        <br>
        <b>第17条　残存条項</b><br>
        第4条3項、第4条4項、第10条2項、第12条、第13条、第14条、第15条、第16条、第19条の規定は、本契約の解約（その理由は問わない）後も有効に存続するものとします。<br>
        <br>
        <br>
        <b>第18条 規約の変更</b><br>
        当社は、必要と判断した場合には、パートナーにあらかじめ通知することなくいつでも本規約を変更することができるものとします。変更後の本規約が当社のウェブサイト上に掲載された時点から、本サービスに関する一切の事項は変更後の本規約に従うものとします。<br>
        <br>
        <br>
        <b>第19条 準拠法および管轄裁判所</b><br>
        1.本規約の解釈・適用は日本国の法律に準拠するものとします。<br>
        2.本サービスに関するすべての紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。<br>
        <br>
        <br>
        <b>第20条 規約の翻訳文の提示</b><br>
        当社は、本規約を日本語以外の言語に翻訳して提示することがあります。<br>
        日本語以外の言語によって記述された利用規約と、日本語によって記述された本規約に齟齬が生じた場合は、日本語によって記述された本規約の記述を有効なものとして優先するものとします。<br>
        <br>
        <b>経過規程（2019年3月31日まで）</b><br>
        第２条２項の適用においては、同条項変更の日（2018年4月9日）前からのパートナーについては、現在の登録料に対応する期間が満了した日の翌日を同条項の利用許諾時と見做すものとします。<br>
        <br>
        2014年11月11日制定<br>
        2018年4月9日改定<br>
        <br>
        アシアル株式会社<br>
    </p>

</div>
<section>
    <script src="/js/jquery.smoothScroll.js"></script>


    
    <script src="/js/jquery.min.js"></script>


