---
title: プライバシーポリシー | MonacaでHTML5モバイルアプリ開発
class: terms-of-service
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
viewport: width=1200px
---

<div id="main-wrap">
  <section id="privacy" class="subpage">
    <div class="container">
      <h1><span>プライバシーポリシー</span></h1>
      <p>
        アシアルは、インターネットを企業活動のドメインと考えており、その社会責務としてインターネットユーザの皆様の情報の重要性を十分認識し、尊重するとともに、適切に保護することに努めます。
        <br><br>
        アシアルは、各種サービスを提供するにあたって、クッキーやアクセスログ等を適切な範囲で収集しております。
        また、アシアルのサービスをご利用いただく際に、ユーザの皆様にその内容をご確認いただいたうえで、ご登録いただく情報もございます。
        これらの利用に際しては、各種サービスの提供を目的として、適切な範囲かつ公正な手段に基づいて行なっております。
        <br><br>
        アシアルは、収集データを取り扱う部門ごとに管理責任者を配置し、その適切な管理に努め、ユーザの皆様の同意なく、第三者に対し情報の開示・提供を行うことはございません。
        但し、裁判所、検察庁、警察等の法的機関から開示・提供を要求された場合に限り、これに応じる場合がございます。
        <br><br>
        情報の取り扱いにつきましては、日本の法令その他規範等を順守するのは勿論のこと、世論等の社会的モラルとも照らし合わせて、適宜その改善に努めてまいります。
        <br><br>
        アシアル株式会社
        <br><br>
        本件に関するお問い合わせ先:
        <br>
        <a class="info" href="maito:info@asial.co.jp" rel="nofollow">info@asial.co.jp</a>
      </p>
    </div>
  </section>

  <script src="/js/jquery.smoothScroll.js"></script>

  <script src="/js/moment.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script>

    $(window).load(function() {
     var fadeInSpeed = 400;
     $('div.terms-of-service span#github-published_at').hide();
     $.ajax({
      url: 'https://api.github.com/repos/monaca/Localkit/releases',
      dataType: 'jsonp',
      success: function(res) {
       $("div.terms-of-service span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
       $('div.terms-of-service span#github-published_at a strong').text(res.data[0].name);
       var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
       $('div.terms-of-service span#github-published_at span').text(dateJa);
       $('div.terms-of-service span#github-published_at').fadeIn(fadeInSpeed);
     },
     error: function() {
       $('div.terms-of-service span#github-published_at').hide();
     }
   });
   });
  </script>


