---
title: Corporate Membership Terms | HTML5 cross-platform mobile app development with Monaca
class: terms-of-service
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows appscross-platform.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
viewport: width=1200px
---

<div id="main-wrap">
  <section id="privacy" class="subpage">
    <div class="container">
      <h1 style="text-transform: uppercase;">Privacy Policy</h1>

      <div class="headline-nav">
        <a href="/terms-of-service/">Terms of Use</a>
        <a href="/terms-of-service/support.html">Support Terms</a>
        <a href="/terms-of-service/corporate.html">Corporate Membership Terms</a>
        <span class="current">Privacy Policy</span>
      </div>

      <div class="content" style="text-align:left;max-width:980px;margin:auto;color:#666;">
        This policy describes what information we collect when you visit Monaca’s websites, which include Monaca.io,
        Onsen.io and those subdomains (“Websites”) and use products, services, mobile applications, and content
        (“Services”). It also has information about how we store, use, process, transfer, and delete that information.<br>

        <div class="subtitle-xl">1. INFORMATION WE COLLECT</div>
        Monaca doesn’t make money from ads. So we don’t collect data in order to advertise to you and never sell your
        information. We only use your information for our own purposes.<br>
        In order to give you the best possible experience using Monaca, we collect information from your interactions
        with our Websites and Services. Some of this information, you actively tell us. Other information, we collect
        based on actions you take while using Monaca, such as your interactions with our product features (like create
        project, preview, and build). This information may include records of those interactions, your Internet
        Protocol address, information about your device (such as device or browser type), and referral information.<br><br>

        <div class="subtitle-lg">1.1 Information you actively give us</div>
        <div class="subtitle-md">Account Information</div>
        When you sign up for a Monaca account, we require certain Personal Information such as your email address, that
        is necessary for Monaca to provide Services to you.<br>
        <div class="subtitle-md">Profile Information</div>
        To customize the experience and use certain features of the Monaca Services (such as Forum), we may ask you to
        provide additional information, including language, a handle name and a profile picture.<br>
        <div class="subtitle-md">Payment Information</div>
        To use paid subscription of the Monaca Services beyond trial, we require you to provide certain financial
        information (like your credit card information) in order to facilitate the processing of payments.<br>
        <div class="subtitle-md">Communications with Monaca and other community members</div>
        When you communicate with Monaca or use the Forums to communicate with other community members, we collect
        information about your communication and any information you choose to provide.<br><br>

        <div class="subtitle-lg">1.2 Information we automatically collect from your visit or use of Monaca</div>
        <div class="subtitle-md">Visitor Information</div>
        When you visit our Websites, your activity as you navigate may be tracked by Google Analytics and Hotjar via
        cookies and other technologies. They let us study aggregated (or de-identified) data about our traffic and
        usage patterns in order to improve our site design and the information we offer. Such data may include your
        device's IP address (captured and stored only in anonymized form), device screen size, device type (unique
        device identifiers), browser information, geographic location, preferred language used to display our Websites,
        and stores in a pseudonymized user profile. Neither they nor we will ever use this information to identify
        individual users or to match it with further data on an individual user. <br>

        <div class="subtitle-md">Registered User Information</div>
        We automatically collect information on how you interact with the Services, such as date and time of login,
        information about your browser, operating system and computer or device, items clicked, actions taken, and
        payment. We may also collect location information, including location information automatically provided by
        your computer or device. Some of this information is tracked by Mixpanel via cookies and similar technologies.<br>
        <br>
        When you create your Monaca account, and authenticate with a third-party service (like GitHub) we may collect,
        store, and periodically update information associated with that third-party account. We will never publish
        through your third-party account without your permission.<br>
        <br>

        <div class="subtitle-xl">2. HOW WE USE INFORMATION WE COLLECT</div>
        We use this information in the following ways:<br>
        <br>
        ・To provide, maintain, test, improve, and customize Monaca Services;<br>
        ・To process your inquiries and otherwise deliver customer service;<br>
        ・To process your payments;<br>
        ・To control unauthorized use or abuse of Monaca Services, or otherwise detect, investigate or prevent
        activities that may violate our policies or be illegal;<br>
        ・To gather usage statistics of the Websites and Services<br>
        ・To communicate directly with you, including by sending you newsletters, promotions and special offers or
        information about new products and services <br>
        ・To allow you to post questions, comments and other user-generated content on Forum and other Websites<br>
        <br>
        Your opt-out options for promotional communications are described in Section 6. Your Rights and Choices.<br><br>

        <div class="subtitle-xl">3. SHARING & DISCLOSURE</div>
        Monaca won’t transfer information about you to third parties for the purpose of providing or facilitating
        third-party advertising to you. We won’t sell information about you.<br>
        <br>
        We may share your account information with third parties in some circumstances, including: (1) with your
        consent; (2) to service providers or partners to permit such parties to provide services that help us with our
        business activities, such as marketing, product development, and payment processing among others; (3) when we
        have a good faith belief it is required by law, such as pursuant to a subpoena or other legal process; (4) when
        we have a good faith belief that doing so will help prevent imminent harm to someone.<br>
        <br>
        We may also share aggregated or anonymized information with third parties for other purposes. Such information
        does not identify you individually, but may include usage, viewing and technical information. <br>
        <div class="subtitle-lg">3.1 Payment Information</div>
        When you make a purchase, any credit card information you provide as part of your Payment Information is
        collected and processed directly by our payment processor, PayPal or PAY.JP. We never receive or store your
        full credit card information.<br>
        PayPal and PAY.JP may collect and store Personal Information related to your billing information and history in
        order to provide their services, and may collect and store Personal Information and Business Information to
        prevent fraud and other abuse. These companies commit to complying with the Payment Card Industry Data Security
        Standard (PCI-DSS) and using industry standard security. <br>
        <div class="subtitle-lg">3.2 Business Transfer</div>
        We may share, disclose or transfer information to a buyer, investor, new affiliate, or other successor in the
        event Monaca undergoes a business transition, such as a merger, acquisition or dissolution.<br>
        <br>

        <div class="subtitle-xl">4. TRACKING & COOKIES</div>
        We use browser cookies and similar technologies to recognize you when you return to our Websites and Services.
        We use them in various ways, for example to log you in, remember your preferences (such as default language),
        evaluate email effectiveness, and personalize content and other information.<br>
        <br>
        Monaca doesn’t track you across the Internet. We track only your interactions within the Monaca Websites and
        Services.<br>
        Some third-party services that we use to provide the Monaca Services, such as Google Analytics, may place their
        own cookies in your browser. This Privacy Policy covers use of cookies by Monaca only and not the use of
        cookies by third parties.<br>
        <br>
        Your web browser may have a “do not track” setting which, when enabled, causes your browser to send a do not
        track HTTP header file or “signal” to each site you visit. At present, Monaca does not respond to this type of
        signal.<br>
        <br>

        <div class="subtitle-xl">5. SECURITY</div>
        Monaca takes all measures reasonably necessary to protect user information from unauthorized access,
        alteration, or destruction; maintain data accuracy; and help ensure the appropriate use of user information.<br>
        <br>
        In the event of a data breach that affects your Personal Information, we will act promptly to mitigate the
        impact of a breach and notify any affected users without undue delay.<br>
        Transmission of data on Monaca is encrypted using HTTPS and SSL/TLS. While our data is not encrypted at rest,
        we manage our own cages and racks at top-tier data centers with excellent physical and network security. <br>
        <br>
        However, no method of transmission, or method of electronic storage, is 100% secure. Therefore, we cannot
        guarantee its absolute security.<br>
        <br>

        <div class="subtitle-xl">6. YOUR RIGHTS & CHOICES</div>
        <div class="subtitle-lg">Modifying or Deleting Your Personal Information</div>
        If you have a Monaca account, you can access or modify your Personal Information. You can also delete your
        account from account management page.<br>
        <br>
        To protect information from accidental or malicious destruction, we may maintain residual copies for a brief
        time period. But, if you delete your account, your information and content will be unrecoverable after that
        time. Monaca may preserve and maintain copies of your information when required to do so by law.<br>
        <br>
        Individuals located in certain countries, including those residing in the European Union, the European Economic
        Area, and Switzerland (“European Residents”), have certain statutory rights regarding their personal
        information. For European Residents, reference to “Personal Information” in this privacy policy is equivalent
        to “Personal Data” as defined in the EU General Data Protection Regulation (GDPR).<br>
        <br>
        Subject to any exemptions provided by law, these individuals may have the right to request access to their
        Personal Information, or seek to update, delete, or correct Personal Information. <br>
        <br>
        If your request relates to Personal Information within the scope of the GDPR, your rights may be exercised by
        contacting team@monaca.io. Any European Resident who is dissatisfied with our handling of a request regarding
        Personal Information within the scope of the GDPR, has a right to lodge a complaint with his or her local data
        protection authority responsible for monitoring the application of the GDPR.<br>
        <br>
        For your protection, we may need to verify your identity before implementing any request relating to your
        Personal Information. We will respond to your request promptly, and in no more than 30 days from your request,
        subject to applicable law. Please note that we may need to retain certain information for recordkeeping
        purposes, such as retaining copies of agreements you have entered into with us and/or for audit and
        investigation purposes, or in the event of a court order or requirement of law.<br>
        <br>
        Deleted or updated Personal Information stored in our backup systems will be automatically deleted or updated
        within a reasonable period of time during our backup procedures, except as otherwise required by applicable
        law.<br>
        <br>
        <div class="subtitle-lg">Email from Monaca</div>
        Sometimes we’ll send you emails about your account, service changes or new policies. You can’t opt out of this
        type of “transactional” email (unless you delete your account). But, you can opt out of non-administrative
        emails such as initial tutorials and newsletters by unsubscribing from the list.<br>
        <br>
        When you interact with an email sent from Monaca (such as opening an email or clicking on a particular link in
        an email), we may receive information about that interaction. We won’t email you to ask for your password or
        other account information. If you receive such an email, please send it to us so we can investigate.<br>
        <br>

        <div class="subtitle-xl">7. OTHER IMPORTANT INFORMATION</div>

        <div class="subtitle-lg">International Transfer of Data</div>
        Monaca is hosted in Japan. By using Monaca Services, you authorize Monaca to transfer, store, and use your
        information in Japan and any other country where we operate. Where your data is disclosed to our processors, it
        is subject by contract to at least the same level of data protection as that set out in this statement.<br><br>

        <div class="subtitle-xl">8. Changes to this Policy</div>

        Monaca may periodically update this Policy. We’ll notify you about significant changes to it. The most current
        version of the policy will always be here.<br><br>

        <div class="subtitle-xl">9. Contact</div>
        If you have questions or need to contact us about this Privacy Policy, please email us at team@monaca.io.
        <br><br>
        May 25, 2018<br>
        Asial Corporation
        </p>

      </div>
  </section>
  <style>
    .subtitle-xl {
      font-size: 19px;
      margin: 13px 0;
      font-weight: 700;
    }

    .subtitle-lg {
      font-size: 17px;
      margin: 10px 0;
      font-weight: 600;
    }

    .subtitle-md {
      font-size: 16px;
      margin: 10px 0;
      font-weight: 600;
    }
  </style>
  <script src="/js/jquery.smoothScroll.js"></script>


  
  <script src="/js/jquery.min.js"></script>