---
title: Corporate Membership Terms | HTML5 cross-platform mobile app development with Monaca
class: terms-of-service
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
viewport: width=1200px
show_ja_globalnav: true
---

<div id="main-wrap">
  <section id="privacy" class="subpage">
    <div class="container">
      <h1 style="text-transform: uppercase;">プライバシーポリシー</h1>

      <div class="headline-nav">
        <a href="/terms-of-service/">Monaca利用規約</a>
        <a href="/terms-of-service/support.html">Monacaサポート規約</a>
        <a href="/terms-of-service/corporate.html">法人会員規約</a>
        <a href="/terms-of-service/partner.html">Monaca開発パートナー規約</a>
        <span class="current">プライバシーポリシー</span>
      </div>

      <div class="content" style="text-align:left;max-width:980px;margin:auto;color:#666;">
        このプライバシーポリシーは、Monaca.io、Onsen.ioこれらのサブドメイン、製品、サービス、モバイルアプリケーションの利用、およびコンテンツを含むMonacaのウェブサイト（本サービス）を訪問又は利用した際に当社が収集する情報と、その情報の保存、使用、処理、転送、および削除について規定します。<br><br>

        <div class="subtitle-xl">1.収集する情報</div>
        本サービスは、広告の目的で情報を収集することはなく、収集した情報を販売することもありません。当社は、ユーザーと当社のウェブサイト及びサービスとのやり取りをMonacaのユーザビリティの向上のために収集します。
        本サービスは、情報をユーザーから直接提供を受け、或いはユーザーのMonacaの使用中の行動（プロジェクトの作成、プレビュー、ビルドなど）に基づいて収集します。この情報には、これらのやりとりの記録、インターネットプロトコルのアドレス、使用機器に関する情報（デバイスやブラウザの種類など）、リファラー情報などが含まれます。<br>

        <div class="subtitle-lg">1.1 ユーザーから直接提供される情報</div>
        <div class="subtitle-md">アカウント情報</div>
        Monacaアカウントにサインアップする際に、Monacaがサービスを提供するために必要な個人情報（メールアドレスなど）を提供して頂きます。
        <div class="subtitle-md">プロフィール情報</div>
        Monacaサービスをカスタマイズたり、Forumなどの機能を使用するために、言語、ハンドル名、プロフィール画像などの追加情報を提供して頂くことがあります。
        <div class="subtitle-md">お支払い情報</div>
        Monacaサービスの有料版を使用するには、クレジットカード情報などを提供して頂きます。
        <div class="subtitle-md">Monaca及びコミュニティメンバーとのコミュニケーション</div>
        Monacaサポートへ問い合わせをしたり、またはフォーラムを使用して他のコミュニティメンバーとコミュニケーションをとったりする場合、それらのコミュニケーションに関する情報が収集されます。<br><br>

        <div class="subtitle-lg">1.2訪問またはMonacaの使用から自動的に収集する情報</div>
        <div class="subtitle-md">訪問者の情報</div>
        本サービスのウェブサイトにアクセスすると、訪問者の行動は、Cookieやその他の技術を介してGoogleアナリティクスとHotjarによってトラッキングされ、サイトのデザインや提供されるコンテンツを改善するために、トラフィックや使用パターンに関する集計情報（または識別解除されたデータ）が利用されます。
        これらのデータには、お使いのデバイスのIPアドレス（匿名化された形式でのみ取得および保存）、デバイスの画面サイズ、デバイスの種類（固有デバイス識別子）、ブラウザ情報、地理的位置、Webサイトの表示に使用される優先言語、
        プロフィールなどが含まれます。本サービスでは、Googleアナリティクス、及びHotjarはこれらの情報を使用して個々のユーザーを特定したり、個々のユーザーのさらなるデータと照合したりすることはありません。

        <div class="subtitle-md">登録ユーザーの情報</div>
        本サービスは、ログイン日時、ブラウザ、オペレーティングシステムとコンピュータまたはデバイスに関する情報、クリックされたアイテム、操作情報、支払情報など、サービス利用に関する情報を自動的に収集します。また、ユーザーのコンピュータまたはデバイスによって自動的に提供される位置情報を含む位置情報も収集することがあります。この情報の一部は、クッキーなどの技術を介してMixpanelによって追跡されます。
        ユーザーがMonacaアカウントを作成し、サードパーティサービス（GitHubなど）で認証すると、そのサードパーティアカウントに関連付けられた情報を収集、保存、定期的に更新することがあります。本サービスは、ユーザーの許可なく、ユーザーのサードパーティサービスのアカウントを通じてこれらの情報を公開することはありません。
        <br><br>

        <div class="subtitle-xl">2.収集した情報の使用方法</div>
        収集した情報は、次の方法で使用します。<br><br>
        <ul style="padding-inline-start: 40px; list-style:initial;">
          <li>Monacaサービスの提供、維持、テスト、改善、およびカスタマイズ</li>
          <li>お問い合わせに対応し、カスタマーサービスを提供するため</li>
          <li>支払の処理</li>
          <li>Monacaサービスの不正使用や乱用を管理するため、または本サービスのポリシーに違反する可能性のある行為、または違法行為を検出、調査、または防止するため</li>
          <li>ウェブサイトとサービスの使用統計を収集するため</li>
          <li>ニュースレター、プロモーション、特別提供、新製品やサービスに関する情報の送付を含む連絡のため</li>
          <li>フォーラムやその他のWebサイトに質問、コメント、その他のユーザー生成コンテンツを投稿できるようにするため</li>
          ※プロモーション・コミュニケーションのオプトアウトオプションについては、第6項「権利と選択」を参照してください。
        </ul>
        <br>

        <div class="subtitle-xl">3.共有と開示</div>
        本サービスは、以下の場合、そのアカウント情報を第三者と共有することがあります。<br><br>
        （1）ユーザーの同意を得たとき<br>
        （2）マーケティング、製品開発、支払い処理などの本サービスの事業活動の支援をサービス提供者またはパートナーに対して委託したとき<br>
        （3）法的な義務に基づくとき<br>
        （4）本サービス、ユーザー、第三者への差し迫った被害を回避するために必要な場合<br><br>

        本サービスは、集約または匿名化された情報を他の目的で第三者と共有することがあります。 そのような情報は、個人を特定するものではありませんが、利用情報、閲覧履歴、技術情報を含むことがあります。<br>

        <div class="subtitle-lg">3.1 支払い情報</div>
        購入時に、お支払い情報の一部としてご提供いただいたクレジットカード情報は、当社の支払い処理業者、PayPalまたはPAY.JPによって直接収集され、処理されます。当社及びこれらの事業者はユーザーのクレジットカード情報の全てを取得したり保管したりすることはありません。<br>
        <br>
        PayPalとPAY.JPは、サービスを提供するために、ユーザーの請求情報と履歴に関連する個人情報を収集して保管することがあり、不正行為やその他の不正行為を防止するために個人情報とビジネス情報を収集して保管することがあります。
        これらの企業は、PCI DSS（Payment Card Industry Data Security Standard）を遵守し、業界標準のセキュリティを使用することを約束しています。<br>

        <div class="subtitle-lg">3.2 合併時等における情報の移転</div>
        当社は、合併、買収または解散などの事業移行を経た場合に、買主、投資家、新規関連会社、または継承会社に情報を共有、開示または移転することがあります。
        <br><br>

        <div class="subtitle-xl">4.トラッキング＆クッキング</div>
        本サービスは、ブラウザのクッキーおよび類似の技術を使用して、ユーザーが本サービスのウェブサイトおよびサービスに再訪する際に、ユーザーを認識します。本サービスは、これらの技術を、ログイン、電子メールの有効性の評価、コンテンツやその他の情報のパーソナライズなどさまざまな方法で使用します。<br><br>
        Googleアナリティクスなど、本サービスの提供に使用する一部のサードパーティサービスは、お客様のブラウザに独自のCookieを配置する可能性があります。本プライバシーポリシーは、サードパーティサービスによるCookieの使用ではなく、本サービスによるCookieの使用のみを対象としています。<br><br>
        ウェブブラウザには「追跡しない」設定があるものがあります。これを有効にすると、訪問した各サイトにHTTPヘッダーファイルやsignalを送信しないようにブラウザに指示します。
        現在、Monacaはこの種のsignalに対応していません。<br><br>

        <div class="subtitle-xl">5.セキュリティ</div>
        本サービスは、不正なアクセス、改ざん、または破壊からユーザーの情報を保護し、情報の正確性の維持、ユーザーの情報の適切な使用を保証するために合理的に必要なすべての手段を講じます。 <br><br>
        ユーザーの個人情報に影響を及ぼす違反が発生した場合、当社は速やかに違反の影響を緩和し、影響を受けるユーザーに遅滞なく通知します。
        本サービスでのデータの送信は、HTTPSとSSL / TLSを使用して暗号化されます。保管されている情報は暗号化されませんが、当社は適切なセキュリティ対策がされたデータセンターを利用しています。
        しかし100％安全な伝送方法や電子記憶方法は存在しないため、当社は情報の安全性を保証はいたしません。<br>
        <br>

        <div class="subtitle-xl">6.権利と選択</div>
        <div class="subtitle-lg">個人情報の変更または削除</div>
        Monacaアカウントをお持ちの場合は、自分の個人情報にアクセスしまたはこれを変更することができます。 アカウント管理ページからアカウントを削除することもできます。
        偶発的または悪意のある破壊から情報を保護するために、当社は短時間の間、残った情報のコピーを保持することがあります。ユーザーがアカウントを削除すると、当該時間が経過したの後は、削除された情報とコンテンツは回復することができません。
        当社は法律で必要とされる場合には、お客様の情報のコピーを保存し、維持することがあります。<br><br>
        欧州連合、欧州経済地域およびスイス（「欧州居住者」）に居住する者を含む特定の国に所在する個人は、個人情報に関する特定の法的権利を有しています。欧州居住者の場合、このプライバシーポリシーの「個人情報」に関する記載は、EUの一般データ保護規制（GDPR）で定義されている「個人データ」に相当します。<br>
        ユーザーは、法律の定めに従って、自らの個人情報へのアクセスを要求したり、個人情報の更新、削除、修正を求める権利を有しています。
        あなたの要求がGDPRの範囲内の個人情報に関連する場合は、team@monaca.ioに連絡して権利を行使することができます。
        GDPRの範囲内で個人情報に関する要請を処理することに不満を持つ欧州居住者は、GDPRの適用を監視する責任を負う地域のデータ保護機関に苦情を申し立てる権利があります。<br><br>

        ユーザーの保護のため、ユーザーの個人情報に関する要求を実施する前に、ユーザーの身元を確認する必要が生じる場合があります。当社は、適用される法律の適用を受けて、速やかに、ユーザーの要求から30日以内に迅速に対応します。ユーザーが当社と締結した契約のコピーの保持や監査や調査の目的のため、または裁判所の命令や法律により、記録保管の目的で特定の情報を保持する場合があります。
        バックアップシステムに保存されている削除または更新された個人情報は、法令に別段の定めがある場合を除き、弊社のバックアップ手順に従って自動的に削除または更新されます。

        <div class="subtitle-lg">Monacaからのメール</div>
        本サービスは、お客様のアカウント、サービスの変更、または新しいポリシーに関するメールをお送りします。アカウントを削除しない限り、この種の電子メールをオプトアウトすることはできません。<br>
        ただし、最初のチュートリアルやニュースレターなどアカウントの管理に関連しないメールは、受信するメールのリストから除外することによってオプトアウトすることができます。<br><br>
        本サービスから送信された電子メールを操作する時（電子メールを開いたり、電子メール内の特定のリンクをクリックするなど）、本サービスはそのやりとりに関する情報を受け取ることがあります。当社はパスワードやその他のアカウント情報を尋ねる電子メールを送ることはありません。そのようなメールを受け取った場合は、調査のためGoogleに連絡することをお勧めします。<br><br>

        <div class="subtitle-xl">7. その他の重要な情報</div>
        <div class="subtitle-lg">データの国際移転</div>
        本サービスは日本国で運用されています。本サービスを使用することにより、ユーザーは当社が日本および当社が本サービスを提供する他の国において、ユーザーの情報を転送、保管、使用することを許可します。ユーザーの情報が当社のプロセッサーに開示されている場合は、本ポリシーに記載されている情報の保護と少なくとも同レベルの保護の対象となります。
        <br><br>

        <div class="subtitle-xl">8. 本ポリシーの変更</div>
        Monacaはこのポリシーを定期的に更新することがあります。 重大な変更についてお知らせいたします。 ポリシーの最新バージョンは常にここにあります。<br><br>

        <div class="subtitle-xl">9.プライバシーポリシー翻訳文の提示</div>
        当社は、本プライバシーポリシーを日本語以外の言語に翻訳して提示することがあります。日本語以外の言語によって記述されたプライバシポリシーと、日本語によって記述された本プライバシポリシーに齟齬が生じた場合は、日本語によって記述された本プライバシポリシーの記述を有効なものとして優先するものとします。
        <br><br>

        <div class="subtitle-xl">10. 連絡先</div>
        このプライバシーポリシーについてご不明な点がありましたら、<a href="mailto:team@monaca.io">team@monaca.io</a>までメールでお問い合わせください。
        <br><br>
        May 25, 2018<br>
        Asial Corporation
        </p>

      </div>
  </section>
  <style>
    .subtitle-xl {
      font-size: 19px;
      margin: 13px 0;
      font-weight: 700;
    }

    .subtitle-lg {
      font-size: 17px;
      margin: 10px 0;
      font-weight: 600;
    }

    .subtitle-md {
      font-size: 16px;
      margin: 10px 0;
      font-weight: 600;
    }
  </style>
  <script src="/js/jquery.smoothScroll.js"></script>


  <script src="/js/moment.js"></script>
  <script src="/js/jquery.min.js"></script>