---
title: Support Terms | HTML5 cross-platform mobile app development with Monaca
class: terms-of-service
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
viewport: width=1200px
---

<div id="main-wrap">
<div id="language-switch-container">
  <div id="language-switch">
          <p>You are looking at English website.</p>
      <p class="language-switch-button-container">
        <a class="btn-lang-switch" onclick="$('#language-switch-container').hide()">Close</a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn-lang-switch" href="/ja/page/license">日本語版へ</a>
      </p>
      </div>
</div>
<section id="privacy" class="subpage">
  <div class="container">
    <h1 style="text-transform: uppercase;">Support Terms</h1>


<div class="headline-nav">

          <a href="/en/page/license">Terms of Use</a>

          <span class="current">Support Terms</span>


          <a href="/en/page/corporateLicense">Corporate Membership Terms</a>
  </div>

    <p>
      <b>Article 1 Acceptance of the Agreement</b><br>
      The Asial Corporation (the "Company") provides under the Terms a Monaca support program (the "Service") to the member who is using a paid plan that includes support from Monaca or to the member selecting a paid program who has purchased support tickets at an additional cost (the "Member"). The Member shall be deemed to have agreed to the Terms at the time of having requested support for Monaca from the Company by way of the form provided by the Company or other means.<br>
      <br>
      <b>Article 2 Support Services</b><br>
      The Member shall request support (the "Support") from the Company based on the Service using the form provided by the Company to the Member.<br>
      <br>
      When deemed necessary by the Company, the Company may show to the Member a different way of requesting Support other than the method set forth in the preceding paragraph.<br>
      <br>
      The Member may ask one question about one matter each time, which shall count as one event. Questions that are handled are questions about the basic method of use and the features of Monaca provided by the Company, questions about the source code and API, etc. provided by the Company, questions about information provided on the website of Monaca, and any other content as deemed necessary by the Company to handle.<br>
      <br>
      The Company shall not provide Support to the Member with respect to the following:<br>
      <br>
      (1) Matters outside the scope of Monaca, and its associated services and products;<br>
      (2) Matters related to the Member's individual environment (OS, hardware, network<br>
      environment, etc.);<br>
      (3) Matters that fall under consulting for taking care of creating , management of, and<br>
      modification to, documents, applications, etc.;<br>
      (4) Matters related to any malfunctions occurring outside the operating environment<br>
      prescribed by the Company or in a Member's individual special operating environment;<br>
      (5) If support is extorted for a purpose and by a means outside the support as stipulated by and provided for by the Company;<br>
      (6) If there is any act of infringement or the likelihood thereof upon the property or privacy of a third party or the Company;<br>
      (7) If there is any act that causes or is likely to cause a loss or damage to a third party or the Company;<br>
      (8) If there is any act that causes or is likely to cause great damage to the reputation or credibility of the Company or persons working for the Company;<br>
      (9) If there is any act of pretending to be someone else, etc., or making false declarations or notifications;<br>
      (10) If there is any act which is contrary to or likely to be contrary to public order or standards of decency;<br>
      (11) If there is any act which is or may be offensive to public order and morals;<br>
      (12) If there is any other act that violates or is likely to violate laws, regulations, or ordinances; or<br>
      (13) If there is any other act which is deemed by the Company to be inappropriate.<br>
      <br>
      When requesting Support, it shall require the ticket set forth by the Company separately.<br>
      <br>
      The Company assumes no obligation to provide Support to a Member who:<br>
      <br>
      (1) has to pay for the Monaca service but does not have a support ticket;<br>
      (2) has a support ticket that has expired; or<br>
      (3) has made an inquiry that is outside the scope of the support provided for by the Company as set forth in the attachment.<br>
      <br>
      <b>Article 3 Support Ticket</b><br>
      The Member may purchase as necessary support tickets at the price set forth separately by the Company.<br>
      <br>
      A Member who purchases support tickets shall pay the purchase price to the Company in accordance with the procedures set forth separately by the Company, and if payment is not completed by the due date set forth by the Company, the Company may suspend the validity of the support ticket.<br>
      <br>
      If payment of the purchase price is not completed even after the elapse of the due date, the Member shall pay in a lump sum in cash by the date specified by the Company as overdue interest an amount calculated at the rate of 14.6% annual for the number of days from the day following the due date until the date that payment is complete. Furthermore, the Member shall pay all transfer fees and other expenses required to make such payment.  <br>
      <br>
      <b>Article 4 Cooperating with Support</b><br>
      When it is necessary for the Company to investigate the cause of a problem in response to a question asked by a Member, such Member shall cooperate with the Company as much as possible by providing information, etc.<br>
      <br>
      If the Member does not provide the necessary cooperation without good cause, the Company may limit the Service provided to such Member or may refuse to provide the Service.<br>
      <br>
      <b>Article 5 Rights to Copyrighted Works</b><br>
      When the Company provides copyrighted works (technology, knowledge, sample codes, etc.) of the Company to the Member in connection with the Service, a license to use such copyrighted works shall be granted for use only by the Member. The Company reserves all rights in connection with such copyrighted works. Except as otherwise provided for separately, the Member shall not have any right to modify, sell, duplicate, decompile, reverse engineer, sub-license, or distribute such copyrighted works. In addition, if copyrighted works of third parties are included in the offerings of the Service (source codes of open source products, etc.), the Member shall comply with the license of such copyrighted work.<br>
      <br>
      <b>Article 6 No-Assignment</b><br>
      Except as otherwise provided for separately, the Member shall not be entitled to assign or sell to any third party the right to receive the Service.<br>
      <br>
      <b>Article 7 Handling of Confidential Information</b><br>
      When receiving the Service, the Member shall not provide to the Company any confidential information of the Member or any third party including information that encompasses the projects of the Member. Any information, materials, and data from the Member that contains any notices, explanations, or descriptions that are inconsistent with the above shall be null and void.<br>
      <br>
      The Company may use the information provided by the Member to the Company through the Service in ways not specified by such Member for commercial purposes of the Company including the development and improvement of products and services.<br>
      <br>
      <b>Article 8 Expiration Date and Termination</b><br>
      Each of the support tickets purchased by the Member has an expiration date established separately by the Company. Any support ticket that has expired shall be null and void.<br>
      <br>
      Any support ticket that the Member has shall become null and void at the time the Member stops using the Monaca service. Once a support ticket becomes null and void, it shall not be restored even in the event that such Member resumes using the Monaca paid services.<br>
      <br>
      The Company may stop providing support at any time without the consent of the Member if:<br>
      <br>
      (1) there is a breach of this Agreement, the Monaca Terms of Use, the Company Terms of Use, or any agreement entered into between the Company and the Member; <br>
      (2) there is any falsification in the registration details;<br>
      (3) there is any infringement against the Company, products of the Company, or the website of the Company, or any act that damages credibility;<br>
      (4) there is an unauthorized use of the information provided by the Company in connection with the provision of the Service or under the Terms; <br>
      (5) it is determined that a Member is an organized crime group, a member of an organized crime group, a person who was a member of an organized crime group within the past 5 years, an associate member of an organized crime group, a company affiliated with a crime organization, an extortionist, a socially or politically branded racketeer, a crime organization with special intelligence abilities, etc., or is deemed to have a relationship with these persons or organizations by offering assistance or being substantially involved, or otherwise deemed to be anti-social forces equivalent thereto; or<br>
      (6) otherwise determined by the Company to be unsuitable.<br>
      <br>
      <b>Article 9 Warranty and Disclaimer</b><br>
      Any and all information, software, and materials provided by the Company are provided "as is", and the Company makes no warranty as to the accuracy, convenience, usefulness, and completeness, etc., of the content that is provided. In addition, there may be times when the Service may not be available due to a problem with the server, communication lines, and communication equipment used by the Company or due to other reasons.<br>
      <br>
      The Company shall immediately handle and make every reasonable effort as the expert when providing the Service, but this in no way warrants that part or all of the questions or problems of the Member will be solved, or that the needs of Member will be met, or that the problem will be fixed nor how long it will take.<br>
      <br>
      When the Member or a third party incurs any damage as a result of the willful act or gross negligence of the Company in connection with the provision or use of the Service, the Company shall compensate the Member or third party for the damages in an amount not to exceed ¥5,000. Except as provided for above, the Company shall not assume any liability nor provide any compensation whatsoever with respect to any direct damage, consequential damage, and loss of profits incurred by a Member or third party in connection with the provision or use of the Service.<br>
      <br>
      Nothing in this Agreement shall constitute an extension or expansion of the warranty and liability for damages set forth in the Monaca Terms of Use, the Company Terms of Use, and the any agreement between the Company and the Member. <br>
      <br>
      <b>Article 10 Temporary Suspension of Service</b><br>
      The Company may temporarily suspend the provision of the Service without prior notice to the Member in any of the following cases. The Company shall not assume any liability nor provide any compensation whatsoever with respect to any direct damage, consequential damage, and loss of profits incurred by a Member or third party for any reason whatsoever in connection with the provision or use of the Service.<br>
      <br>
      (1) When performing system maintenance of the Service<br>
      (2) When it is difficult to provide the Service due to a fire, an electrical outage, and other Force Majeure<br>
      (3) When it is difficult to provide the Service due to a natural disaster or other similar reason<br>
      (4) When it is determined that it is necessary for the Company to suspend the Service due to an emergency situation other than the above<br>
      <br>
      <b>Article 11 Abolishment of Service</b><br>
      The Company may abolish the provision of all or part of the Service due to business and other reasons. The Company shall not assume any liability nor provide any compensation whatsoever with respect to any direct damage, consequential damage, and loss of profits incurred by a Member or third party in connection with the abolishment of the Service.<br>
      <br>
      <b>Article 12 Content and Modification of the Terms</b><br>
      If deemed necessary, the Company may without prior notice to the Member modify at any time the Terms, fees and other conditions for receiving the Service, the term, support details, etc. (the "Terms, etc.").<br>
      <br>
      From the time the Terms, etc., are revised and presented to the Member or posted on the website of the Company, fees and other conditions for receiving the Service, the term, and support details shall be based on the Terms, etc. that have been revised, and any and all matters related to the Service shall be in accordance with the Terms that have been revised.<br>
      <br>
      <b>Article 13 Governing Law and Court of Jurisdiction</b><br>
      The interpretation and application of the Terms shall be governed by the laws of Japan.<br>
      <br>
      The Tokyo District Court shall be the agreed exclusive and competent court of first instance for any and all disputes over the Service.<br>
      <br>
      <b>Article 14 Submission of the Translations of the Agreement</b><br>
      The Company may submit the Terms translated into languages other than Japanese.<br>
      <br>
      If there should arise any discrepancy between any support terms written in a language other than Japanese and the Terms written in Japanese, the provisions of the Terms written in Japanese shall prevail as valid.<br>
      <br>
      September 12, 2013<br>
      Asial Corporation
    </p>


  </div>
</section>
<script src="/js/jquery.smoothScroll.js"></script>


<script src="/js/moment.js"></script>
<script src="/js/jquery.min.js"></script>
<script>

$(window).load(function() {
	var fadeInSpeed = 400;
	$('div.terms-of-service span#github-published_at').hide();
	$.ajax({
		url: 'https://api.github.com/repos/monaca/Localkit/releases',
		dataType: 'jsonp',
		success: function(res) {
			$("div.terms-of-service span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
			$('div.terms-of-service span#github-published_at a strong').text(res.data[0].name);
			var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
			$('div.terms-of-service span#github-published_at span').text(dateJa);
			$('div.terms-of-service span#github-published_at').fadeIn(fadeInSpeed);
		},
		error: function() {
			$('div.terms-of-service span#github-published_at').hide();
		}
	});
});
</script>


