---
title: Monacaサポート規約 | MonacaでHTML5モバイルアプリ開発
class: terms-of-service
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
viewport: width=1200px
---

<div id="main-wrap">
<section id="privacy" class="subpage">
  <div class="container">
    <h1>Monacaサポート規約</h1>


<div class="headline-nav">

          <a href="/terms-of-service/">Monaca利用規約</a>

          <span class="current">Monacaサポート規約</span>


          <a href="/terms-of-service/corporate.html">法人会員規約</a>

          <a href="/terms-of-service/partner.html">Monaca開発パートナー規約</a>
  </div>

    <p>
    <b>第1条　規約への同意</b><br>
    アシアル株式会社（以下、「当社」）は本規約に基づきMonacaサポートプログラム（以下、「本サービス」）をMonacaをサポート付きの有料プランで利用している会員または有料プランを選択しておりサポートチケットを追加で購入した会員（以下、「会員」）に対して提供を行います。<br>
    会員は、当社が提供するフォームやその他の方法によって当社に対してMonacaへのサポートの要請をおこなった時点で本規約に同意したものとします。<br>
    <br>
    <br>
    <b>第2条　サポートサービス</b><br>
    会員は、当社に対し、当社が会員に対して提供するフォームにて本サービスに基づくサポート（以下、「本サポート」）を要請するものとします。<br>
    <br>
    当社が必要と判断する場合、当社は前項で定める方法以外での本サポートの要請方法を会員にご案内する場合があります。<br>
    <br>
    会員は、1度に1つの事項に関する1つの質問を行うものとし、これを1インシデントとします。対象となる質問は、当社によって提供されるMonacaの基本的な使用方法や機能に関する質問、当社が提供するソースコード、API等に関する質問、MonacaのWebサイトで提供する情報に関する質問、その他当社が対応が必要であると認める内容です。<br>
    <br>
    下記のいずれかの事由に該当する場合、当社は、会員に対し、本サポートを提供しません。<br>
    <br>
    1) Monacaおよびそれに付随するサービス・製品以外に関する事項<br>
    2) 会員固有の環境（OS、ハードウェア、ネットワーク環境等）に関する事項<br>
    3) 文書、アプリケーション等の作成代行・管理・修正に関するコンサルティングに該当する事項<br>
    4) 当社の規定する動作環境以外あるいは会員固有の特殊な動作環境における不具合に関する事項<br>
    5) 当社が規定・提供するサポート以外の対象・方法によるサポートを強要する行為をした場合<br>
    6) 第三者または当社の財産もしくはプライバシーを侵害する行為、または侵害する恐れのある行為をした場合<br>
    7) 第三者または当社に不利益もしくは損害を与える行為、またはその恐れのある行為をした場合<br>
    8) 当社および当社の業務に従事する者に対し、著しく名誉もしくは信用を毀損する行為、またはその恐れのある行為をした場合<br>
    9) 他人を装う等、虚偽の申告、届出を行なう行為をした場合<br>
    10) 公序良俗に反する行為、またはその恐れのある行為をした場合<br>
    11) 犯罪行為または犯罪に結びつく行為、またはその恐れのある行為をした場合<br>
    12) その他法律、法令または条例に違反する行為、またはその恐れのある行為をした場合<br>
    13) その他当社が不適切と判断する行為をした場合<br>
    <br>
    本サポートの要請にあたっては、別途当社が定めるサポートチケットが必要になります。<br>
    <br>
    当社は、下記のいずれかに該当する会員に対して本サポートを提供する義務を負わないものとします。<br>
    <br>
    1) サポートチケットを保有しないMonacaサービスの有料会員<br>
    2) 保有するサポートチケットの有効期限が切れた会員<br>
    3) 当社が別紙で定めるサポート範囲外の問い合わせをされた会員<br>
    <br>
    <br>
    <b>第3条　サポートチケット</b><br>
    会員は必要に応じて当社が別途定める金額でサポートチケットの購入を行うことができます。<br>
    <br>
    サポートチケットを購入する会員は別途当社が定める手続きに従って当社に購入代金を支払うものとし、当社が定める支払期限までに支払が完了しない場合は、当社はサポートチケットの効力を停止することができます。<br>
    <br>
    購入代金の支払が支払期限を過ぎても完了しない場合、会員は支払期限の翌日から支払完了の日までの日数に年14.6％の割合で計算される金額を延滞利息として、当社が指定した日までに現金にて一括して支払うものとします。なお、当該支払に必要な振込手数料その他の費用は、全て会員が負担するものとします。<br>
    <br>
    <br>
    <b>第4条　サポートに対する協力</b><br>
    当社が会員から質問された問題の原因調査を行う必要がある場合、当該会員は、情報の提供等、可能な範囲で当社にご協力いただくものとします。<br>
    <br>
    相当な理由無く必要な協力をしていただけない場合、当社は、当該会員に対し、本サービスの提供を制限しまたは提供をお断りすることがあります。<br>
    <br>
    <br>
    <b>第5条　著作物の権利</b><br>
    当社が本サービスに関連して会員に当社の著作物（技術、知識、サンプルコード等）を提供する際、当該著作物は会員による使用の目的においてのみ使用許諾がされます。当社は当該著作物に関わる一切の権利を留保します。会員は別途定めがある場合を除き、当該著作物の変更、販売、複製、逆コンパイル、リバースエンジニアリング、再使用許諾または配布をする権利を一切有しないものとします。また、本サービスの提供物に第三者の著作物（オープンソース製品のソースコード等）が含まれる場合は、会員は当該著作物のライセンスに従うものとします。<br>
    <br>
    <br>
    <b>第6条　譲渡禁止</b><br>
    他に特段の定めがある場合を除き、会員は、本サービスの提供を受ける権利を第三者に譲渡・売買することはできないものとします。<br>
    <br>
    <br>
    <b>第7条　機密情報の扱い</b><br>
    本サービスを受けるに際して、会員は、会員のプロジェクトに含まれる情報を含め、会員および第三者のいかなる機密情報をも当社に提供しないものとします。会員からの情報・資料・データに含まれる上記と矛盾する一切の告知、説明、表示は一切効力を有しないものとします。<br>
    <br>
    当社は会員が本サービスを通じて当社に提供した情報を、製品・サービスの開発、改善を含め当社の自社の営業目的に、当該会員が特定されない形で使用することができるものとします。<br>
    <br>
    <br>
    <b>第8条　有効期限および解除</b><br>
    会員が購入されるサポートチケットにはそれぞれ別途当社が定める有効期限が設定されています。有効期限が切れたサポートチケットはその効力を失います。<br>
    <br>
    会員がMonacaサービスの利用を停止した時点で、会員が保有するサポートチケットはその効力を失います。当該会員がMonaca有料サービスの利用を再開した場合でも、一度効力を失ったサポートチケットの効力は回復しません。<br>
    <br>
    当社は会員が、下記のいずれかに該当する場合は、会員の同意なくサポート提供途中で終了することができます。<br>
    <br>
    1) 本規約、Monaca利用規約、法人利用規約、当社と会員が締結した契約等に違反した場合<br>
    2) 登録内容に虚偽があった場合<br>
    3) 当社、当社製品または当社Webサイトを侵害し、あるいは信用を害する行為があった場合<br>
    4) 本サービス提供に伴い、または本規約に基づいて当社が提供する情報を不当に使用した場合<br>
    5) 会員が暴力団、暴力団員、暴力団員でなくなった時から5年を経過しない者、暴力団準構成員、暴力団関係企業・団体、総会屋、社会運動・政治活動標ぼうゴロまたは特殊知能暴力集団等、またはこれらの者・集団に便宜を図りあるいは実質的に関与していると認められる関係を有する、その他これらに準ずる反社会的勢力であると判明した場合<br>
    6) その他、当社が不適確であると判断した場合<br>
    <br>
    <b>第9条　保証および免責</b><br>
    当社が提供する一切の情報、ソフトウェアおよび資料は現状有姿で提供されるものであり、当社は、提供する内容の正確性、利便性、有用性および完全性等に関して、いかなる保証をするものではありません。また、当社の利用するサーバ、通信回線および通信機器の障害、その他の理由で本サービスを利用できない場合があります。<br>
    <br>
    当社は、本サービスを提供するにあたり専門家として速やかに対応し合理的な努力を払いますが、会員の質問や問題の一部または全てを解決すること、会員の要望に適うこと、不具合の補修、その対応に要する時間を保証するものではありません。<br>
    <br>
    当社は、本サービスの提供または利用に関連して、当社の故意又または重過失により、会員または第三者に損害が生じたときは、5000円を限度として、会員または第三者に対して損害を賠償するものとします。上記の場合を除き、当社は、本サービスの提供または利用に関連して、会員または第三者に生じた直接的損害、間接的損害および逸失利益に関して、一切の責任を負わず、補償もいたしません。<br>
    <br>
    本規約のいずれの規定も、Monaca利用規約、法人利用規約および当社と会員との間の契約で定められている保証および賠償責任の内容を拡張または追加するものではありません。<br>
    <br>
    <br>
    <b>第10条  一時的なサービスの停止</b><br>
    当社は、下記のいずれかに該当する場合、会員への事前の通知を行なうことなく、本サービスの提供を一時停止することがあります。当社は、本サービスの停止に関して、理由の如何を問わず、会員または第三者に生じた直接的損害、間接的損害および逸失利益に関して、一切の責任を負わず、補償もいたしません。<br>
    1) 本サービスのシステムメンテナンスを行なう時<br>
    2) 火災、停電等の不可抗力により、本サービスの提供が困難になった時<br>
    3) 天災、またはこれに類する事由により、本サービス提供が困難になった時<br>
    4) 上記以外の緊急事態により、当社が本サービスを停止する必要があると判断した時<br>
    <br>
    <br>
    <b>第11条  サービスの廃止</b><br>
    当社は、営業上その他の理由により、本サービスの全部または一部の提供を廃止することがあります。当社は、本サービスの廃止に伴い、会員または第三者に生じた直接的損害、間接的損害および逸失利益に関して、一切の責任を負わず、補償もいたしません。<br>
    <br>
    <br>
    <b>第12条　内容・規約の変更</b><br>
    当社は、必要と判断した場合には、会員にあらかじめ通知することなくいつでも本規約、料金その他の提供条件、期間、サポート内容等（以下、「本規約等」）を変更することができるものとします。<br>
    <br>
    変更後の本規約等が会員に提示されまたは当社のウェブサイトに掲載された時点から、料金その他の提供条件、期間、サポート内容は変更後の本規約等によるものとし、本サービスに関する一切の事項は変更後の本規約に従うものとします。<br>
    <br>
    <br>
    <b>第13条　準拠法および管轄裁判所</b><br>
    本規約の解釈・適用は日本国の法律に準拠するものとします。<br>
    <br>
    本サービスに関するすべての紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。<br>
    <br>
    <br>
    <b>第14条　規約の翻訳文の提示</b><br>
    当社は、本規約を日本語以外の言語に翻訳して提示することがあります。<br>
    <br>
    日本語以外の言語によって記述されたサポート規約と、日本語によって記述された本規約に齟齬が生じた場合は、日本語によって記述された本規約の記述を有効なものとして優先するものとします。<br>
    <br>
    2013年9月12日<br>
    アシアル株式会社
    </p>


  </div>
</section>

<script src="/js/jquery.smoothScroll.js"></script>


<script src="/js/moment.js"></script>
<script src="/js/jquery.min.js"></script>
<script>

$(window).load(function() {
	var fadeInSpeed = 400;
	$('div.terms-of-service span#github-published_at').hide();
	$.ajax({
		url: 'https://api.github.com/repos/monaca/Localkit/releases',
		dataType: 'jsonp',
		success: function(res) {
			$("div.terms-of-service span#github-published_at").append($('<a href="https://github.com/monaca/Localkit/releases">Version <strong></strong></a> / <span id="published_Date"></span>'));
			$('div.terms-of-service span#github-published_at a strong').text(res.data[0].name);
			var dateJa = moment(res.data[0].published_at).format('YYYY年M月D日');
			$('div.terms-of-service span#github-published_at span').text(dateJa);
			$('div.terms-of-service span#github-published_at').fadeIn(fadeInSpeed);
		},
		error: function() {
			$('div.terms-of-service span#github-published_at').hide();
		}
	});
});
</script>


