---
title: ログイン | MonacaでHTML5モバイルアプリ開発
class: login
description: さっそくMonacaを使ってみよう! - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
show_subnav: true
---
<div id="loginpage">
  <header id="header-simple">
    <div class="container">
      <h1 class="logo"><a href="/">Monaca</a></h1>
    </div>
  </header>

  <section id="login">
    <div class="container">
      <h2>ログイン</h2>
        <div style="width: 100%; text-align: center;">
        <div id="signup-github" class="btn-github">
          <div class="github-img"></div>
          <div class="vertical-line"></div>
          <div class="signup-label">Sign Up With GitHub</div>
        </div>
        <div class="or-box">
          <hr class="line-l" />
          or
          <hr class="line-r" />
        </div>
      </div>
      <form class="login-form">
        <p class="form-error" id="login-form-error"></p>
        <p class="form-error" id="login-form-unknown-error">エラーが発生しました。ページをリロードしてやり直して下さい。</p>

        <ul>
          <li class="email">
            <input type="text" name="form[email]" maxlength="255" placeholder="メールアドレス" class="email" id="form_email" />
          </li>
          <li>
            <input type="password" name="form[password]" maxlength="30" placeholder="パスワード" class="password" id="form_password" />
          </li>
          <li class="checkbox">
            <input type="checkbox" name="form[remember_id]" value="1" id="form_remember_email" checked="checked" />
            <label for="form_remember_email">次回から自動的にログイン</label>
          </li>
          <li>
            <button id="form-login-btn" type="button" class="btn-blue">ログイン</button>
          </li>
        </ul>
      </form>

      <div class="bottom">
        <a href="/login/lost_password.html">パスワードをお忘れですか？</a>
      </div>
    </div>
  </section>
  <footer id="footer-simple">
    <div class="container">
      <p class="copyright">Copyright &copy; 2017 <a rel="nofollow" target="_blank" href="http://www.asial.co.jp/">Asial Corporation</a>. All rights reserved.</p>
    </div>
  </footer>
</div>