---
title: ログイン | MonacaでHTML5モバイルアプリ開発
class: login
description: さっそくMonacaを使ってみよう! - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---
<div id="signuppopup">

  <div id="signup-ok" class="signuppopup-container">
    <h3>アカウント作成</h3>

    <a id="close_signupbackpopup" class="close"><img src="/img/login/close-dark.png"></a>
    <form class="signup-form" method="post" action="/ja/register/start/is_popup/1" id="TryNowForm">
      <ul>
        <li class="error" style="padding-top: 0;"></li>
        <li class="email">
          <input type="text" name="register[email]" class="email" placeholder="メールアドレス" id="register_email" /></li>
        <li>
          <input type="password" name="register[password]" class="password" placeholder="パスワード" id="register_password" /></li>
        <li class="" style="font-size: 14px;">
          <label for="agree_policy">
          <a href="/ja/page/license" target="_blank">Monacaの利用規約</a>に同意の上、アカウントの作成をお願いします。</label>
        </li>
        <li>
          <button id="create_account" type="submit">今すぐ試す</button>
          <span class="loading"></span>
        </li>
      </ul>
      <input type="hidden" name="register[_csrf_token]" value="" id="register__csrf_token">
      <script>
        var csrf_token = "2fc292d3a4d63007acb3601b5b8da564";
        document.getElementById("register__csrf_token").value = csrf_token;
      </script>
    </form>
  </div>

  <!--<div class="signuppopup-container" id="signup-ng">
    <a href="http://www.google.com/chrome/" id="link-chrome" class="link" target="_blank">Google Chrome</a>
    <a href="http://www.apple.com/safari/" id="link-safari" class="link" target="_blank">Safari</a>
    <p>
      お使いのブラウザはMonacaの開発環境に対応していません。Google ChromeもしくはSafariブラウザをご利用ください。</p>
    <a class="license" href="/ja/register/start">会員登録は行っていただけます。</a>
  </div>-->
</div>


<header id="header-simple">
  <div class="container">
    <h1 class="logo"><a href="http://monaca.mobi/ja/">Monaca</a></h1>
  </div>
  <div class="right-block">
    <a href="#signuppopup" class="show_signuppopup bold new-account hidden-break">アカウント作成</a>
    <a href="/register/start.html" class="new-account visible-break">アカウント作成</a>
  </div>
</header>

<section id="login">
  <div class="container">
    <h2>ログイン</h2>
      <div style="width: 100%; text-align: center;">
      <div onClick="location.href='/ja/oauth/github/14574138630650'" id="signup-github" class="btn-github">
        <div class="github-img"></div>
        <div class="vertical-line"></div>
        <div class="signup-label">Sign Up With GitHub</div>
      </div>
      <div class="or-box">
        <hr class="line-l" />
        or
        <hr class="line-r" />
      </div>
    </div>
    <form class="login-form" method="post" action="/ja/login" onsubmit="$('#execute_login').prop('disabled', true);">
      <ul>
        <li class="email">
          <input type="text" name="form[email]" maxlength="255" placeholder="メールアドレス" class="email" id="form_email" />
        </li>
        <li>
          <input type="password" name="form[password]" maxlength="30" placeholder="パスワード" class="password" id="form_password" />
        </li>
        <li class="checkbox">
          <input type="checkbox" name="form[remember_id]" value="1" id="remember_email" checked="checked" />
          <label for="remember_email">次回から自動的にログイン</label>
        </li>
        <li>
          <button id="execute_login" type="submit" class="btn-blue">ログイン</button>
        </li>
      </ul>
      <input type="hidden" name="form[_csrf_token]" value="ff5c9f539c5da9eebf1f1343006cc5a8" id="form__csrf_token" />
    </form>

    <div class="bottom">
      <a href="/ja/lost/password">パスワードをお忘れですか？</a>
    </div>
  </div>
</section>
<footer id="footer-simple">
  <div class="container">
    <p class="copyright">Copyright © 2016<a rel="nofollow" target="_blank" href="http://www.asial.co.jp/">Asial Corporation</a>. All rights reserved.</p>
  </div>
</footer>
<div id="modal-overlay"></div>