---
title: Monaca - HTML5モバイルアプリ開発プラットフォーム
class: login
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
viewport: width=1024px
show_ja_globalnav: true
---

<section id="lostpassword" class="subpage subpage-560 sent-pass">
  <div class="container">
    <h1>パスワードを忘れた場合</h1>
    <p>メールが送信されました。記載された手順に従ってパスワードを再設定してください。</p>
  </div>
</section>
