---
title: Monaca - Hybrid mobile development cloud for cross-platform app
class: login
description: Cloud powered HTML5 hybrid app development environment. Code and build iOS/Android/Windows apps cross-platform.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
---

<section id="lostpassword" class="subpage subpage-560 sent-pass">
  <div class="container">
    <h1>Forgot password?</h1>
    <p>E-mail has been sent to your account.</p>
  </div>
</section>
