---
title: Monaca - HTML5モバイルアプリ開発プラットフォーム
class: login
description: クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---

<section id="lostpassword" class="subpage subpage-560">
  <div class="container">
    <h1>パスワードを忘れた場合</h1>
    <p>アカウント登録時に設定したメールアドレスを入力してください。<br />
      メールが届きますので、記載されている手順に従ってパスワードを再設定してください。</p>
    <p class="form-error" id="lost-password-error"></p>
    <p class="form-error" id="lost-password-unknown-error">エラーが発生しました。ページをリロードしてやり直して下さい。</p>

    <form>
      <table class="lostpassword-table">
        <tr>
          <th><label for="email">メールアドレス<span class="required">*</span></label></th>
          <td><input type="email" name="form[email]" id="lost-password-email" maxlength="255" /></td>
        </tr>
        <tr>
          <th></th>
          <td class="button-td"><button id="lost-password-btn" class="btn-black" type="button">送信</button></td>
        </tr>
      </table>
    </form>
  </div>
</section>