---
title: Monaca Development Support
class: devops
description: Monaca Enterprise is a mobile app development and management framework that provides full featured services for secure and efficient mobile app development and management. Equipped with Cordova, an industry-standard HTML5 hybrid app OSS (Open Source Framework), it enables you to develop multiplatform mobile apps by using web technology standards.
show_ja_globalnav: true
---

<div class="keyvisual box-full"><div>
    <h1 class="text-center tablet-up">DevOps</h1>
    <h1 class="text-center phone-only">Monaca DevOps</h1>
</div></div>

<section id="features">
    <p class="text-center">
        DevOpsが始まった背景が入ります。DevOpsが始まった背景が入ります。<br>
        DevOpsが始まった背景が入ります。DevOpsが始まった背景が入ります。<br>
        DevOpsが始まった背景が入ります。DevOpsが始まった背景が入ります。
    </p>

    <div class="row">
        <div class="col-md-4 feature">
            <img src="/img/devops/automation@2x.png" alt="" class="tablet-only">
            <img src="/img/devops/automation.png" alt="" class="otherwise">
            <h2 class="feature-title">開発・リリース<br/>サイクルの高速化</h2>
            <p class="feature-desc">□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■</p>
        </div>
        <div class="col-md-4 feature">
            <img src="/img/devops/automation@2x.png" alt="" class="tablet-only">
            <img src="/img/devops/automation.png" alt="" class="otherwise">
            <h2 class="feature-title">手動タスクの <br/>自動化</h2>
            <p class="feature-desc">□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■</p>
        </div>
        <div class="col-md-4 feature">
            <img src="/img/devops/automation@2x.png" alt="" class="tablet-only">
            <img src="/img/devops/automation.png" alt="" class="otherwise">
            <h2 class="feature-title">フルカスタマイズ</h2>
            <p class="feature-desc">□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■</p>
        </div>
    </div>
</section>

<section id="pipeline" class="clearfix">
    <h1>CI / CD パイプライン構築支援</h1>
    <img src="/img/no_img.png" alt="" />
    <div>
        □□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■
    </div>
</section>

<section id="in-house-support" class="clearfix">
    <h1>システム開発の内製化支援</h1>
    <img src="/img/no_img.png" alt="" />
    <div>
        □□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■
    </div>
</section>

<div id="case-study-wrapper">
    <section id="case-study">
        <h1>導入事例</h1>
        <img src="/img/no_img.png" alt="">
        <div>
            <h4 class="subtitle">株式会社日立 様</h4>
            <!-- TODO dynamic ellipsis -->
            <p>□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■...</p>
            <a href="#">詳しくを見る</a>
        </div>
    </section>
</div>

<section id="pricing">
    <h1>ご利用料金</h1>
    <div class="row options">
        <div class="col-md-2 hidden-xs hidden-sm">
            <div class="legend">
                <div class="cost">費用</div>
                <div class="content">内容</div>
                <div class="examples">費用例</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="option">
                <h4 class="option-title">CI/CDパイプライン構築支援</h4>
                <div class="cost">
                    <div class="visible-xs visible-sm legend">費用</div>
                    基本料金(□□□□□円)〜<br>
                    ＋<br>
                    □□□□□円/利用者/月〜
                </div>
                <div class="content">
                    <div class="visible-xs visible-sm legend">内容</div>
                    □□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■
                </div>
                <div class="examples">
                    <div class="visible-xs visible-sm legend">費用例</div>
                    <div>
                        <div class="example">
                            □□□□□□□□□□<br>
                            （□□□□□□□）<br><br>
                            初期: □□□□□円<br>
                            月額: □□□□□円
                        </div>
                        <div class="divider"></div>
                        <div class="example">
                            □□□□□□□□□□<br>
                            （□□□□□□□）<br><br>
                            初期: □□□□□円<br>
                            月額: □□□□□円
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="option">
                <h4 class="option-title">内製化支援</h4>
                <div class="cost">
                    <div class="visible-xs visible-sm legend">費用</div>
                    基本料金(□□□□□円)〜<br>
                    ＋<br>
                    □□□□□円/利用者/月〜
                </div>
                <div class="content">
                    <div class="visible-xs visible-sm legend">内容</div>
                    □□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■□□□□□□□□□■
                </div>
                <div class="examples">
                    <div class="visible-xs visible-sm legend">費用例</div>
                    <div>
                        <div class="example">
                            □□□□□□□□□□<br>
                            （□□□□□□□）<br><br>
                            初期: □□□□□円<br>
                            月額: □□□□□円
                        </div>
                        <div class="divider"></div>
                        <div class="example">
                            □□□□□□□□□□<br>
                            （□□□□□□□）<br><br>
                            初期: □□□□□円<br>
                            月額: □□□□□円
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
