---
title: Monaca DevOps
class: devops
description: Monaca DevOpsは、ビルド、テストなどのタスク管理と、リリースプロセスの標準化を実現する、エンタープライズグレードのソリューションです。モダンな開発プロセスを従来の開発プロジェクトに導入し、効果的なマネジメントを推進します。
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---

<div class="keyvisual box-full">
  <div class="keyvisual desc-wrapper">
    <div class="text-center-sub">モダン開発プロセスを推進する</div>
    <h1 class="text-center">Monaca DevOps</h1>
  </div>
</div>

<section id="overview">
    <p class="main-desc">
        Monaca DevOpsは、ビルド、テストなどのタスク管理と、リリースプロセスの標準化を実現する、エンタープライズグレードのソリューションです。モダンな開発プロセスを従来の開発プロジェクトに導入し、効果的なマネジメントを推進します。
    </p>
</section>

<section id="features">
    <div class="row">
        <div class="col-md-4 feature">
            <img src="/img/devops/visual_01.svg" alt="開発サイクルの高速化">
            <h2 class="feature-title">開発サイクルの<br />高速化</h2>
            <p class="feature-desc">Monaca DevOpsは開発工程をモニターします。コードの変更にあわせて、ビルド、テスト、リリース準備などのタスクを自動化。ソフトウェアの品質を確保し、業務プロセスを標準化します。</p>
        </div>
        <div class="col-md-4 feature">
            <img src="/img/devops/visual_02.svg" alt="開発状況の可視化">
            <h2 class="feature-title">開発状況の可視化</h2>
            <p class="feature-desc">開発者やチームの進捗を自動的に収集。プロジェクトの遅延を予防するとともに、ソフトウェア品質の向上にも貢献します。</p>
        </div>
        <div class="col-md-4 feature">
            <img src="/img/devops/visual_03.svg" alt="フルカスタマイズ">
            <h2 class="feature-title">フルカスタマイズ</h2>
            <p class="feature-desc">GitHubやJira、AWSなど、組織の標準ツールと自由に組み合わせることが可能。ご要望に応じてOEM提供も可能です。</p>
        </div>
    </div>
</section>

<section id="pipeline" class="clearfix">
    <h1>CI / CD パイプライン構築支援</h1>
    <img src="/img/devops/visual_04.svg" alt="CI / CD パイプライン構築支援" />
    <div>
        開発、テスト、デプロイの自動化を実現するためのパイプライン構築を支援します。
        <br><br>
        自動化によりソフトウェアの更新を素早く検証し、バグの早期発見が可能となります。
        また、リリースにかかる時間も大幅に短縮することができます。
    </div>
</section>

<section id="in-house-support" class="clearfix">
    <h1>システム開発の内製化支援</h1>
    <img src="/img/devops/visual_05.svg" alt="" />
    <div>
        システムの継続的な改善および運用をお客様の社内で行えるよう開発プロセスを自動するだけなく、
        技術的なトレーニングやプロダクトの価値を最大化するためのアジャイル開発の導入を支援します。
        <br><br>
        また、ご要望に応じてMonaca DevOpsプラットフォームのオンプレミス提供やOEM提供も行っています。
    </div>
</section>

{{!-- <div id="case-study-wrapper">
    <section id="case-study">
        <h1>導入事例</h1>
        <img src="/img/devops/dummy_works_hitachi.jpg" alt="">
        <div>
            <h4 class="subtitle">株式会社日立製作所 様</h4>
            <p>
                従来の手作業をベースとした COBOL のマイグレーションに、Monaca DevOps を適用し、開発の一連の流れを自動化しました。
                また、Monaca DevOps のOEM提供をもとに、DXの課題となるレガシーシステムの刷新に対応した「マイ	グレーション開発環境構築支援サービス」を開始しました。
            </p>
            <a href="#">詳しくを見る</a>
        </div>
    </section>
</div> --}}

<section id="pricing">
    <h1>ご利用料金</h1>
    <div class="row options">
        <div class="col-md-2 hidden-xs hidden-sm">
            <div class="legend">
                <div class="cost">費用</div>
                <div class="content">内容</div>
            </div>
        </div>
        <div class="col-md-4" id="ci-plan">
            <div class="option">
                <h4 class="option-title">CI/CDパイプライン構築支援</h4>
                <div class="cost">
                    <div class="visible-xs visible-sm legend">費用</div>
                    基本料金(50,000円)〜<br>
                    ＋<br>
                    20,000円/1時間 〜
                </div>
                <div class="content">
                    <div class="visible-xs visible-sm legend">内容</div>
                    <ul>
                      <li>・CI/CDの設計および導入支援</li>
                      <li>・サーバーのDocker化の支援</li>
                      <li>・ビルド/テストの自動化スクリプトの開発支援</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="support-plan">
            <div class="option">
                <h4 class="option-title">内製化支援</h4>
                <div class="cost">
                    <div class="visible-xs visible-sm legend">費用</div>
                    基本料金(100,000円)〜<br>
                    ＋<br>
                    30,000円/1時間 〜
                </div>
                <div class="content">
                    <div class="visible-xs visible-sm legend">内容</div>
                    <ul>
                      <li>・開発言語やフレームワークのトレーニング</li>
                      <li>・DevOpsを用いた開発環境の構築支援</li>
                      <li>・スクラム手法での開発プロセス支援</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
