---
title: Monaca Development Support
class: devops
description: Monaca Enterprise is a mobile app development and management framework that provides full featured services for secure and efficient mobile app development and management. Equipped with Cordova, an industry-standard HTML5 hybrid app OSS (Open Source Framework), it enables you to develop multiplatform mobile apps by using web technology standards.
stylesheets:
    - /css/bootstrap.min.css
    - /css/all.css
    - https://use.typekit.net/tky7gag.css
    - https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css
show_ja_globalnav: true
---

<div class="keyvisual box-full"><div>
    <h1 class="small"><img src="/img/devsupport/logo.png" alt="Monaca Service & Support"/><br/>Monaca<br class="visible-xs" />テクニカルサポート</h1>
</div></div>

<section>
    <p>DevOps</p>

    <h1>Awaiting design</h1>
    <p>...</p>
    <img src="/img/devsupport/img_1.jpg" alt=""/>
</section>
